button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}::-moz-placeholder { color:#C9C9C9; }
::-webkit-input-placeholder { color:#C9C9C9; }
:-ms-input-placeholder { color:#C9C9C9; }


html,body{height:100%}
body{background:url(../images/login-bg.jpg) no-repeat 50% 50%;background-size: cover;}
input,button{outline: 0}
.login-wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	/*background: url(../images/right-1.png) no-repeat right 0;*/
	width: 910px;
	/*height: 480px;*/
	margin: -300px 0 0 -455px;
	overflow: hidden;
}
.login-box{
	width: 324px;
	height: auto;
	padding: 32px 34px 26px;
	overflow: hidden;
	background-color: #dde9ee;
	background: rgba(255,255,255,0.8);
	border-radius: 12px;
	margin: 130px auto 0;
}
.copyright{
	position: absolute;
	width: 100%;
	bottom: 10px;
	left: 0;
	text-align: center;
	color: #fff;
	font-size: 12px;
}
.logo img{
	display: block;
	margin: 0 auto;
}
.form{
	margin-top: 32px;
	border: 1px solid #cbcbcb;
	box-shadow: rgba(203,203,203,0.8) 0 0 5px inset;
	background: #e6e6e6;
	border-radius: 5px;
}
.form .item{
	height: 47px;
	position: relative;
}
.form .item1{
	border-bottom: 1px solid #cbcbcb;
}
.form .item3{
	border-top: 1px solid #cbcbcb;
}
.form .item input{
	display: block;
	width: 260px;
	height: 100%;
	border: 0;
	background-color: transparent;
	margin-left: 50px;
	font-size: 14px;
	line-height: 46px;
	height: 46px \9;
}
.form .item input.vcode{
	float: left;
	width: 152px!important;
}
.form .item em.check{
	float: left;
	width: 15px;
	height: 15px;
	overflow: hidden;
	background: url(../images/icon-fcheck.png) no-repeat 0 100px;
	margin: 16px 10px;
}
.form .item em.check.r{
	background-position: 0 0;
}
.form .item em.check.w{
	background-position: 0 -15px;
}
.form .item img.code{
	float: left;
	margin-top: 11px;
}
.form .item i{
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	background: url(../images/login-icon.png) no-repeat 0 0;
	top: 8px;
	left: 12px;
}
.form .item i.icon-u{background-position: 0 0;}
.form .item i.icon-pwd{background-position: 0 -30px;}
.form .item i.icon-ver{background-position: 0 -60px;}
.btn{
	padding-top: 20px;
}
.btn button{
	display: block;
	width: 100%;
	height: 50px;
	background-color: #3fb7d2;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	border: 0;
}
.btn button:hover{
	background-color: #1D6A7C;
}
input:-webkit-autofill {    
	-webkit-box-shadow: 0 0 0 1000px #e6e6e6 inset;
    width: 235px !important;
    height: 45px !important;
}
#verificationFrom .verification-code {
	margin-top: 20px;
	position: relative;
	width: 324px;
	height: 49px;
	border-radius: 5px;
	border: 1px solid #cbcbcb;
	background-color: rgba(230, 230, 230, 1);
}
#verificationFrom .verification-code i{
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	background: url(../images/login-icon.png) no-repeat 0 0;
	top: 8px;
	left: 12px;
	background-position: 0 -60px;
}
#verificationFrom .verification-code .code{
	display: block;
	width: 260px;
	height: 100%;
	border: 0;
	background-color: transparent;
	margin-left: 50px;
	font-size: 14px;
	line-height: 46px;
}
#verificationFrom  .message{
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	color: #666666;
	margin-bottom: 0;
}
.btn .buttom-list{
	display: block;
	width: 100%;
	height: 50px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	border: 0;
	display: none;
}
.btn .verification{
	background: #3fb7d2;
}
.btn .verification:hover{
	background: #256a7a;
}
.btn .cancle {
	background: #999999;
	margin-top: 10px;
}
.btn .cancle:hover{
	background: #595959;
}

#div_sms button{
	width: 60px;
	padding-top:0px;
	font-size: 14px;
    height: 35px;
}
#div_sms button.disabled{
	background-color: #a2a2a2;
	cursor: auto;
}
/*yt 2018 11 17*/
.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1)
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease
}

.progress-striped .progress-bar,.progress-bar-striped {
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px
}

.progress.active .progress-bar,.progress-bar.active {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite
}

.progress-bar-success {
	background-color: #5cb85c
}

.progress-striped .progress-bar-success {
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.progress-bar-info {
	background-color: #5bc0de
}

.progress-striped .progress-bar-info {
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.progress-bar-warning {
	background-color: #f0ad4e
}

.progress-striped .progress-bar-warning {
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.progress-bar-danger {
	background-color: #d9534f
}

.progress-striped .progress-bar-danger {
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}