		.mmGrid table{width: auto;}
		.report-wrap{
			margin: 0 auto;
			width: 1000px;
		}
		.report-wrap .report-head{
			height: 83px;
			display: table;
			position: relative;
			z-index: 2;
			top: 19px;
		}
		.report-head .icon{
			display: block;
			width: 83px;
			height: 83px;
			background: url(../images/icon_paln_head.png);
			float: left;
		}
		.report-head .title{
			font-size: 26px;
			line-height: 31px;
			color: #333333;
			margin-left: 5px;
			display: table-cell;
			vertical-align: middle;
		}
		.report-wrap .report-content{
			width: 1000px;
			height: auto;
			background-color: rgba(251, 251, 251, 1);
			box-shadow: 1.4px 1.4px 10px 0px 
			rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			/*position: absolute;*/
			top: 76px;
			z-index: 1
		}
		.report-content .circle-list{
			height: 20px;
			padding: 17px 0 21px 0;
		}
		.circle-list .circle-item{
			display:inline-block;
			width: 20px;
			height: 20px;
			background: url(../images/icon_plan_circle.png);
			background-size: contain;
			margin-left: 54px;
		}
		.report-content .report-tap{
			height: 116px;
			width: 100%;
			font-size: 0;
		}
		.report-tap .tap-item{
			width: 302px;
			height: 116px;
			display: inline-block;
			font-size: 0;
			vertical-align: middle;
		}
		.create-time{
			background: url(../images/icon_plan_createtime.png);
			background-size: contain;
			margin-left: 37px;
		}
		.valid-data{
			background: url(../images/icon_paln_validdata.png);
			background-size: contain;
			margin-left: 12px;
		}
		.suggest{
			background: url(../images/icon_plan_suggest.png);
			background-size: contain;
			margin-left: 11px;
		}
		.tap-item .item-title{
			height: 25px;
			font-size: 12px;
			line-height: 28px;
			color: #f7f7f7;
			margin-left: 13px;
			vertical-align: baseline;
		}
		.item-content{
			width: 100%;
			height: 82px;
		}
		.item-content .item-message{
			font-size: 22px;
			color: #F7F7F7;
			line-height: 82px;
			text-align: center;
		}
		#message-suggest{
			width: 302px;
			max-height: 73px;
		/*	line-height: 12px;
			font-size: 12px;
		*/	text-align: center;
			word-wrap:break-word;
			word-break:break-all;
			overflow: hidden;
			text-overflow: ellipsis;
			/*white-space: normal;*/
		}
		.report-abstract{
			margin-top: 16px;
			position: relative;
			min-height: 72px;
			padding-bottom: 16px;
		}
		.report-abstract .left-abstract{
			margin-left: 42px;
			margin-right: 17px;
			display: inline-block;
			font-size: 0;
			position: absolute;
			top: 0;
		}
		.report-abstract .left-abstract .title{
			font-size: 42px;
			line-height: 42px;
			color: #4d4d4d;
		}
		.report-abstract .left-abstract .subheading{
			font-size: 21px;
			line-height: 31px;
			color: #3fb7d2;
		}
		.report-abstract .right-abstract{
			display: inline-block;
			font-size: 0;
			margin-left: 160px;
		}
		.abstract-list .list-item{
			height: 28px;
		}
		.list-item:after{
			display: block;
			content: '';
			height: 22px;
			width: 1px;
			background: #c1c1c1;
			margin-left: 3px;
			margin-top: -7px;
		}
		.list-item:last-child:after{
			display: none;
			content: '';
			height: 17px;
			width: 1px;
			background: #c1c1c1;
			margin-left: 3px;
			margin-top: -7px;
		}
		.list-item .icon-circle{
			display: inline-block;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background-color: #c1c1c1;
			box-shadow: 2px 2px 2px #E6E6E6;
		}
		.list-item .item-message{
			display: inline-block;
			margin-left: 11px;
			font-size: 13px;
			line-height: 28px;
			color: #808080;
		}
		.chart-list{
			/*margin-top: 26px;*/
		}
		.chart-list .list-item{
			height: 290px;
			background-color: rgba(245, 245, 245, 1);
		}
		.chart-list .list-item .item-title{
			width: 100%;
			overflow: hidden;
		}
		.chart-list .list-item .item-title h3{
			float: left;
		    font-size: 16px;
		    font-weight: bold;
		    color: #333;
		    line-height: 31px;
		    margin-left: 33px;
		    
		}
		.chart-list .list-item .item-title h3:before{
			content: '';
		    display: inline-block;
		    width: 3px;
		    height: 18px;
		    background-color: #3fb7d2;
		    margin-right: 6px;
		    vertical-align: middle;
		}
		.reprot-total .total-title{
			width: 100%;
    		overflow: hidden;
		}
		.reprot-total .total-title h3{
		    float: left;
		    font-size: 16px;
		    font-weight: bold;
		    color: #333;
		    line-height: 31px;
		    margin-left: 33px;
		}
		.reprot-total .total-title h3:before{
		    content: '';
		    display: inline-block;
		    width: 3px;
		    height: 18px;
		    background-color: #3fb7d2;
		    margin-right: 6px;
		    vertical-align: middle;
		}
		.reprot-total .total-list{
			
		}
		.report-nav{
			position: fixed;
			left: 1460px;
			top: 264px;
			width: 52px;
			height: 235px;
			background-color: rgba(255, 255, 255, 1);
			box-shadow: -1.4px -1.4px 10px 0px rgba(0, 0, 0, 0.2);
			border-radius: 0px 5px 5px 0px;
			border: solid 1px rgba(227, 227, 227, 1);
			z-index: 0;
		}
		.report-nav .catalogue{
			width: 52px;
			height: 60px;
			color: #F5F5F5;
			background-color: rgba(63, 183, 210, 1);
		}
		.catalogue .icon-wrap{
			padding: 12px 13px 0 13px;
		}
		.catalogue .icon-wrap p{
			font-size: 13px;
			margin-top: 6px;
		}
		.report-nav .catalogue{
			text-align: center;
		}
		.report-nav .catalogue i{
			display: block;
			width: 24px;
			height: 24px;
			background: url(../images/icon_report_cetalogue.png) no-repeat;
		}
		.report-nav .nav-item{
			display: block;
			text-align: center;
			height: 46px;
			width: 100%;
			font-size: 13px;
			line-height: 47px;
		}
		/*.report-nav .nav-item:hover{*/

			/*background-color: #d2d2d2;*/
			/*border-radius: 5px 5px 5px 5px;*/
			/*background-size: 36px 36px;*/
		/*}*/
		.report-nav .nav-item:before{
			content: '';
			display: block;
			width: 43px;
			height: 1px;
			background-color: rgba(210, 210, 210, 1);
			margin-left: 5px;
		}
		.report-nav .download i{
			display: block;
			width: 11px;
			height: 16px;
			background: url(../images/icon_report_download.png);
			margin: 9px 20px 13px 20px;
		}
		.hover-item{
			 font-size: 13px;
			 line-height: 36px;
			border-radius: 5px 5px 5px 5px;
			margin: 5px 8px 5px 8px;
		}
		.nav-item:hover>.hover-item{
			background-color: rgba(210, 210, 210, 1);
		}


/**/
.total-list {
	padding: 0 10px;
}
.total-list table{
	width: 100%;
	font-size: 14px;
	line-height: 1.6;
}
.total-list table thead{
	background-color: #f3f3f3;
}
.total-list table th,.total-list table td{
	border-color: #EEE;
}
.total-list table thead th{
	text-align: left;
}
.total-list table td.last,.total-list table th.last{
	padding: 0;
	text-align: center;
}
.total-list table a.view{
	display: block;
	width: 100%;
	height: 43px;
    overflow: hidden;
    background:#3fb7d2 url(../images/icon-tab-search-result.png) no-repeat 50% 50%;
    transition: opacity 0.4s;
}
.total-list table a.view:hover{
	opacity: 0.5;
}
.reprot-total .tab-i {
    padding: 10px;
    font-size: 12px;
    color: #999;
    line-height: 20px;
    overflow: hidden;
}

.reprot-total .tab-i .il {
    float: left;
}

.reprot-total .tab-i .ipage {
    float: right;
}

.reprot-total .tab-i .ipage a.nav,
.reprot-total .tab-i .ipage a.nav2 {
    display: inline-block;
    width: auto;
    line-height: 18px;
    padding: 0 7px;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    margin-left: 4px;
    vertical-align: top;
}

.reprot-total .tab-i .ipage a.nav2 {
    padding: 0 6px;
}

.reprot-total .tab-i .ipage a.nav i,
.reprot-total .tab-i .ipage a.nav2 i {
    display: inline-block;
    width: 5px;
    height: 9px;
    overflow: hidden;
    background: url(../images/page-nav.png) no-repeat 0 0;
}

.reprot-total .tab-i .ipage a.nav2 i {
    width: 8px;
    background-image: url(../images/page-nav2.png);
}

.reprot-total .tab-i .ipage a.prev i {
    background-position: 0 0;
}

.reprot-total .tab-i .ipage a.next i {
    background-position: -5px 0;
}

.reprot-total .tab-i .ipage a.begin i {
    background-position: 0 0;
}

.reprot-total .tab-i .ipage a.end i {
    background-position: -8px 0;
}

.reprot-total .tab-i .ipage a.nav:hover,
.reprot-total .tab-i .ipage a.nav2:hover {
    background-color: #f2f2f2;
}

.reprot-total .tab-i .ipage input {
    display: inline-block;
    width: 2em;
    height: 16px;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 4px;
    text-align: center;
    vertical-align: top;
    line-height: 16px;
}
.clearfix{
	clear: both;
}
