<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>
	<link rel="stylesheet" href="/manage/css/new-head.css">
</head>
<body style="overflow:hidden;" class="bg-white">
		<!---->
		<div class="c-top">
			<div class="c-title">
				<!--
				<h3 onclick="parent.reload();">账号</h3>
				-->
				<div class="manual-head" style="width:100px;float:left;">
					<div class="manual-title">
						<span id="account_reload" style="cursor: pointer;">账号</span>
						<i class="account_icon"></i>
					</div>
				</div>
				<div class="ctr">
					<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
				</div>
			</div>
		</div>
		<div class="mainer">
			
			<div class="container1">
				<div class="c-cont">
					<div class="c-wrap">
						<div class="c-table r-list">
							<div class="tab-t">
								<div class="ctr" style="width:288px;">
								{%if _power_mode ==2 %}
									<a href="javascript:;" class="btn btn-default" onclick="create_account()">创建</a>
									<a href="javascript:;" class="btn btn-default" onclick="delete_all()">删除</a>
									<a href="javascript:;" class="btn btn-default" onclick="select_all()">全选</a>
								{%endif%}
									<a href="javascript:;" class="btn btn-default" onclick="refresh()">刷新</a>
								</div>
									
								<div class="filter">
									<div class="search">
										<select name="" id="filtername" class="filter-select">
											<option value="0">所有</option>
											<option value="1">账号</option>
											<option value="2">主机域名</option>
										</select>

										<input type="text" class="filter-text" id="keyword" placeholder="输入关键字" style="padding: 0 22px 0 4px;" onkeydown="if($('#keyword').val()==''){$('#account_text_check').hide();}else{$('#account_text_check').show();};if (event.keyCode == 13){_addFilter(this,false);return false;} else return;" onchange="if($('#keyword').val()==''){$('#account_text_check').hide();}else{$('#account_text_check').show();}"onkeyup="if($('#keyword').val()==''){$('#account_text_check').hide();}else{$('#account_text_check').show();}" onblur="change_input(this);">
										
										<i class="v-check v-wrong" id="account_text_check" onclick="_clear_keyword(this)" style="display:none;cursor: pointer;float: left;position: static;"></i>
										<button class="btn filter-btn" onclick="_addFilter(this,false)"><i class="add-filter"></i></button>
										<button class="btn filter-btn" onclick="_addFilter(this,true)"><i class="append-filter"></i></button>
									</div>
									<div class="search" id="clearFilter" style="margin: 0px 15px 0px -16px;display:none;">
										<button class="filter-btn" onclick="_clearFilter(this)"><i class="clear-filter"></i></button>
									</div>
									<div class="selector selector-multiple" id="filterWW" style="display:none;">
										<span class="ww">搜索条件</span>
										<ul>
										</ul>
									</div>
								</div>
							
							</div>

							<table cellpadding="0" cellspacing="0" id="account_list">
								<thead>
									<tr>		
										<th width="50"><input type="checkbox" class="form-checkbox" id="check_page"/></th>
										<th>名称</th>
										<th>类型</th>
										{%if _power_mode==2 %}
										<th width="60"></th>
										{%else%}
										<th width="20"></th>
										{%endif%}
									</tr>
								</thead>

								<tbody>
									
								</tbody>
							</table>

							<div class="tab-i">
								<div class="il">
									每页显示<span id="page_total">10</span>条 总数：<span id = "account_total">25</span>  选中：<span id = "select_total">0</span>
									<!--
									每页显示
									<select name="" id="page">
										<option value="5">5</option>
										<option value="10">10</option>
										<option value="15">15</option>
									</select>
									条 总数：<span id = "account_total">25</span>  选中：<span id = "select_total">0</span>-->
								</div>

								<div class="ipage">
									<a href="javascript:;" class="nav2 begin" onclick="firstpage()"><i></i></a>
									<a href="javascript:;" class="nav prev" onclick="prevpage()"><i></i></a>
									<input type="text" value="1" id="curpage" onchange="jumppage()">/<span id = "totalpage">25</span>
									<a href="javascript:;" class="nav next" onclick="nextpage()"><i></i></a>
									<a href="javascript:;" class="nav2 end" onclick="lastpage()"><i></i></a>
								</div>
							</div>
						</div>
						
						<div class="clearfix"></div>
						<!--
						<div class="btns" id="bBtn" style="position: fixed;">
							<a href="javascript:;" class="btn" style="float: right;" onclick="list_cancel();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
							<a href="javascript:;" class="btn btn-cancel1 btn-normal" onclick="list_cancel()">返&nbsp;&nbsp;回</a>
						</div>
						-->
					</div>
				</div>
			</div>
			<div id="bBtn" style="position: fixed;">
				<a href="javascript:;" class="btn" style="float: right;" onclick="list_cancel();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
			</div>
		</div>
	<form action="/bhost/create_account" method="POST" name="frm_account" id="frm_account">
		<input type="hidden" name="a0" id = "a0" value="" />
		<input type="hidden" name="z1" id = "z1" value="" />
		<input type="hidden" name="z2" id = "z2" value="" />
		<input type="hidden" name="z3" id = "z3" value="" />
        <input type="hidden" name="z4" id = "z4" value="" />	
		<input type="hidden" name="z5" id = "z5" value="" />
		<input type="hidden" name="z6" id = "z6" value="" />
		<input type="hidden" name="z7" id = "z7" value="" />
		<input type="hidden" name="ha"  value="{{hash}}" />		
	</form>
</body>


<script>
$('.filter-select').select2({minimumResultsForSearch: -1});
$('.form-checkbox,.form-radio').iCheck({
	checkboxClass: 'icheckbox_minimal-blue',
	radioClass: 'iradio_minimal-blue',
	increaseArea: '0' 
});
</script>

<script>
var se;
var selectid={{selectid|safe}};
var num=0;
var curid=[];
var c_ipage="{{ipage}}";
var keyword_re = {{keyword|safe}};
var filter_flag = "{{filter_flag}}";
var keyword_v = "";
//全局
$(function(){
	$("#account_reload").on('click',function(){
		parent.reload();
	});
	$("#curpage").bind('keydown', function(e){
		DigitInput(e);
	});
	se = window.parent.document.frm.se.value;
	//绑定当前页
	if(c_ipage != "None"){
		$("#curpage").val(c_ipage);
	}
	//恢复搜索栏的状态
	if (keyword_re.length != 0){
		var key_len = keyword_re.length;
		var filter_value = 0;
		$.each(keyword_re,function(i,item){
			var filter = item.substring(0,2);
			//filter_flag=1:搜索条件+搜索输入框都可能有数据，（如果key_len==1即：搜索输入框
			//如果key_len!=1，最后一个数据是输入框数据，）否则只有搜索条件数据
			if (filter_flag == 1){
				if (key_len == 1){
					if (filter == "账号"){
						$("#filtername").val(1).trigger('change');
					}
					if (filter == "域名"){
						$("#filtername").val(2).trigger('change');
					}
					if (filter == "所有"){
						$("#filtername").val(0).trigger('change');
					}
					$("#keyword").val(item.substring(3));
					keyword_v = item;
					return false;
				}else{
					if (i+1 != key_len){
						if (item.substring(0,2) == "所有"){
							var filter_v = item.substring(3);
						}else{
							var filter_v = item;
						}
						$("#filterWW").show();
						$("#clearFilter").show();
						$("#filterWW ul").append("<li><span class=\"ww\" data-value=\""+item+"\">"+filter_v+"</span><i class=\"del\" onclick=\"_delFilter(this)\"></i></li>");
					}else{
						if (filter == "所有"){
							filter_value = 0
						}else if(filter == "账号"){
							filter_value = 1;
						}else{
							filter_value = 2;
						}
						$("#keyword").val(item.substring(3));
						keyword_v = item;
					}
				}
			}else{
				keyword_v = "";
				if (filter == "所有"){
					filter_value = 0;
					filter_v = item.substring(3);
				}else if (filter == "账号"){
					filter_value = 1;
					filter_v = item;
				}else{
					filter_value = 2;
					filter_v = item;
				}
				$("#filterWW").show();
				$("#clearFilter").show();
				$("#filterWW ul").append("<li><span class=\"ww\" data-value=\""+item+"\">"+filter_v+"</span><i class=\"del\" onclick=\"_delFilter(this)\"></i></li>");
			}
			if (i+1 == key_len){
				$("#filtername").val(filter_value).trigger('change');
			}
		});
		$("#keyword").focus();
	}else{
		$("#filterWW").hide();
		//$("#keyword").hide();
	}
	if ($("#keyword").val() != ""){
		$("#account_text_check").show();
	}else{
		$("#account_text_check").hide();
	}
	parent._switchBtn(1);//显示按钮

	get_account_list();

});

//全选
function select_all(){
	var num = 0;
	selectid=[];
	var select_total = $("#select_total").text();
	var account_total = $("#account_total").text();
	if (select_total == parseInt(account_total)-7){
		$("#account_list").find('input').iCheck('uncheck');
	}else{
		$.ajax({  
			url:'/bhost/get_account_list',
			type:"post",
			async:false,
			data:{a0:se,z5:"null",z6:"null",z7:JSON.stringify(keyword_re),dsc:true},
			success:function(result){
				var result = JSON.parse(result);
				$.each(result.data,function(i,item){
					if (item.AccountId > 7){
						selectid.push(item.AccountId);
					}
				});
			}
		});
		$("#account_list tbody input[type='checkbox']").each(function(){
			if (!$(this).prop("disabled")){
				$(this).iCheck('check');   
			}
		});
	}	
	num = selectid.length;
	$("#select_total").text(num);
}

//下一页
function nextpage(){
	var cpage = $("#curpage").val();
	var total = $("#totalpage").text().trim();
	var npage = 0;
	if (parseInt(total) == parseInt(cpage)){
		return false;
	}else{
		npage = parseInt(cpage)+1;
	}
	$("#curpage").val(npage);
	get_account_list();
}
//上一页
function prevpage(){
	var cpage = $("#curpage").val();
	var ppage = 0;
	if (parseInt(cpage) == 1){
		return;
	}else{
		ppage = parseInt(cpage)-1;
	}
	$("#curpage").val(ppage);
	get_account_list();
}
//首页
function firstpage(){
	$("#curpage").val(1);
	get_account_list();
}
//尾页
function lastpage(){
	var cpage = $("#curpage").val();
	var lpage = $("#totalpage").text();
	if (parseInt(cpage) == parseInt(lpage)){
		return;
	}
	$("#curpage").val(parseInt(lpage));
	get_account_list();
}
//跳页
function jumppage(){
	var cur = $("#curpage").val();
	var numReg = /\D/;
        if (numReg.test(cur)){
            $("#curpage").val(1);
        }
	if (parseInt(cur) < 1 || cur == ''){
		$("#curpage").val(1);
	}
	get_account_list();
}

//获取数据列表
var _power_mode = {{_power_mode}};
function get_account_list(){
	ipage = $("#curpage").val(); //页数
	var accounttype = "";
	var DName = "";
	curid=[];
	//获取数据列表
	$.ajax({  
	url:'/bhost/get_account_list',
			type:"post",
			async:false,
			data:{a0:se,z5:MAX_PAGE,z6:ipage,z7:JSON.stringify(keyword_re),dsc:true},
			success:function(result){
				account_list = JSON.parse(result);
				$("#account_list tbody").empty();
				$.each(account_list.data,function(i,item){ 
					if (item.AccountType == "0"){
						accounttype = "由用户输入账号";
					}else if (item.AccountType == "1"){
						accounttype = "非空账号";
					}else if (item.AccountType == "2"){
						accounttype = "空账号";
					}else{
						accounttype = "单点登录账号";
					}
					//添加表单内容，系统内置账号无法选中
					var append_str = "";
					if (item.AccountId > 0 && item.AccountId < 8){
						append_str += "<tr><td title=\""+item.Name+"\"><input class=\"form-checkbox\" type=\"checkbox\" name=\""+item.Name+"\" disabled value=\""+item.AccountId+"\"></td>"+"<td title=\""+item.AccountName+"\">"+item.AccountName+"</td><td title=\""+accounttype+"\">"+accounttype+"</td>"
						
						if (_power_mode == 2){
							append_str += "<td><div class=\"tab-ctr\"><a href=\"javascript:;\" class=\"edit\" title=\"编辑\" onclick=\"edit_account("+item.AccountId+")\"></a><a href=\"javascript:;\" title=\"删除\" class=\"del disabled\" id=\"del\" ></a></div></td></tr>";
						}else{
							append_str += "<td><div class=\"tab-ctr\"><a href=\"javascript:;\" class=\"search_result\" title=\"查看\" onclick=\"edit_account("+item.AccountId+")\"></a></div></td></tr>";
						}
						//$("#account_list tbody").append("<tr><td title=\""+item.Name+"\"><input class=\"form-checkbox\" type=\"checkbox\" name=\""+item.Name+"\" disabled value=\""+item.AccountId+"\"></td>"+"<td title=\""+item.AccountName+"\">"+item.AccountName+"</td><td title=\""+accounttype+"\">"+accounttype+"</td>"+"<td><div class=\"tab-ctr\"><a href=\"javascript:;\" class=\"edit\" title=\"编辑\" onclick=\"edit_account("+item.AccountId+")\"></a><a href=\"javascript:;\" title=\"删除\" class=\"del disabled\" id=\"del\" ></a></div></td></tr>");
					}else{
						curid.push(item.AccountId);
						append_str += "<tr><td title=\""+item.Name+"\"><input class=\"form-checkbox\" type=\"checkbox\" name=\""+item.Name+"\" value=\""+item.AccountId+"\"></td>"+"<td title=\""+item.AccountName+"\">"+item.AccountName+"</td><td title=\""+accounttype+"\">"+accounttype+"</td>";
						if (_power_mode == 2){
							append_str += "<td><div class=\"tab-ctr\"><a href=\"javascript:;\" class=\"edit\" title=\"编辑\" onclick=\"edit_account("+item.AccountId+")\"></a><a href=\"javascript:;\" title=\"删除\" class=\"del\" id=\"del\" onclick=\"delete_account("+item.AccountId+")\"></a></div></td></tr>";
						}else{
							append_str += "<td><div class=\"tab-ctr\"><a href=\"javascript:;\" class=\"search_result\" title=\"查看\" onclick=\"edit_account("+item.AccountId+")\"></a></div></td></tr>";
						}
						
						//$("#account_list tbody").append("<tr><td title=\""+item.Name+"\"><input class=\"form-checkbox\" type=\"checkbox\" name=\""+item.Name+"\" value=\""+item.AccountId+"\"></td>"+"<td title=\""+item.AccountName+"\">"+item.AccountName+"</td><td title=\""+accounttype+"\">"+accounttype+"</td>"+"<td><div class=\"tab-ctr\"><a href=\"javascript:;\" class=\"edit\" title=\"编辑\" onclick=\"edit_account("+item.AccountId+")\"></a><a href=\"javascript:;\" title=\"删除\" class=\"del\" id=\"del\" onclick=\"delete_account("+item.AccountId+")\"></a></div></td></tr>");
					}
					$("#account_list tbody").append(append_str);
					//对按钮进行渲染
					$('.form-checkbox,.form-radio').iCheck({
						checkboxClass: 'icheckbox_minimal-blue',
						radioClass: 'iradio_minimal-blue',
						increaseArea: '0' 
					});
				});
			}
	});
	//页码计算
    $("#account_total").text(account_list.totalrow);
	totalpage = Math.ceil(parseInt(account_list.totalrow)/MAX_PAGE);
	if (totalpage < 1){
		totalpage = 1;
	}
	$("#totalpage").text(' ' + totalpage.toString());
	$("#page_total").text(MAX_PAGE);
	//<tr>中选择按钮进行设置
	$('#check_page').iCheck('uncheck');
	var check_page_flag = 0;
	$("#account_list tbody input[type='checkbox']").each(function(){
		if ($.inArray(parseInt(this.value), selectid) != -1){					
			$(this).iCheck('check');
			check_page_flag++;
		}
    });
	if ($("#account_list tbody input:checked").length == $("#account_list tbody input:not(:disabled)").length && check_page_flag != 0){
		$('#check_page').iCheck('check');
	}
	/*
	if (check_page_flag == $("#account_list tbody input[type='checkbox']").length && check_page_flag != 0){
		$('#check_page').iCheck('check');
	}
	*/
	if (parseInt(ipage) > totalpage){
		$("#curpage").val(totalpage);
		get_account_list();
	}

	/*
	$("#account_list tbody >tr").unbind().bind("click",function(e){
		x=e.target;
		if (x.nodeName != 'A'){
			var input = $(this).find("input[type='checkbox']");
			if ($(input).prop('checked') == false && $(input).prop("disabled") == false){
					$(input).iCheck('check');
			}else{
					$(input).iCheck('uncheck');
			}
		}
	})
	*/
	$("#account_list tbody >tr").bind("dblclick",function(e){
		x=e.target;
		if (x.nodeName != "INS"){
			$(this).children('td:last').find('.edit').click();
			$(this).children('td:last').find('.search_result').click();
		}
	});
	$('#check_page').on('ifClicked',function(e){
		if(!$('#check_page').prop('checked')){
			$("#account_list tbody input[type='checkbox']").each(function(){
				if (!$(this).prop("disabled")){
					$(this).iCheck('check');   
				}
			}) 
		}else{
			$("#account_list").children('tbody').find('input[type=checkbox]').iCheck('uncheck');
		}
	});
	/*
	$("#account_list tbody tr").click(function(){
		var input =$(this).find("input[type='checkbox']");
		if ($(input).prop('disabled')){
			
		}else{
			if($(input).is(':checked')){  
				$(this).iCheck('uncheck');
			}else{  
				$(this).iCheck('check');
			}
		}       
    	})
	*/
	var flag_id = 0;
	num = selectid.length;
	$("#select_total").text(num);
	$("#account_list tbody input[type='checkbox']").on("ifChanged",function(){
		if ($(this).is(":checked")){
			num = $("#select_total").text();   
			num++;
			if (selectid.indexOf(parseInt(this.value)) == -1){
				selectid.push(parseInt(this.value))	
			}
			$("#select_total").text(num);
		}else{
			num = $("#select_total").text();
			num--;
			selectid.splice($.inArray(parseInt(this.value),selectid),1);
			$("#select_total").text(num);   
		}
		var check_num = 0;
		$("#account_list tbody input[type='checkbox']").each(function(){
			if (!$(this).prop("disabled")){
				check_num++;
			}
		}) 
		if ($("#account_list tbody").find('input[type=checkbox]:checked').length == check_num){
			$('#check_page').iCheck('check');
		}else{
			$('#check_page').iCheck('uncheck');
		}
	});
}

//批量删除
function delete_all(){
	if (selectid.length == 0){
		_alert(2,"账号","请选择要删除的数据");
		return;
	}
	var id = JSON.stringify(selectid);
	$('.btn').blur();
	parent.layer.open({
		type:1,
		title:"账号",
		content:'<div class="layer-alert"><i class="alert warning"></i>是否批量删除</div>',
		btn:['确定','取消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		btn1:function(i){
			parent.layer.close(i);
			$("#select_total").text(0);
        		deleteaccount(1,id);
        		selectid=[];
        		get_account_list();
		},
		btn2:function(i){
			parent.layer.close(i);
		}
	});	
}

//单个删除
function delete_account(id){
	var name = $("[value="+id+"]").prop('name');
	$('.btn').blur();
	parent.layer.open({
		type:1,
		title:"账号",
		content:'<div class="layer-alert"><i class="alert warning"></i>是否删除</div>',
		btn:['确定','取消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		btn1:function(i){
			parent.layer.close(i);
			deleteaccount(0,id);
			for (var i = 0; i < selectid.length; i++){      
				if (selectid[i] == parseInt(id)){
					num = $("#select_total").text();
					num = parseInt(num)-1;
					$("#select_total").text(num);
					selectid.splice($.inArray(parseInt(id),selectid),1);
					break;
				}
        	}
			get_account_list();
		},
		btn2:function(i){
			 parent.layer.close(i);
		}
	});
}

//实现删除函数
function deleteaccount(type,id){
	$.ajax({
		url:'/bhost/delete_account',
		type:'post',
		async:false,
		data:{a0:se,z9:type,z10:id},
		success:function(results){
			data = JSON.parse(results);
			if (data.Result == false){
				_alert(1,"账号","删除失败："+data.ErrMsg);
			}else{
				_alert(0,"账号","删除成功");
			}
		}
	});
}

//搜索框改变函数
function filter_change(){
	var name = $("#filtername").val();
	if (name == '0'){
		$("#keyword").hide();
        $("#filterWW").hide();
		$("#clearFilter").hide();
	}else{
		$("#keyword").show();
		$("#keyword").focus();
	}
}

String.prototype.ResetBlank=function(){
	var regEx = /\s+/g; 
	return this.replace(regEx, ' '); 
};

//搜索按钮，type=false：搜索 ；type=true：添加搜索条件
function _addFilter(obj,type){
	var keyword = $("#keyword").val().trim();
	var name = $("#filtername").val();
	var add = 0;
	var nameReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
	//name=0，即搜索所有
	if (keyword == ""){
		$("#keyword").blur();
		_alert(2,"搜索","请输入关键字",$("#keyword"));
		return false;
	}
	keyword = keyword.ResetBlank();
	if (name == "0"){
		/*
		$("#keyword").val('').blur();
		$("#filterWW ul li").each(function(){
			$(this).remove();
		});
		keyword_re = [];
		selectid=[];
		get_account_list();
		return;
		*/
		keyword = "所有-" + keyword;
	}
	
	//对输入框中数据进行处理
	if(name=="1"){
		//对输入框中数据格式进行检查
		/*
		if (!nameReg.test(keyword)){
			$("#keyword").blur();
			_alert(1,"搜索","关键字格式不正确",$("#keyword"));
			return false;
		}
		*/
		keyword = "账号-" + keyword;
	}
	if(name=="2"){
		keyword = "域名-" + keyword;
	}
	
	//如果是添加搜索条件，filter_flag=0；否则filter_flag=1
	var filter_v = "";
	if (keyword.substring(0,2) == "所有"){
		filter_v = keyword.substring(3);
	}else{
		filter_v = keyword;
	}
	if (type){
		//检索添加条件是否重复
		$("#filterWW li").each(function(i,item){
			var filter = $(item).find('.ww').text();		
			if (filter == filter_v){
				add = 1;
				$("#keyword").blur();
				_alert(2,"搜索","该搜索条件已存在",$("#keyword"));
				return false;
			}
		});
		if (add == 1){
			return false;
		}
		$("#keyword").val('');
		$("#account_text_check").hide();
		//如果是点击过搜索按钮后，在点击添加搜索条件按钮，则把filter_flag置0，并把最后一个数据删除
		if (filter_flag == 1){
			keyword_re.splice(-1,1);
			filter_flag = 0;
		}
		$("#filterWW").show();
		$("#clearFilter").show();
		$("#filterWW ul").append("<li><span class=\"ww\" data-value=\""+keyword+"\">"+filter_v+"</span><i class=\"del\" onclick=\"_delFilter(this)\"></i></li>");
		//将数据加入数组
		keyword_re.push(keyword);
		keyword_v = "";
	}else{
		//如果点击过搜索按钮，filter_flag=1,则将最后一个数据删除
		if (filter_flag != 0){
			keyword_re.splice(-1,1);
		}
		//重新放入
		filter_flag = 1;
		keyword_re.push(keyword);
		keyword_v = keyword;
	}
	$("#keyword").focus();
	$("#curpage").val(1);
	selectid=[];
	get_account_list();
}

//清除搜索条件
function _clearFilter(obj){
	$("#filterWW").children('ul').empty();
	$("#filterWW").hide();
	$("#clearFilter").hide();
	$("#account_text_check").hide();
	keyword_re = [];
	keyword_v = "";
	filter_flag = 0;
	$("#keyword").val('');
	get_account_list();
}

//删除搜索条件
function _delFilter(obj){
	var filter_text = $(obj).parent().children('span').attr('data-value');
	$(obj).parent().remove();	
	keyword_re.splice($.inArray(filter_text,keyword_re),1);
	if ($("#filterWW").children('ul').children('li').length == 0){
		$("#filterWW").hide();
		$("#clearFilter").hide();
	}
	get_account_list();
}


function _clear_keyword(){
	$("#keyword").val("");
	$("#account_text_check").hide();
	if (keyword_v != ""){
		keyword_v = "";
		keyword_re.splice(-1,1);
		filter_flag = 0;
		get_account_list();
	}
}

function change_input(obj){
	if ($(obj).val() == "" && keyword_v != ""){
		keyword_v = "";
		filter_flag = 0;
		keyword_re.splice(-1,1);
		get_account_list();
	}
}

//创建
function create_account(){
	ipage = $("#curpage").val();
	document.frm_account.action = '/bhost/create_account';
	document.frm_account.a0.value = se;
	document.frm_account.z1.value = 0;
	document.frm_account.z2.value = 0;
	document.frm_account.z4.value = ipage;
	document.frm_account.z5.value = JSON.stringify(keyword_re);
	document.frm_account.z6.value = filter_flag;
	document.frm_account.z7.value = JSON.stringify(selectid);
	document.frm_account.submit();
}

//编辑
function edit_account(id){
	var flag = 0;
	$.ajax({
		url:'/bhost/select_account_all',
		type:'post',
		async:false,
		data:{a0:se,z11:id},
		success:function(result){
			result = JSON.parse(result);
			if (result.totalrow == "0"){
				_alert(1,"账号","该账号已删除")
				flag = 1;
			}
		}
	});
	if (flag == 1){
		refresh();
		return;
	}
	ipage = $("#curpage").val(); 
	document.frm_account.a0.value = se;
	document.frm_account.action='/bhost/create_account';
	document.frm_account.z7.value = JSON.stringify(selectid);
	document.frm_account.z6.value = filter_flag;
	document.frm_account.z5.value = JSON.stringify(keyword_re);
	document.frm_account.z4.value = ipage;
	document.frm_account.z2.value = id;
	document.frm_account.z1.value = 1;
	document.frm_account.submit();
}

//刷新
function refresh(){
	selectid=[];
	$("#account_list input[type='checkbox']").each(function(){                                 
		$(this).iCheck('uncheck');
	});
	$("#select_total").text(0);
	get_account_list();
	return;
}

//返回
function list_cancel(){
	window.parent._closePage(null); 
}



</script>
