{% extends  "index.html" %}
{% block head %}
<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<script src="/manage/js/select2.full.min.js"></script>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/new-head.css">
{% endblock  %}
{% block main %}
<!---->
		<!---->
		<div class="mainer">
			
			<div class="container">
				<div class="c-top">
					<div class="c-title">
						<!--<h3 class="tit" onclick="back();"><span>访问协议</span><i class="icon-proto"></i></h3>-->
                        <div class="manual-head" style="float:left;width:100px">
    						<div class="manual-title" >
		       					<span id="access_protocol" style="cursor: pointer;">访问协议</span>
		        				<i class="access_protocol_icon"></i>
		   					</div>
						</div>
						<!--div class="ctr">
							<a href="javascript:;" class="ret" onclick="_closePage(this)"><i></i></a>
						</div-->
					</div>
				</div>

				<div class="c-cont2">
					<div class="c-form" style="padding-bottom:10px;" id="protocol">
						<div class="form">
							<div id="luo"> </div>
							<div class="luo" id="luo_0" style="float:left;width:100%;">
								<div class="form-item" id="P_name" style="width:38%;float:left;"><!-- 名称区域 -->
									<span class="form-tag" style="width:60px;"><em class="imp">*</em>名称：</span>
									<div class="form-c" style="padding:0 0;width:325px;">
										<input type="text" class="form-text" maxlength="128" style="width:180px" id="Protocol_Name0" onblur="protocolCheck(this)"><i class="v-check" id="check0" style=""></i>
										<p class="form-tip" id="prompt0">特殊字符仅支持下划线、横杠</p>
									</div>
								</div>
								<div class="form-item" id="Port_0" style="width:22%;float:left;"><!-- 端口 -->
									<span class="form-tag" style="width:60px;"><em class="imp">*</em>端口：</span>
									<div class="form-c" style="padding:0 0;">
										<input id="Port0" name="Port" class="form-text" type="text" onkeyup="data_check(this);" style="width: 55px;"><i class="v-check" id="check1" style=""></i>
										<p class="form-tip" id="prompt_0">0-65535&nbsp;之间</p>
									</div>
								</div>
								<div class="form-item" id="desc" style="width:40%;float:left;"><!-- 描述 -->
									<span class="form-tag" style="width:60px;">描述：</span>
									<div class="form-c sel-type1" style="margin-bottom:15px;padding:0 0;">
										<li id="add_del0">
											<input type="text" class="form-text" maxlength="1024" id="Description0" style="width:185px;">
											<i class="ctrl add" id="addProt0" value="0" onclick="addProtocol(this)" style="margin-top: 0px;"></i>
										</li>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="btns">
				<a href="javascript:;" class="btn btn-normal" onclick="save()">保&nbsp;&nbsp;存</a>
				<!--
				<a href="javascript:;" class="btn btn-normal" onclick="back()">取&nbsp;&nbsp;消</a>
				-->
			</div>
			<div id="bBtn" style="position: fixed;z-index:5;">
				<a href="javascript:;" class="btn" style="float: right;" onclick="back();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
			</div>
		</div>
		<form action="/bhost/create_AccessProtocol_z" method="POST" name="frm_access" id="frm_access">
			<input type="hidden" name="z1" id = "" value="" />
			<input type="hidden" name="z2" id = "" value="" />
			<input type="hidden" name="z3" id = "" value="" />
			<input type="hidden" name="z4" id = "" value="" />
			<input type="hidden" name="i10" id = "" value="" />
		</form>
{% endblock  %}
{% block script %}
<style>
.form-tip {
	padding-left:65px;
}
</style>
<script>
var number=0;
var addid=[]
var nameReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-]+$/;;
var portReg = /^[0-9]/
var se;

//检查输入名称
function protocolCheck(obj){
	var val = $(obj).val().trim();
	var $i = $(obj).next('i.v-check')
	if(nameReg.test(val)){
		$i.show().attr('class','v-check v-right');
	}else{
		$i.show().attr('class','v-check v-wrong');
	}
}

//检查输入端口
function data_check(obj){
	var val = $(obj).val().trim();
	var $i = $(obj).next('i.v-check')
	if(portReg.test(val)){
		$i.show().attr('class','v-check v-right');
	}else{
		$i.show().attr('class','v-check v-wrong');
	}
	obj.value.replace(/\D/g, "");
	var min=1;
	var max=65534;
	if(min){
		if(parseInt(obj.value, 10) < parseInt(min, 10)) obj.value = min;
	}
	if(max){
		if(parseInt(obj.value, 10) > parseInt(max, 10)) obj.value = max;
	}
}

//对input进行检索函数
function datacheck(num){
	var ProtName = $("#Protocol_Name"+num+"").val().trim();
	var add=1;
	var flag=true;
	if($("#Protocol_Name"+num+"").val() == ""){
		_alert(2,"访问协议","请输入名称",$("#Protocol_Name"+num+""));	
		add=0;
		return false;
	}
	if($("#Description"+num+"").val().length > 1024){
		_alert(2,"访问协议","描述内容过长，最大长度为1024",$("#Description"+num+""));
		add=0;
		return false;
	}
	if($("#Port"+num+"").val() == ""){
		_alert(2,"访问协议","请输入端口",$("#Port"+num+""));	
		add=0;
		return false;
	}
	//检查输入框格式
	if(!nameReg.test(ProtName)){
		_alert(1,"访问协议","名称格式不正确",$("#Protocol_Name"+num+""));
		add=0;
		return false;
    }
	if(namecheck(ProtName)==false){
		_alert(2,"访问协议","相同名称已存在",$("#Protocol_Name"+num+""));
		add=0;
		flag=false;
		return false;
	}
	if(addid.length>1&&flag){
		for(var i=0;i<addid.length;i++){
			if(ProtName==$("#Protocol_Name"+addid[i]+"").val().trim()&&num!=addid[i]){	
				_alert(2,"访问协议","相同名称已存在",$("#Protocol_Name"+num+""));	
				add=0;
				return false;
			}
		}
	}
	if(add==1){
		return true;
	}else{
		return false;
	}
}

//检查协议名称是否存在
function namecheck(name){
	var flag=true;
	$.ajax({
		url:'/bhost/select_name',
		type: "post",
		async:false,
		data: {a0:se,x1:name},
		success:function(result){
			data = parseInt(result);
			if (data !=0){
				flag=false;
			}
		}
	});
	return flag;
}

//添加按钮
function addProtocol(){
	var flag=true;
	var ProtName = $("#Protocol_Name"+number+"").val().trim();
	flag=datacheck(number);
	if(flag==false){
		return false;
	}
	if(flag){
		addid.push(number+1);
		var Des=$("#Description"+number+"").val();
		//$("#prompt"+number+"").hide();
		//$("#check"+number+"").hide();
		//$("#prompt_"+number+"").hide();
		//$("#Protocol_Name"+number+"").attr("disabled",true);
		$("#add_del"+number+"").html("<input type=\"text\" class=\"form-text\" maxlength=\"1024\" id=\"Description"+number+"\"value=\""+Des+"\" style=\"width:185px;\">"+
									 "<i class=\"ctrl del\" style=\"margin-top:0px;\" id=\"delProt"+number+"\" value=\""+number+"\" onclick=\"delProtocol(this)\"></i>");
		number=number+1;
		$("#luo").after("<div class=\"sel-type1\" id=\"luo_"+number+"\" style=\"float:left;width:100%;\"></div>");
		$("#luo_"+number+"").append("<div class=\"form-item\" style=\"width:38%;float:left;\">"+
									"<span class=\"form-tag\" style=\"width:60px;\"><em class=\"imp\">*</em>名称：</span>"+
									"<div class=\"form-c\" style=\"padding:0 0;width:325px;\">"+
									"<input type=\"text\" class=\"form-text\" maxlength=\"128\" style=\"width:180px\" id=\"Protocol_Name"+number+"\" onblur=\"protocolCheck(this)\">"+
									"<i class=\"v-check\" id=\"check"+number+"\" style=\"\"></i><p class=\"form-tip\" id=\"prompt"+number+"\">特殊字符仅支持下划线、横杠</p></div></div>");
		$("#luo_"+number+"").append("<div class=\"form-item\" style=\"width:22%;float:left;\">"+
									"<span class=\"form-tag\" style=\"width:60px;\"><em class=\"imp\">*</em>端口：</span>"+
									"<div class=\"form-c\" style=\"padding:0 0;\">"+
									"<input id=\"Port"+number+"\" name=\"Port\" class=\"form-text\" type=\"text\" onkeyup=\"data_check(this);\" style=\"width: 55px;\">"+
									"<i class=\"v-check\" id=\"check"+number+"\" style=\"\"></i>"+
									"<p class=\"form-tip\" id=\"prompt_"+number+"\">0-65535&nbsp;之间</p></div></div>");
		$("#luo_"+number+"").append("<div class=\"form-item\" style=\"width:40%;float:left;\">"+
									"<span class=\"form-tag\" style=\"width:60px;\">描述：</span>"+
									"<div class=\"form-c sel-type1\" style=\"margin-bottom:15px;padding:0 0;\"><li id=\"add_del"+number+"\">"+
									"<input type=\"text\" class=\"form-text\" maxlength=\"1024\" id=\"Description"+number+"\" style=\"width:185px;\">"+
									"<i class=\"ctrl add\" id=\"addProt"+number+"\" value=\""+number+"\" onclick=\"addProtocol(this)\" style=\"margin-top: 0px;\"></i>"+
									"</li></div></div>");
		$("#Port"+number+"").on("input propertychange",function(){
			this.value = this.value.replace(/\D/g, "");
		}).on("paste",function(){return false});
		/*var Name=$("#Protocol_Name"+number+"").val().trim();
		test_name.push(Name);*/
	}
}

//删除创建
function delProtocol(obj){
	var num=$(obj).attr("value");
	for(var i=0;i<addid.length;i++){
		if(addid[i]==num){
			addid.splice(i,1);
			break;
		}
	}
	$("#luo_"+num+"").remove();
}

//全局
$(function(){
	se = window.parent.document.frm.se.value;
	$("#Port0").on("input propertychange",function(){
			this.value = this.value.replace(/\D/g, "");
	}).on("paste",function(){return false});
	addid.push(number);
	parent._switchBtn(0);//隐藏左右按钮
});

//保存数据
function save(){
	var flag=true;
	var datalist=[];
	var id_length=addid.length;
	if($("#Protocol_Name"+number+"").val() == "" && id_length>1){	
		id_length=id_length-1;
	}
	for(var i=id_length-1;i>-1;i--){
		flag=datacheck(addid[i]);
		if(flag==false){
			return;
		}
	}
	//对数据进行检查
	for(var i=0; i<id_length;i++){
		var Port1=0;
		//去掉数据头尾的空格
		var ProtocolName = $("#Protocol_Name"+addid[i]+"").val().trim();
		var Description = $("#Description"+addid[i]+"").val().trim();
		var Port=parseInt($("#Port"+addid[i]+"").val());
		var dataP='{"ProtocolId":'+0+',"ProtocolName":"'+ProtocolName+'","Port":'+Port+',"Port1":'+Port1+',"Description":"'+Description+'"}';
		datalist.push(dataP);
	}
	msstr = aceg(JSON.stringify(datalist),se);
	$.ajax({
		url:'/bhost/set_protocol',
		type: "post",
		async:false,
		data: {a0:se,x1:JSON.stringify(datalist),m1:msstr},
		success:function(result){
			data = JSON.parse(result);
			if (data.Result){
				$('.btn').blur();
				parent.layer.open({
						type:1,
						title:"访问协议",
						content:'<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
						btn:['确定'],
						btnAlign:'c',
						closeBtn: false,
						skin:'layer-custom',
						area:['380px','310px'],
						move: false,
						resize: false,
						btn1:function(i){
							parent.layer.close(i);
							back();
						},
						btn2:function(i){
							 parent.layer.close(i);
						}
				});
			}else{
				_alert(1,"访问协议","执行失败：" + data.ErrMsg);
			}
		}
	});			
}

function back(){
	//parent.$("#mainFrame").attr("src","/bhost/index?tasktype=3");
	document.frm.tasktype.value=3;
	document.frm.i10.value=1;
	document.frm.us.value=window.parent.document.frm.us.value;
	document.frm.se.value=window.parent.document.frm.se.value;
	document.frm.action = '/bhost/index';
	document.frm.submit();
}

$(function(){
	
	$("#access_protocol").on("click",function(){
		//back();
        document.frm_access.z1.value=1;
        document.frm_access.z2.value="None";
        document.frm_access.z3.value="1";
        document.frm_access.z4.value="[]";
        document.frm_access.action = '/bhost/create_AccessProtocol_z';
        document.frm_access.submit();
	});
 });

</script>
{% endblock  %}
