<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<!-- <link rel="stylesheet" href="/manage/css/jquery.datepick.css"> -->
	<link rel="stylesheet" href="/manage/css/new-head.css">
	<link rel="stylesheet" href="/manage/css/jedate.css">
	<script>
		var userAgent = navigator.userAgent;
		var ie8 = userAgent.indexOf('Trident/4.0');

		if(ie8 != -1){
			document.write('<script src="/manage/js/jquery-IE8.js"></' + 'script>');
		}else{
			document.write('<script src="/manage/js/jquery.min.js"></' + 'script>');
		}
	</script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/select2.full.min.js"></script>
	<script src="/manage/js/jquery.plugin.js"></script>
	<!-- <script src="/manage/js/jquery.datepick.js"></script> -->
	<script src="/manage/js/icheck.min.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<script src="/manage/js/jquery.jedate.min.js"></script>
	<style>
		.form-text2 {
			padding: 0 8px;
		}
		.form-c1 .srSort span:not(:first-child):not(:last-child) {
			margin-right: -1px;
		}
		.form-c1 .srSort .select2-container {
			float: left;
		}
		.form-c1 .srSort span.select2-container:not(:nth-child(2)) .select2-selection--single {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		.form-c1 .srSort span.select2-container:not(:last-child) .select2-selection--single {
			border-top-right-radius: 0;
    		border-bottom-right-radius: 0;
		}
		.form-c1 .srSort span:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		.form-c1 .srSort span:not(:last-child) {
			border-top-right-radius: 0;
    		border-bottom-right-radius: 0;
		}
		.h-content3 .item {
			width: auto;
			padding: 0 0 10px 0;
		}
	</style>
</head>

<body style="overflow:hidden;" class="bg-white">
	<!--别名管理添加或编辑-->
	<div class="rwrap">
		<div class="c-top">
			<div class="c-title">
				<div class="manual-head" style="float:left;width:100px">
					<div class="manual-title">
						<span id="alias_group" style="cursor: pointer;">别名管理</span>
						<i class="alias_group_icon"></i>
					</div>
				</div>

				<div class="ctr">
					<a href="javascript:;" class="ret" onclick="parent._closePage(this)">
						<i></i>
					</a>
				</div>
			</div>
		</div>
		<div class="mainer">

			<div class="container">
				<div class="c-cont">
					<div class="c-form" style="padding-bottom: 10px;">
						<div class="form">
							<div class="form-item" style="">
								<span class="form-tag"><em class="imp">*</em>主机：</span>
								<div class="form-c">
									<select class="form-select" name="HostName" id="HostName">
										<option value="0" selected>请选择</option>
									</select>
								</div>
							</div>
							<div class="form-item" style="">
								<span class="form-tag"><em class="imp">*</em>账号：</span>
								<div class="form-c">
									<select class="form-select" name="AccountName" id="AccountName">
										<option value="0" selected>请选择</option>
									</select>
								</div>
							</div>
							<div class="form-item" style="">
								<span class="form-tag"><em class="imp">*</em>别名：</span>
								<div class="form-c">
									<input type="text" class="form-text" id="HostAccountAliasName" name="HostAccountAliasName" onblur="regCheck(this,nameReg);" maxlength="128">
									<i class="v-check"></i>
									<p class="form-tip">仅支持中文、字母、数字、下划线、横杠、小数点</p>
								</div>
							</div>
						</div>
					</div>
					<div class="c-form">
						<div class="btns">
							<a href="javascript:;" class="btn btn-normal" onclick="alias_add();">保&nbsp;&nbsp;存</a>
						</div>
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn" style="float: right;" onclick="alias_list(0);"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<form action="/bhost/alias_handle" method="POST" name="frm_alias_add" id="frm_alias_add">
		<input type="hidden" name="tasktype" id="tasktype" value="{{ tasktype }}" />
		<!--创建 编辑 列表-->
		<input type="hidden" name="a" id="a" value="{{a}}" />
		<!--aliasId-->
		<input type="hidden" name="b" id="b" value="{{b}}" />
		<!--页码-->
		<input type="hidden" name="c" id="c" value="{{c}}" />
		<!--search_typeall-->
		<input type="hidden" name="e" id="e" value="{{e}}" />
		<!--e-->
		<input type="hidden" name="se" id="se" value="{{se}}" />
		<!--se-->
		<input type="hidden" name="a0" id="a0" value="{{se}}" />
		<!--se-->
	</form>

	<script>
		$('.form-checkbox,.form-radio').iCheck({
			checkboxClass: 'icheckbox_minimal-blue',
			radioClass: 'iradio_minimal-blue',
			increaseArea: '0' // optional
		});

	</script>



	<script>
		$('.filter-select,.form-select').select2();
		// $("input.datepicker").datepick();
	</script>
	<script>
		var nameReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
		$(function () {
			//console.log('$("input[name=se]").val():'+$("input[name=se]").val());
			_showLoading();
			//console.log(new Date() );
			$("#alias_group").on("click", function () {
				location.reload();
			});
			
			$.ajax({
				url: "/bhost/get_alias_Host",
				type:"POST",
				async:false,
				data:{a0:$("input[name=se]").val()},
				success:function(result){
					var result=JSON.parse(result);
					if(result.Result){
					
						var _po=[];
						for(var i=0;i<result.info.length;i++){
							st = '<option value="'+result.info[i].HostId+'">'+result.info[i].HostName+'('+result.info[i].HostIP+')'+'</option>';
							_po.push(st);
						}					
						$('#HostName').append(_po);
						
						var tasktype=document.frm_alias_add.tasktype.value;
						if (tasktype=='2'){
							var json_str=JSON.parse(document.frm_alias_add.a.value);
							//console.log(json_str);
							document.frm_alias_add.a.value=json_str.HostAccountAliasNameId;
							$('#HostAccountAliasName').val(json_str.HostAccountAliasName);
							$('#HostName').val(json_str.HostId).trigger('change');
							$.ajax({
								url: "/bhost/get_alias_Host",
								type:"POST",
								async:false,
								data:{a0:$("input[name=se]").val(),a1:json_str.HostId},
								success:function(result){
									var result=JSON.parse(result);
									if(result.Result){
										$('#AccountName').empty();
										$('#AccountName').append('<option value="0" selected>请选择</option>');
										if(result.info.AccountSet==null){
											return false;
										}
										
										var tmp = [];
										for(var i=0;i<result.info.AccountSet.length;i++){
											var tmp1 = [];
											for(var ii=0;ii<result.info.AccountSet[i].HostServiceSet.length;ii++){
												if($.inArray(result.info.AccountSet[i].HostServiceSet[ii].ProtocolName,tmp1)<0){
													tmp1.push(result.info.AccountSet[i].HostServiceSet[ii].ProtocolName);
												}
												//tmp1.push(result.info.AccountSet[i].HostServiceSet[ii].ProtocolName);
											}
											
											tmp.push('<option value="'+result.info.AccountSet[i].HostAccount.AccountId+'">'+result.info.AccountSet[i].HostAccount.AccountName+'('+
											tmp1.join(',')+')'+'</option>');
										}
										$('#AccountName').append(tmp);
										
										$('#AccountName').val(json_str.AccountId).trigger('change');
									}else{
										_alert(2,'别名管理',result.ErrMsg);
										return false;
									}
								}
							});
						}
						//console.log(new Date());
						_closeLoading();
					}else{
						_alert(2,'别名管理',result.ErrMsg);
						return false;
					}
				}
			});
			$('#HostName').on('change',function () {
				var hostid=$('#HostName').val();
				if(hostid=='0'){
					$('#AccountName').empty();
                                     	$('#AccountName').append('<option value="0" selected>请选择</option>');
					return false;
				}
				$.ajax({
					url: "/bhost/get_alias_Host",
					type:"POST",
					async:true,
					data:{a0:$("input[name=se]").val(),a1:hostid},
					success:function(result){
						var result=JSON.parse(result);
						if(result.Result){
							$('#AccountName').empty();
							$('#AccountName').append('<option value="0" selected>请选择</option>');
							if(result.info.AccountSet==null){
								return false;
							}
							var tmp = [];
							for(var i=0;i<result.info.AccountSet.length;i++){
								var tmp1 = [];
								for(var ii=0;ii<result.info.AccountSet[i].HostServiceSet.length;ii++){
									if($.inArray(result.info.AccountSet[i].HostServiceSet[ii].ProtocolName,tmp1)<0){
                                                                        	tmp1.push(result.info.AccountSet[i].HostServiceSet[ii].ProtocolName);
                                                                        }
									//tmp1.push(result.info.AccountSet[i].HostServiceSet[ii].ProtocolName);
								}							
								tmp.push('<option value="'+result.info.AccountSet[i].HostAccount.AccountId+'">'+result.info.AccountSet[i].HostAccount.AccountName+'('+
								tmp1.join(',')+')'+'</option>');
							}
							$('#AccountName').append(tmp);
							/*
							$('#AccountName').append(result.info.AccountSet.map(function (item) {
								return '<option value="'+item.HostAccount.AccountId+'">'+item.HostAccount.AccountName+'('+
								item.HostServiceSet.map(function (params) {return params.ProtocolName;}).join(',')+')'+'</option>';
							}));*/
							//console.log(new Date());
						}else{
							_alert(2,'别名管理',result.ErrMsg);
							return false;
						}
					}
				});
			});
		});
		function alias_add() {
			var HostAccountAliasName=$('#HostAccountAliasName').val();
			//console.log(nameReg.test(HostAccountAliasName));
			if(HostAccountAliasName==''){
				_alert(2,'别名管理','请输入别名',$('#HostAccountAliasName'));
				return false;
			}else if(!nameReg.test(HostAccountAliasName)){
				_alert(2,'别名管理','别名格式不正确',$('#HostAccountAliasName'));
				return false;
			}
			var HostName=$('#HostName').val();
			if(HostName=='0'){
				_alert(2,'别名管理','请选择主机');
				return false;
			}
			var AccountName=$('#AccountName').val();
			if(AccountName=='0'){
				_alert(2,'别名管理','请选择账号');
				return false;
			}
			var alias_json={
				"HostAccountAliasNameId": document.frm_alias_add.a.value, 
				"HostAccountAliasName": HostAccountAliasName, 
				"HostId": HostName,                 
				"AccountId": AccountName
			}
			var msstr = aceg(JSON.stringify(alias_json),$("input[name=se]").val());
			$.ajax({
				url: "/bhost/save_alias",
				type:"POST",
				async:true,
				data:{a0:$("input[name=se]").val(),a1:JSON.stringify(alias_json),m1:msstr},
				success:function(result){
					var result=JSON.parse(result);
					if (result.Result){
						$('.btn').blur(); parent.layer.open({
							type: 1,
							title: '别名管理',
							content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
							btn: ['确&nbsp;&nbsp;定'],
							btnAlign: 'c',
							closeBtn: false,
							skin: 'layer-custom',
							area: ['380px', '310px'],
							move: false,
							resize: false,
							yes: function (i) {
								parent.layer.close(i);
								alias_list(1,result.HostAccountAliasNameId);
							}
						});
					}else{
						_alert(2,'别名管理',result.ErrMsg,$('#HostAccountAliasName'));
						return false;
					}
				}
			});
		}
		function alias_list(num,id) {
			if(num==1){
				$.ajax({
					url: '/bhost/PGetRecordRownum',
					type: "POST",
					async: false,
					data: { a0: $("input[name=se]").val(), a1: id,a2:34,a3:0 },
					success: function (result) {
						var result = JSON.parse(result);
						if (result.Result == true) {
							if(result.info%MAX_PAGE==0){
								document.frm_alias_add.b.value=parseInt(result.info/MAX_PAGE);
							}else{
								document.frm_alias_add.b.value=parseInt(result.info/MAX_PAGE)+1;
							}
						}
					}
				});
				document.frm_alias_add.c.value = '';
				document.frm_alias_add.e.value = ':';
			}
			document.frm_alias_add.tasktype.value = 3;
			document.frm_alias_add.action = '/bhost/alias_show_'
			document.frm_alias_add.submit();
		}
	</script>
</body>

</html>
