<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
   <title>Logbase运维安全管理系统</title>
    <link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
    <link rel="stylesheet" href="/manage/css/style.css">
    <link rel="stylesheet" href="/manage/css/new-head.css">
</head>

<body style="overflow:hidden;" class="bg-white">
    
    <!---->
    <div class="mainer">
        <div class="container">
            <div class="c-top">
                <div class="c-title">
                    <div class="manual-head" style="">
                        <div class="manual-title" id="" style="" onclick="location.href = location.href;">
                                <span >{{ana_str}}</span>
                                <i class="hlink-hostcata" style=""></i>
                        </div>
                    </div>
                </div>

                <!---->
                <div class="c-cont">

                    <div class="c-wrap">
                        
                        <div class="c-table c-table2">
                            <div class="tab-t tab-t2">
                                <div class="filter">
                                    <div class="search">
                                        <input type="text" class="filter-text" placeholder="输入关键字" id="keyword" style="border-left:0" onkeydown="" onkeyup="_filter(this)">

                                        <button class="btn filter-btn fbtn2" onclick="_filter2(this)"><i class="add-filter"></i></button>
                                    </div>
                                </div>

                                 <p class="ptit" id="_ptit"></p>
                            </div>
    
                            <!---->
                            <div class="box-table box-table2 box-table3">
                                <table cellpadding="0" cellspacing="0" id="">

                                    <tbody id="fList">
                                        <tr>
                                            <td style="text-align: center;">Loading...</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="tab-i tab-i2">
                                <div class="il">
                                    每页显示<span id="page_total">100</span>条 总数：<span id="ana_total">0</span>
                                </div>

                                <div class="ipage">
                                    <a href="javascript:;" class="nav2 begin" onclick="firstpage()"><i></i></a>
                                    <a href="javascript:;" class="nav prev" onclick="prevpage()"><i></i></a>
                                    <input type="text" value="1" id="curpage" onchange="jumppage()">/&nbsp;<span id="totalpage">1</span>
                                    <a href="javascript:;" class="nav next" onclick="nextpage()"><i></i></a>
                                    <a href="javascript:;" class="nav2 end" onclick="lastpage()"><i></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!--
        <div class="btns">
            <a href="javascript:; " class="btn btn-normal" onclick="history.back();">返&nbsp;&nbsp;回</a>
        </div>-->
    </div>
	<form action="/bhost/search_log" method="POST" name="frm_search_log" >
		<input type="hidden" name="a0"  value="{{se}}" />
		<input type="hidden" name="us"  value="{{us}}" />
		<input type="hidden" name="tp1"  value="{{tp1}}" />
		<input type="hidden" name="p1"  value="{{p1}}" />
		<input type="hidden" name="i1"  value="{{i1}}" />
		<input type="hidden" name="a1"  value="{{taskid}}" />
		<input type="hidden" name="a2"  value="{{logtype}}" />
		<input type="hidden" name="t1"  value="{{t1}}" />
		<input type="hidden" name="f1"  value="{{f1}}" />
		<input type="hidden" name="a4"  value="{{btn_status}}" />
		<input type="hidden" name="tasktype"  value="{{tasktype}}" />
		<input type="hidden" name="a5"  value="{{name}}" />
		<input type="hidden" name="s1"  value="{{s1}}" />
	</form>
	<style>
		p.ptit span{
			margin: 0px 30px 0 0px;
		}
	</style>
    <script src="/manage/js/jquery.min.js"></script>
    <script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
    <script src="/manage/js/layer.js"></script>
    <script>
	var baseData = [];
	var MAX_PAGE_ANA = 100;
	//var baseData = '{{baseData|safe}}';
	//	sessid=sessid,stime=stime,etime=etime,error_msg = error_msg
	var sessid = '{{sessid}}';
	var stime = '{{stime}}';
	var etime = '{{etime}}';
	var error_msg = '{{error_msg}}';
	var analysis_id = '{{analysis_id}}';
	var type = '{{type}}';
	var server_user = '{{server_user}}';
	var y_user = '{{y_user}}';
	var server_ip = '{{server_ip}}';
	var userCode = '{{us}}';
	var statue = 0;
	var total_row = 0;
	var other = '{{other}}';
	var IfReplay = other.split('@')[0];
	$(function(){
		if(error_msg!=""){
			_alert(2,'{{ana_str}}',error_msg);
			return false;
		}
		$('#_ptit').html('<span>起始时间：'+stime+'</span><span>结束时间：'+etime+'</span><span>会话类型：'+type+'</span><span>运维用户：'+y_user+'</span><span>服务器IP：'+server_ip+'</span><span>服务器用户名：'+server_user+'</span>');
		
		$.ajax({
			url:'/bhost/get_stat_row',
			type:'post',
			async:true,
			data:{a0:{{se}},a1:analysis_id,a2:sessid},
			success:function(result){
				result = JSON.parse(result); 
				if(result.Result == true){
					statue = result.status;
					total_row = result.total_row;
					if(total_row > 0){
						$("#ana_total").text(total_row);
						totalpage = Math.ceil(parseInt(total_row)/MAX_PAGE_ANA);
						if (totalpage < 1){
							totalpage = 1;
						}
						$("#totalpage").text(totalpage.toString());
						$("#page_total").text(MAX_PAGE_ANA);
					
					
						//获取数据 
						_initList();
						_initEvent();
					}else if(statue > 1){
						_alert(1,'{{ana_str}}','分析失败');
						return false;
					}else{
						__doAnalysis();
					}
					
				}else{
					_alert(1,'{{ana_str}}',result.info);
				}
			}
		})		
    });
	
	function __doAnalysis(){
		_showLoading();
		//获取当前 任务的状态和数量
		function _do(){
			$.ajax({
				url:'/bhost/get_stat_row',
				type:'post',
				async:true,
				data:{a0:{{se}},a1:analysis_id,a2:sessid},
				success:function(result){
					result = JSON.parse(result); 
					if(result.Result == true){
						statue = result.status;
						total_row = result.total_row;
						$("#ana_total").text(total_row);
						totalpage = Math.ceil(parseInt(total_row)/MAX_PAGE_ANA);
						if (totalpage < 1){
							totalpage = 1;
						}
					}else{
						_alert(1,'{{ana_str}}',result.info);
					}
				}
			})
		}
		if_ok = setInterval(function(){
			////console.log(index);
			if(statue > 1 && total_row == 0){
				clearInterval(if_ok);
				_closeLoading();
				_alert(1,'{{ana_str}}','获取信息失败');
				return false;
			}
			else if (statue > 1 || total_row>0){    //获取信息结束	
				_closeLoading();
				clearInterval(if_ok);	
				//获取数据				
				$("#ana_total").text(total_row);
				totalpage = Math.ceil(parseInt(total_row)/MAX_PAGE_ANA);
				if (totalpage < 1){
					totalpage = 1;
				}
				$("#totalpage").text(totalpage.toString());
				$("#page_total").text(MAX_PAGE_ANA);
				_initList();
				//##获取数量 
				if(total_row>0)	
				return false;
			}
			_do();	
		},1000);
		_initEvent();
		
	}
	function get_analysis_data(){
		$.ajax({
			url:'/bhost/get_analysis_data',
			type:'post',
			async:false,
			data:{a0:{{se}},a1:sessid,p1:$('#curpage').val()},
			success:function(result){
				result = JSON.parse(result); 
				baseData = result;
			}
		})
	}
	
	//下一页
	function nextpage(){
		var cpage = $("#curpage").val();
		var total = $("#totalpage").text();
		var npage = 0;
		if (total == cpage){
			return;
		}else{
			npage = parseInt(cpage)+1;
		}
		$("#curpage").val(npage);
		get_analysis_data();
		_initList();
	}

	//上一页
	function prevpage(){
		var cpage = $("#curpage").val();
		var ppage = 0;
		if (parseInt(cpage) == 1){
			return;
		}else{
			ppage = parseInt(cpage)-1;
		}
		$("#curpage").val(ppage);
		get_analysis_data();
		_initList();
	}
	//首页
	function firstpage(){
		$("#curpage").val(1);
		get_analysis_data();
		_initList();
	}
	//末页
	function lastpage(){
		var cpage = $("#curpage").val();
		var lpage = $("#totalpage").text();
		if (cpage == lpage){
			return;
		}
		$("#curpage").val(lpage);
		get_analysis_data();
		_initList();
	}
	//跳页
	function jumppage(){
		var cur = $("#curpage").val();
		var numReg = /\D/;
		if (numReg.test(cur)){
			$("#curpage").val(1);
		}
		if (parseInt(cur) < 1 || cur == ""){
			$("#curpage").val(1);
		}
		get_analysis_data();
		_initList();
	}
	
	
	
	
	var loadLayer =0;
	function _showLoading(){
        loadLayer = layer.open({
            title:false,
            closeBtn:false,
            content:'<div id="Loading">正在{{ana_str}}中……</div>',
            btn:false,
            skin:'loadingbar',
            area:['150px','180px'],
            move:false,
            resize:false,
	isOutAnim: false,	
            shade:[0.1,'#000']
        })
    }

    function _closeLoading(){
        layer.close(loadLayer);
    }
    //
    function _initList(){
        var $tb = $('#fList').empty();
		
		get_analysis_data();
		
		/*
						var baseData = [
							{
								id: 1,
								xtime_00: '2017-12-07 14:01:17',
								str32_01: '[root@vm-82 ~]# ls',
								play: true,
								str32_02: [
									'0.rar cifsnew mo nfsnew2 公共的 文档',
									'1smb512 cn n1 npb 模板 下载',
									'anaconda-ks.cfg id_rsa_2048.pub n2 openssh 视频 音乐'
								]
							}

						]*/
		
        $.each(baseData,function(i,item){
            var tc = i%2 ? "even" : "odd";
            var $tr = $('<tr class="'+ tc +'" data-role='+i+' />');

            $tr.append('<td width="150">'+item.xtime_01.replace('T',' ').replace('+08:00','')+'</td>');
            $tr.append('<td><i class="hfctr" /><span class="name">'+item.str32_01.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;')+'</span></td>');
			if(item.str32_28 !='')
				item.play = true;
			else item.play = false;
		   if(item.play){
                $tr.append('<td width="60" style="text-align:center"><a class="playbtn" href="javascript:;" onclick="_playback(\''+item.str32_28+'\',\''+item.ip_02+'\',\''+item.str32_22+'\',\''+item.str32_23+'\','+item.int64_13+')">定位回放</a></td>');
            }else{
                $tr.append('<td width="60" style="text-align:center">&nbsp;</td>');
            }

            $tb.append($tr);

            var $tr2 = $('<tr class="tview" />');

            var $u = '<ul>';
			if (item.str32_02!=null && item.str32_02 !="") str32_02 = item.str32_02.split('\n');
			else str32_02 = []
            $.each(str32_02,function(i2,item2){
				if(item2 == "") return true;
                $u += '<li>'+item2.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;')+'</li>';
            });
            $u += '</ul>';
            $tr2.append('<td colspan="3">'+$u+'</td>');
            $tr.after($tr2);
        }); 
    }

    function _initEvent(){
        $('#fList').on('click','tr',function(e){
            var $_this = $(this);

            var $a = $(e.target);
            if($a.attr('class') == 'playbtn'){
                return;
            }

            if($a.attr('class') == 'tview' || ($a.parents('tr') && $a.parents('tr').attr('class') == 'tview' ) ){
                return;
            }

            if($_this.hasClass('on')){
                $_this.removeClass('on');

                var $tr = $_this.next('tr.tview');
                $('ul',$tr).stop().slideUp();
            }else{
                $_this.addClass('on');
                
                var $tr = $_this.next('tr.tview');
                $('ul',$tr).stop().slideDown();
            }

        })
    }

    function _filter(obj){
        var $cont = $('#fList');
        var filterRun;
        clearTimeout(filterRun);

        var _run = function(){
            var v = $(obj).val().trim();
            if(v != ''){
                $('>tr span.name,>tr.tview>td>ul>li',$cont).each(function(i,item){
                    var text = $(item).text();
                    var v2 = text.match(new RegExp(v, 'gmi'));//匹配值，不区分大小写
                    if(v2){
                        var nv  = new Array();
                        for(var i = 0; i < v2.length; i++){//去除重复匹配
                            if (nv.indexOf(v2[i]) < 0){
                                nv.push(v2[i]);
                            }
                        }

                        for(var i=0; i< nv.length; i++){
                            var str = nv[i];
                            text = text.replace(new RegExp(str, 'gm'),'<span style="color:#F00">'+str+'</span>');//替换
                        }
                        
                        $(item).html(text);
                    }else{
                        $(item).text(text);
                    }
                });

                $('>tr.tview>td>ul',$cont).each(function(i,item){
                    var html = $(item).html();
                    if(html.indexOf('<span style="color:#F00">') >= 0){
                        $(item).show().closest('tr').prev().addClass('on');
                    }else{
                        $(item).hide().closest('tr').prev().removeClass('on');
                    }
                });
            }else{
                $('>tr span.name,>tr.tview>td>ul>li',$cont).each(function(i,item){
                    var text = $(item).text();
                    $(item).html(text);
                });

                $('>tr',$cont).removeClass('on');
                $('>tr.tview>td>ul',$cont).stop().hide();
            }
        }

        filterRun = setTimeout(function(){
            _run();
        },1000);
    }

    function _filter2(obj){
        $(obj).prev('input').trigger('keyup');
    }
	/// 定位回放
	var clicktag = 0;	
	function _playback(ReplayPath,ClientIp,Usercode,Username,Position){
		if (clicktag == 0) {
				clicktag = 1;
				setTimeout(function () {clicktag = 0}, 1000);
			}else return false;
		/*
			var sessid = '{{sessid}}';
			var stime = '{{stime}}';
			var etime = '{{etime}}';
			var error_msg = '{{error_msg}}';
			var analysis_id = '{{analysis_id}}';
			var type = '{{type}}';
			var server_user = '{{server_user}}';
			var y_user = '{{y_user}}';
			var server_ip = '{{server_ip}}';
			var userCode = '{{us}}';
			var statue = 0;
			var total_row = 0;
			var other = '{{other}}';
			other -> ReplayPath+"@"+ClientIp+"@"+StartTime+"@"+Usercode+"@"+Username+"@"+IfReplay+"@"+IfReplayDrawing+"@"+Position;
		*/
		if (other =="" || other == 'None'){
			return false;
		}
		param_list = other.split('@');
		/*
		ReplayPath = param_list[0];
		ClientIp = param_list[1];
		StartTime = param_list[2];
		Usercode = param_list[3];
		Username = param_list[4];*/
		IfReplayDrawing =  param_list[1]=='true'?true:false;
		//Position =  param_list[7];
		if(IfReplay == 'true'){
			MapPort = '8080';
			$.ajax({
				url: "/bhost/get_MapPort",
				type:"POST",
				async:false,		
				data:{a0:{{se}}},
				success:function(result){
					var result=JSON.parse(result);
					if(result.Result){
						MapPort = result.info;
					}else{
						_alert(1,'{{ana_str}}',result.ErrMsg);
					}
				}
			})
			var sesstimet = (new Date()).valueOf();
			cmd_json ={
				"Cmd":"",
				"Protocol":type,
				"ReplayPath":ReplayPath,
				"UrlIp":document.domain+ (location.port!=''?':'+location.port:''),
				"ClientIp":ClientIp,
				"ServerIp":server_ip,
				"StartTime":(new Date(stime).valueOf()/1000),
				"File":"pm02qgAra6HxipYvGc8czCBbrk8dM7NQ385dwKqhuor8cz9lAUMIeJfYQ+skvL6J3g==",//SlasEncode 加密？？？
				"Sessid":sessid,
				"Usercode":Usercode,
				"Username":Username,
				"IfReplay":true,
				"IfReplayDrawing":IfReplayDrawing,
				"Position":Position,
				"MapPort":MapPort,
				"sesstimet":sesstimet,
				"sess":"{{se}}"
			}

			var if_html_client = false;
			var base64_str = '';
			$.ajax({
				url: "/bhost/get_base64",
				type:"POST",
				async:false,		
				data:{a0:{{se}},z1:JSON.stringify(cmd_json)},
				success:function(result){
					var result=JSON.parse(result);
					if(result.Result){
						if_html_client = result.info;
						base64_str = result.b64;
					}else{
						_alert(1,"数据检索",result.ErrMsg);
					}
				}
			})
			if(if_html_client) window.open('https://'+document.domain+':'+location.port+'/bhost/test_html?se='+{{se}}+'&z1='+JSON.stringify(cmd_json));
			else{
				//window.location.href = 'bhost://cmd&'+base64_str;
				get_regedit('bhost', {{se}},'',sesstimet);
				$('#YuFrame1').remove();
				$("<iframe width='0px' height='0px' id='YuFrame1' style=\"display:none;\" name='YuFrame1' ></iframe>").prependTo('body');
				$('#YuFrame1').attr('src','/bhost/test_html?t1=bhost&z1='+base64_str);
			}
			return false;
		}
	}
	
	
    </script>
</body>

</html>
