{% extends  "index.html" %}
{% block head %}
<!--icheck-->
        <script src="/manage/js/icheck.min.js"></script>
        <script src="/manage/js/select2.full.min.js"></script>
        <script src="/manage/js/common_e.js"></script>
        <link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
        <link rel="stylesheet" href="/manage/css/select2.min.css">
        <link rel="stylesheet" href="/manage/css/new-head.css">
{% endblock  %}
{% block main %}
<!---->
		<div class="mainer">	
			<div class="container1">
				<div class="c-top">
					<div class="c-title">
						<div class="manual-head" style="float:left;width:auto">
							<div  class="manual-title-other title-item"   style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);" >
								<span id="archiving_strategy">归档策略</span>
								<i style="display: none;"></i>
							</div>
							<div class="manual-title-other title-item"  style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);">
								<span id="manual_backup"> 数据备份</span>
								<i style="display: none;"></i>
							</div>

							<div class="manual-title-other title-item"  style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);">
								<span id="data_recovery">数据恢复</span>
								<i  style="display: none;"></i>
								</div>

								<div class="manual-title-other title-item" id ="frist" >
								<span id="auto_archiving">数据归档</span>
								<i class="auto_archiving_icon"></i>
								</div>

						</div>
						<div class="ctr">
							<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
						</div>
					</div>
				</div>

				<div class="c-cont">
					<div class="c-wrap">
						<div class="c-table">
							<div class="tab-t">
								<div class="ctr">
									{% if _power_mode == 2%}
									<a href="javascript:;" class="btn btn-default btn-normal" onclick="delete_lbackup()">删除</a>
									<a href="javascript:;" class="btn btn-default btn-normal" onclick="select_all()">全选</a>
									{%endif%}
									<a href="javascript:;" class="btn btn-default btn-normal" onclick="refresh()">刷新</a>
								</div>
							</div>
							<div class="box-table">
								<table cellpadding="0" cellspacing="0" id="m_list">
									<thead>
										<tr>
											{% if _power_mode == 2%}
											<th width="50"><input type="checkbox" class="form-checkbox" id="check_page"/></th>
											{%endif%}
											<th width='140'>数据归档时间</th>
											<th width='300'>数据归档时间范围</th>
											<th width='60'>文件大小</th>
											<th width='60'>备份状态</th>
											<th>备注</th>
											{% if _power_mode == 2%}
											<th width="80"></th>
											{%else%}
												<th width="30"></th>	
											{%endif%}
										<tr>
									</thead>

									<tbody name="mbackup_list" id="mbackup_list">
									</tbody>
								</table>
							</div>
							<div class="tab-i">
								<div class="il">每页显示10条 总数：
								<span id = "user_total">25</span>  选中：
								<span id="select_total">0</span>
								</div>

								<div class="ipage">
									<a href="javascript:;" class="nav2 begin" id="begin" onclick="user_page(0.1)"><i></i></a>
									<a href="javascript:;" class="nav prev" id="prev" onclick="user_page(-1)" ><i></i></a>
									<input type="text" value="1" id="user_page" onchange="showMsg()">/&nbsp;<span id="totalpage">25</span>
									<a href="javascript:;" class="nav next" id="next" onclick="user_page(1)" ><i></i></a>
									<a href="javascript:;" class="nav2 end" id="end" onclick="user_page(0.9)" ><i></i></a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn btn-cancel" style="float: right;"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
				</div>
			</div>
		</div>

	<form action="/bhost/mbackup_list" method="POST" name="frm_mbackup" id="frm_mbackup">
			<input type="hidden" name="tasktype" id = "tasktype" value="" />
			<!--创建 编辑 列表-->
			<input type="hidden" name="page_num" id = "page_num" value="10" />
			<!--每页显示数-->
			<input type="hidden" name="total_all" id = "total_all" value="" />
			<!--总数-->
			<input type="hidden" name="paging" id = "paging" value="1" />
			<!--页码-->
			<input type="hidden" name="search_typeall" id = "search_typeall" value="" />
			<!--查询要求，查询内容，查询类型-->
			<input type="hidden" name="userid" id = "userid" value="" />
			<!--需要查询的id-->
			<input type="hidden" name="fenye" id = "fenye" value="" />
			<!--总页数-->
			<input type="hidden" name="se" id = "se" value="{{se}}" />
	</form>

{%  endblock  %}
{%  block script %}
<style>
	.tab-t .ctr {
	    float: left;
	    width: 400px;
	}
	.form-c {
	    padding-left: 30px;
	    position: relative;
	}
</style>
<script type="text/javascript">
var select_str = new Array();
var check_num = 0;
var mbackup_array=null;
var now_date;
var now_date0;
var if_disabled = "{{_power_mode}}";
var first_style = '';
$(function(){
	if(if_disabled =='1'){
		first_style="style=\"border-left: 1px solid #FFF;\"";
	}
    $('.form-checkbox,.form-radio').iCheck({
        checkboxClass:'icheckbox_minimal-blue',
        radioClass:'iradio_minimal-blue',
        increaseArea:'0'
    });

	$("#user_page").on('keyup', function (e) {
		DigitInput(e);
	}).on("input propertychange", function () {				//防止在输入法开启的情况下输入非数字
		this.value = this.value.replace(/\D/g, "").trim();
	});
    $("a.btn-cancel").unbind().bind("click",function(){
    	window.parent._closePage(null);
    });
	$("#mbackup_list").on('dblclick','tr',function(e){

	}).on("click", "tr", function (e){  
		x=e.target;
		if (x.id=='del'){
			var del_id=$(this).find("td").eq(1).text();	
			layer.open({
				type:1,
				title: '数据备份',
				content: '<div class="layer-alert"><i class="alert warning"></i>是否删除</div>',
				btn:['确&nbsp;&nbsp;认','取&nbsp;&nbsp;消'],
				btnAlign:'c',
				closeBtn: false,
				skin:'layer-custom',
				area:['380px','310px'],
				move: false,
				resize: false,
				yes:function(i){
					layer.close(i);
					deleteItems(del_id,1);
				}
			}); 
		}
		else if(x.id=='stop_icon'){
			var stop_id=$(this).find("td").eq(1).text();
			var stop_name=$(this).find("td").eq(3).text();
			$.ajax({
				url:'/bhost/stop_backup_task',
				type:'post',
				async:false,
				data:{a0:$("input[name=se]").val(),a1:stop_id,a2:stop_name},
				success:function(result){
					var result=JSON.parse(result);
					if(result.Result){
						user_page(0);
					}else{

					}
				}
			});	
		}
		else if(x.id=='download'){
			var down_path=$(this).find("td").eq(4).text();	
			var down_name=$(this).find("td").eq(3).text();
			$.ajax({
				url: "/bhost/file_exit",
				type: "POST",
				async: false,
				data: { a0: $("input[name=se]").val(), a1: down_path,a2:'数据归档' },
				success: function (result) {
					var result=JSON.parse(result);
					if(result.Result){
						////console.log(down_path);
						var form = $("<form></form>").attr("action", '/bhost/download_backup_file').attr("method", "post").attr('enctype','multipart/form-data');
						form.append($("<input></input>").attr("type", "hidden").attr("name", "a1").attr("value", down_path));
						form.append($("<input></input>").attr("type", "hidden").attr("name", "a2").attr("value", 2));
						form.append($("<input></input>").attr("type", "hidden").attr("name", "a3").attr("value", '数据归档'));
						form.append($("<input></input>").attr("type", "hidden").attr("name", "a0").attr("value", $("input[name=se]").val()));
						form.appendTo('body').submit().remove();
					}
					else{
						_alert(2,'数据归档',result.ErrMsg);
						return false;
					}
				}
			});
			
		}
		else{
			if($(this).find('input').prop('checked')){
				$(this).find('input').iCheck('uncheck');
			}else{
				$(this).find('input').iCheck('check');
			}
		}
	});
	$('#check_page').on('ifClicked',function(e){
		if(!$('#check_page').prop('checked')){
			$("#m_list").children('tbody').find('input[type=checkbox]').iCheck('check');
		}else{
			$("#m_list").children('tbody').find('input[type=checkbox]').iCheck('uncheck');
		}
	});
	$("#mbackup_list").on("ifChecked",function(e){
		check_num++;
		$("#select_total").text(check_num);	
		if($("table tbody tr input:checked").length==$("#mbackup_list tr").length){
			$('#check_page').iCheck('check');
		}
	}).on("ifUnchecked",function(e){
		check_num--;
		$("#select_total").text(check_num);	
		$('#check_page').iCheck('uncheck');	
	});
	parent._switchBtn(1);//显示按钮
})

function manual_backup(){
	document.frm_mbackup.tasktype.value= 2;
	document.frm_mbackup.action = '/bhost/data_show';	
	document.frm_mbackup.submit();
}

function data_recovery(){
	document.frm_mbackup.tasktype.value= 3;
	document.frm_mbackup.action = '/bhost/data_show';
	document.frm_mbackup.submit();
}

function archiving_strategy(){
	document.frm_mbackup.tasktype.value= 1;
	document.frm_mbackup.action = '/bhost/data_show';
	document.frm_mbackup.submit();
}

//选中字段存储
function select_save(){
	$(">tr","#mbackup_list").each(function(){
		var input  = $(this).find("input[type='checkbox']");
		var select_item_pass =1;
		if($(input).is(':checked')){
			var select_item=$(">td",this).eq(1).text();
			if($.inArray(select_item,select_str)<0){
				select_str.push(select_item);
			}
		}else{
			var select_item=$(">td",this).eq(1).text();
			var index=$.inArray(select_item,select_str);
			if(index>=0){
				select_str.splice(index,1)
			}
		}
	});
	////console.log(select_str);
}
//check显示
function check_show(){
	$(">tr","#mbackup_list").each(function(){
		var input=$(this).find("input[type='checkbox']");
		var check_id=$(">td",this).eq(1).text();
		if($.inArray(check_id,select_str)>=0){
			$(input).iCheck('check');
		}
	});
}
//input回车触发事件
function showMsg(){
	var cur = $("#user_page").val();
	var totalpage = $("#totalpage")[0].textContent;
	cur = cur.replace(/\D/g, "");
	if (cur == '') {
		cur = '1'
	}
	if (parseInt(cur) < 1){
		$("#user_page").val(1);
		document.frm_mbackup.paging.value=1;
	}else{
		document.frm_mbackup.paging.value=cur;
	}
	show_mbackup_list();
}

function update_array(){
	var paging = document.frm_mbackup.paging.value;
	var page_num = MAX_PAGE;
	var tasktype = 0;
	$.ajax({
		url:'/bhost/get_lbackup_task',
		type:'post',
		async:false,
		data:{a0:$("input[name=se]").val(),a3:tasktype},
		success:function(result){
			var user_result = JSON.parse(result);
			if (user_result.Result){
				var user_data = user_result.info;
				var select_str_old=select_str;
				select_str=new Array();
				mbackup_array=user_data.data.map(function (params) {
					if($.inArray(params.TaskId+'',select_str_old)>=0){
						select_str.push(params.TaskId+'');
					}
					return params.TaskId+''
				});
			}
		}
	})
}

//以每页显示数显示列表函数
function show_mbackup_list(){
	update_array();
	var paging = document.frm_mbackup.paging.value;
	var page_num = MAX_PAGE;
	var tasktype = 0;
	$.ajax({
		url: "/bhost/get_lbackup_task",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val(),a1:page_num,a2:paging,a3:tasktype},
		success:function(result){
			var user_result = JSON.parse(result);
			if (user_result.Result==true){
				var user_data = user_result.info;
				var total_all = user_data.totalrow;
				$("#user_total").text(total_all);
				fenye=Math.ceil(total_all/page_num)||1;
				$("#totalpage").text(fenye);
				document.frm_mbackup.fenye.value=fenye;
				if(user_data.data=="" && paging!="1"){
					user_page(0.9);
				}else{
					document.frm_mbackup.total_all.value = total_all;
					if(total_all){
						$("#mbackup_list").empty();
						$("#mbackup_list").append(user_data.data.map(function (item) {
							var p1;
							var tar_1;
							switch (item.CancelStatus) {
								case 0: 
									p1 = "正常状态"; 
									tar_1='<a href="javascript:;" class="stop_icon s-hide" id="stop_icon" title="取消"></a>';
									break;
								case 1: 
									p1 = "取消状态"; 
									tar_1='<a href="javascript:;" class="stop_icon disabled s-hide" id="" title="取消"></a>';
									break;
							}
							if (item.Status == 0){
								var p = "队列中";
							}else if(item.Status == 1){
								var p = "执行中";
							}else if(item.Status == 2){
								var p = "成功";
								tar_1='<a href="javascript:;" class="stop_icon disabled s-hide" id="" title="取消"></a>';
							}else if(item.Status == 3){
								var p = "失败";
								tar_1='<a href="javascript:;" class="stop_icon disabled s-hide" id="" title="取消"></a>';
							}
							var str_tmp1 = item.SubmitTime;
							var str_tmp2 = item.StartTime + " 至 " + item.EndTime;
							
							var tab_1 = "<a href=\"javascript:;\" class=\"icon6\" id=\"download\" title=\"下载\" onclick=\"\"></a>";
							if (item.FileName == '' || item.FileName == null) {
								tab_1 = "<a href=\"javascript:;\" class=\"icon6 disabled\" id=\"\" title=\"下载\" onclick=\"\"></a>";
							}
							item.Memo = item.Memo || '';
							item.FileSize = item.FileSize || '';
							return "<tr>"+
								"<td class=\"in s-hide\"><input type=\"checkbox\" class=\"input_checkbox\" /></td>"+
								"<td style = \"display:none\">"+item.TaskId+"</td>"+
								"<td title=\"" + str_tmp1 + "\" "+first_style+">" + str_tmp1 + "</td>" +
								"<td title=\"" + str_tmp2 + "\" >" + str_tmp2 + "</td>" +
								"<td style = \"display:none\">" + item.FileName + "</td>" +
								"<td title=\"" + item.FileSize + "\" >" + item.FileSize + "</td>" +
								"<td title=\"" + p + "\" >" + p + "</td>" +
								// "<td title=\"" + p1 + "\" >" + p1 + "</td>" +
								"<td title=\"" + item.Memo + "\" >" + item.Memo + "</td>" +
								"<td id=\"on\"><div class=\"tab-ctr\" id=\"tab\">" +
								tar_1+
								tab_1 +
								"<a href=\"javascript:;\" class=\"del s-hide\" id=\"del\" title=\"删除\"  onclick=\"\"></a></div></td></tr>"
						}));
						if(if_disabled == '1') $('.s-hide').remove();
						$(".input_checkbox","#mbackup_list").iCheck({
							checkboxClass: 'icheckbox_minimal-blue',
							radioClass: 'iradio_minimal-blue',
							increaseArea: '0' // optional
						});
						
						if(paging>=fenye){
							paging=fenye;
						}
						document.frm_mbackup.paging.value=paging;
						document.getElementById("user_page").value=paging;
						$('#check_page').iCheck('uncheck');
						$("table tbody tr input").iCheck('uncheck');
						check_show();
						check_num=select_str.length;
						$("#select_total")[0].textContent = check_num;
					}
					else{
						$("#mbackup_list").empty();
						$("#select_total").text(0);
						$('#check_page').iCheck('uncheck');
						$("table tbody tr input").iCheck('uncheck');
						$("#user_total").text(total_all);
						$("#totalpage").text(1);
						document.getElementById("user_page").value=1;
					}	
				}
			}else{
				_alert(1,"数据归档",user_result.ErrMsg);
				$("#mbackup_list").empty();
				$("table tbody tr input").iCheck('uncheck');
				$('#check_page').iCheck('uncheck');
				$("#select_total").text(0);
				$("#user_total").text(0);
				$("#totalpage").text(1);
				document.getElementById("user_page").value=1;
				return false;
			}
		}
	});
}
//显示列表
$(document).ready(function(){
	show_mbackup_list();
})
//分页刷新
function user_page(num){
	var paging = parseInt(document.frm_mbackup.paging.value) + num;
	if (paging < 1) {
		paging = 1;
	} 
	select_save();
	if (num == 0.1) {
		paging = 1;
	} else if (num == 0.9) {
		paging = document.frm_mbackup.fenye.value;
	}
	document.getElementById("user_page").value=paging;
	document.frm_mbackup.paging.value=paging;
	show_mbackup_list();
}
//全选按钮
function select_all(){
	if (select_str.length==mbackup_array.length){
		select_str=new Array();
	}else{
		select_str=mbackup_array;
	}
	show_mbackup_list();
}
//刷新
function refresh(){
	select_str=new Array();
	show_mbackup_list();
}


function deleteItems(select_str_1,num){
	$.ajax({
		url: '/bhost/del_lbackup',
		type: "POST",
		async:false,
		data: {a0:$("input[name=se]").val(),a1:select_str_1,a2:'数据归档'},
		success: function(result) {
			var result = JSON.parse(result);
			if(result.Result == true){
				user_page(0);
				_alert(0,"自动归档","删除成功");
			}else{
				_alert(1,"自动归档",result.ErrMsg);	
				return false;
			}	
		}
	});
}
//删除按钮
function delete_lbackup(){
	select_save();
	if(select_str.length == 0){
		_alert(2,"自动归档","请选择要删除的数据");
		return false;
	}
	layer.open({
		type:1,
		title: '自动归档',
		content: '<div class="layer-alert"><i class="alert warning"></i>是否批量删除</div>',
		btn:['确&nbsp;&nbsp;认','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		yes:function(i){
			layer.close(i);
			deleteItems(select_str.join(','),2); 
		},
		no:function(i){
			layer.close(i);
		}
	});  
}
$(function(){

	$("#archiving_strategy").on("click",function(){
		archiving_strategy()
	});
	$("#manual_backup").on("click",function(){
		manual_backup()
	});
	$("#data_recovery").on("click",function(){
		data_recovery()
	});
	$("#auto_archiving").on("click",function(){
		location.reload();
	});

   });
</script>
{% endblock  %}
