
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<link rel="stylesheet" href="/manage/css/new-head.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>

	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>

</head>
<body style="overflow:hidden;display:none;" class="bg-white">
		<!--客户端IP集合表-->
		<div class="rwrap">
		<div class="c-top">
			<div class="c-title">
				<div class="manual-head" style="float:left;width:100px">
					<div class="manual-title" >
						<span id="client_set" style="cursor: pointer;">客户端集合</span>
						<i class="client_set_icon"></i>
					</div>
				</div>
				<div class="ctr">
					<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
				</div>
			</div>
		</div>
		<div class="mainer" name="client" id="client" >
			
			<div class="container">
				<div class="c-cont">
					<div class="c-wrap">
						<div class="c-table r-list">
							<div class="tab-t">
								<div class="ctr" style="width:288px;">
									<a href="javascript:;" class="btn btn-default perm_disabled" onclick="client_add();">创建</a>
									<a href="javascript:;" class="btn btn-default perm_disabled" onclick="delete_list();">删除</a>
									<a href="javascript:;" class="btn btn-default perm_disabled" onclick="click_all_list();">全选</a>
									<a href="javascript:;" class="btn btn-default" onclick="clear_all();">刷新</a>
								</div>
								<div class="filter">
									<div class="search">
										<select name="client_select" id="client_select" class="filter-select">
											<option value="all" selected>所有</option>
											<option value="ClientScopeName">名称</option>
											<!--<option value="IP">IP</option>-->
											<!--<option value="MAC">MAC</option>-->
										</select>

										<input type="text" style="/*display:none;*/padding-right: 22px;" 
										class="filter-text" placeholder="输入关键字" 
										name="client_text" id="client_text" maxlength="128"  
										onchange="if($('#client_text').val()==''){$('#client_text_check').hide();}else{$('#client_text_check').show();}"
										onkeyup="if($('#client_text').val()==''){$('#client_text_check').hide();}else{$('#client_text_check').show();}"
										onblur="if($('#client_text').val()=='' && search_typeall_new!=''){search_typeall_new='';_addFilter(this,false,1);}"
										onkeydown="if($('#client_text').val()==''){$('#client_text_check').hide();}else{$('#client_text_check').show();}; if (event.keyCode == 13){_addFilter(this,false);return false;} else return; ">
										<i class="v-check v-wrong" id="client_text_check" 
										onclick="_clearFilter(this,1)" 
										style="display:none;cursor: pointer;float: left;position: static;"></i>
										<button class="btn filter-btn" onclick="_addFilter(this,false);"><i class="add-filter"></i></button>
										<button class="btn filter-btn" onclick="_addFilter(this,true)"><i class="append-filter"></i></button>
									</div>
									<div class="search" id="clearFilter" style="margin: 0px 15px 0px -16px;display:none;">
										<button class="filter-btn" onclick="_clearFilter(this)"><i class="clear-filter"></i></button>
									</div>
									<div class="selector selector-multiple" id="filterWW" style="display:none;">
										<span class="ww">搜索条件</span>
										<ul>
										</ul>
									</div>
								</div>
							</div>
							<div class="box-table">
								<table cellpadding="0" cellspacing="0">
									<thead>
										<tr>
											<th class="perm_disabled" width="50"><input type="checkbox" class="form-checkbox" id="check_one_page"/></th>
											<th>名称</th>
											<th>IP地址</th>
											<th>IP区间</th>
											<th>MAC地址</th>
											<th>MAC区间</th>
											<th id="client_list_th" width="55"></th>
										</tr>
									</thead>

									<tbody name="client_list" id="client_list">
									</tbody>
								</table>
							</div>
							<div class="tab-i">
								<div class="il">
									每页显示<span id="page_nums">10</span>条 总数：<span id = "client_total">0</span><span class="perm_disabled">  选中：</span><span class="sum perm_disabled">0</span>
								</div>

								<div class="ipage">
									<a href="javascript:;" class="nav2 begin" id="client_begin" onclick="client_page(0.1);"><i></i></a>
									<a href="javascript:;" class="nav prev" id="client_prev" onclick="client_page(-1);"><i></i></a>
									<input type="text" id = "client_page" value="1" onblur="showMsg();" onchange="showMsg();">/&nbsp;<span id = "client_pages">1</span>
									<a href="javascript:;" class="nav next" id="client_next" onclick="client_page(1);"><i></i></a>
									<a href="javascript:;" class="nav2 end" id="client_end" onclick="client_page(0.9);"><i></i></a>
								</div>
							</div>
						</div>
						
						<div class="clearfix"></div>
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn" style="float: right;" onclick="save_client();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	<form action="/bhost/get_client_list" method="POST" name="frm_client" id="frm_client">
			<input type="hidden" name="tasktype" id = "tasktype" value="3" />
			<!--创建 编辑 列表-->
			<input type="hidden" name="clientId" id = "clientId" value="0" />
			<!--需要查询id-->
			<input type="hidden" name="paging" id = "paging" value="{{paging}}" />
			<!--页码-->
			<input type="hidden" name="search_typeall" id = "search_typeall" value="{{search_typeall}}" />
			<!--search_typeall-->
			<input type="hidden" name="e" id = "e" value="{{e}}" />
			<!--e-->
			<input type="hidden" name="se" id = "se" value="{{se}}" />
			<!--se-->
	</form>

<script>
	var perm={{perm}};
	if (perm==0) parent.parent.$('#nav-s1 a.active').click();
	else{
		$('.bg-white').show();
		if(perm==1){
			$('.perm_disabled').remove();
			$('#client_list_th').attr('width',25);
		}
	}
	$('.form-checkbox,.form-radio').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
	    radioClass: 'iradio_minimal-blue',
	    increaseArea: '0' // optional
	});
</script>


<script>
$('.filter-select').select2({minimumResultsForSearch: -1});
</script>

<script type="text/javascript">
var delect_str = new Array();
var check_num=0;
var client_array=null;
//总数
var fenye_r=0;
//总页码
var search_typeall_r=document.frm_client.search_typeall.value;
//关键字
function save_client()
{
	window.parent._closePage(null); 
}
$(function(){
	// document.frm_client.se.value=window.parent.document.frm.se.value;
	if(search_typeall_r!=""){
		var v1="";
		var id="";
		var str_new="";
		var search_typeall_str=search_typeall_r.split('\t');
		////console.log(search_typeall_str);
		$.each(search_typeall_str,function(i,item){
			if(item==""){
				return false;
			}
			var str_sea=item.split("-");
			////console.log('str_sea[0]'+str_sea[0]);
			v1=$('#client_select').find('option[value='+str_sea[0]+']').text();
			////console.log('v1'+v1);
			id=item;
			str_sea[0]=v1;
			str_new=str_sea.join('-');
			$('#filterWW>ul').append('<li><span style = "display:none">'+id+'</span><span class="ww">'+str_new+'</span><i class="del" onclick="_delFilter(this);"></i></li>');
			selView();
		});
	}
	var search_typeall_select=document.frm_client.e.value.substr(document.frm_client.e.value.indexOf(':')+1,document.frm_client.e.value.length-1);
	if(search_typeall_select!=''){
		var array=new Array();
		array[0]=search_typeall_select.substr(0,search_typeall_select.indexOf('-'));
		array[1]=search_typeall_select.substr(search_typeall_select.indexOf('-')+1,search_typeall_select.length);
		$('#client_select').val(array[0]).trigger('change');
		$('#client_text').val(array[1]);
		if(array[1]!=''){
			$('#client_text_check').show();
		}
	}
	//输入数字
	$("#client_page").bind('keydown', function(e){
		DigitInput(e);
	}).on("input propertychange", function () {				//防止在输入法开启的情况下输入非数字
		this.value = this.value.replace(/\D/g, "").trim();
	});
	//页码显示
	$("#page_nums").val(MAX_PAGE);
	//list show
	show_client_list();
	parent._switchBtn(1);//显示按钮
	var len = $('.apps .item',parent.document).length;
        if(len < 2) parent._switchBtn(0);

	//tr双击事件
	$("#client_list").on('dblclick','tr',function(e){
		x=e.target;
		var id=$(this).find("td");
		if(x.nodeName !='A' && x.nodeName !='INS'){
			var id=$(this).find("td");
			var edit_item=$(id).eq(1).text();
			document.frm_client.clientId.value=edit_item;
			document.frm_client.tasktype.value=2;
			document.frm_client.e.value=search_typeall_new+':'+$('#client_select').val()+'-'+$('#client_text').val();
			document.frm_client.action = '/bhost/client_handle';
			document.frm_client.search_typeall.value=search_typeall_r;	
			document.frm_client.submit();
		}
	}).on("click", "tr", function (e){  
		x=e.target;
		//删除按钮
		if(x.id == 'del'){
			var id=$(this).find("td");
			var input  = $(this).find("input"); 
			$('.btn').blur();parent.layer.open({
				type:1,
				title: '客户端集合',
				content: '<div class="layer-alert"><i class="alert warning"></i>是否删除</div>',
				btn:['删&nbsp;&nbsp;除','取&nbsp;&nbsp;消'],
				btnAlign:'c',
				closeBtn: false,
				skin:'layer-custom',
				area:['380px','310px'],
				move: false,
				resize: false,
				yes:function(i){
					parent.layer.close(i);
					var delete_item=$(id).eq(1).text();			
					// $(input).iCheck('uncheck');
					delete_fun(delete_item+'\t'+$(id).eq(2).text());
				}
			});
		}
		//编辑按钮
		if(x.id == 'edit'){
			var id=$(this).find("td");
			var edit_item=$(id).eq(1).text();
			document.frm_client.clientId.value=edit_item;
			document.frm_client.tasktype.value=2;
			document.frm_client.e.value=search_typeall_new+':'+$('#client_select').val()+'-'+$('#client_text').val();
			document.frm_client.search_typeall.value=search_typeall_r;	
			document.frm_client.action = '/bhost/client_handle';
			document.frm_client.submit();
		}
	});
	$('#check_one_page').on(' ifClicked',function(e){
		if(!$('#check_one_page').is(':checked')){
			$("table tbody tr input").iCheck('check');
		}else{
			$("table tbody tr input").iCheck('uncheck');
		}
		
	});
	$("#client_list").on("ifChecked",function(e){
		check_num++;
		$("span.sum").text(check_num);		
		if($("table tbody tr input:checked").length==$("table tbody tr").length){
			$('#check_one_page').iCheck('check');
		}
	}).on("ifUnchecked",function(e){
		check_num--;
		$("span.sum").text(check_num);	
		$('#check_one_page').iCheck('uncheck');	
	});
})
//显示创建页面
function client_add(){
	document.frm_client.tasktype.value=1;
	document.frm_client.clientId.value=0;
	document.frm_client.e.value=search_typeall_new+':'+$('#client_select').val()+'-'+$('#client_text').val();
	document.frm_client.search_typeall.value=search_typeall_r;
	document.frm_client.action = '/bhost/client_handle';
	document.frm_client.submit();
}
//刷新
function clear_all(){
	delect_str=new Array();
	show_client_list();
}

var search_typeall_new=document.frm_client.e.value.substr(0,document.frm_client.e.value.indexOf(':'));
String.prototype.ResetBlank=function(){
		var regEx = /\s+/g; 
		return this.replace(regEx, ' '); 
	};
function _addFilter(obj,type,type_num){
	var nameReg=/^[\u4e00-\u9fa5a-zA-Z\d_\-\.\s]+$/;
	var id = $(obj).parent().children('select').children('option:selected').val();
	var v1 = $(obj).parent().children('select').children('option:selected').text();
	if(id=='all'){
		v1='';
	}else{
		v1=v1+'-';
	}
	var v2 = $(obj).parent().children('input[type=text]').val().trim();
	v2=v2.ResetBlank();
	if(v2 == '' && type_num!=1){
		 $(obj).parent().children('input[type=text]').blur();
		_alert(2,'搜索','请输入关键字', $(obj).parent().children('input[type=text]'));
		return false;
	}
	// else
	{
		switch (id) {
			case 'ClientScopeName':
				var Reg=nameReg;
				break;
			case 'IP':
				var Reg=/(^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-4]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])$)/;
				break;
			case 'MAC':
				var Reg=/([A-Fa-f0-9]{2}:){5}[A-Fa-f0-9]{2}/;
				break;
		}
		if(id!='all' && !Reg.test(v2) && type_num!=1){
			$(obj).parent().children('input[type=text]').blur();
			_alert(1,'搜索','关键字格式不正确', $(obj).parent().children('input[type=text]'));
			return false;
		}
		if(id=='MAC' && v2.length!=17 && type_num!=1){
			$(obj).parent().children('input[type=text]').blur();
			_alert(1,'搜索','关键字格式不正确', $(obj).parent().children('input[type=text]'));
			return false;
		}
		if(search_typeall_r.indexOf(id+'-'+v2+'\t')>=0 && type_num!=1){
			$(obj).parent().children('input[type=text]').blur();
			_alert(2,'搜索','关键字重复', $(obj).parent().children('input[type=text]'));
			return false;
		}
		if(type){
			search_typeall_r=search_typeall_r+id+'-'+v2+'\t';
			search_typeall_new='';
			$('#filterWW>ul').append('<li><span style = "display:none">'+id+'-'+v2+'</span><span class="ww">'+v1+v2+'</span><i class="del" onclick="_delFilter(this);"></i></li>')
			$(obj).parent().children('input[type=text]').val('');
			$('#client_text_check').hide();
			selView();
		}else{
			if (type_num!=1) search_typeall_new=id+'-'+v2+'\t';
		}
	}
	document.frm_client.paging.value=1;
	delect_str=new Array();
	show_client_list();
}
function selView(){
	var $sel = $('#filterWW');
	var len = $('li',$sel).length;

	if(len == 0){
		$sel.hide();
		$('#clearFilter').hide();
	}else{
		$("#filterWW").show();
		$('#clearFilter').show();
		$('>span.ww',$sel).show();
		$sel.addClass('selector-multiple');
	}
}
function _delFilter(obj){
	var id = $(obj).parent().find("span");
	var ids=$(id).eq(0).text();
	search_typeall_r = search_typeall_r.replace(ids+'\t','');
	var client_text=$('#client_text').val().trim();
	if(client_text==''){
		search_typeall_new=='';
	}else{
		search_typeall_new=$('#client_select').val()+'-' +client_text+'\t';
	}
	$(obj).parent().remove();
	selView();
	document.frm_client.paging.value=1;
	delect_str=new Array();
	show_client_list();
}
function _clearFilter(obj,num){
	if(num==1){
		$('#client_text').val('');
	$('#client_text_check').hide();
	search_typeall_new='';
	document.frm_client.paging.value=1;
	delect_str=new Array();
	show_client_list();
		return;
	}
	$('#clearFilter').next().children('ul').empty();
	$('#client_text').val('');
	$('#clearFilter').hide();
	$('#client_text_check').hide();
	search_typeall_new='';
	search_typeall_r='';
	selView();
	document.frm_client.paging.value=1;
	delect_str=new Array();
	show_client_list();
}
//选中字段存储
function delect_save(){
	$(">tr","#client_list").each(function(){
		var input  = $(this).find("input[type='checkbox']");
		var delect_item=$(">td",this).eq(1).text()+'\t'+(perm==2?$(">td",this).eq(2).text():$(">td",this).eq(0).text());
		var index=$.inArray(delect_item,delect_str);
		if($(input).is(':checked')){
			if(index<0){
				delect_str.push(delect_item);
			}
		}else{
			if(index>=0){
				delect_str.splice(index,1);
			}
		}
	});
}
//check显示
function check_show(){
	$(">tr","#client_list").each(function(){
		var check_id=$(">td",this).eq(1).text()+'\t'+(perm==2?$(">td",this).eq(2).text():$(">td",this).eq(0).text());
		if($.inArray(check_id,delect_str)>=0){
			$(this).find("input").iCheck('check');
		}
	});
}
//input回车触发事件
function showMsg(){
	delect_save();
	var cur = $("#client_page").val();
	cur=cur.replace(/\D/g, "");
	if(cur=='' || parseInt(cur) < 1){
		cur=1;
	}
	$("#client_page").val(cur);
	document.frm_client.paging.value=cur;
	show_client_list();
}
//以每页显示数显示列表函数
function show_client_list(){
	update_all_list();
	var paging = document.frm_client.paging.value;
	var page_num = MAX_PAGE;
	var clientId=document.frm_client.clientId.value;
	var search_typeall=search_typeall_r+search_typeall_new;
	$.ajax({
		url: "/bhost/get_client_list",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val(),a4:page_num,a3:paging,a2:search_typeall,a1:clientId,dsc:true},
		success:function(result){
			var client_result = JSON.parse(result);
			if (client_result.Result==true){
				var client_data = client_result.info;
				var total_all = client_data.totalrow;
				fenye_r=Math.ceil(total_all/MAX_PAGE)||1;
				if(client_data.data=="" && paging!="1"){
					client_page(0.9);
				}else{
					if(total_all){
						$("#client_list").empty();
						$('#client_list').append(client_data.data.map(function (item) {
							if(item.ClientScopeName==null){
								item.ClientScopeName="";
							}
							var ip_str = "";//区间
							var ip_str1 = "";//地址
							var mac_str="";//地址
							var mac_str1="";//区间
							if(item.IPList!=null){
								$.each(item.IPList.Set,function(i1,item1){
									if(ip_str+item1.StartIP!=ip_str+item1.EndIP){
										ip_str = ip_str+item1.StartIP+"-"+item1.EndIP+"，";
									}else{
										ip_str1 = ip_str1+item1.StartIP+"，";
									}
									
								});
							}
							if(item.MACList!=null){
								$.each(item.MACList.Set,function(i1,item1){
									if(item1.StartMACAddress!=item1.EndMACAddress){
										mac_str1=mac_str1+item1.StartMACAddress+'-'+item1.EndMACAddress+'，';
									}else{
										mac_str = mac_str+item1.StartMACAddress+"，";
									}
								});
							}
							ip_str1=ip_str1.substr(0,ip_str1.length-1);
							ip_str=ip_str.substr(0,ip_str.length-1);
							mac_str=mac_str.substr(0,mac_str.length-1);
							mac_str1=mac_str1.substr(0,mac_str1.length-1);
							return "<tr>"+
							(perm==2?"<td class=\"in\"><input type=\"checkbox\" class=\"input_checkbox\" /></td>":"<td title='"+item.ClientScopeName+"'>"+item.ClientScopeName+"</td>")+
							"<td style = \"display:none\">"+item.ClientScopeId+"</td>"+
							(perm==2?"<td title='"+item.ClientScopeName+"'>"+item.ClientScopeName+"</td>":'')+
							"<td title='"+ip_str1+"'>"+ip_str1+"</td>"+
							"<td title='"+ip_str+"'>"+ip_str+"</td>"+
							"<td title='"+mac_str+"'>"+mac_str+"</td>"+
							"<td title='"+mac_str1+"'>"+mac_str1+"</td>"+
							"<td><div class=\"tab-ctr\">"+
							(perm==2?"<a href=\"javascript:;\" class=\"edit\" id=\"edit\" title='编辑'></a>":"<a href=\"javascript:;\" class=\"search_result\" id=\"edit\" title='查看'></a>")+
							(perm==2?"<a href=\"javascript:;\" class=\"del\" id=\"del\" title='删除'></a>":"")+
							"</div>"+
							"</td></tr>";
						}));
						$(".input_checkbox","#client_list").iCheck({
							checkboxClass: 'icheckbox_minimal-blue',
							radioClass: 'iradio_minimal-blue',
							increaseArea: '0' // optional
						});
						$("#client_total").text(total_all);
						if(paging>=fenye_r){
							paging=fenye_r;
						}
						document.frm_client.paging.value=paging;
						document.getElementById("client_page").value=paging;
						$("#client_pages").text(fenye_r);
						$('#check_one_page').iCheck('uncheck');
						$("table tbody tr input").iCheck('uncheck');
						check_show();
						check_num=delect_str.length;
						$("span.sum").text(check_num);
					}else{
						$("span.sum").text(0);
						$('#check_one_page').iCheck('uncheck');
						$("table tbody tr input").iCheck('uncheck');
						$("#client_list").empty();
						$("#client_total").text(total_all);
						$("#client_pages").text(1);
						document.frm_client.paging.value=1;
						fenye_r=1;
						document.getElementById("client_page").value=1;
					}	
				}
			}else{
				_alert(1,"客户端集合",client_result.ErrMsg);
				$('#check_one_page').iCheck('uncheck');
				$("table tbody tr input").iCheck('uncheck');
				$("span.sum").text(0);
				$("#client_total").text(0);
				$("#client_pages").text(1);
				document.frm_client.paging.value=1;
				fenye_r=1;
				document.getElementById("client_page").value=1;
				return false;
			}
		}
	});
	
}
//分页 and 刷新
function client_page(num){
	var paging=parseInt(document.frm_client.paging.value)+num;
	if(paging<1){
		paging=1;
	}
	delect_save();
	if (num == 0.1){
		paging = 1;
	}else if(num == 0.9){
		paging=fenye_r;
	}
	// document.getElementById("client_page").value=paging;
	document.frm_client.paging.value=paging;
	show_client_list();
}
function update_all_list() {
	var search_typeall=search_typeall_r+search_typeall_new;
	var clientId=document.frm_client.clientId.value;
	$.ajax({
		url: "/bhost/get_client_list",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val(),a2:search_typeall,a1:clientId,dsc:true},
		success:function(result){
			var client_result = JSON.parse(result);
			if (client_result.Result){
				var client_data = client_result.info;
				var delect_str_old=delect_str;
				delect_str=new Array();
				client_array=client_data.data.map(function (params) {
					if($.inArray(params.ClientScopeId+'\t'+params.ClientScopeName,delect_str_old)>=0){
						delect_str.push(params.ClientScopeId+'\t'+params.ClientScopeName);
					}
					return params.ClientScopeId+'\t'+params.ClientScopeName;
				});
			}else{
				_alert(1,'客户端集合',client_result.ErrMsg);
				return fasle;
			}
		}
	});
}
var click_all=false;
//全选按钮
function click_all_list(){
	delect_save();
	if(client_array.length==delect_str.length){
		delect_str=new Array();
	}else{
		delect_str=client_array;
	}
	show_client_list();
}
//删除函数
function delete_fun(delect_str_1){
	$.ajax({
		url: '/bhost/del_client',
		type: "POST",
		async:false,
		data: {a0:$("input[name=se]").val(),a1:delect_str_1},
		success: function(result) {
			var result = JSON.parse(result);
			if(result.Result == true){
				client_page(0);
				if(result.fail_num!=0){
					if (result.success_num!=0)
						_alert(0,"客户端集合","成功："+result.success_num+'，失败：'+result.fail_num);
					else
						if ((result.fail_num+result.success_num)==1)
							_alert(1,"客户端集合",result.ErrMsg);
						else
							_alert(0,"客户端集合",'失败：'+result.fail_num);
				}else{
					_alert(0,"客户端集合","删除成功");
				}
				// _alert(0,"客户端集合","删除成功");
			}else{
				client_page(0);
				_alert(1,"客户端集合",result.ErrMsg);
				return false;
			}	
		}
	});
}
//删除按钮
function delete_list(){
	delect_save();
	if(delect_str.length == 0){
		_alert(2,"客户端集合","请选择要删除的数据");
		return false;
	}
	//利用对话框返回的值 （true 或者 false） 
	$('.btn').blur();parent.layer.open({
		type:1,
		title: '客户端集合',
		content: '<div class="layer-alert"><i class="alert warning"></i>是否批量删除</div>',
		btn:['删&nbsp;&nbsp;除','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		yes:function(i){
			parent.layer.close(i);
			delete_fun(delect_str.join(',')); 
		}
	});
}
$(function(){
	
	$("#client_set").on("click",function(){
		parent.reload();
	});
        });

</script>
</body>
</html>
