{% extends "index.html" %}
{% block head %}
<script src="/manage/js/xSelect.js"></script>
<script src="/manage/js/jquery.jedate.min.js"></script>
<script src="/manage/js/underscore-1.8.2.min.js"></script>
<script src="/manage/js/base64.js"></script>

<link rel="stylesheet" href="/manage/css/jedate.css">
<link rel="stylesheet" href="/manage/css/G-style.css">
{% endblock %}
{% block main %}

		<div class="mainer">
			
			<div class="container" id="step1">
			
				<div class="c-top" id="device_title" style="">
					<div class="c-title">
						<!--
						<h3 class="tit" onclick="back(1);"><span>设备类型</span><i class="icon-device"></i></h3>
						-->
						<div class="manual-head" style="width:100px;float:left;">
							<div class="manual-title">
								<span id="cluster_back" style="cursor: pointer;">集群管理</span>
								<i class="jq_manager_icon"></i>
							</div>
						</div>
					</div>
				</div>
			
				<div class="c-cont">
					<div class="c-wrap" style="padding: 10px 0 0">
						<div class="c-exp" style="margin: -1px auto;">	
							
							<div class="h-explorer">							
								<div class="G-top" style="width:50%;float: left;">
				                	<div class="G-box1"></div>
									<strong>&nbsp;当前服务器</strong>			                				                	
				                </div>
								<div style="width:12%;float:right;    padding: 9px 0 0;">
									<select id="server_list" class="type-select" style="width:140px;float: right;" onchange="change_server(this);">
									</select>										
								</div>
								
								<div class="h-content2" id="content2_div" style="    height: 380px;width: 100%;overflow: hidden;padding: 14px 0 0;">
									<div class="form-item" style="">
										<span class="form-tag" style="width: 120px;">状态：</span>
										<i id="status_online" title="Online" style="float: left;" class="jq-status jq-status-1"></i>
										<span style="float: left;margin-top: 7px;">在线</span>
										<i id="status_offline" title="Offline" style="float: left;display:none;" class="jq-status jq-status-0"></i>
										<span style="float: left;display:none;margin-top: 7px;">离线</span>
										<div class="form-c" style="">
											<a href="javascript:;" style="margin-left: 149px;height: 26px;border-color: #AAA;" class="form-button" id="stop_btn" name="Time_button" onclick="change_cluster_status(0);">停用</a>
											<a href="javascript:;" style="margin-left: 149px;height: 26px;border-color: #AAA;display:none;" class="form-button" id="start_btn" name="Time_button" onclick="change_cluster_status(1);">启用</a>
										</div>
									</div>
									<div class="form-item" id="crm_div" style="display:none;">
										<span class="form-tag" style="width: 120px;">明细：</span>
										<a href="javascript:;" style="    margin-left: 9px;height: 26px;border-color: #AAA;margin-bottom: 10px;" id="cluster_flush" class="form-button"  onclick="cluster_status_info();">刷新</a>
										<div class="form-c" style="padding-left: 130px;">
											<textarea name="" id="crm_status" cols="80" rows="9"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="c-exp" style="margin: -1px auto;">
							<div class="h-explorer">
				                <div class="G-top">
				                	<div class="G-box1"></div><strong>&nbsp;当前数据库</strong>	
				                </div>
									<div class="h-content2" id="content3_div" style="height: 380px;width: 100%;overflow: hidden;padding: 14px 0 0;">
									<div class="form-item" style="">
										<span class="form-tag" style="width: 120px;">状态：</span>
										<i id="db_status_online" title="Online" style="float: left;" class="jq-status jq-status-1"></i>
										<span style="float: left;margin-top: 7px;">在线</span>
										<i id="db_status_offline" title="Offline" style="float: left;display:none;" class="jq-status jq-status-0"></i>
										<span style="float: left;display:none;margin-top: 7px;">离线</span>
										<div class="form-c" style="">
											<select name="" id="start_mode" class="type-select" style="width:140px;display:none;">
												<option value="1" selected >备模式</option>
												<option value="2" >主模式</option>
											</select>
											<a href="javascript:;" style="margin-left: 149px;height: 26px;border-color: #AAA;" class="form-button" id="db_stop_btn" name="Time_button" onclick="change_db_status(0);">停用</a>
											<a href="javascript:;" style="margin-left: 7px;height: 26px;border-color: #AAA;display:none;" class="form-button" id="db_start_btn" name="Time_button" onclick="change_db_status(1);">启用</a>
										</div>
										<div class="form-item" id="db_div" style="">
											<span class="form-tag" style="width: 120px;">明细：</span>
											<a href="javascript:;" style="    margin-left: 9px;height: 26px;border-color: #AAA;margin-bottom: 10px;" id="db_flush" class="form-button" onclick="db_status_info();">刷新</a>
											<div class="form-c" style="padding-left: 130px;">
												<textarea name="" id="db_status" cols="80" rows="9"></textarea>
											</div>
										</div>
									</div>
								</div>
				            </div>
						</div>
					</div>
				</div>
			</div>
		</div>	
{% endblock  %}

{% block script %}
<script>
$('.filter-select,.form-select').select2({minimumResultsForSearch: -1});
$('.type-select').select2();
var se = '123456';
var sets;
var is_master = '{{is_master}}';
var server_id='{{server_id}}';
var cluster_type = '{{cluster_type}}';
var server_list = {{server_list|safe}};
var ip = '{{ip}}';
var jsonp_flag = false;
var jsonp_ip = '';
$(function(){
	$('#server_list').empty();
	$(server_list).each(function(i,item){
		if(item.is_master == true) $('#server_list').append('<option _ip="'+item.ip+'" value="'+item.server_id+'" >服务器'+item.server_id+'（主机）</option>');
		else $('#server_list').append('<option _ip="'+item.ip+'" value="'+item.server_id+'" >服务器'+item.server_id+'（备机）</option>');
	})
	$('#server_list').val(server_id).trigger('change');

	$("#cluster_back").on("click",function(){
		location.href = location.href;
	});
	
	//sets = setInterval(function(){cluster_all();},10000);
	cluster_all();
})

function change_server(obj){
	var ip_t = $("#server_list option:selected").attr('_ip');
	if(ip_t == ip){
	}else{
		//"https://192.168.2.80/bhost/cluster_info?tasktype=0&a0=1554811801146"
		$.ajax({
			url: "/bhost/get_net_ip",
			type:"POST",
			async:true,
			data:{a0:se,i:ip_t},
			success:function(result){
				if(result ==''){
					_alert(1,'集群管理','无法切换到指定服务器');
					location.href = location.href;
					return ;
				}
				//top.location.href = location.protocol+'//' + result+'/bhost/index_cluster'
				location.href = location.protocol+'//' + result+'/bhost/cluster_info'
				//parent.$('#mainFrame').attr('src',location.protocol+'//' + result +location.pathname)
			}
		})
		
	}
}


function cluster_all(){
	$.ajax({
		url: "/bhost/cluster_all",
		type:"POST",
		async:true,
		data:{a0:se},
		success:function(result){
			var result = JSON.parse(result);
			if(result.Result){
				if(result.status_online == 2){ //服务器状态 启用
					$('#status_online').show();
					$('#status_online').next().show();
					$('#status_offline').hide();
					$('#status_offline').next().hide();
					$('#crm_div').show();
					$('#stop_btn').show();
					$('#start_btn').hide();	
					$('#content2_div').css("height","380px");
					$('#status_online').attr("class","jq-status jq-status-1");
				}else if(result.status_online == 1){
					$('#status_online').show();
					$('#status_online').next().show();
					$('#status_offline').hide();
					$('#status_offline').next().hide();
					$('#crm_div').show();
					$('#stop_btn').show();
					$('#start_btn').hide();	
					$('#content2_div').css("height","380px");
					$('#status_online').attr("class","jq-status jq-status-2");
				}else{
					$('#status_online').hide();
					$('#status_online').next().hide();
					$('#status_offline').show();
					$('#status_offline').next().show();
					$('#crm_div').hide();
					$('#stop_btn').hide();
					$('#start_btn').show();	
					$('#content2_div').css("height","110px");
				}
				
				if(result.db_status_online == 1){ //数据库状态 启用
					$('#db_status_online').show();
					$('#db_status_online').next().show();
					$('#db_status_offline').hide();
					$('#db_status_offline').next().hide();
					$('#db_stop_btn').show();
					$('#db_start_btn').hide();
					$('#start_mode').next().hide();	
				}else{
					$('#db_status_online').hide();
					$('#db_status_online').next().hide();
					$('#db_status_offline').show();
					$('#db_status_offline').next().show();
					$('#db_stop_btn').hide();
					$('#db_start_btn').show();
					$('#start_mode').next().show();	
				}
				
			}else{
				_alert(1,"集群管理",result.ErrMsg);
				//clearInterval(sets);
			}	
		}
	});
	//$('#start_mode').val('1').trigger('change');
	cluster_status_info();
	db_status_info();


}
function cluster_all_jsonp(){
	$.ajax({
		url: jsonp_ip+"/bhost/cluster_all",
		type:"POST",
		async:true,
		dataType: "jsonp", //指定服务器返回的数据类型
		data:{a0:se},
		success:function(result){
			var result = JSON.parse(result);
			if(result.Result){
				if(result.status_online == 2){ //服务器状态 启用
					$('#status_online').show();
					$('#status_online').next().show();
					$('#status_offline').hide();
					$('#status_offline').next().hide();
					$('#crm_div').show();
					$('#stop_btn').show();
					$('#start_btn').hide();	
					$('#content2_div').css("height","380px");
					$('#status_online').attr("class","jq-status jq-status-1");
				}else if(result.status_online == 1){
					$('#status_online').show();
					$('#status_online').next().show();
					$('#status_offline').hide();
					$('#status_offline').next().hide();
					$('#crm_div').show();
					$('#stop_btn').show();
					$('#start_btn').hide();	
					$('#content2_div').css("height","380px");
					$('#status_online').attr("class","jq-status jq-status-2");
				}else{
					$('#status_online').hide();
					$('#status_online').next().hide();
					$('#status_offline').show();
					$('#status_offline').next().show();
					$('#crm_div').hide();
					$('#stop_btn').hide();
					$('#start_btn').show();	
					$('#content2_div').css("height","110px");
				}
				
				if(result.db_status_online == 1){ //数据库状态 启用
					$('#db_status_online').show();
					$('#db_status_online').next().show();
					$('#db_status_offline').hide();
					$('#db_status_offline').next().hide();
					$('#db_stop_btn').show();
					$('#db_start_btn').hide();
					$('#start_mode').next().hide();	
				}else{
					$('#db_status_online').hide();
					$('#db_status_online').next().hide();
					$('#db_status_offline').show();
					$('#db_status_offline').next().show();
					$('#db_stop_btn').hide();
					$('#db_start_btn').show();
					$('#start_mode').next().show();	
				}
				
			}else{
				_alert(1,"集群管理",result.ErrMsg);
				//clearInterval(sets);
			}	
		}
	});
	//$('#start_mode').val('1').trigger('change');
	cluster_status_info_jsonp();
	db_status_info_jsonp();


}

function cluster_status_info(){
	$('#crm_status').html('');
	$.ajax({
		url: "/bhost/cluster_status_info",
		type:"POST",
		async:true,
		data:{a0:se},
		success:function(result){
			var result = JSON.parse(result);
			if(result.Result){
				$('#crm_status').html(result.crm_status);
			}else{
				_alert(1,"集群管理",result.ErrMsg);
				//clearInterval(sets);
			}	
		}
	});
}
function cluster_status_info_jsonp(){
	$('#crm_status').html('');
	$.ajax({
		url: jsonp_ip+"/bhost/cluster_status_info",
		type:"POST",
		async:true,
		data:{a0:se},
		dataType: "jsonp", //指定服务器返回的数据类型
		success:function(result){
			var result = JSON.parse(result);
			if(result.Result){
				$('#crm_status').html(result.crm_status);
			}else{
				_alert(1,"集群管理",result.ErrMsg);
				//clearInterval(sets);
			}	
		}
	});
}

var db_status_global = '';
var db_status_global_jsonp = '';
function db_status_info(){
	$.ajax({
		url: "/bhost/db_status_info",
		type:"POST",
		async:true,
		data:{a0:se},
		success:function(result){
			var result = JSON.parse(result);
			if(result.Result){
				db_status_global = result.db_status;
				$('#db_status').val(result.db_status);
			}else{
				_alert(1,"集群管理",result.ErrMsg);
				//clearInterval(sets);
			}	
		}
	});
}
function db_status_info_jsonp(){
	$.ajax({
		url: jsonp_ip+"/bhost/db_status_info",
		type:"POST",
		async:true,
		data:{a0:se},
		dataType: "jsonp", //指定服务器返回的数据类型
		success:function(result){
			var result = JSON.parse(result);
			if(result.Result){
				db_status_global_jsonp = result.db_status;
				$('#db_status').val(result.db_status);
			}else{
				_alert(1,"集群管理",result.ErrMsg);
				//clearInterval(sets);
			}	
		}
	});
}
function change_cluster_status(type){
	if(type == 0){ // 启用-》停用
		
		_showLoading('正在停用中，请稍后...');
		//
		$.ajax({
			url: "/bhost/cluster_status",
			type:"POST",
			async:true,
			data:{a0:se,t1:0},
			success:function(result){
				var result = JSON.parse(result);
				if(result.Result){
					_alert(0,"集群管理","操作成功");
					var count = 1;
					var limit_count = 60;
					var setinterval=setInterval(function(){
						if(count > limit_count){
							clearInterval(setinterval);
							_closeLoading();							
							 parent.layer.open({
								type: 1,
								title: '集群管理',
								content: '<div class="layer-alert"><i class="alert warning"></i>是否强制停用？</div>',
								btn: ['确&nbsp;&nbsp;定', '取&nbsp;&nbsp;消'],
								btnAlign: 'c',
								area: ['380px','310px'],
								yes: function(i) {									
									parent.layer.close(i);
									_showLoading('正在强制停用中，请稍后...');
									$.ajax({
										url: "/bhost/s_stop",
										type:"POST",
										async:true,
										success:function(result){
											var result = JSON.parse(result);
											if(result.Result){
												//_alert(0,"集群管理","操作成功");
												var count = 1;
												var limit_count = 30;
												var setinterval1=setInterval(function(){
													if(count > limit_count){
														clearInterval(setinterval1);
														_closeLoading();
														_alert(1,"集群管理","服务器停用失败");
														return false;
													}
													$.ajax({
														url: "/bhost/refresh_cluster",
														type:"POST",
														async:true,
														data:{a0:se,t1:0,u1:0},
														success:function(result){
															var result=JSON.parse(result);
															if(result.Result){
																if(result.info == 'succ'){
																	clearInterval(setinterval1);
																	_closeLoading();
																	$('#content2_div').css("height","110px");
																	$('#status_online').hide();
																	$('#status_online').next().hide();
																	$('#status_offline').show();
																	$('#status_offline').next().show();
																	$('#crm_div').hide();
																	$('#stop_btn').hide();
																	$('#start_btn').show();
																}
																
															}else{
																_alert(1,"集群管理",result.ErrMsg);
																clearInterval(setinterval1);
																_closeLoading();
																return false;
															}
															count = count  +1;
															
														}
													});
												}, 1000);				
											}
										}
									})
									
								},
								skin:'layer-custom'
							});
							return false;
						}
						$.ajax({
							url: "/bhost/refresh_cluster",
							type:"POST",
							async:true,
							data:{a0:se,t1:0,u1:0},
							success:function(result){
								var result=JSON.parse(result);
								if(result.Result){
									if(result.info == 'succ'){
										clearInterval(setinterval);
										_closeLoading();
										$('#content2_div').css("height","110px");
										$('#status_online').hide();
										$('#status_online').next().hide();
										$('#status_offline').show();
										$('#status_offline').next().show();
										$('#crm_div').hide();
										$('#stop_btn').hide();
										$('#start_btn').show();
									}
									
								}else{
									_alert(1,"集群管理",result.ErrMsg);
									clearInterval(setinterval);
									_closeLoading();
									return false;
								}
								count = count  +1;
								
							}
						});
					}, 1000);				
				}else{
					_alert(1,"集群管理",result.ErrMsg);
				}	
			}
		});
		
	}else{// 停用-》启用
		_showLoading('正在启用中，请稍后...');
		//
		$.ajax({
			url: "/bhost/cluster_status",
			type:"POST",
			async:true,
			data:{a0:se,t1:1},
			success:function(result){
				var result = JSON.parse(result);
				if(result.Result){
					_alert(0,"集群管理","操作成功");
					
					var count = 1;
					var setinterval=setInterval(function(){
						if(count > 30){
							clearInterval(setinterval);
							_closeLoading();
							_alert(1,"集群管理","服务器启用失败");
							return false;
						}
						$.ajax({
							url: "/bhost/refresh_cluster",
							type:"POST",
							async:true,
							data:{a0:se,t1:1,u1:0},
							success:function(result){
								var result=JSON.parse(result);
								if(result.Result){
									if(result.info == 'succ'){
										clearInterval(setinterval);
										_closeLoading();
										$('#content2_div').css("height","380px");
										$('#status_online').show();
										$('#status_online').next().show();
										$('#status_offline').hide();
										$('#status_offline').next().hide();
										$('#crm_div').show();
										$('#stop_btn').show();
										$('#start_btn').hide();
										cluster_status_info();
									}
									
								}else{
									_alert(1,"集群管理",result.ErrMsg);
									clearInterval(setinterval);
									_closeLoading();
									return false;
								}
								count = count  +1;
							}
						});
					}, 1000);				
				}else{
					_alert(1,"集群管理",result.ErrMsg);
				}	
			}
		});
	}
}

function change_cluster_status_jsonp(type){
	if(type == 0){ // 启用-》停用
		
		_showLoading('正在停用中，请稍后...');
		//
		$.ajax({
			url: jsonp_ip+"/bhost/cluster_status",
			type:"POST",
			async:true,
			data:{a0:se,t1:0},
			dataType: "jsonp", //指定服务器返回的数据类型
			success:function(result){
				var result = JSON.parse(result);
				if(result.Result){
					_alert(0,"集群管理","操作成功");
					var count = 1;
					var limit_count = 60;
					var setinterval=setInterval(function(){
						if(count > limit_count){
							clearInterval(setinterval);
							_closeLoading();							
							 parent.layer.open({
								type: 1,
								title: '集群管理',
								content: '<div class="layer-alert"><i class="alert warning"></i>是否强制停用？</div>',
								btn: ['确&nbsp;&nbsp;定', '取&nbsp;&nbsp;消'],
								btnAlign: 'c',
								area: ['380px','310px'],
								yes: function(i) {									
									parent.layer.close(i);
									_showLoading('正在强制停用中，请稍后...');
									$.ajax({
										url: jsonp_ip+"/bhost/s_stop",
										type:"POST",
										async:true,
										dataType: "jsonp", //指定服务器返回的数据类型
										success:function(result){
											var result = JSON.parse(result);
											if(result.Result){
												//_alert(0,"集群管理","操作成功");
												var count = 1;
												var limit_count = 30;
												var setinterval1=setInterval(function(){
													if(count > limit_count){
														clearInterval(setinterval1);
														_closeLoading();
														_alert(1,"集群管理","服务器停用失败");
														return false;
													}
													$.ajax({
														url: jsonp_ip+"/bhost/refresh_cluster",
														type:"POST",
														async:true,
														data:{a0:se,t1:0,u1:0},
														dataType: "jsonp", //指定服务器返回的数据类型
														success:function(result){
															var result=JSON.parse(result);
															if(result.Result){
																if(result.info == 'succ'){
																	clearInterval(setinterval1);
																	_closeLoading();
																	$('#content2_div').css("height","110px");
																	$('#status_online').hide();
																	$('#status_online').next().hide();
																	$('#status_offline').show();
																	$('#status_offline').next().show();
																	$('#crm_div').hide();
																	$('#stop_btn').hide();
																	$('#start_btn').show();
																}
																
															}else{
																_alert(1,"集群管理",result.ErrMsg);
																clearInterval(setinterval1);
																_closeLoading();
																return false;
															}
															count = count  +1;
															
														}
													});
												}, 1000);				
											}
										}
									})
									
								},
								skin:'layer-custom'
							});
							return false;
						}
						$.ajax({
							url: jsonp_ip+"/bhost/refresh_cluster",
							type:"POST",
							async:true,
							data:{a0:se,t1:0,u1:0},
							dataType: "jsonp", //指定服务器返回的数据类型
							success:function(result){
								var result=JSON.parse(result);
								if(result.Result){
									if(result.info == 'succ'){
										clearInterval(setinterval);
										_closeLoading();
										$('#content2_div').css("height","110px");
										$('#status_online').hide();
										$('#status_online').next().hide();
										$('#status_offline').show();
										$('#status_offline').next().show();
										$('#crm_div').hide();
										$('#stop_btn').hide();
										$('#start_btn').show();
									}
									
								}else{
									_alert(1,"集群管理",result.ErrMsg);
									clearInterval(setinterval);
									_closeLoading();
									return false;
								}
								count = count  +1;
								
							}
						});
					}, 1000);				
				}else{
					_alert(1,"集群管理",result.ErrMsg);
				}	
			}
		});
		
	}else{// 停用-》启用
		_showLoading('正在启用中，请稍后...');
		//
		$.ajax({
			url: jsonp_ip+"/bhost/cluster_status",
			type:"POST",
			async:true,
			data:{a0:se,t1:1},
			dataType: "jsonp", //指定服务器返回的数据类型
			success:function(result){
				var result = JSON.parse(result);
				if(result.Result){
					_alert(0,"集群管理","操作成功");
					
					var count = 1;
					var setinterval=setInterval(function(){
						if(count > 30){
							clearInterval(setinterval);
							_closeLoading();
							_alert(1,"集群管理","服务器启用失败");
							return false;
						}
						$.ajax({
							url: jsonp_ip+"/bhost/refresh_cluster",
							type:"POST",
							async:true,
							data:{a0:se,t1:1,u1:0},
							dataType: "jsonp", //指定服务器返回的数据类型
							success:function(result){
								var result=JSON.parse(result);
								if(result.Result){
									if(result.info == 'succ'){
										clearInterval(setinterval);
										_closeLoading();
										$('#content2_div').css("height","380px");
										$('#status_online').show();
										$('#status_online').next().show();
										$('#status_offline').hide();
										$('#status_offline').next().hide();
										$('#crm_div').show();
										$('#stop_btn').show();
										$('#start_btn').hide();
										cluster_status_info();
									}
									
								}else{
									_alert(1,"集群管理",result.ErrMsg);
									clearInterval(setinterval);
									_closeLoading();
									return false;
								}
								count = count  +1;
							}
						});
					}, 1000);				
				}else{
					_alert(1,"集群管理",result.ErrMsg);
				}	
			}
		});
	}
}

function change_db_status(type){
	if(type == 0){ // 启用-》停用
		
		_showLoading('正在停用中，请稍后...');
		//
		$.ajax({
			url: "/bhost/db_status_change",
			type:"POST",
			async:true,
			data:{a0:se,t1:0,u1:$('#start_mode').val()},
			success:function(result){
				var result = JSON.parse(result);
				if(result.Result){
					_alert(0,"集群管理","操作成功");
					
					var count = 1;
					var setinterval=setInterval(function(){
						/*
						if(count > 30){
							clearInterval(setinterval);
							_closeLoading();
							_alert(1,"集群管理","数据库停用失败");
							return false;
						}*/
						$.ajax({
							url: "/bhost/refresh_cluster",
							type:"POST",
							async:true,
							data:{a0:se,t1:0,u1:1},
							success:function(result){
								var result=JSON.parse(result);
								if(result.Result){
									if(result.info == 'succ'){
										clearInterval(setinterval);
										_closeLoading();
										$('#db_status_online').hide();
										$('#db_status_online').next().hide();
										$('#db_status_offline').show();
										$('#db_status_offline').next().show();
										$('#db_stop_btn').hide();
										$('#db_start_btn').show();
										$('#start_mode').next().show();
										db_status_info();
									}
									
								}else{
									_alert(1,"集群管理",result.ErrMsg);
									clearInterval(setinterval);
									_closeLoading();
									return false;
								}
								count = count  +1;
							}
						});
					}, 1000);
				}else{
					_alert(1,"集群管理",result.ErrMsg);
				}	
			}
		});
		
	}else{// 停用-》启用
			//
		_showLoading('正在启用中，请稍后...');
		$.ajax({
			url: "/bhost/db_status_change",
			type:"POST",
			async:true,
			data:{a0:se,t1:1,u1:$('#start_mode').val()},
			success:function(result){
				var result = JSON.parse(result);
				if(result.Result){
					_alert(0,"集群管理","操作成功");
					var count = 1;
					var setinterval=setInterval(function(){
						/*
						if(count > 600){
							clearInterval(setinterval);
							_closeLoading();
							_alert(1,"集群管理","数据库启用失败");
							return false;
						}*/
						db_status_info();
						$.ajax({
							url: "/bhost/refresh_cluster",
							type:"POST",
							async:true,
							data:{a0:se,t1:1,u1:1},
							success:function(result){
								var result=JSON.parse(result);
								if(result.Result){
									if(result.info == 'succ'){										
										_closeLoading();										
										if(db_status_global.indexOf('bhost cluster finish')>=0){
											cluster_all();
											clearInterval(setinterval);
										}
									}
									
								}else{
									_alert(1,"集群管理",result.ErrMsg);
									clearInterval(setinterval);
									_closeLoading();
									return false;
								}
								count = count  +1;
							}
						});
					}, 5000);
				}else{
					_alert(1,"集群管理",result.ErrMsg);
				}	
			}
		});
	
		
	}
}

function change_db_status_jsonp(type){
	if(type == 0){ // 启用-》停用
		
		_showLoading('正在停用中，请稍后...');
		//
		$.ajax({
			url: jsonp_ip+"/bhost/db_status_change",
			type:"POST",
			async:true,
			data:{a0:se,t1:0,u1:$('#start_mode').val()},
			dataType: "jsonp", //指定服务器返回的数据类型
			success:function(result){
				var result = JSON.parse(result);
				if(result.Result){
					_alert(0,"集群管理","操作成功");
					
					var count = 1;
					var setinterval=setInterval(function(){
						if(count > 30){
							clearInterval(setinterval);
							_closeLoading();
							_alert(1,"集群管理","数据库停用失败");
							return false;
						}
						
						
						$.ajax({
							url: "/bhost/refresh_cluster",
							type:"POST",
							async:true,
							data:{a0:se,t1:0,u1:1},
							dataType: "jsonp", //指定服务器返回的数据类型
							success:function(result){
								var result=JSON.parse(result);
								if(result.Result){
									if(result.info == 'succ'){
										clearInterval(setinterval);
										_closeLoading();
										$('#db_status_online').hide();
										$('#db_status_online').next().hide();
										$('#db_status_offline').show();
										$('#db_status_offline').next().show();
										$('#db_stop_btn').hide();
										$('#db_start_btn').show();
										$('#start_mode').next().show();
										db_status_info();
									}
									
								}else{
									_alert(1,"集群管理",result.ErrMsg);
									clearInterval(setinterval);
									_closeLoading();
									return false;
								}
								count = count  +1;
							}
						});
					}, 1000);
				}else{
					_alert(1,"集群管理",result.ErrMsg);
				}	
			}
		});
		
	}else{// 停用-》启用
			//
		_showLoading('正在启用中，请稍后...');
		$.ajax({
			url: "/bhost/db_status_change",
			type:"POST",
			async:true,
			data:{a0:se,t1:1,u1:$('#start_mode').val()},
			dataType: "jsonp", //指定服务器返回的数据类型
			success:function(result){
				var result = JSON.parse(result);
				if(result.Result){
					_alert(0,"集群管理","操作成功");
					var count = 1;
					var setinterval=setInterval(function(){
						if(count > 30){
							clearInterval(setinterval);
							_closeLoading();
							_alert(1,"集群管理","数据库启用失败");
							return false;
						}
						db_status_info();
						$.ajax({
							url: "/bhost/refresh_cluster",
							type:"POST",
							async:true,
							data:{a0:se,t1:1,u1:1},
							dataType: "jsonp", //指定服务器返回的数据类型
							success:function(result){
								var result=JSON.parse(result);
								if(result.Result){
									if(result.info == 'succ'){										
										_closeLoading();										
										if(db_status_global_jsonp.indexOf('bhost cluster finish')>=0){
											cluster_all();
											clearInterval(setinterval);
										}
									}
									
								}else{
									_alert(1,"集群管理",result.ErrMsg);
									clearInterval(setinterval);
									_closeLoading();
									return false;
								}
								count = count  +1;
							}
						});
					}, 5000);
				}else{
					_alert(1,"集群管理",result.ErrMsg);
				}	
			}
		});
	
		
	}
}

var loadLayer;
function _showLoading(st){
	loadLayer = parent.parent.layer.open({
		title:false,
		closeBtn:false,
		content:'<div id="Loading">'+st+'</div>',
		btn:false,
		skin:'loadingbar',
		area:['150px','180px'],
		move:false,
		resize:false,
		isOutAnim: false,
		shade:[0.1,'#000']
	})
}
function _closeLoading(){
	  parent.parent.layer.close(loadLayer);
}
function change_db(obj){
	/*
	if($(obj).val() == '1' || $(obj).val() == '2'){
		$('#db_div').hide();
		$('#content3_div').css("height","110px");
	}else{
		$('#db_div').show();
		$('#content3_div').css("height","380px");
	}*/
}
</script>
{% endblock  %}
</html>