<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=11;IE=10;IE=9; IE=8; IE=EDGE,chrome=1" />
	<title>Logbase运维安全集群管理系统</title>
	<!--<script type="text/javascript" src="/manage/js/jquery.min.js"></script>-->
	<script>
		var userAgent = navigator.userAgent;
		var ie8 = userAgent.indexOf('Trident/4.0');

		if(ie8 != -1){
			document.write('<script src="/manage/js/jquery-IE8.js"></' + 'script>');
		}else{
			document.write('<script src="/manage/js/jquery.min.js"></' + 'script>');
		}
	</script>
	<link rel="stylesheet" href="/manage/css/login.css" type="text/css">
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<script src="/manage/js/select2.full.min.js"></script>
	<script src="/manage/js/icheck.min.js"></script>
	<script src="/manage/js/jquery.plugin.js"></script>
	<script src="/manage/js/base64.js"></script>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<script type="text/javascript" src="/manage/js/dialog-plus.js"></script>
	<link rel="stylesheet" href="/manage/css/ui-dialog.css" type="text/css" />
	
	<link rel="stylesheet" href="/manage/css/G-style.css">
</head>
<body>
	<div class="login-wrap">
		<div class="login-box">
			<form action="/bhost/login_link_cluster" method="POST" name="frm">
			<input type="hidden" name="ha" value = "{{hash}}"/>
			<input type="hidden" name="a0" value = ""/>
			<div class="logo"><img src="/manage/images/login-logo-cluster.png" alt=""></div>
			
			<div class="form" id="loginForm">
			
				<div class="item item1">
					<i class="icon-u"></i><input type="text" name="uCode" id="uCode" onkeydown="return Query(event)" placeholder="账号" />
				</div>
				<div class="item item2">
					<i class="icon-pwd"></i><input type="password" name="passwd" id="passwd" onkeydown="return Query(event)" placeholder="密码" />
				</div>
				
			</div>
			</form>
			<div class="btn" id="login_btn">
				<button type="button" onclick="login()" class="login">登&emsp;录</button>
			</div>
		</div>
	</div>
	<div class="copyright">
		<p>Copyright &copy; 2005-2019 思福迪</p>
	</div>
<script>
function Query(evt){
	evt=(evt)?evt:((window.event)?window.event:""); 
	var key=evt.keyCode?evt.keyCode:evt.which;
	if(key==13 && $(".login").is(":visible")){
		login()
	}
}

function login(){
	var username = $("#uCode").val();
	var password = $("#passwd").val();
		
	$.ajax({
		url: "/bhost/gllogin",
		type:"POST",
		async:false,
		data:{a0:username, a1:encode64(password)},
		success:function(result){
			var loginStatus = JSON.parse(result);
			if(loginStatus.Result){
				if(set_session()) document.frm.submit();				
			}else{
				_alert(1,"用户登录",loginStatus.LoginMsg)
			}	
		}
	});
}
function set_session(){
	document.frm.a0.value='1554811801146';
	return true;
}
</script>

</body>
</html>

