<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>
	<link rel="stylesheet" href="/manage/css/new-head.css">
</head>
<body style="overflow:hidden;" class="bg-white">
		<!---->
		<div class="c-top">
			<div class="c-title">
				<!--
				<h3 onclick="parent.reload();">指令集合</h3>
				-->
				<div class="manual-head" style="width:100px;float:left;">
					<div class="manual-title">
						<span id="cmdset_reload" style="cursor:pointer;">指令集合</span>
						<i class="cmdset_icon"></i>
					</div>
				</div>
				<div class="ctr">
					<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
				</div>
			</div>
		</div>
		<div class="mainer">
			
			<div class="container1">
				<div class="c-cont">
					<div class="c-wrap">
						<div class="c-table r-list">
							<div class="tab-t">
								<div class="ctr" style="width:288px;">
									{%if 17 in manage_power_id %}
									<a href="javascript:;" class="btn btn-default" onclick="create_cmdset()">创建</a>
									<a href="javascript:;" class="btn btn-default" onclick="delete_all()">删除</a>
									<a href="javascript:;" class="btn btn-default" onclick="select_all()">全选</a>
									{%endif%}
									<a href="javascript:;" class="btn btn-default" onclick="refresh()">刷新</a>
									
								</div>
									
								<div class="filter">
									<div class="search">
										<select name="" id="filtername" class="filter-select" >
											<option value="0">所有</option>
											<option value="1">名称</option>
											<option value="2">描述</option>
											<option value="3">指令</option>
										</select>

										<input type="text" class="filter-text" id="keyword" placeholder="输入关键字" style="padding: 0 22px 0 4px;" onkeydown="if($('#keyword').val()==''){$('#text_check').hide();}else{$('#text_check').show();};if (event.keyCode == 13){_addFilter(this,false);return false;} else return;" onchange="if($('#keyword').val()==''){$('#text_check').hide();}else{$('#text_check').show();}" onkeyup="if($('#keyword').val()==''){$('#text_check').hide();}else{$('#text_check').show();}" onblur="change_input(this);">
										
										<i class="v-check v-wrong" id="text_check" onclick="_clear_keyword(this)" style="display:none;cursor: pointer;float: left;position: static;"></i>
										<button class="btn filter-btn" onclick="_addFilter(this,false)"><i class="add-filter"></i></button>
										<button class="btn filter-btn" onclick="_addFilter(this,true)"><i class="append-filter"></i></button>
									</div>
									<div class="search" id="clearFilter" style="margin: 0px 15px 0px -16px;display:none;">
										<button class="filter-btn" onclick="_clearFilter(this)"><i class="clear-filter"></i></button>
									</div>
									<div class="selector selector-multiple" id="filterWW" style="display:none;">
										<span class="ww">搜索条件</span>
										<ul>
											<!--li><span class="ww">关键字1</span><i class="del" onclick="_delFilter(this)"></i></li>
											<li><span class="ww">关键字2</span><i class="del" onclick="_delFilter(this)"></i></li>
											<li><span class="ww">关键字3</span><i class="del" onclick="_delFilter(this)"></i></li-->
										</ul>
									</div>
								</div>
							
							</div>
							<div class="box-table">
							<table cellpadding="0" cellspacing="0" id="cmdset_list">
								<thead>
									<tr>		
										<th width="50"><input type="checkbox" class="form-checkbox" id="check_page"/></th>
										<th>名称</th>
										<th>描述</th>
										<th>指令</th>
										{%if 17 in manage_power_id%}
										<th width="60"></th>
										{%else%}
										<th width="20"></th>
										{%endif%}
									</tr>
								</thead>

								<tbody>
									
								</tbody>
							</table>
							</div>
							<div class="tab-i">
								<div class="il">
									每页显示<span id="page_total">10</span>条 总数：<span id = "cmdset_total">25</span>  选中：<span id = "select_total">0</span>
									<!--
									每页显示
									<select name="" id="page">
										<option value="5">5</option>
										<option value="10">10</option>
										<option value="15">15</option>
									</select>
									条 总数：<span id = "cmdset_total">25</span>  选中：<span id = "select_total">0</span>-->
								</div>

								<div class="ipage">
									<a href="javascript:;" class="nav2 begin" onclick="firstpage()"><i></i></a>
									<a href="javascript:;" class="nav prev" onclick="prevpage()"><i></i></a>
									<input type="text" value="1" id="curpage" onchange="jumppage()">/&nbsp;<span id = "totalpage">25</span>
									<a href="javascript:;" class="nav next" onclick="nextpage()"><i></i></a>
									<a href="javascript:;" class="nav2 end" onclick="lastpage()"><i></i></a>
								</div>
							</div>
						</div>
						
						<div class="clearfix"></div>
						<!--
						<div class="btns">
							<a href="javascript:;" class="btn btn-cancel1 btn-normal" onclick="list_cancel()">返&nbsp;&nbsp;回</a>
						</div>
						-->
					</div>
				</div>
			</div>
			<div id="bBtn" style="position: fixed;">
				<a href="javascript:;" class="btn" style="float: right;" onclick="list_cancel();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
			</div>
		</div>
	<form action="/bhost/create_cmdset" method="POST" name="frm_cmdset" id="frm_cmdset">
		<input type="hidden" name="tasktype" id = "tasktype" value="" />
		<input type="hidden" name="a0" id = "a0" value="" />
		<input type="hidden" name="z1" id = "z1" value="" />		
		<input type="hidden" name="z2" id = "z2" value=""/>
		<input type="hidden" name="z3" id = "z3" value=""/>
		<input type="hidden" name="z4" id = "z4" value=""/>
		<input type="hidden" name="z5" id = "z5" value=""/>
		<input type="hidden" name="z6" id = "z6" value=""/>
	</form>
</body>
<style>

</style>

<script>
$('.filter-select').select2({minimumResultsForSearch: -1});
$('.form-checkbox,.form-radio').iCheck({
	checkboxClass: 'icheckbox_minimal-blue',
	radioClass: 'iradio_minimal-blue',
	increaseArea: '0' 
});
</script>


<script>
var selectid={{selectid|safe}};
var num=0;
var curid=[];
//var c_page="{{page}}";
var c_ipage="{{ipage}}";
var keyword_re = {{keyword|safe}};
var filter_flag = {{filter_flag}};
var se;
var manage_power_id = {{manage_power_id}};
var keyword_v = "";
$(function(){
	$("#cmdset_reload").on("click",function(){
		parent.reload();
	});
	$("#curpage").bind('keydown', function(e){
		DigitInput(e);
	});
	tabArr();
	se = window.parent.document.frm.se.value;
	if(c_ipage != "None"){
		$("#curpage").val(c_ipage);
	}
	if (keyword_re.length != 0){
		var key_len = keyword_re.length;
		var filter_value = 0;
		$.each(keyword_re,function(i,item){
			var filter = item.substring(0,2);
			if (filter_flag == 1){
				if (key_len == 1){
					if (filter == "所有"){
						filter_value = 0;
					}else if (filter == "名称"){
						filter_value = 1;
					}else if (filter == "描述"){
						filter_value = 2;
					}else if (filter == "指令"){
						filter_value = 3;
					}
					$("#filtername").val(filter_value).trigger('change');
					$("#keyword").val(item.substring(3));
					keyword_v = item;
					return false;
				}else{
					if (i+1 != key_len){
						if (filter == "所有"){
							filter_value = 0;
							var filter_v = item.substring(3);
						}else if (filter == "名称"){
							filter_value = 1;
							var filter_v = item;
						}else if (filter == "描述"){
							filter_value = 2;
							var filter_v = item;
						}else if (filter == "指令"){
							filter_value = 3;
							var filter_v = item;
						}
						$("#filterWW").show();
						$("#clearFilter").show();
						$("#filterWW ul").append("<li><span class=\"ww\" data-value=\""+item+"\">"+filter_v+"</span><i class=\"del\" onclick=\"_delFilter(this)\"></i></li>");
					}else{
						$("#keyword").val(item.substring(3));
						keyword_v = item;
					}
				}
				$("#keyword").focus();
				$("#text_check").show();
			}else{
				if (filter == "所有"){
					filter_value = 0;
					var filter_v = item.substring(3);
				}else if (filter == "名称"){
					filter_value = 1;
					var filter_v = item;
				}else if (filter == "描述"){
					filter_value = 2;
					var filter_v = item;
				}else if (filter == "指令"){
					filter_value = 3;
					var filter_v = item;
				}
				$("#filterWW").show();
				$("#clearFilter").show();
				$("#filterWW ul").append("<li><span class=\"ww\" data-value=\""+item+"\">"+filter_v+"</span><i class=\"del\" onclick=\"_delFilter(this)\"></i></li>");
			}
			
			if (i+1 == key_len){
				$("#filtername").val(filter_value).trigger('change');
			}
		});
		get_cmdset_list();
	}else{
		$("#filterWW").hide();
		//$("#keyword").hide();
		get_cmdset_list();
	}
	parent._switchBtn(1);//显示按钮
});

function select_all(){
	selectid=[];
	var num = 0;
	var cmdset_total = $("#cmdset_total").text();
	var select_total = $("#select_total").text();
	
	if (cmdset_total == select_total){
		$("#cmdset_list").find('input').iCheck('uncheck');
	}else{
		$.ajax({
			url:'/bhost/get_cmdset_list',
			type:"post",
			async:false,
			data:{a0:se,z4:"null",z5:"null",z6:JSON.stringify(keyword_re),dsc:true},
			success:function(result){
				var result = JSON.parse(result);
				$.each(result.data,function(i,item){
					selectid.push(item.CmdSetId);
				})
			}
		});
		
		$("#cmdset_list tbody input[type='checkbox']").each(function(){
			$(this).iCheck('check');
		});
	}
	num = selectid.length;
	$("#select_total").text(num);
}


function nextpage(){
	var cpage = $("#curpage").val(); 
	var total = $("#totalpage").text();
	var npage = 0;
	if (total == cpage){
		return;
	}else{
		npage = parseInt(cpage)+1;
	}
	$("#curpage").val(npage);
	get_cmdset_list();
}

function prevpage(){
	var cpage = $("#curpage").val();
	var ppage = 0;
	if (parseInt(cpage) == 1){
		return;
	}else{
		ppage = parseInt(cpage)-1;
	}
	$("#curpage").val(ppage);
	get_cmdset_list();
}

function firstpage(){
	$("#curpage").val(1);
	get_cmdset_list();
}

function lastpage(){
	var cpage = $("#curpage").val();
	var lpage = $("#totalpage").text();
	if (cpage == lpage){
		return;
	}
	$("#curpage").val(lpage);
	get_cmdset_list();
}

function jumppage(){
	var cur = $("#curpage").val();
	var numReg = /\D/;
        if (numReg.test(cur)){
            $("#curpage").val(1);
        }
	if (parseInt(cur) < 1 || cur == ""){
		$("#curpage").val(1);
	}
	get_cmdset_list();
}


function get_cmdset_list(){
    ipage = $("#curpage").val(); //页数
	curid=[];
    $.ajax({  
		url:'/bhost/get_cmdset_list',
		type:"post",
		async:false,
		data:{a0:se,z4:MAX_PAGE,z5:ipage,z6:JSON.stringify(keyword_re),dsc:true},
		success:function(result){
			cmdset_list = JSON.parse(result);
			$("#cmdset_list tbody").empty();
			$.each(cmdset_list.data,function(i,item){ 
				curid.push(item.CmdSetId);
				var temp = HTMLEncode(item.Content);
				var append_str = "";
				append_str += "<tr><td><input class=\"form-checkbox\" type=\"checkbox\" name=\""+item.Name+"\" value=\""+item.CmdSetId+"\"></td><td title=\""+item.Name+"\">"+item.Name+"</td><td title=\""+HTMLEncode(item.Description)+"\">"+HTMLEncode(item.Description)+"</td><td title=\""+temp+"\">"+temp+"</td><td><div class=\"tab-ctr\">";
				if (manage_power_id.indexOf(17) != -1){
					append_str += "<a href=\"javascript:;\" class=\"edit\" title=\"编辑\" onclick=\"edit_cmdset("+item.CmdSetId+")\"></a><a href=\"javascript:;\" title=\"删除\" class=\"del\" id=\"del\" onclick=\"delete_cmdset("+item.CmdSetId+")\"></a></div></td></tr>";
				}else{
					append_str += "<a href=\"javascript:;\" class=\"search_result\" title=\"查看\" onclick=\"edit_cmdset("+item.CmdSetId+")\"></a></div></td></tr>";
				}
				$("#cmdset_list tbody").append(append_str);
				//$("#cmdset_list tbody").append("<tr><td><input class=\"form-checkbox\" type=\"checkbox\" name=\""+item.Name+"\" value=\""+item.CmdSetId+"\"></td><td title=\""+item.Name+"\">"+item.Name+"</td><td title=\""+HTMLEncode(item.Description)+"\">"+HTMLEncode(item.Description)+"</td><td title=\""+temp+"\">"+temp+"</td><td><div class=\"tab-ctr\"><a href=\"javascript:;\" class=\"edit\" title=\"编辑\" onclick=\"edit_cmdset("+item.CmdSetId+")\"></a><a href=\"javascript:;\" title=\"删除\" class=\"del\" id=\"del\" onclick=\"delete_cmdset("+item.CmdSetId+")\"></a></div></td></tr>");     
				tabArr();
				$('.form-checkbox,.form-radio').iCheck({
					checkboxClass: 'icheckbox_minimal-blue',
					radioClass: 'iradio_minimal-blue',
					increaseArea: '0' 
				});
			});
        }
    });
    $("#cmdset_total").text(cmdset_list.totalrow);
	totalpage = Math.ceil(parseInt(cmdset_list.totalrow)/MAX_PAGE);
	if (totalpage < 1){
		totalpage = 1;
	}
	$("#totalpage").text(totalpage.toString());
	$("#page_total").text(MAX_PAGE);
	$('#check_page').iCheck('uncheck');

	var check_page_flag = 0;
	$("#cmdset_list tbody input[type='checkbox']").each(function(){
		if ($.inArray(parseInt(this.value), selectid) != -1){					
			$(this).iCheck('check');
			check_page_flag++;
		}
    });
	if (check_page_flag == $("#cmdset_list tbody input[type='checkbox']").length && check_page_flag != 0){
		$('#check_page').iCheck('check');
	}
	
	if (parseInt(ipage) > totalpage){
		$("#curpage").val(totalpage);
		get_cmdset_list();
	}

	/*
	$("#cmdset_list tbody >tr").unbind().bind("click",function(e){
		x=e.target;
		if (x.nodeName != 'A'){
			var input = $(this).find("input[type='checkbox']");
			if ($(input).prop('checked') == false && $(input).prop("disabled") == false){
				$(input).iCheck('check');
			}else{
				$(input).iCheck('uncheck');
			}
		}
	})
	*/
	$("#cmdset_list tbody >tr").bind("dblclick",function(e){
		x=e.target;
		if (x.nodeName != "INS"){
			$(this).children('td:last').find('.edit').click();
			$(this).children('td:last').find('.search_result').click();
		}
	});
	$('#check_page').on('ifClicked',function(e){
		if(!$('#check_page').prop('checked')){
			$("#cmdset_list").children('tbody').find('input[type=checkbox]').iCheck('check');
		}else{
			$("#cmdset_list").children('tbody').find('input[type=checkbox]').iCheck('uncheck');
		}
		
	});
	/*
	$("#cmdset_list tbody tr").click(function(){
		var input =$(this).find("input[type='checkbox']");
		if($(input).is(':checked')){  
			$(this).iCheck('uncheck');
		}else{  
			$(this).iCheck('check');
		}       
	})
	*/
	var flag_id = 0;
	/*
	if (curid.sort().toString() == selectid.sort().toString()){
		num = selectid.length;
		$("#select_total").text(num);
	}else{
		num = 0;
		for (var i=0; i< selectid.length; i++){
			if (curid.indexOf(selectid[i]) != -1){
					num++;
			}
		}
		$("#select_total").text(num);
	}
	*/
	num = selectid.length;
	$("#select_total").text(num);
	$("#cmdset_list tbody input[type='checkbox']").on("ifChecked",function(){
		num = $("#select_total").text();   
		num++;
		if (selectid.indexOf(parseInt(this.value)) == -1){
				selectid.push(parseInt(this.value))     
		}
		$("#select_total").text(num);
		if ($("#cmdset_list tbody").find('input[type=checkbox]:checked').length == $("#cmdset_list tbody input[type='checkbox']").length){
			$('#check_page').iCheck('check');
		}else{
			$('#check_page').iCheck('uncheck');
		}
	});
    $("#cmdset_list tbody input[type='checkbox']").on("ifUnchecked",function(){
		num = $("#select_total").text();
		num--;
		selectid.splice($.inArray(parseInt(this.value),selectid),1);
		$("#select_total").text(num); 
		if ($("#cmdset_list tbody").find('input[type=checkbox]:checked').length == $("#cmdset_list tbody input[type='checkbox']").length){
			$('#check_page').iCheck('check');
		}else{
			$('#check_page').iCheck('uncheck');
		}
    });
	
	
}

function delete_all(){
	if (selectid.length == 0){
		_alert(2,"指令集合","请选择要删除数据");
		return;
	}
	var id = JSON.stringify(selectid);
	$('.btn').blur();
	parent.layer.open({
		type:1,
		title:"指令集合",
		content:'<div class="layer-alert"><i class="alert warning"></i>是否批量删除</div>',
		btn:['确定','取消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		btn1:function(i){
			parent.layer.close(i);
			$("#select_total").text(0);
			deletecmdset(1,id);
			selectid=[];
			get_cmdset_list();
		},
		btn2:function(i){
			parent.layer.close(i);
		}
	});	
}

function delete_cmdset(id){
	var name = $("[value="+id+"]").prop('name');
	$('.btn').blur();
	parent.layer.open({
		type:1,
		title:"指令集合",
		content:'<div class="layer-alert"><i class="alert warning"></i>是否删除</div>',
		btn:['确定','取消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		btn1:function(i){
			parent.layer.close(i);
			deletecmdset(0,id);
			for (var i = 0; i < selectid.length; i++){      
				if (selectid[i] == parseInt(id)){
					num = $("#select_total").text();
					num = parseInt(num)-1;
					$("#select_total").text(num);
					selectid.splice($.inArray(parseInt(id),selectid),1);
					break;
				}
        		}
			get_cmdset_list();
		},
		btn2:function(i){
			 parent.layer.close(i);
		}
	});
}

function deletecmdset(type,id){
	$.ajax({
		url:'/bhost/delete_cmdset',
		type:'post',
		async:false,
		data:{a0:se,z10:type,z9:id},
		success:function(results){
			data = JSON.parse(results);
			if (data.Result == false){
				_alert(1,"指令集合","删除失败："+data.ErrMsg);
			}else{
				_alert(0,"指令集合","删除成功");
			}
		}
	});
}

function filter_change(){
	var name = $("#filtername").val();
	if (name == '0'){
		$("#keyword").hide();
        $("#filterWW").hide();
		$("#clearFilter").hide();
	}else{
		$("#keyword").show();
		$("#keyword").focus();
	}
}

String.prototype.ResetBlank=function(){
	var regEx = /\s+/g; 
	return this.replace(regEx, ' '); 
};

function _addFilter(obj,type){
	var keyword = $("#keyword").val().trim();
	var name = $("#filtername").val();
	var add = 0;
	var nameReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
	
	if (keyword == ""){
		$("#keyword").blur();
		_alert(2,"搜索","请输入关键字",$("#keyword"));
		return;
	}
	keyword = keyword.ResetBlank();
	var filter_v = "";
	if (name == "0"){
		filter_v = keyword;
		keyword = "所有-" + keyword;
	}else if (name == "1"){
		keyword = "名称-" + keyword;
		filter_v = keyword;
	}else if (name == "2"){
		keyword = "描述-" + keyword;
		filter_v = keyword;
	}else if (name == "3"){
		keyword = "指令-" + keyword;
		filter_v = keyword;
	}
	
	/*
	if (!nameReg.test(keyword)){
		$("#keyword").blur();
		_alert(2,"搜索","关键字格式不正确",$("#keyword"));
		return;
	}
	*/
	if (type){
		$("#filterWW li").each(function(i,item){
			var filter = $(item).find('.ww').text();
			if (filter == filter_v){
				$("#keyword").blur();
				_alert(2,"搜索","该搜索条件已存在",$("#keyword"));
				add = 1;
				return false;
			}
		});
		if (add == 1){
			return false;
		}
		if (add != 1){  //名称
			if (filter_flag == 1){
				keyword_re.splice(-1,1);
				filter_flag = 0;
			}
			$("#filterWW").show();
			$("#clearFilter").show();
			$("#filterWW ul").append("<li><span class=\"ww\" data-value=\""+keyword+"\">"+filter_v+"</span><i class=\"del\" onclick=\"_delFilter(this)\"></i></li>");
			keyword_re.push(keyword);
		}
		$("#keyword").val('');
		keyword_v = "";
		$("#text_check").hide();
	}else{
		if (filter_flag != 0){
			keyword_re.splice(-1,1);
		}
		filter_flag=1;
		keyword_re.push(keyword);
		keyword_v = keyword;
	}
	$("#keyword").focus();
	$("#curpage").val(1);
	selectid=[];
	get_cmdset_list();
}

function _clearFilter(obj){
	$("#filterWW").children('ul').empty();
	$("#filterWW").hide();
	$("#clearFilter").hide();
	keyword_re=[];
	$("#keyword").val('');
	$("#text_check").hide();
	keyword_v = "";
	filter_flag = 0;
	get_cmdset_list();
}

function _delFilter(obj){
	var filter_text = $(obj).parent().children('span').attr('data-value');
	$(obj).parent().remove();
	keyword_re.splice($.inArray(filter_text,keyword_re),1);
	if ($("#filterWW").children('ul').children('li').length == 0){
		$("#filterWW").hide();
		$("#clearFilter").hide();
	}
	get_cmdset_list();
}

function _clear_keyword(){
	$("#keyword").val("");
	$("#text_check").hide();
	if (keyword_v != ""){
		keyword_v = "";
		keyword_re.splice(-1,1);
		filter_flag = 0;
		get_cmdset_list();
	}
}

function change_input(obj){
	if ($(obj).val() == "" && keyword_v != ""){
		keyword_v = "";
		filter_flag = 0;
		keyword_re.splice(-1,1);
		get_cmdset_list();
	}
}

//创建
function create_cmdset(){	
	ipage = $("#curpage").val(); 
	document.frm_cmdset.action = '/bhost/create_cmdset';
	document.frm_cmdset.a0.value = se;
	document.frm_cmdset.tasktype.value = 0;
	document.frm_cmdset.z1.value = 0;
	document.frm_cmdset.z3.value = ipage;
	document.frm_cmdset.z4.value = JSON.stringify(keyword_re);
	document.frm_cmdset.z5.value = filter_flag;
	document.frm_cmdset.z6.value = JSON.stringify(selectid);
	document.frm_cmdset.submit();
}

//编辑
function edit_cmdset(id){
	var flag = 0;
	$.ajax({
		url:'/bhost/select_cmdset_all',
		type:'post',
		async:false,
		data:{a0:se,z8:id},
		success:function(result){
			result = JSON.parse(result);
			if (result.totalrow == "0"){
				_alert(1,"指令集合","该指令集合已删除")
				flag = 1;
			}
		}
	});
	if (flag == 1){
		refresh();
		return;
	}
	ipage = $("#curpage").val();
	var deliver = JSON.stringify(keyword_re);
	document.frm_cmdset.action='/bhost/create_cmdset';
	document.frm_cmdset.a0.value = se;
	document.frm_cmdset.z1.value = id;
	document.frm_cmdset.tasktype.value = 1;
	document.frm_cmdset.z3.value = ipage;
	document.frm_cmdset.z4.value = deliver;
	document.frm_cmdset.z5.value = filter_flag;
	document.frm_cmdset.z6.value = JSON.stringify(selectid);
	document.frm_cmdset.submit();	
}

function refresh(){
	selectid=[];
	$("#cmdset_list input[type='checkbox']").each(function(){                                 
		$(this).iCheck('uncheck');
	});
	$("#select_total").text(0);
	get_cmdset_list();
	return;
}


function list_cancel(){
	window.parent._closePage(null); 
}

</script>
