{% extends  "index.html" %}
{% block head %}
<!--icheck-->
        <script src="/manage/js/icheck.min.js"></script>
        <script src="/manage/js/select2.full.min.js"></script>
        <script src="/manage/js/common_e.js"></script>
        <link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
        <link rel="stylesheet" href="/manage/css/select2.min.css">
        <link rel="stylesheet" href="/manage/css/new-head.css">
{% endblock  %}
{% block main %}
<!---->
		<div class="mainer">	
			<div class="container1">
				<div class="c-top">
					<div class="c-title">
					<!--	<a href="javascript:;" onclick="config_backup()"><h3 class="unsel">配置备份</h3></a>
						<a href="javascript:;" onclick="refresh()"><h3>配置恢复</h3></a>
						<a href="javascript:;" onclick="backup_strategy()"><h3 class="unsel">自动备份策略</h3></a>	-->
						<div  class="manual-title-other title-item" onclick="config_backup()" style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);">
							<span id="config_backup">配置备份</span>
							<i  style="display: none;" ></i>
						</div>
						<div class="manual-title-other title-item"  onclick="refresh()" id="frist">
							<span id="config_recover">配置恢复</span>
							<i class="data_recover_icon"></i>
						</div>

						<!--<div class="manual-title-other title-item" onclick="backup_strategy()" style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);">
							<span id="backup_strategy">自动备份策略</span>
							<i  style="display: none;"></i>
						</div>-->

						<div class="ctr">
							<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
						</div>
					</div>
				</div>

				<div class="c-wrap">
						<div class="c-table">
							<div class="tab-t">
								<div class="ctr" style="width: 250px;">
									{% if _power_mode == 2%}
									<a href="javascript:;" class="btn btn-default btn-normal" onclick="select_all()">全选</a>
									<a href="javascript:;" class="btn btn-default btn-normal" onclick="delete_recover()">删除</a>
									{%endif%}
									<a href="javascript:;" class="btn btn-default btn-normal" onclick="refresh()">刷新</a>							
								</div>
								{% if _power_mode == 2%}
								<div class="ctr" style="float: right;width: auto;">
									<div id="filebox">
									<!--10-27-->
										<div style="float: left;padding-right: 20px;padding-top: 5px;" id="export_input_div">
											<span class="form-tag" style="font-size: 15px; margin-top: -6px;float: left;">覆盖网络设置：</span>
											<label style="float: left;"><input type="checkbox" id="export_input" value="" name="" class="form-checkbox"></label>
										</div>
										<a href="javascript:;" class="btn btn-default btn-normal" style="margin-right: 17px;" onclick="recover()">立即恢复</a>
										<a href="javascript:;" class="btn btn-default btn-normal" onclick="browse()">浏览</a>
										<span style="float: left;">
										    <form id="uploadRecoverFile">
												<input type="text" name="path" id="path" onclick="browse()" class="fileinputbox" contentEditable="false" style="width: 160px; height: 25px;opacity: 0; filter: alpha(opacity=0); position: absolute;cursor: pointer;"/>
												<input name="fname" type="text" id="fname" size="20" class="form-text" value="" />
												<input type="file" name="path1" id="path1" onchange="fileval(this)" class="fileinputbox" contentEditable="false" style="width: 160px; height: 25px;opacity: 0; filter: alpha(opacity=0); position: absolute;cursor: pointer;display: none;"/>
											</form>
										</span>
									</div>
								</div>
								{%endif%}

								<!-- <div class="filter">
									<div class="search">
										<select name="" id="filter_select" class="filter-select">
											<option value="0">所有</option>
											<option value="1">姓名</option>
										</select>

										<input type="text" class="filter-text" name="nm" id="nm" placeholder="输入关键字" >
										<button class="filter-btn" onclick="_addFilter(this);user_page(0.1)"><img src="/manage/images/search-icon.png"></button>
									</div>

									<div class="selector selector-multiple" id="filterWW" style="display: none;">
										<span class="ww">搜索条件</span>
										<ul>
										</ul>
									</div>
								</div> -->
							</div>
							<div class="box-table">
								<table cellpadding="0" cellspacing="0" id="r_list">
									<thead>
										<tr>
											{% if _power_mode == 2%}
											<th width="50"><input type="checkbox" class="form-checkbox" id="check_page"/></th>
											{%endif%}
											<th width="60">序&nbsp;&nbsp;号</th>
											<th>文件名</th>
											<th>恢复时间</th>
											<th width="80">状态</th>
											{% if _power_mode == 2%}
											<th width="30"></th>
											{%else%}
											<th width="1"></th>
											{%endif%}
										</tr>
									</thead>

									<tbody name="recover_list" id="recover_list">
									</tbody>
								</table>
							</div>
							<div class="tab-i">
								<div class="il">每页显示10条 总数：
								<span id = "user_total">25</span>  选中：
								<span id="select_total">0</span>
								</div>

								<div class="ipage">
									<a href="javascript:;" class="nav2 begin" id="begin" onclick="user_page(0.1)"><i></i></a>
									<a href="javascript:;" class="nav prev" id="prev" onclick="user_page(-1)" ><i></i></a>
									<input type="text" value="1" id="user_page" onchange="showMsg()">/&nbsp;<span id="totalpage">25</span>
									<a href="javascript:;" class="nav next" id="next" onclick="user_page(1)" ><i></i></a>
									<a href="javascript:;" class="nav2 end" id="end" onclick="user_page(0.9)" ><i></i></a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<!--
						<div class="btns">
							<a href="javascript:;" class="btn btn-cancel btn-normal">返&nbsp;&nbsp;回</a>
						</div>
						-->
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn btn-cancel" style="float: right;" ><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
			</div>
		</div>

	<form action="/bhost/recover_list" method="POST" name="frm_recover" id="frm_recover">
			<input type="hidden" name="tasktype" id = "tasktype" value="" />
			<!--创建 编辑 列表-->
			<input type="hidden" name="page_num" id = "page_num" value="10" />
			<!--每页显示数-->
			<input type="hidden" name="total_all" id = "total_all" value="" />
			<!--总数-->
			<input type="hidden" name="paging" id = "paging" value="1" />
			<!--页码-->
			<input type="hidden" name="search_typeall" id = "search_typeall" value="" />
			<!--查询要求，查询内容，查询类型-->
			<input type="hidden" name="userid" id = "userid" value="" />
			<!--需要查询的id-->
			<input type="hidden" name="fenye" id = "fenye" value="" />
			<!--总页数-->
			<input type="hidden" name="user" id = "user" value="lh" />
			<input type="hidden" name="a0" value="{{se}}" />
	</form>

{%  endblock  %}
{%  block script %}

<style>
.tab-t .ctr {
    float: left;
    width: 350px;
}
.form-text {
    display: inline-block;
    width: 128px;
    height: 24px;
    padding: 0 22px 0 8px;
    border: 1px solid #8d808a;
    border-radius: 5px;
    vertical-align: middle;
}
</style>

<script type="text/javascript">
var select_str = "";
var check_num = 0;
var recover_array=null;
var sess = window.parent.document.frm.se.value;
var if_disabled = "{{_power_mode}}";
var first_style = '';
$(function(){
	if(if_disabled =='1'){
		first_style="style=\"border-left: 1px solid #FFF;\"";
	}
    $('.form-checkbox,.form-radio').iCheck({
        checkboxClass:'icheckbox_minimal-blue',
        radioClass:'iradio_minimal-blue',
        increaseArea:'0'
    });
	$('div.cbi-tag input[type=checkbox]').on('ifChecked',function(){
		var $s = $(this).parents('div.cbi-tag').next('div.cbi-sel');
		$s.show();
		_checkAllStatus(this);
	}).on('ifUnchecked',function(){
		var $s = $(this).parents('div.cbi-tag').next('div.cbi-sel');
		$s.hide();
		_checkAllStatus(this);
	});

	$('div.cbi-t input[type=checkbox]').on('ifChecked',function(){
		var $d = $(this).parents('div.cbi-t').next('div.cbi-cont');
		$('input[type=checkbox]',$d).iCheck('check');
	}).on('ifUnchecked',function(){
		var $d = $(this).parents('div.cbi-t').next('div.cbi-cont');
		$('input[type=checkbox]',$d).iCheck('uncheck');
	});
	_checkStatus();
    $("a.btn-cancel").unbind().bind("click",function(){
 		window.parent._closePage(null);
    });
	$("#recover_list").on('dblclick','tr',function(e){
		x=e.target;
		if (x.nodeName != "INS"){
			$(this).children('td:last').find('.edit').click();
		}
	}).on("click", "tr", function (e){  
		x=e.target;
	});
	$('#check_page').on('ifClicked',function(e){
		if(!$('#check_page').prop('checked')){
			$("#r_list").children('tbody').find('input[type=checkbox]:enabled').iCheck('check');
		}else{
			$("#r_list").children('tbody').find('input[type=checkbox]').iCheck('uncheck');
		}
	});
	$("#recover_list").on("ifChecked",function(e){
		check_num++;
		$("#select_total").text(check_num);	
		if($("table tbody tr").children("td.in").children("div").children("input:checked").length==$("#recover_list tr").find('input[type=checkbox]:enabled').length){
			$('#check_page').iCheck('check');
		}
	}).on("ifUnchecked",function(e){
		check_num--;
		$("#select_total").text(check_num);	
		$('#check_page').iCheck('uncheck');	
	});
	parent._switchBtn(1);//显示按钮
})
function config_backup(){
	document.frm_recover.tasktype.value= 1;
	document.frm_recover.action = '/bhost/config_show';
	// document.frm_recover.d.value=search_typeall_r;	
	document.frm_recover.submit();
}
function backup_strategy(){
	document.frm_recover.tasktype.value= 3;
	document.frm_recover.action = '/bhost/config_show';
	// document.frm_recover.d.value=search_typeall_r;	
	document.frm_recover.submit();
}

function BackRolemanage(){
	$(".container1").show();
	$(".container").hide();
}

function recover(){
	var fname = $("#fname").val();
	////console.log("fname:"+ fname);

	if (fname == ""){
		_alert(2,"配置恢复","请选择文件");
		return false;
	}
	var filename=fname.substr(fname.length-7);
	if (!/.config/ig.test(filename)){
		_alert(1,"配置恢复","上传文件格式不正确，只支持.config格式文件");
		$('#path').val('');
		$('#fname').val('');
		return false;
	}
	////console.log("path:"+$('#path').val());
	var jsondata={
        "LogRecoveryTaskId": 0,    
        "FileName": "abc.txt",
        "Status": 3,
		"Ignore":null    
	}
	if(!$('#export_input').is(':checked')){
		jsondata.Ignore=1;
	}
	jsondata.FileName = fname;
	var formData = new FormData($("#uploadRecoverFile")[0]);
	formData.append('a0',sess);
	formData.append('jsondata',JSON.stringify(jsondata));
	formData.append('a99',use_BH);
	var msstr = aceg(JSON.stringify(jsondata),sess);
	formData.append('m1',msstr);
	
	
	$.ajax({
		url:"/bhost/save_recover",
		type:"POST",
		data:formData,
		async:false,
		cache:false,
		contentType: false,
		processData: false,
		success:function(Result){
			data = JSON.parse(Result);
			if (data.Result){
				_alert(0,"配置恢复",'保存成功');
				refresh();
			}
			else{
				_alert(1,"配置恢复",data.ErrMsg);
			}
		}
	})
	$("#path").attr("value","");
	$("#path").val("");
	$("#fname").attr("value","");
	$("#fname").val("");
	show_recover_list();
}

function fileval(obj){
	var filename = $(obj).val();
	var f1 = filename.split("\\");
	filename = f1[f1.length-1];
	////console.log('fileval-filename:'+filename);
	$("input[type=text]",$(obj).parent()).val(filename);
}

function _checkStatus(){
	$('div.cbi-tag input[type=checkbox]').each(function(){
		var c = $(this).prop('checked');
		var $s = $(this).parents('div.cbi-tag').next('div.cbi-sel');
		if(c){
			$s.show();
		}else{
			$s.hide();
		}
	});
}
//编辑页面全选
function _checkAllStatus(obj){
	var $c = $(obj).parents('div.cbi-cont');
	var len = $('div.cbi-s',$c).length, clen = $('input[type=checkbox]:checked',$c).length;
	var $i = $c.prev('div.cbi-t').find('input[type=checkbox]');
	if(len != clen){
		$i.prop('checked',false);
		$i.parent().removeClass('checked');
	}else{
		$i.prop('checked',true);
		$i.parent().addClass('checked');
	}		
}
//选中字段存储
function select_save(){
	var select_str_s=select_str.split(",");
	if(select_str_s[select_str_s.length-1] == ""){
		select_str_s.splice(select_str_s.length-1,1);
	}
	$(">tr","#recover_list").each(function(){
		var input  = $(this).find("input[type='checkbox']");
		var select_item=$(">td",this).eq(1).text();
		if($(input).is(':checked')){
			if($.inArray(select_item,select_str_s)<0){
				// select_str=select_str+select_item+",";
				select_str_s.push(select_item);
			}
		}else{
			var index_d=$.inArray(select_item,select_str_s);
			if(index_d>=0){
				// select_str=select_str+select_item+",";
				select_str_s.slice(index_d,1);
			}
		}
	});
	select_str=select_str_s.join(',')+',';
	////console.log(select_str);
}
//check显示
function check_show(){
	$(">tr","#recover_list").each(function(){
		var input=$(this).find("input[type='checkbox']");
		var select_str_s=select_str.split(",");
		var check_id=$(">td",this).eq(1).text();
		$.each(select_str_s,function(i,item){
			if(item==check_id){
				$(input).iCheck('check');
				return false;
			}
		});
	});
}
//input回车触发事件
function showMsg(){
	var cur = $("#user_page").val();
	var totalpage = $("#totalpage")[0].textContent;
	if (parseInt(cur) < 1){
		$("#user_page").val(1);
		document.frm_recover.paging.value=1;
	}else if(parseInt(cur) > parseInt(totalpage)){
		document.frm_recover.paging.value=totalpage;
	}else{
		document.frm_recover.paging.value=cur;
	}
	show_recover_list();
}

function update_array(){

	var paging = document.frm_recover.paging.value;
	var page_num = MAX_PAGE;
	$.ajax({
		url:'/bhost/get_recover_list1',
		type:'post',
		async:false,
		data:{a0:sess,a1:page_num,a2:paging},
		success:function(result){
			var user_result = JSON.parse(result);
			if (user_result.Result){
				var user_data = user_result.info;
				recover_array=user_data.data.filter(function (params) {
					return params.Status!=0;
				});
				if(select_str!=''){
					var select_str_s=select_str.split(',');
					if(select_str_s[select_str_s.length-1] == ""){
						select_str_s.splice(select_str_s.length-1,1);
					}
					select_str='';
					$.each(select_str_s,function(i,item){
						item=parseInt(item);
						$.each(recover_array,function(i1,item1){
							if(item1.ConfigRecoveryTaskId==item){
								select_str=select_str+item+',';
								return false;
							}
						});
					});
					////console.log(select_str);
				}
			}
		}
	})
}

function selView(){
	var $sel = $('#filterWW');
	var len = $('li',$sel).length;

	if(len == 0){
		$sel.hide();
	}else if(len == 1){
		$("#filterWW").show();
		$('>span.ww',$sel).show();
		$sel.addClass('selector-multiple');
	}else{
		$("#filterWW").show();
		$('>span.ww',$sel).show();
		$sel.addClass('selector-multiple');
	}
}
//每页显示数
function show_page_num(){
	select_save();
	var page_nums = document.getElementById("page_nums");
	var num = page_nums.options[page_nums.selectedIndex].value;
	document.frm_recover.page_num.value=num;
	document.frm_recover.paging.value=1;
	show_recover_list();
}

//以每页显示数显示列表函数
function show_recover_list(){

	var paging = document.frm_recover.paging.value;
	var page_num = MAX_PAGE;
	$.ajax({
		url: "/bhost/get_recover_list",
		type:"POST",
		async:false,
		data:{a0:sess,a1:page_num,a2:paging},
		success:function(result){
			var user_result = JSON.parse(result);
			if (user_result.Result==true){
				var user_data = user_result.info;
				var total_all = user_data.totalrow;
				if(user_data.data=="" && paging!="1"){
					user_page(-1);
				}else{
					total = 0;
					total_num = (parseInt(paging)-1)*10;
					document.frm_recover.total_all.value = total_all;
					if(total_all){
						$("#recover_list").empty();
							$.each(user_data.data,function(i,item){
								if (total<page_num){
									total++;
									total_num++;
									var date = item.SubmitTime.split('T')[0];
									var time = item.SubmitTime.split('T')[1];
									var str_tmp = date +"&nbsp;&nbsp;&nbsp;&nbsp;"+time;
									item.SubmitTime=item.SubmitTime.replace(/T/g,' ');
									var Status_value='';
									switch (item.Status) {
										case 0:
											Status_value='恢复中';
											break;
										case 1:
											Status_value='恢复完成';
											break;
										case 2:
											Status_value='恢复失败';
											break;
										case 3:
											Status_value='队列中';
											break;
									}
									$("#recover_list").append("<tr>"+
									"<td class=\"in s-hide\"><input type=\"checkbox\" class=\"input_checkbox\" "+(item.Status != 0?"":"disabled")+"/></td>"+
									"<td style = \"display:none\">"+item.ConfigRecoveryTaskId+"</td>"+
									"<td "+first_style+"><title=\""+total_num+"\" style=\"width:200px;\">"+total_num+"</div></td>"+
									"<td style = \"display:none\">"+item.ConfigRecoveryTaskId+"</td>"+
									"<td><title=\""+item.FileName+"\" style=\"\">"+item.FileName+"</div></td>"+
									"<td><title=\""+item.SubmitTime+"\" style=\"\">"+item.SubmitTime+"</div></td>"+
									"<td><title=\""+Status_value+"\" style=\"\">"+Status_value+"</div></td>"+
									"<td id=\"on\"><div class=\"tab-ctr\" id=\"tab\"><a href=\"javascript:;\" class=\"del s-hide "+(item.Status != 0?"":" disabled")+"\" id=\"del\"  title=\"删除\" onclick=\""+(item.Status != 0?"delete_fun("+item.ConfigRecoveryTaskId+")":"")+"\"></a></div></div></td></tr>");
								}
							})
						tabArr();		
						if(if_disabled == '1') $('.s-hide').remove();
						$(".input_checkbox","#recover_list").iCheck({
							checkboxClass: 'icheckbox_minimal-blue',
							radioClass: 'iradio_minimal-blue',
							increaseArea: '0' // optional
						});
						$("#user_total").text(total_all);
						if(total_all % page_num == 0){
							fenye = parseInt(total_all/page_num)
						}else{
							fenye = parseInt(total_all/page_num+1)
						}
						if(paging>=fenye){
							paging=fenye;
						}
						document.frm_recover.paging.value=paging;
						document.getElementById("user_page").value=paging;
						$("#totalpage").text(fenye);
						document.frm_recover.fenye.value=fenye;
						$('#check_page').iCheck('uncheck');
						$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
						check_show();
						var select_str_s=select_str.split(",");
						check_num=select_str_s.length-1;
						$("#select_total")[0].textContent = check_num;
					}
					else{
						$("table").next("div.tab-i").children("div.il").find("span.select_total").text(0);
						$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
						$("#recover_list").empty();
						$("#user_total").text(total_all);
						$("#totalpage").text(1);
						document.getElementById("user_page").value=1;
					}	
				}
			}else{
				_alert(1,"配置恢复",user_result.info);
				$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
				$("table").next("div.tab-i").children("div.il").find("span.select_total").text(0);
				$("#user_total").text(0);
				$("#totalpage").text(1);
				document.getElementById("user_page").value=1;
				return false;
			}
		}
	});
	update_array();
}
//显示列表
$(document).ready(function(){
	$("#page_nums option:eq(10)").prop("selected",true);
	show_recover_list();
})
//分页刷新
function user_page(num){
	var paging=parseInt(document.frm_recover.paging.value)+num;
	if(paging==0){
		paging=1
		//return false;
	}
	select_save();
	var recover_list_s = [];
	if (num == 0.1){
		paging = 1;
	}else if(num == 0.9){
		paging = document.frm_recover.fenye.value;
	}
	// $("table").next("div.tab-i").children("div.il").find("span.select_total").text(0);
	document.getElementById("user_page").value=paging;
	document.frm_recover.paging.value=paging;
	show_recover_list();
}
//全选按钮
// function select_all(){
// 	$("table tbody tr").children("td.in").children("div").children("input").iCheck('check');
// 	select_save();
// }
function select_all(){
	select_save();
	if(select_str==','){
                select_str='';
        }
	var select_array = select_str.split(',');
	if(select_array[select_array.length-1] == ""){
		select_array.splice(select_array.length-1,1);
	}
	if(select_array.length == recover_array.length){
		select_str = '';
	}else{
		select_str = '';
		$.each(recover_array,function(i,item){
			select_str=select_str+item.ConfigRecoveryTaskId+',';
		});
	}
	show_recover_list();

}
//刷新
function refresh(){
	user_page(0);
	$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
	$("#check_page").iCheck('uncheck');
	select_str="";
	check_num=0;
	$("#select_total")[0].textContent = 0;
}
//删除函数
function delete_fun(select_str){
	layer.open({
		type:1,
		title: '配置恢复',
		content: '<div class="layer-alert"><i class="alert warning"></i>确认删除</div>',
		btn:['确&nbsp;&nbsp;认','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		yes:function(i){
			layer.close(i);
			$.ajax({
				url: '/bhost/del_recover',
				type: "POST",
				async:false,
				data: {a0:sess,a1:select_str},
				success: function(result) {
					var result = JSON.parse(result);
					if(result.Result == true){
						refresh();
						_alert(0,"配置恢复","删除成功");
					}else{
						_alert(1,"配置恢复",result.ErrMsg);	
						return false;
					}	
				}
			})
		}
	}); 
}
function deleteItems(select_str){
	$.ajax({
		url: '/bhost/del_recover',
		type: "POST",
		async:false,
		data: {a0:sess,a1:select_str},
		success: function(result) {
			var result = JSON.parse(result);
			if(result.Result == true){
				refresh();
				_alert(0,"配置恢复","删除成功");
			}else{
				_alert(1,"配置恢复",result.ErrMsg);	
				return false;
			}	
		}
	});
}
//删除按钮
function delete_recover(){
	select_save();
		////console.log(select_str);
		if(select_str == ""){
			_alert(2,"配置恢复","请选择要删除的数据");
			return false;
		}
	
	layer.open({
		type:1,
		title: '配置恢复',
		content: '<div class="layer-alert"><i class="alert fail"></i>是否批量删除</div>',
		btn:['确&nbsp;&nbsp;认','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		yes:function(i){
			layer.close(i);
			select_str = select_str.substr(0,select_str.length-1);
			deleteItems(select_str); 
			select_str="";
			check_num=0;
			$("#select_total")[0].textContent = 0;
		},
		no:function(i){
			layer.close(i);
		}
	});  
}
var use_BH=window.parent.parent.document.frm.use_BH.value;
var setinterval=null;
function browse(){
	if(use_BH=='0'){
		$("#path1").click();
		return 0;
	}
	var referrer_arr=document.referrer.toString().split('/');
	referrer_arr.pop();
	var referrer=referrer_arr.join('/');
	var sesstimet = (new Date()).valueOf();
	var json_download = {
			"Type": "Upload",
			"Url": referrer,
			"Path": "/usr/storage/.system/upload/",
			"Filename": sesstimet+'',
			"Session": sess,
			"sesstimet":sesstimet+''
	}
	var if_html_client = false;
	var base64_str = '';
	$.ajax({
			url: "/bhost/get_base64",
			type:"POST",
			async:false,
			data:{a0:window.parent.document.frm.se.value,z1:JSON.stringify(json_download)},
			success:function(result){
					var result=JSON.parse(result);
					if(result.Result){
							if_html_client = result.info;
							base64_str = result.b64;
					}else{
							_alert(1,"数据恢复",result.ErrMsg); 
					}
			}
	})
	if(if_html_client) window.open('https://'+document.domain+':'+location.port+'/bhost/test_html?se='+window.parent.document.frm.se.value+'&z1='+JSON.stringify(json_download));
	else{
		get_regedit('bhost', window.parent.document.frm.se.value,'',sesstimet);
		$('#YuFrame1').remove();
		$("<iframe width='0px' height='0px' id='YuFrame1' style=\"display:none;\" name='YuFrame1' ></iframe>").prependTo('body');
		$('#YuFrame1').attr('src','/bhost/test_html?t1=bhost&z1='+base64_str);
	}
	clearInterval(setinterval);
	setinterval=setInterval(function(){
		$.ajax({
			url: "/bhost/find_item_sql",
			type:"POST",
			async:false,
			data:{a0:window.parent.document.frm.se.value,a1:sesstimet},
			success:function(result){
				var result=JSON.parse(result);
				if(result.Result){
					if(result.info==null){

					}else{
						var info_arr=result.info.split('/');
						if(info_arr.length>1){
							$('#fname').val(info_arr.pop());
							$('#path').val('/usr/storage/.system/upload/'+sesstimet);
						}else{
							if(result.info=='NULL'){
								$('#fname').val('');
								$('#path').val('');
							}else{
								$('#fname').val(result.info);
								$('#path').val('/usr/storage/.system/upload/'+sesstimet);
							}
						}
						clearInterval(setinterval);
					}
				}
			}
		});
	}, 3000);
}
</script>
{% endblock  %}
			
