<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<!--script-->
	<script>
		var userAgent = navigator.userAgent;
		var ie8 = userAgent.indexOf('Trident/4.0');

		if(ie8 != -1){
			document.write('<script src="/manage/js/jquery-IE8.js"></' + 'script>');
			document.write('<script src="/manage/js/json2.js"></' + 'script>');
		}else{
			document.write('<script src="/manage/js/jquery.min.js"></' + 'script>');
		}
	</script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>
	<link rel="stylesheet" href="/manage/css/new-head.css">
	<script type="text/javascript" src="/manage/js/dialog-plus.js"></script>
	<link rel="stylesheet" href="/manage/css/ui-dialog.css" type="text/css" />
</head>
<body style="overflow:hidden;" class="bg-white">
		<div class="c-top">
			<div class="c-title">
				<div class="manual-head" style="width:100px;float:left;">
					<div class="manual-title">
						<span id="cur_acc_reload" style="cursor: pointer;">当前访问</span>
						<i class="cur_acc_icon"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="mainer">
			
			<div class="container1">
				<div class="c-cont">
					<div class="c-wrap" style="padding: 0px 0px 28px;">
						<div class="c-table r-list">
							<div class="tab-t">
								<div class="ctr">
									<a href="javascript:;" class="btn btn-default" onclick="refresh()">刷新</a>
								</div>	
							</div>

							<table cellpadding="0" cellspacing="0" id="session_list">
								<thead>
									<tr>		
										<th style="width: 139px;">起始时间</th>
										<th style="    width: 56px;">会话类型</th>
										<th>主机名</th>
										<th>审批用户姓名</th>
										<th>阻断用户姓名</th>
										<th>服务器用户名</th>
										<th style="width: 70px;">邀请状态</th>
										<th width="2"></th>
									</tr>
								</thead>

								<tbody>
									
								</tbody>
							</table>

							<div class="tab-i">
								<div class="il">
									每页显示<span id="page_total">10</span>条 总数：<span id="session_total">1</span>  <!--选中：<span id="select_total">0</span>-->
								</div>

								<div class="ipage">
									<a href="javascript:;" class="nav2 begin" onclick="changepage(1)"><i></i></a>
									<a href="javascript:;" class="nav prev" onclick="changepage(2)"><i></i></a>
									<input type="text" value="1" id="curpage" onchange="changepage(3)">/<span id = "totalpage">1</span>
									<a href="javascript:;" class="nav next" onclick="changepage(4)"><i></i></a>
									<a href="javascript:;" class="nav2 end" onclick="changepage(5)"><i></i></a>
								</div>
							</div>
						</div>
						
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="dialog-cont" id="requestDialog" style="display:none;">
					<div class="container">
						<div class="c-cont1" style="min-height:200px;max-height:200px;overflow:auto;">
							<div class="c-form c-form-host" style="padding: 0 0 90px;min-width:0px;">
								<div class="clearfix"></div>
								<div class="c-table">
									<div class="form">
										<div class="form-item" style="width: 300px;">
											<span class="form-tag" style="width: 140px;"><em class="imp">*</em>选择邀请用户：</span>
											<div class="form-c" style="padding-left: 0;margin-left:10px;">
												<select class="filter-select" name="user_select" id="user_select" style="width:160px;">
													<option value="0">请选择</option>
												</select>
											</div>
										</div>
									</div>
									<div class="btns" style="padding: 10px 0 10px;">
										<a href="javascript:;" class="btn btn-normal btn-submit" >确&nbsp;&nbsp;定</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--
			<div id="bBtn" style="position: fixed;">
				<a href="javascript:;" class="btn" style="float: right;" onclick="list_cancel();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
			</div>
			-->
		</div>
</body>

<style>
.tab-ctr{	
    margin-left: -12px;
    margin-right: -10px;
}
</style>
<script>
$('.filter-select').select2({minimumResultsForSearch: -1});
$('.form-checkbox,.form-radio').iCheck({
	checkboxClass: 'icheckbox_minimal-blue',
	radioClass: 'iradio_minimal-blue',
	increaseArea: '0' 
});
</script>
<style>
		.ui-dialog-body {
		    text-align: center;
		    padding: 0px;
		}
		.c-table table tr:hover .last_td,
		.xTable table tr:hover .last_td{
			background-color: #63c3d9
		}
	
	</style>

<script>
var se;
//全局
$(function(){
	$("#cur_acc_reload").on('click',function(){
		parent.reload();
	});
	$("#curpage").bind('keydown', function(e){
		DigitInput(e);
	});
	se = window.parent.document.frm.se.value;
	parent._switchBtn(1);//显示按钮
	get_session_list();
});

function changepage(type){
	var curpage = $("#curpage").val();
	var totalpage = $("#totalpage").text();
	if (curpage == ""){
		curpage = 1;
	}
	if (type == 1){
		if (curpage == 1){
			return false;
		}
		$("#curpage").val(1);
	}else if (type == 2){
		if (curpage != 1){
			$("#curpage").val(parseInt(curpage)-1);
		}else{
			return false;
		}
	}else if (type == 3){ //onchange
		var numReg = /\D/;
		if (numReg.test(curpage) || parseInt(curpage) < 1 || curpage == ''){
			$("#curpage").val(1);
		}else if (parseInt(curpage) > parseInt(totalpage)){
			$("#curpage").val(totalpage);
		}else{
			$("#curpage").val(curpage);
		}
	}else if (type == 4){
		if (parseInt(curpage) != parseInt(totalpage)){
			$("#curpage").val(parseInt(curpage)+1);
		}else{
			return false;
		}
	}else if (type == 5){
		if (totalpage != parseInt(curpage)){
			$("#curpage").val(totalpage);
		}else{
			return false;
		}
	}
	curpage = $("#curpage").val();
	totalpage = $("#totalpage").val();
	get_session_list();
}

//获取数据列表
var session_list=[];
function get_session_list(){
	var cpage = $("#curpage").val(); //页数
	//获取数据列表
	$.ajax({  
		url:'/bhost/session_list',
		type:"post",
		async:false,
		dataType : "json",
		data:{a0:se,z1:MAX_PAGE,z2:cpage},
		success:function(result){
			//session_list = JSON.parse(result);
			session_list = result;
			$("#session_list tbody").empty();
			if (session_list.Result){
				var append_str = "";
				//会话状态0-连接中，1-正常退出，2-异常退出
				var request_status = "";
				$.each(session_list.data,function(i,item){
					var status = "";
					var Receiver = "";
							
					if (item.MessAge.data.length != 0){
						
						if (item.MessAge.data[0].ProcessStatus == 0){
							status = "未处理";
						}else if (item.MessAge.data[0].ProcessStatus == 1){
							status = "已读";
						}else if (item.MessAge.data[0].ProcessStatus == 2){
							if (item.MessAge.data[0].Status == 5){
								status = "同意";
							}else{
								status = "拒绝";
							}
						}else if (item.MessAge.data[0].ProcessStatus == 3){
							status = "已过期";
						}else if (item.MessAge.data[0].ProcessStatus == 4){
							status = "已确认";
						}else if (item.MessAge.data[0].ProcessStatus == 5){
							status = "已协同";
						}
						
						Receiver = item.MessAge.data[0].Receiver;
					}
					if (status != ""){
						request_status = Receiver + '(' + status + ')';
					}else{
						request_status = "";
					}
					
					append_str = append_str + '<tr><td title="'+item.StartTime+'">'+item.StartTime+'</td><td title="'+item.Type+'">'+item.Type+'</td><td title="'+item.ServerIP+'">'+item.ServerIP+'</td><td title="'+item.ApprovalUserName+'">'+item.ApprovalUserName+'</td><td title="'+item.BlockingUsers+'">'+item.BlockingUsers+'</td><td title="'+item.ServerUserName+'">'+item.ServerUserName+'</td><td title="'+request_status+'">'+request_status+'</td><td class="last_td"><div class="tab-ctr">';
					
					var file_v = "";
					if (item.Playback_file != "" && item.Playback_file != null){
						var Playback_file_array = item.Playback_file.split(".");
						file_v = Playback_file_array[Playback_file_array.length-1];
					}
					if (item.Type != "SSH" && item.Type != "TELNET" && item.Type && "RLOGIN" && item.Type != "RDP" && file_v == ""){
						append_str = append_str + '<a href="javascript:;" class="sess_icon1 disabled" title="邀请" ></a></div></div></td></tr>';
					}else{
						if (request_status == "" || status == "已过期" || status == "拒绝"){
							append_str = append_str + '<a href="javascript:;" class="sess_icon1" title="邀请" onclick="request_syn(\''+item.Number+'\',this,'+item.PId+');"></a></div></div></td></tr>';
						}else{
							append_str = append_str + '<a href="javascript:;" class="sess_icon2" title="取消" onclick="cancel_mess('+item.MessAge.data[0].MessageId+',this,'+item.PId+',\''+item.Number+'\');"></a>'
						}
					}
					
				});
				$("#session_list tbody").append(append_str);
				//对按钮进行渲染
				$('.form-checkbox,.form-radio').iCheck({
					checkboxClass: 'icheckbox_minimal-blue',
					radioClass: 'iradio_minimal-blue',
					increaseArea: '0' 
				});
			}else{
				_alert(2,"当前访问",session_list.ErrMsg);
				return false;
			}
			
		}
	});
	//页码计算
    $("#session_total").text(session_list.totalrow);
	var totalpage = Math.ceil(parseInt(session_list.totalrow)/MAX_PAGE);
	if (totalpage < 1){
		totalpage = 1;
	}
	$("#totalpage").text(' ' + totalpage.toString());
	$("#page_total").text(MAX_PAGE);

	if (parseInt(cpage) > totalpage){
		$("#curpage").val(totalpage);
		get_session_list();
	}
}

//获取邀请人员
function get_request_user_list(){
	$.ajax({
		url:'/bhost/get_request_user_list',
		type:'post',
		async:false,
		data:{a0:se},
		success:function(result){
			var result = JSON.parse(result);
			var append_str = "<option value=\"0\">请选择</option>";
			$.each(result,function(i,item){
				if (item.UserCode == "admin"){
					return true;
				}
				if (item.UserCode != window.parent.document.frm.us.value){
					append_str = append_str + '<option value="'+item.UserId+'">'+item.UserCode+'</option>';
				}
			});
			$("#user_select").empty().append(append_str).select2();
		}
	})
}

function request_syn(num,obj,pid){
	get_request_user_list();
	$("#user_select").val(0).trigger('change');
	
	var $dialogCont = $("#requestDialog").show();

	var d = dialog({
		title: "邀请",
		content: $dialogCont,
		id: "requestDialog",
		width: "465px"
	});
	d.addEventListener('close', function () {
		$dialogCont.appendTo("body").hide();
	});
	d.showModal();

	$("a.btn-submit", $dialogCont).unbind().bind("click", function () {
		save_data(d,num,obj,pid);
	})
}

function getNowFormatDate() {
    var date = new Date();
    var month = date.getMonth() + 1;
    var strDate = date.getDate();
    if (month >= 1 && month <= 9) {
        month = "0" + month;
    }
    if (strDate >= 0 && strDate <= 9) {
        strDate = "0" + strDate;
    }
    var currentdate = date.getFullYear() + '-' + month + '-' + strDate
            + " " + date.getHours() + ':' + date.getMinutes()
            + ':' + date.getSeconds();
    return currentdate;
}

//取消
function cancel_mess(messageid,obj,pid,num){
	$.ajax({
		url:"/bhost/cancel_mess",
		type:'post',
		async:false,
		data:{a0:se,z1:messageid,z2:pid},
		success:function(result){
			var result = JSON.parse(result);
			if (result.Result){
				_alert(0,"协同邀请","取消成功");
				var text = $(obj).parents('td:first').prev('td').text();
				text = text.replace(/\([^\)]*\)/g,"(已过期)");
				$(obj).parents('td:first').prev('td').text(text);
				$(obj).parent('div').html('<a href="javascript:;" class="sess_icon1" onclick="request_syn(\''+num+'\',this,'+pid+');"></a>');
			}else{
				_alert(0,"协同邀请","取消失败");
			}
		}
	})
}

function save_data(d,num,obj,pid){
	var $obj_td=$(obj).parents('tr').children('td');
	var message_json = {
		"MessageId": 0,    
		"MessageType": 3,
		"Title": $obj_td.eq(1).text()+':'+$obj_td.eq(2).text()+'/'+$obj_td.eq(5).text(),
		"SenderId": 30,
		"Sender": "admin",
		"ReceiverId": 1,
		"Receiver": "admin1",
		"Content": "请求协同",
		"CreateTime": "2017-05-27 15:13:35",
		"ReceiveTime": null,
		"Status": 2,     
		"ProcessStatus": 0,
		"SessionId": "123"
	}
	message_json.CreateTime = getNowFormatDate();
	message_json.ReceiverId = $("#user_select").val();
	message_json.Receiver = $("#user_select").children('option:selected').text();
	message_json.SessionId = num;
	var msstr = aceg(JSON.stringify(message_json),se);
	$.ajax({
		url:"/bhost/PSave_Message",
		type:'post',
		async:false,
		data:{a0:se,z1:JSON.stringify(message_json),m1:msstr},
		success:function(result){
			var result = JSON.parse(result);
			if (result.Result){
				d.close().remove();
				_alert(0,"协同邀请","发送成功");
				$(obj).parents('td:first').prev('td').text(message_json.Receiver+'(未读)');
				$(obj).parent('div').html('<a href="javascript:;" class="sess_icon2" onclick="cancel_mess(\''+result.MessageId+'\',this,'+pid+',\''+num+'\');"></a>');
			}else{
				_alert(0,"协同邀请","发送失败");
			}
		}
	})
}

//刷新
function refresh(){
	$("#select_total").text(0);
	get_session_list();
	return;
}

//返回
function list_cancel(){
	window.parent._closePage(null); 
}

</script>
