<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>
	<link rel="stylesheet" href="/manage/css/new-head.css">
</head>
<body style="overflow:hidden;" class="bg-white">
	<!---->
	<div class="rwrap">
		<!---->
		<div class="c-top">
			<div class="c-title">
				<!--
				<h3 onclick="parent.reload();">ACC客户端管理</h3>
				-->
				<div class="manual-head" style="width:100px;float:left;">
					<div class="manual-title">
						<span id="client_reload" style="cursor: pointer;">应用发布</span>
						<i class="client_icon"></i>
					</div>
				</div>
				<!--
				<div class="ctr">
					<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
				</div>
				-->
			</div>
		</div>
		<div class="mainer">
			
			<div class="container">
				<div class="c-cont2">
					<div class="c-form" style="padding-top:100px;padding-bottom:10px;">
						<div class="form">
							<div class="form-item">
								<span class="form-tag"><em class="imp">*</em>协议类型：</span>
								<div class="form-c">
								<select name="" id="protocoltype" class="type-select" style="width:250px">
								
								</select>
								</div>
							</div>
							<div class="form-item">
								<span class="form-tag"><em class="imp">*</em>客户端名称：</span>
								<div class="form-c">
									<input id="AccClientName" type="text" class="form-text" onblur="NameCheck(this)" maxlength="128" style="width:218px"/><i class="v-check"></i>
									<p class="form-tip">请不要使用'<','>','|','"'字符</p>
								</div>
							</div>

							<div class="form-item">
								<span class="form-tag"><em class="imp">*</em>路径：</span>
								<div class="form-c">
									<input id="ClientProgram" type="text" class="form-text" onblur="NameCheck(this)" maxlength="1024" style="width:400px"/><i class="v-check"></i>
									<p class="form-tip">请不要使用'<','>','|','"'字符</p>
								</div>
							</div>
							
							<div class="form-item">
								<span class="form-tag"><em class="imp">*</em>连接账号：</span>
								<div class="form-c">
									<select name="" id="account_type" class="type-select" style="width:250px">
										<option value="0" >运维用户</option>
										<option value="1" >固定用户</option>
									</select>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="btns">
				<a href="javascript:;" class="btn btn-normal" onclick="SaveSet()">保&nbsp;&nbsp;存</a>
				<!--
				<a href="javascript:;" class="btn btn-normal" onclick="acc_client_list_back(1)">取&nbsp;&nbsp;消</a>
				-->
			</div>
			<div id="bBtn" style="position: fixed;z-index:5;">
				<a href="javascript:;" class="btn" style="float: right;" onclick="acc_client_list_back(1);"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
			</div>
		</div>
		
	</div>
	<form action="/bhost/acc_client_list" method="POST" name="frm_acc_client_list" id="frm_acc_client_list">
		<input type="hidden" name="z1" id = "z1" value="" />
		<input type="hidden" name="z2" id = "z2" value="" />
		<input type="hidden" name="z3" id = "z3" value="" />
		<input type="hidden" name="z4" id = "z4" value="" />
		<input type="hidden" name="z5" id = "z5" value="" />
		<input type="hidden" name="z6" id = "z6" value="" />
	</form>
</body>
</html>
<script>
	$('.form-checkbox,.form-radio').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
	    radioClass: 'iradio_minimal-blue',
	    increaseArea: '0' // optional
	});
	$('.type-select').select2();
</script>
//tasktype:z1,c_ipage:z2
<!---->
<script>
var clientid = "{{clientid}}";
var ipage = "{{ipage}}";
var keyword_re = {{keyword|safe}};
var filter_flag = {{filter_flag}};
var se;
$(function(){
	$("#client_reload").on("click",function(){
		//parent.reload();
		document.frm_acc_client_list.action = '/bhost/create_acc_client';
		document.frm_acc_client_list.z1.value = ipage;
		document.frm_acc_client_list.z4.value = clientid;
		document.frm_acc_client_list.z5.value = JSON.stringify(keyword_re);
		document.frm_acc_client_list.z6.value = filter_flag;
		document.frm_acc_client_list.submit();
	});
	se = window.parent.document.frm.se.value;
	//绑定协议
	$("#protocoltype").append("<option value=\"0\">请选择协议类型</option>");
	$.ajax({
		url:'/bhost/get_access_protocol',
		type:'post',
		async:false,
		data:{a0:se},
		success:function(results){
			protocol = JSON.parse(results);
			$.each(protocol.data,function(i,item){
				$("#protocoltype").append("<option value=\""+item.ProtocolId+"\">"+item.ProtocolName+"</option>")
			});
		}
	});
	if (clientid != "0"){
		$.ajax({
		   url:'/bhost/select_acc_client_all',
		   type:"post",
		   async:false,
		   data:{a0:se,z8:clientid},
		   success:function(results){
				acc_client_add = JSON.parse(results);
				$("#protocoltype").val(acc_client_add.data[0].ProtocolId);
				$("#ClientProgram").val(acc_client_add.data[0].ClientProgram);
				$("#AccClientName").val(acc_client_add.data[0].ClientName);
				$("#account_type").val(acc_client_add.data[0].AccUser).trigger('change');
			}
		});
	}
	parent._switchBtn(0);//隐藏左右按钮

	if (parseInt(clientid) != 0){
		$("#AccClientName").prop("disabled","true");
	}
})
//检查输入框
var nameReg = /[<>|"]|(^\s*$)/;
function NameCheck(obj){
	var name = $(obj).val().trim();
	var $i = $(obj).next('i.v-check');
	if (nameReg.test(name)){
		$i.show().attr('class','v-check v-wrong');
	}else{
		$i.show().attr('class','v-check v-right');
	}
}

//返回列表
function acc_client_list_back(type){
	if (type == 2){
		keyword_re = [];
		if (parseInt(clientid) != 0){
			$.ajax({
				url:'/bhost/get_index',
				type:'post',
				async:false,
				data:{a0:se,z1:clientid,z2:1},
				success:function(result){
					ipage = Math.ceil(parseInt(result)/MAX_PAGE);
				}
			});
		}else{
			/*
			$.ajax({
				url:'/bhost/get_acc_client_list',
				type:"post",
				async:false,
				data:{a0:se,z4:"null",z5:"null",z6:JSON.stringify(keyword_re),z7:true},
				success:function(result){
					var results = JSON.parse(result);
					if (results.Result){
						if (parseInt(results.Data.totalrow) % MAX_PAGE == 0){
							ipage = parseInt(results.Data.totalrow)/MAX_PAGE + 1;
						}else{
							ipage = Math.ceil(parseInt(results.Data.totalrow)/MAX_PAGE);
						}
					}else{
						_alert(2, "应用发布客户端", results.info);
					}
				}
			});
			*/
		}
	}
	
	var deliver = JSON.stringify(keyword_re);
	document.frm_acc_client_list.action='/bhost/acc_client_list';
	document.frm_acc_client_list.z2.value = ipage;
	document.frm_acc_client_list.z3.value = deliver;
	document.frm_acc_client_list.z4.value = filter_flag;
	document.frm_acc_client_list.submit();
}
//保存
function SaveSet(){
   	var AccClientName = $("#AccClientName").val().trim();
	var ClientProgram = $("#ClientProgram").val().trim();
	var Protocolid = $("#protocoltype").val();
	var account_type = $("#account_type").val();
    var flag = 0;
				
	if (Protocolid == "0"){
		_alert(2,"应用发布客户端","请选择协议");
		return;
	}
	if (AccClientName == ""){
		_alert(2,"应用发布客户端","请输入客户端名称",$("#AccClientName"));
		return;
	}
	if (nameReg.test(AccClientName)){
		_alert(1,"应用发布客户端","客户端名称格式不正确",$("#AccClientName"));
		return;
    }
	if (ClientProgram == ""){
		_alert(2,"应用发布客户端","请输入路径", $("#ClientProgram"));
		return;
	}
	if (nameReg.test(ClientProgram)){
		_alert(1,"应用发布客户端","路径格式不正确", $("#ClientProgram"));
		return;
	}	
	$.ajax({
		url:'/bhost/save_acc_client',
		type:'post',
		async:false,
		data:{a0:se,z3:AccClientName,z4:ClientProgram,z5:clientid,z6:Protocolid,z7:account_type},
		success:function(Result){
			data = JSON.parse(Result);
			if (data.Result == false){
				_alert(1,"应用发布客户端",'执行失败：'+data.ErrMsg,$("#AccClientName"));
			}else{
				$('.btn').blur();
				parent.layer.open({
					type:1,
					title:"应用发布客户端",
					content:'<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
					btn:['确定'],
					btnAlign:'c',
					closeBtn: false,
					skin:'layer-custom',
					area:['380px','310px'],
					move: false,
					resize: false,
					btn1:function(i){
						parent.layer.close(i);
						acc_client_list_back(2);
					},
					btn2:function(i){
						 parent.layer.close(i);
					}
				});	
			}
		}
	});
}
</script>
</body>
</html>
