<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>
	<link rel="stylesheet" href="/manage/css/new-head.css">
</head>
<body style="overflow:hidden;" class="bg-white">
		<div class="c-top">
			<div class="c-title">
				<!--
				<h3 onclick="back(1);">短信猫</h3>
				-->
				<div class="manual-head" style="width:10%;float:left;">
					<div class="manual-title">
						<span id="smsm_reload" style="cursor: pointer;">短信猫</span>
						<i class="smsm_icon"></i>
					</div>
				</div>
				<div class="ctr">
					<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
				</div>
			</div>
		</div>
		<div class="mainer">
			
			<div class="container">
				<div class="c-cont">
					<div class="c-form" style="padding-bottom:10px;width: 500px;" id="smsmset">
						<div class="form">	
							<div class="sel-type1" style="float: left;width: 100%;">
								<div class="form-item" style="float:left;">
									<span class="form-tag" style="width: 90px;"><em class="imp">*</em>配置名称：</span>
									<div class="form-c" style="padding: 0 0;">
										<input id="SmsMConfigName" name="SmsMConfigName" class="form-text" style="width:230px;" type="text" onblur="NameCheck(this);" maxlength="128"><i class="v-check"></i>
										<p class="form-tip" style="width: 270px;margin-left: 84px;">特殊字符仅支持下划线、横杠、小数点</p>
									</div>
								</div>
								<div class="form-item" style="float:left;">
									<span class="form-tag" style="width: 90px;"><em class="imp">*</em>短信中心：</span>
									<div class="form-c" style="padding: 0 0;">
										<input id="SmsMSender" name="SmsMSender" class="form-text" type="text" style="width:140px;"  maxlength="32" onblur="NumCheck(this)"><i class="v-check"></i>
									</div>
								</div>
								<div class="form-item" style="float:left;">
									<span class="form-tag" style="width: 93px;"><em class="imp">*</em>发送限制：</span>
									<div class="form-c" style="padding: 0 0;width: 270px;">
										<span style="vertical-align:middle;font-size:14px;">每月</span>
										<input id="SmsMLimit" name="SmsMLimit" value="0" class="form-text" onblur="limitCheck(this);" type="text" style="width: 34px;padding: 0 3px 0px 3px;" maxlength="9">
										<span style="vertical-align:middle;font-size:14px;">条(0为不限制)</span>
									</div>
								</div>
								<div class="form-item" style="float:left;">
									<span class="form-tag" style="width:90px;"><em class="imp">*</em>编码方式：</span>
									<div class="form-c" style="padding:0;">
										<select class="filter-select" id="EnCode" style="width:90px;">
											<option value="0">UTF-8</option>
											<option value="1">GBK</option>
										</select>
									</div>
								</div>
								<div class="form-item" style="float:left;">
									<span class="form-tag" style="width:90px;"><em class="imp">*</em>方式：</span>
									<div class="form-c" style="padding:0;">
										<select class="filter-select" id="Flag" style="width:90px;">
											<option value="2">默认</option>
											<option value="1">备用</option>
											<option value="0">其他</option>
										</select>
									</div>
								</div>
								<div class="form-item tab-t s-hide" style="padding:20px 0 10px;">
									<div class="ctr" style="margin-left:20px;width:76px;">
										<a class="btn" href="javascript:;" style="line-height: 26px;" onclick="test_smsm();">测试</a>
									</div>
									<div class="form-c" style="float:left;padding: 0px 0 0 0;margin-left:-5px;">
										<input placeholder="请输入手机号码" id="revicer_phone" name="revicer_phone" class="form-text" type="text" style="width:230px;">
									</div>
								</div>
								<!--
								{%if flag == "None" %}
								<li style = "height:25px;margin-top: 22px;">
									<i class="ctrl add" onclick="addsmsmset(this)"></i>
								</li>
								{%endif%}
								-->
							</div>
						</div>
					</div>
					<div class="c-form">
						<div class="btns s-hide">
							<a href="javascript:;" class="btn btn-normal" onclick="smsmset_save();">保&nbsp;&nbsp;存</a>
							<!--
							<a href="javascript:;" class="btn btn-normal" onclick="back(1);">取&nbsp;&nbsp;消</a>
							-->
						</div>
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn" style="float: right;" onclick="back(1);"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	<form action="/bhost/manager_smsm" method="POST" name="frm_smsm" id="frm_smsm">
		<input type="hidden" name="tasktype" id = "tasktype" value="" />
		<input type="hidden" name="z1" id = "z1" value="" />		
		<input type="hidden" name="z2" id = "z2" value=""/>
		<input type="hidden" name="z3" id = "z3" value=""/>
		<input type="hidden" name="z4" id = "z4" value=""/>
		<input type="hidden" name="a0" value=""/>
	</form>
<script>
$('.form-checkbox,.form-radio').iCheck({
	checkboxClass: 'icheckbox_minimal-blue',
	radioClass: 'iradio_minimal-blue',
	increaseArea: '0' // optional
});
$('.filter-select').select2({minimumResultsForSearch: -1});
</script>


<script>
//曾经是可以加多个的，直到后来加了编码和方式，放不下，转单个

var smsmset = {
	"SmsMConfigId": 0,
    "SmsMConfigName": "短信猫配置1",
    "SmsMSender": "13612345678",  
    "SmsMLimit": 0,
	"Flag":0,
	"EnCode":0
}
var flag = "{{flag}}";
var now = "{{now}}";
var keyword_re = {{keyword|safe}};
var edit = {{edit|safe}};
var selectid = {{selectid|safe}};
var se;
$(function(){
	_if_disable = $('#nav-s1 li[data-modeid=7]',parent.parent.document).attr('_if_disable');
	if(_if_disable == '1'){
		$('.s-hide').remove();
	}
	$("#smsm_reload").on("click",function(){
		document.frm_smsm.action = '/bhost/create_smsm';
		document.frm_smsm.z1.value = now;
		document.frm_smsm.z2.value = JSON.stringify(keyword_re);
		if (edit != "None" && edit != ""){
			document.frm_smsm.z3.value = JSON.stringify(edit);
		}else{
			document.frm_smsm.z3.value = "None";
		}
		document.frm_smsm.z4.value = JSON.stringify(selectid);
		document.frm_smsm.a0.value = se;
		document.frm_smsm.submit();
	});
	se = window.parent.document.frm.se.value;
	$("#SmsMLimit").bind('keydown', function(e){
		DigitInput(e);
	});
	if (edit != "None"){
		smsmset.SmsMConfigId=edit.data[0].SmsMConfigId;
		$("#SmsMConfigName").val(edit.data[0].SmsMConfigName);
		$("#SmsMConfigName").prop("disabled",true);
		$("#SmsMSender").val(edit.data[0].SmsMSender);
		$("#SmsMLimit").val(edit.data[0].SmsMLimit);
		$("#Flag").val(edit.data[0].Flag).trigger('change');
		$("#EnCode").val(edit.data[0].EnCode).trigger('change');
		if (edit.data[0].Flag == 2){
			$.ajax({
				url:'/bhost/get_smsm_flag',
				type:'post',
				async:false,
				data:{a0:se},
				success:function(result){
					var smsm_flag = JSON.parse(result);
					if (smsm_flag.Result){
						if (smsm_flag.count_smsm == 2){
							$("#Flag").attr('disabled',true);
						}
					}
				}
			});
		}
	}else{
		smsmset.SmsMConfigId = 0;
		$.ajax({
			url:'/bhost/get_smsm_flag',
			type:'post',
			async:false,
			data:{a0:se},
			success:function(result){
				var smsm_flag = JSON.parse(result);
				if (smsm_flag.Result){
					if (smsm_flag.count_smsm == 1){
						$("#Flag").val(2).trigger('change');
						$("#Flag").attr('disabled',true);
					}else if (smsm_flag.def_smsm == 0){
						$("#Flag").val(2).trigger('change');
					}else if (smsm_flag.spare_smsm == 0){
						$("#Flag").val(1).trigger('change');
					}else{
						$("#Flag").val(0).trigger('change');
					}
				}
			}
		})
	}
	
	parent._switchBtn(0);//掩藏按钮
})


var numCheck = /\D/;
var nameCheck = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
function NumCheck(obj){
	var num = $(obj).val();
	var $i = $(obj).next('i.v-check');
	if (numCheck.test(num) || num == ""){
		$i.show().attr('class','v-check v-wrong');
	}else{
		$i.show().attr('class','v-check v-right');
	}
}
function NameCheck(obj){
	var Name = $(obj).val().trim();
	var $i = $(obj).next('i.v-check');
	if (!nameCheck.test(Name)){
		$i.show().attr('class','v-check v-wrong');
	}else{
		$i.show().attr('class','v-check v-right');
	}
}

//检查名称是否存在
function check_name(name,obj){
	var add = 0;
	$.ajax({
		url:'/bhost/check_smsmconfig_name',
		type:'post',
		async:false,
		data:{a0:se,z1:name},
		success:function(result){
			if (result != "0"){
				add = 1;
				_alert(2,"短信猫","该名称已存在",$(obj));
				return false;
			}
		}
	})
	if (add == 1){
		return false;
	}else{
		return true;
	}
}
function limitCheck(obj){
	obj.value = obj.value.replace(/\D/g,"");
	var v = obj.value.trim();
	if (v == ""){
		obj.value = '0';
	}
}

//保存配置
function smsmset_save(){
	var smsmset_list = [];
	var add = 0;
	var isexist;

	var SmsMConfigName = $("#SmsMConfigName").val();
	var SmsMSender = $("#SmsMSender").val();
	var SmsMLimit = $("#SmsMLimit").val();
	var EnCode = $("#EnCode").val();
	var Flag =	$("#Flag").val();

	if (SmsMConfigName == ""){
		add = 1;
		_alert(2,"短信猫","请输入名称",$("#SmsMConfigName"));
		return false;
	}else{
		if (!nameCheck.test(SmsMConfigName)){
			add = 1;
			_alert(1,"短信猫","名称格式不正确",$("#SmsMConfigName"));
			return false;
		}
		if (edit == "None"){
			isexist = check_name(SmsMConfigName,$("#SmsMConfigName"));
			if (!isexist){
				add = 1;
				return false;
			}
		}
	}
	if (SmsMSender == ""){
		add = 1;
		_alert(2,"短信猫","请输入短信中心",$("#SmsMSender"));
		return false;
	}else{
		if (numCheck.test(SmsMSender)){
			add = 1;
			_alert(1,"短信猫","短信中心格式不正确",$("#SmsMSender"));
			return false;
		}
	}
	if (SmsMLimit == ""){
		add = 1;
		_alert(2,"短信猫","请输入发送限制",$("#SmsMLimit"));
		return false
	}else{
		if (numCheck.test(parseInt(SmsMLimit))){
			add = 1;
			_alert(1,"短信猫","短信猫格式不正确",$("#SmsMLimit"));
			return false;
		}
	}
	smsmset.SmsMConfigName = SmsMConfigName;
	smsmset.SmsMSender = SmsMSender;
	smsmset.SmsMLimit = parseInt(SmsMLimit);
	smsmset.EnCode = parseInt(EnCode);
	smsmset.Flag = parseInt(Flag);
	smsmset_list.push(JSON.stringify(smsmset));
	msstr = aceg(JSON.stringify(smsmset_list),se);
	$.ajax({
		url:'/bhost/save_smsm',
		type:'post',
		async:false,
		data:{a0:se,z1:JSON.stringify(smsmset_list),m1:msstr},
		success:function(result){
			data = JSON.parse(result);
			if (data.Result == true){
				parent.layer.open({
					type:1,
					title:"短信猫",
					content:'<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
					btn:['确&nbsp;&nbsp;定'],
					btnAlign:'c',
					closeBtn: false,
					skin:'layer-custom',
					area:['380px','310px'],
					move: false,
					resize: false,
					btn1:function(i){
						parent.layer.close(i);
						back(2,smsmset.Flag,data.SmsMConfigId);
					},
					btn2:function(i){
						parent.layer.close(i);
					}
				});	
			}else{
				_alert(1,"短信猫", "执行失败：" + data.ErrMsg);
			}
		}
	});
}
//返回
function back(type,flag,id){
	if (type == 2){
		if (flag == 2){
			now = 1;
		}else{
			keyword_re = [];
			$.ajax({
				url:'/bhost/get_index',
				type:'post',
				async:false,
				data:{a0:se,z1:id,z2:20},
				success:function(result){
					now = Math.ceil(parseInt(result)/MAX_PAGE);
				}
			});
			/*
			if (edit != "None"){ //编辑保存
				$.ajax({
					url:'/bhost/get_index',
					type:'post',
					async:false,
					data:{a0:se,z1:edit.data[0].SmsMConfigId,z2:20},
					success:function(result){
						now = Math.ceil(parseInt(result)/MAX_PAGE);
					}
				});
			}else{//创建
				$.ajax({
					url:'/bhost/select_smsm_all',
					type:'post',
					async:false,
					data:{a0:se,z1:-1},
					success:function(result){
						var result = JSON.parse(result);
						var remain = parseInt(result.totalrow) % MAX_PAGE;
						if (remain > 0){
							now = Math.ceil(parseInt(result.totalrow)/MAX_PAGE);
						}else{
							now = parseInt(result.totalrow)/MAX_PAGE + 1;
						}
					}
				});
			}
			*/
		}
	}
	var deliver = JSON.stringify(keyword_re);
	document.frm_smsm.z1.value = now;
	document.frm_smsm.z2.value = deliver;
	document.frm_smsm.z3.value = JSON.stringify(selectid);
	document.frm_smsm.a0.value = se;
	document.frm_smsm.action='/bhost/manage_smsm';
	document.frm_smsm.submit();
}

function test_smsm(){
	var MasterConfigSet = {
		"MasterConfig":{
			"SmsMConfigId": 0,
			"SmsMConfigName": "短信猫配置1",
			"SmsMSender": "13612345678",  
			"SmsMLimit": 0,
			"SmsMSend":0,
			"Flag":0,
			"EnCode":0,
			"Month":0
		}
	}
	var SmsMConfigName = $("#SmsMConfigName").val();
	var SmsMSender = $("#SmsMSender").val();
	var SmsMLimit = $("#SmsMLimit").val();
	var EnCode = $("#EnCode").val();
	var Flag =	$("#Flag").val();

	if (SmsMConfigName == ""){
		_alert(2,"短信猫","请输入名称",$("#SmsMConfigName"));
		return false;
	}else{
		if (!nameCheck.test(SmsMConfigName)){
			_alert(1,"短信猫","名称格式不正确",$("#SmsMConfigName"));
			return false;
		}
	}
	if (SmsMSender == ""){
		_alert(2,"短信猫","请输入短信中心",$("#SmsMSender"));
		return false;
	}else{
		if (numCheck.test(SmsMSender)){
			_alert(1,"短信猫","短信中心格式不正确",$("#SmsMSender"));
			return false;
		}
	}
	if (SmsMLimit == ""){
		_alert(2,"短信猫","请输入发送限制",$("#SmsMLimit"));
		return false
	}else{
		if (numCheck.test(parseInt(SmsMLimit))){
			_alert(1,"短信猫","短信猫格式不正确",$("#SmsMLimit"));
			return false;
		}
	}
	MasterConfigSet.MasterConfig.SmsMConfigName = SmsMConfigName;
	MasterConfigSet.MasterConfig.SmsMSender = SmsMSender;
	MasterConfigSet.MasterConfig.SmsMLimit = parseInt(SmsMLimit);
	MasterConfigSet.MasterConfig.EnCode = parseInt(EnCode);
	MasterConfigSet.MasterConfig.Flag = parseInt(Flag);
	revicer_phone = $("#revicer_phone").val();
	if (revicer_phone == ""){
		_alert(1,"短信猫","请输入手机号码",$("#revicer_phone"));
		return false;
	}
	if (numCheck.test(revicer_phone)){
		_alert(1,"短信猫","手机号码格式不正确",$("#revicer_phone"));
		return false;
	}
	_showLoading();
	$.ajax({
		url:'/bhost/test_smssvr',
		type:'post',
		async:false,
		data:{a0:se,z1:JSON.stringify(MasterConfigSet),z2:2,z3:revicer_phone},
		success:function(result){
			var re_test = JSON.parse(result);
			if (re_test.Result){
				setTimeout(function () {
					$.ajax({
						url:'/bhost/get_test_flag',
						type:'post',
						async:false,
						data:{a0:se,z1:2},
						success:function(result){
							_closeLoading();
							var test_re = JSON.parse(result);
							if (test_re.Result){
								_alert(0,"短信猫","测试成功");
								return false;
							}else{
								_alert(1,"短信猫","测试失败");
								return false;
							}
						}
					});
				}, 10000);
				return false;
			}else{
				_closeLoading();
				_alert(1,"短信猫","测试失败");
				return false;
			}
		}
	})
}
</script>
