<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>
	<link rel="stylesheet" href="/manage/css/new-head.css">
</head>
<body style="overflow:hidden;" class="bg-white">
		<div class="c-top">
			<div class="c-title">
				<!--
				<h3 onclick="back(1);">Syslog</h3>
				-->
				<div class="manual-head" style="width:10%;float:left;">
					<div class="manual-title">
						<span id="Syslog_reload" style="cursor: pointer;">SYSLOG</span>
						<i class="syslog_icon"></i>
					</div>
				</div>
				<div class="ctr">
					<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
				</div>
			</div>
		</div>
		<div class="mainer">
			
			<div class="container">
				<div class="c-cont">
					<div class="c-form" style="padding-bottom:10px;" id="syslogset">
						<div class="form">	
							<div class="sel-type1" style="float: left;width: 100%;">
								<div class="form-item" style="">
									<span class="form-tag" style=""><em class="imp">*</em>配置名称：</span>
									<div class="form-c" style="">
										<input id="SyslogConfigName" name="SyslogConfigName" maxlength="128" class="form-text" style="width:230px;" type="text" onblur="NameCheck(this);"><i class="v-check"></i>
										<p class="form-tip" style="width: 270px;margin-left: -5px;">特殊字符仅支持下划线、横杠、小数点</p>
									</div>
								</div>
								<div class="form-item" style="">
									<span class="form-tag" style=""><em class="imp">*</em>服务器地址：</span>
									<div class="form-c" style="">
										<input id="SyslogServerIP" name="SyslogServerIP" class="form-text" type="text" style="width:125px;"  maxlength="64" onblur="IPCheck(this);"><i class="v-check"></i>
									</div>
								</div>
								<div class="form-item" style="">
									<span class="form-tag" style=""><em class="imp">*</em>端口：</span>
									<div class="form-c" style="">
										<input id="SyslogPort" name="SyslogPort" class="form-text" type="text" maxlength="5" onblur="PortCheck(this);" style="width: 58px;"><i class="v-check"></i>
										<p class="form-tip" style="width: 270px;margin-left: -5px;">0-65535之间</p>
									</div>
								</div>
								<div class="form-item">
									<span class="form-tag" style=""><em class="imp">*</em>编码方式：</span>
									<div class="form-c" style="">
										<select class="filter-select" id="EnCode" style="width:90px;">
											<option value="0">UTF-8</option>
											<option value="1">GBK</option>
										</select>
									</div>
								</div>
								<div class="form-item">
									<span class="form-tag" style=""><em class="imp">*</em>方式：</span>
									<div class="form-c" style="">
										<select class="filter-select" id="Flag" style="width:90px;">
											<option value="2">默认</option>
											<option value="1">备用</option>
											<option value="0">其他</option>
										</select>
									</div>
								</div>
								<!--
								{%if flag == "None" %}
								<li style = "height:25px;margin-top: 24px;">
									<i class="ctrl add" onclick="addsyslog(this)"></i>
								</li>
								{%endif%}
								-->
							</div>
						</div>
					</div>
					<div class="c-form">
						<div class="btns s-hide">
							<a href="javascript:;" class="btn btn-normal" onclick="syslog_save();">保&nbsp;&nbsp;存</a>
							<a href="javascript:;" class="btn btn-normal" onclick="test_syslog();">测&nbsp;&nbsp;试</a>
						</div>
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn" style="float: right;" onclick="back(1);"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	<form action="/bhost/manager_syslog" method="POST" name="frm_syslog" id="frm_syslog">
		<input type="hidden" name="tasktype" id = "tasktype" value="" />
		<input type="hidden" name="z1" id = "z1" value="" />		
		<input type="hidden" name="z2" id = "z2" value=""/>
		<input type="hidden" name="z3" id = "z3" value=""/>
		<input type="hidden" name="z4" id = "z4" value=""/>
		<input type="hidden" name="a0" value=""/>
	</form>
<script>
$('.form-checkbox,.form-radio').iCheck({
	checkboxClass: 'icheckbox_minimal-blue',
	radioClass: 'iradio_minimal-blue',
	increaseArea: '0' // optional
});
$('.filter-select').select2({minimumResultsForSearch: -1});
</script>


<script>
var syslog = {
	"SyslogConfigId": 0, 
	"SyslogConfigName": "SYSLOG配置1",           
	"SyslogServerIP": "192.168.0.54",
	"SyslogPort": 514,
	"Flag":0,
	"EnCode":0
}
var flag = "{{flag}}";
var now = "{{now}}";
var keyword_re = {{keyword|safe}};
var edit = {{edit|safe}};
var selectid = {{selectid|safe}};
var se;
$(function(){
	_if_disable = $('#nav-s1 li[data-modeid=7]',parent.parent.document).attr('_if_disable');
	if(_if_disable == '1'){
		$('.s-hide').hide();
	}
	$("#Syslog_reload").on("click",function(){
		//back(1);
		document.frm_syslog.action = '/bhost/create_syslog';
		document.frm_syslog.z1.value = now;
		document.frm_syslog.z2.value = JSON.stringify(keyword_re);
		if (edit != "None" && edit != ""){
			document.frm_syslog.z3.value = JSON.stringify(edit);
		}else{
			document.frm_syslog.z3.value = "None";
		}
		document.frm_syslog.z4.value = JSON.stringify(selectid);
		document.frm_syslog.a0.value = se;
		document.frm_syslog.submit();
	});
	se = window.parent.document.frm.se.value;
	$("#SyslogPort").bind('keydown', function(e){
		DigitInput(e);
	});
	if (edit != "None"){
		syslog.SyslogConfigId=edit.data[0].SyslogConfigId;
		$("#SyslogConfigName").val(edit.data[0].SyslogConfigName);
		$("#SyslogConfigName").prop("disabled",true);
		$("#SyslogServerIP").val(edit.data[0].SyslogServerIP);
		$("#SyslogPort").val(edit.data[0].SyslogPort);
		$("#Flag").val(edit.data[0].Flag).trigger('change');
		$("#EnCode").val(edit.data[0].EnCode).trigger('change');
		if (edit.data[0].Flag == 2){
			$.ajax({
				url:'/bhost/get_syslog_flag',
				type:'post',
				async:false,
				data:{a0:se},
				success:function(result){
					var syslog_flag = JSON.parse(result);
					if (syslog_flag.Result){
						if (syslog_flag.count_syslog == 2){
							$("#Flag").attr('disabled',true);
						}
					}
				}
			})
		}
	}else{
		$.ajax({
			url:'/bhost/get_syslog_flag',
			type:'post',
			async:false,
			data:{a0:se},
			success:function(result){
				var syslog_flag = JSON.parse(result);
				if (syslog_flag.Result){
					if (syslog_flag.count_syslog == 1){
						$("#Flag").val(2).trigger('change');
						$("#Flag").attr('disabled',true);
					}else if (syslog_flag.def_syslog == 0){
						$("#Flag").val(2).trigger('change');
					}else if (syslog_flag.spare_syslog == 0){
						$("#Flag").val(1).trigger('change');
					}else{
						$("#Flag").val(0).trigger('change');
					}
				}
			}
		})
	}
	
	parent._switchBtn(0);//掩藏按钮
})


var numCheck = /\D/;
var nameCheck = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
var ipcheck_route=/(^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-4]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])$)/;
function PortCheck(obj){
	var num = $(obj).val().trim();
	var $i = $(obj).next('i.v-check');
	if (numCheck.test(num) || num == ""|| parseInt(num) < 1 || parseInt(num) > 65534){
		$i.show().attr('class','v-check v-wrong');
	}else{
		$i.show().attr('class','v-check v-right');
	}
}
function NameCheck(obj){
	var Name = $(obj).val().trim();
	var $i = $(obj).next('i.v-check');
	if (!nameCheck.test(Name)){
		$i.show().attr('class','v-check v-wrong');
	}else{
		$i.show().attr('class','v-check v-right');
	}
}
function IPCheck(obj){
	var IP = $(obj).val().trim();
	var $i = $(obj).next('i.v-check');
	if (!ipcheck_route.test(IP)){
		$i.show().attr('class','v-check v-wrong');
	}else{
		$i.show().attr('class','v-check v-right');
	}
}
//检查名称是否存在
function check_name(name,obj){
	var add = 0;
	$.ajax({
		url:'/bhost/check_syslogconfig_name',
		type:'post',
		async:false,
		data:{a0:se,z1:name},
		success:function(result){
			if (result != "0"){
				add = 1;
				_alert(2,"SYSLOG","相同名称已存在",$(obj));
				return false;
			}
		}
	})
	if (add == 1){
		return false;
	}else{
		return true;
	}
}

//添加设置
var $a = $("#syslogset>div:first").clone();
function addsyslog(obj){
	var $b = $(obj).parent().parent().parent();
	var $c = $a.clone().wrap('<div class="form"></div>');
	var SyslogConfigName = $b.find('input').eq(0).val();
	var add = 0;
	var input1;
	if (SyslogConfigName == ""){
		_alert(2,"SYSLOG","请输入名称",$b.find('input').eq(0));
		return false;
	}else{
		if (!nameCheck.test(SyslogConfigName)){
			_alert(1,"SYSLOG","名称格式不正确",$b.find('input').eq(0));
			return false;
		}
	}
	var isexist = check_name(SyslogConfigName,$b.find('input').eq(0));
	if (!isexist){
		return false;
	}
	$("#syslogset").children('div').not('div:first').each(function(i,item){
		input1 = $(item).find('input:first').val();
		if (input1 == SyslogConfigName){
			add = 1;
			_alert(2,"SYSLOG","相同的名称已存在",$b.find('input').eq(0));
			return false;
		}
	});
	if (add == 1){
		return false;
	}
	var SyslogServerIP = $b.find('input').eq(1).val();
	if (SyslogServerIP == ""){
		_alert(2,"SYSLOG","请输入服务器地址",$b.find('input').eq(1));
		return false;
	}else{
		if (!ipcheck_route.test(SyslogServerIP)){
			_alert(1,"SYSLOG","服务器地址格式不正确",$b.find('input').eq(1));
			return false;
		}
	}
	var SyslogPort = parseInt($b.find('input').eq(2).val());
	if (SyslogPort == ""){
		_alert(2,"SYSLOG","请输入端口",$b.find('input').eq(2));
		return false;
	}else{
		if (numCheck.test(SyslogPort)){
			_alert(1,"SYSLOG","端口格式不正确",$b.find('input').eq(2));
			return false;
		}
		if (SyslogPort < 1){
			_alert(1,"SYSLOG","端口不能小于1",$b.find('input').eq(2));
			return false;
		}
		if (SyslogPort > 65534){
			_alert(1,"SYSLOG","端口不能大于65534",$b.find('input').eq(2));
			return false;
		}
	}
	$b.find('.v-check:first').remove();
	//$b.find('input:first').attr("disabled",true);
	$b.find('p').remove();
	$b.find('li').append('<i class="ctrl del" onclick="_delsyslog(this)"></i>').children('i.add').remove();
	$b.before($c);
	$c.find('input').eq(0).focus();
}
//删除设置
function _delsyslog(obj){
	$(obj).parent().parent().parent().remove();
}

//保存配置
function syslog_save(){
	var syslog_list = [];
	var SyslogConfigName = $("#SyslogConfigName").val();
	var SyslogServerIP = $("#SyslogServerIP").val();
	var SyslogPort = $("#SyslogPort").val();
	var EnCode = $("#EnCode").val();
	var Flag = $("#Flag").val();
	if (SyslogConfigName == ""){
		_alert(2,"SYSLOG","请输入名称",$("#SyslogConfigName"));
		return false;
	}else{
		if (!nameCheck.test(SyslogConfigName)){
			_alert(1,"SYSLOG","名称格式不正确",$("#SyslogConfigName"));
			return false;
		}
	}
	if (edit == "None"){
		isexist = check_name(SyslogConfigName,$("#SyslogConfigName"));
		if (!isexist){
			return false;
		}
	}

	if (SyslogServerIP == ""){
		_alert(2,"SYSLOG","请输入服务器地址",$("#SyslogServerIP"));
		return false;
	}else{
		if (!ipcheck_route.test(SyslogServerIP)){
			_alert(2,"SYSLOG","服务器地址不正确",$("#SyslogServerIP"));
			return false;
		}
	}
	if (SyslogPort == ""){
		_alert(2,"SYSLOG","请输入端口",$("#SyslogPort"));
		return false
	}else{
		if (numCheck.test(parseInt(SyslogPort))){
			_alert(1,"SYSLOG","端口不正确",$("#SyslogPort"));
			return false;
		}
		if (parseInt(parseInt(SyslogPort)) < 1){
			_alert(1,"SYSLOG","端口不能小于1",$("#SyslogPort"));
			return false;
		}
		if (parseInt(parseInt(SyslogPort)) > 65534){
			_alert(1,"SYSLOG","端口不能大于65534",$("#SyslogPort"));
			return false;
		}
	}
	var modify_set = 0;
	syslog.SyslogConfigName = SyslogConfigName;
	syslog.SyslogServerIP = SyslogServerIP;
	syslog.SyslogPort = parseInt(SyslogPort);
	syslog.EnCode = EnCode;
	syslog.Flag = Flag;
	
	if (edit == "None"){
		syslog.SyslogConfigId = 0;
	}else{
		if (syslog.SyslogConfigName == edit.data[0].SyslogConfigName){
			modify_set = 1;
		}
		if (syslog.SyslogServerIP == edit.data[0].SyslogServerIP){
			modify_set = 1;
		}
		if (syslog.SyslogPort == edit.data[0].SyslogPort){
			modify_set = 1;
		}
		if (syslog.EnCode == edit.data[0].EnCode){
			modify_set = 1;
		}
	}
	syslog_list.push(JSON.stringify(syslog));
	msstr = aceg(JSON.stringify(syslog_list),se);
	$.ajax({
		url:'/bhost/save_syslog',
		type:'post',
		async:false,
		data:{a0:se,z1:JSON.stringify(syslog_list),z2:modify_set,m1:msstr},
		success:function(result){
			data = JSON.parse(result);
			if (data.Result == true){
				parent.layer.open({
					type:1,
					title:"SYSLOG",
					content:'<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
					btn:['确&nbsp;&nbsp;定'],
					btnAlign:'c',
					closeBtn: false,
					skin:'layer-custom',
					area:['380px','310px'],
					move: false,
					resize: false,
					btn1:function(i){
						parent.layer.close(i);
						back(2,syslog.Flag,data.SyslogConfigId);
					},
					btn2:function(i){
						parent.layer.close(i);
					}
				});	
			}else{
				_alert(1,"SYSLOG","执行失败：" + data.ErrMsg);
			}
		}
	});
}
//返回
function back(type,flag,id){
		if (type == 2){
		keyword_re = [];
		if (flag == 2){
						now = 1;
		}else{
			$.ajax({
				url:'/bhost/get_index',
				type:'post',
				async:false,
				data:{a0:se,z1:id,z2:24},
				success:function(result){
					now = Math.ceil(parseInt(result)/MAX_PAGE);
				}
			});
			/*
			if (edit != "None"){ //编辑保存
				$.ajax({
					url:'/bhost/get_index',
					type:'post',
					async:false,
					data:{a0:se,z1:edit.data[0].SyslogConfigId,z2:24},
					success:function(result){
						now = Math.ceil(parseInt(result)/MAX_PAGE);
					}
				});
			}else{//创建
				$.ajax({
					url:'/bhost/select_syslog_all',
					type:'post',
					async:false,
					data:{a0:se,z1:-1},
					success:function(result){
						var result = JSON.parse(result);
						var remain = parseInt(result.totalrow) % MAX_PAGE;
						if (remain > 0){
							now = Math.ceil(parseInt(result.totalrow)/MAX_PAGE);
						}else{
							now = parseInt(result.totalrow)/MAX_PAGE + 1;
						}
					}
				});
			}
			*/
		}
	}
			var deliver = JSON.stringify(keyword_re);
	document.frm_syslog.z1.value = now;
	document.frm_syslog.z2.value = deliver;
	document.frm_syslog.z3.value = JSON.stringify(selectid);
	document.frm_syslog.action='/bhost/manage_syslog';
	document.frm_syslog.a0.value = se;
	document.frm_syslog.submit();
}

function test_syslog(){
	var MasterConfigSet = {
		"MasterConfig":{
			"SyslogConfigId": 0, 
			"SyslogConfigName": "SYSLOG配置1",           
			"SyslogServerIP": "192.168.0.54",
			"SyslogPort": 514,
			"Flag":0,
			"EnCode":0
		}
	}
	var SyslogConfigName = $("#SyslogConfigName").val();
	var SyslogServerIP = $("#SyslogServerIP").val();
	var SyslogPort = $("#SyslogPort").val();
	var EnCode = $("#EnCode").val();
	var Flag = $("#Flag").val();
	if (SyslogConfigName == ""){
		_alert(2,"SYSLOG","请输入名称",$("#SyslogConfigName"));
		return false;
	}else{
		if (!nameCheck.test(SyslogConfigName)){
			_alert(1,"SYSLOG","名称格式不正确",$("#SyslogConfigName"));
			return false;
		}
	}

	if (SyslogServerIP == ""){
		_alert(2,"SYSLOG","请输入服务器地址",$("#SyslogServerIP"));
		return false;
	}else{
		if (!ipcheck_route.test(SyslogServerIP)){
			_alert(2,"SYSLOG","服务器地址不正确",$("#SyslogServerIP"));
			return false;
		}
	}
	if (SyslogPort == ""){
		_alert(2,"SYSLOG","请输入端口",$("#SyslogPort"));
		return false
	}else{
		if (numCheck.test(parseInt(SyslogPort))){
			_alert(1,"SYSLOG","端口不正确",$("#SyslogPort"));
			return false;
		}
		if (parseInt(parseInt(SyslogPort)) < 1){
			_alert(1,"SYSLOG","端口不能小于1",$("#SyslogPort"));
			return false;
		}
		if (parseInt(parseInt(SyslogPort)) > 65534){
			_alert(1,"SYSLOG","端口不能大于65534",$("#SyslogPort"));
			return false;
		}
	}
	MasterConfigSet.MasterConfig.SyslogConfigName = SyslogConfigName;
	MasterConfigSet.MasterConfig.SyslogServerIP = SyslogServerIP;
	MasterConfigSet.MasterConfig.SyslogPort = parseInt(SyslogPort);
	MasterConfigSet.MasterConfig.EnCode = EnCode;
	MasterConfigSet.MasterConfig.Flag = Flag;
	_showLoading();
	$.ajax({
		url:'/bhost/test_smssvr',
		type:'post',
		async:false,
		data:{a0:se,z1:JSON.stringify(MasterConfigSet),z2:5},
		success:function(result){
			var re_test = JSON.parse(result);
			if (re_test.Result){
				setTimeout(function () {
					$.ajax({
						url:'/bhost/get_test_flag',
						type:'post',
						async:false,
						data:{a0:se,z1:5},
						success:function(result){
							_closeLoading();
							var test_re = JSON.parse(result);
							if (test_re.Result){
								_alert(0,"SYSLOG","测试成功");
								return false;
							}else{
								_alert(1,"SYSLOG","测试失败");
								return false;
							}
							
						}
					});
				}, 3000);
				return false;
			}else{
				_closeLoading();
				_alert(1,"短信猫","测试失败");
				return false;
			}
		}
	})
}
</script>
