{% extends  "index.html" %}
{% block head %}
<!--icheck-->
        <script src="/manage/js/icheck.min.js"></script>
        <script src="/manage/js/select2.full.min.js"></script>
        <script src="/manage/js/common_e.js"></script>
        <link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
        <link rel="stylesheet" href="/manage/css/select2.min.css">
{% endblock  %}
{% block main %}
<!---->
		<div class="mainer">	
			<div class="container1">
				<div class="c-top">
					<div class="c-title">
						<div class="manual-head" style="float:left;width:auto">
							<div  class="manual-title-other title-item"   style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);" >
								<span onclick="archiving_strategy();">归档策略</span>
								<i  style="display: none;"></i>
							</div>
							<div class="manual-title-other title-item"  style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);">
								<span onclick="manual_backup();"> 数据备份</span>
								<i style="display: none;"></i>
							</div>

							<div class="manual-title-other title-item"  id="frist">
								<span onclick="location.reload();">数据恢复</span>
								<i   class="data_recover_icon"></i>
							</div>
                                                                                                 
							<div class="manual-title-other title-item" style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);">
								<span onclick="auto_archiving();">数据归档</span>
								<i style="display: none;"></i>
							</div>

						</div>
						<div class="ctr">
							<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
						</div>
					</div>
				</div>

				<div class="c-cont" id="form1">
					<div class="c-wrap">
						<div class="c-table">
							<div class="tab-t">
								<div class="ctr">

									<a href="javascript:;" class="btn btn-default btn-normal" onclick="make_recovery_task_all()">恢复</a>
									<a href="javascript:;" class="btn btn-default btn-normal" onclick="delete_backup()">删除</a>
									<a href="javascript:;" class="btn btn-default btn-normal" onclick="select_all()">全选</a>
									<a href="javascript:;" class="btn btn-default btn-normal" onclick="refresh()">刷新</a>
								</div>
								<div class="ctr" style="float: right;width: 350px;">
									<a href="javascript:;" class="btn btn-default btn-normal" onclick="upload_f()" style="float: right;margin-right: 0px;">上传文件</a>
								</div>
								<div class="ctr" style="float: right; display: none;">
									<div id="filebox">
										<span>
								<form id="uploadForm">
												<input  type="text" name="filename" id="filename" class="form-text" onclick="fileval(this)" style="width: 160px; height: 25px;opacity: 0; filter: alpha(opacity=0); position: absolute;cursor: pointer;"/>
												<input  type="file" name="filename1" id="filename1" class="form-text" onchange="fileval(this)" style="width: 160px; height: 25px;opacity: 0; filter: alpha(opacity=0); position: absolute;cursor: pointer;"/>
												<input name="fname" type="text" id="fname" size="20" class="form-text" value="" />
								</form>
										</span>
									</div>
								</div>
							</div>
							<div class="box-table">
								<table cellpadding="0" cellspacing="0" id="f_list">
									<thead>
										<tr>
											<th width="50"><input type="checkbox" class="form-checkbox" id="check_page"/></th>
											<th width="140">导入时间</th>
											<th>导入文件</th>
											<th>文件大小</th>
											<th width="80"></th>
										<tr>
									</thead>

									<tbody name="drecovery_list2" id="drecovery_list2">
									</tbody>
								</table>
							</div>
							<div class="tab-i">
								<div class="il">每页显示10条 总数：
								<span id = "user_total">25</span>  选中：
								<span id="select_total">0</span>
								</div>

								<div class="ipage">
									<a href="javascript:;" class="nav2 begin" id="begin" onclick="user_page(0.1)"><i></i></a>
									<a href="javascript:;" class="nav prev" id="prev" onclick="user_page(-1)" ><i></i></a>
									<input type="text" value="1" id="user_page" onchange="showMsg()">/&nbsp;<span id="totalpage">25</span>
									<a href="javascript:;" class="nav next" id="next" onclick="user_page(1)" ><i></i></a>
									<a href="javascript:;" class="nav2 end" id="end" onclick="user_page(0.9)" ><i></i></a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<!-- <div class="btns">
							<a href="javascript:;" class="btn btn-cancel btn-normal">返&nbsp;&nbsp;回</a>
						</div> -->
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn btn-cancel" style="float: right;"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	<form action="/bhost/drecovery_list2" method="POST" name="frm_drecovery" id="frm_drecovery">
			<input type="hidden" name="tasktype" id = "tasktype" value="" />
			<!--创建 编辑 列表-->
			<input type="hidden" name="page_num" id = "page_num" value="10" />
			<!--每页显示数-->
			<input type="hidden" name="total_all" id = "total_all" value="" />
			<!--总数-->
			<input type="hidden" name="paging" id = "paging" value="1" />
			<!--页码-->
			<input type="hidden" name="search_typeall" id = "search_typeall" value="" />
			<!--查询要求，查询内容，查询类型-->
			<input type="hidden" name="userid" id = "userid" value="" />
			<!--需要查询的id-->
			<input type="hidden" name="fenye" id = "fenye" value="" />
			<!--总页数-->
			<input type="hidden" name="se" id = "se" value="{{se}}" />
	</form>

{%  endblock  %}
{%  block script %}
<style>
	.tab-t .ctr {
	    float: left;
	    width: 500px;
	}
</style>
<script type="text/javascript">
var select_str = new Array();
var check_num = 0;
var backup_array=null;
$(function(){
    $('.form-checkbox,.form-radio').iCheck({
        checkboxClass:'icheckbox_minimal-blue',
        radioClass:'iradio_minimal-blue',
        increaseArea:'0'
    });

	$('div.cbi-t input[type=checkbox]').on('ifChecked',function(){
		var $d = $(this).parents('div.cbi-t').next('div.cbi-cont');
		$('input[type=checkbox]',$d).iCheck('check');
	}).on('ifUnchecked',function(){
		var $d = $(this).parents('div.cbi-t').next('div.cbi-cont');
		$('input[type=checkbox]',$d).iCheck('uncheck');
	});
    $("a.btn-cancel").unbind().bind("click",function(){
    	document.frm_drecovery.tasktype.value= 3;
		document.frm_drecovery.action = '/bhost/data_show';	
		document.frm_drecovery.submit();
    });
	$("#drecovery_list2").on('dblclick','tr',function(e){
		x=e.target;
		if (x.nodeName != "INS"){
			$(this).children('td:last').find('.edit').click();
		}
	}
	).on("click", "tr", function (e){  
		x=e.target;
		if(x.id=='del'){
			var del_id=$(this).find("td").eq(1).text();	
			layer.open({
				type:1,
				title: '数据恢复',
				content: '<div class="layer-alert"><i class="alert warning"></i>是否删除</div>',
				btn:['确&nbsp;&nbsp;认','取&nbsp;&nbsp;消'],
				btnAlign:'c',
				closeBtn: false,
				skin:'layer-custom',
				area:['380px','310px'],
				move: false,
				resize: false,
				yes:function(i){
					layer.close(i);
					delete_fun(del_id,1);
				}
			}); 
		}
		else if (x.id=='download') {
			var down_path=$(this).find("td").eq(3).attr('name');
			var Filenewname=$(this).find("td").eq(3).text();
			$.ajax({
				url: "/bhost/file_exit",
				type: "POST",
				async: false,
				data: { a0: $("input[name=se]").val(), a1: down_path,a2:'数据恢复' },
				success: function (result) {
					var result=JSON.parse(result);
					if(result.Result){
						//////console.log(down_path);
						if(use_BH=='0'){
							var form = $("<form></form>").attr("action", '/bhost/download_recover_file').attr("method", "post").attr('enctype','multipart/form-data');
							form.append($("<input></input>").attr("type", "hidden").attr("name", "a1").attr("value", down_path));
							form.append($("<input></input>").attr("type", "hidden").attr("name", "a0").attr("value", $("input[name=se]").val()));
							form.appendTo('body').submit().remove();
							return 0;
						}
						var down_path_arr=down_path.split('/');
						var file_name=down_path_arr.pop();
						var file_path=down_path_arr.join('/')+'/';
						var sesstimet = (new Date()).valueOf();
						var referrer_arr=document.referrer.toString().split('/');
						referrer_arr.pop();
						var referrer=referrer_arr.join('/');
						var json_download = {
								"Type": "Download",
								"Url": referrer,
								"Path": file_path,
								"Filename": file_name,
								"Session": $("input[name=se]").val(),
								"sesstimet":sesstimet,
								"Filenewname": Filenewname
						}
						var if_html_client = false;
						var base64_str = '';
						$.ajax({
								url: "/bhost/get_base64",
								type:"POST",
								async:false,
								data:{a0:$("input[name=se]").val(),z1:JSON.stringify(json_download)},
								success:function(result){
										var result=JSON.parse(result);
										if(result.Result){
												if_html_client = result.info;
												base64_str = result.b64;
										}else{
												_alert(1,"数据恢复",result.ErrMsg); 
										}
								}
						})
						if(if_html_client) window.open('https://'+document.domain+':'+location.port+'/bhost/test_html?se='+window.parent.document.frm.se.value+'&z1='+JSON.stringify(json_download));
						else{
							get_regedit('bhost', window.parent.document.frm.se.value,'',sesstimet);
							$('#YuFrame1').remove();
							$("<iframe width='0px' height='0px' id='YuFrame1' style=\"display:none;\" name='YuFrame1' ></iframe>").prependTo('body');
							$('#YuFrame1').attr('src','/bhost/test_html?t1=bhost&z1='+base64_str);
						}
					}
					else{
						_alert(2,'数据恢复',result.ErrMsg);
						return false;
					}
				}
			});	
		} 
		else if(x.id=='recovery'){
			var td_arr=$(this).find("td");
			var recovery_id=td_arr.eq(1).text();
			layer.open({
				type:1,
				title: '数据恢复',
				content: '<div class="layer-alert"><i class="alert warning"></i>是否恢复</div>',
				btn:['确&nbsp;&nbsp;认','取&nbsp;&nbsp;消'],
				btnAlign:'c',
				closeBtn: false,
				skin:'layer-custom',
				area:['380px','310px'],
				move: false,
				resize: false,
				yes:function(i){
					layer.close(i);
					make_recovery_task(recovery_id,1);
				}
			}); 
		}
		else{
			if($(this).find('input').prop('checked')){
				$(this).find('input').iCheck('uncheck');
			}else{
				$(this).find('input').iCheck('check');
			}
		}
	});
	$("#user_page").bind('keydown', function (e) {
		DigitInput(e);
	}).on("input propertychange", function () {				//防止在输入法开启的情况下输入非数字
		this.value = this.value.replace(/\D/g, "").trim();
	});
	$("#drecovery_list2").on("ifChecked",function(e){
		obj = e.target;
		check_num++;
		$("#select_total").text(check_num);	
		if($("table tbody tr input:checked").length==$("#drecovery_list2 tr").length){
			$('#check_page').iCheck('check');
		}
	}).on("ifUnchecked",function(e){
		check_num--;
		$("#select_total").text(check_num);	
		$('#check_page').iCheck('uncheck');	
	});
	$('#check_page').on('ifClicked',function(e){
		if(!$('#check_page').prop('checked')){
			$("#drecovery_list2 input[type=checkbox]").iCheck('check');
		}else{
			$("#drecovery_list2 input[type=checkbox]").iCheck('uncheck');
		}
	});
	parent._switchBtn(1);//显示按钮
})
function make_recovery_task(recovery_id,num) {
	$.ajax({
		url:'/bhost/make_recovery_task',
		type:'post',
		async:true,
		data:{a0:$("input[name=se]").val(),a1:recovery_id},
		success:function(result){
			var result=JSON.parse(result);
			if(result.Result){
				user_page(0);
				_alert(0,'数据恢复','恢复任务创建成功');
			}else{
				_alert(2,'数据恢复',result.ErrMsg);
			}
		}
	});	
}
function upload_f(){
	if(use_BH=='0'){
		$("#filename1").click();
	}else{
		$("#filename").click();
	}
}
function manual_backup(){
	document.frm_drecovery.tasktype.value= 2;
	document.frm_drecovery.action = '/bhost/data_show';	
	document.frm_drecovery.submit();
}
var setinterval=null;
var use_BH=window.parent.parent.document.frm.use_BH.value;
function fileval(){
	if(use_BH=='0'){
		send_form();
		return 0;
	}
	var referrer_arr=document.referrer.toString().split('/');
	referrer_arr.pop();
	var referrer=referrer_arr.join('/');
	var sesstimet = (new Date()).valueOf();
	var json_download = {
			"Type": "Upload",
			"Url": referrer,
			"Path": "/usr/storage/.system/upload/",
			"Filename": sesstimet+'',
			"Session": $("input[name=se]").val(),
			"sesstimet":sesstimet+''
	}
	var if_html_client = false;
	var base64_str = '';
	$.ajax({
			url: "/bhost/get_base64",
			type:"POST",
			async:false,
			data:{a0:window.parent.document.frm.se.value,z1:JSON.stringify(json_download)},
			success:function(result){
					var result=JSON.parse(result);
					if(result.Result){
							if_html_client = result.info;
							base64_str = result.b64;
					}else{
							_alert(1,"数据恢复",result.ErrMsg); 
					}
			}
	})
	if(if_html_client) window.open('https://'+document.domain+':'+location.port+'/bhost/test_html?se='+window.parent.document.frm.se.value+'&z1='+JSON.stringify(json_download));
	else{
		get_regedit('bhost', window.parent.document.frm.se.value,'',sesstimet);
		$('#YuFrame1').remove();
		$("<iframe width='0px' height='0px' id='YuFrame1' style=\"display:none;\" name='YuFrame1' ></iframe>").prependTo('body');
		$('#YuFrame1').attr('src','/bhost/test_html?t1=bhost&z1='+base64_str);
	}
	clearInterval(setinterval);
	setinterval=setInterval(function(){
		$.ajax({
			url: "/bhost/find_item_sql",
			type:"POST",
			async:false,
			data:{a0:window.parent.document.frm.se.value,a1:sesstimet},
			success:function(result){
				var result=JSON.parse(result);
				if(result.Result){
					if(result.info==null){

					}else{
						var info_arr=result.info.split('/');
						if(info_arr.length>1){
							$('#fname').val(info_arr.pop());
							$('#filename').val('/usr/storage/.system/upload/'+sesstimet);
							send_form();
						}else{
							if(result.info=='NULL'){
								$('#fname').val('');
								$('#filename').val('');
							}else{
								$('#fname').val(result.info);
								$('#filename').val('/usr/storage/.system/upload/'+sesstimet);
								send_form();
							}
						}
						clearInterval(setinterval);
					}
				}
			}
		});
	}, 3000);
}
function send_form() {
	//定义表单变量    
	if(use_BH=='0'){
		var c=$('#filename1').val();
		c = c.split("\\");
		var b = c[c.length-1];
		$('#fname').val(b);
	}
	var file = $('#fname').val(); 
	//////console.log(file);
	var formData_f = new FormData($("#uploadForm")[0]);
		var filename=file.substr(file.length-5);
		if (!/.slzs/ig.test(filename)){
			_alert(1,"数据恢复","上传文件格式不正确，只支持.slzs格式文件");
			$('#filename').val('');
			$('#filename1').val('');
			$('#fname').val('');
			return false;
		}
	formData_f.append('a0',$("input[name=se]").val());
	formData_f.append('a1',file.length);
	formData_f.append('a3','file_save');
	formData_f.append('a99',use_BH);
	$.ajax({
		url:'/bhost/import_recovery_data',
		type: 'POST',
		data: formData_f,  
		async: false,  
		cache: false,
		contentType: false,  
		processData: false,  
		success: function (result) {
			var result=JSON.parse(result);
			if(result.Result){
				_alert(0,'数据恢复','上传成功');
				$('#filename').val('');
				$('#fname').val('');
				$('#filename1').val('');
				show_backup_list();
			}else{
				if(result.ErrMsg=='存在同名的文件'){
					$('.btn').blur(); parent.layer.open({
						type: 1,
						title: '数据恢复',
						content: '<div class="layer-alert"><i class="alert warning"></i>是否覆盖</div>',
						btn: ['确&nbsp;&nbsp;定','取&nbsp;&nbsp;消'],
						btnAlign: 'c',
						closeBtn: false,
						skin: 'layer-custom',
						area: ['380px', '310px'],
						move: false,
						resize: false,
						btn1: function (i) {
							parent.layer.close(i);
							formData_f.append('a2',1);
							$.ajax({
								url:'/bhost/import_recovery_data',
								type: 'POST',
								data: formData_f,  
								async: false,  
								cache: false,
								contentType: false,  
								processData: false,  
								success: function (result) {
									var result=JSON.parse(result);
									if(result.Result){
										_alert(0,'数据恢复','上传成功');
										$('#filename').val('');
										$('#fname').val('');
										$('#filename1').val('');
										show_backup_list();
									}else{
										_alert(1,'数据恢复',result.ErrMsg);
										show_backup_list();
										$('#filename').val('');
										$('#fname').val('');
										$('#filename1').val('');
									}
								}
							});
						},
						btn2:function (i){
							parent.layer.close(i);
							formData_f.append('a2',2);
							$.ajax({
								url:'/bhost/import_recovery_data',
								type: 'POST',
								data: formData_f,  
								async: false,  
								cache: false,
								contentType: false,  
								processData: false,  
								success: function (result) {
									var result=JSON.parse(result);
									if(result.Result){
										_alert(0,'数据恢复','上传成功');
										$('#filename').val('');$('#fname').val('');$('#filename1').val('');
										show_backup_list();
									}else{
										_alert(1,'数据恢复',result.ErrMsg);
										show_backup_list();
										$('#filename').val('');$('#fname').val('');$('#filename1').val('');
									}
								}
							});
						}
					});
					
				}else{
					_alert(1,'数据恢复',result.ErrMsg);
					show_backup_list();
					$('#filename').val('');$('#fname').val('');$('#filename1').val('');
				}
			}
		}
	});
}
//全选按钮
function select_all(){
	if (select_str.length==backup_array.length){
		select_str=new Array();
	}else{
		select_str=backup_array;
	}
	show_backup_list();
}

function archiving_strategy(){
	document.frm_drecovery.tasktype.value= 1;
	document.frm_drecovery.action = '/bhost/data_show';
	document.frm_drecovery.submit();
}

function auto_archiving(){
	document.frm_drecovery.tasktype.value= 4;
	document.frm_drecovery.action = '/bhost/data_show';
	document.frm_drecovery.submit();
}
//选中字段存储
function select_save(){
	$(">tr","#drecovery_list2").each(function(){
		var input  = $(this).find("input[type='checkbox']");
		var select_item_pass =1;
		if($(input).is(':checked')){
			var select_item=$(">td",this).eq(1).text();
			if($.inArray(select_item,select_str)<0){
				select_str.push(select_item);
			}
		}else{
			var select_item=$(">td",this).eq(1).text();
			var index=$.inArray(select_item,select_str);
			if(index>=0){
				select_str.splice(index,1);
			}
		}
	});
}
//check显示
function check_show(){
	$(">tr","#drecovery_list2").each(function(){
		var input=$(this).find("input[type=checkbox]");
		var check_id=$(">td",this).eq(1).text();
		if($.inArray(check_id,select_str)>=0){
			$(input).iCheck('check');
		}
	});
}
//input回车触发事件
function showMsg(){
	var cur = $("#user_page").val();
	cur=cur.replace(/\D/g, "");
	if (cur==''){
		cur='1'
	}
	if (parseInt(cur) < 1){
		$("#user_page").val(1);
		document.frm_drecovery.paging.value=1;
	}
	else{
		document.frm_drecovery.paging.value=cur;
	}
	show_backup_list();
}

function update_array(){
	var paging = document.frm_drecovery.paging.value;
	var page_num = MAX_PAGE;
	$.ajax({
		url:'/bhost/get_lrecovery_file',
		type:'post',
		async:false,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			var user_result = JSON.parse(result);
			if (user_result.Result){
				var user_data = user_result.info;
				var select_str_old=select_str;
				select_str=new Array();
				backup_array=user_data.data.map(function (params) {
					if($.inArray(params.FileName+'',select_str_old)>=0){
						select_str.push(params.FileName+'');
					}
					return params.FileName+'';
				});
			}
		}
	})
}

function selView(){
	var $sel = $('#filterWW');
	var len = $('li',$sel).length;

	if(len == 0){
		$sel.hide();
	}else if(len == 1){
		$("#filterWW").show();
		$('>span.ww',$sel).show();
		$sel.addClass('selector-multiple');
	}else{
		$("#filterWW").show();
		$('>span.ww',$sel).show();
		$sel.addClass('selector-multiple');
	}
}
//以每页显示数显示列表函数
function show_backup_list(){
	update_array();
	var paging = document.frm_drecovery.paging.value;
	var page_num = MAX_PAGE;
	$.ajax({
		url: "/bhost/get_lrecovery_file",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val(),a1:page_num,a2:paging},
		success:function(result){
			var user_result = JSON.parse(result);
			if (user_result.Result==true){
				var user_data = user_result.info;
				var total_all = user_data.totalrow;
				$("#user_total").text(total_all);
				fenye = Math.ceil(total_all/page_num)||1;
				document.frm_drecovery.fenye.value=fenye;
				$("#totalpage").text(fenye);
				if(user_data.data=="" && paging!="1"){
					user_page(0.9);
				}else{
					document.frm_drecovery.total_all.value = total_all;
					if(total_all){
						$("#drecovery_list2").empty();
						$('#drecovery_list2').append(user_data.data.map(function (item) {
							var str_tmp = item.ImportTime;
							var c = item.FileName.split("\/");
							var b = c[c.length-1];
							var FileName=b.substring(b.indexOf('_')+1);
							return "<tr>"+
									"<td class=\"in\"><input type=\"checkbox\" class=\"input_checkbox\" /></td>"+
									"<td style =\"display:none\">"+item.FileName+"</td>"+
									"<td title=\""+str_tmp+"\">"+str_tmp+"</td>"+
									"<td name='"+item.FileName+"' title=\""+FileName+"\">"+FileName+"</td>"+
									"<td title=\""+item.FileSize+"\">"+item.FileSize+"</td>"+
									"<td id=\"on\"><div class=\"tab-ctr\" id=\"tab\">"+
									"<a href=\"javascript:;\" title='恢复' class=\"icon8\" id=\"recovery\" onclick=\"\"></a>"+
									"<a href=\"javascript:;\" title='下载' class=\"icon6\" id=\"download\" onclick=\"\"></a>"+
									"<a href=\"javascript:;\" title='删除' class=\"del\" id=\"del\" onclick=\"\"></a>"+
									"</div></td></tr>"
						}));
						// tabArr();							
						$(".input_checkbox","#drecovery_list2").iCheck({
							checkboxClass: 'icheckbox_minimal-blue',
							radioClass: 'iradio_minimal-blue',
							increaseArea: '0' // optional
						});
						
						if(paging>=fenye){
							paging=fenye;
						}
						document.frm_drecovery.paging.value=paging;
						document.getElementById("user_page").value=paging;
						$('#check_page').iCheck('uncheck');
						$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
						check_show();
						check_num=select_str.length;
						$("#select_total")[0].textContent = check_num;
					}
					else{
						$("table").next("div.tab-i").children("div.il").find("span.select_total").text(0);
						$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
						$("#drecovery_list2").empty();
						$("#user_total").text(total_all);
						$("#totalpage").text(1);
						document.getElementById("user_page").value=1;
					}	
				}
			}else{
				_alert(1,"配置备份任务列表查询",user_result.ErrMsg);
				$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
				$("table").next("div.tab-i").children("div.il").find("span.select_total").text(0);
				$("#user_total").text(0);
				$("#totalpage").text(1);
				document.getElementById("user_page").value=1;
				return false;
			}
		}
	});
}
//显示列表
$(document).ready(function(){
	show_backup_list();
})
//分页刷新
function user_page(num){
	var paging=parseInt(document.frm_drecovery.paging.value)+num;
	if(paging<1){
		paging = 1;
	}
	select_save();
	if (num == 0.1){
		paging = 1;
	}else if(num == 0.9){
		paging = document.frm_drecovery.fenye.value;
	}
	document.getElementById("user_page").value=paging;
	document.frm_drecovery.paging.value=paging;
	show_backup_list();
}

//刷新
function refresh(){
	select_str=new Array();
	show_backup_list();
}

//删除函数
function delete_fun(select_str_1,num){
	$.ajax({
		url: '/bhost/del_lrecovery_file',
		type: "POST",
		async:false,
		data: {a0:$("input[name=se]").val(),a1:select_str_1},
		success: function(result) {
			var result = JSON.parse(result);
			if(result.Result == true){
				user_page(0)
				_alert(0,"数据恢复","删除成功");
			}else{
				_alert(1,"数据恢复",result.ErrMsg);	
				return false;
			}	
		}
	})
}
//恢复按钮
function make_recovery_task_all() {
	select_save();
	var title="是否批量恢复";
	if(select_str.length == 0){
		_alert(1,"数据恢复","请选择要恢复的数据");
		return false;
	}else if (select_str.length == 1){
		title='是否恢复';
	}
	layer.open({
		type:1,
		title: '恢复确认',
		content: '<div class="layer-alert"><i class="alert warning"></i>'+title+'</div>',
		btn:['确&nbsp;&nbsp;认','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		yes:function(i){
			layer.close(i);
			make_recovery_task(select_str.join('\t'),2); 
		}
	});  
}

//删除按钮
function delete_backup(){
	select_save();
	if(select_str.length == 0){
		_alert(1,"数据恢复","请选择要删除的数据");
		return false;
	}
	layer.open({
		type:1,
		title: '删除确认',
		content: '<div class="layer-alert"><i class="alert warning"></i>是否批量删除</div>',
		btn:['确&nbsp;&nbsp;认','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		yes:function(i){
			layer.close(i);
			delete_fun(select_str.join('\t'),2); 
		}
	});  
}

</script>
{% endblock  %}
