{% extends  "index.html" %}
{% block head %}
<!--icheck-->
        <script src="/manage/js/icheck.min.js"></script>
        <script src="/manage/js/select2.full.min.js"></script>
        <script src="/manage/js/common_e.js"></script>
        <link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
        <link rel="stylesheet" href="/manage/css/select2.min.css">
        <link rel="stylesheet" href="/manage/css/new-head.css">
{% endblock  %}
{% block main %}
<!---->
		<div class="mainer">	
			<div class="container1">
				<div class="c-top">
					<div class="c-title">
						<div class="manual-head" style="float:left;width:auto">
							<div  class="manual-title-other title-item"   style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);" >
								<span id="archiving_strategy">归档策略</span>
								<i  style="display: none;"></i>
							</div>
							<div class="manual-title-other title-item"  style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);">
								<span id="manual_backup"> 数据备份</span>
								<i style="display: none;"></i>
							</div>

							<div class="manual-title-other title-item"  id="frist">
								<span id="data_recovery">数据恢复</span>
								<i   class="data_recover_icon"></i>
							</div>
                                                                                                 
							<div class="manual-title-other title-item" style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);">
								<span id="auto_archiving">数据归档</span>
								<i style="display: none;"></i>
							</div>

						</div>
						<div class="ctr">
							<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
						</div>
					</div>
				</div>

				<div class="c-cont" id="form1">
					<div class="c-wrap">
						<div class="c-table">
							<div class="tab-t">
								<div class="ctr">
									{% if _power_mode == 2%}
									<a href="javascript:;" class="btn btn-default btn-normal" onclick="delete_backup()">删除</a>
									<a href="javascript:;" class="btn btn-default btn-normal" onclick="select_all()">全选</a>
									{%endif%}
									<a href="javascript:;" class="btn btn-default btn-normal" onclick="refresh()">刷新</a>
								</div>
								{% if _power_mode == 2%}
								<div class="ctr" style="float: right;width: 350px;">
									<a href="javascript:;" class="btn btn-default btn-normal" onclick="upload_f()" style="float: right;margin-right: 0px;">上传文件</a>
									<a href="javascript:;" class="btn btn-default btn-normal" onclick="choose_f()" style="float: right;">选择文件</a>
								</div>
								{%endif%}
								<div class="ctr" style="float: right; display: none;">
									<div id="filebox">
										<span>
								<form id="uploadForm">
												<input  type="text" name="filename" id="filename" class="form-text" onclick="fileval(this)" style="width: 160px; height: 25px;opacity: 0; filter: alpha(opacity=0); position: absolute;cursor: pointer;"/>
												<input  type="file" name="filename1" id="filename1" class="form-text" onchange="fileval(this)" style="width: 160px; height: 25px;opacity: 0; filter: alpha(opacity=0); position: absolute;cursor: pointer;"/>
												<input name="fname" type="text" id="fname" size="20" class="form-text" value="" />
								</form>
										</span>
									</div>
								</div>
							</div>
							<div class="box-table">
								<table cellpadding="0" cellspacing="0" id="t_list">
									<thead>
										<tr>
											{% if _power_mode == 2%}
											<th width="50"><input type="checkbox" class="form-checkbox" id="check_page"/></th>
											{%endif%}
											<th width='140'>任务提交时间</th>
											<th>恢复文件</th>
											<th width='65'>恢复状态</th>
											<!-- <th width='65'>取消状态</th> -->
											<th>备注</th>
											{% if _power_mode == 2%}
												<th width="60"></th>
											{%else%}
											
											{%endif%}
										<tr>
									</thead>

									<tbody name="drecovery_list" id="drecovery_list">
									</tbody> 
								</table>
							</div>
							<div class="tab-i">
								<div class="il">每页显示10条 总数：
								<span id = "user_total">25</span>  选中：
								<span id="select_total">0</span>
								</div>

								<div class="ipage">
									<a href="javascript:;" class="nav2 begin" id="begin" onclick="user_page(0.1)"><i></i></a>
									<a href="javascript:;" class="nav prev" id="prev" onclick="user_page(-1)" ><i></i></a>
									<input type="text" value="1" id="user_page" onchange="showMsg()">/&nbsp;<span id="totalpage">25</span>
									<a href="javascript:;" class="nav next" id="next" onclick="user_page(1)" ><i></i></a>
									<a href="javascript:;" class="nav2 end" id="end" onclick="user_page(0.9)" ><i></i></a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn btn-cancel" style="float: right;"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	<form action="/bhost/drecovery_list" method="POST" name="frm_drecovery" id="frm_drecovery">
			<input type="hidden" name="tasktype" id = "tasktype" value="" />
			<!--创建 编辑 列表-->
			<input type="hidden" name="page_num" id = "page_num" value="10" />
			<!--每页显示数-->
			<input type="hidden" name="total_all" id = "total_all" value="" />
			<!--总数-->
			<input type="hidden" name="paging" id = "paging" value="1" />
			<!--页码-->
			<input type="hidden" name="search_typeall" id = "search_typeall" value="" />
			<!--查询要求，查询内容，查询类型-->
			<input type="hidden" name="userid" id = "userid" value="" />
			<!--需要查询的id-->
			<input type="hidden" name="fenye" id = "fenye" value="" />
			<!--总页数-->
			<input type="hidden" name="se" id = "se" value="{{se}}" />a
	</form>

{%  endblock  %}
{%  block script %}
<style>
	.tab-t .ctr {
	    float: left;
	    width: 500px;
	}
</style>
<script type="text/javascript">
var select_str = new Array();
var check_num = 0;
var backup_array=null;
var task_arr=new Array();
var if_disabled = "{{_power_mode}}";
var first_style = '';
$(function(){
	if(if_disabled =='1'){
		first_style="style=\"border-left: 1px solid #FFF;\"";
	}
    $('.form-checkbox,.form-radio').iCheck({
        checkboxClass:'icheckbox_minimal-blue',
        radioClass:'iradio_minimal-blue',
        increaseArea:'0'
    });
    $("a.btn-cancel").unbind().bind("click",function(){
    	window.parent._closePage(null);
    });
	$("#drecovery_list").on('dblclick','tr',function(e){
		x=e.target;
		if (x.nodeName != "INS"){
			$(this).children('td:last').find('.edit').click();
		}
	}).on("click", "tr", function (e){  
		x=e.target;
	});
	$('#check_page').on('ifClicked',function(e){
		if(!$('#check_page').prop('checked')){
			$("#drecovery_list input[type=checkbox]").iCheck('check');
		}else{
			$("#drecovery_list input[type=checkbox]").iCheck('uncheck');
		}
	});
	$("#user_page").bind('keydown', function (e) {
		DigitInput(e);
	}).on("input propertychange", function () {				//防止在输入法开启的情况下输入非数字
		this.value = this.value.replace(/\D/g, "").trim();
	});
	$("#drecovery_list").on("ifChecked",function(e){
		check_num++;
		$("#select_total").text(check_num);	
		if($("table tbody tr input:checked").length==$("#drecovery_list tr").length){
			$('#check_page').iCheck('check');
		}
	}).on("ifUnchecked",function(e){
		check_num--;
		$("#select_total").text(check_num);	
		$('#check_page').iCheck('uncheck');	
	});
	$('#drecovery_list').on('click','tr',function (e) {
		x=e.target;
		if(x.id=='del'){
			var del_id=$(this).find("td").eq(1).text();	
			layer.open({
				type:1,
				title: '数据恢复',
				content: '<div class="layer-alert"><i class="alert warning"></i>是否删除</div>',
				btn:['确&nbsp;&nbsp;认','取&nbsp;&nbsp;消'],
				btnAlign:'c',
				closeBtn: false,
				skin:'layer-custom',
				area:['380px','310px'],
				move: false,
				resize: false,
				yes:function(i){
					layer.close(i);
					deleteItems(del_id,1);
				}
			}); 
		}
		else if(x.id=='stop_icon'){
			var stop_id=$(this).find("td").eq(1).text();
			var stop_name=$(this).find("td").eq(3).text();
			$.ajax({
				url:'/bhost/stop_recovery_task',
				type:'post',
				async:false,
				data:{a0:$("input[name=se]").val(),a1:stop_id,a2:stop_name},
				success:function(result){
					var result=JSON.parse(result);
					if(result.Result){
						user_page(0);
					}else{

					}
				}
			});	
		}
		else if(x.id=='start_icon'){
			var start_id=$(this).find("td").eq(1).text();
			var start_name=$(this).find("td").eq(3).text();
			$.ajax({
				url:'/bhost/start_recovery_task',
				type:'post',
				async:false,
				data:{a0:$("input[name=se]").val(),a1:start_id,a2:start_name},
				success:function(result){
					var result=JSON.parse(result);
					if(result.Result){
						user_page(0);
					}else{

					}
				}
			});	
		}
		else{
			if($(this).find('input').prop('checked')){
				$(this).find('input').iCheck('uncheck');
			}else{
				$(this).find('input').iCheck('check');
			}
		}
	});
	parent._switchBtn(1);//显示按钮
	show_backup_list();
})

function manual_backup(){
	document.frm_drecovery.tasktype.value= 2;
	document.frm_drecovery.action = '/bhost/data_show';	
	document.frm_drecovery.submit();
}

function archiving_strategy(){
	document.frm_drecovery.tasktype.value= 1;
	document.frm_drecovery.action = '/bhost/data_show';
	document.frm_drecovery.submit();
}

function auto_archiving(){
	document.frm_drecovery.tasktype.value= 4;
	document.frm_drecovery.action = '/bhost/data_show';
	document.frm_drecovery.submit();
}
var use_BH=window.parent.parent.document.frm.use_BH.value;
function upload_f(){
	if(use_BH=='0'){
		$("#filename1").click();
		return 0;
	}
	$("#filename").click();
}
function choose_f(){
	document.frm_drecovery.tasktype.value= 5;
	document.frm_drecovery.action = '/bhost/data_show';	
	document.frm_drecovery.submit();
}
var setinterval=null;
function fileval(){
	if(use_BH=='0'){
		send_form();
		return 0;
	}
	var referrer_arr=document.referrer.toString().split('/');
	referrer_arr.pop();
	var referrer=referrer_arr.join('/');
	var sesstimet = (new Date()).valueOf();
	var json_download = {
			"Type": "Upload",
			"Url": referrer,
			"Path": "/usr/storage/.system/upload/",
			"Filename": sesstimet+'',
			"Session": $("input[name=se]").val(),
			"sesstimet":sesstimet+''
	}
	var if_html_client = false;
	var base64_str = '';
	$.ajax({
			url: "/bhost/get_base64",
			type:"POST",
			async:false,
			data:{a0:window.parent.document.frm.se.value,z1:JSON.stringify(json_download)},
			success:function(result){
					var result=JSON.parse(result);
					if(result.Result){
							if_html_client = result.info;
							base64_str = result.b64;
					}else{
							_alert(1,"数据恢复",result.ErrMsg); 
					}
			}
	})
	if(if_html_client) window.open('https://'+document.domain+':'+location.port+'/bhost/test_html?se='+window.parent.document.frm.se.value+'&z1='+JSON.stringify(json_download));
	else{
		get_regedit('bhost', window.parent.document.frm.se.value,'',sesstimet);
		$('#YuFrame1').remove();
		$("<iframe width='0px' height='0px' id='YuFrame1' style=\"display:none;\" name='YuFrame1' ></iframe>").prependTo('body');
		$('#YuFrame1').attr('src','/bhost/test_html?t1=bhost&z1='+base64_str);
	}
	clearInterval(setinterval);
	setinterval=setInterval(function(){
		$.ajax({
			url: "/bhost/find_item_sql",
			type:"POST",
			async:false,
			data:{a0:window.parent.document.frm.se.value,a1:sesstimet},
			success:function(result){
				var result=JSON.parse(result);
				if(result.Result){
					if(result.info==null){

					}else{
						var info_arr=result.info.split('/');
						if(info_arr.length>1){
							$('#fname').val(info_arr.pop());
							$('#filename').val('/usr/storage/.system/upload/'+sesstimet);
							send_form();
						}else{
							if(result.info=='NULL'){
								$('#fname').val('');
								$('#filename').val('');
							}else{
								$('#fname').val(result.info);
								$('#filename').val('/usr/storage/.system/upload/'+sesstimet);
								send_form();
							}
						}
						clearInterval(setinterval);
					}
				}
			}
		});
	}, 3000);
}
function send_form(){
	if(use_BH=='0'){
		var c=$('#filename1').val();
		c = c.split("\\");
		var b = c[c.length-1];
		$('#fname').val(b);
	}
	//定义表单变量    
	var file = $('#fname').val(); 
	var formData_f = new FormData($("#uploadForm")[0]);

	var filename=file.substr(file.length-5);
	if (!/.slzs/ig.test(filename)){
		_alert(1,"数据恢复","上传文件格式不正确，只支持.slzs格式文件");
		$('#filename').val('');
		$('#filename1').val('');
		$('#fname').val('');
		return false;
	}
	formData_f.append('a0',$("input[name=se]").val());
	formData_f.append('a1',file.length);
	formData_f.append('a10','recover');
	formData_f.append('a99',use_BH);
	$.ajax({
		url:'/bhost/import_recovery_data',
		type: 'POST',
		data: formData_f,  
		async: false,  
		cache: false,
		contentType: false,  
		processData: false,  
		success: function (result) {
			var result=JSON.parse(result);
			if(result.Result){
				_alert(0,'数据恢复','上传成功');
				$('#filename').val('');$('#fname').val('');$('#filename1').val('');
				show_backup_list();
			}else{
				if(result.ErrMsg=='存在同名的文件'){
					$('.btn').blur(); parent.layer.open({
						type: 1,
						title: '数据恢复',
						content: '<div class="layer-alert"><i class="alert warning"></i>是否覆盖</div>',
						btn: ['确&nbsp;&nbsp;定','取&nbsp;&nbsp;消'],
						btnAlign: 'c',
						closeBtn: false,
						skin: 'layer-custom',
						area: ['380px', '310px'],
						move: false,
						resize: false,
						btn1: function (i) {
							parent.layer.close(i);
							formData_f.append('a2',1);
							$.ajax({
								url:'/bhost/import_recovery_data',
								type: 'POST',
								data: formData_f,  
								async: false,  
								cache: false,
								contentType: false,  
								processData: false,  
								success: function (result) {
									var result=JSON.parse(result);
									if(result.Result){
										_alert(0,'数据恢复','上传成功');
										$('#filename').val('');$('#fname').val('');$('#filename1').val('');
										show_backup_list();
									}else{
										_alert(1,'数据恢复',result.ErrMsg);
										show_backup_list();
										$('#filename').val('');$('#fname').val('');$('#filename1').val('');
									}
								}
							});
						},
						btn2:function (i){
							parent.layer.close(i);
							formData_f.append('a2',2);
							$.ajax({
								url:'/bhost/import_recovery_data',
								type: 'POST',
								data: formData_f,  
								async: false,  
								cache: false,
								contentType: false,  
								processData: false,  
								success: function (result) {
									var result=JSON.parse(result);
									if(result.Result){
										_alert(0,'数据恢复','上传成功');
										$('#filename').val('');$('#fname').val('');$('#filename1').val('');
										show_backup_list();
									}else{
										_alert(1,'数据恢复',result.ErrMsg);
										show_backup_list();
										$('#filename').val('');$('#fname').val('');$('#filename1').val('');
									}
								}
							});
						}
					});
					
				}else{
					_alert(1,'数据恢复',result.ErrMsg);
					show_backup_list();
					$('#filename').val('');$('#fname').val('');$('#filename1').val('');
				}
			}
		}
	});
}
//选中字段存储
function select_save(){
	$(">tr","#drecovery_list").each(function(){
		var input  = $(this).find("input[type='checkbox']");
		var select_item_pass =1;
		if($(input).is(':checked')){
			var select_item=$(">td",this).eq(1).text();
			if ($.inArray(select_item,select_str)<0){
				select_str.push(select_item);
			}
		}else{
			var select_item=$(">td",this).eq(1).text();
			if ($.inArray(select_item,select_str)>=0){
				select_str.splice($.inArray(select_item,select_str),1);
			}
		}
	});
	//////console.log(select_str);
}
//check显示
function check_show(){
	$(">tr","#drecovery_list").each(function(){
		var input=$(this).find("input[type='checkbox']");
		var check_id=$(">td",this).eq(1).text();
		if($.inArray(check_id,select_str)>=0){
			$(input).iCheck('check');
		}
	});
}
//input回车触发事件
function showMsg(){
	var cur = $("#user_page").val();
	var totalpage = $("#totalpage")[0].textContent;
	cur=cur.replace(/\D/g, "");
	if (cur==''){
		cur='1'
	}
	if (parseInt(cur) < 1){
		$("#user_page").val(1);
		document.frm_drecovery.paging.value=1;
	}
	else{
		document.frm_drecovery.paging.value=cur;
	}
	show_backup_list();
}

function update_array(){
	var paging = document.frm_drecovery.paging.value;
	var page_num = MAX_PAGE;
	$.ajax({
		url:'/bhost/get_lrecovery_task',
		type:'post',
		async:false,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			var user_result = JSON.parse(result);
			if (user_result.Result){
				var user_data = user_result.info;
				var select_str_old=select_str;
				select_str=new Array();
				backup_array=user_data.data.map(function (params) {
					if($.inArray(params.TaskId+'',select_str_old)>=0){
						select_str.push(params.TaskId+'');
					}
					return params.TaskId+'';
				});
			}
		}
	})
}


//以每页显示数显示列表函数
function show_backup_list(){
	update_array();
	var paging = document.frm_drecovery.paging.value;
	var page_num = MAX_PAGE;
	$.ajax({
		url: "/bhost/get_lrecovery_task",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val(),a1:page_num,a2:paging},
		success:function(result){
			var user_result = JSON.parse(result);
			if (user_result.Result==true){
				var user_data = user_result.info;
				var total_all = user_data.totalrow;
				$("#user_total").text(total_all);
				fenye = Math.ceil(total_all/page_num)||1;
				document.frm_drecovery.fenye.value=fenye;
				$("#totalpage").text(fenye);
				task_arr=user_data.data;
				if(user_data.data=="" && paging!="1"){
					user_page(0.9);
				}else{
					document.frm_drecovery.total_all.value = total_all;
					if(total_all){
						$("#drecovery_list").empty();
						$('#drecovery_list').append(task_arr.map(function (params) {
							var str_tmp = params.SubmitTime.replace(/T/g,' ');
							var p1;
							var tar_1='<a href="javascript:;" class="stop_icon disabled s-hide" id="" title="取消"></a>';
							switch (params.CancelStatus) {
								case 0:
									p1="正常状态";
									tar_1='<a href="javascript:;" class="stop_icon s-hide" id="stop_icon" title="取消"></a>';
									break;
								case 1:
									tar_1='<a href="javascript:;" class="stop_icon disabled s-hide" id="" title="取消"></a>';
									p1='取消状态';
									break;
							}
							if (params.Status == 0){
								var p = "队列中";
							}else if(params.Status == 1){
								var p = "恢复中";
								// tar_1='<a href="javascript:;" class="stop_icon disabled s-hide" id="" title="取消"></a>';
							}else if(params.Status == 2){
								var p = "恢复完成";
								tar_1='<a href="javascript:;" class="stop_icon disabled s-hide" id="" title="取消"></a>';
							}else if(params.Status == 3){
								var p = "恢复失败";
								tar_1='<a href="javascript:;" class="stop_icon disabled s-hide" id="" title="取消"></a>';
							}
							var c = params.FileName.split("\/");
							var b = c[c.length-1];
							var FileName=b.substring(b.indexOf('_')+1);
							return "<tr>"+
									"<td class=\"in s-hide\"><input type=\"checkbox\" class=\"input_checkbox\" /></td>"+
									"<td style = \"display:none\">"+params.TaskId+"</td>"+
									"<td title=\""+str_tmp+"\" "+first_style+">"+str_tmp+"</td>"+
									"<td name='"+params.FileName+"'title=\""+FileName+"\">"+FileName+"</td>"+
									"<td title=\""+p+"\">"+p+"</td>"+									
									"<td title=\""+(params.Memo||'')+"\">"+(params.Memo||'')+"</td>"+									
									"<td id=\"on\">"+
									"<div class=\"tab-ctr\" id=\"tab\">"+
									tar_1+
									"<a href=\"javascript:;\" class=\"del s-hide\" title=\"删除\" id=\"del\" onclick=\"\"></a>"+
									"</div></td></tr>"
						}));
						if(if_disabled == '1') $('.s-hide').remove();
						$(".input_checkbox","#drecovery_list").iCheck({
							checkboxClass: 'icheckbox_minimal-blue',
							radioClass: 'iradio_minimal-blue',
							increaseArea: '0' // optional
						});
						
						if(paging>=fenye){
							paging=fenye;
						}
						document.frm_drecovery.paging.value=paging;
						document.getElementById("user_page").value=paging;
						$('#check_page').iCheck('uncheck');
						$("table tbody tr input").iCheck('uncheck');
						check_show();
						check_num=select_str.length;
						$("#select_total").text(check_num);
					}
					else{
						$("#drecovery_list").empty();
						$('#check_page').iCheck('uncheck');
						$("#select_total").text(0);
						$("table tbody tr input").iCheck('uncheck');
						$("#user_total").text(total_all);
						$("#totalpage").text(1);
						document.getElementById("user_page").value=1;
					}	
				}
			}else{
				_alert(1,"数据恢复",user_result.ErrMsg);
				$("#drecovery_list").empty();
				$('#check_page').iCheck('uncheck');
				$("table tbody tr input").iCheck('uncheck');
				$("#select_total").text(0);
				$("#user_total").text(0);
				$("#totalpage").text(1);
				document.getElementById("user_page").value=1;
				return false;
			}
		}
	});
}
//分页刷新
function user_page(num){
	var paging=parseInt(document.frm_drecovery.paging.value)+num;
	if(paging<1){
		paging = 1;
	}
	select_save();
	if (num == 0.1){
		paging = 1;
	}else if(num == 0.9){
		paging = document.frm_drecovery.fenye.value;
	}
	document.getElementById("user_page").value=paging;
	document.frm_drecovery.paging.value=paging;
	show_backup_list();
}
//全选按钮
function select_all(){
	if (select_str.length==backup_array.length){
		select_str=new Array();
	}else{
		select_str=backup_array;
	}
	show_backup_list();
}
//刷新
function refresh(){
	select_str=new Array();
	show_backup_list();
}

function deleteItems(select_str_1,num){
	$.ajax({
		url: '/bhost/del_lrecovery_task',
		type: "POST",
		async:false,
		data: {a0:$("input[name=se]").val(),a1:select_str_1},
		success: function(result) {
			var result = JSON.parse(result);
			if(result.Result == true){
				user_page(0);
				_alert(0,"数据恢复","删除成功");
			}else{
				_alert(1,"数据恢复",result.ErrMsg);	
				return false;
			}	
		}
	});
}
//删除按钮
function delete_backup(){
	select_save();
	if(select_str.length == 0){
		_alert(2,"数据恢复","请选择要删除的数据");
		return false;
	}
	
	layer.open({
		type:1,
		title: '数据恢复',
		content: '<div class="layer-alert"><i class="alert warning"></i>是否批量删除</div>',
		btn:['确&nbsp;&nbsp;认','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		yes:function(i){
			layer.close(i);
			deleteItems(select_str.join(','),2); 
		},
		no:function(i){
			layer.close(i);
		}
	});  
}
$(function(){

	$("#archiving_strategy").on("click",function(){
		archiving_strategy()
	});
	$("#manual_backup").on("click",function(){
		manual_backup()
	});
	$("#data_recovery").on("click",function(){
		location.reload();
	});
	$("#auto_archiving").on("click",function(){
		auto_archiving()
	});

   });
</script>
{% endblock  %}
