
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<link rel="stylesheet" href="/manage/css/jquery.datepick.css">
	<link rel="stylesheet" href="/manage/css/new-head.css">
    <link rel="stylesheet" href="/manage/css/jedate.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/select2.full.min.js"></script>
	<script src="/manage/js/jquery.plugin.js"></script>
	<!-- <script src="/manage/js/jquery.datepick.js"></script> -->
	<script src="/manage/js/icheck.min.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<script src="/manage/js/jquery.jedate.min.js"></script>
	<style>
		.ss{
			padding-bottom: 10px;
		}
		.form-text {
			padding: 0 8px;
		}
		
	</style>
</head>
<body style="overflow:hidden;" class="bg-white">
		<!--dns设置-->
		<div class="rwrap">
		<div class="c-top">
			<div class="c-title">
				<!--<h3 onclick="parent.reload();">dns设置</h3>-->
				<div class="manual-head" style="float:left;width:auto">
						<div class="manual-title title-item" style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);" id="frist">
							<span id="int_set">基础设置</span>
							<i style ="display:none" ></i>
						</div>
						<!-- <div class="manual-title-other title-item"  style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);">
							<span id="route_set"> 路由设置</span>
							<i style ="display:none"></i>
						</div> -->
						<div class="manual-title-other title-item"  id="frist" >
							<span id="dns_set"> DNS设置</span>
							<i class="dns_icon"></i>
						</div>
					</div>
			<div class="ctr">
					<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
					
				</div>
			</div>
		</div>
		<div class="mainer">
			<div class="container">
				<div class="c-cont">
					<div class="c-form c-form-host"style="width:780px;min-width:780px;padding-top:20px;" id="DNSServer" name="DNSServer">
						<div class="form">
							<div class="form-item form-item-100 " style="width:900px;font-size:16px;">
								<span class="form-tag"style="width:192px;" >DNS服务器地址：</span>
								<div id="ip_n" name="ip_n" class="form-c"style="padding-left:10px;height: auto;overflow-y:hidden;width:auto;max-width:540px;float: left;">
									<span class="ss ss-add">
										<input id="ipInput" type="text" style="width:134px;" class="form-text" onkeyup="/*showMsg*/">
										<i class="ctr ctr-add" onclick="_addIp(this)" style="margin-left: 5px;    margin-top: 9px;"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="c-form">
						<div class="btns s-hide">
							<a href="javascript:;" class="btn btn-normal"onclick="dns_save();">保&nbsp;&nbsp;存</a>
							<!--
							<a href="javascript:;" class="btn btn-normal" onclick="time_result();">取&nbsp;&nbsp;消</a> 
							-->
						</div>
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn" style="float: right;" onclick="time_result();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<form action="/bhost/create_route" method="POST" name="frm_route" id="frm_route">
		<input type="hidden" name="z1" id = "z1" value="" />
		<input type="hidden" name="z2" id = "z2" value="" />	
		<input type="hidden" name="z3" id = "z3" value="" />
		<input type="hidden" name="z4" id = "z4" value="" />
		<input type="hidden" name="z5" id = "z5" value="" />
		<input type="hidden" name="se" id = "se" value="" />
		<input type="hidden" name="a0" value="" />
		
	</form>


<script>
$('#Enabled').iCheck({
	checkboxClass: 'icheckbox_minimal-blue',
	radioClass: 'iradio_minimal-blue',
	increaseArea: '0' // optional
});
</script>

<!--select2-->

<script>
</script>
<script>

//正则表达式，用来检验一个IP地址是否合法
var ipReg = /(^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-4]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])$)/
</script>
<script>
var error_msg = '{{error_msg}}';
var data = '{{DNSIP| safe }}';
var DNSConfigId = '{{DNSConfigId| safe }}';
var se = window.parent.document.frm.se.value;
document.frm_route.a0.value = se;
$(function(){
	if(parent.is_guide == 1){
		$('#bBtn').hide();
		$('a.ret').parent().hide();
	}
	_if_disable = $('#nav-s1 li[data-modeid=7]',parent.parent.document).attr('_if_disable');
	if(_if_disable == '1'){
		$('.s-hide').remove();
	}
	if(error_msg !=""){
		_alert(2,'DNS设置',error_msg);
		return false;
	}
	$("#int_set").on("click",function(){
		export_show();
	});
	$("#dns_set").on("click",function(){
		export_show_dns();
	});
	$("#route_set").on("click",function(){
		//parent.reload();
		document.frm_route.action = '/bhost/route_show';
		document.frm_route.z1.value = 1;
		document.frm_route.z2.value = "[]";
		document.frm_route.z3.value = 0;
		document.frm_route.z4.value = "[]";
		document.frm_route.submit();
	});
	
	var inputArea = $("#ip_n").find("span[class='ss ss-add']");
	if (data!=''){
		var time_data_ip = data.split(",");
		$.each(time_data_ip,function(i,item){
			if(i!=time_data_ip.length-1){
				inputArea.after( createIPTag(item));
			}else{
				$('#ipInput').val(item);
			}
			
		});					
	}
	
});
function createIPTag(ipAddr){
	var contentBuf = [];
	contentBuf.push('<span class="ss">');
	contentBuf.push('<input type="text" style="width:134px;" class="form-text" value="' + ipAddr + '">');
	contentBuf.push('<i class="ctr ctr-del" onclick="_delIp(this)" style="margin-top: 5px;margin-left: -3px;"></i>');
	contentBuf.push('</span>');
	return contentBuf.join('');
}
//检查格式
function dataCheck(obj, min, max){//min can not bigger than 1
	obj.value = obj.value.replace(/\D/g, "");
	if(min){
		if(parseInt(obj.value, 10) < parseInt(min, 10)) obj.value = min;
	}
	if(max){
		if(parseInt(obj.value, 10) > parseInt(max, 10)) obj.value = max;
	}
}
//删除服务器地址
function _delIp(obj){
	var $c = $(obj).parent();
	$c.fadeOut(function(){
		$c.remove();
	});
}

function wrongIPFormat(ipStr) {
	if ( !ipReg.test(ipStr)) {
		return true;
	}
	return ipStr == "0.0.0.0" || ipStr == "255.255.255.255";
}

//加入服务器地址
function _addIp(obj){
	var isUnique = true;
	var inputVal = $("#ipInput").val().trim();

	if(inputVal == ''){
		_alert(2,'DNS设置','请输入DNS服务器地址',$("#ipInput"));
		$("#ipInput").val("");
		return false;
	}else if( wrongIPFormat(inputVal)){
		_alert(1,'DNS设置','DNS服务器地址格式不正确',$("#ipInput"));
		return false;
	}else{
		$("#ip_n>span[class='ss']").each(function(){
			var ip_str = $(this).find("input").val();
			if (ip_str == inputVal){
				_alert(2,'DNS设置','DNS服务器地址重复',$("#ipInput"));
				isUnique = false;
				return false;
			}
		});
	}
	if(isUnique){
		$(obj).parent().after( createIPTag(inputVal));
		$("#ipInput").val("");
		$("#ipInput").focus();
	}
}

function createIPTag(ipAddr){
	var contentBuf = [];
	contentBuf.push('<span class="ss">');
	contentBuf.push('<input type="text" style="width:134px;" class="form-text" value="' + ipAddr + '">');
	contentBuf.push('<i class="ctr ctr-del" onclick="_delIp(this)" style="margin-top: 5px;margin-left: -3px;"></i>');
	contentBuf.push('</span>');
	return contentBuf.join('');
}

//创建
function dns_save(){
	var input_str = $("#ipInput").val().trim();
	var ipBuf = [];
	
	var $all = $('#ip_n').find('span[class=ss]');
	var len = $all.length;
	oper ="保存DNS设置：（"
	if (input_str != "") {
		if( wrongIPFormat(input_str)){
			_alert( 1,'DNS设置','DNS服务器地址格式不正确',$("#ipInput"));
			return false;	
		}
		ipBuf.push(input_str);
	} 
	for (var i = 0; i < len; ++i) {
		var inputBox = $all.eq(i).find("input");
		var ip_str = inputBox.val();
		if ( wrongIPFormat(ip_str)){
			inputBox.val('').val(ip_str);
			_alert(1,'DNS设置','DNS服务器地址格式不正确',inputBox);
			return false;
		}				
		if (ip_str == input_str ){
			$("#ipInput").val('').val(input_str);
			_alert(2,'DNS设置','DNS服务器地址重复',$("#ipInput"));
			return false;
		}
		if ( ipBuf.indexOf(ip_str) != -1) {
			inputBox.val('').val(ip_str);
			_alert(2,'DNS设置','DNS服务器地址重复',inputBox);
			return false;
		}
		ipBuf.push(ip_str);		
	}
	
	
	
	ipBuf.reverse();
	//time.Enabled=$('#Enabled').is(':checked');
	//time.DNSServerIP = ipBuf.join(';') || null;
	//save_time();
	//console.log(ipBuf);
	oper += "DNS服务器地址："+ipBuf.toString()+"）"
	$.ajax({
		url:'/bhost/save_dns',
		type:'post',
		async:false,
		data:{a0:se,i1:ipBuf.toString(),c1:DNSConfigId,o1:oper},
		success:function(result){
			result = JSON.parse(result);
			if (result.Result == false){
				layer.open({
					type: 1,
					title: 'DNS设置',
					content: '<div class="layer-alert"><i class="alert fail"></i>"保存失败：'+result.info+'</div>',
					btn: ['确&nbsp;&nbsp;定'],
					btnAlign: 'c',
					area: ['380px','310px'],
					yes: function(i) {
						layer.close(i);
						export_show_dns();
					},
					skin:'layer-custom'
				});
				return ;
			}else{
				layer.open({
					type: 1,
					title: 'DNS设置',
					content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
					btn: ['确&nbsp;&nbsp;定'],
					btnAlign: 'c',
					area: ['380px','310px'],
					yes: function(i) {
						layer.close(i);
						export_show_dns();
					},
					skin:'layer-custom'
				});
				return ;
			}		
		}
	});
	
}
//显示列表页面
function time_result(){
	window.parent._closePage(null); 
}

function export_show(){
	document.frm_route.action='/bhost/export_show';
	document.frm_route.submit();
}
function export_show_dns(){
	document.frm_route.action='/bhost/dns_show';
	document.frm_route.se.value=se;
	document.frm_route.submit();
}
</script>
</body>
</html>
