<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<!--script-->
	<link rel="stylesheet" href="/manage/css/new-head.css">
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>
	<style>
		.form-text2 {
			width: 134px;
			padding-right: 8px;
		}
	</style>
</head>
<body style="overflow:hidden;" class="bg-white">
		<!--网口添加或编辑-->
	<div class="rwrap">
		<div class="c-top">
		</div>
		<div class="mainer">
			
			<div class="container">
				<div class="c-cont" id="export" name="export">
					<div class="form-item" style="width: 20%; position: absolute; padding-top: 50px; z-index: 9;">
						<div class="form-c" style="position: absolute; padding-left: 50px;">
							<select class="form-select" name="edit_type" id="edit_type" style="width:152px;" onchange="change_type();">
								<option value="0" selected>网络</option>
								<option value="1">路由</option>
							</select>
						</div>
					</div>
					<div class="c-form"style="padding-bottom:10px;width: 66%;min-width: 900px;" >
						<div class="form">
							<div class="form-item" >
								<span class="form-tag"><em class="imp">*</em>设备类型：</span>
								<div class="form-c">
									<select class="form-select" name="is_bond" id="is_bond" style="width:152px;">
										<option value="null" selected>请选择</option>
										<option value="0">Ether</option>
										<option value="1">Bond</option>
									</select>
								</div>
							</div>
							
							<div class="form-item" >
								<span class="form-tag"><em class="imp">*</em>服务器：</span>
								<div class="form-c">
									<select class="form-select" name="server_id" id="server_id" style="width:152px;">
										<option value="0" selected>请选择</option>
									</select>
								</div>
							</div>
							
							<div class="form-item" id="ether_t" name="ether_t">
								<span class="form-tag" id="ether_title" name="ether_title"><em class="imp">*</em>网口：</span>
								<div class="form-c">
									<select class="form-select" name="ether_name" id="ether_name" style="width:152px;">
										<option value="0" selected>请选择</option>
									</select>
								</div>
							</div>
							
							<div class="form-item" style="display:none;" id="bond_t" name="bond_t">
								<span class="form-tag" id="bond_title" name="bond_title"><em class="imp">*</em>Bond：</span>
								<div class="form-c" style="width: 260px;">
									<select class="form-select" name="bond_name" id="bond_name" style="width:152px;">
										<option value="0" selected>请选择</option>
									</select>
									<a href="javascript:;" class="form-button"  id="bond_show_button" name="bond_show_button" onclick="export_to_bond();">Bond列表</a>
								</div>
							</div>
							
							<div class="form-item" >
								<span class="form-tag"><em class="imp">*</em>地址类型：</span>
								<div class="form-c">
									<select class="form-select" name="netdev_clas" id="netdev_clas" style="width:152px;">
										<option value="null" selected>请选择</option>
										<option value="0">物理地址</option>
										<option value="1">虚拟地址</option>
										<option value="2">Vlan</option>
									</select>
								</div>
							</div>
							<div class="form-item">
								<span class="form-tag"><em class="imp">*</em>IP地址：</span>
								<div class="form-c">
									<input type="text" id="ip_addr" name="ip_addr" class="form-text form-text2" style="" onblur="regCheck1(this,ipReg);">
									<i class="v-check"></i>
								</div>
							</div>
							<div class="form-item">
								<span class="form-tag"><em class="imp">*</em>子网掩码：</span>
								<div class="form-c">
									<input type="text" id="mask_addr" name="mask_addr" class="form-text form-text2" style="" onblur="regCheck2(this,ipReg);">
									<i class="v-check"></i>
								</div>
							</div>
							
							<div class="form-item"style="display:none;"id="num" name="num">
								<span class="form-tag"><em class="imp">*</em>编号：</span>
								<div class="form-c">
									<input type="text" class="form-text form-text2" maxlength="4" style="" onblur="dataCheck(this,0, 256);" onkeyup="dataCheck(this,0, 256);" id="num_value" name="num_value">
								</div>
							</div>
							<div class="form-item"style="display:none;"id="tag_num" name="tag_num">
								<span class="form-tag"><em class="imp">*</em>Tag：</span>
								<div class="form-c">
									<input type="text" class="form-text form-text2" maxlength="5" onblur="dataCheck(this,1, 4094);" onkeyup="dataCheck(this,1, 4094);" style="" id="tag_num_value" name="tag_num_value">
								</div>
							</div>
							
							<div class="form-item" style="display:none;">
								<span class="form-tag">描述：</span>
								<div class="form-c">
									<input type="text" class="form-text form-text2" maxlength="255" style="" id="memo" name="memo">
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="c-form">
						<div class="btns s-hide">
							<a href="javascript:;" class="btn btn-normal"onclick="export_add();">保&nbsp;&nbsp;存</a>
							<!--
							<a href="javascript:;" class="btn btn-normal" onclick="export_list(0);">取&nbsp;&nbsp;消</a> 
							-->
						</div>
						<!-- <div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn" style="float: right;" onclick="export_list(0);"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div> -->
					</div>
				</div>
				<div class="c-cont" id="bond_show" name="bond_show" style="display:none;">
					<div class="c-wrap" style="padding-top: 25px;">
						<div class="c-table r-list">
							<div class="tab-t">
								<div class="ctr">
									{% if _power_mode == 2 %}
									<a href="javascript:;" class="btn btn-default s-hide" onclick="bond_add();">创建</a>
									<a href="javascript:;" class="btn btn-default s-hide" onclick="delete_list();">删除</a>
									<a href="javascript:;" class="btn btn-default s-hide" onclick="click_all_list();">全选</a>
									{% endif %}
									<a href="javascript:;" class="btn btn-default" onclick="bond_page(0);clear_all();">刷新</a>
								</div>

								<div class="filter">
									<div class="search">
										<select name="bond_select" id="bond_select" class="filter-select">
											<option value="0" selected>所有</option>
											<option value="bond_name">名称</option>
										</select>

										<input type="text" style="padding-right: 22px;" 
										class="filter-text" placeholder="输入关键字" 
										name="bond_text" id="bond_text" 
										maxlength="128" 
										onchange="if($('#bond_text').val()==''){$('#bond_text_check').hide();}else{$('#bond_text_check').show();}"
										onkeyup="if($('#bond_text').val()==''){$('#bond_text_check').hide();}else{$('#bond_text_check').show();}"
										onkeydown="if($('#bond_text').val()==''){$('#bond_text_check').hide();}else{$('#bond_text_check').show();};if (event.keyCode == 13){_addFilter(this,false);return false;} else return; "
										onblur="if($('#bond_text').val()=='' && search_typeall_new!=''){search_typeall_new='';_addFilter(this,false,1);}"
										>
										<i class="v-check v-wrong" id="bond_text_check" 
										onclick="_clearFilter(this,1)" 
										style="display:none;cursor: pointer;float: left;position: static;"></i>
										<button class="btn filter-btn" onclick="_addFilter(this,false);"><i class="add-filter"></i></button>
										<button class="btn filter-btn" onclick="_addFilter(this,true)"><i class="append-filter"></i></button>
									</div>
									<div class="search" id="clearFilter" style="margin: 0px 15px 0px -16px;display:none;">
										<button class="filter-btn" onclick="_clearFilter(this)"><i class="clear-filter"></i></button>
									</div>
									<div class="selector selector-multiple" id="filterWW" style="display:none;">
										<span class="ww">搜索条件</span>
										<ul>
										</ul>
									</div>
								</div>
							</div>
							<div class="box-table">
								<table cellpadding="0" cellspacing="0">
									<thead id="thead" name="thead">
										<tr>
											<th width="50"><input type="checkbox" class="form-checkbox" id="check_one_page"/></th>
											<th>Bond名称</th>
											<th>拥有网口</th>
											<th>服务器</th>
											<th width="30"></th>
										</tr>
									</thead>

									<tbody name="bond_list" id="bond_list">
									</tbody>
								</table>
							</div>
							<div class="tab-i">
								<div class="il">
									每页显示<span id="page_nums">10</span>条 总数：<span id = "bond_total">0</span>  选中：<span class="sum">0</span>
								</div>

								<div class="ipage">
									<a href="javascript:;" class="nav2 begin" id="bond_begin" onclick="bond_page(0.1);"><i></i></a>
									<a href="javascript:;" class="nav prev" id="bond_prev" onclick="bond_page(-1);"><i></i></a>
									<input type="text" id = "bond_page" value="1" onchange="showMsg();" onblur="showMsg();">/&nbsp;<span id = "bond_pages">1</span>
									<a href="javascript:;" class="nav next" id="bond_next" onclick="bond_page(1);"><i></i></a>
									<a href="javascript:;" class="nav2 end" id="bond_end" onclick="bond_page(0.9);"><i></i></a>
								</div>
							</div>
						</div>
						
						<div class="clearfix"></div>
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn" style="float: right;" onclick="return_export();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
					</div>
				</div>
				<div class="c-cont" id="bond_creat" name="bond_creat" style="display:none;">
					<div class="c-form"style="padding-bottom:10px;" >
						<div class="form">
							<div class="form-item" >
								<span class="form-tag"><em class="imp">*</em>服务器：</span>
								<div class="form-c">
									<select class="form-select" name="bond_server_id" id="bond_server_id" style="width:150px;">
										<option value="0" selected>请选择</option>
									</select>
								</div>
							</div>
							<div class="form-item" >
								<span class="form-tag"><em class="imp">*</em>网口1：</span>
								<div class="form-c">
									<select class="form-select" name="bond_ether_1" id="bond_ether_1" style="width:150px;">
										<option value="0" selected>请选择</option>
									</select>
								</div>
							</div>
							<div class="form-item" >
								<span class="form-tag"><em class="imp">*</em>网口2：</span>
								<div class="form-c">
									<select class="form-select" name="bond_ether_2" id="bond_ether_2" style="width:150px;">
										<option value="0" selected>请选择</option>
									</select>
								</div>
							</div>
							<div class="form-item" >
								<span class="form-tag"><em class="imp">*</em>Bond名称：</span>
								<div class="form-c">
									<select class="form-select" name="bond_creat_name" id="bond_creat_name" style="width:150px;">
										<option value="null" selected>请选择</option>
										<option value="bond0">bond0</option>
										<option value="bond1">bond1</option>
										<option value="bond2">bond2</option>
										<option value="bond3">bond3</option>
										<option value="bond4">bond4</option>
										<option value="bond5">bond5</option>
										<option value="bond6">bond6</option>
										<option value="bond7">bond7</option>
										<option value="bond8">bond8</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="c-form">
						<div class="btns s-hide">
							<a href="javascript:;" class="btn btn-normal"onclick="bond_creat();">保&nbsp;&nbsp;存</a>
						</div>
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn" style="float: right;" onclick="return_bond(0);"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<form action="/bhost/export_handle" method="POST" name="frm_export_add" id="frm_export_add">
			<input type="hidden" name="tasktype" id = "tasktype" value="{{ tasktype }}" />
			<!--创建 编辑 列表-->
			<input type="hidden" name="export_d" id = "export_d" value="{{ export_d }}" />
			<!--export_d-->
			<input type="hidden" name="paging" id = "paging" value="{{paging}}" />
			<!--页码-->
			<input type="hidden" name="search_typeall" id = "search_typeall" value="{{search_typeall}}" />
			<!--search_typeall-->
			<input type="hidden" name="e" id = "e" value="{{e}}" />
			<!--e-->
			<input type="hidden" name="se" id = "se" value="{{se}}" />
			<input type="hidden" name="a0" value="{{se}}" />
			<!--se-->
	</form>

<script>
	$('.form-checkbox,.form-radio').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
	    radioClass: 'iradio_minimal-blue',
	    increaseArea: '0' // optional
	});
</script>
<script>
	$('.form-select,.filter-select').select2({minimumResultsForSearch: -1});
</script>

<style>
	.c-form{
		margin-left: 150px;
	}
	.form-item{
		width: 50%;
		float: left;
		height: 30px;
	}
</style>

<script>
var _export={
	"ipv4_id":0,    
    "server_id":0,
	"is_bond":0,       //--设备类型，0-Ether,1-Bond
    "netdev_id":0,        
    "netdev_clas":0,    //--地址类型，0-物理地址，1-虚拟地址，2-Vlan
    "netdev_name": "",
    "ip_addr": "",
    "mask_addr": "",       
    "memo": null     
};
var bond={
    "bond_id": 0,
    "server_id": 0,
    "bond_name": "",
    "ether_id_1": 0,
    "ether_id_2": 0
}
var delect_str = new Array();
var check_num=0;
var total_all_r=0;
var bond_array=null;
//总数
var fenye_r=0;
//总页码
var search_typeall_r="";
//关键字
var bond_d=0;
//bond_id
var paging_bond=1;
var nameReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
var ipReg = /(^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-4]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])$)/
//检查数字范围
if(parent.is_guide == 1){
	$('a.ret').parent().hide();
}
function change_type(){
	if($("#edit_type").val() == 0){
		//console.log("1");
	}else if($("#edit_type").val() == 1){
		// /console.log("29");
		$("#mframe1", parent.document).attr('src','/bhost/create_route?&a0='+$("input[name=se]").val()+'&z1=1&z2=0&z3='+JSON.stringify([])+'&z4=0&z5='+JSON.stringify([])+'')
	}
}
function dataCheck(obj, min, max){
	obj.value = obj.value.replace(/\D/g, "");

	if(min!=null){
		if(parseInt(obj.value, 10) <= parseInt(min, 10)) obj.value = min;
	}
	if(max){
		if(parseInt(obj.value, 10) > parseInt(max, 10)) obj.value = max;
	}
	if(obj.value!=''){
		obj.value = parseInt(obj.value);
	}else{
		obj.value ='';
	}	
}
function regCheck1(obj){
	var val = $(obj).val();
	var $i = $(obj).next('i.v-check')
	var o = $i.parent().parent().find('em')
	if(val == "" && o.length ==0){
		$i.hide();
		return false;
	}
	if(ipReg.test(val) && val!='255.255.255.255' && val!='0.0.0.0'){
		$i.show().attr('class','v-check v-right');
	}else{
		$i.show().attr('class','v-check v-wrong');
	}
}
function regCheck2(obj){
	var val = $(obj).val();
	var $i = $(obj).next('i.v-check')
	var o = $i.parent().parent().find('em')
	if(val == "" && o.length ==0){
		$i.hide();
		return false;
	}
	if(ipReg.test(val) && val!='0.0.0.0'){
		$i.show().attr('class','v-check v-right');
	}else{
		$i.show().attr('class','v-check v-wrong');
	}
}
//export_to_bond
function export_to_bond(){
	$('#export').hide();
	$('#bond_show').show();
	$('#bond_creat').hide();
	$("#page_nums").val(MAX_PAGE);
	//list show
	search_typeall_r='';
	search_typeall_new='';
	paging_bond=1;
	$('#filterWW ul').empty();
	$("#bond_text").val('');
	$('#bond_text_check').hide();
	$("#bond_select").val(0).trigger('change');
	show_bond_list();
}
//bond_to_export
function return_export(){
	$('#export').show();
	$('#bond_show').hide();
	$('#bond_creat').hide();
	$('#bond_name').empty();
	$('#bond_name').append('<option value="0" selected>请选择</option>');
	var server_id=$('#server_id').val();
	$.ajax({
		url: "/bhost/get_bond_list",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val(),a5:server_id},
		success:function(result){
			var bond_result = JSON.parse(result);
			if(bond_result.Result){
				var bond_data = bond_result.info;
				if(bond_data!=""){
					$.each(bond_data.data,function(i,item){
						if(item.status == 2) return true;
						$('#bond_name').append('<option value="'+item.bond_id+'">'+item.bond_name+'</option>');
					});
						
				}
				$('#bond_name').select2({minimumResultsForSearch: -1});
			}else{
				_alert(1,'获取Bond',bond_result.ErrMsg);
				return false;
			}
								
		}
	});
}
//bond_to_bondcreat
var id_tmp = "";
var ser_id_tmp = "";
function bond_add(type,id,ser_id){
	if(type == 1){
		flag1 = 1;
		id_tmp = id;
		ser_id_tmp = ser_id;
	}else{
		flag1 = 0;
	}
	$('#export').hide();
	$('#bond_show').hide();
	$('#bond_creat').show();
	bond_d=0;
	//console.log("bondcreat_");
	$('#bond_server_id').empty();
	$('#bond_server_id').append('<option value="0" selected>请选择</option>');
	$('#bond_ether_1').empty();
	$('#bond_ether_1').append('<option value="0" selected>请选择</option>');
	$('#bond_ether_2').empty();
	$('#bond_ether_2').append('<option value="0" selected>请选择</option>');
	$.ajax({
		url: "/bhost/get_serverglobal_list",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			var serverglobal_result = JSON.parse(result);
			if(serverglobal_result.Result){
				var serverglobal_data = serverglobal_result.info;
				$.each(serverglobal_data.data,function(i,item){
					$('#bond_server_id').append('<option value="'+item.server_id+'">'+item.server_id+'</option>');
				});
				$('#bond_server_id,#bond_ether_1,#bond_ether_2').select2({minimumResultsForSearch: -1});
			}else{
				_alert(1,'网口设置',serverglobal_result.ErrMsg);
				return false;
			}
		}
	});
}
//bondcreat_to_bond
function return_bond(num,id){
	$('#export').hide();
	$('#bond_show').show();
	$('#bond_creat').hide();
	//页码显示
	$("#page_nums").val(MAX_PAGE);
	if(num==1){
		$.ajax({
			url: '/bhost/PGetRecordRownum',
			type: "POST",
			async: false,
			data: { a0: $("input[name=se]").val(), a1: id,a2:30 },
			success: function (result) {
				var result = JSON.parse(result);
				if (result.Result == true) {
					if(result.info%MAX_PAGE==0){
						paging_bond=parseInt(result.info/MAX_PAGE);
					}else{
						paging_bond=parseInt(result.info/MAX_PAGE)+1;
					}
				}
			}
		});
		search_typeall_r='';
		search_typeall_new='';
		$('#filterWW ul').empty();
		$("#bond_text").val('');
		$('#bond_text_check').hide();
		$("#bond_select").val(0).trigger('change');
	}
	//list show
	show_bond_list();	
}
$(function(){
	if('{{error_msg}}' !=""){
		_alert(2,'网口设置','{{error_msg}}');
		return false;
	}
	_if_disable = $('#nav-s1 li[data-modeid=7]',parent.parent.document).attr('_if_disable');
	if(_if_disable == '1'){
		$('.s-hide').remove();
		$('thead tr').eq(0).children('th:last').css('width',30);
	}

	document.frm_export_add.se.value={{se}};
	// $("#bond_select").change(function(){
	// 	var type = $(this).val();
	// 	if(type == 0){
	// 		$("#bond_text").hide();
	// 		$('#filterWW').hide();
	// 		$('#clearFilter').hide();
	// 	}else{
	// 		$("#bond_text").show();
	// 		if($('#filterWW ul li').length){
	// 			$('#filterWW').show();
	// 			$('#clearFilter').show();
	// 		}
	// 	}
	// });
	//parent._switchBtn(0);//隐藏按钮
	$('#netdev_clas').on('change',function(){
		var netdev_clas=$('#netdev_clas').val();
		switch(netdev_clas){
			case "1" :
				//console.log(netdev_clas);
				$('#num').show();
				$('#tag_num').hide();
				break;
			case "2" :
				//console.log(netdev_clas);
				$('#num').hide();
				$('#tag_num').show();
				break;
			default :
				//console.log(netdev_clas);
				$('#num').hide();
				$('#tag_num').hide();
				break;
		}
	});
	
	//输入数字
	$("#bond_page,#num_value,#tag_num_value").bind('keydown', function(e){
		DigitInput(e);
	});
	//tr点击事件
	$("#bond_list").on("click", "tr", function (e){  
		x=e.target;
		//删除按钮
		if(x.id == 'del'){
			var id=$(this).find("td");
			var input  = $(this).find("input");
			$('.btn').blur();parent.layer.open({
				type:1,
				title: '网口设置',
				content: '<div class="layer-alert"><i class="alert warning"></i>是否删除</div>',
				btn:['删&nbsp;&nbsp;除','取&nbsp;&nbsp;消'],
				btnAlign:'c',
				closeBtn: false,
				skin:'layer-custom',
				area:['380px','310px'],
				move: false,
				resize: false,
				yes:function(i){
					parent.layer.close(i);
					var delete_item=$(id).eq(1).text();			
					$(input).iCheck('uncheck');
					delete_fun(delete_item);
				}
			});
		}
	});
	$('#check_one_page').on(' ifClicked',function(e){
		if(!$('#check_one_page').is(':checked')){
			$("table tbody tr").children("td.in").children("div").children("input").iCheck('check');
		}else{
			$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
		}
		
	});
	$("#bond_list").on("ifChecked",function(e){
		check_num++;
		$("div.box-table").next("div.tab-i").children("div.il").find("span.sum").text(check_num);		
		if($("table tbody tr").children("td.in").children("div").children("input:checked").length==$("table tbody tr").length){
			$('#check_one_page').iCheck('check');
		}
	}).on("ifUnchecked",function(e){
		check_num--;
		$("div.box-table").next("div.tab-i").children("div.il").find("span.sum").text(check_num);	
		$('#check_one_page').iCheck('uncheck');	
	});
	//网口类型or服务器change
	$('#is_bond,#server_id').on('change',function(){
		//console.log("111");
		var is_bond=$('#is_bond').val();
		if(is_bond=="1"){
			$('#bond_t').show();
			$('#ether_t').hide();
		}else{
			$('#bond_t').hide();
			$('#ether_t').show();
		}
		
		var server_id=$('#server_id').val();
		if(server_id=="0" && is_bond=="1"){
			$('#bond_name').empty();
			$('#bond_name').append('<option value="0" selected>请选择</option>');
			$('#bond_name').select2({minimumResultsForSearch: -1});
			return false;
		}
		if(server_id=="0" && is_bond=="0"){
			$('#ether_name').empty();
			$('#ether_name').append('<option value="0" selected>请选择</option>');
			$('#ether_name').select2({minimumResultsForSearch: -1});
			return false;
		}
		var is_bond=$('#is_bond').val();
		switch (is_bond){
			case '0':
				$('#ether_name').empty();
				$('#ether_name').append('<option value="0" selected>请选择</option>');
				$.ajax({
					url: "/bhost/get_ether_list",
					type:"POST",
					async:false,
					data:{a0:$("input[name=se]").val(),a1:server_id},
					success:function(result){
						var ether_result = JSON.parse(result);
						if(ether_result.Result){
							var ether_data = ether_result.info;
							if(ether_data!=""){
								$.each(ether_data,function(i,item){
									$('#ether_name').append('<option value="'+item.ether_id+'">'+item.ether_name+'</option>');
								});
		
							}
						}else{
							_alert(1,'网口设置',ether_result.ErrMsg);
							return false;
						}
						
					}
				});
				break;
			case '1':
				$('#bond_name').empty();
				$('#bond_name').append('<option value="0" selected>请选择</option>');
				$.ajax({
					url: "/bhost/get_bond_list",
					type:"POST",
					async:false,
					data:{a0:$("input[name=se]").val(),a5:server_id},
					success:function(result){
						var bond_result = JSON.parse(result);
						if(bond_result.Result){
							var bond_data = bond_result.info;
							if(bond_data!=""){
								$.each(bond_data.data,function(i,item){
									if(item.status == 2) return true;
									$('#bond_name').append('<option value="'+item.bond_id+'">'+item.bond_name+'</option>');
								});
				
							}
						}else{
							_alert(1,'网口设置',bond_result.ErrMsg);
							return false;
						}
						
					}
				});
				break;
		}
		$('#ether_name,#bond_name').select2({minimumResultsForSearch: -1});
	});
	//服务器change bond_creat
	$('#bond_server_id').on('change',function(){
		//console.log("111");
		var bond_server_id=$('#bond_server_id').val();
		if(bond_server_id=="0"){
			$('#bond_ether_1').empty();
			$('#bond_ether_1').append('<option value="0" selected>请选择</option>');
			$('#bond_ether_2').empty();
			$('#bond_ether_2').append('<option value="0" selected>请选择</option>');
			$('#bond_ether_1,#bond_ether_2').select2({minimumResultsForSearch: -1});
			return false;
		}
		$('#bond_ether_1').empty();
		$('#bond_ether_1').append('<option value="0" selected>请选择</option>');
		$('#bond_ether_2').empty();
		$('#bond_ether_2').append('<option value="0" selected>请选择</option>');
		$.ajax({
			url: "/bhost/get_ether_list",
			type:"POST",
			async:false,
			data:{a0:$("input[name=se]").val(),a1:bond_server_id},
			success:function(result){
				var ether_result = JSON.parse(result);
				if(ether_result.Result){
					var ether_data = ether_result.info;
					if(ether_data!=""){
						$.each(ether_data,function(i,item){
							$('#bond_ether_1').append('<option value="'+item.ether_id+'">'+item.ether_name+'</option>');
							$('#bond_ether_2').append('<option value="'+item.ether_id+'">'+item.ether_name+'</option>');
						});
		
					}
				}else{
					_alert(1,'网口设置',ether_result.ErrMsg);
					return false;
				}
				
			}
		});
		$.ajax({
			url: "/bhost/get_bond_list",
			type:"POST",
			async:false,
			data:{a0:$("input[name=se]").val(),a5:bond_server_id},
			success:function(result){
				var bond_result = JSON.parse(result);
				if(bond_result.Result){
					var bond_data = bond_result.info.data;
					if(bond_data!=""){
						$.each(bond_data,function(i,item){
							if(item.status == 2) return true;
							//console.log(item.ether_id_1+":"+item.ether_id_2);
							$("#bond_creat_name option[value='"+item.bond_name+"']").remove();
							$("#bond_ether_1 option[value='"+item.ether_id_1+"']").remove();
							$("#bond_ether_1 option[value='"+item.ether_id_2+"']").remove();
							$("#bond_ether_2 option[value='"+item.ether_id_1+"']").remove();
							$("#bond_ether_2 option[value='"+item.ether_id_2+"']").remove();
						});
		
					}
				}else{
					_alert(1,'网口设置',bond_result.ErrMsg);
					return false;
				}
				
			}
		});
		$('#bond_ether_1,#bond_ether_2').select2({minimumResultsForSearch: -1});
	});
	//服务器获取
	$('#server_id').empty();
	$('#server_id').append('<option value="0" selected>请选择</option>');
	$.ajax({
		url: "/bhost/get_serverglobal_list",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			var serverglobal_result = JSON.parse(result);
			if(serverglobal_result.Result){
				var serverglobal_data = serverglobal_result.info;
				$.each(serverglobal_data.data,function(i,item){
					$('#server_id').append('<option value="'+item.server_id+'">'+item.server_id+'</option>');
				});
				$('#server_id').select2({minimumResultsForSearch: -1});
			}else{
				_alert(1,'网口设置',serverglobal_result.ErrMsg);
				return false;
			}
		}
	});
	var tasktype=document.frm_export_add.tasktype.value;
	if(tasktype=="2"){
		var export_d=document.frm_export_add.export_d.value;
		$.ajax({
			url: "/bhost/get_export_list",
			type:"POST",
			async:false,
			data:{a0:$("input[name=se]").val(),a1:export_d},
			success:function(result){
				var export_result = JSON.parse(result);
				if (export_result.Result==true){
					var export_data = export_result.info.data[0];
					$("#is_bond").val(export_data.is_bond);
					$("#server_id").val(export_data.server_id);
					if(export_data.is_bond==0){
						$('#ether_t').show();
						$('#bond_t').hide();
						$('#ether_name').empty();
						$('#ether_name').append('<option value="0" selected>请选择</option>');
						//console.log('1');
						$.ajax({
							url: "/bhost/get_ether_list",
							type:"POST",
							async:false,
							data:{a0:$("input[name=se]").val(),a1:export_data.server_id},
							success:function(result){
								//console.log('ajax');
								var ether_result = JSON.parse(result);
								if(ether_result.Result){
									var ether_data = ether_result.info;
									if(ether_data!=""){
										$.each(ether_data,function(i,item){
											//console.log('ether');
											$('#ether_name').append('<option value="'+item.ether_id+'">'+item.ether_name+'</option>');
										});
				
									}
								}else{
									_alert(1,'网口设置',ether_data);
								}
								
							}
						});
						$("#ether_name").val(export_data.netdev_id);
					}else{
						$('#ether_t').hide();
						$('#bond_t').show();
						$('#bond_name').empty();
						$('#bond_name').append('<option value="0" selected>请选择</option>');
						$.ajax({
							url: "/bhost/get_bond_list",
							type:"POST",
							async:false,
							data:{a0:$("input[name=se]").val(),a5:export_data.server_id},
							success:function(result){
								var bond_result = JSON.parse(result);
								if(bond_result.Result){
									var bond_data = bond_result.info;
									if(bond_data!=""){
										$.each(bond_data.data,function(i,item){
											if(item.status == 2) return true;
											//console.log('bond');
											$('#bond_name').append('<option value="'+item.bond_id+'">'+item.bond_name+'</option>');
										});
						
									}
								}else{
									_alert(1,'网口设置',bond_data);
								}
								
							}
						});
						$("#bond_name").val(export_data.netdev_id);
					}
					
					if(export_data.memo==null){
						export_data.memo="";
					}
					$("#memo").val(export_data.memo);
					$("#netdev_clas").val(export_data.netdev_clas);
					if(export_data.netdev_clas==1){
						$('#num').show();
						var netdev_name_str=export_data.netdev_name.split(':');
						$('#num_value').val(netdev_name_str[1]);
						$("#num_value").attr("disabled",true);
					}else if(export_data.netdev_clas==2){
						$('#tag_num').show();
						var netdev_name_str=export_data.netdev_name.split('.');
						$('#tag_num_value').val(netdev_name_str[1]);
						$("#tag_num_value").attr("disabled",true);
					}
					$("#ip_addr").val(export_data.ip_addr);
					$("#mask_addr").val(export_data.mask_addr);
					$("#is_bond").attr("disabled",true);
					$("#server_id").attr("disabled",true);
					$("#ether_name").attr("disabled",true);
					$("#netdev_clas").attr("disabled",true);
					$('#is_bond,#server_id,#ether_name,#bond_name,#netdev_clas').select2({minimumResultsForSearch: -1});
				}else{
					_alert(1,'网口设置',export_result.ErrMsg);
					return false;
				}
			}
		});
	}
});
var flag1 = 0;//0--列表调用 1--基础设置调用
function bond_creat(){
	var bond_server_id=$('#bond_server_id').val();
	//console.log(bond_server_id);
	oper ='';
	if(bond_server_id=="0"){
		_alert(2,'网口设置','请选择服务器',$('#bond_server_id'));
		return false;
	}
	oper +='创建Bond：' 
	var bond_ether_1=$('#bond_ether_1').val();
	var bond_ether_2=$('#bond_ether_2').val();
	if(bond_ether_1=="0" || bond_ether_2=="0"){
		_alert(2,'网口设置','请选择网口');
		return false;
	}else if (bond_ether_1==bond_ether_2){
		_alert(2,'网口设置','已存在同名的网口');
		return false;
	}
	
	oper +='（网口1：'+$("#bond_ether_1").find("option:selected").text()+"，";
	oper +='网口2：'+$("#bond_ether_2").find("option:selected").text()+"，";
	var bond_creat_name=$("#bond_creat_name").children("option:selected").text();
	if(bond_creat_name=="请选择"){
		_alert(2,'网口设置','请选择Bond名称',$("#bond_creat_name"));
		return false;
	}
	oper +='Bond名称：'+$("#bond_ether_2").find("option:selected").text()+"）";
	
	//console.log(bond_creat_name);
	bond.bond_id=parseInt(bond_d);
	bond.server_id=parseInt(bond_server_id);
	bond.ether_id_1=parseInt(bond_ether_1);
	bond.ether_id_2=parseInt(bond_ether_2);
	bond.bond_name=bond_creat_name;
	$.ajax({
		url: "/bhost/add_bond",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val(),a1:JSON.stringify(bond),o1:oper},
		success:function(result){
			var result = JSON.parse(result);
			if(result.Result == true){
				$('.btn').blur();parent.layer.open({
					type:1,
					title: '网口设置',
					content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
					btn:['确&nbsp;&nbsp;定'],
					btnAlign:'c',
					closeBtn: false,
					skin:'layer-custom',
					area:['380px','310px'],
					move: false,
					resize: false,
					yes:function(i){
						window.parent.clear_all();
						window.parent.get_route_list();
						parent.layer.close(i);
						if(flag1 == 1){
							//window.parent.get_BondData(id_tmp,ser_id_tmp,bond_creat_name,bond_id);
							//window.parent.clear_all();
							parent.d_authtype.close().remove();
						}else{
							return_bond(1,result.bond_id);
						}
						
					}
				});	
			}else{
				_alert(1,'网口设置',result.ErrMsg);
				return false;
			}
		}
	});
}
var search_typeall_new='';
function update_array(){
	var search_typeall=search_typeall_r+search_typeall_new;
	$.ajax({
		url: "/bhost/get_bond_list",
		type:"POST",
		async:true,
		data:{a0:$("input[name=se]").val(),a2:search_typeall,a1:bond_d},
		success:function(result){
			var bond_result = JSON.parse(result);
			if (bond_result.Result){
				var bond_data = bond_result.info;
				bond_array=bond_data.data.map(function (params) {
					return params.bond_id+'';
				});
			}else{
				_alert(1,'网口设置',bond_result.ErrMsg);
				return false;
			}
		}
	});
}
function _addFilter(obj,type,type_num ){
	var id = $(obj).parent().children('select').children('option:selected').val();
	var v1 = $(obj).parent().children('select').children('option:selected').text();
	var v2 = $(obj).parent().children('input[type=text]').val().trim();
	if(id=='0'){
		v1='';
	}else{
		v1=v1+'-';
	}
	if(v2 == '' && type_num!=1){
		$(obj).parent().children('input[type=text]').blur();
		_alert(2,'搜索','请选择关键字',$(obj).parent().children('input[type=text]'));
		return;
	}
	// else
	{
		var Reg=/^[\u4e00-\u9fa5a-zA-Z\d_\-\.\s]+$/;
		if(id=='bond_name' && !Reg.test(v2) && type_num!=1){
			$(obj).parent().children('input[type=text]').blur();
			_alert(1,'搜索','关键字格式不正确', $(obj).parent().children('input[type=text]'));
			return false;
		}
		if(search_typeall_r.indexOf(id+'-'+v2+'\t')>=0 && type_num!=1 ){
			$(obj).parent().children('input[type=text]').blur();
			_alert(2,'搜索','关键字重复', $(obj).parent().children('input[type=text]'));
			return false;
		}
		if(type){
			search_typeall_r=search_typeall_r+id+'-'+v2+'\t';
			$(obj).parent().children('input[type=text]').val('');
			search_typeall_new='';
			$('#filterWW>ul').append('<li><span style = "display:none">'+id+'-'+v2+'</span><span class="ww">'+v1+v2+'</span><i class="del" onclick="_delFilter(this);"></i></li>')
			$('#bond_text').val('');
			$('#bond_text_check').hide();
			selView();
		}else{
			if(type_num!=1)search_typeall_new=id+'-'+v2+'\t'
		}
		
	}
	bond_page(0.1);
	delect_str=new Array();
	check_num=0;
	$("div.box-table").next("div.tab-i").children("div.il").find("span.sum").text(check_num);
}
function _delFilter(obj){
	var id = $(obj).parent().find("span");
	////console.log(id);
	var ids=$(id).eq(0).text();
	search_typeall_r = search_typeall_r.replace(ids+'\t','');
	var bond_text=$('#bond_text').val().trim();
	// if(bond_text==''){
	// 	search_typeall_new=='';
	// }else{
	// 	search_typeall_new=$('#bond_select').val()+'-' +bond_text+'\t';
	// }
	$(obj).parent().remove();
	selView();
	bond_page(0.1);
	delect_str=new Array();
	check_num=0;
	$("div.box-table").next("div.tab-i").children("div.il").find("span.sum").text(check_num);
}
function _clearFilter(obj,num){
	if(num==1){
		$('#bond_text').val('');
		$('#bond_text_check').hide();
	search_typeall_new='';
	selView();
	bond_page(0.1);
	delect_str=new Array();
	check_num=0;
	$("div.box-table").next("div.tab-i").children("div.il").find("span.sum").text(check_num);
	return;
	}
	$('#clearFilter').next().children('ul').empty();
	$('#bond_text').val('');
	$('#bond_text_check').hide();
	$('#clearFilter').hide();
	search_typeall_new='';
	search_typeall_r='';
	selView();
	bond_page(0.1);
	delect_str=new Array();
	check_num=0;
	$("div.box-table").next("div.tab-i").children("div.il").find("span.sum").text(check_num);
}
function selView(){
	var $sel = $('#filterWW');
	var len = $('li',$sel).length;

	if(len == 0){
		$sel.hide();
		$('#clearFilter').hide();
	}else{
		$("#filterWW").show();
		$('#clearFilter').show();
		$('>span.ww',$sel).show();
		$sel.addClass('selector-multiple');
	}
}
//input回车触发事件
function showMsg(){
	delect_save();
	var cur = $("#bond_page").val();
	cur=cur.replace(/\D/g, "");
	if(cur=='' || parseInt(cur) < 1){
		cur=1;
	}else if (parseInt(cur)>fenye_r) {
		cur=fenye_r;
	}
	if(parseInt(cur)==parseInt(paging_bond)){
		$("#bond_page").val(cur);
		return false;
	}
	paging_bond=cur;
	show_bond_list();
}
//以每页显示数显示列表函数bond
function show_bond_list(){
	update_array();
	var page_num = MAX_PAGE;
	var search_typeall=search_typeall_r+search_typeall_new;
	$.ajax({
		url: "/bhost/get_bond_list",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val(),a4:page_num,a3:paging_bond,a2:search_typeall,a1:bond_d},
		success:function(result){
			var bond_result = JSON.parse(result);
			if (bond_result.Result==true){
				var bond_data = bond_result.info;
				var total_all = bond_data.totalrow;
				if(total_all%MAX_PAGE==0){
					fenye_r=parseInt(total_all/MAX_PAGE);
				}else{
					fenye_r=parseInt(total_all/MAX_PAGE)+1;
				}
				if(bond_data.data=="" && paging_bond!="1"){
					bond_page(0.9);
				}else{
					//total = 0;
					total_all_r = total_all;
					if(total_all){
						$("#bond_list").empty();
						$.each(bond_data.data,function(i,item){
							if(item.status == 2){
								total_all--;
								return true;
							}
							if(item.bond_name==null){
								item.bond_name="";
							}
							var ether_name_array=new Array();
							if(item.ether_name_1!='' && item.ether_name_1!=null){
								ether_name_array.push(item.ether_name_1);
							}
							if(item.ether_name_2!='' && item.ether_name_2!=null){
								ether_name_array.push(item.ether_name_2);
							}
							$("#bond_list").append("<tr>"+
							"<td class=\"in\"><input type=\"checkbox\" class=\"input_checkbox\" /></td>"+
							"<td style = \"display:none\">"+item.bond_id+"</td>"+
							"<td title='"+item.bond_name+"'>"+item.bond_name+"</td>"+
							//网口名称
							"<td title='"+ether_name_array.join('，')+"'>"+ether_name_array.join('，')+"</td>"+
							"<td>"+item.server_id+"</td>"+
							"<td><div class=\"tab-ctr\"><a href=\"javascript:;\" class=\"del\" id=\"del\" title='删除'></a></div></td></tr>");
						})
						$(".input_checkbox","#bond_list").iCheck({
							checkboxClass: 'icheckbox_minimal-blue',
							radioClass: 'iradio_minimal-blue',
							increaseArea: '0' // optional
						});
						$("#bond_total").text(total_all);
						if(paging_bond>=fenye_r){
							paging_bond=fenye_r;
						}
						document.getElementById("bond_page").value=paging_bond;
						$("#bond_pages").text(fenye_r);
						$('#check_one_page').iCheck('uncheck');	
						$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
						check_show();
						check_num=delect_str.length;
						$("div.box-table").next("div.tab-i").children("div.il").find("span.sum").text(check_num);
					}else{
						$("div.box-table").next("div.tab-i").children("div.il").find("span.sum").text(0);
						$('#check_one_page').iCheck('uncheck');	
						$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
						$("#bond_list").empty();
						$("#bond_total").text(total_all);
						$("#bond_pages").text(1);
						fenye_r=1;
						paging_bond=1;
						document.getElementById("bond_page").value=1;
					}	
				}
			}else{
				_alert(1,"Bond列表",bond_result.ErrMsg);
				$('#check_one_page').iCheck('uncheck');	
				$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
				$("div.box-table").next("div.tab-i").children("div.il").find("span.sum").text(0);
				$("#bond_total").text(0);
				$("#bond_pages").text(1);
				fenye_r=1;
				paging_bond=1;
				document.getElementById("bond_page").value=1;
				return false;
			}
		}
	});
}
//选中字段存储bond
function delect_save(){
	$(">tr","#bond_list").each(function(){
		var input  = $(this).find("input[type='checkbox']");
		var delect_item=$(">td",this).eq(1).text();
		var index=$.inArray(delect_item,delect_str);
		if($(input).is(':checked')){
			if(index<0){
				delect_str.push(delect_item);
			}
		}else{
			if(index>=0){
				delect_str.splice(index,1);
			}
		}
	});
}
//check显示bond
function check_show(){
	$(">tr","#bond_list").each(function(){
		var check_id=$(">td",this).eq(1).text();
		if($.inArray(check_id,delect_str)>=0){
			$(this).find("input[type='checkbox']").iCheck('check');
		}
	});
}
//分页 and 刷新bond
function bond_page(num){
	var paging=parseInt(paging_bond)+num;
	if(paging==0 || paging==fenye_r+1){
		return false;
	}
	delect_save();
	var bond_list_s = [];
	if (num == 0.1){
		var paging = 1;
	}else if(num == 0.9){
		var paging=fenye_r;
	}
	$("div.box-table").next("div.tab-i").children("div.il").find("span.sum").text(0);
	document.getElementById("bond_page").value=paging;
	paging_bond=paging;
	show_bond_list();
}
//全选按钮bond
function click_all_list(){
	delect_save();
	if(delect_str.length==bond_array.length){
		delect_str=new Array();
	}else{
		delect_str=bond_array;
	}
	show_bond_list();
}
//刷新bond
function clear_all(){
	$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
	delect_str=new Array();
	check_num=0;
	$("div.box-table").next("div.tab-i").children("div.il").find("span.sum").text(check_num);
}
//删除函数bond
function delete_fun(delect_str_1){
	$.ajax({
		url: '/bhost/del_bond',
		type: "POST",
		async:false,
		data: {a0:$("input[name=se]").val(),a1:delect_str_1},
		success: function(result) {
			var result = JSON.parse(result);
			if(result.Result == true){
				
				bond_page(0);
				_alert(0,"网口设置","删除成功");
			}else{
				bond_page(0);
				_alert(1,"网口设置",result.ErrMsg);
				return false;
			}	
		}
	});
}
//删除按钮bond
function delete_list(){
	delect_save();
	if(delect_str.length == 0){
		_alert(2,"网络设置","请选择要删除的数据");
		return false;
	}
	//利用对话框返回的值 （true 或者 false）  
	$('.btn').blur();parent.layer.open({
		type:1,
		title: '网口设置',
		content: '<div class="layer-alert"><i class="alert warning"></i>是否批量删除</div>',
		btn:['删&nbsp;&nbsp;除','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		yes:function(i){
			parent.layer.close(i);
			delete_fun(delect_str.join(',')); 
			delect_str=new Array();
			check_num=0;
			$("div.box-table").next("div.tab-i").children("div.il").find("span.sum").text(check_num);
		}
	});
}
//创建export
function export_add(){
	//var pass =1;
	//设备类型
	var oper = '';
	if(parseInt(document.frm_export_add.export_d.value) > 0){
		oper +='编辑网口：' 
	}else{
		oper +='创建网口：' 
	}
	var is_bond = $("#is_bond").find("option:selected").val();
	if(is_bond=="null"){
		_alert(2,'网口设置','请选择设备类型');
		return false;
	}
	oper +='（设备类型：'+$("#is_bond").find("option:selected").text()+"，";
	//服务器
	var server_id = $("#server_id").find("option:selected").val();
	if(server_id=="0"){
		_alert(2,'网口设置','请选择服务器');
		return false;
	}
	oper +='服务器：'+$("#server_id").find("option:selected").text()+"，";
	//ether_name网口或bond_nameBOND
	if(is_bond=="0"){
		var ether_id = $("#ether_name").find("option:selected").val();
		var ether_name = $("#ether_name").find("option:selected").text();
		if(ether_id=="0"){
			_alert(2,'网口设置','请选择网口');
			return false;
		}
		oper +='网口：'+ether_name+"，";
	}else if(is_bond=="1"){
		var ether_id = $("#bond_name").find("option:selected").val();
		var ether_name = $("#bond_name").find("option:selected").text();
		if(ether_id=="0"){
			_alert(2,'网口设置','请选择Bond');
			return false;
		}
		oper +='Bond：'+ether_name+"，";
	}
	//netdev_clas地址类型
	var netdev_clas = $("#netdev_clas").find("option:selected").val();
	if(netdev_clas=="null"){
		_alert(2,'网口设置','请选择地址类型');
		return false;
	}else if(netdev_clas=="1"){
		var num_value=$('#num_value').val();
		if(num_value==""){
			_alert(2,'网口设置','请输入编号',$('#num_value'));
			return false;
		}
		ether_name=ether_name+":"+num_value;
		//console.log(num_value);
		oper +='编号：'+num_value+"，";
	}else if(netdev_clas=="2"){
		var tag_num_value=$('#tag_num_value').val();
		if(tag_num_value==""){
			_alert(2,'网口设置','请输入Tag',$('#tag_num_value'));
			return false;
		}
		ether_name=ether_name+"."+tag_num_value;
		//console.log(tag_num_value);
		oper +='Tag：'+tag_num_value+"，";
	}
	//ip_addrIP地址
	var ip_addr = $("#ip_addr").val();
	if(ip_addr==""){
		_alert(2,'网口设置','请输入IP地址',$("#ip_addr"));
		return false;
	}else if(!ipReg.test(ip_addr)){
		_alert(1,'网口设置','IP地址格式不正确',$("#ip_addr"));
		return false;
	}else if(ip_addr=='0.0.0.0' || ip_addr=="255.255.255.255"){
		_alert(1,'网口设置','IP地址格式不正确',$("#ip_addr"));
		return false;
	}
	oper +='IP地址：'+ip_addr+"，";
	//mask_addr子网掩码
	var mask_addr = $("#mask_addr").val();
	if(mask_addr==""){
		_alert(2,'网口设置','请输入子网掩码', $("#mask_addr"));
		return false;
	}else if(!ipReg.test(mask_addr) && mask_addr !='255.255.255.255'){
		_alert(1,'网口设置','子网掩码格式不正确', $("#mask_addr"));
		return false;
	}else if(mask_addr=='0.0.0.0'){
		_alert(2,'网口设置','子网掩码格式不正确', $("#mask_addr"));
		return false;
	}
	oper +='子网掩码：'+mask_addr+"，";
	var memo=$('#memo').val();
	if(memo==""){
		memo=null;
	}else if(memo.length>255){
		_alert(1,'网口设置','描述长度超出范围',$('#memo'));
		$('#memo').val('');
		return false;
	}
	oper +='描述：'+$('#memo').val()+"）";
	
	_export.ipv4_id=parseInt(document.frm_export_add.export_d.value);
	_export.server_id=parseInt(server_id);
	_export.is_bond=parseInt(is_bond);
	_export.netdev_id=parseInt(ether_id);
	_export.netdev_clas=parseInt(netdev_clas);
	_export.netdev_name=ether_name;
	_export.ip_addr=ip_addr;
	_export.mask_addr=mask_addr;
	_export.memo=memo;
	//console.log(_export);
	var msstr = aceg(JSON.stringify(_export),$("input[name=se]").val());
	$.ajax({
		url: '/bhost/add_export',
		type: "POST",
		async:false,
		data: {a0:$("input[name=se]").val(),a1:JSON.stringify(_export),o1:oper,m1:msstr},
		success: function(result) {
			var result = JSON.parse(result);
			if(result.Result == true){
				$('.btn').blur();parent.layer.open({
					type:1,
					title: '网口设置',
					content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
					btn:['确&nbsp;&nbsp;定'],
					btnAlign:'c',
					closeBtn: false,
					skin:'layer-custom',
					area:['380px','310px'],
					move: false,
					resize: false,
					yes:function(i){
						parent.layer.close(i);
						//export_list(1,result.ipv4_id);
						window.parent.reload_select();
						window.parent.export_page(0);
						window.parent.clear_all();
						parent.d_authtype.close().remove();
					}
				});	
			}else{
				_alert(1,'网口设置',result.ErrMsg);
				return false;
			}
		}
	});
}
//显示列表页面
function export_list(num,id){
	if(num==1){
		$.ajax({
			url: '/bhost/PGetRecordRownum',
			type: "POST",
			async: false,
			data: { a0: $("input[name=se]").val(), a1: id,a2:27 },
			success: function (result) {
				var result = JSON.parse(result);
				if (result.Result == true) {
					if(result.info%MAX_PAGE==0){
						document.frm_export_add.paging.value=parseInt(result.info/MAX_PAGE);
					}else{
						document.frm_export_add.paging.value=parseInt(result.info/MAX_PAGE)+1;
					}
				}
			}
		});
		document.frm_export_add.search_typeall.value = '';
		document.frm_export_add.e.value = ':';
	}
	parent.d_authtype.close().remove();
}
function next_html(){
	document.frm_export_add.action = '/bhost/route_show';
	document.frm_export_add.a0.value = document.frm_export_add.se.value;
	document.frm_export_add.submit();
}


$(function(){
	$("#int_set").on("click",function(){
		parent.reload();
		
	});
	$("#route_set").on("click",function(){
		next_html();
	});
});
</script>
</body>
</html>
