
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<script src="/manage/js/xSelect.js"></script>
	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<script type="text/javascript" src="/manage/js/dialog-plus.js"></script>
	<link rel="stylesheet" href="/manage/css/ui-dialog.css" type="text/css" />

	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>
	<link rel="stylesheet" href="/manage/css/new-head.css">
	<link rel="stylesheet" href="/manage/css/G-style.css" type="text/css" /> 
</head>
<body style="overflow:hidden;" class="bg-white">
	<!--基础设置表-->
	<div class="rwrap">
		<div class="c-top">
			<div class="c-title">
				<!--<h3 onclick="parent.reload();">基础设置</h3>
				<h3 class="unsel" onclick="next_html();">路由设置</h3>-->
				<div class="manual-head" style="float:left;width:auto">
					<div class="manual-title title-item" style="" id="frist">
						<span id="int_set">基础设置</span>
						<i class="int_icon"></i>
					</div>
					<!-- <div class="manual-title-other title-item"  style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);">
						<span id="route_set"> 路由设置</span>
						<i style ="display:none"></i>
					</div> -->
					<div class="manual-title-other title-item"  style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);">
						<span id="dns_set"> DNS设置</span>
						<i style ="display:none"></i>
					</div>
				</div>
				<div class="ctr">
					<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
				</div>
			</div>
		</div>
		<div class="mainer" name="export" id="export" style="height: auto;">
			<div class="container">
				<div class="c-cont">
					<div class="c-wrap">
						<div class="c-table r-list">
							<div class="tab-t">
								<div class="ctr">
									{% if _power_mode == 2 %}
									<a href="javascript:;" class="btn btn-default s-hide" onclick="addNewList(1);">创建</a>
									<a href="javascript:;" class="btn btn-default s-hide" onclick="delete_list();">删除</a>
									<a href="javascript:;" class="btn btn-default s-hide" onclick="click_all_list();">全选</a>
									{% endif %}
									<a href="javascript:;" class="btn btn-default" onclick="clear_all();">刷新</a>
								</div>
								<div class="filter">
									<div style="float: right; width: 200px;" id="server_select">
										<span class="form-tag" style="font-size: 15px; margin-top: -1px; width: 73px">服务器：</span>
										<select name="fser_id" id="fser_id" class="filter-select" style="margin-left: 6px;width: 100px;" onchange="fser_id_change();" aria-hidden="true">
											<option value="1">1</option>
										</select>
									</div>
								</div>
							</div>
							<div class="box-table">
								<table cellpadding="0" cellspacing="0">
									<thead id="thead" name="thead">
										<tr>
											<th class="s-hide" width="50">网络</th>
											<!-- <th style="width: 10%;">名称</th> -->
											<!-- <th style="width: 10%;">设备类型</th> -->
											<th>设备名称</th>
											<th>BOND</th>
											<th>IP地址</th>
											<th>子网掩码</th>
											<!-- <th>编号</th>
											<th>Tag</th> -->
											<th>地址类型</th>
											<th width="60"></th>
										</tr>
									</thead>

									<tbody name="export_list" id="export_list">
									</tbody>
								</table>
							</div>
						</div>
						<div class="c-table r-list" style="padding: 0 0;">
							<div class="box-table">
								<table cellpadding="0" cellspacing="0" id="route_list">
									<thead>
										<tr>		
											<th width="50" class="s-hide">路由</th>
											<th>设备名称</th>
											<th>网关</th>
											<th>目标地址</th>
											<th>子网掩码</th>
											<th>类型</th>
											<th width="60"></th>
										</tr>
									</thead>
									<tbody id="route_list1">
									</tbody>
								</table>
							</div>
						</div>
						<div class="c-table r-list" style="padding: 0 0;display:none;">
							<div class="box-table">
								<table cellpadding="0" cellspacing="0" id="loadbalance_list">
									<thead>
										<tr>		
											<th width="60" class="s-hide">负载均衡</th>
											<th>IP地址</th>
											<th width="60"></th>
										</tr>
									</thead>
									
									<tbody id="loadbalance_list1">
										<tr>
											<td class="in s-hide">
												<!--<input type="checkbox" class="input_checkbox" style="">-->
											</td><td>
												<div class="sortEdit" onclick="_editSort(this,null,15);" style="float: left; text-align: left; margin-left: -5px;">
													<input type="text" name="LoadBalanceip" style="width:8em; float: left; text-align: left;" id="LoadBalanceip" data-id="" onblur="" onkeydown="" onkeyup="">
												</div>
											</td><td>
												{% if _power_mode == 2 %}
												<div class="tab-ctr">
													<a href="javascript:;" class="start_icon disabled" id="saveB" title="保存"></a>
													<a href="javascript:;" class="del s-hide disabled" id="delB" title="删除"></a>
												</div>
												{% endif %}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!--
						<div class="c-exp" style="margin: -1px auto;margin-top: 12px;padding: 0 25px;">
							<div class="h-explorer">
								<div class="G-top">
									<div class="G-box1"></div>
									<strong>&nbsp;DNS设置</strong>
								</div>
								<div class="h-content2" style="height: auto;width: 100%;overflow: hidden;padding: 14px 0 0;padding-bottom: 10px;">
									<div class="form-item form-item-100" style="width:900px;">
										<span class="form-tag">DNS服务器地址：</span>
										<div id="ip_n" name="ip_n" class="form-c"style="padding-left:10px;height: auto;overflow-y:hidden;width:auto;max-width:540px;float: left;">
											<span class="ss ss-add">
												<input id="ipInput" type="text" style="width:134px;" class="form-text" onkeyup="/*showMsg*/">
												<i class="ctr ctr-add" onclick="_addIp(this)" style="margin-left: 5px;    margin-top: 9px;"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						-->
						<!--
						<div class="c-exp" style="margin: -1px auto;padding: 0 25px;">
							<div class="h-explorer">
								<div class="G-top">
									<div class="G-box1"></div>
									<strong>&nbsp;负载均衡</strong>
								</div>
								<div class="h-content2" style="height: auto;width: 100%;overflow: hidden;padding: 14px 0 0;padding-bottom: 10px;">
									<div class="form-item">
										<span class="form-tag"><em class="imp">*</em>负载均衡：</span>
										<div class="form-c">
											<input type="text" class="form-text" id="LoadBalanceip" name="LoadBalanceip" style="width:164px;" onkeyup="" onblur="ipCheck(this);">
											<i class="v-check" id="" style=""></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						-->
						<div class="clearfix"></div>
						{% if _power_mode == 2 %}
						<div class="btns">
							<a href="javascript:;" class="btn btn-normal" onclick="work_all();">生&nbsp;&nbsp;效</a>
						</div>
						{% endif %}
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn" style="float: right;" onclick="list_cancel();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 网口创建浮层 -->
		<div class="dialog-cont" id="net_suspend" style="display:none;max-height:500px;min-height:500px;scrolling:yes">
			<iframe src="" width="100%" height="100%" frameborder="0" name="mframe1" id="mframe1" style="    height: 521px;margin-top: -21px;"></iframe>
			<div class="clearfix"></div>
		</div>
		<!-- 路由创建浮层 -->
		<div class="dialog-cont" id="route_suspend" style="display:none;max-height:500px;min-height:500px;scrolling:yes">
			<iframe src="" width="100%" height="100%" frameborder="0" name="mframe2" id="mframe2" style="    height: 521px;margin-top: -21px;"></iframe>
			<div class="clearfix"></div>
			
		</div>
	</div>
	<form action="/bhost/get_export_list" method="POST" name="frm_export" id="frm_export">
		<input type="hidden" name="tasktype" id = "tasktype" value="3" />
		<!--创建 编辑 列表-->
		<input type="hidden" name="export_d" id = "export_d" value="0" />
		<!--需要查询id-->
		<input type="hidden" name="paging" id = "paging" value="{{paging}}" />
		<!--页码-->
		<input type="hidden" name="search_typeall" id = "search_typeall" value="{{search_typeall}}" />
		<!--search_typeall-->
		<input type="hidden" name="e" id = "e" value="{{e}}" />
		<!--e-->
		<input type="hidden" name="se" id = "se" value="{{se}}" />
		<input type="hidden" name="a0" value="" />
		<!--se-->
	</form>

	<form action="/bhost/create_route" method="POST" name="frm_route" id="frm_route">
		<input type="hidden" name="z1" id = "z1" value="" />
		<input type="hidden" name="z2" id = "z2" value="" />	
		<input type="hidden" name="z3" id = "z3" value="" />
		<input type="hidden" name="z4" id = "z4" value="" />
		<input type="hidden" name="z5" id = "z5" value="" />
		<input type="hidden" name="se" id = "se" value="{{se}}" />
		<input type="hidden" name="a0" value="{{se}}" />
	</form>

<script>
	$(function(){
		MAX_PAGE = 4;
		if(parent.is_guide == 1){
			$('#bBtn').hide();
			$('a.ret').parent().hide();
		}

		$("#int_set").on("click",function(){
			parent.reload();
		});
		$("#route_set").on("click",function(){
			next_html()
		});
		$("#dns_set").on("click",function(){
			next_html_dns()
		});
	});
	$('.form-checkbox,.form-radio').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
		radioClass: 'iradio_minimal-blue',
		increaseArea: '0' // optional
	});
	$('.filter-select').select2({minimumResultsForSearch: -1});
	$('#loadbalance_list .input_checkbox').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
		radioClass: 'iradio_minimal-blue',
		increaseArea: '0' // optional
	});
</script>

<style>
	.form-item-100 span.ss i.ctr {
		display: inline-block;
		width: 15px;
		height: 15px;
		overflow: hidden;
		background: url(/manage/images/icon-ctr.png) no-repeat 0 0;
		vertical-align: middle;
		cursor: pointer;
	}
	.ss{
		padding-bottom: 10px;
	}
	.form-item-100 .form-text {
		padding: 0 8px;
	}
	.select2-container .select2-selection--single {
		height: 23px;
	}
	#export_list .select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 22px;
	}
	#route_list .select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 22px;
	}
	.sortEdit input {
		height: 20px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 21px;
	}
	.filter1 .search .select2-container--default .select2-selection--single {
		border-color: #ccc;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		height: 28px;
	}
	.tab-t .ctr {
		float: left;
		width: 470px;
	}
	.xSelect-show {
		height: 23px;
		line-height: 22px;
	}
	.xSelect-show:after {
		top: 9px;
	}
	#server_select .select2-container--default .select2-selection--single {
		height: 28px;
	}
	.ui-dialog-body {
		padding: 0px;
		text-align: center;
	}
	.form-item {
		padding: 10px 0 10px;
	}
	{% if _power_mode == 1 %}
	.c-table table tr:hover td:last-child, .xTable table tr:hover td:last-child {
		background-color: rgb(230, 230, 230);
	}
	{% endif %}
</style>

<script type="text/javascript">
var delect_str1 = new Array();
var delect_str2 = new Array();
var check_num=0;
var total_all_r=0;
//总数
var fenye_r=0;
var export_array=null;
var _if_disable ='2';
var first_style ='';
var error_msg = '{{error_msg}}';
var data = '{{DNSIP| safe }}';
var DNSConfigId = '{{DNSConfigId| safe }}';
var se = window.parent.document.frm.se.value;
//总页码
var search_typeall_r=document.frm_export.search_typeall.value;
var nameReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
var ipReg = /(^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-4]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])$)/
var ipcheck_route=/(^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-4]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])$)/;

var _export={
	"ipv4_id":0,
	"server_id":0,
	"is_bond":0,			//--设备类型，0-Ether,1-Bond
	"netdev_id":0,
	"netdev_clas":0,	//--地址类型，0-物理地址，1-虚拟地址，2-Vlan
	"netdev_name": "",
	"ip_addr": "",
	"mask_addr": "",
	"memo": null
};
var bond={
	"bond_id": 0,
	"server_id": 0,
	"bond_name": "",
	"ether_id_1": 0,
	"ether_id_2": 0
}
$(function(){
	get_LoadBalance();
	if('{{error_msg}}' !=""){
		_alert(2,'基础设置','{{error_msg}}');
		return false;
	}
	_if_disable = $('#nav-s1 li[data-modeid=7]',parent.parent.document).attr('_if_disable');
	// if(_if_disable == '1'){
	// 	$('.s-hide').remove();
	// 	$('thead tr').eq(0).children('th:last').css('width',30);
	// 	first_style="style=\"border-left: 1px solid #FFF;\"";
	// }
	get_server();
	document.frm_export.se.value=window.parent.document.frm.se.value;

	var search_typeall_select=document.frm_export.e.value.substr(document.frm_export.e.value.indexOf(':')+1,document.frm_export.e.value.length-1);
	if(search_typeall_select!=''){
		var array=new Array();
		array[0]=search_typeall_select.substr(0,search_typeall_select.indexOf('-'));
		array[1]=search_typeall_select.substr(search_typeall_select.indexOf('-')+1,search_typeall_select.length);
		$('#export_select').val(array[0]).trigger('change');
		$('#export_text').val(array[1]);
	}
	//list show
	show_export_list();
	parent._switchBtn(1);//显示按钮
	//tr双击事件
	$("#export_list, #route_list1,#loadbalance_list1").on("click", "tr", function (e){
		x=e.target;
		//删除按钮
		if(x.id == 'del'){
			var type1 = $(this).parents('tbody').attr('id');
			var input = $(this).find("input");
			$obj1 = $(this);
			if(type1 == "export_list"){
				$('.btn').blur();parent.layer.open({
					type:1,
					title: '基础设置',
					content: '<div class="layer-alert"><i class="alert warning"></i>是否删除</div>',
					btn:['删&nbsp;&nbsp;除','取&nbsp;&nbsp;消'],
					btnAlign:'c',
					closeBtn: false,
					skin:'layer-custom',
					area:['380px','310px'],
					move: false,
					resize: false,
					yes:function(i){
						parent.layer.close(i);
						var delete_item=$obj1.find('td').eq(1).text();
						$(input).iCheck('uncheck');
						delete_fun(delete_item,$obj1);
					}
				});
			}else if(type1 == "route_list1"){
				var id1 = $obj1.find('td').eq(1).text();
				$(input).iCheck('uncheck');
				delete_route(id1,$obj1);
			}
		}
		
		if(x.id == 'save'){
			if($(this).find("#save").attr('class').indexOf('disabled') != -1){
				return false;
			}
			var type1 = $(this).parents('tbody').attr('id');
			var id=$(this).find('td').siblings().eq(1).text();
			if(type1 == "export_list"){
				var oper = '';
				oper +='编辑网络：' 
				var is_bond = $(this).find("#is_bond1").attr('value');
				if(is_bond=="null"){
					_alert(2,'基础设置','请选择设备类型');
					return false;
				}
				oper +='（设备类型：'+$(this).find("#is_bond1").text()+"，";
				//服务器
				var server_id = server_ID;
				if(server_id=="0"){
					_alert(2,'基础设置','请选择服务器');
					return false;
				}
				oper +='服务器：'+server_ID+"，";
				//ether_name网口或bond_nameBOND
				if(is_bond=="0"){
					var ether_id = $(this).find("#ether_name1").attr('value');
					var ether_name = $(this).find("#ether_name1").text();
					if(ether_id=="0"){
						_alert(2,'基础设置','请选择设备名称');
						return false;
					}
					oper +='设备名称：'+ether_name+"，";
				}else if(is_bond=="1"){
					var ether_id = $("#addrType_"+id+"").attr('value');
					var ether_name = $("#addrType_"+id+"").text();
					if(ether_id=="0"){
						_alert(2,'基础设置','请选择Bond');
						return false;
					}
					oper +='Bond：'+ether_name+"，";
				}
				//netdev_clas地址类型
				var netdev_clas = $(this).find("#netdev_clas1").attr('value');
				if(netdev_clas=="null"){
					_alert(2,'基础设置','请选择地址类型');
					return false;
				}else if(netdev_clas=="1"){
					var num_value=$(this).find('#num_value1').val();
					if(num_value==""){
						_alert(2,'基础设置','请输入编号',$(this).find('#num_value1'));
						return false;
					}
					ether_name=ether_name+":"+num_value;
					oper +='编号：'+num_value+"，";
				}else if(netdev_clas=="2"){
					var tag_num_value=$(this).find('#tag_num_value1').val();
					if(tag_num_value==""){
						_alert(2,'基础设置','请输入Tag',$(this).find('#tag_num_value1'));
						return false;
					}
					ether_name=ether_name+"."+tag_num_value;
					oper +='Tag：'+tag_num_value+"，";
				}
				//ip_addrIP地址
				var ip_addr = $(this).find("#ip_addr1").val();
				if(ip_addr==""){
					_alert(2,'基础设置','请输入IP地址',$(this).find("#ip_addr1"));
					return false;
				}else if(!ipReg.test(ip_addr)){
					_alert(1,'基础设置','IP地址格式不正确',$(this).find("#ip_addr1"));
					return false;
				}else if(ip_addr=='0.0.0.0' || ip_addr=="255.255.255.255"){
					_alert(1,'基础设置','IP地址格式不正确',$(this).find("#ip_addr1"));
					return false;
				}
				oper +='IP地址：'+ip_addr+"，";
				//mask_addr子网掩码
				var mask_addr = $(this).find("#mask_addr1").val();
				if(mask_addr==""){
					_alert(2,'基础设置','请输入子网掩码', $(this).find("#mask_addr1"));
					return false;
				}else if(!ipReg.test(mask_addr) && mask_addr !='255.255.255.255'){
					_alert(1,'基础设置','子网掩码格式不正确', $(this).find("#mask_addr1"));
					return false;
				}else if(mask_addr=='0.0.0.0'){
					_alert(2,'基础设置','子网掩码格式不正确', $(this).find("#mask_addr1"));
					return false;
				}
				oper +='子网掩码：'+mask_addr+"，";
				var memo="";
				if(memo==""){
					memo=null;
				}else if(memo.length>255){
					_alert(1,'基础设置','描述长度超出范围',$('#memo'));
					$('#memo').val('');
					return false;
				}
				oper +='描述：'+memo+"）";
				$obj1 = $(this);
				_export.ipv4_id=parseInt(id);
				_export.server_id=parseInt(server_id);
				_export.is_bond=parseInt(is_bond);
				_export.netdev_id=parseInt(ether_id);
				_export.netdev_clas=parseInt(netdev_clas);
				_export.netdev_name=ether_name;
				_export.ip_addr=ip_addr;
				_export.mask_addr=mask_addr;
				_export.memo=memo;
				var msstr = aceg(JSON.stringify(_export),$("input[name=se]").val());
				$.ajax({
					url: '/bhost/add_export',
					type: "POST",
					async:false,
					data: {a0:$("input[name=se]").val(),a1:JSON.stringify(_export),o1:oper,m1:msstr},
					success: function(result) {
						var result = JSON.parse(result);
						if(result.Result == true){
							$('.btn').blur();parent.layer.open({
								type:1,
								title: '基础设置',
								content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
								btn:['确&nbsp;&nbsp;定'],
								btnAlign:'c',
								closeBtn: false,
								skin:'layer-custom',
								area:['380px','310px'],
								move: false,
								resize: false,
								yes:function(i){
									parent.layer.close(i);
									$obj1.find("#save").attr('class','start_icon disabled');							
								}
							});

						}else{
							_alert(1,'基础设置',result.ErrMsg);
							return false;
						}
					}
				});
			}else if(type1 == "route_list1"){
				var server_id = server_ID;
				var ipv4_id = $(this).find("#ipv4_select1").find("option:selected").attr("devid");
				var gw_addr = $(this).find("#gw_addr1").val();
				var next_addr = $(this).find("#next_addr1").val();
				var netmask = $(this).find("#netmask1").val();
				var route_type = "default";
				var route_id = parseInt(id);
				oper = "编辑路由：（"
				if (server_id == "-1"){
					_alert(2,"路由设置","请选择服务器");
					return;
				}
				oper +="服务器："+server_id+"，";
				if (ipv4_id == "-1" || ipv4_id == undefined){
					_alert(2,"路由设置","请选择设备名称");
					return;
				}
				oper +="设备名称："+$(this).find("#ipv4_select1 option:selected").text()+"，";
				if (gw_addr == ""){
					_alert(2,"路由设置","请输入网关地址",$(this).find("#gw_addr1"));
					return;
				}
				if (!ipcheck_route.test(gw_addr)){
					_alert(1,"路由设置","网关地址格式不正确",$(this).find("#gw_addr1"));
					return;
				}
				oper +="网关地址："+gw_addr+"，";
				if (!ipcheck_route.test(next_addr) && next_addr != ""){
					_alert(2,"路由设置","请输入正确的下一跳转地址",$(this).find("#next_addr1"));
					return;
				}
				oper +="下一跳转地址："+next_addr+"，";
				if (!ipcheck_route.test(netmask) && netmask != "" && mask_addr !='255.255.255.255'){
					_alert(2,"路由设置","请输入正确的子网掩码",$(this).find("#netmask1"));
					return;
				}
				oper +="子网掩码："+netmask+"）";
				$obj1 = $(this);
				if (next_addr != ""){
					route_type = "net";
				}
				$.ajax({
					url:'/bhost/save_route',
					type:'post',
					async:false,
					data:{a0:$("input[name=se]").val(),z1:route_id,z2:ipv4_id,z3:gw_addr,z4:next_addr,z5:netmask,z6:route_type,z7:server_id,o1:oper},
					success:function(Result){
						data = JSON.parse(Result);
						if (data.Result == false){
							_alert(1,"路由设置","保存路由：" + data.ErrMsg);
						}else{
							$('.btn').blur();
							parent.layer.open({
								type:1,
								title:"路由设置",
								content:'<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
								btn:['确定'],
								btnAlign:'c',
								closeBtn: false,
								skin:'layer-custom',
								area:['380px','310px'],
								move: false,
								resize: false,
								btn1:function(i){
									parent.layer.close(i);
									$obj1.find("#save").attr('class','start_icon disabled');
								},
								btn2:function(i){
									parent.layer.close(i);
								}
							});	
						}
					}
				});
			}
		}
	
		if(x.id=='saveB'){
			$_saveB=$(this).find("#saveB");
			if($_saveB.attr('class').indexOf('disabled') != -1){
				return false;
			}
			var LoadBalanceip=$('#LoadBalanceip').val().trim();
			if(LoadBalanceip==''){
				_alert(2,"负载均衡","负载均衡不能为空",$('#LoadBalanceip'));
				return false;
			}
			var hostIPReg = /(^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-4]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])$)/;
			if(!hostIPReg.test(LoadBalanceip)){
				_alert(2,"负载均衡","负载均衡IP格式错误",$('#LoadBalanceip'));
				return false;
			}
			$.ajax({
				url: "/bhost/save_LoadBalance",
				type:"POST",
				async:false,
				data:{a0:$("input[name=se]").val(),a1:LoadBalanceip},
				success:function(result){
					var result = JSON.parse(result);
					if(result.Result){
						_alert(0,'负载均衡','保存成功');
						$_saveB.addClass('disabled');
					}else{
						_alert(1,'负载均衡',result.ErrMsg);
						return false;
					}
				}
			});
		}
		if(x.id=='delB'){
			if($(this).find("#delB").attr('class').indexOf('disabled') != -1){
				return false;
			}
		}
	});

	$("#export_list").on("ifChecked",function(e){
		check_num++;
		$("div.box-table").next("div.tab-i").children("div.il").find("span.sum").text(check_num);		
	}).on("ifUnchecked",function(e){
		check_num--;
		$("div.box-table").next("div.tab-i").children("div.il").find("span.sum").text(check_num);
	});
})
function reload_select() {
	get_ipv4();
	Ipv4_html = "<option value=\"-1\">选择</option>";
	$.each(IPV4_data,function(i,item){
		if(item.status == 2) return true;
		Ipv4_html += "<option value=\""+item.netdev_name+"\" devid=\""+item.ipv4_id+"\">"+item.netdev_name+"</option>";
	});
	$.each($("#route_list1").find('tr'),function(i,item){
		var data_tmp = $(item).find("#ipv4_select1").find("option:selected").attr("devid");
		$(item).find("#ipv4_select1").html(Ipv4_html);
		select_rebind($("#route_list1"));
		$(item).find("#ipv4_select1").val(data_tmp).trigger('change');
	})
	$("#route_list1").find('#save').attr('class','start_icon disabled');
}
function reload_select1(delete_id) {
	$.each($("#route_list1").find('tr'),function(i,item){
		var data1 = $(item).find("#ipv4_select1").find("option:selected").attr("devid");
		if(data1 == delete_id){
			$(item).remove();
		}
	})

	get_ipv4();
	Ipv4_html = "<option value=\"-1\">选择</option>";
	$.each(IPV4_data,function(i,item){
		if(item.status == 2) return true;
		Ipv4_html += "<option value=\""+item.netdev_name+"\" devid=\""+item.ipv4_id+"\">"+item.netdev_name+"</option>";
	});
	$.each($("#route_list1").find('tr'),function(i,item){
		var data_tmp = $(item).find("#ipv4_select1").val();
		$(item).find("#ipv4_select1").html(Ipv4_html);
		select_rebind($("#route_list1"));
		$(item).find("#ipv4_select1").val(data_tmp).trigger('change');
	})
	$("#route_list1").find('#save').attr('class','start_icon disabled');
}
//选中字段存储
function delect_save(){
	$(">tr","#export_list").each(function(){
		var input  = $(this).find("input[type='checkbox']");
		var delect_item=$(">td",this).eq(1).text();
		var index=$.inArray(delect_item,delect_str1);
		if($(input).is(':checked')){
			if(index<0){
				delect_str1.push(delect_item);
			}
		}else{
			if(index>=0){
				delect_str1.splice(index,1);
			}
		}
	});
	$(">tr","#route_list1").each(function(){
		var input  = $(this).find("input[type='checkbox']");
		var delect_item=$(">td",this).eq(1).text();
		var index=$.inArray(delect_item,delect_str2);
		if($(input).is(':checked')){
			if(index<0){
				delect_str2.push(parseInt(delect_item));
			}
		}else{
			if(index>=0){
				delect_str2.splice(index,1);
			}
		}
	});	
}
function ipCheck(obj){
	var hostIPReg = /(^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-4]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])$)/;

	var val = $(obj).val().trim();
	var $i = $(obj).next('i.v-check')

	if(hostIPReg.test(val)){
		$i.show().attr('class','v-check v-right');
	}else{
		$i.show().attr('class','v-check v-wrong');
	}
}
//check显示
function check_show(){
	$(">tr","#export_list").each(function(){
		var check_id=$(">td",this).eq(1).text();
		if($.inArray(check_id,delect_str1)>=0){
			$(this).find("input[type='checkbox']").iCheck('check');
		}
	});
	$(">tr","#route_list1").each(function(){
		var check_id=$(">td",this).eq(1).text();
		if($.inArray(check_id,delect_str2)>=0){
			$(this).find("input[type='checkbox']").iCheck('check');
		}
	});	
}

var search_typeall_new=document.frm_export.e.value.substr(0,document.frm_export.e.value.indexOf(':'));
function update_array(){
	var search_typeall=search_typeall_r+search_typeall_new;
	var export_d=document.frm_export.export_d.value;
	$.ajax({
		url: "/bhost/get_export_list",
		type:"POST",
		async:true,
		data:{a0:$("input[name=se]").val(),a5:$("#fser_id").val(),a2:search_typeall,a1:export_d},
		success:function(result){
			var export_result = JSON.parse(result);
			if (export_result.Result){
				var export_data = export_result.info;
				export_array=export_data.data.map(function (params) {
					return params.ipv4_id+'';
				});
			}else{
				_alert(1,'基础设置',export_result.ErrMsg);
				return false;
			}
		}
	});
}
String.prototype.ResetBlank=function(){
	var regEx = /\s+/g; 
	return this.replace(regEx, ' '); 
};
var Balanceresult=null;
function get_LoadBalance(){
		$.ajax({
		url: "/bhost/get_LoadBalance",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			Balanceresult=JSON.parse(result);
			if (Balanceresult.Result){
				if (Balanceresult.type==1){
					$('#LoadBalanceip').parents('.c-table').remove();
				}else{
					$('#LoadBalanceip').parents('.c-table').show();
					if(Balanceresult.info!='' && Balanceresult.info!=null){
						$('#LoadBalanceip').val(Balanceresult.info);
						$('#LoadBalanceip').attr('data-id',Balanceresult.id);
					}
				}
			}else{
				_alert(2,"基础设置",Balanceresult.ErrMsg);
			}
		}
	});
}

//以每页显示数显示列表函数
function show_export_list(){
	update_array();
	var paging = 1;
	var page_num = MAX_PAGE;
	var search_typeall = search_typeall_r+search_typeall_new;
	var export_d = document.frm_export.export_d.value
	$.ajax({
		url: "/bhost/get_export_list",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val(),a5:$("#fser_id").val(),a2:search_typeall,a1:export_d},
		success:function(result){
			var export_result = JSON.parse(result);
			if (export_result.Result==true){
				var export_data = export_result.info;
				var total_all = export_data.totalrow;
				if(total_all%MAX_PAGE==0){
					fenye_r=parseInt(total_all/MAX_PAGE);
				}else{
					fenye_r=parseInt(total_all/MAX_PAGE)+1;
				}
				if(export_data.data=="" && paging!="1"){
					//export_page(0.9);
				}else{
					//total = 0;
					total_all_r = total_all;
					if(total_all){
						$("#export_list").empty();
						var i_flag = 0;
						$.each(export_data.data,function(i,item){
							//if (total<page_num){
								//total++;
								if(item.status == 2){
									i_flag++;
									return true;
								}

								if(item.memo==null){
									item.memo="";
								}
								if(item.netdev_name==null){
									item.netdev_name="";
								}
								var netdev_clas_tmp = "";
								switch(item.netdev_clas){
									case 0:
										netdev_clas_tmp="物理地址";
										break;
									case 1:
										netdev_clas_tmp="虚拟地址";
										break;
									case 2:
										netdev_clas_tmp="Vlan";
										break;
								}								
								var is_bond_tmp = "";
								switch(item.is_bond){
									case 0:
										is_bond_tmp="Ether";
										break;
									case 1:
										is_bond_tmp="Bond";
										break;
								}
								if(_if_disable == '1'){
									edit_class = 'search_result';
									//add_other = "<td style = \"display:none\"></td>";
									add_other ='';
									title_str="查看";
								}else{
									edit_class = 'edit';
									add_other = '';
									title_str = "保存";
								}
								var No_tmp = "";
								var Tag_tmp = "";
								if(item.netdev_clas == 2){
									if(item.netdev_name.indexOf(":") != -1){
										Tag_tmp = item.netdev_name.split(':')[1];
									}
								}else if(item.netdev_clas == 1){
									if(item.netdev_name.indexOf(":") != -1){
										No_tmp = item.netdev_name.split(':')[1];
									}
								}
								addNewList1(1,item.ipv4_id);
								$("#export_list").find('tr').eq(i-i_flag).find('td').eq(1).text(item.ipv4_id);
								$("#export_list").find('tr').eq(i-i_flag).find('td').eq(2).text(is_bond_tmp).attr('value',item.is_bond);
								if(item.is_bond == 0){
									$("#export_list").find('tr').eq(i-i_flag).find('td').eq(3).text(item.netdev_name).attr('value',item.netdev_id);;
									$("#addrType_"+item.ipv4_id+"").text("");
								}else{
									$("#export_list").find('tr').eq(i-i_flag).find('td').eq(3).text("");
									$("#addrType_"+item.ipv4_id+"").text(item.netdev_name).attr('value',item.netdev_id);
								}
								$("#export_list").find('tr').eq(i-i_flag).find('td').eq(7).text(netdev_clas_tmp).attr('value',item.netdev_clas);
								// if(item.netdev_clas == 0){
								// 	$("#export_list").find('tr').eq(i).find('#num_value1').attr("disabled",true).hide();
								// 	$("#export_list").find('tr').eq(i).find('#tag_num_value1').attr("disabled",true).hide();
								// }else if(item.netdev_clas == 1){
								// 	$("#export_list").find('tr').eq(i).find('#num_value1').val(item.netdev_name.split(":")[1]);
								// 	$("#export_list").find('tr').eq(i).find('#tag_num_value1').attr("disabled",true).hide();
								// }else if(item.netdev_clas == 2){
								// 	$("#export_list").find('tr').eq(i).find('#num_value1').attr("disabled",true).hide();
								// 	$("#export_list").find('tr').eq(i).find('#tag_num_value1').val(item.netdev_name.split(":")[1]);
								// }
								$("#export_list").find('tr').eq(i-i_flag).find('#ip_addr1').val(item.ip_addr).trigger('change');
								$("#export_list").find('tr').eq(i-i_flag).find('#mask_addr1').val(item.mask_addr).trigger('change');
						})
						// if(_if_disable == '1'){
						// 	$('.s-hide').remove();
						// }
						tabArr();
						sortEdit_resize();
						$(".input_checkbox","#export_list").iCheck({
							checkboxClass: 'icheckbox_minimal-blue',
							radioClass: 'iradio_minimal-blue',
							increaseArea: '0' // optional
						});
						$("#export_total").text(total_all);
						if(paging>=fenye_r){
							paging=fenye_r;
						}
						document.frm_export.paging.value=1;
						//document.getElementById("export_page").value=1;
						$("#export_pages").text(fenye_r);
						$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
						check_show();
					}else{
						$("div.box-table").next("div.tab-i").children("div.il").find("span.sum").text(0);
						$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
						$("#export_list").empty();
					}
				}
				bind_saveBtn();
			}else{
				_alert(1,"基础设置",export_result.ErrMsg);
				return false;
			}
		}
	});
}

function work_all(){
	if($(".rwrap").find(".start_icon.disabled").length != $(".rwrap").find(".del").length){
		_alert(2,"基础设置","存在未保存配置");
		return false;
	}
	$.ajax({
		url: "/bhost/restart_net",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val(),a1:server_ID},
		success:function(result){
			var result = JSON.parse(result);
			if(result.Result){
				_alert(0,"基础设置","生效成功");
			}else{
				_alert(1,'基础设置',result.ErrMsg);
				return false;
			}
		}
	});
	
}
function sortEdit_resize(){
	$.each($(".sortEdit"),function(i,item){
		if($(item).html() == ""){
			$(item).css('width',80).css('height',20);
		}
	})
}
//列表内样式绑定
function select_rebind(obj){
	$(obj).find('.input_checkbox').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
		radioClass: 'iradio_minimal-blue',
		increaseArea: '0' // optional
	});
	$(obj).find('.form-select').select2({minimumResultsForSearch: -1});
}
var HTMLContent = "";

function addNewList(type){
	switch(type){
		case 1:
			var return_flag = 0;
			$("#export_list").find("tr").each(function(i,item){
				if($(item).find('td').eq(1).text() == "New"){
					_alert(1,"基础设置","存在未保存配置");
					return_flag = 1;
					return false;
				}
			})
			if(return_flag == 1){
				return false;
			}

			title = "基础设置";
			var $dialogCont = $("#net_suspend").show();
			
			d_authtype = dialog({
				title:title,
				content:$dialogCont,
				id:"net_suspend",
				width:"1200px"
			});
			ipage = 1;
			// document.frm_export.tasktype.value = 1;
			// document.frm_export.export_d.value = 0;
			// document.frm_export.action = '/bhost/export_handle';
			// document.frm_export.search_typeall.value = search_typeall_r;	
			// document.frm_export.e.value = search_typeall_new+':'+$('#export_select').val()+'-'+$('#export_text').val();
			// document.frm_export.a0.value = document.frm_export.se.value;
			// document.frm_export.submit();

			$('#mframe1').attr('src','/bhost/export_handle?tasktype=1&export_d=0&search_typeall='+search_typeall_r+'&e='+search_typeall_new+':'+$('#export_select').val()+'-'+$('#export_text').val()+'&se='+se+'&a0='+se+'&title_flag=1&paging='+ipage+'')
			d_authtype.addEventListener('close', function () {
				$dialogCont.appendTo("body").hide();
			});
			d_authtype.showModal();
			
			$(".ui-dialog-title").css("width","140px");
			break;
		case 2:
			var return_flag = 0;
			$("#route_list").find("tr").each(function(i,item){
				if($(item).find('td').eq(1).text() == "New"){
					_alert(1,"基础设置","存在未保存配置");
					return_flag = 1;
					return false;
				}
			})
			if(return_flag == 1){
				return false;
			}
			title = "基础设置";
			var $dialogCont = $("#route_suspend").show();
			
			d_authtype = dialog({
				title:title,
				content:$dialogCont,
				id:"route_suspend",
				width:"1200px"
			});

			ipage = 1;
			var deliver = JSON.stringify(keyword_re);
			// document.frm_route.action = '/bhost/create_route';
			// document.frm_route.z1.value = ipage;
			// document.frm_route.z2.value = 0;
			// document.frm_route.z3.value = deliver;
			// document.frm_route.z4.value = filter_flag;
			// document.frm_route.z5.value = JSON.stringify(selectid);
			// document.frm_route.submit();

			$('#mframe2').attr('src','/bhost/create_route?&a0='+se+'&z1='+ipage+'&z2=0&z3='+deliver+'&z4='+filter_flag+'&z5='+JSON.stringify(selectid)+'')
			d_authtype.addEventListener('close', function () {
				$dialogCont.appendTo("body").hide();
			});
			d_authtype.showModal();
			
			$(".ui-dialog-title").css("width","140px");
			break;
	}
	tabArr();
}
function addNewList1(type,id) {
	if(_if_disable == '1'){
		btn_tmp = ""
	}else{
		btn_tmp = "<div class=\"tab-ctr\"><a href=\"javascript:;\" class=\"start_icon disabled\" id=\"save\" title='保存'></a><a href=\"javascript:;\" class=\"del s-hide\" id=\"del\" title='删除'></a></div>"
	}
	switch(type){
		case 1:
			HTMLContent = "<tr>"+
				"<td class=\"in s-hide\"><input type=\"checkbox\" class=\"input_checkbox\" /></td>"+add_other+
				"<td style = \"display:none\">New</td>"+
				"<td name=\"is_bond1\" id=\"is_bond1\" value style=\"display:none;\"></td>"+
				"<td name=\"ether_name1\" id=\"ether_name1\" value></td>"+
				"<td id=\"addrType_"+id+"\" value></td>"+
				'<td><div class=\'sortEdit\' onclick=\'_editSort(this,"+item.ipv4_id+",6)\' style=\'float: left; text-align: left; margin-left: -5px;\'><input type="text" name="ip_addr1" style="width:8em; float: left; text-align: left;" id="ip_addr1" onblur="SaveThis(this,\'SaveIP\');" onkeydown="" onkeyup=""/></div></td>'+
				'<td><div class=\'sortEdit\' onclick=\'_editSort(this,"+item.ipv4_id+",7)\' style=\'float: left; text-align: left; margin-left: -5px;\'><input type="text" name="mask_addr1" style="width:8em; float: left; text-align: left;" id="mask_addr1" onblur="SaveThis(this,\'SaveIP\');" onkeydown="" onkeyup=""/></div></td>'+
				// '<td><div class=\'sortEdit\' onclick=\'_editSort(this,"+item.ipv4_id+",8)\' style=\'float: left; text-align: left; margin-left: -5px;\'><input type="text" name="num_value1" style="width:4em; float: left; text-align: left;" id="num_value1" onblur="SaveThis(this,\'SaveIP\');" onkeydown="" onkeyup=""/></div></td>'+
				// '<td><div class=\'sortEdit\' onclick=\'_editSort(this,"+item.ipv4_id+",9)\' style=\'float: left; text-align: left; margin-left: -5px;\'><input type="text" name="tag_num_value1" style="width:4em; float: left; text-align: left;" id="tag_num_value1" onblur="SaveThis(this,\'SaveIP\');" onkeydown="" onkeyup=""/></div></td>'+
				"<td name=\"netdev_clas1\" id=\"netdev_clas1\" value></td>"+
				"<td>"+btn_tmp+
				"</td></tr>";
			$("#export_list").append(HTMLContent);
			select_rebind($("#export_list"));
			break;
		case 2:
			HTMLContent = "<tr>"+
				"<td class=\"in s-hide\"><input type=\"checkbox\" class=\"input_checkbox\" /></td>"+
				"<td style = \"display:none\">New</td>"+
				"<td><div class=\"sortEdit\" onclick=\"_editSort(this,4,5)\" style=\"float: left; text-align: left; margin-left: -9px;\"><select class=\"form-select\" name=\"ipv4_select1\" id=\"ipv4_select1\" style=\"width:88px;\"\">"+Ipv4_html+"</select></td>"+
				'<td><div class=\'sortEdit\' onclick=\'_editSort(this,"+item.ipv4_id+",10)\' style=\'float: left; text-align: left; margin-left: -5px;\'><input type="text" name="gw_addr1" style="width:8em; float: left; text-align: left;" id="gw_addr1" onblur="SaveThis(this,\'SaveIP\');" onkeydown="" onkeyup=""/></div></td>'+
				'<td><div class=\'sortEdit\' onclick=\'_editSort(this,"+item.ipv4_id+",11)\' style=\'float: left; text-align: left; margin-left: -5px;\'><input type="text" name="next_addr1" style="width:8em; float: left; text-align: left;" id="next_addr1" onblur="SaveThis(this,\'SaveIP\');" onkeydown="" onkeyup=""/></div></td>'+
				'<td><div class=\'sortEdit\' onclick=\'_editSort(this,"+item.ipv4_id+",11)\' style=\'float: left; text-align: left; margin-left: -5px;\'><input type="text" name="netmask1" style="width:8em; float: left; text-align: left;" id="netmask1" onblur="SaveThis(this,\'SaveIP\');" onkeydown="" onkeyup=""/></div></td>'+
				'<td></td>'+			
				"<td>"+btn_tmp+
				"</td></tr>";
				$("#route_list").append(HTMLContent);
				select_rebind($("#route_list"));	
			break;
	}
}
var eCheck = true;
var PRI = "";
function _editSort(obj,id,index){
	switch(index){
		case 1:
		case 2:
		case 3:
		case 4:
		case 5:
			if($(obj).children('select').length>0){
				return;
			}
			if(!eCheck){
				return;
			}
			var data1 = $(obj).text();
			var data2 = -1;
			switch(data1){
				case "物理地址":
					data2 = 0;
					break;
				case "虚拟地址":
					data2 = 1;
					break;
				case "Vlan":
					data2 = 2;
					break;
			}
			var $i = "";
			//$i = $('<div class="form-c" id="addrType_'+id+'" style="padding-left: 0px;"></div>');
			$i = $('<select class="form-select" name="addrType" id="addrType" style="width:90px;"><option value="null" selected>请选择</option><option value="0">物理地址</option><option value="1">虚拟地址</option><option value="2">Vlan</option></select>');
			$(obj).empty().html($i);
			$('select',obj).select2({minimumResultsForSearch: -1});
			break
		case 6:
		case 7:
		case 8:
		case 9:
			if($(obj).children('input').length>0){
				return;
			}
			if(!eCheck){
				return;
			}
			var v = $(obj).text();
			var s = v.length;
			if(s == 0){
				s = 7;
			}
			PRI = parseInt(v);
			var $i = "";
			if(index == 6){
				$i = $('<input type="text"  value="'+v+'" name="" style="width:'+(s/2+0.5)+'em; float: left;" onblur="SaveThis(this,\'SaveIP\');" onkeydown="" onkeyup=""/>');
			}else if(index == 7){
				$i = $('<input type="text"  value="'+v+'" name="" style="width:'+(s/2+0.5)+'em; float: left;" onblur="SaveThis(this,\'MaskIP\');" onkeydown="" onkeyup=""/>');
			}else if(index == 8){
				$i = $('<input type="text"  value="'+v+'" name="" style="width:'+(s/2+0.5)+'em; float: left;" onblur="SaveThis(this,\'SaveNum\');" onkeydown="" onkeyup=""/>');
			}else if(index == 9){
				$i = $('<input type="text"  value="'+v+'" name="" style="width:'+(s/2+0.5)+'em; float: left;" onblur="SaveThis(this,\'SaveTag\');" onkeydown="" onkeyup=""/>');
			}
			$(obj).empty().html($i);
			$('input',obj).focus().select();
			break
			
	}
}

function bind_saveBtn() {
	$("#export_list").find('input').unbind().on("input propertychange",function() {
		$(this).parents('td').siblings('td:last').find("#save").attr("class", "start_icon");
	});
	$("#route_list").find('input').unbind().on("input propertychange",function() {
		$(this).parents('td').siblings('td:last').find("#save").attr("class", "start_icon");
	});	
	$("#loadbalance_list").find('input').unbind().on("input propertychange",function() {
		$(this).parents('td').siblings('td:last').find("#saveB").attr("class", "start_icon");
	});	
	$("#route_list").find('select').change(function(){
		$(this).parents('td').siblings('td:last').find("#save").attr("class", "start_icon");
	})	
}


function SaveThis(obj,Type){
	var v = $(obj).val();
	var position;
	eCheck = true;
	sortEdit_resize();
	return;
}
var server_ID = 1;
function fser_id_change(){
	server_ID = $("#fser_id").val();
	get_ipv4();
	//重新加载两个列表
	show_export_list();
	get_route_list();
}
//分页 and 刷新
function export_page(num){
}
//全选按钮
function click_all_list(){
	var len0 = $(".box-table").find('.input_checkbox').length;
	if(len0 == 0){
		return false;
	}
	var len1 = $(".box-table").find('.input_checkbox').parent('.icheckbox_minimal-blue').length;
	var len2 = $(".box-table").find('.input_checkbox').parent('.icheckbox_minimal-blue.checked').length;	
	if(len2 == 0 || len1 != len2){
		$(".box-table").find('.input_checkbox').iCheck('check');
	}else{
		$(".box-table").find('.input_checkbox').iCheck('uncheck');
	}
}
//刷新
function clear_all(){
	show_export_list();
	get_route_list();
}
//删除函数
function delete_fun(delect_str_1,obj){
	$.ajax({
		url: '/bhost/del_export',
		type: "POST",
		async:false,
		data: {a0:$("input[name=se]").val(),a1:delect_str_1},
		success: function(result) {
			var result = JSON.parse(result);
			if(result.Result == true){
				export_page(0);
				$(obj).remove();
				_alert(0,"基础设置","删除成功");
				reload_select1(delect_str_1);
			}else{
				export_page(0);
				_alert(1,"基础设置",result.ErrMsg);
				return false;
			}	
		}
	});
}
//删除按钮
function delete_list(){
	delect_save();
	if(delect_str1.length == 0 && delect_str2.length == 0){
		_alert(2,"基础设置","请选择要删除的数据");
		return false;
	}
	var id = JSON.stringify(delect_str2);
	//利用对话框返回的值 （true 或者 false）  
	$('.btn').blur();parent.layer.open({
		type:1,
		title: '基础设置',
		content: '<div class="layer-alert"><i class="alert warning"></i>是否批量删除</div>',
		btn:['删&nbsp;&nbsp;除','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		yes:function(i){
			parent.layer.close(i);
			if(delect_str1.length != 0){
				delete_fun(delect_str1.join(','));
				delect_str1=new Array();
			}
			if(delect_str2.length != 0){
				delete_aclient(1,id);
				delect_str2=new Array();
			}
			clear_all();	
		}
	});
}
function next_html(){
	document.frm_export.action = '/bhost/route_show';	
	document.frm_export.a0.value = document.frm_export.se.value;
	document.frm_export.submit();
}
function next_html_dns(){
	document.frm_export.action = '/bhost/dns_show';	
	document.frm_export.a0.value = document.frm_export.se.value;
	document.frm_export.submit();
}
</script>

<script>//原路由管理 js
var se;
$(function(){
	$("#filter_name").next('span').find('span.select2-selection').css({"border-bottom-left-radius":"1px","border-top-left-radius":"1px","margin-left":"-1px"})
	if(parent.is_guide == 1){
		$('#bBtn').hide();
		$('a.ret').parent().hide();
	}
	if('{{error_msg}}' !=""){
		_alert(2,'路由设置','{{error_msg}}');
		return false;
	}
	/**/
	_if_disable = $('#nav-s1 li[data-modeid=7]',parent.parent.document).attr('_if_disable');
	// if(_if_disable == '1'){
	// 	$('.s-hide').remove();
	// 	$('thead tr').eq(0).children('th:last').css('width',30);
	// 	first_style="style=\"border-left: 1px solid #FFF;\"";
	// }
	/**/
	$("#route_set").on("click",function(){
		//parent.reload();
		document.frm_route.action = '/bhost/route_show';
		document.frm_route.z1.value = 1;
		document.frm_route.z2.value = "[]";
		document.frm_route.z3.value = 0;
		document.frm_route.z4.value = "[]";
		document.frm_route.submit();
	});
	//只能输入数字
	se = window.parent.document.frm.se.value;
	parent._switchBtn(1);//显示左右按钮
	get_ipv4();
	get_route_list();
});
var keyword_v = "";
var flag = 1;
var flags = 0;
var num=0;
var curid=[];
var selectid = [];
var c_ipage="None";
var server_id = "";
var keyword_re = [];
var filter_flag = 0;
//全选
var select_all_click = 0;
var IPV4_data = "";
function select_all(){
	var num = 0;
	selectid = [];
	var select_total = $("#select_total").text();
	var route_total = $("#route_total").text();
	if (route_total == select_total){
		$("#route_list").find('input').iCheck('uncheck');
	}else{
		$.ajax({
			url:'/bhost/get_route_list',
			type:"post",
			async:false,
			data:{a0:se,z4:"null",z5:"null",z6:JSON.stringify(keyword_re),z7:$("#fser_id").val()},
			success:function(result){
				var route_data = JSON.parse(result);
				$.each(route_data.data,function(i,item){
					selectid.push(item.route_id);
				});
			}
		});
		$("#route_list tbody input[type='checkbox']").each(function(){
			$(this).iCheck('check');
		});
	}	
	num = selectid.length;
	$("#select_total").text(num);
}
function get_ipv4(){
	var id = $("#fser_id").val();
	IPV4_data = "";
	$.ajax({
		url:'/bhost/get_server_ipv4',
		type:'post',
		async:false,
		data:{a0:se,z1:id,z2:0},
		success:function(result){
			data = JSON.parse(result);
			IPV4_data = data.data;
		}
	});
}
function get_server(){
	$.ajax({
		url: "/bhost/get_serverglobal_list",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			$('#fser_id').empty();
			var serverglobal_result = JSON.parse(result);
			if(serverglobal_result.Result){
				var serverglobal_data = serverglobal_result.info;
				$.each(serverglobal_data.data,function(i,item){
					$('#fser_id').append('<option value="'+item.server_id+'">'+item.server_id+'</option>');
				});
				$('#fser_id').select2({minimumResultsForSearch: -1});
			}else{
				_alert(1,'基础设置',serverglobal_result.ErrMsg);
				return false;
			}
		}
	});
}
//获取列表
var Ipv4_html = "";
function get_route_list(){
	//get_server();
	ipage = 1; //页数	
	keyword = JSON.stringify(keyword_re);
	curid=[];
	$.ajax({  
		url:'/bhost/get_route_list',
		type:"post",
		async:false,
		data:{a0:se,z4:"null",z5:"null",z6:JSON.stringify(keyword_re),z7:$("#fser_id").val()},
		success:function(result){
			route_list = JSON.parse(result);
			$("#route_list tbody").empty();
			Ipv4_html = "<option value=\"-1\">选择</option>";
			$.each(IPV4_data,function(i,item){
				if(item.status == 2) return true;
				Ipv4_html += "<option value=\""+item.netdev_name+"\" devid=\""+item.ipv4_id+"\">"+item.netdev_name+"</option>";
			});
			var i_flag = 0;
			$.each(route_list.data,function(i,item){ 
				if(item.status == 2){
					i_flag++;
					return true;
				}
				if (item.next_addr == null){
					item.next_addr = "";
				}
				if (item.netmask == null){
					item.netmask = "";
				}
				if(_if_disable == '1'){
					edit_class = 'search_result';
					title_str="查看";
				}else{
					edit_class = 'edit';
					title_str ="保存";
				}
				addNewList1(2);
				$("#route_list").find('tr').eq(i+1-i_flag).find('td').eq(1).text(item.route_id);
				$("#route_list").find('tr').eq(i+1-i_flag).find('#ipv4_select1').val(item.netdev_name).trigger('change');
				$("#route_list").find('tr').eq(i+1-i_flag).find('#gw_addr1').val(item.gw_addr);
				$("#route_list").find('tr').eq(i+1-i_flag).find('#next_addr1').val(item.next_addr);
				$("#route_list").find('tr').eq(i+1-i_flag).find('#netmask1').val(item.netmask);
				$("#route_list").find('tr').eq(i+1-i_flag).find('td').eq(6).text(item.route_type);
				// if(_if_disable == '1'){
				// 	$('.s-hide').remove();
				// }
				tabArr();
				$('.form-checkbox,.form-radio').iCheck({
					checkboxClass: 'icheckbox_minimal-blue',
					radioClass: 'iradio_minimal-blue',
					increaseArea: '0' 
				});
			});
			bind_saveBtn();
		}
	});

	var check_page_flag = 0;
	$("#route_list tbody input[type='checkbox']").each(function(){
		if ($.inArray(parseInt(this.value), selectid) != -1){					
			$(this).iCheck('check');
			check_page_flag++;
		}
	});

	$("#route_list tbody input[type='checkbox']").on("ifChanged",function(){
		if ($(this).is(":checked")){
			if (selectid.indexOf(parseInt($(this).parents('td').next().text())) == -1){
				selectid.push(parseInt($(this).parents('td').next().text()))	
			}
		}else{
			selectid.splice($.inArray(parseInt($(this).parents('td').next().text()),selectid),1);
		}
	});
}

//批量删除
function delete_all(){
	if (selectid.length == 0){
		_alert(2,"路由设置","请选择要删除的数据");
		return;
	}

}
//单个删除
function delete_route(id,obj){
	var name = $("[value="+id+"]").prop('name');
	$('.btn').blur();
	parent.layer.open({
		type:1,
		title:"路由设置",
		content:'<div class="layer-alert"><i class="alert warning"></i>是否删除</div>',
		btn:['确定','取消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		btn1:function(i){
			parent.layer.close(i);
			delete_aclient(0,id);
			$(obj).remove();
			for (var i = 0; i < selectid.length; i++){      
				if (selectid[i] == parseInt(id)){
					num = $("#select_total").text();
					num = parseInt(num)-1;
					$("#select_total").text(num);
					selectid.splice($.inArray(parseInt(id),selectid),1);
					break;
				}
			}
			get_route_list();
		},
		btn2:function(i){
			 parent.layer.close(i);
		}
	});
}

function delete_aclient(type,id){
	$.ajax({
		url:'/bhost/delete_route',
		type:'post',
		async:false,
		data:{a0:se,z10:type,z9:id},
		success:function(results){
			data = JSON.parse(results);
			if (data.Result == "false"){
				_alert(1,"路由设置","删除失败,失败原因:"+data.ErrMsg);
			}else{
				_alert(0,"路由设置","删除成功");
			}
		}
	});
}

//创建
function create_route(){
	ipage = 1;
	var deliver = JSON.stringify(keyword_re);
	document.frm_route.action = '/bhost/create_route';
	document.frm_route.z1.value = ipage;
	document.frm_route.z2.value = 0;
	document.frm_route.z3.value = deliver;
	document.frm_route.z4.value = filter_flag;
	document.frm_route.z5.value = JSON.stringify(selectid);
	document.frm_route.submit();
}

//编辑
function edit_route(id){
	var flag = 0;
	$.ajax({
		url:'/bhost/select_route_all',
		type:'post',
		async:false,
		data:{a0:se,z1:id},
		success:function(result){
			result = JSON.parse(result);
			if (result.totalrow == "0"){
				_alert(2,"路由设置","该路由设置已删除")
				flag = 1;
			}
		}
	});
	if (flag == 1){
		refresh();
		return;
	}
	ipage = 1;
	var deliver = JSON.stringify(keyword_re);
	document.frm_route.action='/bhost/create_route';
	document.frm_route.z1.value = ipage;
	document.frm_route.z2.value = id;
	document.frm_route.z3.value = deliver;
	document.frm_route.z4.value = filter_flag;
	document.frm_route.z5.value = JSON.stringify(selectid);
	document.frm_route.submit();	
}

//刷新
function refresh(){
	selectid=[];
	$("#route_list input[type='checkbox']").each(function(){                                 
		$(this).iCheck('uncheck');
	});
	$("#select_total").text(0);
	get_route_list();
	return;
}

//返回
function list_cancel(){
	if($(".rwrap").find(".start_icon.disabled").length != $(".rwrap").find(".del").length){
		parent.layer.open({
			type:1,
			title: '基础设置',
			content: '<div class="layer-alert"><i class="alert warning"></i>存在未保存配置,是否退出</div>',
			btn:['确&nbsp;&nbsp;定','取&nbsp;&nbsp;消'],
			btnAlign:'c',
			closeBtn: false,
			skin:'layer-custom',
			area:['380px','310px'],
			move: false,
			resize: false,
			btn1:function(i){
				parent.layer.close(i);
				window.parent._closePage(null);
			},
			btn2:function(i){
				parent.layer.close(i);
				return false;
			}
		});
	}else{
		window.parent._closePage(null);
	}
}

</script>

</body>
</html>
