
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Logbase运维安全管理系统</title>
	<!--script-->
	<script>
		var userAgent = navigator.userAgent;
		var ie8 = userAgent.indexOf('Trident/4.0');

		if(ie8 != -1){
			document.write('<script src="/manage/js/jquery-IE8.js"></' + 'script>');
		}else{
			document.write('<script src="/manage/js/jquery.min.js"></' + 'script>');
		}
	</script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<script src="/manage/js/select2.full.min.js"></script>
	<script src="/manage/js/icheck.min.js"></script>
	<script src="/manage/js/jquery.plugin.js"></script>
	<script src="/manage/js/jquery.datepick.js"></script>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<link rel="stylesheet" href="/manage/css/jquery.datepick.css">
	<script type="text/javascript" src="/manage/js/dialog-plus.js"></script>
	<link rel="stylesheet" href="/manage/css/ui-dialog.css" type="text/css" />
    <link rel="stylesheet" href="/manage/css/new-head.css">
	
<!--
<link rel="stylesheet" href="css/select2.min.css">
-->
<script type="text/javascript" src="/manage/js/dialog-plus.js"></script>
<link rel="stylesheet" href="/manage/css/ui-dialog.css" type="text/css" />
<link rel="stylesheet" href="/manage/css/G-style.css" type="text/css" />
<script src="/manage/js/xSelect.js"></script>
<script src="/manage/js/base64.js"></script>
<script src="/manage/js/my_scrollbar.js"></script>

</head>
<body style="overflow:hidden;" class="bg-white">

<!---->
<div class="mainer">

	<div class="container" id="">
		<div class="c-top" id="step1_top">
			<div class="c-title">
				<div class="secnav1 guide_div">
					<ul>
						<!-- <li style="width:123px;" onclick="next(1);" class="c-webctr active">1. WEB证书<i class="i-webcrt"></i></li> -->
						<!-- <li style="width:123px;" onclick="next(2);" class="c-timeset">2. 时间设置<i class="i-timeset"></i></li> -->
						<!-- <li style="width:123px;" onclick="next(3);" class="c-netset">3. 网络设置<i class="i-netset"></i></li> -->
						<!-- <li style="width:123px;" onclick="next(4);" class="c-timeout">4. 超时设置<i class="i-timeout"></i></li> -->
						<li style="width:123px;" onclick="" class="c-download active">1. 相关下载<i class="i-download"></i><div class='before'></div></li>
					</ul>
				</div>

			</div>
		</div>
		<!--WEB证书-->
		<!--
        <div class="c-cont" id="div_webcrt">
			<div class="contain_top" style="">
				<div class="c-form c-form-host" style="">
					<div class="form">	
						<div class="form-item" >
							<span class="form-tag"><em class="imp">*</em>IP/域名：</span>
							<div id="ip_n_webcrt" name='ip_n_webcrt' class="form-c" style="float:left;width: 578px;padding-left: 10px;">
								<span class='ss ss-add'>
									<input style="width:150px;padding-right:8px;" name="ip_d_webcrt" id="ip_d_webcrt" type="text" class="form-text" placeholder="" value="">
									<i class="ctr ctr-add" onclick="_addIpWebcrt(this)" style="margin-top: 9px;    margin-left: 3px;"></i>
								</span>
							</div>
							
						</div>
					</div>
				</div>
			</div>	
			
			<div class="clearfix"></div>
			<div class="btns">
				<a href="javascript:;" class="btn btn-normal" onclick="creat_webcrt();">证书生成</a>
				<a href="javascript:;" class="btn btn-normal" id="webcrt_download" style="display:none;" onclick="location.href='/bhost/download_crt';">证书下载</a>
				<a href="javascript:;" class="btn btn-normal" id="webcrt_next" onclick="next(2);">下一步</a>
			</div>
        </div>
        -->
        <!--时间设置-->
        <!--
		<div class="c-cont" id="div_timeset" style="display:none;">
			<div class="c-form" style="padding-bottom:10px;">
				<div class="form">	
					<div class="form-item" >
						<span class="form-tag"><em class="imp">*</em>系统时间：</span>
						<div class="form-c form-c1">
							<div class="srSort" id="srTemp-xtime" style="">
									<span class="stwrap">
									<input type="text" id="t_d" value="" placeholder="日期" class="datepicker" readonly>
									<input type="text" id="t_h" placeholder="时" class="timeinput" min="00" max="23" value="00">
									<span class="srTip">:</span>
									<input type="text" id="t_m" placeholder="分" class="timeinput" min="00" max="59" value="00">
									<span class="srTip">:</span>
									<input type="text" id="t_s" placeholder="秒" class="timeinput" min="00" max="59" value="00">
								</span>
							</div>
							<a href="javascript:;" style="margin-left: 6px;height: 26px;border-color: #AAA;" class="form-button s-hide"  id="Time_button" name="Time_button" onclick="update_time();">修改</a>
						</div>
					</div>
				</div>
				<div class="form-item" style="padding-top:10px">
					<span class="form-tag">启用：</span>
					<div class="form-c">
						<label class="form-label" style="margin-top: 4px;"><input class="form-checkbox" type="checkbox" name="Enabled" id="Enabled"></label>
					</div>
				</div>
			</div>
			<div class="c-form c-form-host"style="width:780px;min-width:780px;padding-top:0px;display:none;" id="NTPServer" name="NTPServer">
				<div class="form">
					<div class="form-item form-item-100 " style="width:900px;font-size:16px;">
						<span class="form-tag"style="width:192px;" ><em class="imp">*</em>NTP服务器地址：</span>
						<div id="ip_n" name="ip_n" class="form-c"style="padding-left:10px;height: auto;overflow-y:hidden;width:auto;max-width:390px;float: left;">
							<span class="ss ss-add">
								<input id="ipInput" type="text" style="width:134px;" class="form-text" onkeyup="/*showMsg*/">
								<i class="ctr ctr-add" onclick="_addIp(this)" style="margin-left: 5px;    margin-top: 9px;"></i>
							</span>
						</div>
						<a href="javascript:;" style="margin-left:3px;margin-top: 2px;float: left;height: 26px;border-color: #AAA;" class="form-button s-hide"  id="updatetime_button" name="updatetime_button" onclick="updatetime_button();">同步</a>
					</div>
				</div>
			</div>
			<div class="c-form">
				<div class="clearfix"></div>
				<div class="btns">	
					<a href="javascript:;" class="btn btn-normal" onclick="next(1);">上一步</a>
					<a href="javascript:;" class="btn btn-normal" onclick="time_add();">保&nbsp;&nbsp;存</a>
					<a href="javascript:;" class="btn btn-normal" onclick="next(3);">下一步</a>
				</div>
			</div>
        </div>
        -->
        <!--网络设置-->
        <!--
		<div class="c-cont" id="div_netset" style="display:none;">
			<iframe src="" width="100%" height="100%" frameborder="0" name="mframe" id="mframe"></iframe>
			<div class="clearfix"></div>
			<div class="btns">	
				<a href="javascript:;" class="btn btn-normal" onclick="next(2);">上一步</a>
				<a href="javascript:;" class="btn btn-normal" onclick="next(4);">下一步</a>
			</div>
		</div>
		-->
        <!--超时设置-->
        <!--
		<div class="c-cont" id="div_timeout" style="display:none;">
			<div class="c-form" style="padding-bottom:10px;">
				<div class="form">	
					<div class="form-item" >
						<span class="form-tag"><em class="imp">*</em>WEB超时：</span>
						<div class="form-c">
							<input type="text" class="form-text" id="web_t" name="web_t" onkeyup="" onblur="dataCheck(this, 600, 86400);" onfocus="this.select()"  maxlength="6">
							<p class="form-tip">时间设置范围：600-86400（秒）</p>
						</div>
					</div>
					<div class="form-item" >
						<span class="form-tag"><em class="imp">*</em>客户端超时：</span>
						<div class="form-c">
							<input type="text" class="form-text" id="client_t" name="client_t" onkeyup="" onblur="dataCheck(this, 600, 86400);" onfocus="this.select()" maxlength="6">
							<p class="form-tip">时间设置范围：600-86400（秒）</p>
						</div>
					</div>
				</div>
				<div class="c-form">
					<div class="clearfix"></div>
					<div class="btns">	
						<a href="javascript:;" class="btn btn-normal" onclick="next(3);">上一步</a>
						<a href="javascript:;" class="btn btn-normal" onclick="time_out_add();">保&nbsp;&nbsp;存</a>
						<a href="javascript:;" class="btn btn-normal" onclick="next(5);">下一步</a>
					</div>
				</div>
			</div>
		</div>	
		-->
		<!--相关下载-->
		<div class="c-cont" id="div_download" style="">
			<div class="contain_top">
                <p style="text-align: center;line-height: 220px;font-size: 20px;">首次运维主机前，请先安装Logbase运维客户端</p>
				<div class="topcontent" style="margin-top: 200px;">
					<ul>
						<li class="content_item" style="">
							<!-- <a href="" class="imgbox"></a> -->
						</li>
						<li class="content_item" style="display: none;">
							<a href="" class="imgbox"></a>
						</li>
						<li class="content_item" style="display: none;">
							<a href="" class="imgbox"></a>
						</li>
						<li class="content_item" style="display: none;">
							<a onclick="download_jre_exe();" style="cursor: pointer;" class="imgbox"></a>
						</li>
						<li class="content_item" style="display: none;">
							<a href="" class="imgbox"></a>
						</li>
						<li class="content_item" style="display: none;">
								<a class="imgbox" style="cursor: pointer;" onclick="download_python_exe();"></a>
						</li>
						<li class="content_item" style="display: none;">
							<a class="imgbox" style="cursor: pointer;" onclick="download_ShowPasswd_exe();"></a>
						</li>
						<li class="content_item eighth">
                            <a onclick="download_BHostClient_exe();" class="imgbox" style="cursor: pointer;"></a>
                        </li>
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="btns">	
				<!-- <a href="javascript:;" class="btn btn-normal" onclick="next(3);">上一步</a> -->
				<a href="javascript:;" class="btn btn-normal" onclick="finish();">完成</a>
			</div>
		</div>
		
	</div>
</div>
<!-- webcrt style-->
<style>
.guide_div i{
	display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    overflow: hidden;
	top: 11px;
    right: 35px;
}
.i-webcrt{
background: url(/manage/images/guide.png) no-repeat 0 0;
    background-position: 0px;
}
.i-timeset{
	background: url(/manage/images/guide.png) no-repeat 0 0;
    background-position: -15px;
}
.i-netset{
	background: url(/manage/images/guide.png) no-repeat 0 0;
    background-position: -30px;
}
.i-timeout{
	background: url(/manage/images/guide.png) no-repeat 0 0;
    background-position: -45px;
}
.i-download{
	background: url(/manage/images/guide.png) no-repeat 0 0;
    background-position: -60px;
}
.secnav ul li{  
	line-height: 38px;
 }
.contain_bottom{
	width: 100%;
}
.bottomCon{
	width: 600px;
	margin: 30px auto;
	padding-left: 302px;
}
.bottomCon_item{
	width: 134px;
	height: 36px;
	border: 1px solid #8d808a;
	border-radius: 18px;
	margin-right: 20px;
	display: block;
	float: left;
	text-align: center;
	line-height: 34px;
	color: #8d808a;
	font-size: 16px;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
}
.bottomCon_item:hover{
	background-color: #8D808A;
	color: #fff;
}
.c-form-host {
	width: 800px;
	min-width: 800px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	background-color: #fff;
	padding: 30px 0 0;
	font-size: 16px;
	box-shadow: rgba(0,0,0,0.1) 0 2px 5px;
}
.c-form-host .form-item {
	float: none;
	width: 100%;
	padding: 20px 0 10px;
}
.c-form-host .form-item .form-tag {
	width: 192px;
}
.c-form-host .form-item {
	width: 100%;
	height: auto;
	padding: 20px 0 10px;
	min-height: 28px;
}
.c-form-host span.ss {
	float: left;
	width: 195px;
	line-height: 28px;
	 position: relative; 
}
.contain_top {
    width: 100%;
    height: 400px;
    position: relative;
}
.topcontent{
	width: 1080px;
	height: 360px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.topcontent ul{
	width: 1080px;height: 360px;
}
.content_item{
	width: 360px;
	height: 180px;
	float: left;
}
.imgbox{
	width: 180px;
	height: 180px;
	display: inline-block;
	margin-left: 90px;
}
</style>
<form action="/bhost/index" method="POST" name="frm">
	<input type="hidden" name="tasktype" id = "tasktype"value = "0"/>
	<input type="hidden" name="a0" value = ""/>
	<input type="hidden" name="se" value = ""/>
	<input type="hidden" name="ha"  value="{{hash}}" />
</form>
<script>
	$('.form-checkbox,.form-radio,.ss input').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
		radioClass: 'iradio_minimal-blue',
		increaseArea: '0' // optional
	});
</script>
<script src="/manage/js/jquery.jedate.min.js"></script>
<link rel="stylesheet" href="/manage/css/jedate.css">
<script>
	$('.filter-select,.select2,.type-select').select2({ minimumResultsForSearch: -1 });
	$('.form-select2').select2();
	//$("input.datepicker").datepick();
</script>

<script>

function next(type){
	$('.c-cont').hide();
	$('.guide_div li').removeClass('active').eq(type-1).addClass('active');	
	$('#mframe').attr("src",'');
	if(type == 1){
		$('#div_webcrt').show();
		showWebCertConfig();
		if_exists_webcrt()
	}else if(type == 2){
		$('#div_timeset').show();
		showTimeConfig();
	}else if(type == 3){
		$('#div_netset').show();	
		$('#mframe').attr("src",'/bhost/export_show?a0={{se}}');
		//$("#mframe").contents().find("div.ctr").remove()
	}else if(type == 4){
		$('#div_timeout').show();
		getTimeOutConf();
	}else{
		$('#div_download').show();
	}
	
}


</script>
<!-- web证书-->
<script>
var ipReg = /^((?:(?:2[0-4][0-9]\.)|(?:25[0-5]\.)|(?:1[0-9][0-9]\.)|(?:[1-9][0-9]\.)|(?:[0-9]\.)){3}(?:(?:2[0-5][0-5])|(?:25[0-5])|(?:1[0-9][0-9])|(?:[1-9][0-9])|(?:[0-9])))$/;
var urlReg=/[a-zA-Z0-9][-a-zA-Z0-9]{0,62}(\.[a-zA-Z0-9][-a-zA-Z0-9]{0,62})+\.?/;
var _if_disable ='2';
var se = '{{se}}';
var is_guide = 1;

$(function(){
	if(IEVersion() == 8){
			loadStyle('/manage/css/ie-css.css');
		}
	
	document.frm.a0.value=se;
	document.frm.se.value=se;
	get_msg();
});
</script>
<!--相关下载-->
<script>
function download_jre_exe(){
	$.ajax({
		url:"/bhost/exist_download_jre_exe",
		type:"POST",
		async:true,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			var result=JSON.parse(result);
			if(result.Result){
				location.href='/bhost/download_jre_exe';    
			}else{
				_alert(2,'向导',result.ErrMsg);
				return false;
			}
		}
	})
}
function download_python_exe(){
	$.ajax({
		url:"/bhost/exist_download_python_exe",
		type:"POST",
		async:true,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			var result=JSON.parse(result);
			if(result.Result){
				location.href='/bhost/download_python_exe';    
			}else{
				_alert(2,'向导',result.ErrMsg);
				return false;
			}
		}
	})
}

function download_ShowPasswd_exe(){
	$.ajax({
		url:"/bhost/exist_download_ShowPasswd_exe",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			var result=JSON.parse(result);
			if(result.Result){
				location.href='/bhost/download_ShowPasswd_exe';    
			}else{
				_alert(2,'向导',result.ErrMsg);
				return false;
			}
		}
	})
}

function finish(){
    document.frm.submit();
}
var t_get_msg;
function get_msg(){
		clearTimeout(t_get_msg);
		var n=0;
		$.ajax({
			url: '/bhost/get_msg',
			type: "post",
			async: true,
			data: {a0:$("input[name=se]").val()},
			success: function(result) {
				var result=JSON.parse(result);
				//console.log('get_msg---------------------------------------------------------');
				if(result.Result == false){
					n = 1;
					if(result.info.indexOf('系统异常')>=0 || result.info.indexOf('非法访问')>=0 || result.info.indexOf('系统超时') >=0 ){
						_alert(2,'系统',result.info);
					}else{
						_alert(2,'系统',result.info);
					}
				}
				else{
					t_get_msg=setTimeout(function(){get_msg();},8000);
				}
				return false;
			},
			error:function(){
				t_get_msg=setTimeout(function(){get_msg();},8000);
			}
		})	
	}
function download_BHostClient_exe(){
	$.ajax({
		url:"/bhost/exist_download_BHostClient_exe",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			var result=JSON.parse(result);
			if(result.Result){
				location.href='/bhost/download_BHostClient_exe';    
			}else{
				_alert(2,'向导',result.ErrMsg);
				return false;
			}
		}
	})
}

</script>
</body>
</html>