
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Logbase运维安全管理系统</title>
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<script src="/manage/js/select2.full.min.js"></script>
	<script src="/manage/js/icheck.min.js"></script>
	<script src="/manage/js/jquery.plugin.js"></script>
	<script src="/manage/js/jquery.datepick.js"></script>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<link rel="stylesheet" href="/manage/css/jquery.datepick.css">
	<script type="text/javascript" src="/manage/js/dialog-plus.js"></script>
	<link rel="stylesheet" href="/manage/css/ui-dialog.css" type="text/css" />
    <link rel="stylesheet" href="/manage/css/new-head.css">
	
<!--
<link rel="stylesheet" href="css/select2.min.css">
-->
<script type="text/javascript" src="/manage/js/dialog-plus.js"></script>
<link rel="stylesheet" href="/manage/css/ui-dialog.css" type="text/css" />
<link rel="stylesheet" href="/manage/css/G-style.css" type="text/css" />
<script src="/manage/js/xSelect.js"></script>
<script src="/manage/js/base64.js"></script>
<script src="/manage/js/my_scrollbar.js"></script>

</head>
<body style="overflow:hidden;" class="bg-white">

<!---->
<div class="mainer">

	<div class="container" id="">
		<div class="c-top" id="step1_top">
			<div class="c-title">
				<div class="secnav guide_div">
					<ul>
						<li style="width:123px;" onclick="next(1);" class="c-webctr active">1. WEB证书<i class="i-webcrt"></i></li>
						<li style="width:123px;" onclick="next(2);" class="c-timeset">2. 时间设置<i class="i-timeset"></i></li>
						<li style="width:123px;" onclick="next(3);" class="c-netset">3. 网络设置<i class="i-netset"></i></li>
						<li style="width:123px;" onclick="next(4);" class="c-timeout">4. 超时设置<i class="i-timeout"></i></li>
						<li style="width:123px;" onclick="next(5);" class="c-download">5. 相关下载<i class="i-download"></i></li>
					</ul>
				</div>

			</div>
		</div>
		<!--WEB证书-->
		<div class="c-cont" id="div_webcrt">
			<div class="contain_top" style="">
				<div class="c-form c-form-host" style="">
					<div class="form">	
						<div class="form-item" >
							<span class="form-tag"><em class="imp">*</em>IP/域名：</span>
							<div id="ip_n_webcrt" name='ip_n_webcrt' class="form-c" style="float:left;width: 578px;padding-left: 10px;">
								<span class='ss ss-add'>
									<input style="width:150px;padding-right:8px;" name="ip_d_webcrt" id="ip_d_webcrt" type="text" class="form-text" placeholder="" value="">
									<i class="ctr ctr-add" onclick="_addIpWebcrt(this)" style="margin-top: 9px;    margin-left: 3px;"></i>
								</span>
							</div>
							
						</div>
					</div>
				</div>
			</div>	
			
			<div class="clearfix"></div>
			<div class="btns">
				<a href="javascript:;" class="btn btn-normal" onclick="creat_webcrt();">证书生成</a>
				<a href="javascript:;" class="btn btn-normal" id="webcrt_download" style="display:none;" onclick="location.href='/bhost/download_crt';">证书下载</a>
				<a href="javascript:;" class="btn btn-normal" id="webcrt_next" onclick="next(2);">下一步</a>
			</div>
		</div>
		<!--时间设置-->
		<div class="c-cont" id="div_timeset" style="display:none;">
			<div class="c-form" style="padding-bottom:10px;">
				<div class="form">	
					<div class="form-item" >
						<span class="form-tag"><em class="imp">*</em>系统时间：</span>
						<div class="form-c form-c1">
							<div class="srSort" id="srTemp-xtime" style="">
									<span class="stwrap">
									<input type="text" id="t_d" value="" placeholder="日期" class="datepicker" readonly>
									<input type="text" id="t_h" placeholder="时" class="timeinput" min="00" max="23" value="00">
									<span class="srTip">:</span>
									<input type="text" id="t_m" placeholder="分" class="timeinput" min="00" max="59" value="00">
									<span class="srTip">:</span>
									<input type="text" id="t_s" placeholder="秒" class="timeinput" min="00" max="59" value="00">
								</span>
							</div>
							<a href="javascript:;" style="margin-left: 6px;height: 26px;border-color: #AAA;" class="form-button s-hide"  id="Time_button" name="Time_button" onclick="update_time();">修改</a>
						</div>
					</div>
				</div>
				<div class="form-item" style="padding-top:10px">
					<span class="form-tag">启用：</span>
					<div class="form-c">
						<label class="form-label" style="margin-top: 4px;"><input class="form-checkbox" type="checkbox" name="Enabled" id="Enabled"></label>
					</div>
				</div>
			</div>
			<div class="c-form c-form-host"style="width:780px;min-width:780px;padding-top:0px;display:none;" id="NTPServer" name="NTPServer">
				<div class="form">
					<div class="form-item form-item-100 " style="width:900px;font-size:16px;">
						<span class="form-tag"style="width:192px;" ><em class="imp">*</em>NTP服务器地址：</span>
						<div id="ip_n" name="ip_n" class="form-c"style="padding-left:10px;height: auto;overflow-y:hidden;width:auto;max-width:390px;float: left;">
							<span class="ss ss-add">
								<input id="ipInput" type="text" style="width:134px;" class="form-text" onkeyup="/*showMsg*/">
								<i class="ctr ctr-add" onclick="_addIp(this)" style="margin-left: 5px;    margin-top: 9px;"></i>
							</span>
						</div>
						<a href="javascript:;" style="margin-left:3px;margin-top: 2px;float: left;height: 26px;border-color: #AAA;" class="form-button s-hide"  id="updatetime_button" name="updatetime_button" onclick="updatetime_button();">同步</a>
					</div>
				</div>
			</div>
			<div class="c-form">
				<div class="clearfix"></div>
				<div class="btns">	
					<a href="javascript:;" class="btn btn-normal" onclick="next(1);">上一步</a>
					<a href="javascript:;" class="btn btn-normal" onclick="time_add();">保&nbsp;&nbsp;存</a>
					<a href="javascript:;" class="btn btn-normal" onclick="next(3);">下一步</a>
				</div>
			</div>
		</div>
		<!--网络设置-->
		<div class="c-cont" id="div_netset" style="display:none;">
			<iframe src="" width="100%" height="100%" frameborder="0" name="mframe" id="mframe"></iframe>
			<div class="clearfix"></div>
			<div class="btns">	
				<a href="javascript:;" class="btn btn-normal" onclick="next(2);">上一步</a>
				<a href="javascript:;" class="btn btn-normal" onclick="next(4);">下一步</a>
			</div>
		</div>
		
		<!--超时设置-->
		<div class="c-cont" id="div_timeout" style="display:none;">
			<div class="c-form" style="padding-bottom:10px;">
				<div class="form">	
					<div class="form-item" >
						<span class="form-tag"><em class="imp">*</em>WEB超时：</span>
						<div class="form-c">
							<input type="text" class="form-text" id="web_t" name="web_t" onkeyup="" onblur="dataCheck(this, 600, 86400);" onfocus="this.select()"  maxlength="6">
							<p class="form-tip">时间设置范围：600-86400（秒）</p>
						</div>
					</div>
					<div class="form-item" >
						<span class="form-tag"><em class="imp">*</em>客户端超时：</span>
						<div class="form-c">
							<input type="text" class="form-text" id="client_t" name="client_t" onkeyup="" onblur="dataCheck(this, 600, 86400);" onfocus="this.select()" maxlength="6">
							<p class="form-tip">时间设置范围：600-86400（秒）</p>
						</div>
					</div>
				</div>
				<div class="c-form">
					<div class="clearfix"></div>
					<div class="btns">	
						<a href="javascript:;" class="btn btn-normal" onclick="next(3);">上一步</a>
						<a href="javascript:;" class="btn btn-normal" onclick="time_out_add();">保&nbsp;&nbsp;存</a>
						<a href="javascript:;" class="btn btn-normal" onclick="next(5);">下一步</a>
					</div>
				</div>
			</div>
		</div>	
		
		<!--相关下载-->
		<div class="c-cont" id="div_download" style="display:none">
			<div class="contain_top">
				<div class="topcontent" style="    margin-top: 200px;">
					<ul>
						<li class="content_item" style="display: none;">
							<a href="" class="imgbox"></a>
						</li>
						<li class="content_item" style="display: none;">
							<a href="" class="imgbox"></a>
						</li>
						<li class="content_item" style="display: none;">
							<a href="" class="imgbox"></a>
						</li>
						<li class="content_item">
							<a onclick="download_jre_exe();" style="cursor: pointer;" class="imgbox"></a>
						</li>
						<li class="content_item" style="display: none;">
							<a href="" class="imgbox"></a>
						</li>
						<li class="content_item" style="display: none;">
								<a class="imgbox" style="cursor: pointer;" onclick="download_python_exe();"></a>
						</li>
						<li class="content_item" style="">
							<a class="imgbox" style="cursor: pointer;" onclick="download_ShowPasswd_exe();"></a>
						</li>
						<li class="content_item">
                            <a onclick="download_BHostClient_exe();" class="imgbox" style="cursor: pointer;"></a>
                        </li>
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="btns">	
				<a href="javascript:;" class="btn btn-normal" onclick="next(3);">上一步</a>
				<a href="javascript:;" class="btn btn-normal" onclick="finish();">完成配置</a>
			</div>
		</div>
		
	</div>
</div>
<!-- webcrt style-->
<style>
.guide_div i{
	display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    overflow: hidden;
	top: 11px;
    right: 35px;
}
.i-webcrt{
background: url(/manage/images/guide.png) no-repeat 0 0;
    background-position: 0px;
}
.i-timeset{
	background: url(/manage/images/guide.png) no-repeat 0 0;
    background-position: -15px;
}
.i-netset{
	background: url(/manage/images/guide.png) no-repeat 0 0;
    background-position: -30px;
}
.i-timeout{
	background: url(/manage/images/guide.png) no-repeat 0 0;
    background-position: -45px;
}
.i-download{
	background: url(/manage/images/guide.png) no-repeat 0 0;
    background-position: -60px;
}
.secnav ul li{  
	line-height: 38px;
 }
.contain_bottom{
	width: 100%;
}
.bottomCon{
	width: 600px;
	margin: 30px auto;
	padding-left: 302px;
}
.bottomCon_item{
	width: 134px;
	height: 36px;
	border: 1px solid #8d808a;
	border-radius: 18px;
	margin-right: 20px;
	display: block;
	float: left;
	text-align: center;
	line-height: 34px;
	color: #8d808a;
	font-size: 16px;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
}
.bottomCon_item:hover{
	background-color: #8D808A;
	color: #fff;
}
.c-form-host {
	width: 800px;
	min-width: 800px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	background-color: #fff;
	padding: 30px 0 0;
	font-size: 16px;
	box-shadow: rgba(0,0,0,0.1) 0 2px 5px;
}
.c-form-host .form-item {
	float: none;
	width: 100%;
	padding: 20px 0 10px;
}
.c-form-host .form-item .form-tag {
	width: 192px;
}
.c-form-host .form-item {
	width: 100%;
	height: auto;
	padding: 20px 0 10px;
	min-height: 28px;
}
.c-form-host span.ss {
	float: left;
	width: 195px;
	line-height: 28px;
	 position: relative; 
}
.contain_top {
    width: 100%;
    height: 400px;
    position: relative;
}
.topcontent{
	width: 1080px;
	height: 360px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.topcontent ul{
	width: 1080px;height: 360px;
}
.content_item{
	width: 360px;
	height: 180px;
	float: left;
}
.imgbox{
	width: 180px;
	height: 180px;
	display: inline-block;
	margin-left: 90px;
}
</style>
<form action="/bhost/index" method="POST" name="frm">
	<input type="hidden" name="tasktype" id = "tasktype"value = ""/>
	<input type="hidden" name="a0" value = ""/>
	<input type="hidden" name="se" value = ""/>
</form>
<form action="/bhost/time_handle" method="POST" name="frm_time_add">
	<input type="hidden" name="se" id = "" value="" />
</form>
<script>
	$('.form-checkbox,.form-radio,.ss input').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
		radioClass: 'iradio_minimal-blue',
		increaseArea: '0' // optional
	});
</script>
<script src="/manage/js/jquery.jedate.min.js"></script>
<link rel="stylesheet" href="/manage/css/jedate.css">
<script>
	$('.filter-select,.select2,.type-select').select2({ minimumResultsForSearch: -1 });
	$('.form-select2').select2();
	//$("input.datepicker").datepick();
</script>

<script>

function next(type){
	$('.c-cont').hide();
	$('.guide_div li').removeClass('active').eq(type-1).addClass('active');	
	$('#mframe').attr("src",'');
	if(type == 1){
		$('#div_webcrt').show();
		showWebCertConfig();
		if_exists_webcrt()
	}else if(type == 2){
		$('#div_timeset').show();
		showTimeConfig();
	}else if(type == 3){
		$('#div_netset').show();	
		$('#mframe').attr("src",'/bhost/export_show?a0={{se}}');
		//$("#mframe").contents().find("div.ctr").remove()
	}else if(type == 4){
		$('#div_timeout').show();
		getTimeOutConf();
	}else{
		$('#div_download').show();
	}
	
}


</script>
<!-- web证书-->
<script>
var ipReg = /^((?:(?:2[0-4][0-9]\.)|(?:25[0-5]\.)|(?:1[0-9][0-9]\.)|(?:[1-9][0-9]\.)|(?:[0-9]\.)){3}(?:(?:2[0-5][0-5])|(?:25[0-5])|(?:1[0-9][0-9])|(?:[1-9][0-9])|(?:[0-9])))$/;
var urlReg=/[a-zA-Z0-9][-a-zA-Z0-9]{0,62}(\.[a-zA-Z0-9][-a-zA-Z0-9]{0,62})+\.?/;
var _if_disable ='2';
var se = '{{se}}';
var is_guide = 1;

$(function(){
	
	document.frm.a0.value=se;
	document.frm.se.value=se;
	if_exists_webcrt();
	showWebCertConfig();
	get_msg();
});
function reload(){
	$("#mframe").attr('src',$("#mframe").attr('src'));		
}
function _switchBtn(){

}
function if_exists_webcrt(){
	//判断证书是否存在
	var n = false;
	$.ajax({
		url:"/bhost/if_exists_webcrt",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			var result=JSON.parse(result);
			if(result.info == true){
				$('#webcrt_download').show();
				$('#webcrt_next').show();
				n = true;
				return true; 
			}else{
				$('#webcrt_download').hide();
				$('#webcrt_next').hide();
				return false;
			}
		}
	})
	return n;
}
//加入IP/域名
function _addIpWebcrt(obj){
	var pass =1;
	var v = $(obj).prev('input').val().trim();
	if($(">span[class='ss']","#ip_n_webcrt").length >=6){
		_alert(2,'证书生成','IP/域名不能超过6个');
		return false;
	}
	if(v==''){
		_alert(2,'证书生成','请输入IP/域名',$(obj).prev('input'));
		//$(obj).prev('input').val("");
		return false;
	}else if(!ipReg.test(v) && !urlReg.test(v)){
		_alert(1,'证书生成','IP/域名格式不正确',$(obj).prev('input'));
		//$(obj).prev('input').val("");
		return false;
	}else{
		$(">span[class='ss']","#ip_n_webcrt").each(function(){
			ip_str=$(this).find("input").val();
			if (ip_str==v){
				_alert(2,'证书生成','IP/域名重复',$(obj).prev('input'));
				pass=0;
				return false;
			}
		});
	}
	if(pass==1){
		var $c = $('<span class="ss"  style="padding: 0 0 10px 0;"/>');
		$c.html('<input type="text" class="form-text form-text2" value="'+v+'" disabled="true" style="width:150px;padding-right:8px;"><i class="ctr ctr-del" style="margin-top: 6px;margin-left: -5px;" onclick="_delIp(this)"></i>');
		$(obj).parent().after($c);
		$(obj).prev('input').val("");
		$(obj).prev('input').focus();
	}
}
//删除IP/域名
function _delIp(obj){
	var $c = $(obj).parent();
	$c.fadeOut(function(){
		$c.remove();
	});
}
function createIPTag(ipAddr){
	var contentBuf = [];
	contentBuf.push('<span class="ss" style="padding: 0 0 10px 0;">');
	contentBuf.push('<input type="text" style="width:134px;" class="form-text" value="' + ipAddr + '">');
	contentBuf.push('<i class="ctr ctr-del" onclick="_delIp(this)" style="margin-top: 5px;margin-left: -3px;"></i>');
	contentBuf.push('</span>');
	return contentBuf.join('');
}
function showWebCertConfig() {
	$.ajax({
		url: "/bhost/get_web_cert_config",
		type:"POST",
		async:false,
		data:{a0:$("input[name=a0]").val()},
		success:function(result){
			var web_result = JSON.parse(result);
			if (web_result.Result==true){
				ServerIP = web_result.ServerIP;
				var inputArea = $("#ip_n_webcrt").find("span[class='ss ss-add']");
				if (ServerIP != ''){
					var time_data_ip = ServerIP.split(" ");
					$.each(time_data_ip,function(i,item){
						if(i!=time_data_ip.length-1){
							inputArea.after( createIPTag(item));
						}else{
							$('#ip_d_webcrt').val(item);
						}
						
					});					
				}
			}else{
				_alert(1,'证书生成',web_result.ErrMsg);
				return false;
			}
		}
	});
}
function creat_webcrt(){
	$('#webcrt_download').hide();
	$('#webcrt_next').hide();
	
	var input_str = $("#ip_d_webcrt").val().trim();
	var ipBuf = [];
	var $all = $('#ip_n_webcrt').find('span[class=ss]');
	var len = $all.length;
	if (input_str != "") {
		if(len >=6){
			_alert(2,'证书生成','IP/域名不能超过6个');
			return false;
		}
		if( !ipReg.test(input_str) && !urlReg.test(input_strs)){
			_alert( 2,'证书生成','IP/域名格式不正确',$("#ipInput"));
			return false;	
		}
		ipBuf.push(input_str);
	} else if (len == 0) {
		_alert(2,'证书生成',"请输入IP/域名",$("#ipInput"));
		return false;		
	}

	for (var i = 0; i < len; ++i) {
		var inputBox = $all.eq(i).find("input");
		var ip_str = inputBox.val();
		if ( !ipReg.test(ip_str) && !urlReg.test(ip_str)){
			inputBox.val('').val(ip_str);
			_alert(2,'证书生成','IP/域名格式不正确',inputBox);
			_closeLoading();
			return false;
		}				
		if (ip_str == input_str ){
			$("#ipInput").val('').val(input_str);
			_alert(2,'证书生成','IP/域名重复',$("#ipInput"));
			_closeLoading();
			return false;
		}
		if ( ipBuf.indexOf(ip_str) != -1) {
			inputBox.val('').val(ip_str);
			_alert(2,'证书生成','IP/域名重复',inputBox);
			_closeLoading();
			return false;
		}
		ipBuf.push(ip_str);		
	}
	ipBuf.reverse();
	//console.log(ipBuf)
	oper ='生成证书：（IP/域名：'+ipBuf+'）'
	
	$.ajax({
		url: '/bhost/add_webcrt',
		type: "POST",
		async:false,
		data: {a0:$("input[name=a0]").val(),a1:ipBuf.join(' '),o1:oper,is:1},
		success: function(result) {
			var result = JSON.parse(result);
			if(result.Result == true){
				$('.btn').blur();
				parent.layer.open({
					type:1,
					title: '证书生成',
					content: '<div class="layer-alert"><i class="alert succ"></i>生成成功</div>',
					btn:['确&nbsp;&nbsp;定'],
					btnAlign:'c',
					closeBtn: false,
					skin:'layer-custom',
					area:['380px','310px'],
					move: false,
					resize: false,
					yes:function(i){
						parent.layer.close(i);
						
						var count =0;
						var if_ok = setInterval(function(){
							if (count>30){    //超时
								clearInterval(if_ok);
								_alert(1,'向导',"获取证书超时")
								return false;
							}
							count = count + 1;
							ret = if_exists_webcrt();
							if(ret){
								clearInterval(if_ok);
								return false;
							}
						},2000);	
					}
				});	
			}else{
				_alert(1,'生成证书',result.ErrMsg);
				return false;
			}
		}
	});
	
}
</script>

<!--时间设置-->
<script>
//"时间设置"的数据结构
var time={
   "TimeConfigId": 1,   
   "Enabled": true,
   "NTPServerIP": "192.168.0.43"
};

//正则表达式，用来检验一个IP地址是否合法
var ipReg = /^((?:(?:2[0-4][0-9]\.)|(?:25[0-5]\.)|(?:1[0-9][0-9]\.)|(?:[1-9][0-9]\.)|(?:[0-9]\.)){3}(?:(?:2[0-5][0-5])|(?:25[0-5])|(?:1[0-9][0-9])|(?:[1-9][0-9])|(?:[0-9])))$/;
$(function(){
	$(document).on('keydown','input.timeinput',function(){
        var i = $(this).index();        
        var v = $(this).val();
        v = v.replace(/[^\d]/g,'');
        $(this).val(v);
    }).on('keyup','input.timeinput',function(e){
        var i = $(this).index();
        var v = $(this).val();    
        var max = 23;
        if(i>1){
            max = 59;
        }

        if(v > max){
            v = max;
        }

        $(this).val(v);

        v = v.toString();
        if(v.length >= 2){
            $(this).val(v.substring(0,2));

            var keycode = e.keyCode;
            if(keycode != 9){
                $(this).next().next().focus();
            }
        }
    }).on('focus','input.timeinput',function(){
        $(this).select();
    }).on('blur','input.timeinput',function(){
        var v = $(this).val();
        v = v.toString();

        if(v == ''){
            v = '00';
        }else if(v.length == 1){
            v = '0' + v;
        }

        $(this).val(v);
	});
	document.frm_time_add.se.value=se;
	$('#NTPServer').hide();	
	//输入数字
	$("#t_h,#t_m,#t_s").on('keydown', function(e){
		DigitInput(e);
	})
	.on('input propertychange', function(){
		this.value = this.value.replace(/\D/g, "").trim();
	});
	//NTF服务器的显示隐藏
	$('#Enabled').on("ifChecked",function(e){
		$('#NTPServer').show();
	})
	.on("ifUnchecked",function(e){
		$('#NTPServer').hide();	
	});
});
function updatetime_button() {
	_showLoading();
	var input_str = $("#ipInput").val().trim();
	var ipBuf = [];
	var $all = $('#ip_n').find('span[class=ss]');
	var len = $all.length;
	if (input_str != "") {
		if( wrongIPFormat(input_str)){
			_alert( 1,'时间设置','NTP服务器地址格式不正确',$("#ipInput"));
			_closeLoading();
			return false;	
		}
		ipBuf.push(input_str);
	} else if (len == 0) {
		_alert(2,'时间设置',"请输入NTP服务器地址",$("#ipInput"));
		_closeLoading();
		return false;		
	}
	for (var i = 0; i < len; ++i) {
		var inputBox = $all.eq(i).find("input");
		var ip_str = inputBox.val();
		if ( wrongIPFormat(ip_str)){
			inputBox.val('').val(ip_str);
			_alert(1,'时间设置','NTP服务器地址格式不正确',inputBox);
			_closeLoading();
			return false;
		}				
		if (ip_str == input_str ){
			$("#ipInput").val('').val(input_str);
			_alert(2,'时间设置','NTP服务器地址重复',$("#ipInput"));
			_closeLoading();
			return false;
		}
		if ( ipBuf.indexOf(ip_str) != -1) {
			inputBox.val('').val(ip_str);
			_alert(2,'时间设置','NTP服务器地址重复',inputBox);
			_closeLoading();
			return false;
		}
		ipBuf.push(ip_str);		
	}
	ipBuf.reverse();
	oper ='同步时间：（NTP服务器地址:'+ipBuf.join(';')+'）'
	$.ajax({
		url: "/bhost/update_ntp_time",
		type:"POST",
		async:true,
		data:{se:$("input[name=se]").val(),a1:ipBuf.join(';'),o1:oper},
		success:function(result){
			var time_result = JSON.parse(result);
			if (time_result.Result){
				setTimeout(function () {
					_closeLoading();
					$('.btn').blur();
					parent.layer.open({
						type:1,
						title: '系统时间',
						content: '<div class="layer-alert"><i class="alert succ"></i>同步成功</div>',
						btn:['确&nbsp;&nbsp;定'],
						btnAlign:'c',
						closeBtn: false,
						skin:'layer-custom',
						area:['380px','310px'],
						move: false,
						resize: false,
						yes:function(i){
							$.ajax({
								url: "/bhost/get_time_config",
								type:"POST",
								async:false,
								data:{se:$("input[name=se]").val()},
								success:function(result){
									var result=JSON.parse(result);
									if(result.Result){
										var time_str=result.time.split(" ");
										$('#t_d').val(time_str[0]);
										var h_m_s=time_str[1].split(':');
										$('#t_h').val(h_m_s[0]);
										$('#t_m').val(h_m_s[1]);
										$('#t_s').val(h_m_s[2]);
									}else{
									}
								}
							});
							parent.layer.close(i);
						}
					});
				},5000);	
			}else{
				_alert(0,'系统时间',time_result.ErrMsg);
				_closeLoading();
			}
		}
	});
	
}

function showTimeConfig() {
	$.ajax({
		url: "/bhost/get_time_config",
		type:"POST",
		async:true,
		data:{se:$("input[name=se]").val()},
		success:function(result){
			var time_result = JSON.parse(result);
			if (time_result.Result==true){
				var time_data = time_result.info;
				time.TimeConfigId = time_data.TimeConfigId;
				time.Enabled = time_data.Enabled;
				time.NTPServerIP = time_data.NTPServerIP;
				var now = new Date();
				var setDate = {
					year: now.getFullYear(),
					month: now.getMonth() + 1,
					day: now.getDate()
				}
				var time_str=time_result.time.split(" ");
				$('#t_d').val(time_str[0]);
				var h_m_s=time_str[1].split(':');
				$('#t_h').val(h_m_s[0]);
				$('#t_m').val(h_m_s[1]);
				$('#t_s').val(h_m_s[2]);
				$('#t_d').jeDate({
					format:"YYYY-MM-DD",
					isTime:true,
					// maxDate:9999 + "-" + 99 + "-" + 99
				});
				var inputArea = $("#ip_n").find("span[class='ss ss-add']");
				if (time_data.NTPServerIP != null){
					var time_data_ip = time_data.NTPServerIP.split(";");
					$.each(time_data_ip,function(i,item){
						if(i!=time_data_ip.length-1){
							inputArea.after( createIPTag(item));
						}else{
							$('#ipInput').val(item);
						}
						
					});					
				}
				$('#Enabled').iCheck( time_data.Enabled ? 'check' : 'uncheck');
			}else{
				_alert(1,'时间设置',time_result.ErrMsg);
				return false;
			}
		}
	});
}

//检查格式
function dataCheck(obj, min, max){//min can not bigger than 1
	obj.value = obj.value.replace(/\D/g, "");
	if(min){
		if(parseInt(obj.value, 10) < parseInt(min, 10)) obj.value = min;
	}
	if(max){
		if(parseInt(obj.value, 10) > parseInt(max, 10)) obj.value = max;
	}
}
//修改时间
function update_time(){
	var t_d=$('#t_d').val();
	var t_h=$('#t_h').val();
	var t_m=$('#t_m').val();
	var t_s=$('#t_s').val();
	var Time=t_d+' '+t_h+':'+t_m+':'+t_s;
	//console.log(Time);
	msstr = aceg(JSON.stringify(Time),$("input[name=se]").val());
	$.ajax({
		url: '/bhost/update_server_time',
		type: 'POST',
		async:false,
		data:{a0:$("input[name=se]").val(),a1:Time,m1:msstr},
		success: function(result) {
			result=JSON.parse(result);
			if (result.Result == true){
				_alert(2,"系统时间",result.info);
			}else{
				_alert(1,"系统时间",result.ErrMsg);
			}
		}
	});
};

function save_time(){
	if(time.Enabled == true) Enabled = "启用"
	else Enabled = '停用'
	oper ='保存系统时间：（'+Enabled+'，NTP服务器地址：'+time.NTPServerIP+'）'
	msstr = aceg(JSON.stringify(time),$("input[name=se]").val());
	$.ajax({
		url: '/bhost/add_timeconfig',
		type: "POST",
		async:true,
		data: {a0:$("input[name=se]").val(),a1:JSON.stringify(time),o1:oper,m1:msstr},
		success: function(result) {
			var result = JSON.parse(result);
			if(result.Result == true){
				$('.btn').blur();
				parent.layer.open({
					type:1,
					title: '时间设置',
					content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
					btn:['确&nbsp;&nbsp;定'],
					btnAlign:'c',
					closeBtn: false,
					skin:'layer-custom',
					area:['380px','310px'],
					move: false,
					resize: false,
					yes:function(i){
						parent.layer.close(i);
					}
				});	
			}else{
				_alert(1,'时间设置',result.ErrMsg);
				return false;
			}
		}
	});
};
//添加零
function add_zero(obj){
	$(obj).trigger("keyup");
//	obj.value = obj.value.replace(/\D/g, "");
	var v = obj.value.trim();
	if(v == ""){
		v = '00';
	} else {
		v=parseInt(v);
		if(v <= 0){
			v = '00';	
		}else if(v >= 1 && v <= 9){
			v = '0'+v;
		}
	}
	obj.value = v;
}
//删除服务器地址
function _delIp(obj){
	var $c = $(obj).parent();
	$c.fadeOut(function(){
		$c.remove();
	});
}

function wrongIPFormat(ipStr) {
	if ( !ipReg.test(ipStr)) {
		return true;
	}
	return ipStr == "0.0.0.0" || ipStr == "255.255.255.255";
}

//加入服务器地址
function _addIp(obj){
	var isUnique = true;
	var inputVal = $("#ipInput").val().trim();

	if(inputVal == ''){
		_alert(2,'时间设置','请输入NTP服务器地址',$("#ipInput"));
		$("#ipInput").val("");
		return false;
	}else if( wrongIPFormat(inputVal)){
		_alert(1,'时间设置','NTP服务器地址格式不正确',$("#ipInput"));
		return false;
	}else{
		$("#ip_n>span[class='ss']").each(function(){
			var ip_str = $(this).find("input").val();
			if (ip_str == inputVal){
				_alert(2,'时间设置','NTP服务器地址重复',$("#ipInput"));
				isUnique = false;
				return false;
			}
		});
	}
	if(isUnique){
		$(obj).parent().after( createIPTag(inputVal));
		$("#ipInput").val("");
		$("#ipInput").focus();
	}
}

function createIPTag(ipAddr){
	var contentBuf = [];
	contentBuf.push('<span class="ss">');
	contentBuf.push('<input type="text" style="width:134px;" class="form-text" value="' + ipAddr + '">');
	contentBuf.push('<i class="ctr ctr-del" onclick="_delIp(this)" style="margin-top: 5px;margin-left: -3px;"></i>');
	contentBuf.push('</span>');
	return contentBuf.join('');
}

//创建
function time_add(){
	var input_str = $("#ipInput").val().trim();
	var ipBuf = [];
	if($('#Enabled').is(':checked')){
		var $all = $('#ip_n').find('span[class=ss]');
		var len = $all.length;
		if (input_str != "") {
			if( wrongIPFormat(input_str)){
				_alert( 1,'时间设置','NTP服务器地址格式不正确',$("#ipInput"));
				return false;	
			}
			ipBuf.push(input_str);
		} else if (len == 0) {
			_alert(2,'时间设置',"请输入NTP服务器地址",$("#ipInput"));
			return false;		
		}
		for (var i = 0; i < len; ++i) {
			var inputBox = $all.eq(i).find("input");
			var ip_str = inputBox.val();
			if ( wrongIPFormat(ip_str)){
				inputBox.val('').val(ip_str);
				_alert(1,'时间设置','NTP服务器地址格式不正确',inputBox);
				return false;
			}				
			if (ip_str == input_str ){
				$("#ipInput").val('').val(input_str);
				_alert(2,'时间设置','NTP服务器地址重复',$("#ipInput"));
				return false;
			}
			if ( ipBuf.indexOf(ip_str) != -1) {
				inputBox.val('').val(ip_str);
				_alert(2,'时间设置','NTP服务器地址重复',inputBox);
				return false;
			}
			ipBuf.push(ip_str);		
		}
		ipBuf.reverse();
	}
	time.Enabled=$('#Enabled').is(':checked');
	time.NTPServerIP = ipBuf.join(';') || null;
	save_time();
}
</script>

<!--超时设置-->
<script>
var time_out={
	"TimeOutConfigId": 0,
    "PageTimeOut": 600,
    "ClientTimeOut": 600
}
var min_t=600;
var max_t=86400;
var se='{{se}}';
$(function(){
	//输入数字
	$("#web_t,#client_t").bind('keydown', function(e){
		DigitInput(e);
	});
	
});
function getTimeOutConf(){
	$.ajax({
		url: "/bhost/get_time_out",
		type:"POST",
		async:true,
		data:{a0:se},
		success:function(result){
			var time_out_result = JSON.parse(result);
			if(time_out_result.Result==true){
				var time_out_data = time_out_result.info;
				time_out.TimeOutConfigId=time_out_data.TimeOutConfigId;
				$("#web_t").val(time_out_data.PageTimeOut);
				$("#client_t").val(time_out_data.ClientTimeOut);
			}else{
				_alert(1,"超时设置",result.ErrMsg);
				return false;
			}	
		}
	});
}
//检查格式
function dataCheck(obj, min, max) {//min can not bigger than 1
	obj.value = obj.value.replace(/\D/g, "");
	if(obj.value==''){
		obj.value=min;
	}
	obj.value = parseInt(obj.value);
	if (min) {
		if (parseInt(obj.value, 10) < parseInt(min, 10)) obj.value = min;
	}
	if (max) {
		if (parseInt(obj.value, 10) > parseInt(max, 10)) obj.value = max;
	}
}
//创建or 编辑
function time_out_add(){
	var web_t = $("#web_t").val();
	var client_t = $("#client_t").val();
	var oper ="保存超时设置：（";
	if(web_t==""){
		_alert(2,"超时设置","请输入页面超时设置",$("#web_t"));
		return false;
	}
	if(client_t==""){
		_alert(2,"超时设置","请输入客户端超时设置",$("#client_t"));
		return false;
	}
	if(min_t){
		if(parseInt(web_t, 10) < parseInt(min_t, 10)) {
			_alert(1,"超时设置","超时设置不能小于"+min_t+"",$("#web_t"));
			$("#web_t").val("");
			return false;
		}
		if(parseInt(client_t, 10) < parseInt(min_t, 10)) {
			_alert(1,"超时设置","超时设置不能小于"+min_t+"",$("#client_t"));
			$("#client_t").val("");
			return false;
		}
	}
	if(max_t){
		if(parseInt(web_t, 10) > parseInt(max_t, 10)){
			_alert(1,"超时设置","超时设置不能大于"+max_t+"",$("#web_t"));
			return false;
		}
		if(parseInt(client_t, 10) > parseInt(max_t, 10)){
			_alert(1,"超时设置","超时设置不能大于"+max_t+"",$("#client_t"));
			return false;
		}
	}
	
	oper +="页面超时设置：" +web_t +"，客户端超时设置："+client_t+"）";
	
	time_out.PageTimeOut=parseInt(web_t);
	time_out.ClientTimeOut=parseInt(client_t);
	msstr = aceg(JSON.stringify(time_out),se);
	
	$.ajax({
		url: '/bhost/add_time_out',
		type: "POST",
		async:true,
		data: {a0:se,a1:JSON.stringify(time_out),o1:oper,m1:msstr},
		success: function(result) {
			var result = JSON.parse(result);
			if(result.Result == true){
				$('.btn').blur();parent.layer.open({
					type:1,
					title: '超时设置',
					content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
					btn:['确&nbsp;&nbsp;定'],
					btnAlign:'c',
					closeBtn: false,
					skin:'layer-custom',
					area:['380px','310px'],
					move: false,
					resize: false,
					yes:function(i){
						$('.btn').blur();parent.layer.close(i);
					}
				});	
				}else{
					_alert(1,"超时设置",result.ErrMsg);
					return false;
				}
			}
		});
}

</script>

<!--相关下载-->
<script>
function download_jre_exe(){
	$.ajax({
		url:"/bhost/exist_download_jre_exe",
		type:"POST",
		async:true,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			var result=JSON.parse(result);
			if(result.Result){
				location.href='/bhost/download_jre_exe';    
			}else{
				_alert(2,'相关下载',result.ErrMsg);
				return false;
			}
		}
	})
}
function download_python_exe(){
	$.ajax({
		url:"/bhost/exist_download_python_exe",
		type:"POST",
		async:true,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			var result=JSON.parse(result);
			if(result.Result){
				location.href='/bhost/download_python_exe';    
			}else{
				_alert(2,'相关下载',result.ErrMsg);
				return false;
			}
		}
	})
}

function download_ShowPasswd_exe(){
	$.ajax({
		url:"/bhost/exist_download_ShowPasswd_exe",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			var result=JSON.parse(result);
			if(result.Result){
				location.href='/bhost/download_ShowPasswd_exe';    
			}else{
				_alert(2,'相关下载',result.ErrMsg);
				return false;
			}
		}
	})
}

function finish(){
	//下发 web服务器 重启
	
	//生成用户根证书
	$.ajax({
		url:"/bhost/set_user_crt",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
		}
	})
	
	$.ajax({
		url:"/bhost/restart_web",
		type:"POST",
		async:true,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			var result=JSON.parse(result);
			if(result.Result){
				_alert(0,'向导',"正在重启WEB服务，请稍候"); 
			}else{
				_alert(2,'向导',result.ErrMsg);
				return false;
			}
		}
	})
}
var t_get_msg;
function get_msg(){
		clearTimeout(t_get_msg);
		var n=0;
		$.ajax({
			url: '/bhost/get_msg',
			type: "post",
			async: true,
			data: {a0:$("input[name=se]").val()},
			success: function(result) {
				var result=JSON.parse(result);
				//console.log('get_msg---------------------------------------------------------');
				if(result.Result == false){
					n = 1;
					if(result.info.indexOf('系统异常')>=0 || result.info.indexOf('非法访问')>=0 || result.info.indexOf('系统超时') >=0 ){
						_alert(2,'系统',result.info);
					}else{
						_alert(2,'系统',result.info);
					}
				}
				else{
					t_get_msg=setTimeout(function(){get_msg();},8000);
				}
				return false;
			},
			error:function(){
				t_get_msg=setTimeout(function(){get_msg();},8000);
			}
		})	
	}
function download_BHostClient_exe(){
	$.ajax({
		url:"/bhost/exist_download_BHostClient_exe",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val()},
		success:function(result){
			var result=JSON.parse(result);
			if(result.Result){
				location.href='/bhost/download_BHostClient_exe';    
			}else{
				_alert(2,'向导',result.ErrMsg);
				return false;
			}
		}
	})
}

</script>
</body>
</html>