{% extends  "index.html" %}
{% block head %}
    <link rel="stylesheet" href="/manage/css/new-head.css">	
	
{% endblock  %}
<!-- 继承 html-->
{% block main %}
	<div class="mainer">
		<div class="container">
			<div class="c-top">
				<div class="c-title">
					<div class="manual-head" style="float:left;width:100px">
						<div class="manual-title" onclick="location.reload();" >
							 <span id="">历史任务</span>
							 <i class="history_task_icon"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="c-cont">
				<div class="c-wrap">
				<div class="c-table">
					<div class="tab-t">
						<div class="ctr">
							{% if _power_mode == 2 %}							
							<a href="javascript:;" class="btn btn-default s-hide"  onclick="select_all();;">全选</a>
							<a href="javascript:;" class="btn btn-default s-hide"  onclick="delete_all();" >删除</a>
							{% endif %}
							<a href="javascript:;" class="btn btn-default" onclick="refresh();" >刷新</a>
							<a href="javascript:;" class="btn btn-default" onclick="encode();" >设置</a>
						</div>
					</div>
					<div class="box-table">
						<table cellpadding="0" cellspacing="0" id="search_task_list">
							<thead>
								<tr><th width="60" class="s-hide" ><input type="checkbox" name="" id="check_page" class="form-checkbox"></th>
									<th>检索时间</th>
									<th>日志属性</th>
									<th>任务状态</th>
									<th>总条数</th>
									<th width="128"></th>
								</tr>
							</thead>

							<tbody >
								
							</tbody>
						</table>
					</div>

					<div class="tab-i">
						<div class="il">
							每页显示<span id="page_total">10</span>条 总数<span id = "account_total">0</span>  选中：<span id = "select_total">0</span>
						</div>
						<!--
						<div class="il">
							每页显示
							<select name="">
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="15">15</option>
							</select>
							条 总数：25  选中：0
						</div>-->
						<div class="ipage">
							<a href="javascript:;" class="nav2 begin" onclick="firstpage();"><i></i></a>
							<a href="javascript:;" class="nav prev" onclick="prevpage();"><i></i></a>
							<input type="text" value="{{ task_page }}" id="curpage" onchange="jumppage();">/&nbsp;<span id = "totalpage">1</span>
							<a href="javascript:;" class="nav next" onclick="nextpage();"><i></i></a>
							<a href="javascript:;" class="nav2 end" onclick="lastpage();"><i></i></a>
						</div>
					</div>
				</div>
			</div>
			</div>
			<!--
			<div class="btns">
				<a href="javascript:;" class="btn btn-normal" onclick="parent.location.href='/bhost/index?tasktype=2&se={{se}}';return true;">返&nbsp;&nbsp;回</a>
			</div>-->
		</div>
	</div>
	
	<!-- 设置-->
	<div class="dialog-cont" id="EncodeDialog" style="display:none;">
		<div class="container">
			<div class="c-cont" style="min-height:200px;max-height:200px;overflow:auto;">
				<div class="c-form c-form-host" style="padding: 0 0 90px;min-width: 0px;">
					<div class="clearfix"></div>
					<div class="c-table">
						<div class="form">
							<div class="form-item" style="width: 70%;">
								<span class="form-tag" style="">启用：</span>
								<div class="form-c" style="margin-top: 4px;">
									<input type="checkbox" class="form-checkbox" id="ifencode" name="ifencode" style="width: 100%;">
								</div>
							</div>
						</div>
						<div class="form">
							<div class="form-item" style="width: 35%;">
								<span class="form-tag" style="">密码：</span>
								<div class="form-c" style="">
									<input type="password" class="form-text" id="pin_input1" style="width: 100%;" tabindex="2">
								</div>
							</div>
							<div class="form-item" style="width: 35%;margin-left: 140px;">
								<span class="form-tag" style="">确认密码：</span>
								<div class="form-c" style="">
									<input type="password" class="form-text" id="pin_input2" style="width: 100%;" tabindex="3">
								</div>
							</div>
						</div>
						<div class="btns" style="padding: 10px 0 10px;">
							<a href="javascript:;" class="btn btn-normal btn-submit" >确&nbsp;&nbsp;定</a>
							<a href="javascript:;" class="btn btn-normal btn-cancel">重&nbsp;&nbsp;置</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<form action="/bhost/download_result" method="POST" name="frm2">
		<input type="hidden" name="a0" id="se" value="{{se}}">
		<input type="hidden" name="t1" id="" value="">
	</form>
{% endblock  %}

<!-- 继承 js-->
{% block script %}
<style>
	.tab-ctr a.m_ses_icon2 {
		display: inline-block;
		float: left;
		width: 16px;
		height: 20px;
		overflow: hidden;
		background: url(/manage/images/m_ses_icon.png) -16px 0px no-repeat;
		margin: 0px 4px 0 4px;
	}
	.tab-ctr a.m_ses_icon3 {
		display: inline-block;
		float: left;
		width: 16px;
		height: 20px;
		overflow: hidden;
		background: url(/manage/images/m_ses_icon.png) -32px 0px no-repeat;
		margin: 0px 4px 0 4px;
	}
	.tab-ctr a.m_ses_icon1 {
		display: inline-block;
		float: left;
		width: 16px;
		height: 20px;
		overflow: hidden;
		background: url(/manage/images/m_ses_icon.png) 0px 0px no-repeat;
		margin: 0px 4px 0 4px;
	}
	.tab-ctr a.m_ses_icon4 {
		display: inline-block;
		float: left;
		width: 16px;
		height: 20px;
		overflow: hidden;
		background: url(/manage/images/m_ses_icon.png) -48px 0px no-repeat;
		margin: 0px 4px 0 4px;
	}
	.tab-ctr a.m_ses_icon5 {
		display: inline-block;
		float: left;
		width: 16px;
		height: 20px;
		overflow: hidden;
		background: url(/manage/images/m_ses_icon.png) -64px 0px no-repeat;
		margin: 0px 4px 0 4px;
	}
	.tab-ctr a.m_ses_icon6 {
		display: inline-block;
		float: left;
		width: 16px;
		height: 20px;
		overflow: hidden;
		background: url(/manage/images/m_ses_icon6.png) no-repeat 0 0;
		margin: 0px 4px 0 4px;
	}
</style>
<script>
/*
$(function(){
    $('#check_page').on('ifChecked',function(){
        $('tbody>tr>td input').prop('checked',true).iCheck('update');
    });

    $('#check_page').on('ifChanged',function(){
        $('tbody>tr>td input').prop('checked',false).iCheck('update');
    });
})

var _if_disable ='2';
var first_style='';
$(function(){
	_if_disable = $('#nav-s1 li[data-modeid=7]',parent.parent.document).attr('_if_disable');
	if(_if_disable == '1'){
		$('.s-hide').hide();
		$('thead tr').eq(0).children('th:last').css('width',30);
		first_style="style=\"border-left: 1px solid #FFF;\"";
	}
*/
var se = '{{se}}';
var selectid=[];
var num=0;
var field_list = []; 
var history_setInterval=0;
var if_disable='2';
var first_style='';
//全局
$(function(){
	

	if_disable = $('#nav-s1 li[data-modeid=2]',parent.parent.parent.document).attr('_if_disable');
	if(if_disable =='1'){
		$('.s-hide').remove();
		$('thead tr').eq(0).children('th:last').css('width',30);
		first_style="style=\"border-left: 1px solid #FFF;\"";
	}
	
	$('#bBtn',parent.document).show();
	$.ajax({
		url:'/bhost/get_logfield',
		type:'post',
		async:false,
		data:{a0:{{se}},o1:-1},
		success:function(result){
			field_list_show = JSON.parse(result);
			$(field_list_show).each(function(i,item){
				field_list[item.Content] = item.Translation;
			})
		}
	})
	$("#curpage").bind('keydown', function(e){
		DigitInput(e);
	});
	 var w = $(window).width();
	if($('#sFrame',parent.document).parent().css('margin-left')!= '0px'){
		get_search_task_list();
		history_setInterval = setInterval(function(){get_search_task_list();},15000);
		//clearInterval(history_setInterval);
	}
	
	
	
});
function _stop(){
	clearInterval(history_setInterval);
}
//全选
function select_all(){

	var select_total = $("#select_total").text();
	var account_total = $("#account_total").text();
	if (select_total == account_total){
		$("#search_task_list tbody").find('input').iCheck('uncheck');
		selectid=[];
	}else{
		var num = 0;
		selectid=[];
		$.ajax({  
			url:'/bhost/get_search_task_list',
			type:"post",
			cache:false,
			async:false,
			data:{a0:se,t1:MAX_PAGE,t2:1,t3:1}, //t3 1 -> 取全部数据
			success:function(result){
				var result = JSON.parse(result);
				$.each(result.data,function(i,item){
					selectid.push(item.TaskId);
				})
				$("#search_task_list tbody input[type='checkbox']").each(function(){
					$(this).iCheck('check'); 
				})      
				//num = selectid.length;
				//$("#select_total").text(num);
			}
		});
	}
	num = selectid.length;
	$("#select_total").text(num);
}

//下一页
function nextpage(){
	var cpage = $("#curpage").val();
	var total = $("#totalpage").text();
	var npage = 0;
	if (total == cpage){
		return;
	}else{
		npage = parseInt(cpage)+1;
	}
	$("#curpage").val(npage);
	get_search_task_list();
}
//上一页
function prevpage(){
	var cpage = $("#curpage").val();
	var ppage = 0;
	if (parseInt(cpage) == 1){
		return;
	}else{
		ppage = parseInt(cpage)-1;
	}
	$("#curpage").val(ppage);
	get_search_task_list();
}
//首页
function firstpage(){
	$("#curpage").val(1);
	get_search_task_list();
}
//尾页
function lastpage(){
	var cpage = $("#curpage").val();
	var lpage = $("#totalpage").text();
	if (cpage == lpage){
		return;
	}
	$("#curpage").val(lpage);
	get_search_task_list();
}
//跳页
function jumppage(){
	var cur = $("#curpage").val();
	var numReg = /\D/;
		if (numReg.test(cur)){
			$("#curpage").val(1);
		}
	if (parseInt(cur) < 1 || cur == ''){
		$("#curpage").val(1);
	}
	get_search_task_list();
}
var action_list ={'between':'区间','equal':'等于','not equal':'不等于','high':'大于','ehigh':'大于等于','low':'小于','elow':'小于等于','begin':'开始','end':'结束','include':'包含','not include':'不包含','group':'主机组','regx':'正则匹配','match':'通配符','not regx':'正则不匹配','ncregx':'正则匹配（忽略大小写）','not ncregx':'正则不匹配（区分大小写）'};
//获取数据列表
function get_search_task_list(){
	ipage = $("#curpage").val(); //页数
	var accounttype = "";
	//获取数据列表
	console.log('1');
	$.ajax({  
		url:'/bhost/get_search_task_list',
		type:"post",
		async:true,
		cache:false,
		data:{a0:se,t1:MAX_PAGE,t2:ipage,t3:0},  //t3 1 -> 取全部数据
		success:function(result){
			search_task_list = JSON.parse(result);
			//console.log(search_task_list);
			$("#search_task_list tbody").empty();
			var flag_set = 0;
			var condition_id_str = "";
			var condition_id_status = [];
			$(search_task_list.data).each(function(i,item){
				/*
				{"totalrow":20,"data":[
					{        
						"TaskId": 3,
						"SubmitUserId": 212,  
						"UserCode": "yt",      
						"SubmitTime": "2017-10-09 11:40:47",
						"Condition": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Search>\n\t<KeyLogType>NORMAL</KeyLogType>\n\t<KeyRule>\n\t\t<KeyCondition field=\"xtime\" index=\"01\">\n\t\t\t<value action=\"between\">1507564801;1507649039</value>\n\t\t</KeyCondition>\n\t</KeyRule>\n\t<Column>\n\t\t<value name=\"xtime_00\">编号</value>\n\t\t<value name=\"xtime_01\">入库时间</value>\n\t\t<value name=\"xtime_02\">发生时间</value>\n\t\t<value name=\"xtime_03\">会话标识</value>\n\t\t<value name=\"xtime_04\">起始时间</value>\n\t\t<value name=\"int08_00\">属性</value>\n\t</Column>\n\t<Perm>\n\t</Perm>\n</Search>",
						"Count": 91697,
						"Status": 6,        
						"CancelStatus": 0
					}
				]}*/
				
				logtype = "";
				if(item.Condition.indexOf('<KeyLogType>NORMAL</KeyLogType>') >=0){
					logtype = "操作";
				}else if(item.Condition.indexOf('<KeyLogType>SESSION</KeyLogType>') >=0){
					logtype = "会话";
				}else if(item.Condition.indexOf('<KeyLogType>SYSTEM</KeyLogType>') >=0){
					logtype = "系统";
				}else{
					logtype = "未知类型";
				}
				//console.log(logtype);
				if(logtype == undefined) logtype = "未知类型";
				/*状态(0-队列中，1-执行中，2-检索成功，3-检索失败，4-导出队列中，5-导出执行中，6-导出成功，7-导出失败)*/
				/*取消状态 取消状态（0-正常状态，1-取消状态）*/
				
				if(item.CancelStatus == 1) CancelStatus = "(取消中)";
				else CancelStatus = "";
				
				if(item.Status == 0 || item.Status == 1 || item.Status == 4 ||item.Status == 5){ 
					falg_set = 1;
				}
				if(item.CancelStatus == 1) Status = "取消中";
				else{
					switch(item.Status){
						case 0:
							Status = "队列中";
							break;
						case 1:
							Status = "执行中";
							break;
						case 2:
							Status = "检索成功";
							break;
						case 3:
							Status = "检索失败";
							break;
						case 4:
							Status = "导出队列中";
							break;
						case 5:
							Status = "导出执行中";
							break;
						case 6:
							Status = "导出成功";
							break;
						case 7:
							Status = "导出失败";
							break;
					}
				}
				del_display = ""
				if(item.CancelStatus == 1){
					del_display = "disabled"
				}	
				result_display = "";
				if(item.Count == 0){
					result_display = "disabled";				
				}
				export_display = "disabled";
				if(item.Status == 2 && item.Count != 0){
					export_display = "";
				}
				down_display = "disabled";
				if(item.Status == 6){
					down_display = "";
				}
				condition_id_str = condition_id_str + item.TaskId +",";
				if(item.Status ==0 || item.Status == 1 || item.Status == 4 || item.Status==5 || item.CancelStatus == 1){
					condition_id_status.push( item.TaskId );
				}
				//moreinfo = get_condition(item.c_json,logtype);
				moreinfo = "加载中，请稍后....";
				//1查询结果2导出结果3下载结果4相关检索
				//console.log(logtype);
				if(if_disable == '1'){
					del_display = "s-hide";
				}
				
				$("#search_task_list tbody").append("<tr id=\"tr_"+item.TaskId+"\"> <td class=\"s-hide\"><input  class=\"form-checkbox\" type=\"checkbox\" value=\""+item.TaskId+"\"></td>"+
					"<td "+first_style+" title=\""+item.SubmitTime+"\">"+item.SubmitTime+"</td><td>"+logtype+"</td><td class=\"sta\">"+Status+"</td><td class=\"cou\">"+item.Count+"</td>"+
					'<td style="white-space: nowrap; "><div class="tab-ctr"><a href="javascript:;" class="search_result '+result_display+'" title="查询" style="" onclick="show_result('+item.TaskId+',this);"></a><a href="javascript:;" class="icon4 '+export_display+'" style="" title="导出" onclick="export_result('+item.TaskId+',this);" ></a><a href="javascript:;" class="download '+down_display+'" style="" title="下载" onclick="download_result('+item.TaskId+',this);" ></a><a href="javascript:;" class="m_ses_icon5"  title="条件" onclick="show_condition(this,'+item.TaskId+');"></a><a href="javascript:;" class="del '+del_display+'" style="" title="删除" onclick="delete_one_task('+item.TaskId+',this);"></a></div><div class="tab-moreinfo" style="">'+moreinfo+'</div></td></tr>');		
				tabArr();
				if(if_disable == '1'){
					$('.s-hide').remove();
				}
				//对按钮进行渲染
				$('.form-checkbox,.form-radio').iCheck({
					checkboxClass: 'icheckbox_minimal-blue',
					radioClass: 'iradio_minimal-blue',
					increaseArea: '0' 
				});
			});
			if(flag_set == 0) {
				clearInterval(history_setInterval);
			}
			
			//页码计算
			$("#account_total").text(search_task_list.totalrow);
			totalpage = Math.ceil(parseInt(search_task_list.totalrow)/MAX_PAGE);
			if (totalpage < 1){
				totalpage = 1;
			}
			$("#totalpage").text(totalpage.toString());
			$("#page_total").text(MAX_PAGE);
			//<tr>中选择按钮进行设置
			$('#check_page').iCheck('uncheck');
			var check_page_flag = 0;
			$("#search_task_list tbody input[type='checkbox']").each(function(){
				if ($.inArray(parseInt(this.value), selectid) != -1){					
					$(this).iCheck('check');
					check_page_flag++;
				}
			});
			if (check_page_flag == $("#search_task_list tbody input[type='checkbox']").length && check_page_flag != 0){
				$('#check_page').iCheck('check');
			}
			if (parseInt(ipage) > totalpage){
				$("#curpage").val(totalpage);
				get_search_task_list();
			}
			
			$("#search_task_list tbody >tr").bind("dblclick",function(e){
				x=e.target;
				if (x.nodeName != "INS"){
					$(this).children('td:last').find('.search_result').click();
				}
			});
			
			$('#check_page').on('ifClicked',function(e){
				if(!$('#check_page').prop('checked')){
					$("#search_task_list tbody input[type='checkbox']").each(function(){
						if (!$(this).prop("disabled")){
							$(this).iCheck('check');   
						}
					}) 
				}else{
					$("#search_task_list").children('tbody').find('input[type=checkbox]').iCheck('uncheck');
				}
			});
			
			var flag_id = 0;
			num = selectid.length;
			$("#select_total").text(num);
			$("#search_task_list tbody input[type='checkbox']").on("ifChanged",function(){
				if ($(this).is(":checked")){
					num = $("#select_total").text();   
					num++;
					if (selectid.indexOf(parseInt(this.value)) == -1){
						selectid.push(parseInt(this.value))	
					}
					$("#select_total").text(num);
				}else{
					num = $("#select_total").text();
					num--;
					selectid.splice($.inArray(parseInt(this.value),selectid),1);
					$("#select_total").text(num);   
				}
				var check_num = 0;
				$("#search_task_list tbody input[type='checkbox']").each(function(){
					if (!$(this).prop("disabled")){
						check_num++;
					}
				}) 
				if ($("#search_task_list tbody").find('input[type=checkbox]:checked').length == check_num){
					$('#check_page').iCheck('check');
				}else{
					$('#check_page').iCheck('uncheck');
				}
			});
			//console.log('2');
			condition_id_str = condition_id_str.substr(0,condition_id_str.length-1);
			func_moreinfo(condition_id_str);
			
			if(condition_id_status.length >0){
				function _do(){
					$.ajax({
						url:'/bhost/get_search_status',
						type:'post',
						async:true,
						data:{a0:{{se}},t1:condition_id_status.join(',')},
						success:function(result){
							result = JSON.parse(result);
							for( var tid in result){
								Sta = parseInt(result[tid].split(',')[0]);
								Cancel = parseInt(result[tid].split(',')[1]);
								Count = parseInt(result[tid].split(',')[2]);
								
								if(Cancel == 1) Status = "取消中";
								else{
									switch(Sta){
										case 0:
											Status = "队列中";
											break;
										case 1:
											Status = "执行中";
											break;
										case 2:
											Status = "检索成功";
											break;
										case 3:
											Status = "检索失败";
											break;
										case 4:
											Status = "导出队列中";
											break;
										case 5:
											Status = "导出执行中";
											break;
										case 6:
											Status = "导出成功";
											break;
										case 7:
											Status = "导出失败";
											break;
									}
								}
								del_display = ""
								if(Cancel == 1){
									del_display = "disabled"
								}	
								result_display = "";
								if(Count == 0){
									result_display = "disabled";				
								}
								export_display = "disabled";
								if(Sta == 2 && Count != 0){
									export_display = "";
								}
								down_display = "disabled";
								if(Sta == 6){
									down_display = "";
								}
								//状态
								$('#tr_'+tid).find('td.sta').text(Status);
								//大小
								$('#tr_'+tid).find('td.cou').text(Count);
								//结果查询 search_result
								$('#tr_'+tid).find('a.search_result').attr('class',"search_result "+result_display);
								//导出结果
								$('#tr_'+tid).find('a.icon4').attr('class',"icon4 "+export_display);
								//下载结果
								$('#tr_'+tid).find('a.download').attr('class',"download "+down_display);
								if((Sta ==2 || Sta == 3 || Sta == 6 || Sta==7) && CancelStatus == 0){
									delete result[tid];
									idx = condition_id_status.indexOf(parseInt(tid));
									condition_id_status.splice(idx,1)
								}
								console.log(result)
							}
						}
					})
				}
				if_ok = setInterval(function(){
					//console.log(index);
					if(condition_id_status.length == 0){
						clearInterval(if_ok);
						return false;
					}
					_do();	
				},5000);
			}			
		}
		
	});
	
}

//绑定 moreinfo

function func_moreinfo(condition_id_str){
	$.ajax({
		url:'/bhost/history_condition',
		type:'post',
		async:true,
		data:{a0:{{se}},t1:condition_id_str}, 
		success:function(result){
			result = JSON.parse(result); 
			moreinfo_show = "";
			if(result.Result == true){
				$(result.info).each(function(i,item){
					moreinfo = get_condition(item);
					//console.log(moreinfo);
					//console.log($('#tr_' + item.taskid).find('div.tab-moreinfo'));
					$('#tr_' + item.taskid).find('div.tab-moreinfo').html(moreinfo);
					if($('#tr_' + item.taskid).attr('class')!=undefined && $('#tr_' + item.taskid).attr('class').indexOf('on')>=0){
						moreinfo_show = moreinfo;
					}
				})
				var ind = 0;
				$('.tab-moreinfo-on').each(function(i,item){
					if($(this).is(':hidden') == false){
						ind = i;
						return false;
						//
					}
				});
				$('.tab-moreinfo-on').eq(ind).html(moreinfo_show);
				
			}
		}
	})
}

function get_name(id,type){
	var name = "";
	console.log('get_name')
	$.ajax({
		url:'/bhost/get_host_name',
		type:'post',
		async:false,
		data:{a0:{{se}},g1:id,t1:type}, //0 主机组 1 主机  2 协议
		success:function(result){
			result = JSON.parse(result); 
			if(result.Result == true){
				name = result.info;				
			}
		}
	})
	return name;
}
function get_condition(condition_json){
	var spanstr = "";
	$(condition_json.data).each(function(i,item){
		simple_tmp = "<p>" +field_list[item.operate] + "：";
		var s = "";
		$(item.condition).each(function(i1,item1){
				
				if(item.operate=="int32_01") {
					if (condition_json.type == 'SYSTEM'){ 
						if(item1.value == '1') item1.value = '用户操作';
						else if(item1.value == '2') item1.value = '系统管理'
					}
					else item1.value = get_name(item1.value,2);
				}			


			if(item.operate.indexOf('ip')>=0 && item1.action == "group") item1.value = get_name(item1.value,0);
			if(item.operate.indexOf('ip')>=0 && item1.action != "group" && item1.action != "between") {
				value = get_name(item1.value,1);
				if(value != "")  item1.value = value +"("+item1.value+")";
			}
		
			s = s + action_list[item1.action] + " " + item1.value + "  ";
		})
		simple_tmp = simple_tmp + s + "</p>";
		spanstr = spanstr + simple_tmp;			
	})
	return spanstr;
}

//批量删除
function delete_all(){
	if (selectid.length == 0){
		_alert(2,"批量删除","请选择要删除的项");
		return;
	}
	var id = JSON.stringify(selectid);
	$('.btn').blur();
	parent.layer.open({
		type:1,
		title:"删除",
		content:'<div class="layer-alert"><i class="alert warning"></i>批量删除</div>',
		btn:['确&nbsp;&nbsp;定','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		btn1:function(i){
			parent.layer.close(i);
			$("#select_total").text(0);
				delete_task(1,id);
				selectid=[];
				get_search_task_list();
		},
		btn2:function(i){
			parent.layer.close(i);
		}
	});	
}

//单个删除
function delete_one_task(id,obj){
	if($(obj).attr('class').indexOf('disabled')>=0) return ;
	
	var name = $("[value="+id+"]").prop('name');
	$('.btn').blur();
	parent.layer.open({
		type:1,
		title:"删除确认",
		content:'<div class="layer-alert"><i class="alert fail"></i>确认删除</div>',
		btn:['确&nbsp;&nbsp;定','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		btn1:function(i){
			parent.layer.close(i);
			delete_task(0,id);
			for (var i = 0; i < selectid.length; i++){      
				if (selectid[i] == parseInt(id)){
					num = $("#select_total").text();
					num = parseInt(num)-1;
					$("#select_total").text(num);
					selectid.splice($.inArray(parseInt(id),selectid),1);
					break;
				}
			}
			get_search_task_list();
		},
		btn2:function(i){
			 parent.layer.close(i);
		}
	});
}

//实现删除函数
function delete_task(type,id){
	$.ajax({
		url:'/bhost/delete_task',
		type:'post',
		async:true,
		data:{a0:se,t1:type,t2:id},
		success:function(results){
			data = JSON.parse(results);
			if (data.Result == "false"){
				_alert(1,"检索任务","操作失败,失败原因:"+data.ErrMsg);
			}else{
				_alert(0,"检索任务","操作成功");
				get_search_task_list();
			}
		}
	});
}
//刷新
function refresh(){
	selectid=[];
	$("#search_task_list input[type='checkbox']").each(function(){                                 
		$(this).iCheck('uncheck');
	});
	$("#select_total").text(0);
	get_search_task_list();
	return;
}
function show_condition(obj,taskid){
	//vh = $('#sFrame',parent.document).contents().find("#newCont>iframe:visible")[0];
	//console.log("111 =" + $('#sFrame',parent.document).contents().find("#newCont>iframe:visible")[0]);
	//location.href="/bhost/search_frame?a0={{se}}&t1="+taskid;
	//$('#bBtn>a:eq(1)',parent.document).click();	
	parent._scrpage(1,$('#bBtn>a:eq(1)',parent.document),taskid);
	
	
}
function show_result(taskid,obj){
	if($(obj).attr('class').indexOf('disabled')>=0) return ;
	ipage = $("#curpage").val();
	location.href='/bhost/search_result?a0={{se}}&f1=task&t1='+taskid+'&tp1='+ipage;
}
function export_result(taskid,obj){
	if($(obj).attr('class').indexOf('disabled')>=0) return ;
	$.ajax({
		url:'/bhost/export_result',
		type:'post',
		async:true,
		data:{a0:se,t1:taskid},
		success:function(results){
			data = JSON.parse(results);
			_alert('0','检索任务','操作成功');
			get_search_task_list();
		}
	});
	
}	
function download_result(taskid,obj){
	if($(obj).attr('class').indexOf('disabled')>=0) return ;
	document.frm2.t1.value = taskid;
	document.frm2.submit();
}

function encode(){
	$("input[name=ifencode]").unbind('ifChanged').bind('ifChanged',function(){
		if($(this).prop('checked') == true){
			$("#pin_input1").removeAttr('disabled');
			$("#pin_input2").removeAttr('disabled');
		}else{
			$("#pin_input1").attr('disabled',true);
			$("#pin_input2").attr('disabled',true);
		}
	})
	$("#pin_input1").val('');
	$("#pin_input2").val('');
	var $dialogCont = $("#EncodeDialog").show();
	var title = '设置';
	var d = dialog({
		title:title,
		content:$dialogCont,
		id:"EncodeDialog",
		width:"850px"
	});
	$.ajax({
		url:'/bhost/get_encodepwd',
		type:'post',
		async:true,
		data:{a0:se,t1:2},
		success:function(results){
			data = JSON.parse(results);
			if(data.Result){
				if(data.ifopen == false){
					$('#ifencode').iCheck('uncheck');
					$("#pin_input1").attr('disabled',true);
					$("#pin_input2").attr('disabled',true);
					
				}else{
					$('#ifencode').iCheck('check');
					//$("#pin_input1").val(data.info);
					//$("#pin_input2").val(data.info);
					$("#pin_input1").removeAttr('disabled');
					$("#pin_input2").removeAttr('disabled');
				}
			}else{
				_alert(1,'设置',data.ErrMsg);
			}
		}
	});
	
	d.addEventListener('close', function () {
		$dialogCont.appendTo("body").hide();
	});
	d.showModal();
	$("a.btn-cancel",$dialogCont).unbind().bind("click",function(){
		$("#pin_input1").val('');
		$("#pin_input2").val('');
	});
	$("a.btn-submit",$dialogCont).unbind().bind("click",function(){
		
		if($('#ifencode').prop("checked") == true){
			
			if($("#pin_input1").val() != $("#pin_input2").val()){
				_alert(1,"设置","两次密码不匹配",$("#pin_input1"));
				return false;			
			}
			
			pin_input1 = $("#pin_input1").val();
			ifopen = 1;
		}else{
			pin_input1 = '';
			ifopen = 0;
		}
		
		$.ajax({
			url:'/bhost/encodepwd',
			type:'post',
			async:true,
			data:{a0:se,p1:pin_input1,t1:2,i1:ifopen},
			success:function(results){
				data = JSON.parse(results);
				if(data.Result){
					_alert(0,'设置','操作成功');
					d.close().remove();
				}else{
					_alert(1,'设置',data.ErrMsg);
				}
			}
		});
		
	});
}

</script>

{% endblock  %}
