
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<link rel="stylesheet" href="/manage/css/new-head.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>

	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>

</head>
<body style="overflow:hidden;" class="bg-white">
		<!--管理集合表-->
		<div class="rwrap">
		<div class="c-top">
						<div class="c-title">
							<!--<h3 onclick="parent.reload();">服务器集合</h3>-->
							<div class="manual-head" style="float:left;width:100px">
    							<div class="manual-title" >
       								<span id="host_group" style="cursor: pointer;">服务器集合</span>
        							<i class="host_group_icon"></i>
   								</div>
							</div>
							<div class="ctr">
								<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
							</div>
						</div>
					</div>
		<div class="mainer" name="server" id="server" >
			<div class="container">
				<div class="c-cont">
					<div class="c-wrap">
						<div class="c-table r-list">
							<div class="tab-t">
								<div class="ctr" style="width:288px;">
									<a href="javascript:;" class="btn btn-default perm_disabled" onclick="server_add();">创建</a>
									<a href="javascript:;" class="btn btn-default perm_disabled" onclick="delete_list();">删除</a>
									<a href="javascript:;" class="btn btn-default perm_disabled" onclick="click_all_list();">全选</a>
									<a href="javascript:;" class="btn btn-default" onclick="clear_all();">刷新</a>
								</div>
								<div class="filter">
									<div class="search">
										<select name="server_select" id="server_select" class="filter-select">
											<option value="all" selected>所有</option>
											<option value="ServerScopeName">名称</option>
											<option value="IP">IP</option>
											<option value="HostName">主机名</option>
											<option value="HGName">主机组</option>
										</select>
										<input type="text" style="/*display:none;*/padding-right: 22px;" 
										class="filter-text" placeholder="输入关键字" 
										name="server_text" id="server_text" maxlength="128" 
										onchange="if($('#server_text').val()==''){$('#server_text_check').hide();}else{$('#server_text_check').show();}"
										onkeyup="if($('#server_text').val()==''){$('#server_text_check').hide();}else{$('#server_text_check').show();}"
										onblur="if($('#server_text').val()=='' && search_typeall_new!=''){search_typeall_new='';_addFilter(this,false,1);}"
										onkeydown="if($('#server_text').val()==''){$('#server_text_check').hide();}else{$('#server_text_check').show();};if (event.keyCode == 13){_addFilter(this,false);return false;} else return; ">
										<i class="v-check v-wrong" id="server_text_check" 
										onclick="$('#server_text_check').hide();$('#server_text').val('');search_typeall_new = '';server_page(0.1);" 
										style="display:none;cursor: pointer;float: left;position: static;"></i>
										<button class="btn filter-btn" onclick="_addFilter(this,false);"><i class="add-filter"></i></button>
										<button class="btn filter-btn" onclick="_addFilter(this,true)"><i class="append-filter"></i></button>
									</div>
									<div class="search" id="clearFilter" style="margin: 0px 15px 0px -16px;display:none;">
										<button class="filter-btn" onclick="_clearFilter(this)"><i class="clear-filter"></i></button>
									</div>
									<div class="selector selector-multiple" id="filterWW" style="display:none;">
										<span class="ww">搜索条件</span>
										<ul>
										</ul>
									</div>
								</div>
							</div>
							<div class="box-table">
								<table cellpadding="0" cellspacing="0">
									<thead>
										<tr>
											<th width="50" class="perm_disabled"><input type="checkbox" class="form-checkbox" id="check_one_page"/></th>
											<th>名称</th>
											<th>IP</th>
											<th>IP区间</th>
											<th>主机</th>
											<th>主机组</th>
											<th id="server_list_th" width="55"></th>
										</tr>
									</thead>

									<tbody name="server_list" id="server_list">
									</tbody>
								</table>
							</div>
							<div class="tab-i">
								<div class="il">
									每页显示<span id="page_nums">10</span>条 总数：<span id = "server_total">0</span><span class="perm_disabled">  选中：</span><span class="sum perm_disabled">0</span>
								</div>

								<div class="ipage">
									<a href="javascript:;" class="nav2 begin" id="server_begin" onclick="server_page(0.1);"><i></i></a>
									<a href="javascript:;" class="nav prev" id="server_prev" onclick="server_page(-1);"><i></i></a>
									<input type="text" id = "server_page" value="1" onchange="showMsg();" onblur="showMsg();">/&nbsp;<span id = "server_pages">1</span>
									<a href="javascript:;" class="nav next" id="server_next" onclick="server_page(1);"><i></i></a>
									<a href="javascript:;" class="nav2 end" id="server_end" onclick="server_page(0.9);"><i></i></a>
								</div>
							</div>
						</div>
						
						<div class="clearfix"></div>
						<!--
						<div class="btns">
							<a href="javascript:;" class="btn btn-normal" onclick="save_server();">返&nbsp;&nbsp;回</a>
						</div>
						-->
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn" style="float: right;" onclick="save_server();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<form action="/bhost/get_server_list" method="POST" name="frm_server" id="frm_server">
			<input type="hidden" name="tasktype" id = "tasktype" value="3" />
			<!--创建 编辑 列表-->
			<input type="hidden" name="serverId" id = "serverId" value="0" />
			<!--需要查询id-->
			<input type="hidden" name="paging" id = "paging" value="{{paging}}" />
			<!--页码-->
			<input type="hidden" name="search_typeall" id = "search_typeall" value="{{search_typeall}}" />
			<!--search_typeall-->
			<input type="hidden" name="e" id = "e" value="{{e}}" />
			<!--e-->
			<input type="hidden" name="se" id = "se" value="{{se}}" />
			<!--se-->
			<input type="hidden" name="a10" id = "a10" value="{{module_name}}" />
			<!-- module_name -->
	</form>

<script>
	var perm={{perm}};
	if (perm==0) parent.parent.$('#nav-s1 a.active').click();
	else{
		$('.bg-white').show();
		if(perm==1){
			$('.perm_disabled').remove();
			$('#server_list_th').attr('width',25);
		}
	}
	$('.form-checkbox,.form-radio').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
	    radioClass: 'iradio_minimal-blue',
	    increaseArea: '0' // optional
	});
</script>


<script>
$('.filter-select').select2({minimumResultsForSearch: -1});
</script>

<script type="text/javascript">
var delect_str = new Array();
var check_num=0;
var fenye_r=0;
//总页码
var server_array=null;
var search_typeall_r=document.frm_server.search_typeall.value;
//关键字
function save_server()
{
	window.parent._closePage(null); 
}
$(function(){
	document.frm_server.se.value=window.parent.document.frm.se.value;
	// $("#server_select").change(function(){
	// 	var type = $(this).val();
	// 	if(type == 0){
	// 		$("#server_text").hide();
	// 		$('#filterWW').hide();
	// 		$('#clearFilter').hide();
	// 	}else{
	// 		$("#server_text").show();
	// 		if($('#filterWW ul li').length){
	// 			$('#filterWW').show();
	// 			$('#clearFilter').show();
	// 		}
	// 	}
	// });
	////console.log("function"+document.frm_server.paging.value);
	if(search_typeall_r!=""){
		var v1="";
		var id="";
		var str_new="";
		var search_typeall_str=search_typeall_r.split('\t');
		////console.log(search_typeall_str);
		$.each(search_typeall_str,function(i,item){
			if(item==""){
				return false;
			}
			var str_sea=item.split("-");
			v1=$('#server_select').find('option[value='+str_sea[0]+']').text();
			////console.log('v1'+v1);
			id=item;
			str_sea[0]=v1;
			str_new=str_sea.join('-');
			////console.log("str_new"+str_new+"---id"+id);
			$('#filterWW>ul').append('<li><span style = "display:none">'+id+'</span><span class="ww">'+str_new+'</span><i class="del" onclick="_delFilter(this);"></i></li>');
		});
	}
	var search_typeall_select=document.frm_server.e.value.substr(document.frm_server.e.value.indexOf(':')+1,document.frm_server.e.value.length-1);
	if(search_typeall_select!=''){
		var array=new Array();
		array[0]=search_typeall_select.substr(0,search_typeall_select.indexOf('-'));
		array[1]=search_typeall_select.substr(search_typeall_select.indexOf('-')+1,search_typeall_select.length);
		////console.log(array);
		$('#server_select').val(array[0]).trigger('change');
		$('#server_text').val(array[1]);
		if(array[1]!=''){
			$('#server_text_check').show();
		}
	}
	//输入数字
	$('#server_page').bind('keydown', function(e){
		DigitInput(e);
	}).on("input propertychange", function () {				//防止在输入法开启的情况下输入非数字
		this.value = this.value.replace(/\D/g, "").trim();
	});
	//页码显示
	$("#page_nums").val(MAX_PAGE);
	//list show
	show_server_list();
	parent._switchBtn(1);//显示按钮
	//tr双击事件
	$("#server_list").on('dblclick','tr',function(e){
		x=e.target;
		var id=$(this).find("td");
		if(x.nodeName !='A' && x.nodeName !='INS'){
			var id=$(this).find("td");
			var edit_item=$(id).eq(1).text();
			document.frm_server.serverId.value=edit_item;
			document.frm_server.tasktype.value=2;
			document.frm_server.search_typeall.value=search_typeall_r;	
			document.frm_server.e.value=search_typeall_new+':'+$('#server_select').val()+'-'+$('#server_text').val();
			document.frm_server.action = '/bhost/server_handle';
			document.frm_server.submit();
		}
	}).on("click", "tr", function (e){  
		x=e.target;
		//删除按钮
		if(x.id == 'del'){
			var id=$(this).find("td");
			var input  = $(this).find("input"); 
			$('.btn').blur();parent.layer.open({
				type:1,
				title: '服务器集合',
				content: '<div class="layer-alert"><i class="alert warning"></i>是否删除</div>',
				btn:['删&nbsp;&nbsp;除','取&nbsp;&nbsp;消'],
				btnAlign:'c',
				closeBtn: false,
				skin:'layer-custom',
				area:['380px','310px'],
				move: false,
				resize: false,
				yes:function(i){
					parent.layer.close(i);
					var delete_item=$(id).eq(1).text();			
					// $(input).iCheck('uncheck');
					delete_fun(delete_item+'\t'+$(id).eq(2).text());
				}
			});
		}
		//编辑按钮
		if(x.id == 'edit'){
			var id=$(this).find("td");
			var edit_item=$(id).eq(1).text();
			document.frm_server.serverId.value=edit_item;
			document.frm_server.tasktype.value=2;
			document.frm_server.e.value=search_typeall_new+':'+$('#server_select').val()+'-'+$('#server_text').val();
			document.frm_server.action = '/bhost/server_handle';
			document.frm_server.submit();
		}
	});
	$('#check_one_page').on(' ifClicked',function(e){
		if(!$('#check_one_page').is(':checked')){
			$("table tbody tr input").iCheck('check');
		}else{
			$("table tbody tr input").iCheck('uncheck');
		}
		
	});
	$("#server_list").on("ifChecked",function(e){
		check_num++;
		$("span.sum").text(check_num);		
		if($("table tbody tr input:checked").length==$("table tbody tr").length){
			$('#check_one_page').iCheck('check');
		}
	}).on("ifUnchecked",function(e){
		check_num--;
		$("span.sum").text(check_num);	
		$('#check_one_page').iCheck('uncheck');	
	});
})
//显示创建页面
function server_add(){
	document.frm_server.tasktype.value=1;
	document.frm_server.serverId.value=0;
	document.frm_server.action = '/bhost/server_handle';
	document.frm_server.search_typeall.value=search_typeall_r;
	document.frm_server.e.value=search_typeall_new+':'+$('#server_select').val()+'-'+$('#server_text').val();
	document.frm_server.submit();
}
//刷新
function clear_all(){
	delect_str=new Array();
	show_server_list();
}
var search_typeall_new=document.frm_server.e.value.substr(0,document.frm_server.e.value.indexOf(':'));
function _addFilter(obj,type,type_num){
	var id = $(obj).parent().children('select').children('option:selected').val();
	// if (id=="0"){
	// 	$('#filterWW>ul').empty();
	// 	search_typeall_r = "";
	// 	search_typeall_new='';
	// 	$(obj).parent().children('input[type=text]').val('');
	// 	$("table tbody tr input").iCheck('uncheck');
	// 	delect_str=new Array();
	// 	server_page(0.1);
	// 	check_num=0;
	// 	$("span.sum").text(check_num);
	// 	return false;
	// }
	var v1 = $(obj).parent().children('select').children('option:selected').text();
	var v2 = $(obj).parent().children('input[type=text]').val().trim();
	if(id=='all'){
		v1='';
	}else{
		v1=v1+'-';
	}
	// <option value="all" selected>所有</option>
	// <option value="ServerScopeName">名称</option>
	// <option value="IP">IP</option>
	// <option value="HostName">主机</option>
	// <option value="HGName">主机组</option>
	if(v2 == '' && type_num!=1){
		$(obj).parent().children('input[type=text]').blur();
		_alert(2,'搜索','请输入关键字', $(obj).parent().children('input[type=text]'));
		return false;
	}
	// else
	var flag = true;
		switch (id) {
			case 'ServerScopeName':
				var Reg=/^[\u4e00-\u9fa5a-zA-Z\d_\-\.\s]+$/;
				break;
			case 'IP':
			    var vt = v2.split(' ');
			    

				var Reg=/^((?:(?:2[0-4][0-9]\.)|(?:25[0-5]\.)|(?:1[0-9][0-9]\.)|(?:[1-9][0-9]\.)|(?:[0-9]\.)){3}(?:(?:2[0-5][0-5])|(?:25[0-5])|(?:1[0-9][0-9])|(?:[1-9][0-9])|(?:[0-9])))$/;
				if (vt.length == 1) {
					v2 = vt[0];
					flag = Reg.test(v2);
					break;
				}
				v2 = '';
				for(var i=0;i<vt.length;i++){
					
                    if (vt[i] != '') {
                    	
                    	if(!Reg.test(vt[i])){
                            flag = false;
                            break;
                    	}
                        v2 = v2 + ' ' + vt[i];
                        
                    }
				}
				
				v2 = v2.trim();
				
				break;
			case 'HostName':
				var Reg=/^[\u4e00-\u9fa5a-zA-Z\d_\-\.\s]+$/;
				break;
			case 'HGName':
				var Reg=/^[\u4e00-\u9fa5a-zA-Z\d_\-\.\s]+$/;
				break;
		}
		if(id =='IP' && !flag && type_num!=1){
			$(obj).parent().children('input[type=text]').blur();
			_alert(1,'搜索','关键字格式不正确', $(obj).parent().children('input[type=text]'));
			return false;
		}
		if(id!='all' && !Reg.test(v2) && type_num!=1 && id != 'IP'){
			$(obj).parent().children('input[type=text]').blur();
			_alert(1,'搜索','关键字格式不正确', $(obj).parent().children('input[type=text]'));
			return false;
		}
		if(search_typeall_r.indexOf(id+'-'+v2+'\t')>=0 && type_num!=1){
			$(obj).parent().children('input[type=text]').blur();
			_alert(2,'搜索','关键字重复', $(obj).parent().children('input[type=text]'));
			return false;
		}
		if(type){
			search_typeall_r=search_typeall_r+id+'-'+v2+'\t';
			search_typeall_new='';
			$(obj).parent().children('input[type=text]').val('');
			$('#filterWW>ul').append('<li><span style = "display:none;">'+id+'-'+v2+'</span><span class="ww">'+v1+v2+'</span><i class="del" onclick="_delFilter(this);"></i></li>')
			$('#server_text_check').hide();
			selView();
		}else{
			if(type_num!=1)search_typeall_new=id+'-'+v2+'\t';
		}
		document.frm_server.paging.value=1;
		delect_str=new Array();
		/*show_server_list();*/
		server_page(0.1);
	
	
}
function selView(){
	var $sel = $('#filterWW');
	var len = $('li',$sel).length;
	if(len == 0){
		$sel.hide();
		$('#clearFilter').hide();
	}else{
		$("#filterWW").show();
		$('#clearFilter').show();
		$('>span.ww',$sel).show();
		$sel.addClass('selector-multiple');
	}
}
function _clearFilter(obj,num){
	if(num==1){
		$('#server_text').val('');
	$('#server_text_check').hide();
	search_typeall_new='';
	document.frm_server.paging.value=1;
	delect_str=new Array();
	show_server_list();
	}
	$('#clearFilter').next().children('ul').empty();
	$('#server_text').val('');
	$('#server_text_check').hide();
	$('#clearFilter').hide();
	search_typeall_new='';
	search_typeall_r='';
	selView();
	document.frm_server.paging.value=1;
	delect_str=new Array();
	show_server_list();
}
function _delFilter(obj){
	var id = $(obj).parent().find("span");
	var ids=$(id).eq(0).text();
	search_typeall_r = search_typeall_r.replace(ids+'\t','');
	var server_text=$('#server_text').val().trim();
	if(server_text==''){
		search_typeall_new=='';
	}else{
		search_typeall_new=$('#server_select').val()+'-' +server_text+'\t';
	}
	$(obj).parent().remove();
	selView();
	document.frm_server.paging.value=1;
	delect_str=new Array();
	show_server_list();
}
//选中字段存储
function delect_save(){
	$(">tr","#server_list").each(function(){
		var input  = $(this).find("input[type='checkbox']");
		var delect_item=$(">td",this).eq(1).text()+'\t'+(perm==2?$(">td",this).eq(2).text():$(">td",this).eq(0).text());
		var index=$.inArray(delect_item,delect_str);
		if($(input).is(':checked')){
			if(index<0){
				delect_str.push(delect_item);
			}
		}else{
			if(index>=0){
				delect_str.splice(index,1);
			}
		}
	});
}
//check显示
function check_show(){
	$(">tr","#server_list").each(function(){
		var check_id=$(">td",this).eq(1).text()+'\t'+(perm==2?$(">td",this).eq(2).text():$(">td",this).eq(0).text());
		if($.inArray(check_id,delect_str)>=0){
			$(this).find("input[type='checkbox']").iCheck('check');
		}
	});
}
//input回车触发事件
function showMsg(){
	delect_save();
	var cur = $("#server_page").val();
	cur=cur.replace(/\D/g, "");
	if(cur=='' || parseInt(cur) < 1){
		cur=1;
	}
	document.frm_server.paging.value=cur;
	show_server_list();
}
var paging_max=null;
//以每页显示数显示列表函数
function show_server_list(){
	update_all_list();
	var paging = document.frm_server.paging.value;
	////console.log("paging"+paging);
	var page_num = MAX_PAGE;
	var serverId=document.frm_server.serverId.value;
	var search_typeall=search_typeall_r+search_typeall_new;
	//console.log("search_typeall.len:"+search_typeall.length);
	//console.log("search_typeall:"+search_typeall);
	$.ajax({
		url: "/bhost/get_server_list",
		type:"POST",
		async:true,
		data:{a0:$("input[name=se]").val(),a4:page_num,a3:paging,a2:search_typeall,a1:serverId,dsc:true},
		success:function(result){
			////console.log('success');
			////console.log(paging);
			var server_result = JSON.parse(result);
			if (server_result.Result==true){
				var server_data = server_result.info;
				var total_all = server_data.totalrow;
				//////console.log(total_all);
				fenye_r=Math.ceil(total_all/MAX_PAGE)||1;
				if(server_data.data=="" && paging!="1"){
					server_page(0.9);
				}else{
					//total = 0;
					if(total_all){
						$("#server_list").empty();
						$('#server_list').append(server_data.data.map(function (item) {
							if(item.ServerScopeName==null){
								item.ServerScopeName="";
							}
							var ip_str = "";
							var ip_str1 = "";
							if(item.IPList==null){
								item.IPList={"Set":[]};
							}
							if (item.IPList.Set==null){
								item.IPList.Set=[];
							}
							$.each(item.IPList.Set,function(i1,item1){
								if(item1.StartIP!=item1.EndIP){
									ip_str = ip_str+item1.StartIP+"-"+item1.EndIP+"，";
								}else{
									ip_str1=ip_str1+item1.StartIP+"，";
								}
							});
							var host_str="";
							var hgroup="";
							$.each(item.HostList,function(i1,item1){
								if(item1.HostId==null && hgroup.indexOf(item1.HGName+';')==-1){
									hgroup=hgroup+'['+item1.HGName+']'+'，';
								}
								if(item1.HostId!=null && host_str.indexOf(item1.HostName+';')==-1){
									host_str=host_str+item1.HostName+"，";
								}
							});
							host_str=host_str.substr(0,host_str.length-1);
							hgroup=hgroup.substr(0,hgroup.length-1);
							ip_str=ip_str.substr(0,ip_str.length-1);
							ip_str1=ip_str1.substr(0,ip_str1.length-1);
							return "<tr>"+
							(perm==2?"<td class=\"in\"><input type=\"checkbox\" class=\"input_checkbox\" /></td>":"<td title='"+item.ServerScopeName+"'>"+item.ServerScopeName+"</td>")+
							"<td style = \"display:none\">"+item.ServerScopeId+"</td>"+
							(perm==2?"<td title='"+item.ServerScopeName+"'>"+item.ServerScopeName+"</td>":'')+
							"<td title='"+ip_str1+"'>"+ip_str1+"</td>"+
							"<td title='"+ip_str+"'>"+ip_str+"</td>"+
							"<td title='"+host_str+"'>"+host_str+"</td>"+
							"<td title='"+hgroup+"'>"+hgroup+"</td>"+
							"<td><div class=\"tab-ctr\">"+
							(perm==2?"<a href=\"javascript:;\" class=\"edit\" id=\"edit\" title='编辑'></a>":"<a href=\"javascript:;\" class=\"search_result\" id=\"edit\" title='查看'></a>")+
							(perm==2?"<a href=\"javascript:;\" class=\"del\" id=\"del\" title='删除'></a>":"")+
							"</div>"+
							"</td></tr>";
						}));
						$(".input_checkbox","#server_list").iCheck({
							checkboxClass: 'icheckbox_minimal-blue',
							radioClass: 'iradio_minimal-blue',
							increaseArea: '0' // optional
						});
						$("#server_total").text(total_all);
						if(paging>=fenye_r){
							paging=fenye_r;
						}
						document.frm_server.paging.value=paging;
						document.getElementById("server_page").value=paging;
						$("#server_pages").text(fenye_r);
						$('#check_one_page').iCheck('uncheck');	
						$("table tbody tr input").iCheck('uncheck');
						check_show();
						check_num=delect_str.length;
						$("span.sum").text(check_num);
					}else{
						
						$('#check_one_page').iCheck('uncheck');	
						$("table tbody tr input").iCheck('uncheck');
						$("span.sum").text(0);
						$("#server_list").empty();
						$("#server_total").text(total_all);
						$("#server_pages").text(1);
						document.frm_server.paging.value=1;fenye_r=1;
						document.getElementById("server_page").value=1;
					}	
				}
			}else{
				_alert(1,"服务器集合",server_result.ErrMsg);
				$('#check_one_page').iCheck('uncheck');	
				$("table tbody tr input").iCheck('uncheck');
				$("span.sum").text(0);
				$("#server_total").text(0);
				$("#server_pages").text(1);
				document.frm_server.paging.value=1;fenye_r=1;
				document.getElementById("server_page").value=1;
				return false;
			}
		}
		
	});
}
//分页 and 刷新
function server_page(num){
	var paging=parseInt(document.frm_server.paging.value)+num;
	if(paging<1){
		paging=1;
	}
	delect_save();
	if (num == 0.1){
		paging = 1;
	}else if(num == 0.9){
		paging=fenye_r;
	}
	// document.getElementById("server_page").value=paging;
	document.frm_server.paging.value=paging;
	show_server_list();
}
var click_all=false;
function update_all_list() {
	var search_typeall=search_typeall_r+search_typeall_new;
	var serverId=document.frm_server.serverId.value;
	$.ajax({
		url: "/bhost/get_server_list",
		type:"POST",
		async:false,
		data:{a0:$("input[name=se]").val(),a2:search_typeall,a1:serverId,a5:'true',dsc:true},
		success:function(result){
			var server_result = JSON.parse(result);
			if (server_result.Result){
				var server_data = server_result.info;
				var delect_str_old=delect_str;
				delect_str=new Array();
				server_array=server_data.data.map(function (params) {
					if($.inArray(params.ServerScopeId+'\t'+params.ServerScopeName,delect_str_old)>=0){
						delect_str.push(params.ServerScopeId+'\t'+params.ServerScopeName);
					}
					return params.ServerScopeId+'\t'+params.ServerScopeName;
				});
			}else{
				_alert(1,'服务器集合',server_result.ErrMsg);
				return false;
			}
		}
	});
}
//全选按钮
function click_all_list(){
	delect_save();
	if(server_array.length==delect_str.length){
		delect_str=new Array();
	}else{
		delect_str=server_array;
	}
	show_server_list();
}
//删除函数
function delete_fun(delect_str_1){
	$.ajax({
		url: '/bhost/del_server',
		type: "POST",
		async:false,
		data: {a0:$("input[name=se]").val(),a1:delect_str_1,a10:'{{module_name}}'},
		success: function(result) {
			var result = JSON.parse(result);
			if(result.Result == true){
				server_page(0);
				// _alert(0,"服务器集合","删除成功");
				if(result.fail_num!=0){
					if (result.success_num!=0)
						_alert(0,"服务器集合","成功："+result.success_num+'，失败：'+result.fail_num);
					else
						if ((result.fail_num+result.success_num)==1)
							_alert(1,"服务器集合",result.ErrMsg);
						else
							_alert(0,"服务器集合",'失败：'+result.fail_num);
				}else{
					_alert(0,"服务器集合","删除成功");
				}
			}else{
				server_page(0);
				_alert(1,"服务器集合",result.ErrMsg);
				return false;
			}	
		}
	});
}
//删除按钮
function delete_list(){
	delect_save();
	if(delect_str.length == 0){
		_alert(2,"服务器集合","请选择要删除的数据");
		return false;
	}
	//利用对话框返回的值 （true 或者 false） 
	$('.btn').blur();parent.layer.open({
		type:1,
		title: '服务器集合',
		content: '<div class="layer-alert"><i class="alert warning"></i>是否批量删除</div>',
		btn:['删&nbsp;&nbsp;除','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		yes:function(i){
			parent.layer.close(i);
			delete_fun(delect_str.join(',')); 
		}
	});
}
$(function(){
	
	$("#host_group").on("click",function(){
		parent.reload();
	});
  });

</script>
</body>
</html>
