{% extends  "index.html" %}
{% block head %}
<!--icheck-->
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<link rel="stylesheet" href="/manage/css/new-head.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>
{% endblock  %}

{% block main %}
	<!---->
	<div class="mainer">
		
		<div class="container">
			<div class="c-top">
				<div class="c-title">
					<!--<h3 class="tit" onclick="back();"><span>主机账号</span><i class="icon-account"></i></h3>-->
          	<div class="manual-head" style="float:left;width:100px">
						<div class="manual-title" >
       					<span id="host_account" style="cursor: pointer;">主机账号</span>
        				<i class="host_account_icon"></i>
   					</div>
					</div>
				</div>
			</div>
			<div class="c-cont2">
				<div class="c-form" style="padding-bottom:10px;">
				<div id="first_div"></div>
					<div class="form">
						<div id="luo0" style="float:left;width:100%;">
							<div class="form-item" style="width:50%;float:left;">
								<span class="form-tag" style="width:60px"><em class="imp">*</em>账号：</span>
								<div class="form-c sel-type1" id = "account_name" style="margin-bottom: 15px;width: 300px;float: left;padding: 1px 10px 10px 10px;">
										<input type="text" class="form-text" id="Name0" onblur="NameCheck(this)" maxlength="127"><i class="v-check" id="check0"></i>
									<p class="form-tip" id="prompt0" style="padding-left: 0px;">特殊字符仅支持@(仅可用1次)、下划线、横杠、小数点</p>
								</div>
							</div>
							<div class="form-item" style="width:50%;float:left;"><span class="form-tag" style="width:70px">AD域：</span>		
								<div  class="form-c sel-type1" style="float:left;width: 300px;padding-left:15px;"><li id="add_AD0">
									<select name="" id="ADregion0"  class="type-select" style="width:250px"></select>
									<i class="ctrl add" onclick="addinput(this)"></i></li></div>
								</div>
						</div>
					</div>
					<div class="btns">
						<a href="javascript:;" class="btn btn-submit btn-normal" onclick="save_data_account()">保&nbsp;&nbsp;存</a>
						<!--
						<a href="javascript:;" class="btn btn-cancel btn-normal" onclick="back();">取&nbsp;&nbsp;消</a>
						-->
					</div>
					<div id="bBtn" style="position: fixed;z-index:5;">
						<a href="javascript:;" class="btn" style="float: right;" onclick="back();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock  %}		


{% block script %}
<script>
$('.type-select').select2();
</script>
<script>
var number=0;
var id_list=[];
/*/名称发生改变
function Name_change(num,obj){
	var changename=$("#Name"+num+"").val().trim();
	var changeDomainId=$("#ADregion"+num+"").val();
	var flag=true;
	if(num<number){
		if (changename == ""){
			flag=false;
			$("#Name"+num+"").val(test_name[num]);
			_alert(2,"警告","账号不能为空",$("#Name"+num+""));
			return false;
		}
		if (!nameReg.test(changename)){
			flag=false;
			$("#Name"+num+"").val(test_name[num]);
			_alert(2,"警告","账号格式不符合要求",$("#Name"+num+""));
			return false;
		}
		$.each(account_all.data,function(i1,item1){
			if ((changename == item1.Name && changeDomainId == item1.DomainId)||(changename == item1.Name &&changeDomainId==0&&item1.DomainId==null)){
				flag=false;
				$("#Name"+num+"").val(test_name[num]);
				_alert(2,"警告","已存在相同的账号",$("#Name"+num+""));
				return ;
			}
		});
		if(id_list.length>1&&flag){
			for(var i=0;i<id_list.length;i++){
				if(changename==$("#Name"+id_list[i]+"").val().trim() && changeDomainId == $("#ADregion"+id_list[i]+"").val() && id_list[i]!=num){	
					flag=false;
					$("#Name"+num+"").val(test_name[num]);
					_alert(2,"警告","已存在相同的账号",$("#Name"+num+""));
					return ;
				}
			}
		}
		if(flag){
			test_name[num]=changename;
		}
	}
	if(num==number){
		if (!nameReg.test(changename)&&changename!=""){
			flag=false;
			$("#Name"+num+"").val(test_name[num]);
			_alert(2,"警告","账号格式不符合要求",$("#Name"+num+""));
			return false;
		}
		$.each(account_all.data,function(i1,item1){
			if (changename == item1.Name && changeDomainId == item1.DomainId){
				flag=false;
				$("#Name"+num+"").val(test_name[num]);
				_alert(2,"警告","已存在相同的账号",$("#Name"+num+""));
				return ;
			}
		});
		if(id_list.length>1&&flag){
			for(var i=0;i<id_list.length-1;i++){
				if(changename==$("#Name"+id_list[i]+"").val().trim() && changeDomainId == $("#ADregion"+id_list[i]+"").val()&&changeDomainId!=0){	
					flag=false;
					$("#Name"+num+"").val(test_name[num]);
					_alert(2,"警告","已存在相同的账号",$("#Name"+num+""));
					return ;
				}
			}
		}
		if(flag){
			test_name[num]=changename;
		}
	}
	if(test_name[num]=="")
	{
		test_name[num]=changename;
	}
}

//AD域再次变化判断
function AD_change(num,obj){
	var changeName = $("#Name"+num+"").val().trim();
	var changeDomainId=$("#ADregion"+num+"").val();
	var flag=true;
	if(num==0&&test.length==1){
		$.each(account_all.data,function(i1,item1){
			if (changeName == item1.Name && changeDomainId == item1.DomainId){
				$("#ADregion"+num+"").val(test[num]).trigger('change');
				flag=false;
				_alert(2,"警告","已存在相同的账号",$("#ADregion"+num+""));
				return false;
			}
		});
		if(flag){
			test[num]=changeDomainId;
		}
	}
	if(num<number){
		$.each(account_all.data,function(i1,item1){
			if ((changeName == item1.Name && changeDomainId == item1.DomainId)||(changeName == item1.Name &&changeDomainId==0&&item1.DomainId==null)){
				flag=false;
				if(test[num]==0){
					$("#ADregion"+num+"").empty();
					AD_add(num);
					_alert(2,"警告","已存在相同的账号",$("#ADregion"+num+""));
					return false;
				}else{
					$("#ADregion"+num+"").val(test[num]).trigger('change');
					_alert(2,"警告","已存在相同的账号",$("#ADregion"+num+""));
					return false;
				}
			}
		});
		if(id_list.length>1&&flag){
			for(var i=0;i<id_list.length;i++)
			{
				if(changeName==$("#Name"+id_list[i]+"").val().trim() && changeDomainId == $("#ADregion"+id_list[i]+"").val() && id_list[i]!=num)
				{	
					flag=false;
					if(test[num]==0){
						$("#ADregion"+num+"").empty();
						AD_add(num);
						_alert(2,"警告","已存在相同的账号",$("#Name"+num+""));
						return false;
					}else{
						$("#ADregion"+num+"").val(test[num]).trigger('change');
						_alert(2,"警告","已存在相同的账号",$("#Name"+num+""));
						return false;
					}
				}
			}
		}
		if(flag){
			test[num]=changeDomainId;
		}
	}	
	if(num==number&&num>0){
		$.each(account_all.data,function(i1,item1){
			if (changeName == item1.Name && changeDomainId == item1.DomainId){
				flag=false;
				if(test[num]==0){
					$("#ADregion"+num+"").empty();
					AD_add(num);
					_alert(2,"警告","已存在相同的账号",$("#Name"+num+""));
					return false;
				}else{
					$("#ADregion"+num+"").val(test[num]).trigger('change');
					_alert(2,"警告","已存在相同的账号",$("#Name"+num+""));
					return false;
				}
			}
		});
		if(id_list.length>1&&flag){
			for(var i=0;i<id_list.length-1;i++)
			{
				if(changeName==$("#Name"+id_list[i]+"").val().trim() && changeDomainId == $("#ADregion"+id_list[i]+"").val()){
					flag=false;
					if(test[num]==0){
						$("#ADregion"+num+"").empty();
						AD_add(num);
						_alert(2,"警告","已存在相同的账号",$("#Name"+num+""));
						return false;
					}else{
						$("#ADregion"+num+"").val(test[num]).trigger('change');
						_alert(2,"警告","已存在相同的账号",$("#Name"+num+""));
						return false;
					}
				}
			}
		}
		if(flag){
			test[num]=changeDomainId;
		}
	}
}*/

//检查数据完整性
function check_data(num){
	var DomainId=$("#ADregion"+num+"").val();
	var Name=$("#Name"+num+"").val();
	var add=1;
	var flag=true;
	if (Name == ""){
		_alert(2,"主机账号","请输入账号",$("#Name"+num+""));
		add=0;
		return false;
	}
	if(patch(Name,"@") <= 1){
		if(!nameReg.test(Name)){
			_alert(1, "主机账号","账号格式不正确",$("#Name"+num+""));
			add=0;
			return false;
		}
	}else{
		_alert(1, "主机账号","账号格式不正确",$("#Name"+num+""));
		add=0;
		return false;
	}

	$.each(account_all.data,function(i1,item1){
		if ((Name == item1.Name && DomainId == item1.DomainId)||(Name == item1.Name &&DomainId==0&&item1.DomainId==null)){
			add = 0;
			flag=false;
			_alert(2,"主机账号","相同的账号已存在",$("#Name"+num+""));
			return false;
		}
	});
	if(id_list.length>1&&flag){
		for(var i=0;i<id_list.length;i++){
			if(Name==$("#Name"+id_list[i]+"").val().trim() && DomainId == $("#ADregion"+id_list[i]+"").val() && id_list[i]!=num){
				add=0;
				_alert(2,"主机账号","相同的账号已存在",$("#Name"+num+""));
				return false;
			}
		}
	}
	if(add==1){
		return true;
	}else{
		return false;
	}
}

//向前加入一个input框 和一个X按钮
function addinput(obj){
	var flag=true;
	flag=check_data(number);
	if(flag==false){
		return false;
	}
	if(flag){
		id_list.push(number+1);
		//$("#prompt"+number+"").hide();
		//$("#check"+number+"").hide()
		//$("#Name"+number+"").attr("disabled",true);
		if(number==0){
			$("#add_AD"+number+"").append('<i class="ctrl del" id = "del_'+number+'" value="'+number+'"  onclick="_delinput(this)"></i>').children('i.add').remove();
		}else{
			$("#add_AD"+number+"").append('<i class="ctrl del" id = "del_'+number+'" value="'+number+'" style="margin-left:10px" onclick="_delinput(this)"></i>').children('i.add').remove();
		}
		number=number+1;
		$("#first_div").after('<div class="form"><div id="luo'+number+'" style="float:left;width:100%;"></div></div>');
		$("#luo"+number+"").append('<div class="form-item" style="width:50%;float:left;"><span class="form-tag" style="width:60px"><em class="imp">*</em>账号：</span>'+
									'<div class="form-c sel-type1" id = "account_name" style="margin-bottom: 15px;width: 300px;float: left;padding: 1px 10px 10px 10px;">'+
									'<input type="text" class="form-text" id="Name'+number+'" onblur="NameCheck(this)" maxlength="127"><i class="v-check" id="check'+number+'"></i>'+
									'<p class="form-tip" id="prompt'+number+'" style="padding-left: 0px;">特殊字符仅支持@(仅可用1次)下划线、横杠、小数点</p></div></div>');
		$("#luo"+number+"").append('<div class="form-item" style="width:50%;float:left;"><span class="form-tag" style="width:70px">AD域：</span>'+		
									'<div  class="form-c sel-type1" style="float:left;width: 300px;padding-left:15px;"><li id="add_AD'+number+'">'+
									'<select name="" id="ADregion'+number+'" class="type-select" style="width:250px"></select>'+
									'<i class="ctrl add" style="margin-left:10px" onclick="addinput(this)"></i></li></div></div>');
		$('.type-select').select2();
		AD_add(number);
		/*var DomainId=$("#ADregion"+number+"").val();
		test.push(DomainId);
		var Name=$("#Name"+number+"").val();
		test_name.push(Name);*/
	}
}

//添加AD域
function AD_add(num){
	$("#ADregion"+num+"").append("<option value=\"0\" >请选择AD域</option>");
	$.ajax({
		url:'/bhost/get_ADregion',
		type:'post',
		async:false,
		data:{a0:se},
		success:function(result){
			domian_data=JSON.parse(result);
			$.each(domian_data.data,function(i,item){
				$("#ADregion"+num+"").append("<option value=\""+item.DomainId+"\" >"+item.DomainName+"</option>");
			});
		}
	});
}

var account_all;
function account_all_list(){
	$.ajax({
		url:'/bhost/select_account_all',
		type:'post',
		async:false,
		data:{a0:se,z11:-1},
		success:function(result){
			account_all = JSON.parse(result);
		}
	});
}

//检查数据格式
var nameReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.@]+$/;
function NameCheck(obj){
	var name = $(obj).val();
	var $i = $(obj).next('i.v-check');
	if(patch(name,"@") <= 1){
		if (!nameReg.test(name)){
			$i.show().attr('class','v-check v-wrong');
		}else{
			$i.show().attr('class','v-check v-right');
		}
	}else{
		$i.show().attr('class','v-check v-wrong');
	}
}
function patch(s, re) {
	re = eval("/" + re + "/ig")
	return s.match(re) ? s.match(re).length : 0;
}
//删除按钮实现
function _delinput(obj){
	var $del_div = $(obj).parent().parent().parent().parent();
	var num=$(obj).attr("value");
	$del_div.remove();
	for(var i=0;i<id_list.length;i++){
		if(id_list[i]==num){
			id_list.splice(i,1);
			break;
		}
	}
}

var se;
$(function(){
	id_list.push(number);
	se = window.parent.document.frm.se.value;
	AD_add(number);
	/*var DomainId=$("#ADregion"+number+"").val();
	test.push(DomainId);
	var changename=$("#Name"+number+"").val();
	test_name.push(changename);*/
	$('.form-checkbox,.form-radio').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
	    radioClass: 'iradio_minimal-blue',
	    increaseArea: '0' // optional
	});
	$('.form-select').select2();
	account_all_list();
});

function save_data_account(){
	var account_list = [];
	var flag=true;
	var id_length=id_list.length;
	if($("#Name"+number+"").val() == "" && id_list.length>1){	
		id_length=id_list.length-1;
	}/*else{
		flag=check_data(endid);
		if(flag==false){
			return false;
		}
	}*/
	for(var i=id_length-1;i>-1;i--){
		flag=check_data(id_list[i]);
		if(flag==false){
			return false;
		}
		var Name=$("#Name"+id_list[i]+"").val().trim();
		var DomainId=parseInt($("#ADregion"+id_list[i]+"").val());
		if(DomainId == 0){
			DomainId=null;
			var Account_data = '{"AccountId":0,"Name":"'+Name+'","DomainId":'+DomainId+',"AccountType":1}';
		}else{
			var Account_data = '{"AccountId":0,"Name":"'+Name+'","DomainId":'+DomainId+',"AccountType":1}';
		}
		account_list.push(Account_data);
	}
	msstr = aceg(JSON.stringify(account_list),se);
	$.ajax({
		url:'/bhost/save_account',
		type: "post",
		async:false,
		data: {a0:se,d5:JSON.stringify(account_list),m1:msstr},
		success: function(Result) {
			data = JSON.parse(Result);
			if(data.Result){
				$('.btn').blur();
				parent.layer.open({
					type:1,
					title:"主机账号",
					content:'<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
					btn:'确定',
					btnAlign:'c',
					closeBtn: false,
					skin:'layer-custom',
					area:['380px','310px'],
					move: false,
					resize: false,
					btn1:function(i){
						parent.layer.close(i);
						back();
					}
				});
				return ;
			}else{
				_alert(1,"主机账号",data.ErrMsg);
				return false;
			}
		}
	});
}

function back(){
	//parent.$("#mainFrame").attr("src","/bhost/index?tasktype=3");
	document.frm.tasktype.value=3;
	document.frm.i10.value=1;
	document.frm.us.value=window.parent.document.frm.us.value;
	document.frm.se.value=window.parent.document.frm.se.value;
	document.frm.action = '/bhost/index';
	document.frm.submit();
}
$(function(){
	
	$("#host_account").on("click",function(){
		//back();
		document.frm.tasktype.value=8;
        document.frm.action = '/bhost/Account_add';
		document.frm.submit();
	});
 });
</script>
{% endblock  %}
