{% extends "index.html" %} 
{% block head %}
<script src="/manage/js/icheck.min.js"></script>
<script src="/manage/js/select2.full.min.js"></script>
<script src="/manage/js/xSelect.js"></script>
<script src="/manage/js/common.js"></script>
<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
<link rel="stylesheet" href="/manage/css/select2.min.css">
<link rel="stylesheet" href="/manage/css/style.css">
<script type="text/javascript" src="/manage/js/dialog-plus.js"></script>
<link rel="stylesheet" href="/manage/css/ui-dialog.css" type="text/css" />
<link rel="stylesheet" href="/manage/css/G-style.css" type="text/css" /> 
<link rel="stylesheet" href="/manage/css/new-head.css">

{% endblock %} 
{% block main %}
<style>
    .btns {
        background-color: rgba(255,255,255,1);
    }
    .as {
        width: 190px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        float: left;
        margin-top: 7px;
    }

    .h-content2 .form-item {
        height: auto;
        padding: 20px 0 10px;
        min-height: 38px;
        padding: 5px;
        width: 100%;
    }

    .h-content2 .form-tag {
        float: left;
        width: 10em;
        text-align: right;
        color: #000;
        line-height: 28px;
    }

    .h-content2 .form-c {
        padding-left: 0px;
        position: relative;
    }

    .h-content2 .form-text {
        width: 200px;
        padding-right: 8px;
    }

    .h-content2 .rzj {
        float: right;
        margin-right: 40px;
        color: #000;
        margin-top: -4px;
    }

    .h-content2 .form-tip {
        padding-left: 48px;
    }

    a.btn-normal1 {
        display: inline-block;
        width: 90px;
        height: 32px;
        border: 1px solid #DDD;
        text-align: center;
        line-height: 32px;
        border-radius: 18px;
        margin: 0 10px;
        background-color: #fff;
        transition: background-color 0.4s;
        color: #7c7c7c;
    }

    a.btn-normal1:hover {
        background-color: #8d808a;
        color: #fff;
    }

    .ui-dialog-content .c-form-host {
        min-width: 780px;
    }
    .filter .selector.selector-multiple:after {
        content: '';
        display: block;
        border-color: #888 transparent transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        height: 0;
        width: 0;
        overflow: hidden;
        position: absolute;
        margin: 12px 0 0 9em;
    }
    .c-table {
        padding: 20px 10px;
    }

    .c-form-host.col3 .form-item {
        width: 33.3%;
    }
    .h-top {
        width: 100%;
        height: 34px;
        position: absolute;
        background-color: #e6e6e6;
        border-bottom: none;
    }
    .c-form-host.col3 .form-item-100 {
        width: 100%;
    }

    .c-form-host.col3 .form-item .form-text {
        width: 100px;
        padding-right: 8px;
    }

    .c-form-host.col3 .form-item .h-content3 {
        padding: 0;
    }

    .select2-container--open {
        z-index: 9999999;
    }

    .blank_in {
        width: 12px;
    }
    .g-tsel:after {
        border-width: 4px;
        right: 7px;
        top: 9px;
    }
    .g-tsel1:after {
        right: 11px;
    }
    .h-content2 span.checkbox:not(.disabled) {
        cursor: pointer;
    }
    .h-content2 span.disabled {
        cursor: default;
    }
</style>
<!---->
<script>
    var perm={{perm}};
    if (perm==0) parent.$('#nav-s1 a.active').click();
</script>
<div class="mainer">
    <div class="container" id="step1">
        <div class="c-top">
            <div class="c-title">
                <div class="manual-head">
                    <div class="manual-title">
                        <span onclick="hostpwdstrategy();">全局策略</span>
                        <i class="hostpwdstrategy_icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-cont">
            <div class="c-wrap" style="padding: 10px 0 0">
                <div class="c-exp" style="margin: -1px auto;">

                    <div class="h-explorer">
                        <div class="G-top">
                            <div class="G-box1"></div>
                            <strong>&nbsp;全局策略</strong>
                        </div>
                        <div class="h-content2" style="height: auto;width: 100%;overflow: hidden;padding: 14px 0 10px 0;">
                            <div class="form-item" style="">
                                <span class="form-tag" style="">改密审批：</span>
                                <div class="form-c" style="">
                                    <label class="form-label" style="">
                                        <input id="IfPwdApprove" name="IfPwdApprove" class="form-checkbox" type="checkbox">
                                        <span style="vertical-align:middle;font-size:14px;">启用</span>
                                    </label>
                                    <label class="form-label" style="">
                                        <span style="vertical-align:middle;font-size:14px;padding-left: 15px">审批人数：</span>
                                        <input type="text" class="form-text" id="PwdApproveNum" name="PwdApproveNum" style="width:26px;" maxlength="3" disabled="true">
                                    </label>
                                </div>
                            </div>
                            <div class="form-item" style="">
                                <span class="form-tag" style="">下载审批：</span>
                                <div class="form-c" style="">
                                    <label class="form-label" style="">
                                        <input id="IfPwdFileApprove" name="IfPwdFileApprove" class="form-checkbox" type="checkbox">
                                        <span style="vertical-align:middle;font-size:14px;">启用</span>
                                    </label>
                                    <label class="form-label" style="">
                                        <span style="vertical-align:middle;font-size:14px;padding-left: 15px">审批人数：</span>
                                        <input type="text" class="form-text" id="PwdFileApproveNum" name="PwdFileApproveNum" style="width:26px;" maxlength="3" disabled="true">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btns" style="display:none;">
        <a id="_finish_" href="javascript:;" class="btn btn-normal " onclick="_finish();" style="font-weight: 400;">保&nbsp;&nbsp;存</a>
        
    </div>
    <script>
        if(perm==1){
            $('.btns').remove();
        }else{
            $('.btns').show();
        }
    </script>
    <div id="bBtn" style="position: fixed;z-index:5;">
        <a href="javascript:;" class="btn" style="float: right;" onclick="back();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
    </div>
</div>
<form action="/bhost/index" method="POST" name="frm_pwdauth_add" id="frm_pwdauth_add">
    <input type="hidden" name="tasktype" id="tasktype" value="{{tasktype}}" />
    <!--创建 编辑 列表-->
    <input type="hidden" name="a" id="a" value="{{a}}" />
    <!--serverId-->
    <input type="hidden" name="c" id="c" value="{{c}}" />
    <!--页码-->
    <input type="hidden" name="us" id="us" value="{{us}}" />
    <input type="hidden" name="se" id="se" value="{{se}}" />
</form>

{% endblock %} {% block script %}


<script>
    $('.form-checkbox,.form-radio').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass: 'iradio_minimal-blue',
        increaseArea: '0' // optional
    });
    $('.form-select,.filter-select').select2({ minimumResultsForSearch: -1 });
    $("input.datepicker").datepick();
    $(function () { 
        $('#IfPwdApprove').on('ifChecked',function(){
            //console.log($('#IfPwdApprove').is(':checked'));
            $('#PwdApproveNum').attr("disabled",false);
        }).on('ifUnchecked',function(){
            //console.log($('#IfPwdApprove').is(':checked'));
            $('#PwdApproveNum').attr("disabled",true);
        });
        $('#IfPwdFileApprove').on('ifChecked',function(){
            //console.log($('#IfPwdFileApprove').is(':checked'));
            $('#PwdFileApproveNum').attr("disabled",false);
        }).on('ifUnchecked',function(){
            //console.log($('#IfPwdFileApprove').is(':checked'));
            $('#PwdFileApproveNum').attr("disabled",true);
        });
        $('#PwdApproveNum,#PwdFileApproveNum').bind('keydown', function (e) {
            DigitInput(e);
        }).on("input propertychange", function () {				//防止在输入法开启的情况下输入非数字
            this.value = this.value.replace(/\D/g, "").trim();
        });
        $.ajax({
            url: '/bhost/get_global_IfPwdApprove',
            type: "POST",
            async: false,
            data: { a0: $("input[name=se]").val() },
            success: function (result) {
                var result=JSON.parse(result);
                if(result.Result){
                    if(result.info.PwdApproveNum>0){
                        $('#IfPwdApprove').iCheck('check');
                        $('#PwdApproveNum').val(result.info.PwdApproveNum);
                    }else{
                        $('#IfPwdApprove').iCheck('uncheck');
                    }
                    if(result.info.PwdFileApproveNum>0){
                        $('#IfPwdFileApprove').iCheck('check');
                        $('#PwdFileApproveNum').val(result.info.PwdFileApproveNum);
                    }else{
                        $('#IfPwdFileApprove').iCheck('uncheck');
                    }
                }else{
                    _alert(2,'全局策略',result.ErrMsg);
                    return false;
                }
            }
        });
    });
    //返回
    function back() {
        document.frm_pwdauth_add.action = '/bhost/index';
        document.frm_pwdauth_add.tasktype.value = 4;
        document.frm_pwdauth_add.submit();
    }
    function hostpwdstrategy(){
        document.frm_pwdauth_add.action = '/bhost/hostpwdstrategy_show'
        document.frm_pwdauth_add.submit();
    }
    function _finish(){
        var IfPwdApprove=$('#IfPwdApprove').is(':checked');
        if(IfPwdApprove){
            var PwdApproveNum=$('#PwdApproveNum').val();
            if(PwdApproveNum==''){
                _alert(2,'全局策略','改密审批人数不能为空',$('#PwdApproveNum'));
                return false;
            }
            else if (isNaN(PwdApproveNum)){
                _alert(2,'全局策略','改密审批人数只能为数字',$('#PwdApproveNum'));
                return false;
            }
            PwdApproveNum=parseInt(PwdApproveNum);
            if(PwdApproveNum==0){
                _alert(2,'全局策略','改密审批人数大于0',$('#PwdApproveNum'));
                return false;
            }
            IfPwdApprove=PwdApproveNum;
        }else{
            IfPwdApprove=0;
        }
        var IfPwdFileApprove=$('#IfPwdFileApprove').is(':checked');
        if(IfPwdFileApprove){
            var PwdFileApproveNum=$('#PwdFileApproveNum').val();
            if(PwdFileApproveNum==''){
                _alert(2,'全局策略','下载审批人数不能为空',$('#PwdFileApproveNum'));
                return false;
            }
            else if (isNaN(PwdFileApproveNum)){
                _alert(2,'全局策略','下载审批人数只能为数字',$('#PwdFileApproveNum'));
                return false;
            }
            PwdFileApproveNum=parseInt(PwdFileApproveNum);
            if(PwdFileApproveNum==0){
                _alert(2,'全局策略','下载审批人数大于0',$('#PwdFileApproveNum'));
                return false;
            }
            IfPwdFileApprove=PwdFileApproveNum;
        }else{
            IfPwdFileApprove=0;
        }
        $.ajax({
            url: '/bhost/add_global_IfPwdApprove',
            type: "POST",
            async: false,
            data: { a0: $("input[name=se]").val(),a1:IfPwdApprove,a2:IfPwdFileApprove},
            success: function (result) {
                var result=JSON.parse(result);
                if(result.Result){
                    $('.btn').blur(); parent.layer.open({
                        type: 1,
                        title: '全局策略',
                        content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
                        btn: ['确&nbsp;&nbsp;定'],
                        btnAlign: 'c',
                        closeBtn: false,
                        skin: 'layer-custom',
                        area: ['380px', '310px'],
                        move: false,
                        resize: false,
                        yes: function (i) {
                            parent.layer.close(i);
                            hostpwdstrategy();
                        }
                    });
                }else{
                    _alert(2,'全局策略',result.ErrMsg);
                    return false;
                }
            }
        });
    }
</script>

{% endblock %}
