<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<link rel="stylesheet" href="/manage/css/new-head.css">
	<link rel="stylesheet" href="/manage/css/ui-dialog.css" type="text/css" />	
</head>

<body style="overflow:hidden;" class="bg-white">
	<div class="container">
		<div class="c-top">
			<div class="c-title">
				<div class="manual-head" style="">
					<div class="manual-title" id="" style="">
						<span id="host_title">主机分组</span>
						<i class="hlink-hostcata" style=""></i>
					</div>
					
					<div class="filter" style="width: 56%;float: right;    margin-right: 29px;min-width:723px;">
						
						<div class="search" style="margin-top: 4px;">
							<select name="find_select" id="find_select" class="filter-select" style="height: 27px;width:112px">
								<option value="all" selected>所有</option>
								<option value="hostname">主机名</option>
								<option value="hostip">主机IP</option>
								<option value="protocolname">协议</option>
							</select>
							<div style="float:left;">
							<input type="text" class="filter-text" placeholder="输入关键字" id="keyword" style="border-left:0;padding: 0px 22px 0px 4px;width:112px" onkeydown="if($('#keyword').val()==''){$('#v_clear').hide();}else{$('#v_clear').show();};if (event.keyCode == 13){_addFilter(this,false);return false;} else return;" onchange="if($('#keyword').val()==''){$('#v_clear').hide();}else{$('#v_clear').show();}" onkeyup="if($('#keyword').val()==''){$('#v_clear').hide();}else{$('#v_clear').show();}" onblur="change_input(this);">
							
							<i style="display:none;cursor: pointer;" class="v-check v-wrong" id="v_clear" onclick="_clear_keyword(this)"></i>
							</div>
							<button class="btn filter-btn" onclick="_addFilter(this,false)" style="width:28px"><i class="add-filter"></i></button>
							<button class="btn filter-btn" onclick="_addFilter(this,true)" style="width:28px"><i class="append-filter"></i></button>
						</div>
						<div class="search" id="clearFilter" style="margin: 4px 15px 0px -16px;display:none;">
							<button class="filter-btn" onclick="_clearFilter(this)"><i class="clear-filter"></i></button>
						</div>
						<div class="selector selector-multiple" id="filterWW" style="display: none;margin-top:4px;width:14em;">
							<span class="ww">搜索条件</span>
							<ul></ul>
						</div>
						<div style="width: 120px;float: right;margin-top:-1px;margin-right:10px;">
							<select name="first_grp" id="first_grp" class="form-select" style=" float: left;height: 27px;width:120px;margin-right:10px" onchange="select_first_grp(this);">
								<option value="0" selected>所有组</option>
							</select>
						</div>
						<div id="waitTip" class="waitTip" style="    float: right; margin-top: 12px;margin-right: 10px;display: none;position:unset"></div>
					</div>
				</div>
			</div>

			<!---->
			<div class="c-cont3">
				<div class="h-catelog ywcate" style="visibility:hidden;">
					<!--
						<h5><i class="h-eicon h-eicon-t-m"></i>所有组</h5>
					-->
					<ul id="hostCatelog" style="padding: 20px 0 10px;padding-left: 20px;"></ul>
				</div>

				<div class="ywcont">
					<iframe src="/bhost/index?tasktype=12&us={{us}}&se={{se}}" frameborder="0" width="100%" height="100%" id="ywTarget" name="Target"></iframe>
				</div>
			</div>
			<div id="client_module" style="overflow:hidden;height: 200px;display:none;">
				<div class="c-form" style="padding-bottom:10px;padding-left:50px;">
					<div class="c-form" style="padding:0;">
						<span class="form-tag" style="width:222px;">路径：</span>
						<div style="width: 450px;margin-left: 200px;">
							<label style="float: left;margin-right:8px;">
								<select class="form-select select_clt" name=""  style="width: 60px;">
									<option value="0" selected >全局</option>
									<option value="1"  >指定</option>
								</select>
							</label>
							<input class="form-text" id="client_input" type="text" style="float: left;"/>
							<a href="javascript:;" class="btn btn-normal btn-global" onclick="$('#ywTarget')[0].contentWindow.get_win_path(this);">浏&nbsp;&nbsp;览</a>
						</div>
					</div>
					<div class="btns" style="/*padding: 20px 0 0px;*/position:absolute;">
						<a href="javascript:;" class="btn btn-normal btn-submit" >保&nbsp;&nbsp;存</a>
						<a href="javascript:;" class="btn btn-normal btn-cancel" >取&nbsp;&nbsp;消</a>
					</div>
				</div>
			</div>
			<div class="dialog-cont" id="remarkDialog" style="display:none;">
				<div class="container">
					<div class="c-cont" style="max-height:300px;">
						<div class="c-form" style="">
							<div class="clearfix"></div>
							<div class="form">
								<div class="form-item" style="">
									<span class="form-tag" style=""><em class="imp">*</em>操作备注：</span>
									<div class="form-c" style="">
										<textarea id="operation_content" class="form-textarea" name="" cols="30" rows="10"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="c-form" style="">
							<div class="btns" style="">
								<a href="javascript:;" class="btn btn-normal btn-submit" >提&nbsp;&nbsp;交</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 添加（编辑）秘钥浮层 -->
	<div class="dialog-cont" id="SSHKeyDialog" style="display:none;">
		<div class="container">
			<div class="c-cont" style="max-height: 450px; min-height: 450px;">
				<div class="c-form" style="width:auto; padding: 0px 0 0;">
					<div class="form">
						<div class="form-item">
							<span class="form-tag"><em class="imp">*</em>名称：</span>
							<div class="form-c">
								<input type="text" class="form-text" id="d_n1" name="d_n1" onblur="regCheck(this,nameReg);" maxlength="128">
								<i class="v-check"></i>
								<p class="form-tip">特殊字符仅支持下划线、横杠、小数点</p>
							</div>
						</div>
						<div class="form-item">
							<span class="form-tag">类型：</span>
							<div class="form-c">
								<select class="form-select form-select2" name="Protocol1" id="Protocol1" style="width:150px;">
									<option value="1" selected>私钥</option>
									<option value="0" >公钥</option>
								</select>
							</div>
						</div>
						
						<!-- <div class="form-item">
							<span class="form-tag">状态：</span>
							<div class="form-c" style="margin-top: 3px;">
									<input type="checkbox" class="form-checkbox" id="Enable"/>
									<span style="vertical-align:middle;font-size:16px; color: #000;">启用</span>
							</div>
						</div> -->
						<div class="form-item" style="width: 380px;">
							<span class="form-tag">设置密码：</span>
							<div class="form-c">
								<input type="password" class="form-text" id="Password" name="Password" onblur="" maxlength="128" style="width: 160px;padding-right: 8px;">
							</div>
						</div>
						<div class="form-item" style="width: 280px;">
							<span class="form-tag" style="width: 92px;">确认密码：</span>
							<div class="form-c" style="padding-left: 100px;">
								<input type="password" class="form-text" id="Password_two" name="Password_two" onblur="" maxlength="128" style="width: 160px;padding-right: 8px;">
							</div>
						</div>
						<div class="form-item">
							<span class="form-tag"><em class="imp">*</em>内容：</span>
							<div class="form-c">
								<textarea type="textarea" class="form-text" id="content" style="width: 430px; height: 150px; resize: none"></textarea>
							</div>
						</div>
						
					</div>
				</div>

			</div>
			<div class="btns" style="padding: 10px 0 10px;">
				<a href="javascript:;" class="btn btn-normal btn-submit s-hide">保&nbsp;&nbsp;存</a>
				<a href="javascript:;" class="btn btn-normal btn-cancel" >重&nbsp;&nbsp;置</a>
			</div>
		</div>
	</div>
	<span class="bb-btn-slide yw-btn-slide" onclick="_pullMenu(this)"></span>

	<script>
		var userAgent = navigator.userAgent;
		var ie8 = userAgent.indexOf('Trident/4.0');

		if(ie8 != -1){
			document.write('<script src="/manage/js/jquery-IE8.js"></' + 'script>');
		}else{
			document.write('<script src="/manage/js/jquery.min.js"></' + 'script>');
		}
	</script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script type="text/javascript" src="/manage/js/dialog-plus.js"></script>
	<script src="/manage/js/xSelect.js"></script>
	<script src="/manage/js/icheck.min.js"></script>
	<script src="/manage/js/select2.full.min.js"></script>
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<style>
		#SSHKeyDialog .form-item{
			float:left;
		}
		.layui-layer-ico {
			background: url(/manage/images/icon_close.png) no-repeat 0 0;
		}
		.layui-layer-setwin .layui-layer-close1 {
			background-position: 0;
		}
		h5 .h-eicon.h-eicon-t-m{
			cursor:default;
		}
		.btns{
			position:absolute;
		}
		.ui-dialog-body{
			padding:0;
		}
		.filter .search .filter-text:first-child{
			border-left: 0 !important;
			border-radius:0;
		}
		.select2-results__option[aria-selected]{
			font-size:14px;
		}
		.manual-head{
			font-size:14px;
		}
		.filter .selector span.ww{
			width:12em;
			padding: 0 0 0 0.5em;
		}
		.filter .selector.selector-multiple:after{
			margin: 10px 0 0 12.8em;
		}
		.filter .selector.selector-multiple ul{
			width: 14em;
		}
	</style>
	<style>
	a.btn-global{
		float: left;
		padding: 0px 8px;
		line-height: 26px;
		color: #8D808A;
		border: 1px solid #8D808A;
		margin-left:8px;
		border-radius: 5px;
		transition: all 0.4s;
	}
	a.btn-global:hover{
		background-color: #8D808A;
		border-color: #8D808A;
		color: #fff;
	}
	</style>
	<script>
		$('.form-checkbox').iCheck({
			checkboxClass: 'icheckbox_minimal-blue',
			radioClass: 'iradio_minimal-blue',
			increaseArea: '0'
		});
		$('#Enable').iCheck({
			checkboxClass: 'icheckbox_minimal-blue',
			radioClass: 'iradio_minimal-blue',
			increaseArea: '0' // optional
		});
		$("#Protocol1").select2({minimumResultsForSearch: -1});
		$('.select_clt').select2({minimumResultsForSearch: -1});
		$('.filter-select').select2({minimumResultsForSearch: -1});
		$('.form-select').select2({minimumResultsForSearch: -1});
	</script>
	<script>
	
	var se = "{{se}}";
	$(function(){
		if (document.all && !window.setTimeout.isPolyfill) {
			var __nativeST__ = window.setTimeout;
			window.setTimeout = function (vCallback, nDelay /*, argumentToPass1, argumentToPass2, etc. */) {
				var aArgs = Array.prototype.slice.call(arguments, 2);
				return __nativeST__(vCallback instanceof Function ? function () {
					vCallback.apply(null, aArgs);
				} : vCallback, nDelay);
			};
			window.setTimeout.isPolyfill = true;
		}
		//_initList();
		//用于数据库保存权限
		//show_Loading();
		$.ajax({
			url:'/bhost/Get_AuthObjectByLevel',
			type:'post',
			async:true,
			cache:false,
			data:{a0:se,z1:-1},
			success:function(result){
				_initSize();
				_initEvent();
			}
		})

		$("#host_title").bind('click',function(){
			location.href = '/bhost/index?tasktype=9&us={{us}}&se={{se}}';
		})
	});

	$(window).resize(function(){
		_initSize();
		_pathWrap();
	});

	function _pullMenu(obj){
		var $_obj = $(obj), $_p = $('div.ywcate'),$_c = $('div.ywcont');
		if($(obj).hasClass('on')){
			$_p.removeClass('on');
			$_c.removeClass('on');
			$_obj.removeClass('on');
		}else{
			$_p.addClass('on');
			$_c.addClass('on');
			$_obj.addClass('on');
		}
		$("#ywTarget").contents().find(".layui-layer").removeClass("block").addClass("none");
	}

	function RecentPage(){
		$("#ywTarget").attr("src", "/bhost/index?tasktype=7&us={{us}}&se={{se}}&keyword="+keyword_re)
	}
	function HostGroupPage(type,$obj,id,flag){
		//console.log($("#ywTarget").attr("src"));
		//console.log("/bhost/index?tasktype=12&us={{us}}&se={{se}}&keyword="+keyword_re);
		if(flag != 1){
			if($("#ywTarget").attr("src").indexOf("tasktype=7") > -1){
				$("#ywTarget").attr("src", "/bhost/index?tasktype=12&us={{us}}&se={{se}}&keyword="+keyword_re)
			}
		}
		_getNode(type,$obj,id,flag);
	}
	//list
	var show_flag = 0;
	function _initList(){
		//获取host
		var h_data;
		$.ajax({
			url:'/bhost/Get_AuthObjectByLevel',
			type:'post',
			async:true,
			cache:false,
			data:{a0:se,z1:0},
			success:function(result){
				h_data = JSON.parse(result);
				if(h_data.totalrow == 0){
					close_Loading();
				}
				var idd = "";
				var idd = $('#hostCatelog').find('.active').attr('id');
				var flag = 0;
				if(filter_flag == false){
					if($('#hostCatelog').find('li').length == 0){
						flag = 1;
					}
					if(flag == 1){
						$('#hostCatelog,#hostContent').empty();
						$('#first_grp').empty().append('<option value="0" selected>所有组</option>');
					}
					_pathWrap();
					recent_reAll = "";
					$.ajax({
						url:'/bhost/PGet_RecentAccessHost',
						type:'post',
						async:false,
						data:{a0:se,z1:'null',z2:'null',z3:'[]'},
						success:function(result){
							recent_reAll = JSON.parse(result);
							if(recent_reAll.totalrow != 0 && flag == 1){
								$('#hostCatelog').append('<li><i class="h-blank" data-id="arrHG-recent"/><a href="javascript:;" id="nodehg-recent" onclick="RecentPage();"><i class="h-eicon h-eicon-t-m"></i>最近访问</a><ul><p>Loading...</p></ul></li>');
							}
						}
					})
					if($("#nodehg-recent").is(":visible") == true && flag == 1){
						$('#first_grp').append('<option value="-1">最近访问</option>');
					}
					$.each(h_data.data.HGroup,function(i,item){
						if (item.HGroupNum == 0){
							i_class = "h-blank";
						}else {
							i_class = "h-aicon";
						}
						if(flag == 1){
							$('#hostCatelog').append('<li><i class="' + i_class + '" data-id="arrHG-' + item.HGId + '"/><a href="javascript:;" id="nodehg-'+item.HGId+'"><i class="h-eicon h-eicon-t-m"></i>'+item.HGName+'</a><ul><p>Loading...</p></ul></li>');
							$('#first_grp').append('<option value="'+item.HGId+'">'+item.HGName+'</option>');
						}
					});
				}
				_initHostCatalog();
				_initRoute();
				if(recent_reAll.totalrow != 0 && GID == 0){
					$("#nodehg-recent").click();
				}else{
					if (h_data.data.HGroup != null && h_data.data.HGroup.length != 0 && recent_reAll.totalrow == 0){
						$("#nodehg-" + h_data.data.HGroup[0].HGId).click();
					}
				}
				if($('#hostCatelog').find('.active').length == 0){
					$('#'+idd).addClass('active');
				}
			}
		});	
	}
	var GID = 0;
	//catalog
	function _initHostCatalog(){
		//var $_root = $('#hostCatelog');
		var $_root = $(".h-catelog.ywcate");
		$_root.off('click').off('dblclick');
		$_root.on('click','i.h-aicon',function(){
				var id = $(this).data('id').split('-')[1];
				var $_item = $(this).next('a');
				var c = $_item.attr('class');
				var $_u = $_item.next('ul');
	
				if($_u.length == 1){
					if($_u.is(':visible')){
						$(this).removeClass('h-aicon-d');
						$_u.slideUp();
					}else{
						$(this).addClass('h-aicon-d');
						$_u.slideDown();
					}
				}
				HostGroupPage(0,$(this),id,1);
			}).on('dblclick','a',function(){
				//console.log('dbl');
				var $_i = $(this).parent('li').children('i.h-aicon');
				var id = $_i.data('id').split('-')[1];
				var $_u = $(this).parent('li').children('ul');
				if($_u.length == 1){
					if($_u.is(':visible')){
						$_i.removeClass('h-aicon-d');
						$_u.slideUp();
					}else{
						$_i.addClass('h-aicon-d');
						$_u.slideDown();
					}
				}
				if(id == 'recent'){
					GID = 0;
					close_Loading();
					return false;
				}
				GID = id;
				HostGroupPage(0,$_i,id);
				//_getNode(0,$_i,id);
		}).on('click','a',function(){
			//_hideMenu();
			//console.log('click');
			var id = $(this).attr('id').split('-')[1];
			$('a',$_root).removeClass('active');
			$(this).addClass('active');
			if(id == 'recent'){
				GID = 0;
				close_Loading();
				return false;
			}
			GID = id;
			HostGroupPage(1,this,id);
			//_getNode(1,this,id);
		})
	}
	
	//获取子节点
	function _getNode(i,obj,id,flag){
		//console.log("i: "+i);
		//console.log(obj);
		//console.log("id: "+id);
		if(flag != 1){
			if($("#ywTarget").attr("src").indexOf("tasktype=7") > -1){
				return false;
			}
		}	
		if (i == 1){
			show_flag = 1;
		}
		if(keyword_re.length == 0){
			$.ajax({
				url: '/bhost/Get_AuthObjectByLevel',
				type: 'post',
				async: true,
				data: {a0:se,z1:id},
				success: function (result){
					var data = JSON.parse(result);
					if(i == 0){
						//id = $(obj).next('a').attr('id').split('-')[1];
						var $_u = $(obj).next('a').next('ul');
						//已加载节点，返回不再插入节点数据
						if($('li',$_u).length > 0){
							return false;
						}
						$_u.unbind();
						$_u.empty();
						$.each(data.data.HGroup,function(i,item){
							if (item.HGroupNum == 0){
								i_class = "h-blank";
							}else{
								i_class = "h-aicon";
							}
							$_u.append('<li><i class="'+i_class+'" data-id="arrHG-' + item.HGId + '"/><a href="javascript:;" id="nodehg-'+item.HGId+'"><i class="h-eicon h-eicon-t-m"></i>'+item.HGName+'</a><ul><p>Loading...</p></ul></li>');
						});
					}else{
						var rpath;
						var rarr = new Array();
						var _getRoute = function(item){
							if ($(item).length == 0){
								rpath = rarr.join('<span class="fix"/>');
								return false;
							}
							var id_tmp = $(item).attr('id');
							var tagname = $("#"+id_tmp).parent().parent()[0].tagName;
							if(tagname.toLowerCase() == 'ul'){
								var iid = $(item).attr('id').split('-')[1];
								rarr.unshift('<a href="javascript:;" id="route-'+iid+'">'+$(item).text()+'</a>');
								_getRoute($(item).parent().parent().prev());
							}else{
								rpath = rarr.join('<span class="fix" />');
							}
						}
						
						try{
							_getRoute(obj);
							$('#ywTarget')[0].contentWindow._setRoute(rpath,id,data.data.Host,show_flag);
						}
						catch(err){
							//console.log(err);
							setTimeout(function(){_getNode(i,obj,id);}, 100);
						}
						_pathWrap();
					}
				}
			});
		}else{
			if(i == 0){
				$.ajax({
					url: '/bhost/Get_AuthObjectByLevel',
					type: 'post',
					async: true,
					data: {a0:se,z1:id},
					success: function (result){
						var data = JSON.parse(result);
						//var id; // id
						//id = $(obj).next('a').attr('id').split('-')[1];
						var $_u = $(obj).next('a').next('ul');

						//已加载节点，返回不再插入节点数据
						if($('li',$_u).length > 0){
							return false;
						}
						$_u.unbind();
						$_u.empty();
						$.each(data.data.HGroup,function(i,item){
							if (item.HGroupNum == 0){
								i_class = "h-blank";
							}else{
								i_class = "h-aicon";
							}
							$_u.append('<li style="display:none;"><i class="'+i_class+'" data-id="arrHG-' + item.HGId + '"/><a href="javascript:;" id="nodehg-'+item.HGId+'"><i class="h-eicon h-eicon-t-m"></i>'+item.HGName+'</a><ul><p>Loading...</p></ul></li>');
						});
						$(find_list_all).each(function(i,item){
							$('#nodehg-'+item.HGId).parent('li').show();
						})
					}
				});
			}else{
				var rpath;
				var rarr = new Array();
				var _getRoute = function(item){
					if ($("#"+id).length == 0){
						rpath = rarr.join('<span class="fix" />');
						return false;
					}
					var tagname = $("#"+id).parent().parent()[0].tagName;
					if(tagname.toLowerCase() == 'ul'){
						var iid = $("#"+id).attr('id').split('-')[1];
						rarr.unshift('<a href="javascript:;" id="route-'+iid+'">'+$("#"+id).text()+'</a>');
						_getRoute($("#"+id).parent().parent().prev());
					}else{
						rpath = rarr.join('<span class="fix" />');
					}
				}

				var curr_grp=[];
				$(find_list_all).each(function(i,item){
					if(item.HGId == id) curr_grp.push(item);
				})
				
				try{
					_getRoute(obj);
					$('#ywTarget')[0].contentWindow._setRoute(rpath,id,curr_grp,show_flag);
				}
				catch(err){
					setTimeout(function () {_getNode(i,obj,id);}, 100);
				}
				_pathWrap();
			}
		}

	}

	//route
	function _initRoute(){
		var $_root = $('#hostRoute');
		$_root.on('click','a',function(){
			var id = $(this).attr('id').split('-')[1];
			if(id == 'root'){
				//$('#hostRoute').empty().html('<a id="route-root" href="javascript:;">根目录</a>');
				$('#hostCatelog a.active').removeClass('active');
				var data = firstData;
				$('#hostContent div.item').remove();
				$.each(data,function(i,item){
					if(item.type == 0){
						$('#hostContent').append('<div class="item"><div class="c" id="cnode-'+item.id+'" data-mark="'+item.mark+'"><i class="h-bicon h-bicon-g"></i>'+item.name+'</div></div>');
					}else if(item.type == 1){
						$('#hostContent').append('<div class="item"><div class="c" id="cnode-'+item.id+'" data-mark="'+item.mark+'"><i class="h-bicon h-bicon-h"></i>'+item.name+'</div></div>');
					}
				});
				//_hideMenu();
			}else{
				$('#node-'+id).click();
			}
		});
	}


	function _initSize(){
		var h = $(window).height();
		$('.h-catelog').height(h-35).css("visibility",'visible');
		$('.h-content,#ywTarget').height(h);
	}

	function _pathWrap(){
		var w1 = $('div.h-top').width(),
				w2 = $('#route-root').outerWidth(),
				w3 = $('div.filter').outerWidth();
		var ww = w1-w2-w3-60;

		$('div.h-path-wrap span.over').next('span.fix').remove();
		$('div.h-path-wrap span.over').remove();

		$('div.h-path-wrap').width(ww);

		var len = $('div.h-path-wrap>a').length;
		var z = Math.floor(ww/90);
		if(len>z){
			if($('#hOver').length == 0){
				$('body').append('<div id="hOver" />');
			}

			var $over = $('#hOver');
			var n = len-z+1;
			$over.empty();
			$('div.h-path-wrap>a').each(function(i){
				if(i<=n && i>0){
					$(this).clone().show().appendTo($over);
					$(this).hide().next('span.fix').hide();
				}else{
					$(this).show().next('span.fix').show();
				}
			});

			$('div.h-path-wrap>span.fix:first').after('<span class="over">……</span><span class="fix"></span>');
		}else{
			$('div.h-path-wrap>a').show().next('span.fix').show();
		}
	}

	function get_favorite_list(){
		$.ajax({
			url:'/bhost/PGet_FavoriteList',
			type:'post',
			async:false,
			data:{a0:se},
			success:function(result){
				var list_result = JSON.parse(result);
			}
		})
	}
	
	function _setCollParent(obj,hgid,hid,hname){
		if($(obj).hasClass('on')){
			parent.layer.open({
				type: 1,
				title: "收藏",
				content: '<div class="layer-alert"><i class="alert warning"></i>是否取消收藏</div>',
				btn: ['确&nbsp;&nbsp;定','取&nbsp;&nbsp;消'],
				btnAlign: 'c',
				closeBtn: false,
				skin: 'layer-custom',
				area: ['380px', '310px'],
				move: false,
				resize: false,
				btn1: function (i) {
					$.ajax({
						url:'/bhost/cancel_favoritehost',
						type:'post',
						async:false,
						data:{a0:se,z1:hgid,z2:hid,z4:hname},
						success:function(result){
							var cancel_result = JSON.parse(result);
							if (cancel_result.Result){
								$(obj).removeClass('on');
								parent.layer.close(i);
							}else{
								_alert(1,"收藏","执行失败：" + ErrMsg);
								return false;
							}
						}
					});
				},
				btn2: function (i) {
					parent.layer.close(i);
				}
			});
		}else{
			if($('#collLayer').length == 0){
				$('body').append('<div id="collLayer"><div class="cc"></div><div class="btns"><a href="javascript:;" class="btn btn-normal submit">保&nbsp;&nbsp存</a><a href="javascript:;" class="btn btn-normal cancel">重&nbsp;&nbsp置</a></div></div>');
			}

			var $c = $('#collLayer');
			var $cc = $('div.cc',$c);
			$cc.empty();
			$.ajax({
				url:'/bhost/PGet_FavoriteList',
				type:'post',
				async:false,
				data:{a0:se},
				success:function(result){
					var list_result = JSON.parse(result);
					var a_str = "";
					$.each(list_result,function(i,item){
						a_str = a_str + '<a href="javascript:;" class="collbtn" id="'+item.FavoriteId+'" title="'+item.FavoriteName+'">'+item.FavoriteName+'</a>'
					});
					$cc.append(a_str);
				}
			})
			/*
				$.each(collectionList,function(i,item){
					if(item.joined){
						$cc.append('<a href="javascript:;" class="collbtn on" title="'+item.name+'">'+item.name+'</a>');
					}else{
						$cc.append('<a href="javascript:;" class="collbtn" title="'+item.name+'">'+item.name+'</a>');
					}
				});
			*/
			$cc.append('<div class="add"><input type="text" maxlength="50" name="" placeholder="新建收藏夹…" /><a href="javascript:;" class="i" onclick="_addNewColl(this)"><i /></a></div>');

			var collLayer = layer.open({
				type: 1,
				title: '添加到目标收藏夹',
				content: $c,
				area:['678px','350px'],
				skin: 'layer-dialog2'
			});

			$('#collLayer').unbind('click').on('click','a.submit',function(){
				var fid_array = [];
				var fname_str = "";
				$("#collLayer").find('a.collbtn.on').each(function(i,item){
					var fid = $(item).attr('id');
					var fname = $(item).attr('title');
					fid_array.push(fid);
					fname_str = fname_str + fname + ',';
				});
				if (fname_str != ""){
					fname_str = fname_str.substring(0,fname_str.length-1);
				}
				var hgid = $("#hostCatelog").find('a.active').attr('id');
				if (fid_array.length == 0){
					_alert(1,"收藏","请选择收藏夹");
					return false;
				}
				$.ajax({
					url:'/bhost/save_favoritehost',
					type:'post',
					async:false,
					data:{a0:se,z1:hgid.split('-')[1],z2:JSON.stringify(fid_array),z3:hid,z4:hname,z5:fname_str},
					success:function(result){
						$(obj).addClass('on');
						layer.close(collLayer);
					}
				});
			}).on('click','a.cancel',function(){
				$(".collbtn.on").removeClass('on');
				//layer.close(collLayer);
			});

		}
	}

	//
	function _addNewColl(obj){
		var v = $.trim( $(obj).prev().val());
		var NameReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
		if (!NameReg.test(v)){
			_alert(1,"收藏夹","收藏夹名称格式不正确",$(obj).prev());
			return false;
		}
		var len = 0;
		for (var i = 0; i < v.length; i++) {
			 if (v.charAt(i).match(/[\u4E00-\u9FA5]/ig) != null){ //全角 
				len += 2; 
			 }else{
				len += 1;
			}			
		}
		if(len > 50){
			_alert(1,"收藏夹","收藏夹名称过长",$(obj).prev());
			return false;
		}
		if(v != ''){
			$.ajax({
				url:'/bhost/save_favoritelist',
				type:'post',
				async:false,
				data:{a0:se,z1:v},
				success:function(result){
					var result = JSON.parse(result);
					if (result.Result){
						var $new = $('<a href="javascript:;" class="collbtn" id="'+result.FavoriteId+'" title="'+v+'">'+v+'</a>');
						$(obj).parent().before($new);
						$(obj).prev().val('');
					}else{
						_alert(1,"收藏","添加失败：" + result.ErrMsg,$(obj).prev());
						return false;
					}
				}
			});
				}else{
			_alert(1,"收藏","请输入收藏夹名称",$(obj).prev());
			return false;
		}
	}

	function _initEvent(){
		$('body').on('click','#collLayer a.collbtn',function(){
			var $this = $(this);
			if($this.hasClass('on')){
				$this.removeClass('on');
			}else{
				$this.addClass('on');
			}
		});
	}
	
	var loadingLayer = false;
	function show_Loading(){
		loadingLayer = layer.open({
			title:false,
			closeBtn:false,
			content:'<div id="Loading"></div>',
			btn:false,
			skin:'loadingbar',
			area:['250px','250px'],
			move:false,
			resize:false,
			isOutAnim: false,
			shade:[0.1,'#000'],
			success:function(){
			}
		})
	}
	function close_Loading(){
		if(loadingLayer){
			layer.close(loadingLayer);
		}
	}
	var dialog_d ;
	function client_module_show(client_v){
		$("#client_input").val("");
		$("#client_input").prev('label').find('select').val('0').trigger('change');
		var $dialogCont = $("#client_module").show();
		dialog_d = dialog({
			title:"客户端路径",
			content:$dialogCont,
			id:"client_module",
			width:"850px"
		});
		$("#client_module").find('span.form-tag').text(client_v+'：');
		function addEventListener(ele,event,fn){
			if(ele.addEventListener){
				ele.addEventListener(event,fn,false);
			}else{
				ele.attachEvent('on'+event,fn.bind(ele));
			}
		}
		addEventListener(dialog_d,'close',function () {
			 $dialogCont.appendTo("body").hide();
		})
		d = dialog_d;
		d.showModal();
		$("a.btn-cancel",$dialogCont).unbind().bind("click",function(){
			d.close().remove();
				});
				$("a.btn-submit",$dialogCont).unbind().bind("click",function(){
			//d.close().remove();
			$("#ywTarget")[0].contentWindow.save_client();
		});
	}
	function close_dialog(){
		dialog_d.close().remove();
	}
	function remarkDialog_show(planmsg){
		$("#operation_content").val(planmsg);
		var $dialogCont = $("#remarkDialog").show();
		var title = '操作备注';
		var d = dialog({
			title:title,
			content:$dialogCont,
			id:"remarkDialog",
			width:"780px"
		});
		function addEventListener(ele,event,fn){
			if(ele.addEventListener){
				ele.addEventListener(event,fn,false);
			}else{
				ele.attachEvent('on'+event,fn.bind(ele));
			}
		}
		addEventListener(d,'close',function () {
			 $dialogCont.appendTo("body").hide();
		})
		d.showModal();
		$("a.btn-cancel",$dialogCont).unbind().bind("click",function(){
			
		});
		$("a.btn-submit",$dialogCont).unbind().bind("click",function(){
			$("#ywTarget")[0].contentWindow.connect_pro();
			d.close().remove();
		});
	}
	
	//---------------------------秘钥编辑
	var nameReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
	function _addNew3(obj,type){
		editkey1 = obj;
		editkey2 = type;
		clear_sshkey();
		sshkey = {
			"SshKeyId": 0,
			"KeyName": null,
			"KeyType": 0,
			"KeyContent": null,
			"IfValid": false
		};	
		if(type == 0){
			SshKeyId = 0;
		}else{
			SshKeyId = $(obj).children('span').attr('data-value');
			sshkey.SshKeyId = SshKeyId
			editKey(SshKeyId);
		}

		var $dialogCont = $("#SSHKeyDialog").show();
		title = "秘钥";
		
		var d = dialog({
			title:title,
			content:$dialogCont,
			id:"SSHKeyDialog",
			width:"800px"
		});
		function addEventListener(ele,event,fn){
			if(ele.addEventListener){
				ele.addEventListener(event,fn,false);
			}else{
				ele.attachEvent('on'+event,fn.bind(ele));
			}
		}
		addEventListener(d,'close',function () {
			 $dialogCont.appendTo("body").hide();
		})
		d.showModal();
		
		$(".ui-dialog-title").css("width","125px");
		$("a.btn-cancel",$dialogCont).unbind().bind("click",function(){
			_addNew3(editkey1,editkey2);
		});
		
		$("a.btn-submit",$dialogCont).unbind().bind("click",function(){
			var p_id = $("#Protocol1").val();		
			var val = $.trim( $("#d_n1").val());
			var $i = $("#d_n1").next('i.v-check');
			//事件告警信息名
			if (val == "") {
				_alert(2, "密钥", '请输入名称', $("#d_n1"));
				return false;
			}
			if (!nameReg.test(val)) {
				_alert(1, "密钥", '名称格式不正确', $("#d_n1"));
				//$("#d_n1").val("");
				return false;
			}
			sshkey.KeyName = val;
			var Password=$.trim( $('#Password').val());
			var Password_two=$.trim( $('#Password_two').val());
			if(Password.length > 64){
				_alert(2, "密钥", "密码不能超过系统限定64位", $("#Password"));
				return false;
			}
			if(Password==''){
				Password=null;
			}
			else if(Password!=Password_two){
				_alert(2, "密钥","两次密码不匹配",$("#Password"));
				return false;
			}
			sshkey.Password=Password;
			var content = $("#content").val();
			var keycheck = /^[\u4e00-\u9fa5]*$/g;
			if(content==""){
				_alert(2, "密钥", '请填写密钥内容', $("#content"));
				return false;
			}
			if(keycheck.test(content)){_alert(1, "密钥", '密钥格式不正确', $("#content"));return}
			if($("#d_n1").val().length>32) {
				_alert(1, "密钥", '密钥名称已达到最大值', $("#d_n1"));
				return false;
			}
			//if($("#Enable").is(':checked')){
				//sshkey.IfValid = true;
			// }else{
			// 	sshkey.IfValid = false;
			// }
			sshkey.KeyContent = content;
			sshkey.KeyType = parseInt(p_id);

			$.ajax({
				url: '/bhost/add_sshkey_host',
				type: "POST",
				async: false,
				data: { a0: se, a1: JSON.stringify(sshkey), a10: "运维管理>主机"},
				success: function (result) {
					var result = JSON.parse(result);
					if (result.Result == true) {
						$('.btn').blur(); parent.layer.open({
							type: 1,
							title: '密钥',
							content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
							btn: ['确&nbsp;&nbsp;定'],
							btnAlign: 'c',
							closeBtn: false,
							skin: 'layer-custom',
							area: ['380px', '310px'],
							move: false,
							resize: false,
							yes: function (i) {
								d.close().remove();
								parent.layer.close(i);

								var id_str = $("#ywTarget").contents().find("#SSHkey_s").data('value');
								var name_str = $("#ywTarget").contents().find("#SSHkey_s").children().find('span').text();
								if(name_str == '请选择'){
									$("#ywTarget")[0].contentWindow.bind_SSHkey_xSelect();
									$("#ywTarget").contents().find("#SSHkey_s").data('value',result.SshKeyId);
									$("#ywTarget").contents().find("#SSHkey_s").children().find('span').text(val);
								}else{
									$("#ywTarget")[0].contentWindow.bind_SSHkey_xSelect();
									$("#ywTarget").contents().find("#SSHkey_s").data('value',id_str);
									$("#ywTarget").contents().find("#SSHkey_s").children().find('span').text(name_str);
								}
							}
						});
					} else {
						_alert(1, "密钥管理", result.ErrMsg, $("#d_n1"));
						return false;
					}
				}
			});
		})
	}
	function clear_sshkey(){
		$("#d_n1").val("");
		$("#SSHKeyDialog .v-check").attr("class","v-check");
		$("#Protocol1").val("1").trigger('change');
		$("#Protocol1").attr('disabled','true');
		$("#d_n1").removeAttr("disabled"); 
		$("#Password").val("");
		$("#Password_two").val("");
		$("#content").val("");
	}
	function editKey(id){
		$.ajax({
			url: '/bhost/get_sshkey',
			type: "POST",
			async: false,
			data: { a0: se, a1: id, a2: null},
			success: function (result) {
				var result = JSON.parse(result);
				if (result.Result == true) {
					key_Data = result.info.data[0];
					$("#d_n1").val(key_Data.KeyName);
					$("#d_n1").attr('disabled','true');
					$("#content").val(key_Data.KeyContent);
					$("#Password").val(key_Data.Password);
					$("#Password_two").val(key_Data.Password);
				} else {
					_alert(1, "密钥管理", result.ErrMsg, $("#d_n1"));
					return false;
				}
			}
		});
	}
</script>

<script>
	//搜索
	var manage_filter_flag = 0;
	var keyword_re = [];
	var filter_keyword = "";
	var quick_link = 0;
	var filter_flag = false;
	function _addFilter(obj, type) {
		filter_flag = true;
		$('#protocolLink').removeClass('show');
		if (quick_link == 1) {
			$("#RightTip").css({ "cursor": "pointer" });
		}
		var add = 0;
		var keyword = $.trim($("#keyword").val());
		$("#keyword").blur();

		var filter_sel = $("#find_select").val();
		var addfilter;
		if (filter_sel == "all") {
			addfilter = keyword;
			keyword_v = "all-" + keyword;
		} else if (filter_sel == "hostname") {
			addfilter = '主机名-' + keyword;
			keyword_v = 'hname-' + keyword;
		} else if (filter_sel == "hostip") {
			addfilter = '主机IP-' + keyword;
			keyword_v = 'IP-' + keyword;
		} else {
			addfilter = '协议-' + keyword;
			keyword_v = 'pname-' + keyword;
		}
		if (keyword == "") {
			$("#keyword").blur();
			_alert(2, "搜索", "请输入关键字", $("#keyword"));
			return false;
		}
		$("#filterWW li").each(function (i, item) {
			var filter = $(item).find('.ww').text();
			if (filter == addfilter) {
				add = 1;
				_alert(2, "搜索", "相同的搜索条件已存在", $("#keyword"));
			}
		});
		var add_filter = 0;
		if (type) {
			if (add != 1) {
				if (manage_filter_flag == 1) {
					if (keyword_re.indexOf(keyword_v) != -1) {
						add_filter = 1;
					}
					keyword_re.splice(-1, 1);
					manage_filter_flag = 0;
				}
				$("#filterWW").show();
				$("#clearFilter").show();
				$("#filterWW ul").append("<li><span class=\"ww\" data-value=\"" + keyword_v + "\">" + addfilter + "</span><i class=\"del\" onclick=\"_delFilter(this)\"></i></li>");
				keyword_re.push(keyword_v);
			}
			$("#keyword").val('');
			$("#v_clear").hide();
			filter_keyword = ""
		} else {
			if (manage_filter_flag == 1) {
				keyword_re.splice(-1, 1);
			}
			manage_filter_flag = 1;
			keyword_re.push(keyword_v);
			filter_keyword = keyword_v;
		}
		if ($("#curpage").val() == 1 && add_filter == 1) {
			return false;
		}
		$("#curpage").val(1);
		_getWait($(".waitTip"));
		find_host();
		//$("#keyword").focus();
	}

	function _clearFilter(obj) {
		filter_flag = false;
		$("#filterWW").children('ul').empty();
		$("#filterWW").hide();
		$("#clearFilter").hide();
		keyword_re = [];
		$("#keyword").val('');
		$('#protocolLink').removeClass('show');
		if (quick_link == 1) {
			$("#RightTip").css({ "cursor": "pointer" });
		}
		manage_filter_flag = 0;
		$("#v_clear").hide();
		if (parent.$("#hostCatelog").find('a.active').length == 0) {
			return false;
		}
		SearchTime = '';
		_initList();
	}

	//移除搜索条件
	function _delFilter(obj) {
		$('#protocolLink').removeClass('show');
		if (quick_link == 1) {
			$("#RightTip").css({ "cursor": "pointer" });
		}
		var filter_text = $(obj).parent().children('span').attr('data-value');
		$(obj).parent().remove();
		keyword_re.splice($.inArray(filter_text, keyword_re), 1);
		if ($("#filterWW").children("ul").children('li').length == 0) {
			filter_flag = false;
			$("#filterWW").hide();
			$("#clearFilter").hide();
		}
		if (keyword_re.length == 0) {
			_initList();
			SearchTime = '';
		} else {
			find_host();
		}
	}

	function _clear_keyword() {
		$("#keyword").val("");
		$("#v_clear").hide();
		if (filter_keyword != "") {
			filter_keyword = "";
			keyword_re.splice(-1, 1);
			manage_filter_flag = 0;
			if (keyword_re.length == 0) {
				filter_flag = false;
				_initList();
				SearchTime = '';
			} else {
				find_host();
			}
		}
	}

	function change_input(obj) {
		if ($(obj).val() == "" && filter_keyword != "") {
			filter_keyword = "";
			manage_filter_flag = 0;
			keyword_re.splice(-1, 1);
			if (keyword_re.length == 0) {
				SearchTime = '';
				filter_flag = false;
				_initList();
			} else {
				find_host();
			}
		}
	}

	var host_array_temp = [];
	var SearchTime = '';
	function find_host() {
		$('#ywTarget').contents().find('#fList').empty();
		$('#ywTarget').contents().find('#route-root').next('div').remove();
		SearchTime = (new Date()).valueOf();
		list_hgid = $('#first_grp').val();
		if(list_hgid == 0){
		}else{
			$('#hostCatelog>li').each(function(){
				b = $(this).children('a').attr('id').split('-')[1];
				if(list_hgid == b){
					$(this).show();
				}else{
					$(this).hide();
				}
			})
		}
		
		$.ajax({
			url: '/bhost/PFindHostForPageAccess',
			type: 'post',
			async: true,
			data: { a0: se, z1: list_hgid, z6: JSON.stringify(keyword_re),z7: SearchTime},
			success: function (result) {				
				_showList();
			}
		})
	}

	function _getWait(obj) {
		if (typeof waitDonelayer != 'undefined') {
			layer.close(waitDonelayer);
		}

		$(obj).removeClass('done').show().unbind().on('mouseover', function () {
			waitlayer = layer.tips('搜索中', this, {
				tips: 1,
				time: 0,
				skin: 'waitlayer'
			});
		}).on('mouseout', function () {
			if (typeof waitlayer != 'undefined') {
				layer.close(waitlayer);
			}
		});
	}
	function _waitDone(obj) {
		if (typeof waitlayer != 'undefined') {
			layer.close(waitlayer);
		}
		$(obj).fadeOut(3000);
		if (typeof waitDonelayer != 'undefined') {
			layer.close(waitDonelayer);
		}
	}

	function up_filter() {
		if ($('#keyword').val() != '') {
		} else {
			$('#v_clear').show();
			$('#v_clear').hide();
		};
	}
	function hide_grp(){
		$('#hostCatelog>li').hide();
	}
	var first_grp = [];
	var find_list_all = [];
	function _showList(){
		list_hgid = $("#first_grp").val();
		var get_search_str ={
			"SearchTime":""+SearchTime,
			"hgid":list_hgid,
			"limitrow":null,
			"offsetrow":null			
		} 
		first_grp = [];
		find_list_all = [];
		$.ajax({
			url: '/bhost/PGetHostForPageAccess',
			type: 'post',
			async: true,
			data: { a0: se, z6:JSON.stringify(get_search_str)},
			success: function (result) {
				find_list_all = JSON.parse(result);
				first_grp = [];
				var first_grp_id = 0;
				if(find_list_all.length != 0) $('#hostCatelog>li').hide();
				else{
					_alert(0, "主机分组", "无搜索结果", $("#keyword"));
					_waitDone($(".waitTip"));
					return 0;
				}
				$(find_list_all).each(function(i,item){
					if(item.HGId == -1){
						item.HGId = 'recent';
					}
					if(i == 0) {					
						first_grp_id  = item.HGId;
					}
					if(first_grp_id == item.HGId) first_grp.push(item);
					$('#nodehg-'+item.HGId).parent('li').show();
				})
				if (first_grp.length != 0){
					$("#nodehg-" + first_grp_id).click();
				}
				_waitDone($(".waitTip"));
			}
		})
	}
	function select_first_grp(obj){
		if (keyword_re.length == 0) {
			return 0;
		}
		var a = $(obj).val();
		//console.log(a);
		if(a == 0){
			$('#hostCatelog>li').show();
		}else{
			$('#hostCatelog>li').each(function(){
				b = $(this).children('a').attr('id').split('-')[1];
				//console.log(b);
				if(a == b){
					$(this).show();
				}else{
					$(this).hide();
				}
			})
		}
		find_host();
	}
	function add_recent(){
		if($("#hostCatelog").find("#nodehg-recent").length == 0){
			$('#hostCatelog').prepend('<li><i class="h-blank" data-id="arrHG-recent"/><a href="javascript:;" id="nodehg-recent" onclick="RecentPage();"><i class="h-eicon h-eicon-t-m"></i>最近访问</a><ul><p>Loading...</p></ul></li>');
			var val_tmp = $("#first_grp").val();
			$("#first_grp").prepend('<option value="-1" selected>最近访问</option>');
			$("#first_grp").select2('destroy').select2({minimumResultsForSearch: -1});
			$("#first_grp").val(val_tmp).trigger('change');
		}else{
			if($("#hostCatelog").find("#nodehg-recent").is(":visible") == false){
				$("#hostCatelog").find("#nodehg-recent").show();
			}
		}
	}

</script>
</body>

</html>
