{% extends "index.html" %} 
{% block head %}
<script src="/manage/js/icheck.min.js"></script>
<script src="/manage/js/select2.full.min.js"></script>
<script src="/manage/js/xSelect.js"></script>
<script src="/manage/js/common.js"></script>
<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
<link rel="stylesheet" href="/manage/css/select2.min.css">
<link rel="stylesheet" href="/manage/css/style.css">
<script type="text/javascript" src="/manage/js/dialog-plus.js"></script>
<link rel="stylesheet" href="/manage/css/ui-dialog.css" type="text/css" />
<link rel="stylesheet" href="/manage/css/G-style.css" type="text/css" /> 
<link rel="stylesheet" href="/manage/css/new-head.css">

{% endblock %} 
{% block main %}
<style>
	.btns {
		background-color: rgba(255,255,255,1);
	}
	.as {
		width: 190px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		float: left;
		margin-top: 7px;
	}

	.h-content2 .form-item {
		height: auto;
		padding: 20px 0 10px;
		min-height: 38px;
		padding: 5px;
		width: 100%;
	}

	.h-content2 .form-tag {
		float: left;
		width: 10em;
		text-align: right;
		color: #000;
		line-height: 28px;
	}

	.h-content2 .form-c {
		padding-left: 0px;
		position: relative;
	}

	.h-content2 .form-text {
		width: 200px;
		padding-right: 8px;
	}

	.h-content2 .rzj {
		float: right;
		margin-right: 40px;
		color: #000;
		margin-top: -4px;
	}

	.h-content2 .form-tip {
		padding-left: 48px;
	}

	a.btn-normal1 {
		display: inline-block;
		width: 90px;
		height: 32px;
		border: 1px solid #DDD;
		text-align: center;
		line-height: 32px;
		border-radius: 18px;
		margin: 0 10px;
		background-color: #fff;
		transition: background-color 0.4s;
		color: #7c7c7c;
	}

	a.btn-normal1:hover {
		background-color: #8d808a;
		color: #fff;
	}

	.ui-dialog-content .c-form-host {
		min-width: 780px;
	}
	.filter .selector.selector-multiple:after {
		content: '';
		display: block;
		border-color: #888 transparent transparent transparent;
		border-style: solid;
		border-width: 5px 4px 0 4px;
		height: 0;
		width: 0;
		overflow: hidden;
		position: absolute;
		margin: 12px 0 0 9em;
	}
	.c-table {
		padding: 20px 10px;
	}

	.c-form-host.col3 .form-item {
		width: 33.3%;
	}
	.h-top {
		width: 100%;
		height: 34px;
		position: absolute;
		background-color: #e6e6e6;
		border-bottom: none;
	}
	.c-form-host.col3 .form-item-100 {
		width: 100%;
	}

	.c-form-host.col3 .form-item .form-text {
		width: 100px;
		padding-right: 8px;
	}

	.c-form-host.col3 .form-item .h-content3 {
		padding: 0;
	}

	.select2-container--open {
		z-index: 9999999;
	}

	.blank_in {
		width: 12px;
	}
	.g-tsel:after {
		border-width: 4px;
		right: 7px;
		top: 9px;
	}
	.g-tsel1:after {
		right: 11px;
	}
	.h-content2 span.checkbox:not(.disabled) {
		cursor: pointer;
	}
	.h-content2 span.disabled {
		cursor: default;
	}
</style>
<!---->

<div class="mainer">
	<div class="container" id="step1">
		<div class="c-top">
			<div class="c-title">
				<div class="manual-head">
						<div class="manual-title-other title-item" style="display:none;color: rgb(121, 121, 121);background: rgb(222, 222, 222)">
							<span id="pwd_set" >主机</span>
							<i class="pwd_set_icon" style="display: none;"></i>
						</div>
						<div class="manual-title-other title-item" style="display:none;color: rgb(121, 121, 121);" >
							<span id="hostpwd_show">密码</span>
							<i class="pwd_set_icon" style="display: none;"></i>
						</div>
						<div class="manual-title-other title-item" id="frist" style="display:none;">
							<span id="hostsend_show">发送方式</span>
							<i class="pwd_set_icon" style=""></i>
						</div>
				</div>
			</div>
		</div>
		<script>
			var perm={{perm}};
			var perm_1={{perm_1}};
			if(perm>0){
				$('.manual-head .title-item').show();
			}else{
				$('.manual-head .title-item').eq(0).remove();
				$('.manual-head .title-item').show();
			}
		</script>
		<div class="c-cont">
			<div class="c-wrap" style="padding: 10px 0 0">
				<div class="c-exp" style="margin: -1px auto;">
					<div class="h-explorer">
						<div class="G-top">
							<div class="G-box1"></div>
							<strong>&nbsp;发送方式</strong>
						</div>
						<div class="h-content2" style="height: auto;width: 100%;overflow: hidden;padding: 14px 0 0;">
							<div class="form-item">
								<span class="form-tag">发送方式：</span>
								<div class="form-c">
									<select name="ResultSendMethod" id="ResultSendMethod" class="form-select" style="width: 168px" onchange="_switchShow(this)">
										<option value="1" selected>邮件</option>
										<option value="2">FTP</option>
									</select>
								</div>
							</div>
							<div class="form-item" style="display:none;">
								<span class="form-tag">默认：</span>
								<div class="form-c">
									<div class="xSelect xSelect_stmp1"></div>                                    
								</div>
							</div>
							<div class="form-item" style="display:none;">
								<span class="form-tag">备用：</span>
								<div class="form-c">
									<div class="xSelect xSelect_stmp2" style="float:left;"></div>  
								</div>
							</div>
							<div class="form-item" style="display:none;">
								<span class="form-tag">默认：</span>
								<div class="form-c">
									<div class="xSelect xSelect_ftp1"></div>
								</div>
							</div>
							<div class="form-item" style="display:none;padding-bottom: 20px;">
								<span class="form-tag">备用：</span>
								<div class="form-c">
									<div class="xSelect xSelect_ftp2" style="float: left;"></div>
									
								</div>
							</div>
							<div class="form-item" style="display:none;padding-bottom: 20px;">
								<span class="form-tag"><em class="imp">*</em>接收者：</span>
								<div class="h-content3" id="select_r" style="margin-top: -19px; width:80%;padding: 10px 20px 0px 19px;">
									<div class="item" style="width: 225px;float: left;margin-left: -19px;">
										<select class="form-select" id="ReceiverSet" name="ReceiverSet" style="width: 168px">
											<option value="0" selected>请选择</option>
										</select>
										<i class="ctrl add" onclick="_addReceiver(this);"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="btns">
		<a href="javascript:;" class="btn btn-normal " onclick="_finish();" style="font-weight: 400;">保&nbsp;&nbsp;存</a>

	</div>
	<div id="bBtn" style="position: fixed;z-index:5;">
		<a href="javascript:;" class="btn" style="float: right;" onclick="back();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
	</div>
</div>
<form action="/bhost/index" method="POST" name="frm_pwdauth_add" id="frm_pwdauth_add">
	<input type="hidden" name="tasktype" id="tasktype" value="{{tasktype}}" />
	<!--创建 编辑 列表-->
	<input type="hidden" name="se" id="se" value="{{se}}" />
</form>
<!--浮层-->
<!--邮件  -->
<div class="dialog-cont" id="smtp_suspend" style="display:none;max-height:500px">
	<div class="container" style="margin-top: -10px;">
		<div class="c-cont" style="padding: 0px; height: 281px;overflow: hidden;">
		<!-- <div class="" style="padding: 0px; height: 281px;"> -->
			<div class="c-form " style="overflow: auto;height: 70%;">
				<div class="form">
					<div class="form-item" style="padding: 10px 0;" id="SmtpConfig_Master" name="SmtpConfig_Master">
						<span class="form-tag" style="width: 285px;"><em class="imp">*</em>配置名称：</span>
						<div class="form-c">
							<input style="width: 224px;"  type="text" class="form-text" id="SmtpConfigName_Master" name="SmtpConfigName_Master"  onblur="regCheck(this,nameReg);">
							<i class="v-check" style=""></i>
							 <p class="form-tip" style="padding-left: 84px;">仅支持中文、字母、数字、下划线、横杠、小数点</p>
						</div>
					</div>

					<div class="form-item" style="padding: 10px 0;">
						<span class="form-tag" style="width: 285px;"><em class="imp">*</em>服务器地址：</span>
						<div class="form-c">
							<input style="padding-right: 8px;" type="text" class="form-text" id="SmtpServer_Master" name="SmtpServer_Master">
						</div>
					</div>
					<div class="form-item" style="padding: 10px 0;display:none;" >
						<span class="form-tag" style="width: 285px;">DNS服务地址：</span>
						<div class="form-c">
							<input style="padding-right: 8px;" type="text" class="form-text" id="DNS_Master" name="DNS_Master">
						</div>
					</div>
					<div class="form-item" style="padding: 10px 0;">
						<span class="form-tag" style="width: 285px;"><em class="imp">*</em>发送邮箱地址：</span>
						<div class="form-c">
							<input style="padding-right: 8px;" 
							onblur="if($('#Sender_Master').val()==''){$('#Sender_Master').val($('#SenderEmail_Master').val());}" 
							type="text" class="form-text" id="SenderEmail_Master" name="SenderEmail_Master">
						</div>
					</div>
					<div class="form-item" style="padding: 10px 0;">
						<span class="form-tag" style="width: 285px;">服务器帐号：</span>
						<div class="form-c">
							<input style="padding-right: 8px;" 
							onblur="if($('#Sender_Master').val()==''){$('#Sender_Master').val($('#SenderEmail_Master').val());}"
							type="text" class="form-text" id="Sender_Master" name="Sender_Master">
						</div>
					</div>
					<div class="form-item" style="padding: 10px 0;">
						<span class="form-tag" style="width: 285px;">服务器验证：</span>
						<div class="form-c g-radios" id="ServerVerify_Master" name="ServerVerify_Master">
							<label class="form-label" style="line-height: 30px;"><input class="form-radio" type="radio" name="b" value="1" id="b1" checked="checked">否</label>
							<label class="form-label" style="line-height: 30px;"><input class="form-radio" type="radio" name="b" value="2" id="b2">是 
								<input type="password" maxlength="128"  class="form-text" value="" style="display: none;width: 80px;margin-top: -1px;" id="SenderEmailPass_Master" name="SenderEmailPass_Master">
							</label>
						</div>
					</div>
					<div class="form-item" style="padding: 10px 0;">
						<span class="form-tag" style="width: 285px;"><em class="imp">*</em>附件大小：</span>
						<div class="form-c">
							<input type="text" class="form-text" maxlength="5" style="width: 82px;padding-right: 8px;" id="AttachMaxLimit_Master" name="AttachMaxLimit_Master">												M (应用于报表邮件抄送)
						</div>
					</div>

					
					<div class="form-item" style="padding: 10px 0;">
						<span class="form-tag" style="width: 285px;"><em class="imp">*</em>编码方式：</span>
						<div class="form-c">
							<select name="EnCode" id="EnCode" class="form-select" style="width: 100px" onchange="">
								<option value="0" selected>UTF-8</option>
								<option value="1">GBK</option>
							</select>
						</div>
					</div>
					<div class="form-item" style="padding: 10px 0;">
						<span class="form-tag" style="width: 285px;"><em class="imp">*</em>方式：</span>
						<div class="form-c">
							<select name="Flag" id="Flag" class="form-select" style="width: 100px" onchange="">
								<option value="2">默认</option>
								<option value="1">备用</option>
								<option value="0">其他</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="btns" style="margin-bottom: -20px;margin-left:-20px;width:840px;">
		<a href="javascript:;" class="btn btn-normal btn-submit perm_1_disabled">保&nbsp;&nbsp;存</a>
		<a href="javascript:;" class="btn btn-normal btn-cancel">重&nbsp;&nbsp;置</a>
	</div>
</div>
<!--ftp  -->
<div class="dialog-cont" id="ftp_suspend" style="display:none;max-height:500px">
	<div class="container" style="margin-top: -10px;">
			<div class="c-cont" style="padding: 0px; height: 281px;overflow:hidden;">
			<div class="c-form " style="overflow: auto;height: 70%;">
				<div class="form">
					<div class="form-item" style="padding: 10px 0;" id="FTPServer_Master" name="FTPServer_Master">
						<span class="form-tag" style="width:285px;"><em class="imp">*</em>配置名称：</span>
						<div class="form-c">
							<input type="text" style="width: 224px;" class="form-text" id="FTPServerName_Master" name="FTPServerName_Master" onblur="regCheck(this,nameReg);">
							<i class="v-check" style=""></i>
							 <p class="form-tip" style="padding-left: 84px;">仅支持中文、字母、数字、下划线、横杠、小数点</p>
						</div>
					</div>
					<div class="form-item" style="padding: 10px 0;">
						<span class="form-tag" style="width:285px;"><em class="imp">*</em>服务器地址：</span>
						<div class="form-c">
							<input style="padding-right: 8px;" type="text" class="form-text" id="ServerIP_Master" name="ServerIP_Master">
						</div>
					</div>
					<div class="form-item" style="padding: 10px 0;">
						<span class="form-tag" style="width:285px;"><em class="imp">*</em>用户名：</span>
						<div class="form-c">
							<input style="padding-right: 8px;" type="text" class="form-text" id="ServerUser_Master" name="ServerUser_Master">
						</div>
					</div>
					<div class="form-item" style="padding: 10px 0;">
						<span class="form-tag" style="width:285px;"><em class="imp">*</em>用户密码：</span>
						<div class="form-c">
							<input style="padding-right: 8px;" maxlength="128" type="password" class="form-text" id="ServerPasswd_Master" name="ServerPasswd_Master">
						</div>
					</div>
					<div class="form-item" style="padding: 10px 0;">
						<span class="form-tag" style="width:285px;"><em class="imp">*</em>上传路径：</span>
						<div class="form-c">
							<input style="padding-right: 8px;" type="text" class="form-text" id="ServerPath_Master" name="ServerPath_Master">
						</div>
					</div>
					<div class="form-item" style="padding: 10px 0;">
						<span class="form-tag" style="width: 285px;"><em class="imp">*</em>方式：</span>
						<div class="form-c">
							<select name="ftpFlag" id="ftpFlag" class="form-select" style="width: 100px" onchange="">
								<option value="2">默认</option>
								<option value="1">备用</option>
								<option value="0">其他</option>
							</select>
						</div>
					</div>
					<div class="form-item" style="padding: 10px 0;">
						<span class="form-tag" style="width: 285px;"><em class="imp">*</em>模式：</span>
						<div class="form-c">
							<select name="IfPasv" id="IfPasv" class="form-select" style="width: 100px" onchange="">
								<option value="1">被动</option>
								<option value="2">主动</option>
							</select>
						</div>
					</div>  
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="btns" style="margin-bottom: -20px;margin-left:-20px;width:840px;">
		<a href="javascript:;" class="btn btn-normal btn-submit perm_1_disabled">保&nbsp;&nbsp;存</a>
		<a href="javascript:;" class="btn btn-normal btn-cancel">重&nbsp;&nbsp;置</a>
	</div>
	
</div>

{% endblock %} 
{% block script %}


<script>
	if(perm_1==1){
		$('.perm_1_disabled').remove();
	}
	$('.form-checkbox,.form-radio').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
		radioClass: 'iradio_minimal-blue',
		increaseArea: '0' // optional
	});
	$('.form-select,.filter-select').select2({ minimumResultsForSearch: -1 });
	var smtpconfig = null;
	var smtpconfig_data_all=null;
	var ftpconfig_data_all=null;
	var ftpserver = null;
	var usercode = "";
	var type = 1;
	var hostpwd_edit = null;
	var nameReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
	var hostpwd = {
		"HostPwdStrategyId": 0,
		"PwdMinLen": 8,
		"IfPwdComplex": false,
		"PwdIncUpperAphaCount": 1,
		"PwdIncLowerAphaCount": 1,
		"PwdIncNumberCount": 1,
		"PwdIncSpecialCharCount": 0,
		"IfPwdUnRepeat": false,
		"CharRepeatCount": 1,
		"UnRepeatCharCount": 0,
		"Password": null,
		"SendMethod": 1,    //密码发送方式,1-邮件，2-FTP
		"MasterSmtpConfigId": null,
		"StandBySmtpConfigId": null,
		"ReceiverSet": [],
		"MasterFTPServerId": null,
		"StandByFTPServerId": null,
		"IfPwdApprove":false, 
		"PwdApproveUserId": null, 
	};
	var smtpconfig_save = {
		"SmtpConfigId": 0,
		"SmtpConfigName": null,
		"SmtpServer": null,
		"DNS": null,
		"Sender": null,
		"SenderEmail": null,
		"AttachMaxLimit": 20,
		"ServerVerify": true,
		"SenderEmailPass": null,
		"Flag": 0,     
		"EnCode": 0
	};
	var ftpserver_save = {
		"FTPServerId": 0,
		"FTPServerName": null,
		"ServerIP": null,
		"DNS": null,
		"ServerUser": null,
		"ServerPasswd": null,
		"ServerPath": null,
		"Flag": 0 ,
		"IfPasv": true
	};
	var urlReg = /^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
	var ipReg = /(^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-4]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])$)/;
	var hostcheck1=/^(https?:\/\/)?(w{3}\.)?([a-zA-Z0-9-_.])+\.(com|cn|gov|info|us|hk|tw|cc|tv|uk|org)$/;
	var hostcheck2=/^(https?:\/\/)?((2[0-4]\d|25[0-5]|[01]?\d\d?)\.){3}(2[0-4]\d|25[0-5]|[01]?\d\d?)$/;
	$(function () {
		
		$('#ReceiverSet').on('change',function () {
			var ReceiverSet = $('#ReceiverSet').val();
			if ($('#ReceiverSet').find('option').length == 2 && $('#ReceiverSet option:selected').val() != '0') {
				_addReceiver($('#ReceiverSet').siblings('i'));
				$('#ReceiverSet').parent('div.item').hide();
			} else if ($('#ReceiverSet').find('option').length == 1) {
				$('#ReceiverSet').parent('div.item').hide();
			} else {
				$('#ReceiverSet').parent('div.item').show();
			}
		})
		
		$('#AttachMaxLimit_Master').bind('keydown', function (e) {
			DigitInput(e);
		}).on("input propertychange", function () {				//防止在输入法开启的情况下输入非数字
			this.value = this.value.replace(/\D/g, "").trim();
		});
		$("#pwd_set").on("click",function(){
			pwd_setting();
		});
		$('#hostpwd_show').on('click',function () {
			hostpwd_showing();
		});
		$('#hostsend_show').on('click',function () {
			hostsend_showing();
		});
		$('.xSelect').on('click','.xSelect-show',function () {
			$focusObj=$(this).parents('.xSelect');
		});
		$('.g-radios').on('ifChecked', 'input[type=radio]', function () {
			var v = $(this).val();
			if (v == 2 || v == 3) {
				$(this).parents('.g-radios').find('input[type=text],input[type=password]').show();
			} else {
				$(this).parents('.g-radios').find('input[type=text],input[type=password]').hide();
			}
		}).on('ifChecked', 'input[type=checkbox]', function () {
			$(this).parents('label').next('span.forCheck').show();
		}).on('ifUnchecked', 'input[type=checkbox]', function () {
			$(this).parents('label').next('span.forCheck').hide();
		});
		var pass=true;
		$.ajax({
			url: '/bhost/get_user_all_admin',
			type: "POST",
			async: false,
			data: { a0: $("input[name=se]").val() },
			success: function (result) {
				var result=JSON.parse(result);
				if(result.Result){
					ReceiverSet_array=new Array();
					$.each(result.info,function (i,params) {
						ReceiverSet_array[params.UserId]='<option value="'+params.UserId+'">'+params.UserCode+'</option>';
					});
					$('#ReceiverSet').append(ReceiverSet_array.join(''));
				}else{
					_alert(1,'主机设定',result.ErrMsg);
					pass=false;
					return false;
				}
			}
		});
		if(!pass){
			return false;
		}
		$.ajax({
			url: "/bhost/get_smtpconfig",
			type: "POST",
			async: false,
			data: { a0: $("input[name=se]").val() },
			success: function (result) {
				var result = JSON.parse(result);
				if (result.Result) {
					var data = result.info;
					smtpconfig_data_all=result.info.data;
					smtpconfig=new Array();
					smtpconfig[0] =(JSON.parse('{"value":0,"name":"全局指定","type":null}'));
					$.each(data.data, function (i, item) {
						if(item.SmtpConfigId==0){
							return true;
						}
						smtpconfig[item.SmtpConfigId]=(JSON.parse('{"value":'+item.SmtpConfigId+',"name":"'+item.SmtpConfigName+'","type":"'+(perm_1==2?'edit':'check')+'"}'));
					})
				} else {
					_alert(1, '邮件服务器查询', result.ErrMsg);
					return false;
				}
			}
		});
		$.ajax({
			url: "/bhost/get_ftpserver",
			type: "POST",
			async: false,
			data: { a0: $("input[name=se]").val() },
			success: function (result) {
				var result = JSON.parse(result);
				if (result.Result) {
					var data = result.info;
					ftpconfig_data_all=result.info.data;
					ftpserver = new Array();
					ftpserver[0] =(JSON.parse('{"value":0,"name":"全局指定","type":null}'));
					$.each(data.data, function (i, item) {
						if(item.FTPServerId==0){
							return true;
						}
						ftpserver[item.FTPServerId] =(JSON.parse('{"value":'+item.FTPServerId+',"name":"'+item.FTPServerName+'","type":"'+(perm_1==2?'edit':'check')+'"}'));
					})
				} else {
					_alert(1, 'FTP服务器查询', result.ErrMsg);
					return false;
				}
			}
		});
		xSelect_json={
			width: 168,
			defaultText: '全局指定',
			items:smtpconfig,
			edit: function(item,obj){
				$('.'+$('.xSelect_stmp1 .xSelect-show').data('id')).hide();
				get_dialog_stmp(item,1);
			},
			check: function(item,obj){
				$('.'+$('.xSelect_stmp1 .xSelect-show').data('id')).hide();
				get_dialog_stmp(item,1);
			},
			delete: function(item,obj){
			},
			btn:[
			],
			setval:function(item,obj){
				update_xSelect($('.xSelect_stmp2'));
			}
		};
		if(perm_1==2){
			xSelect_json.btn.push(
				{
					'name':'新增',
					'event': function(items,obj){
						get_dialog_stmp(items,2);
					}
				});
		}
	   $('.xSelect_stmp1').xSelect(xSelect_json);
		
		$('.xSelect_stmp1').data('value',0);
		xSelect_json={
			width: 168,
			defaultText: '全局指定',
			items:smtpconfig,
			edit: function(item,obj){
				$('.'+$('.xSelect_stmp2 .xSelect-show').data('id')).hide();
				get_dialog_stmp(item,1);
			},
			check: function(item,obj){
				$('.'+$('.xSelect_stmp2 .xSelect-show').data('id')).hide();
				get_dialog_stmp(item,1);
			},
			delete: function(item,obj){
			},
			btn:[
			],
			setval:function(item,obj){
				update_xSelect($('.xSelect_stmp1'));
			}
		};
		if(perm_1==2){
			xSelect_json.btn.push(
				{
					'name':'新增',
					'event': function(items,obj){
						get_dialog_stmp(items,2);
					}
				});
		}
		$('.xSelect_stmp2').xSelect(xSelect_json);
		$('.xSelect_stmp2').data('value',0);
		xSelect_json={
			width: 168,
			defaultText: '全局指定',
			items:ftpserver,
			edit: function(item,obj){
				$('.'+$('.xSelect_ftp1 .xSelect-show').data('id')).hide();
				get_dialog_ftp(item,1);
			},
			check: function(item,obj){
				$('.'+$('.xSelect_ftp1 .xSelect-show').data('id')).hide();
				get_dialog_ftp(item,1);
			},
			delete: function(item,obj){
			},
			btn:[
			],
			setval:function(item,obj){
				update_xSelect($('.xSelect_ftp2'));
			}
		};
		if(perm_1==2){
			xSelect_json.btn.push(
				{
					'name':'新增',
					'event': function(items,obj){
						get_dialog_ftp(items,2);
					}
				});
		}
		$('.xSelect_ftp1').xSelect(xSelect_json);
		$('.xSelect_ftp1').data('value',0);
		xSelect_json={
			width: 168,
			defaultText: '全局指定',
			items:ftpserver,
			edit: function(item,obj){
				$('.'+$('.xSelect_ftp2 .xSelect-show').data('id')).hide();
				get_dialog_ftp(item,1);
			},
			check: function(item,obj){
				$('.'+$('.xSelect_ftp2 .xSelect-show').data('id')).hide();
				get_dialog_ftp(item,1);
			},
			delete: function(item,obj){
			},
			btn:[
				
			],
			setval:function(item,obj){
				update_xSelect($('.xSelect_ftp1'));
			}
		};
		if(perm_1==2){
			xSelect_json.btn.push({
					'name':'新增',
					'event': function(items,obj){
						get_dialog_ftp(items,2);
					}
				});
		}
		$('.xSelect_ftp2').xSelect(xSelect_json);
		$('.xSelect_ftp2').data('value',0);
		_initSize();
		$.ajax({
			url: '/bhost/get_hostpwdstrategy',
			type: "POST",
			async: false,
			data: { a0: $("input[name=se]").val() },
			success: function (result) {
				var hostpwd_result = JSON.parse(result);
				if (hostpwd_result.Result) {
					var hostpwd_data = hostpwd_result.info;
					if (hostpwd_data != null) {
						if(hostpwd_data.ReceiverSet==null){
							hostpwd_data.ReceiverSet=new Array();
						}
						hostpwd_data.SendMethod=hostpwd_data.SendMethod||1;
						$('#ResultSendMethod').val(hostpwd_data.SendMethod).trigger('change');
						//console.log(hostpwd_data.ReceiverSet);
						//console.log(hostpwd_data.SendMethod==1);
						//console.log(hostpwd_data.ReceiverSet.length>0);
						if(hostpwd_data.SendMethod==1 && hostpwd_data.ReceiverSet.length>0){
							var num=0;
							for(var i=0;i<hostpwd_data.ReceiverSet.length;i++){
								var item=hostpwd_data.ReceiverSet[i];
								//console.log(item);
								if($('#ReceiverSet option[value='+item.Id+']').length==1){
									if(num>0){
										_addReceiver($('#ReceiverSet').siblings('i'));
									}
									$('#ReceiverSet').val(item.Id).trigger('change');
									num++;
								}
							}
						}
						if (hostpwd_data.MasterFTPServer != null && hostpwd_data.MasterFTPServer.FTPServerId!=0) {
							$('.xSelect_ftp1').data('value',hostpwd_data.MasterFTPServer.FTPServerId);
							$('.xSelect_ftp1 .xSelect-show-text').text(hostpwd_data.MasterFTPServer.FTPServerName);
							update_xSelect($('.xSelect_ftp2'));
						}
						if (hostpwd_data.MasterSmtpConfig != null && hostpwd_data.MasterSmtpConfig.SmtpConfigId!=0) {
							$('.xSelect_stmp1').data('value',hostpwd_data.MasterSmtpConfig.SmtpConfigId);
							$('.xSelect_stmp1 .xSelect-show-text').text(hostpwd_data.MasterSmtpConfig.SmtpConfigName);
							update_xSelect($('.xSelect_stmp2'));
						}
						if (hostpwd_data.StandByFTPServer != null && hostpwd_data.StandByFTPServer.FTPServerId!=0) {
							$('.xSelect_ftp2').data('value',hostpwd_data.StandByFTPServer.FTPServerId);
							$('.xSelect_ftp2 .xSelect-show-text').text(hostpwd_data.StandByFTPServer.FTPServerName);
							update_xSelect($('.xSelect_ftp1'));
						}
						if (hostpwd_data.StandBySmtpConfig != null && hostpwd_data.StandBySmtpConfig.SmtpConfigId!=0) {
							$('.xSelect_stmp2').data('value',hostpwd_data.StandBySmtpConfig.SmtpConfigId);
							$('.xSelect_stmp2 .xSelect-show-text').text(hostpwd_data.StandBySmtpConfig.SmtpConfigName);
							update_xSelect($('.xSelect_stmp1'));
						}

					}else{
						$('#ResultSendMethod').val(1).trigger('change');
					}

				} else {
					_alert(1, '主机设定', hostpwd_result.ErrMsg);
					return false;
				}
			}
		});
	})
	function _addReceiver(obj) {
		var add = 0;
		var $c = $(obj).parent();
		var $select=$c.children('select');
		var name2 = $select.children('option:selected').val();
		if (name2 == '0'){
			_alert(2, '主机设定', '请选择接收者');
			return false;
		}	
		var t = $select.children('option:selected').text();
		var $s = $('<li class="item" id="'+name2+'" style="width:225px;float: left;margin-left: -19px;">'+
		'<input type="text" class="form-text" id="'+name2+'" value="'+t+'" style="width:150px;" disabled="true">'+
		'<i class="ctrl del" style="margin-left: 9px;" onclick="_delReceiver(this)"></i></li>');
		$select.val(0);
		$select.find('option[value='+name2+']').remove();
		$c.after($s);
	}
	function _delReceiver(obj) {
		var $c = $(obj).parent();
		var m_id=parseInt($c.attr('id'));
		//console.log(m_id);
		//console.log(ReceiverSet_array[m_id]);
		//console.log(ReceiverSet_array);
		if($('#ReceiverSet option[value='+m_id+']').length==0){
			var pass=true;
			for(i in ReceiverSet_array){
				//console.log(i);
				if(i>m_id){
					if($('#'+i).length==0){
						$('#ReceiverSet option[value='+i+']').before(ReceiverSet_array[m_id]);
						pass=false;
						break;
					}
				}
			}
			//console.log(i);
			//console.log(ReceiverSet_array.length);
			if(pass){
				$('#ReceiverSet').append(ReceiverSet_array[m_id]);
			}
		}
		$c.fadeOut(function () {
			$c.remove();
			$('#ReceiverSet').trigger('change');
		});
	}
	function pwd_setting() {
		document.frm_pwdauth_add.action = '/bhost/pwd_setting';
		document.frm_pwdauth_add.tasktype.value = 1;
		document.frm_pwdauth_add.submit();
	}
	function hostpwd_showing() { 
		document.frm_pwdauth_add.action = '/bhost/hostpwd_showing';
		document.frm_pwdauth_add.submit();
	}
	function hostsend_showing() {
		document.frm_pwdauth_add.action = '/bhost/hostsend_showing';
		document.frm_pwdauth_add.submit();
	}
	function get_dialog_stmp(obj,type){
		smtp_master_clear();
		var title;
		if (type == 1){
			var id=obj.value;
			title = "邮件配置";
			$.ajax({
				url: "/bhost/get_smtpconfig",
				type: "POST",
				async: false,
				data: { a0: $("input[name=se]").val(),a1:id },
				success: function (result) {
					var result = JSON.parse(result);
					if (result.Result) {
						var data = result.info.data[0];
						MasterSmtpConfig_input(data);
						$('#SmtpConfigName_Master').attr("disabled", true);
						smtpconfig_save.SmtpConfigId=parseInt(id);
					} else {
						_alert(1, '邮件服务器查询', result.ErrMsg);
						return false;
					}
				}
			});
			
		}else{
			title = "邮件配置";
			smtpconfig_save.SmtpConfigId=0;
			smtpconfig_save.SenderEmailPass=null;
		}
		var $dialogCont = $("#smtp_suspend").show();

		var d = dialog({
			title:title,
			content:$dialogCont,
			id:"smtp_suspend",
			width:"800px"
		});
		d.addEventListener('close', function () {
			$dialogCont.appendTo("body").hide();
		});
		d.showModal();
		$("a.btn-cancel",$dialogCont).unbind().bind("click",function(){
			// d.close().remove();
			smtp_master_clear();
			if (type == 1){
				var id=obj.value;
				$.ajax({
					url: "/bhost/get_smtpconfig",
					type: "POST",
					async: false,
					data: { a0: $("input[name=se]").val(),a1:id },
					success: function (result) {
						var result = JSON.parse(result);
						if (result.Result) {
							var data = result.info.data[0];
							MasterSmtpConfig_input(data);
							$('#SmtpConfigName_Master').attr("disabled", true);
							smtpconfig_save.SmtpConfigId=parseInt(id);
						} else {
							_alert(1, '邮件服务器查询', result.ErrMsg);
							return false;
						}
					}
				});
			  }else{
				smtpconfig_save.SmtpConfigId=0;
				smtpconfig_save.SenderEmailPass=null;
			}
		});

		$("a.btn-submit",$dialogCont).unbind().bind("click",function(){
			var SmtpConfigName_Master=$("#SmtpConfigName_Master").val();
			if(SmtpConfigName_Master==''){
				_alert(2, '邮件配置', '请输入名称',$('#SmtpConfigName_Master'));
				return false;
			}else if(!nameReg.test(SmtpConfigName_Master)){
				_alert(1, '邮件配置', '名称格式不正确',$('#SmtpConfigName_Master'));
				return false;
			}
			var SmtpServer = $('#SmtpServer_Master').val();
			var DNS = $('#DNS_Master').val();
			if (SmtpServer == "") {
				_alert(2, '邮件配置', '请输入服务器地址',$('#SmtpServer_Master'));
				return false;
			} else if (!ipReg.test(SmtpServer) && (!hostcheck1.test(SmtpServer)) && (!hostcheck2.test(SmtpServer))) {
				_alert(1, '邮件配置', '服务器地址格式不正确',$('#SmtpServer_Master'));
				return false;
			}
			if (DNS == "") {
				DNS = null;
			}
			var Sender = $('#Sender_Master').val();
			if (Sender == "") {
				_alert(2, '邮件配置', '请输入发送邮件账号',$('#Sender_Master'));
				return false;
			}
			var SenderEmail = $('#SenderEmail_Master').val();
			if (SenderEmail == "") {
				_alert(2, '邮件配置', '请输入发送邮箱地址', $('#SenderEmail_Master'));
				return false;
			} else if (!urlReg.test(SenderEmail)) {
				_alert(1, '邮件配置', '发送邮箱地址格式不正确', $('#SenderEmail_Master'));
				return false;
			}
			var AttachMaxLimit = $('#AttachMaxLimit_Master').val();
			if (AttachMaxLimit == "") {
				_alert(2, '邮件配置', '请输入附件大小',$('#AttachMaxLimit_Master'));
				return false;
			}
			var ServerVerify = ($('#ServerVerify_Master').find('input[type=radio]:checked').val() == '2');
			var SenderEmailPass = "";
			if (ServerVerify) {
				SenderEmailPass = $('#SenderEmailPass_Master').val();
				if (SenderEmailPass == "") {
					_alert(2, '邮件配置', '请输入验证码',$('#SenderEmailPass_Master'));
					return false;
				}
			} else {
				SenderEmailPass = null;
			}
			smtpconfig_save.SmtpConfigName=SmtpConfigName_Master;
			smtpconfig_save.SmtpServer=SmtpServer;
			smtpconfig_save.DNS=DNS;
			smtpconfig_save.Sender=Sender;
			smtpconfig_save.SenderEmail=SenderEmail;
			smtpconfig_save.AttachMaxLimit=AttachMaxLimit;
			smtpconfig_save.ServerVerify=ServerVerify;
			smtpconfig_save.SenderEmailPass=SenderEmailPass;
			smtpconfig_save.EnCode=parseInt($('#EnCode').val());
			smtpconfig_save.Flag=parseInt($('#Flag').val());
			if(save_smtpconfig()==true){
				$('.btn').blur();parent.layer.open({
					type: 1,
					title: '邮件配置',
					content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
					btn: ['确&nbsp;&nbsp;定'],
					btnAlign: 'c',
					closeBtn: false,
					skin: 'layer-custom',
					area: ['380px', '310px'],
					move: false,
					resize: false,
					yes: function (i) {
						parent.layer.close(i);
						d.close().remove();
					}
				});
			}
		})
	}
	function get_dialog_ftp(obj,type){
		ftp_master_clear();
		var title;
		if (type == 1){
			var id=obj.value;
			title = "FTP配置";
			$.ajax({
				url: "/bhost/get_ftpserver",
				type: "POST",
				async: false,
				data: { a0: $("input[name=se]").val(),a1:id },
				success: function (result) {
					var result = JSON.parse(result);
					if (result.Result) {
						var data = result.info.data[0];
						MasterFTPServer_input(data);
						$('#FTPServerName_Master').attr("disabled", true);
						ftpserver_save.FTPServerId=parseInt(id);
					} else {
						_alert(1, 'FTP服务器查询', result.ErrMsg);
						return false;
					}
				}
			});
			
		}else{
			title = "FTP配置";
			ftpserver_save.FTPServerId=0;
		}
		var $dialogCont = $("#ftp_suspend").show();

		var d = dialog({
			title:title,
			content:$dialogCont,
			id:"ftp_suspend",
			width:"800px"
		});
		d.addEventListener('close', function () {
			$dialogCont.appendTo("body").hide();
		});
		d.showModal();
		$("a.btn-cancel",$dialogCont).unbind().bind("click",function(){
			// d.close().remove();
			ftp_master_clear();
			if (type == 1){
				var id=obj.value;
				$.ajax({
					url: "/bhost/get_ftpserver",
					type: "POST",
					async: false,
					data: { a0: $("input[name=se]").val(),a1:id },
					success: function (result) {
						var result = JSON.parse(result);
						if (result.Result) {
							var data = result.info.data[0];
							MasterFTPServer_input(data);
							$('#FTPServerName_Master').attr("disabled", true);
							ftpserver_save.FTPServerId=parseInt(id);
						} else {
							_alert(1, 'FTP服务器查询', result.ErrMsg);
							return false;
						}
					}
				});
				
			}else{
				ftpserver_save.FTPServerId=0;
			}
		});
		$("a.btn-submit",$dialogCont).unbind().bind("click",function(){
			var FTPServerName_Master=$("#FTPServerName_Master").val();
			if(FTPServerName_Master==''){
				_alert(2, 'FTP配置', '请输入名称',$('#FTPServerName_Master'));
				return false;
			}else if(!nameReg.test(FTPServerName_Master)){
				_alert(1, 'FTP配置', '名称格式不正确',$('#FTPServerName_Master'));
				return false;
			}
			var DNS_FTP_Master = $('#DNS_FTP_Master').val();
			if (DNS_FTP_Master == "") {
				DNS_FTP_Master = null;
			}
			var ServerIP_Master = $('#ServerIP_Master').val();
			if (ServerIP_Master == "") {
				_alert(2, 'FTP配置', '请输入服务器地址地址',$('#ServerIP_Master'));
				return false;
			} else if (!ipReg.test(ServerIP_Master)) {
				_alert(1, 'FTP配置', '服务器地址地址格式不正确',$('#ServerIP_Master'));
				return false;
			}
			var ServerUser_Master = $("#ServerUser_Master").val();
			if (ServerUser_Master == "") {
				_alert(2, 'FTP配置', '请输入用户名', $("#ServerUser_Master"));
				return false;
			}
			var ServerPasswd_Master = $('#ServerPasswd_Master').val();
			if (ServerPasswd_Master == "") {
				_alert(2, 'FTP配置', '请输入密码',$('#ServerPasswd_Master'));
				return false;
			}
			if(ServerPasswd_Master.length > 64){
				_alert(2, 'FTP配置', "密码不能超过系统限定64位", $("#ServerPasswd_Master"));
				return false;
			}
			var ServerPath_Master = $('#ServerPath_Master').val();
			if (ServerPath_Master == "") {
				_alert(2, 'FTP配置', '请输入上传路径',$('#ServerPath_Master'));
				return false;
			}
			ftpserver_save.FTPServerName=FTPServerName_Master;
			ftpserver_save.ServerIP=ServerIP_Master;
			ftpserver_save.DNS=DNS_FTP_Master;
			ftpserver_save.ServerUser=ServerUser_Master;
			ftpserver_save.ServerPasswd=ServerPasswd_Master;
			ftpserver_save.ServerPath=ServerPath_Master;
			ftpserver_save.Flag=parseInt($('#ftpFlag').val());
			ftpserver_save.IfPasv=$('#IfPasv').val()=='1';
			if(save_ftpserver()){
				$('.btn').blur();parent.layer.open({
					type: 1,
					title: 'FTP配置',
					content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
					btn: ['确&nbsp;&nbsp;定'],
					btnAlign: 'c',
					closeBtn: false,
					skin: 'layer-custom',
					area: ['380px', '310px'],
					move: false,
					resize: false,
					yes: function (i) {
						parent.layer.close(i);
						d.close().remove();
					}
				});
			}
		})
	}
	//MasterFTPServer输入
	function MasterFTPServer_input(item_ftp) {
		$('#FTPServerName_Master').val(item_ftp.FTPServerName);
		$('#ServerIP_Master').val(item_ftp.ServerIP);
		$('#ServerUser_Master').val(item_ftp.ServerUser);
		$('#ServerPasswd_Master').val(item_ftp.ServerPasswd);
		ftpserver_save.ServerPasswd=item_ftp.ServerPasswd;
		$('#ServerPath_Master').val(item_ftp.ServerPath);
		$('#DNS_FTP_Master').val(item_ftp.DNS);
		$('#ftpFlag').val(item_ftp.Flag).trigger('change');
		$('#IfPasv').val(item_ftp.IfPasv?"1":"2").trigger('change');
	}
	//MasterSmtpConfig输入
	function MasterSmtpConfig_input(item_smtp) {
		$('#SmtpConfigName_Master').val(item_smtp.SmtpConfigName);
		$('#SmtpServer_Master').val(item_smtp.SmtpServer);
		$('#Sender_Master').val(item_smtp.Sender);
		$('#SenderEmail_Master').val(item_smtp.SenderEmail);
		$('#AttachMaxLimit_Master').val(item_smtp.AttachMaxLimit);
		if (item_smtp.ServerVerify) {
			$('#b2').iCheck('check');
			$('#SenderEmailPass_Master').val(item_smtp.SenderEmailPass);
			smtpconfig_save.SenderEmailPass=item_smtp.SenderEmailPass;
		} else {
			$('#b1').iCheck('check');
		}
		$('#DNS_Master').val(item_smtp.DNS);
		$('#test_Master').iCheck('uncheck');
		$('#test_Master').parents('label').next('span.forCheck').hide();
		$('#test_Master_input').val('');
		$('#EnCode').val(item_smtp.EnCode).trigger('change');
		$('#Flag').val(item_smtp.Flag).trigger('change');
	}
	$(window).resize(function () {
		_initSize();//加载长度
	});
	//加载长度
	function _initSize() {
		var h = $(window).height();
		var w = $(window).width();
		$('.c-cont').height(h - 130);
	}
	function myBrowser(){
		var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
		var isOpera = userAgent.indexOf("Opera") > -1;
		if (isOpera) {
			return "Opera"
		}; //判断是否Opera浏览器
		if (userAgent.indexOf("Firefox") > -1) {
			return "FF";
		} //判断是否Firefox浏览器
		if (userAgent.indexOf("Chrome") > -1){
			return "Chrome";
		}
		if (userAgent.indexOf("Safari") > -1) {
			return "Safari";
		} //判断是否Safari浏览器
		if (userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera) {
			return "IE";
		}; //判断是否IE浏览器
		return "IE"
	}
	//确定
	//var pass=1;
	
	function _finish() {

		hostpwd.MasterSmtpConfigId = null;
		hostpwd.StandBySmtpConfigId = null;
		hostpwd.MasterFTPServerId =null;
		 hostpwd.StandByFTPServerId = null;
		var SendMethod = $("#ResultSendMethod").val();
		if (SendMethod == "1") {
			var SmtpConfigId = $('.xSelect_stmp1').data('value');
			if (SmtpConfigId == undefined || SmtpConfigId =='') {
				SmtpConfigId=0;
			}
			hostpwd.MasterSmtpConfigId = parseInt(SmtpConfigId);
			var StandBySmtpConfig_id = $('.xSelect_stmp2').data('value');
			if ((StandBySmtpConfig_id == undefined || StandBySmtpConfig_id =='')) {
				StandBySmtpConfig_id=0;
			}
			hostpwd.StandBySmtpConfigId = parseInt(StandBySmtpConfig_id);
			hostpwd.ReceiverSet = new Array();
			var $all=$('#select_r>li');
			//console.log($all);
			for(var i=$all.length-1;i>=0;i--){
				var $li=$all.eq(i);
				hostpwd.ReceiverSet.push({"Id":parseInt($li.attr('id')),"Type":1});
			}
			if ($('#ReceiverSet').val()!='0'){
				hostpwd.ReceiverSet.push({"Id":parseInt($('#ReceiverSet').val()),"Type":1});
			}
			if (hostpwd.ReceiverSet.length == 0) {
				_alert(2, '主机设定', '请选择接收者');
				return false;
			}
		} else if (SendMethod == "2") {
			var MasterFTPServer_id = $('.xSelect_ftp1').data('value');
			if (MasterFTPServer_id == undefined || MasterFTPServer_id=='') {
				MasterFTPServer_id=0;
			}
			hostpwd.MasterFTPServerId =parseInt(MasterFTPServer_id);
			var StandByFTPServer_id = $('.xSelect_ftp2').data('value');
			if ((StandByFTPServer_id == undefined || StandByFTPServer_id=='')) {
				StandByFTPServer_id=0;
			}
			hostpwd.StandByFTPServerId = parseInt(StandByFTPServer_id);
		}
		hostpwd.SendMethod = parseInt(SendMethod);
		var hostpwd_data=null;
		$.ajax({
			url: '/bhost/get_hostpwdstrategy',
			type: "POST",
			async: false,
			data: { a0: $("input[name=se]").val() },
			success: function (result) {
				var hostpwd_result = JSON.parse(result);
				if (hostpwd_result.Result) {
					hostpwd_data = hostpwd_result.info;
					if (hostpwd_data != null) {
						hostpwd.HostPwdStrategyId = hostpwd_data.HostPwdStrategyId;
						if (hostpwd_data.MasterFTPServer != null) {
							hostpwd_data['MasterFTPServerId'] = hostpwd_data.MasterFTPServer.FTPServerId;
						} else {
							hostpwd_data['MasterFTPServerId'] = null;
						}
						delete hostpwd_data.MasterFTPServer;
						if (hostpwd_data.MasterSmtpConfig != null) {
							hostpwd_data['MasterSmtpConfigId'] = hostpwd_data.MasterSmtpConfig.SmtpConfigId;

						} else {
							hostpwd_data['MasterSmtpConfigId'] = null;
						}
						delete hostpwd_data.MasterSmtpConfig;
						if (hostpwd_data.StandBySmtpConfig != null) {
							hostpwd_data['StandBySmtpConfigId'] = hostpwd_data.StandBySmtpConfig.SmtpConfigId;

						} else {
							hostpwd_data['StandBySmtpConfigId'] = null;
						}
						delete hostpwd_data.StandBySmtpConfig;
						if (hostpwd_data.StandByFTPServer != null) {
							hostpwd_data['StandByFTPServerId'] = hostpwd_data.StandByFTPServer.FTPServerId;

						} else {
							hostpwd_data['StandByFTPServerId'] = null;
						}
						delete hostpwd_data.StandByFTPServer;
						delete hostpwd_data.PwdApproveUserCode;
						$.each(hostpwd_data.ReceiverSet,function(i,item){
							delete item.Name;
						});
						hostpwd.PwdMinLen=hostpwd_data.PwdMinLen;
						hostpwd.IfPwdComplex=hostpwd_data.IfPwdComplex;
						hostpwd.PwdIncUpperAphaCount=hostpwd_data.PwdIncUpperAphaCount;
						hostpwd.PwdIncLowerAphaCount=hostpwd_data.PwdIncLowerAphaCount;
						hostpwd.PwdIncNumberCount=hostpwd_data.PwdIncNumberCount;
						hostpwd.PwdIncSpecialCharCount=hostpwd_data.PwdIncSpecialCharCount;
						hostpwd.IfPwdUnRepeat=hostpwd_data.IfPwdUnRepeat;
						hostpwd.CharRepeatCount=hostpwd_data.CharRepeatCount;
						hostpwd.UnRepeatCharCount=hostpwd_data.UnRepeatCharCount;
						hostpwd.Password=hostpwd_data.Password;
						hostpwd.IfPwdApprove=hostpwd_data.IfPwdApprove;
						hostpwd.PwdApproveUserId=hostpwd_data.PwdApproveUserId;
						/*
						"PwdMinLen": 8,
						"IfPwdComplex": false,
						"PwdIncUpperAphaCount": 1,
						"PwdIncLowerAphaCount": 1,
						"PwdIncNumberCount": 1,
						"PwdIncSpecialCharCount": 0,
						"IfPwdUnRepeat": false,
						"CharRepeatCount": 1,
						"UnRepeatCharCount": 0,
						"Password": null,
						*/
					}
				} else {
					_alert(1, '主机设定', hostpwd_result.ErrMsg);
					return false;
				}
			}
		});
		//console.log(hostpwd);
		//console.log(hostpwd_data);
		//console.log(Compare(hostpwd, hostpwd_data));
		if(!Compare(hostpwd, hostpwd_data)){
			msstr = aceg(JSON.stringify(hostpwd),$("input[name=se]").val());
			$.ajax({
				url: "/bhost/add_hostpwdstrategy",
				type: "POST",
				async: false,
				data: { a0: $("input[name=se]").val(), a1: JSON.stringify(hostpwd),a2:2,m1:msstr },
				success: function (result) {
					var result = JSON.parse(result);
					if (result.Result) {
						$('.btn').blur(); parent.layer.open({
							type: 1,
							title: '主机设定',
							content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
							btn: ['确&nbsp;&nbsp;定'],
							btnAlign: 'c',
							closeBtn: false,
							skin: 'layer-custom',
							area: ['380px', '310px'],
							move: false,
							resize: false,
							yes: function (i) {
								parent.layer.close(i);
								hostsend_showing();
							}
						});
					}else{
						_alert(2,'主机设定',result.ErrMsg);
						return false;
					}
				}
			});
		}else{
			$('.btn').blur(); parent.layer.open({
				type: 1,
				title: '主机设定',
				content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
				btn: ['确&nbsp;&nbsp;定'],
				btnAlign: 'c',
				closeBtn: false,
				skin: 'layer-custom',
				area: ['380px', '310px'],
				move: false,
				resize: false,
				yes: function (i) {
					parent.layer.close(i);
					hostsend_showing();
				}
			});
		}
		
	}
	//返回
	function back() {
		document.frm_pwdauth_add.action = '/bhost/index';
		document.frm_pwdauth_add.tasktype.value = 4;
		document.frm_pwdauth_add.submit();

	}
	//判断是否是对象
	function isObj(object) {
		return object && typeof (object) == 'object' && Object.prototype.toString.call(object).toLowerCase() == "[object object]";
	}
	//判断是否是数组
	function isArray(object) {
		return object && typeof (object) == 'object' && object.constructor == Array;
	}
	//获取长度
	function getLength(object) {
		var count = 0;
		for (var i in object) count++;
		return count;
	}
	//比较函数
	function Compare(objA, objB) {
		if (!isObj(objA) || !isObj(objB))
			return false; //判断类型是否正确
		if (getLength(objA) != getLength(objB))
			return false; //判断长度是否一致
		return CompareObj(objA, objB, true);//默认为true
	}
	//递归函数
	function CompareObj(objA, objB, flag) {
		for (var key in objA) {
			if (!flag) //跳出整个循环
				break;
			if (!objB.hasOwnProperty(key)) {
				flag = false;
				break;
			}
			if (!isArray(objA[key])) { //子级不是数组时,比较属性值
				if (objB[key] != objA[key]) {
					flag = false;
					break;
				}
			} else {
				if (!isArray(objB[key])) {
					flag = false;
					break;
				}
				var oA = objA[key], oB = objB[key];
				if (oA.length != oB.length) {
					flag = false;
					break;
				}
				for (var k in oA) {
					if (!flag) //这里跳出循环是为了不让递归继续
						break;
					flag = CompareObj(oA[k], oB[k], flag);
				}
			}
		}
		return flag;
	}
	//检查格式
	function dataCheck(obj, min, max) {//min can not bigger than 1
		obj.value = obj.value.replace(/\D/g, "");
		if(obj.value==''){
			obj.value=min;
		}
		obj.value = parseInt(obj.value);
		if (min) {
			if (parseInt(obj.value, 10) < parseInt(min, 10)) obj.value = min;
		}
		if (max) {
			if (parseInt(obj.value, 10) > parseInt(max, 10)) obj.value = max;
		}
	}

	//smtp_master_clear
	function smtp_master_clear() {
		$('#SmtpConfigName_Master').attr("disabled", false);
		$('#SmtpConfigName_Master').val('');
		$('#SmtpConfigName_Master').next('i.v-check').attr('class','v-check');
		$('#SmtpServer_Master').val('');
		$('#Sender_Master').val('');
		$('#SenderEmail_Master').val('');
		$('#AttachMaxLimit_Master').val('');
		$('#b1').iCheck('check');
		$('#SenderEmailPass_Master').val('');
		$('#test_Master').iCheck('uncheck');
		$('#test_Master').parents('label').next('span.forCheck').hide();
		$('#test_Master_input').val('');
		$('#DNS_Master').val('');
		$('#EnCode').val(0).trigger('change');
		var smtpconfig_data_all_Flag=smtpconfig_data_all.map(function (params) {
			return params.Flag;
		});
		if($.inArray(2,smtpconfig_data_all_Flag)<0){
			$('#Flag').val(2).trigger('change');
		}else if($.inArray(1,smtpconfig_data_all_Flag)<0){
			$('#Flag').val(1).trigger('change');
		}else{
			$('#Flag').val(0).trigger('change');
		}
	}
	//ftp_master_clear
	function ftp_master_clear() {
		$('#FTPServer_Master').show();
		$('#FTPServerName_Master').next('i.v-check').attr('class','v-check');
		$("#FTPServerName_Master").val('');
		$("#FTPServerName_Master").attr("disabled", false);
		$('#ServerIP_Master').val('');
		$('#ServerUser_Master').val('');
		$('#ServerPasswd_Master').val('');
		ftpserver_save.ServerPasswd=null;
		$('#ServerPath_Master').val('');
		$('#DNS_FTP_Master').val('');
		var ftpconfig_data_all_Flag=ftpconfig_data_all.map(function (params) {
			return params.Flag;
		});
		if($.inArray(2,ftpconfig_data_all_Flag)<0){
			$('#ftpFlag').val(2).trigger('change');
		}else if($.inArray(1,ftpconfig_data_all_Flag)<0){
			$('#ftpFlag').val(1).trigger('change');
		}else{
			$('#ftpFlag').val(0).trigger('change');
		}
	}
	//邮件FTP详细信息显示隐藏
	function _switchShow(obj) {
		var v = $(obj).val();
		if (v == 1) {
			$("#usertree_div").parents(".form-item").show();
			$('.xSelect_stmp1').parents('.form-item').show();
			$('.xSelect_stmp2').parents('.form-item').show();
			$('.xSelect_ftp1').parents('.form-item').hide();
			$('.xSelect_ftp2').parents('.form-item').hide();
			$('#ReceiverSet').parents('.form-item').show();
		} else {
			$("#usertree_div").parents(".form-item").hide();
			$('.xSelect_stmp1').parents('.form-item').hide();
			$('.xSelect_stmp2').parents('.form-item').hide();
			$('.xSelect_ftp1').parents('.form-item').show();
			$('.xSelect_ftp2').parents('.form-item').show();
			$('#ReceiverSet').parents('.form-item').hide();
		}
	}

	var $focusObj;
	//邮件FTP详细信息输入
	function _setVal(obj) {
		var val = $(obj).text();
		var value = $(obj).attr('id');
		var id = $focusObj.attr('id');
		$focusObj.attr('name',value.split('-')[1]);
		$focusObj.val(val);
		$('#autoView').hide();
	}
	//smtpconfig_save
	function save_smtpconfig() {
		var pass = true;
		if (smtpconfig_save == null) {
			return false;
		}
		msstr = aceg(JSON.stringify(smtpconfig_save),$("input[name=se]").val());
		$.ajax({
			url: "/bhost/add_smtpconfig",
			type: "POST",
			async: false,
			data: { a0: $("input[name=se]").val(), a1: JSON.stringify(smtpconfig_save),a2:'密码管理>主机设定',m1:msstr},
			success: function (result) {
				var result = JSON.parse(result);
				if (result.Result) {
					if(smtpconfig[result.SmtpConfigId]!=null){
						
					}else{
						smtpconfig[result.SmtpConfigId]={};
						smtpconfig[result.SmtpConfigId]["type"]='edit';
						smtpconfig[result.SmtpConfigId]["value"]=result.SmtpConfigId;
						smtpconfig[result.SmtpConfigId]["name"]=smtpconfig_save.SmtpConfigName;
						update_xSelect(0);
					}
					//刷新下拉
					var focusObj_value=$focusObj.data('value');
					if(focusObj_value=='0' || focusObj_value=='' || focusObj_value==undefined){
						$('.xSelect-show-text',$focusObj).text(smtpconfig_save.SmtpConfigName);
						$focusObj.data('value',result.SmtpConfigId);
					}
					// $('.xSelect-show-text',$focusObj).text(smtpconfig_save.SmtpConfigName);
					// $focusObj.data('value',result.SmtpConfigId);
					switch ($focusObj.attr('class').split(' ')[1]) {
						case 'xSelect_ftp1':
							update_xSelect($('.xSelect_ftp2'));
							break;
						case 'xSelect_ftp2':
							update_xSelect($('.xSelect_ftp1'));
							break;
						case 'xSelect_stmp1':
							update_xSelect($('.xSelect_stmp2'));
							break;
						case 'xSelect_stmp2':
							update_xSelect($('.xSelect_stmp1'));
							break;
					}
				} else {
					if(result.ErrMsg=="同名邮件服务器配置已存在"){
						_alert(1, "邮件配置",result.ErrMsg, $('#SmtpConfigName_Master'));
					}else{
						_alert(1, "邮件配置",result.ErrMsg);
					}
					pass = false;
				}
			}
		});
		return pass;
	}
	//ftpserver_save
	function save_ftpserver() {
		if (ftpserver_save == null) {
			return false;
		}
		var pass = true;
		msstr = aceg(JSON.stringify(ftpserver_save),$("input[name=se]").val());
		$.ajax({
			url: "/bhost/add_ftpserver",
			type: "POST",
			async: false,
			data: { a0: $("input[name=se]").val(), a1: JSON.stringify(ftpserver_save),a2:'密码管理>主机设定',m1:msstr},
			success: function (result) {
				var result = JSON.parse(result);
				if (result.Result) {
					if(ftpserver[result.FTPServerId]!=null){
					}else{
						ftpserver[result.FTPServerId]={};
						ftpserver[result.FTPServerId]["type"]='edit';
						ftpserver[result.FTPServerId]["value"]=result.FTPServerId;
						ftpserver[result.FTPServerId]["name"]=ftpserver_save.FTPServerName;
						update_xSelect(0);
					}
					var focusObj_value=$focusObj.data('value');
					if(focusObj_value=='0' || focusObj_value=='' || focusObj_value==undefined){
						$('.xSelect-show-text',$focusObj).text(ftpserver_save.FTPServerName);
						$focusObj.data('value',result.FTPServerId);
					}
					// $('.xSelect-show-text',$focusObj).text(ftpserver_save.FTPServerName);
					// $focusObj.data('value',result.FTPServerId);
					switch ($focusObj.attr('class').split(' ')[1]) {
						case 'xSelect_ftp1':
							update_xSelect($('.xSelect_ftp2'));
							break;
						case 'xSelect_ftp2':
							update_xSelect($('.xSelect_ftp1'));
							break;
						case 'xSelect_stmp1':
							update_xSelect($('.xSelect_stmp2'));
							break;
						case 'xSelect_stmp2':
							update_xSelect($('.xSelect_stmp1'));
							break;
					}
				} else {
					if(result.ErrMsg=="同名的FTP服务器配置已存在"){
						_alert(1, "FTP配置",result.ErrMsg, $('#FTPServerName_Master'));
					}else{
						_alert(1, "FTP配置",result.ErrMsg);
					}
					pass = false;
				}
			}

		});
		return pass;
	}
	function update_xSelect($obj){
		if($obj==0){
			$obj=$focusObj;
		}
		var id_value=$obj.data('value');
		var text_value=$('.xSelect-show-text',$obj).text();
		var id=$('.xSelect-show',$obj).data('id');
		$obj.empty().data('xSelect','');
		$('.'+id).remove();
		switch ($obj.attr('class').split(' ')[1]) {
			case 'xSelect_ftp1':
				$.ajax({
					url: "/bhost/get_ftpserver",
					type: "POST",
					async: false,
					data: { a0: $("input[name=se]").val() },
					success: function (result) {
						var result = JSON.parse(result);
						if (result.Result) {
							var data = result.info;
							ftpconfig_data_all=result.info.data;
							ftpserver = new Array();
							ftpserver[0] =(JSON.parse('{"value":0,"name":"全局指定","type":null}'));
							$.each(data.data, function (i, item) {
								if(item.FTPServerId==0){
									return true;
								}
								ftpserver[item.FTPServerId] =(JSON.parse('{"value":'+item.FTPServerId+',"name":"'+item.FTPServerName+'","type":"'+(perm_1==2?'edit':'check')+'"}'));
							})
						} else {
							_alert(1, 'FTP服务器查询', result.ErrMsg);
							return false;
						}
					}
				});
				var ftp2_id=$('.xSelect_ftp2').data('value');
				if(ftp2_id!=undefined &&  ftp2_id!='' && ftp2_id!=0){
					delete ftpserver[ftp2_id];
				}
				xSelect_json={
					width: 168,
					defaultText: '全局指定',
					items:ftpserver,
					edit: function(item,obj){
						$('.'+$('.xSelect_ftp1 .xSelect-show').data('id')).hide();
						get_dialog_ftp(item,1);
					},
					check: function(item,obj){
						$('.'+$('.xSelect_ftp1 .xSelect-show').data('id')).hide();
						get_dialog_ftp(item,1);
					},
					delete: function(item,obj){
					},
					btn:[
						
					],
					setval:function(item,obj){
						update_xSelect($('.xSelect_ftp2'));
					}
				};
				if(perm_1==2){
					xSelect_json.btn.push({
							'name':'新增',
							'event': function(items,obj){
								get_dialog_ftp(items,2);
							}
						});
				}
				$obj.xSelect(xSelect_json);
				break;
			case 'xSelect_ftp2':
				$.ajax({
					url: "/bhost/get_ftpserver",
					type: "POST",
					async: false,
					data: { a0: $("input[name=se]").val() },
					success: function (result) {
						var result = JSON.parse(result);
						if (result.Result) {
							var data = result.info;
							ftpconfig_data_all=result.info.data;
							ftpserver = new Array();
							ftpserver[0] =(JSON.parse('{"value":0,"name":"全局指定","type":null}'));
							$.each(data.data, function (i, item) {
								if(item.FTPServerId==0){
									return true;
								}
								ftpserver[item.FTPServerId] =(JSON.parse('{"value":'+item.FTPServerId+',"name":"'+item.FTPServerName+'","type":"'+(perm_1==2?'edit':'check')+'"}'));
							})
						} else {
							_alert(1, 'FTP服务器查询', result.ErrMsg);
							return false;
						}
					}
				});
				var ftp1_id=$('.xSelect_ftp1').data('value');
				if(ftp1_id!=undefined && ftp1_id!='' && ftp1_id!=0){
					delete ftpserver[ftp1_id];
				}
				xSelect_json={
					width: 168,
					defaultText: '全局指定',
					items:ftpserver,
					edit: function(item,obj){
						$('.'+$('.xSelect_ftp2 .xSelect-show').data('id')).hide();
						get_dialog_ftp(item,1);
					},
					check: function(item,obj){
						$('.'+$('.xSelect_ftp2 .xSelect-show').data('id')).hide();
						get_dialog_ftp(item,1);
					},
					delete: function(item,obj){
					},
					btn:[
						
					],
					setval:function(item,obj){
						update_xSelect($('.xSelect_ftp1'));
					}
				};
				if(perm_1==2){
					xSelect_json.btn.push({
							'name':'新增',
							'event': function(items,obj){
								get_dialog_ftp(items,2);
							}
						});
				}
				$obj.xSelect(xSelect_json);
				break;
			case 'xSelect_stmp1':
				$.ajax({
					url: "/bhost/get_smtpconfig",
					type: "POST",
					async: false,
					data: { a0: $("input[name=se]").val() },
					success: function (result) {
						var result = JSON.parse(result);
						if (result.Result) {
							var data = result.info;
							smtpconfig_data_all=result.info.data;
							smtpconfig=new Array();
							smtpconfig[0] =(JSON.parse('{"value":0,"name":"全局指定","type":null}'));
							$.each(data.data, function (i, item) {
								if(item.SmtpConfigId==0){
									return true;
								}
								smtpconfig[item.SmtpConfigId]=(JSON.parse('{"value":'+item.SmtpConfigId+',"name":"'+item.SmtpConfigName+'","type":"'+(perm_1==2?'edit':'check')+'"}'));
							})
						} else {
							_alert(1, '邮件服务器查询', result.ErrMsg);
							return false;
						}
					}
				});
				var stmp2_id=$('.xSelect_stmp2').data('value');
				if (stmp2_id!=undefined && stmp2_id!='' && stmp2_id!=0) {
					delete smtpconfig[stmp2_id];
				}
				xSelect_json={
					width: 168,
					defaultText: '全局指定',
					items:smtpconfig,
					edit: function(item,obj){
						$('.'+$('.xSelect_stmp1 .xSelect-show').data('id')).hide();
						get_dialog_stmp(item,1);
					},
					check: function(item,obj){
						$('.'+$('.xSelect_stmp1 .xSelect-show').data('id')).hide();
						get_dialog_stmp(item,1);
					},
					delete: function(item,obj){
					},
					btn:[
						
					],
					setval:function(item,obj){
						update_xSelect($('.xSelect_stmp2'));
					}
				};
				if(perm_1==2){
					xSelect_json.btn.push({
							'name':'新增',
							'event': function(items,obj){
								get_dialog_stmp(items,2);
							}
						});
				}
				$obj.xSelect(xSelect_json);
				break;
			case 'xSelect_stmp2':
				$.ajax({
					url: "/bhost/get_smtpconfig",
					type: "POST",
					async: false,
					data: { a0: $("input[name=se]").val() },
					success: function (result) {
						var result = JSON.parse(result);
						if (result.Result) {
							var data = result.info;
							smtpconfig_data_all=result.info.data;
							smtpconfig=new Array();
							smtpconfig[0] =(JSON.parse('{"value":0,"name":"全局指定","type":null}'));
							$.each(data.data, function (i, item) {
								if(item.SmtpConfigId==0){
									return true;
								}
								smtpconfig[item.SmtpConfigId]=(JSON.parse('{"value":'+item.SmtpConfigId+',"name":"'+item.SmtpConfigName+'","type":"'+(perm_1==2?'edit':'check')+'"}'));
							})
						} else {
							_alert(1, '邮件服务器查询', result.ErrMsg);
							return false;
						}
					}
				});
				var smtp1_id=$('.xSelect_stmp1').data('value');
				if(smtp1_id!=undefined && smtp1_id!='' && smtp1_id!=0){
					delete smtpconfig[smtp1_id];
				}
				xSelect_json={
					width: 168,
					defaultText: '全局指定',
					items:smtpconfig,
					edit: function(item,obj){
						$('.'+$('.xSelect_stmp2 .xSelect-show').data('id')).hide();
						get_dialog_stmp(item,1);
					},
					check: function(item,obj){
						$('.'+$('.xSelect_stmp2 .xSelect-show').data('id')).hide();
						get_dialog_stmp(item,1);
					},
					delete: function(item,obj){
					},
					btn:[
						
					],
					setval:function(item,obj){
						update_xSelect($('.xSelect_stmp1'));
					}
				};
				if(perm_1==2){
					xSelect_json.btn.push({
							'name':'新增',
							'event': function(items,obj){
								get_dialog_stmp(items,2);
							}
						});
				}
				$obj.xSelect(xSelect_json);
				break;
		}
		$obj.data('value',id_value);
		$('.xSelect-show-text',$obj).text(text_value);
	}
</script>
{% endblock %}

