<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>manager</title>
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
    <link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
    <link rel="stylesheet" href="/manage/css/select2.min.css">
    <link rel="stylesheet" href="/manage/css/style.css">
	<script type="text/javascript" src="/manage/js/dialog-plus.js"></script>
	<link rel="stylesheet" href="/manage/css/ui-dialog.css" type="text/css" />
</head>

<body style="overflow-y: hidden;height: 100%;overflow-x: auto;min-width: 1200px;" class="bg-white">
    <!---->
    <div class="bb-menu" style="overflow:hidden;">
		<div class="topa">
            <a href="javascript:;" onclick="_classify_suspend(1,this)">分类<i></i></a>
        </div>
        <ul style="overflow:auto;height:calc(100% - 37px)">
			<!--
            <li>
                <span class="tit" onclick="_getSubList(this,1)">BBS访问</span>
                <div class="ctr">
                    <a href="javascript:;" class="edit" onclick="_classify_suspend(this)"></a>
                    <a href="javascript:;" class="del" onclick="_delClassify(this)"></a>
                </div>
            </li>
			-->
        </ul>
    </div>
    <!---->
    <div class="bb-menu2" style="overflow:hidden">
		<div class="topa">
            <a href="javascript:;" onclick="_addModel(this)">模板<i></i></a>
        </div>
        <ul style="overflow:auto;height:calc(100% - 37px)">
            
        </ul>
    </div>
	
	<span class="bb-btn-slide" onclick="_pullMenu(this)"></span>

    <!---->
    <div class="bb-container">
    	<iframe src="/bhost/modify_template?se={{se}}&z2=0" frameborder="0" width="100%" height="100%" id="bbTarget" name="bbTarget"></iframe>
    </div>
	<!--
    <div class="bb-form-big" id="classifyLayer" style="display: none;">
        <h3>分类名称</h3>
        <input type="text" name="" value="">
        <p class="tip" style="height: 60px;"><i></i>不超过50个字符，请勿输入特殊字符</p>
		<div class="btns" style="/* margin-bottom: -25px; */">
			<a href="javascript:;" class="btn btn-submit btn-normal">保&nbsp;&nbsp;存</a>
		</div>
    </div>
	-->
	<!--分类-->
	<div class="dialog-cont" id="classify_suspend" style="display:none;">
		<div class="c-cont2" style="max-height:300px;">
			<div class="c-form" style="padding-bottom:10px;width: 460px;" id="smsmset">
				<div class="form">	
					<div class="sel-type1" style="float: left;width: 100%;">
						<div class="form-item" style="float:left;">
							<span class="form-tag" style="width: 90px;"><em class="imp">*</em>名称：</span>
							<div class="form-c" style="padding: 0 0;">
								<input id="classifyName" name="classifyName" class="form-text" style="width:248px;" type="text" onblur="NameCheck(this);" maxlength="128"><i class="v-check"></i>
								<p class="form-tip" style="width: 270px;margin-left: 84px;">特殊字符仅支持下划线、横杠、小数点</p>
							</div>
						</div>
						<div class="form-item" style="float:left;">
							<span class="form-tag" style="width:90px;">账号：</span>
							<div class="item" style="height:96px;overflow:auto;">
								<div class="item" style="width: 160px;float: left;padding: 0px 0 20px 0;">
									<select class="filter-select" id="account_select" style="width:120px;" onchange="change_account(this);">
									</select>
									<i class="ctrl add" onclick="_add_account(this)"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="c-form" style="width: auto;">
				<div class="btns" style="margin-bottom: -20px;width: 640px;margin-left: -20px;">
					<a href="javascript:;" class="btn btn-normal btn-submit">保&nbsp;&nbsp;存</a>
					<a href="javascript:;" class="btn btn-normal btn-cancel">重&nbsp;&nbsp;置</a>
				</div>
			</div>
		</div>
	</div>
	
    <div class="bb-form" id="globalLayer" style="display: none;">
        <form id="uploadForm" enctype="multipart/form-data">
			<div class="form-item">
				<div class="label">水印背景：</div>
				<div class="c">
					<input type="text" name="report_bg" id="report_bg" value="">
					<p class="tip"><i></i>不超过50个字符，请勿输入特殊字符</p>
				</div>
			</div>

			<div class="form-item">
				<div class="label">LOGO图片：</div>
				<div class="c">
					<div class="upfix">
						<input class="upfix-text" type="text" id="report_jpg" name="report_jpg" value="" readonly="">
						<span class="upfix-btn">浏览</span>
						<input class="upfix-file" type="file" name="jpg_name" id="jpg_name" onchange="_getFilePath(this);" accept="image/jpg">
					</div>
					<p class="tip"><i></i>请选择jpg格式的图片文件(不大于600*300)</p>
				</div>
				<div style="margin-left:170px;margin-top:10px;" id="jpg_img" style="display:none;">
					<img src="">
					<a href="javascript:;" id="del" class="cross" onfocus="this.blur();" title="删除背景图片" onclick="del_jpg();"></a>
				</div>
			</div>

			<div class="form-item" style="height: 100px;">
				<!--
				<div class="label">附件大小：</div>
				<div class="c">
					<div>
					<input type="text" name="jpg_size" id="jpg_size" value="10" maxlength="2">
					<span class="bbfix" style="margin-left: 0;line-height: 30px;">(M)</span>
					</div>
					<p class="tip" style="width:250px;"><i></i>附件大小必须为10 ~ 20M</p>
				</div>
				-->
			</div>

		</form>
		
		<div class="btns" style="/* margin-bottom: -25px; */">
			<a href="javascript:;" class="btn btn-submit btn-normal" onclick="save_background()">保&nbsp;&nbsp;存</a>
		</div>
    </div>

	<!--script-->
    <script src="/manage/js/jquery.min.js"></script>
    <script src="/manage/js/jquery.easing.js"></script>
    <script src="/manage/js/layer.js"></script>
    <script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<style>
	.cross {
		display: inline-block;
		width: 15px;
		height: 15px;
		background: url(/manage/images/icon-ctr.png) no-repeat 0 0;
		vertical-align: middle;
		cursor: pointer;
		margin-top: -535px
	}
	#jpg_img{
		display:none;
	}
	
	.layui-layer-ico{
		background: url(/manage/images/icon_close.png) no-repeat 0 0;
	}
	.layui-layer-setwin .layui-layer-close1{
		background-position:0px;
	}
	.layui-layer-title{
		cursor: default;
	}
	.ctrl{
		display: inline-block;
		width: 15px;
		height: 15px;
		background: url(/manage/images/icon-ctr.png) no-repeat 0 0;
		vertical-align: middle;
		margin-left: 5px;
		cursor: pointer;
	}
	.ctrl.add {
		background-position: 0 -15px;
	}
	.ctrl.del {
		display: inline-block;
		width: 15px;
		height: 15px;
		background: url(/manage/images/icon-ctr.png) no-repeat 0 0;
		vertical-align: middle;
		margin-left: 5px;
		cursor: pointer;
		display:none;
	}
	.item.account:hover i.ctrl.del {
		display: inline-block;
	}
	.item.account{
		width: 160px;
		float: left;
		padding: 0px 0 20px 0;
	}
	.select2-container.select2-container--default.select2-container--open{
		z-index:2147483647
	}
	.ctr a.check_icon{
		display: inline-block;
		float: left;
		width: 16px;
		height: 16px;
		overflow: hidden;
		background: url(/manage/images/check_icon.png) no-repeat 0 0;
		margin: 0 5px 0 4px;
	}
	.bb-menu ul li span.tit{
		width:110px;	
	}
	.bb-menu{
		min-width: 150px;
	}
	</style>
	<script src="/manage/js/select2.full.min.js"></script>
	<script>
		$('.filter-select').select2();
	</script>
    <script>
	var se;
	var back_type = "{{back_type}}";
	var us;
	var manage_report_power = [];
    $(function(){
    	//
		se = window.parent.document.frm.se.value;
		us = window.parent.document.frm.us.value;
		$.each(window.parent._power,function(i,item){
			if (item.Mode == 2){
				manage_report_power.push(item.SubMenuId);
			}
		});

		if (manage_report_power.indexOf(12) === -1){
			$(".bb-menu").children('.topa').children('a').css({"cursor":"default"}).removeAttr('onclick');
			$(".bb-menu2").children('.topa').children('a').css({"cursor":"default"}).removeAttr('onclick');
			$('.btns').remove();
		}
		
		var templatetype_array = [];
		//console.log("1232131232");
		$.ajax({
			url:'/bhost/Get_DataReportTemplateType',
			type:'post',
			async:false,
			data:{a0:se,z1:"null"},
			success:function(result){
				templatetype_array = JSON.parse(result);
			}
		});
		$('.bb-menu').children('ul').empty();
		var temp_str = "";
		$.each(templatetype_array,function(i,item){
			item.Name = item.Name.replace("报告","");
			temp_str = temp_str + '<li id="temptype-'+item.TemplateTypeId+'"><span class="tit" onclick="_getSubList(this,'+item.TemplateTypeId+')">'+item.Name+'</span><div class="ctr">';
			if (manage_report_power.indexOf(12) != -1){
				temp_str = temp_str + '<a href="javascript:;" class="edit" title="编辑" onclick="_classify_suspend(2,this)"></a><a href="javascript:;" class="del" title="删除" onclick="_delClassify(this,'+item.TemplateTypeId+')"></a></div></li>';
			}else{
				temp_str = temp_str + '<a href="javascript:;" class="check_icon" title="查看" onclick="_classify_suspend(2,this)"></a></div></li>';
			}
			//temp_str = temp_str + '<li id="temptype-'+item.TemplateTypeId+'"><span class="tit" onclick="_getSubList(this,'+item.TemplateTypeId+')">'+item.Name+'</span><div class="ctr"><a href="javascript:;" class="edit" onclick="_classify_suspend(this,'+item.TemplateTypeId+')"></a><a href="javascript:;" class="del" onclick="_delClassify(this,'+item.TemplateTypeId+')"></a></div></li>'
		});
		$('.bb-menu').children('ul').append(temp_str);
    	_bbEvent();
		var swidth = window.screen.width;
		if(swidth <= 1024){
			$('.bb-btn-slide').css('left','37.4%');
		}
        //
        $('div.bb-menu>ul>li:first>span.tit').trigger('click');
    });

    function _pullMenu(obj){
		var swidth = window.screen.width;
    	var $_obj = $(obj), $_p = $('div.bb-menu2'),$_c = $('div.bb-container');
    	var c = $_obj.attr('class').split(' ');
    	if(c[1] && c[1] == 'on'){
			//$_p.css('width',"279px");
    		$_p.removeClass('on');
    		$_c.removeClass('on');
    		$_obj.removeClass('on');
			if(swidth <= 1024){
				$(obj).css('left','37.4%');
			}
    	}else{
			//$_p.css('width',0);
    		$_p.addClass('on');
    		$_c.addClass('on');
    		$_obj.addClass('on');
			if(swidth <= 1024){
				$(obj).css('left','15.7%');
			}
    	}
    }

    function _bbEvent(){
    	$('div.bb-menu2').on('click','li>span.tit',function(){
			var $_p = $(this).parent();
    		var url = $_p.data('url');

    		$_p.addClass('active').siblings().removeClass('active');
    		$('#bbTarget').attr('src',url);
    	}).on('click','li>div.ctr>a.edit',function(){
    		var $_p = $(this).parent().parent();
    		var url = $(this).data('url');

    		$_p.addClass('active').siblings().removeClass('active');
    		$('#bbTarget').attr('src',url);
    	}).on('click','li>div.ctr>a.search_result',function(){
    		var $_p = $(this).parent().parent();
    		var url = $(this).data('url');

    		$_p.addClass('active').siblings().removeClass('active');
    		$('#bbTarget').attr('src',url);
		})
    }

    function _getSubList(obj,id){
		var template_array = [];
		$.ajax({
			url:'/bhost/Get_DataReportTemplate',
			type:'post',
			async:false,
			data:{a0:se,z1:id},
			success:function(result){
				template_array = JSON.parse(result);
			}
		});

        var $_p = $(obj).parent();
        var pc = $_p.attr('class');

        if(pc && pc != ''){
            pc = pc.split(' ');
        }

        $_p.addClass('active').siblings().removeClass('active');

        var $_b = $('div.bb-menu2');
		if (template_array.length == 0){
			$_b.addClass('bb-blank').children('ul').empty();
			$('#bbTarget').attr('src','/bhost/modify_template?se='+{{se}}+'&z2=0&z1=0');
            return;
		}else{
			$("#bbCont").show();
			$("#bbCont").prev('.c-top').find('.tit-nav').show();
			//var $_u = $('<ul />');
			var $_u = $_b.children('ul');
			$_u.empty();
			var append_str = "";
            $.each(template_array,function(i,item){
				var con_url = '/bhost/modify_template?se='+{{se}}+'&z1=0&z2=0';
				var mod_url = '/bhost/modify_template?se='+{{se}}+'&z1=0&z2='+item.Id;
				item.Name = item.Name.replace("报告","");
				append_str = append_str + '<li title="'+item.Name+'" data-url="'+con_url+'"><span class="tit">'+item.Name+'</span><div class="ctr">';
				if (manage_report_power.indexOf(12) != -1){
					append_str = append_str + '<a href="javascript:;" class="edit" title="编辑" data-url="'+mod_url+'"></a><a href="javascript:;" class="del" title="删除" onclick="_delItem(this,'+item.Id+')"></a></div></li>';
				}else{
					append_str = append_str + '<a href="javascript:;" title="查看" class="check_icon" data-url="'+mod_url+'"></a></div></li>';
				}
                //$_u.append('<li data-url="'+con_url+'"><span class="tit">'+item.Name+'</span><div class="ctr"><a href="javascript:;" class="edit" data-url="'+mod_url+'"></a><a href="javascript:;" class="del" onclick="_delItem(this,'+item.Id+')"></a></div></li>');
            });
			$_u.append(append_str);
            $_b.removeClass('bb-blank').append($_u);
            $('>li:first>span.tit',$_u).trigger('click');
		}
		
    }

    function _delItem(obj,id){
    	layer.open({
    		type: 1,
            title: '删除确认',
            content: '<div class="layer-alert"><i class="alert warning"></i>是否删除此报表</div>',
            btn: ['确定', '取消'],
            btnAlign: 'c',
            area: ['380px','310px'],
            yes: function(i) {
				/*
                var $_p = $(obj).parent().parent();
                
                $_p.fadeOut(function(){
                	$_p.remove();
                	if($('div.bb-menu2').find('li.active').length == 0){
	                	$('div.bb-menu2').find('li:first>span').trigger('click');
	                }
                });
				layer.close(i);
				*/
				$.ajax({
					url:'/bhost/Delete_DataReportTemplate',
					type:'post',
					async:false,
					data:{a0:se,z1:id,z2:back_type},
					success:function(result){
						var del_result = JSON.parse(result);
						if (del_result.Result){
							$(obj).parent().parent().remove();
							_alert(0,"删除模板","删除成功");
							layer.close(i);
							if ($('div.bb-menu2').find('li').length == 0){
								$('div.bb-menu2').addClass('bb-blank');
																								if (id == $('#bbTarget').contents().temp_id){
									$('#bbTarget').attr('src','/bhost/modify_template?se='+se+'&z1=0&z2=0');
								}
								//$('#bbTarget').contents().find('.tit-nav').hide();
								//$('#bbTarget').contents().find('.manual-head').hide();
								//$('#bbTarget').contents().find('.tit-step').hide();
								//$('#bbTarget').contents().find('#bbCont').hide();
							}else{
								if($('div.bb-menu2').find('li.active').length == 0){
									$('div.bb-menu2').find('li:first>span').trigger('click');
								}
							}
							return false;
						}else{
							_alert(1,"删除模板","删除失败");
							layer.close(i);
							return false;
						}
					}
				});
            },
            skin:'layer-custom'
    	})
    }

	function edit_classify(obj){
		var name = $(obj).parent().prev().text();
		var t_id = $(obj).parents('li:first').attr('id').split('-')[1];
		$('#classifyName').val(name);
		$.ajax({
			url:'/bhost/Get_DataReportTemplateType',
			type:'post',
			async:false,
			data:{a0:se,z1:t_id},
			success:function(result){
				var templatetype_data = JSON.parse(result);
				if (templatetype_data[0].UserSet != null){
					if (templatetype_data[0].UserSet != null){
						$.each(templatetype_data[0].UserSet,function(i,item){
							if ($("#account_select").find('option[value=' + item.UserId + ']').length != 0){
								$("#account_select").val(item.UserId).trigger('change');
								if (i != templatetype_data[0].UserSet.length - 1){
									$('#account_select').siblings('.add').click();
								}
							}
							/*
							if (i != templatetype_data[0].UserSet.length - 1){
								account_arry.push(item.UserId);
								account_index_all.splice($.inArray(parseInt(item.UserId), account_index_all), 1);
								var account_text = $("#account_select").find('option[value=' + item.UserId + ']').text();
								$("#account_select").find('option[value=' + item.UserId + ']').remove();
								$("#account_select").parent().after('<div class="item account"><input type="text" class="form-text" id="'+item.UserId+'" value="'+account_text+'" style="width:88px;" disabled="true"><i class="ctrl del" onclick="_del_account(this)"></i></div>');
							}else{
								$("#account_select").val(item.UserId).trigger('change');
							}
							*/
						});
					}
				}
			}
		});
	}
	
	function clear_classify(){
		$('#classifyName').val('');
		$('.item.account').remove();
		account_arry = [-1];
		account_index_all = [];
		get_account();
	}
	
    function _classify_suspend(type,obj){
		if (type == 1){
			$('.topa').children('a').blur();
		}else{
			$(obj).blur();
		}
		clear_classify();
		var $dialogCont = $("#classify_suspend").show();
		var d = dialog({
			title:"分类",
			content:$dialogCont,
			id:"classify_suspend",
			width:"600px"
		});
		d.addEventListener('close', function () {
			$dialogCont.appendTo("body").hide();
		});
		d.showModal();
		get_account();
		var t_id;
		var name;
		if (type == 1){//添加
			$('#classifyName').val('');
		}else{
			edit_classify(obj);
			t_id = $(obj).parents('li:first').attr('id').split('-')[1];
		}
		
		$("a.btn-cancel",$dialogCont).unbind().bind("click",function(){
			if (type == 1){
				clear_classify();
			}else{
				clear_classify();
				edit_classify(obj);
			}
		});
		
		$("a.btn-submit",$dialogCont).unbind().bind("click",function(){
			var v = $('#classifyName').val().trim();
			if(v == ''){
				_alert(1,"分类",'分类名称不能为空');
				return false;
			}
			var NameReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
			if (!NameReg.test(v)){
				_alert(1,"分类","分类名称格式不正确",$('#classifyName'));
				return false;
			}
			var len = 0;
			for (var i = 0; i < v.length; i++) {
			   if (v.charAt(i).match(/[\u4E00-\u9FA5]/ig) != null){ //全角 
					len += 2; 
			   }else{
					len += 1;
				}			
			}
			if(len > 50){
				_alert(1,"分类","分类名称过长",$('#classifyName'));
				return false;
			}
			var usercode = [];
			$.each(account_arry,function(i,item){
				if (item != -1){
					var str = '{"UserId":'+item+'}';
					usercode.push(JSON.parse(str));
				}
			});
			if (type == 1){
				msstr = aceg(JSON.stringify(usercode),se);
				$.ajax({
					url:'/bhost/Save_DataReportTemplateType',
					type:'post',
					async:false,
					data:{a0:se,z1:v,z2:0,z4:JSON.stringify(usercode),m1:msstr},
					success:function(result){
						var save_result = JSON.parse(result);
						if (save_result.Result){
							d.close().remove();
							$.each(mdata,function(i,item){
								if (item.UserCode == us){
									if (account_arry.indexOf(item.UserId) != -1 || (account_arry.length == 1 && account_arry[0] == -1)){
										var $c = $('<li id="temptype-'+save_result.TemplateTypeId+'"><span class="tit" onclick="_getSubList(this,'+save_result.TemplateTypeId+')">'+v+'</span><div class="ctr"><a href="javascript:;" class="edit" onclick="_classify_suspend(2,this)"></a><a href="javascript:;" class="del" onclick="_delClassify(this,'+save_result.TemplateTypeId+')"></a></div></li>');
										$('.bb-menu>ul').append($c);
										return false;
									}
									return false;
								}
							});
							return false;
						}else{
							_alert(1,"分类","添加失败："+save_result.ErrMsg,$('#classifyName'));
							return false;
						}
					}
				});
			}else{
				msstr = aceg(JSON.stringify(usercode),se);
				$.ajax({
					url:'/bhost/Save_DataReportTemplateType',
					type:'post',
					async:false,
					data:{a0:se,z1:v,z2:t_id,z4:JSON.stringify(usercode),m1:msstr},
					success:function(result){
						var save_result = JSON.parse(result);
						if (save_result.Result){
							d.close().remove();
							var flag = 0;
							$.each(mdata,function(i,item){
								if (item.UserCode == us){
									if (account_arry.indexOf(item.UserId) != -1 || (account_arry.length == 1 && account_arry[0] == -1)){
										flag = 1;
										$(obj).parent().prev().text(v);
										return false;
									}
									return false;
								}
							});
							if (flag == 0){
								$(obj).parents('li:first').remove();
								if ($('div.bb-menu').find('li').length != 0){
									if($('div.bb-menu').find('li.active').length == 0){
										$('div.bb-menu').find('li:first>span').trigger('click');
									}
								}
							}
							return false;
						}else{
							_alert(1,"分类","修改失败："+save_result.ErrMsg,$('#classifyName'));
							return false;
						}
					}
				});
			}
		});
    }

    function _delClassify(obj,id){
        layer.open({
            type: 1,
            title: '删除确认',
            content: '<div class="layer-alert"><i class="alert warning"></i>是否删除此分类</div>',
            btn: ['确定', '取消'],
            btnAlign: 'c',
            area: ['380px','310px'],
            yes: function(i) {
				$.ajax({
					url:'/bhost/Delete_DataReportTemplateType',
					type:'post',
					async:false,
					data:{a0:se,z1:id,z2:0},
					success:function(result){
						var del_result = JSON.parse(result);
						if (del_result.Result){
							$(obj).parent().parent().remove();
							if ($('div.bb-menu').find('li').length == 0){
								$('div.bb-menu2').removeClass('bb-blank');
								$('#bbTarget').contents().find('.tit-nav').hide();
								$('#bbTarget').contents().find('.manual-head').hide();
								$('#bbTarget').contents().find('.tit-step').hide();
								$('#bbTarget').contents().find('#bbCont').hide();
							}else{
								if($('div.bb-menu').find('li.active').length == 0){
									$('div.bb-menu').find('li:first>span').trigger('click');
								}
							}
							_alert(0,"删除分类","删除成功");
							layer.close(i);
							return false;
						}else{
							_alert(1,"删除分类","删除失败");
							layer.close(i);
							return false;
						}
					}
				});
            },
            skin:'layer-custom'
        })
    }
	var get_result;
	var img_name ='';
    function _globalSetting(){
        globalLayer = layer.open({
            type:1,
            title:'报表素材',
            content:$('#globalLayer'),
            area:'640px'
        });
		$.ajax({
			url:'/bhost/Get_DataReportGlobalCfg',
			type:'post',
			data:{a0:se},
			success:function(result){
				get_result = JSON.parse(result);
				if (get_result.hasOwnProperty("Result")){
					$("#report_bg").val('');
					$("#report_jpg").val('');
					//$("#jpg_size").val(10);
					f_id = 0;
				}else{
					f_id = get_result.Id;
					$("#report_bg").val(get_result.ReportBGName);
					//$("#report_jpg").val(get_result.ReportBGPic);
					//$("#jpg_size").val(get_result.AttachMaxLimit);
					if (get_result.ReportBGPic != ""){
						var img_pwd = '/manage/images/' + get_result.ReportBGPic+'?cache='+(new Date()).valueOf();
						img_name = get_result.ReportBGPic;
						$("#jpg_img").find('img').attr('src',img_pwd);
						$("#jpg_img").show();
						if (get_result.Width > 300){
							$("#jpg_img").children('img').css('width',"300px");
							var margin_h = -(300/get_result.Width*get_result.Height*2-20);
							$("#jpg_img").children('a').css('margin-top',margin_h);
						}else{
							var margin_h = -(parseInt(get_result.Height)*2-20);
							$("#jpg_img").children('img').css('width','auto');
							$("#jpg_img").children('a').css('margin-top',margin_h);
						}
					}
										$(".layui-layer.layui-layer-page.layer-anim").css('top','60px');
				}
			}
		});
		/*
        $('#globalLayer').find('button').unbind().on('click',function(){
            layer.close(globalLayer);
        });
		*/
    }

    function _getFilePath(obj){
		var $_txt = $(obj).parent().find('input[type=text]');
        var v = $(obj).val();
		        if(v && v != ''){
            v = v.split('\\');
            $_txt.val(v[v.length-1]);
        }else{
            $_txt.val('');
        }
    }

    function _addModel(){
        //添加模板
        $('#bbTarget').attr('src','/bhost/modify_template?se='+se+'&z1=0&z2=0');	
    }

    function __getHostGroup(){
        hglayer = layer.open({
            type:2,
            title:'选择主机组',
            content:'/bhost/report_hostgroup_show?a0='+se,
            area:['640px','480px'],
            btn:false,
            shade:0.7
        });
    }

    function _closeHgLayer(){
        layer.close(hglayer);
    }

    function __setHostGroup(data){
        $('#bbTarget')[0].contentWindow.__setHostGroup(data);
    }
	function _errLayer(type,title,result,obj,url){
		obj = obj || $('#_');
		url = url || "";
		var class_name ;
		if (type == 0){
			class_name  = "alert succ";
		}else if (type == 1){
			class_name  = "alert fail";
		}else if (type == 2){
			class_name  = "alert warning";
		}
		$('.btn').blur();
		obj.blur();
		$('.layui-layer-btn-c a').focus();
        layer.open({
            type: 1,
            title: title,
            content: '<div class="layer-alert"><i class="'+class_name+'"></i>'+result+'</div>',
            btn: '确&nbsp;&nbsp;定',
            btnAlign: 'c',
            area: ['380px', '310px'],
            skin: 'layer-custom',
            scrollbar: false,
			btn1:function(i){
				layer.close(i);
				obj.focus();
				if(result.indexOf('系统异常')>=0 || result.indexOf('非法访问')>=0 || result.indexOf('系统超时') >=0){
					top.location.href='/';
				}else{
					if(url !=""){
						location.href = url;
					}
				}
			}
        });
    }
	var f_id = 0;
	function save_background(){
		var BgReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
		var SizeReg = /^([1]+[0-9])|20$/;
		var report_bg = $("#report_bg").val();
		/*
		if (report_bg == ""){
			_alert(2,"报表素材","报表背景不能为空");
			return false;
		}
		*/
		if (report_bg != ""){
			if (!BgReg.test(report_bg)){
				_alert(1,"报表素材","水印背景输入不正确");
				return false;
			}
			var len = 0;
			for (var i = 0; i < report_bg.length; i++) {
				if (report_bg.charAt(i).match(/[\u4E00-\u9FA5]/ig) != null){ //全角 
					len += 2; 
				}else{
					len += 1;
				}			
			}
			if(len > 50){
				_alert(2,"报表素材","水印背景输入过长");
				return false;
			}
		}
		/*
		var jpg_size = $("#jpg_size").val();
		if (jpg_size == ""){
			_alert(1,"报表素材","附件大小不能为空");
			return false;
		}
		
		if (!SizeReg.test(jpg_size)){
			_alert(1,"报表素材","附件大小不正确");
			return false;
		}
		*/
		var jpg_pwd = $('.upfix-text').val();
		var read_ok = 0;
		if (jpg_pwd != ""){
			if (jpg_pwd.substr(-3) != "jpg"){
				_alert(2,"报表素材","请选择jpg格式的图片文件");
				return false;
			}
			var MyTest = document.getElementById("jpg_name").files[0];
			var reader = new FileReader();
			reader.readAsDataURL(MyTest);
			reader.onload = function(theFile) {
			　	var image = new Image();
				image.src = theFile.target.result;
				image.onload = function() {
					read_ok = 1;
					if (this.width <= 600 && this.height <= 300){
						//var jpg_name = jpg_pwd.substring(0,jpg_pwd.length-4);
						var formData_f = new FormData($("#uploadForm")[0]);
						formData_f.append('a0',se);
						formData_f.append('z1',f_id);
						formData_f.append('z2',this.width);
						formData_f.append('z3',this.height);
						formData_f.append('z4',0);
						if(img_name != jpg_pwd && img_name !=''){
							formData_f.append('z5',img_name);//删除原来的图片
						}
						$.ajax({
							url:'/bhost/Save_DataReportGlobalCfg',
							type:'post',
							data:formData_f,
							async: false,  
							cache: false,
							contentType: false,// 告诉jQuery不要去设置Content-Type请求头
							processData: false,// 告诉jQuery不要去处理发送的数据
							success:function(result){
								var is_r = JSON.parse(result);
								if (is_r.Result){
									layer.close(globalLayer);
									_alert(0,"报表素材","保存成功");
								}else{
									_alert(1,"报表素材","执行失败");
									return false;
								}	
							}
						});
					}else{
						_alert(2,"报表素材","水印图片大小不正确");		
						return false;
					}
			   };
				image.onerror=function(){
					_alert(2,"报表素材","LOGO图片已损坏");
					return false;
			   };
			};
		}else{
			if ($("#jpg_img").is(':visible')){
				if (report_bg != get_result.ReportBGName){
					$.ajax({
						url:'/bhost/update_material_name',
						type:"post",
						async:false,
						data:{a0:se,z1:report_bg,z2:f_id,z3:0},
						success:function(result){
							_alert(0,"报表素材","保存成功");
							layer.close(globalLayer);
							return false;
						}
					})
				}else{
					layer.close(globalLayer);
					_alert(0,"报表素材","保存成功");
					return false;
				}
				
			}else{
				var formData_f = new FormData($("#uploadForm")[0]);
				formData_f.append('a0',se);
				formData_f.append('z1',f_id);
				formData_f.append('z2',0);
				formData_f.append('z3',0);
				formData_f.append('z4',0);
				formData_f.append('z5',img_name);
				$.ajax({
					url:'/bhost/Save_DataReportGlobalCfg',
					type:'post',
					data:formData_f,
					async: false,  
					cache: false,
					contentType: false,// 告诉jQuery不要去设置Content-Type请求头
					processData: false,// 告诉jQuery不要去处理发送的数据
					success:function(result){
						var is_r = JSON.parse(result);
						if (is_r.Result){
							layer.close(globalLayer);
							_alert(0,"报表素材","保存成功");
						}else{
							_alert(1,"报表素材","执行失败");
							return false;
						}	
					}
				});
			}
		}
	}
	
	function del_jpg(){
		$("#jpg_img").hide();
		$("#report_jpg").val('');
		$("#jpg_name").val('');
	}
	var nameReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
	function NameCheck(obj){
		var name = $(obj).val().trim();
		var $i = $(obj).next('i.v-check');
		
		if (!nameReg.test(name)){
			$i.show().attr('class','v-check v-wrong');
		}else{
			$i.show().attr('class','v-check v-right');
		}
	}
	
	var account_arry = [-1];
	var account_index_all = [];
	function _add_account(obj){
		var account_id = $("#account_select").val();
		var account_text = $("#account_select").children('option:selected').text();
		if (account_id == undefined) {
			$("#account_select").val('-1').trigger('change');
			return false;
		}
		if (account_id == -1) {
			_alert(2, "分类", "请选择账号");
			return;
		}
		account_arry.splice(0, 0, '-1');
		account_index_all.splice($.inArray(parseInt(account_id), account_index_all), 1);
		$("#account_select").find('option[value=' + account_id + ']').remove();
		$(obj).parent().after('<div class="item account"><input type="text" class="form-text" id="'+account_id+'" value="'+account_text+'" style="width:88px;" disabled="true"><i class="ctrl del" onclick="_del_account(this)"></i></div>');
	}
	
	function _del_account(obj){
		var $c = $(obj).parent();
		var id = $c.children('input').attr('id');
		var t = $(obj).siblings('input').val();
		var v, data, max;
		var min = 0;
		max = account_index_all.length - 1;
		$("#account_select").parent().show();
		account_arry.splice($.inArray(id, account_arry), 1);
		data = account_index_all;
		$p = $("#account_select");
		
		$c.remove();
		if (max < 0){
			var index_1 = -1;
		}else{
			var index_1 = search_i(min, max, id, data);
		}
		index_1 = parseInt(index_1);

		if (index_1 == -1) {
			index_1 = max + 1;
			$p.append('<option value="' + id + '">' + t + '</option>');
		} else if (index_1 == -2) {
			index_1 = 0;
			$p.children('option').eq(0).after('<option value="' + id + '">' + t + '</option>');
		} else {
			$p.children('option[value=' + data[index_1] + ']').before('<option value="' + id + '">' + t + '</option>');
		}
		account_index_all.splice(index_1, 0, parseInt(id));
	}
	
	function search_i(min, max, id, data) {
		var mid, res;
		if (data[max] < id) {
			return -1;
		}
		if (data[min] > id) {
			return -2;
		}
		while (min <= max) {
			mid = parseInt((min + max) / 2);
			if (data[mid] > id) {
				max = mid - 1;
				res = mid;
			} else {
				min = mid + 1;
			}
		}
		return res;
	}
	
	function change_account(obj) {
		var t = $(obj).children('option:selected').val();
		if (account_arry.indexOf(t) === -1 && t != undefined) {
			account_arry.splice(0, 1, parseInt(t));
		}
		if ($(obj).children('option').length == 2 && t != '-1') {
			$(obj).parent().children('i.add').click();
			$(obj).parent().hide();
		}
	}
	
	//获取报表管理权限账号
	var mdata;
	function get_account() {
		$.ajax({
			url: '/bhost/get_manage_user',
			type: 'post',
			async: false,
			data: {a0:se,z1:7},
			success: function (result) {
				mdata = JSON.parse(result);
				if (mdata.Result == false) {
					_alert(1, "分类", "执行失败：" + mdata.info);
					return false;
				} else {
					$("#account_select").empty().append('<option value="-1">请选择</option>');
					$.each(mdata, function (i, item) {
						$("#account_select").append('<option value="' + item.UserId + '">' + item.UserCode + '</option>');
						account_index_all.push(item.UserId);
					});
				}
			}
		});
		$('#account_select').select2();
	}
    </script>
</body>

</html>
