<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
</head>
<body class="bg-white">
	<div class="container">
		<div class="c-cont" style="height:100%">
			<div class="c-form" style="width: 630px;">
				<div class="clearfix"></div>
				<div class="form">
					<div class="form-item" style="padding: 0px 0 10px;">
						<span class="form-tag" style="width: 150px;">确认备注：</span>
						<div class="form-c" style="padding-left: 160px;">
							<textarea id="markcontent" class="form-textarea" name="" cols="30" rows="10" style="width: 340px;"></textarea>
						</div>
					</div>
				</div>
			</div>
				<div class="btns" style="">
					<a href="javascript:;" class="btn btn-normal btn-submit" onclick="Trans()">保&nbsp;&nbsp;存</a>
				</div>
		</div>
	</div>
<style>
    .h-content2{height: auto;}			
</style>
<!--script-->
<script src="/manage/js/jquery.min.js"></script>
<script src="/manage/js/jquery.easing.js"></script>
<script src="/manage/js/layer.js"></script>
<script src="/manage/js/common.js"></script>

<!--icheck-->
<script src="/manage/js/icheck.min.js"></script>


<script>
//节点
//子节点
var hgrp_Data = []; 
var s_id = '{{s_id}}';
var type = '{{type}}';
$(function(){
});

function Cancle(){
	parent._closeHgLayer(-1);
}

function Trans(){
	parent._closeHgLayer(0,$("#markcontent").val());
	parent.get_warnMsg();
}
</script>
</body>
</html>
