<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>
	<link rel="stylesheet" href="/manage/css/new-head.css">
</head>
<body style="overflow:hidden;" class="bg-white">
		<!---->
		<div class="c-top">
			<div class="c-title">
				<!--
				<h3 onclick="parent.reload();">模块应用设置</h3>
				-->
				<div class="manual-head" style="width:100px;float:left;">
					<div class="manual-title">
						<span id="module_reload" style="cursor: pointer;">模块设置</span>
						<i class="module_icon"></i>
					</div>
				</div>
				<div class="ctr">
					<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
				</div>
			</div>
		</div>
		<div class="mainer">
			
			<div class="container1">
				<div class="c-cont" style="overflow:hidden;">
					<div class="c-wrap">
						<div class="c-table r-list tab-type2">
							<div class="box-table">
								<table cellpadding="0" cellspacing="0" id="">
									<thead>
										<tr>		
											<th style="text-align: center;">模块</th>
											<th style="text-align: center;">使用模式</th>
											<th style="text-align: center;">开启服务</th>
											<th style="text-align: center;">端口访问</th>
											<th style="text-align: center;">服务端口</th>
											<!--
											<th style="text-align: center;">映射访问</th>
											<th style="text-align: center;">映射端口</th>
											-->
											<!--
											<th style="text-align: center;">启用</th>
											-->
										</tr>
									</thead>
								</table>
							</div>
							<div class="box-table">
								<table cellpadding="0" cellspacing="0" id="module_app_set_list">
									<!--
									<thead>
										<tr>		
											<th style="text-align: center;">模块</th>
											<th style="text-align: center;">使用模式</th>
											<th style="text-align: center;">映射端口</th>
											<th style="text-align: center;">服务端口</th>
											<th style="text-align: center;">映射</th>
											<th style="text-align: center;">开启服务端口</th>
											<th style="text-align: center;">启用</th>
										</tr>
									</thead>
									-->
									<tbody>
										
									</tbody>
								</table>
							</div>
						</div>
						
						<div class="clearfix"></div>
						<div class="btns s-hide">
							<a href="javascript:;" class="btn btn-cancel1 btn-normal" onclick="save();">保&nbsp;&nbsp;存</a>
							<!--
							<a href="javascript:;" class="btn btn-cancel1 btn-normal" onclick="back();">取&nbsp;&nbsp;消</a>
							-->
						</div>
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn" style="float: right;" onclick="back();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	<form action="/bhost/create_acc_client" method="POST" name="frm_acc_client" id="frm_acc_client">
		<input type="hidden" name="t1" id = "t1" value="" />
		<input type="hidden" name="z1" id = "z1" value="" />		
		<input type="hidden" name="z4" id = "z4" value=""/>
		<input type="hidden" name="z5" id = "z5" value=""/>
	</form>
</body>


<script>
$('.filter-select').select2({minimumResultsForSearch: -1});
$('.form-checkbox,.form-radio').iCheck({
	checkboxClass: 'icheckbox_minimal-blue',
	radioClass: 'iradio_minimal-blue',
	increaseArea: '0' // optional
});
</script>

<style>
.box-table th {
	text-align: center;
}
.box-table td {
	text-align: center;
}

.box-table input[type=text] {
	text-align: center;
}
/*
table tr td:nth-child(2) label{
	display: inline-block;
    width: 80px;
}
*/
tr td{
	height:28px;
}
</style>

<script>
var list = "{{data|safe}}";
var se;
$(function(){
	_if_disable = $('#nav-s1 li[data-modeid=7]',parent.parent.document).attr('_if_disable');
	if(_if_disable == '1'){
		$('.s-hide').remove();
	}
	$("#module_reload").on("click",function(){
		parent.reload();
	});
	se = window.parent.frm.se.value;
	parent._switchBtn(1);//显示左右按钮
	get_globalstrategy();
	module_app_set_list();
	_initSize();
});

var global_s;
function get_globalstrategy() {
	$.ajax({
		url: '/bhost/get_globalstrategy',
		type: 'post',
		async: false,
		data: { a0: se },
		success: function (result) {
			global_s = JSON.parse(result);
		}
	})
}

//获取列表
function module_app_set_list(){
	var tr_num = 0;
	$.ajax({
		url:'/bhost/module_app_set_list',
		type:"post",
		async:false,
		data:{a0:se},
		success:function(result){
			var list = JSON.parse(result);
			var u_mode = "";
			var html_data = "";
			$("#module_app_set_list tbody").empty();
			$.each(list.data,function(i,item){
				tr_num++;
				if (item.ApplicationName.indexOf('菜单') === -1 && item.ApplicationName.indexOf('MYSQL') === -1 && item.ApplicationName.indexOf('回放') === -1 && item.ApplicationName.indexOf('SSH') === -1){
					u_mode = '<label style=\"display: inline-block;margin-left: 10px;width: 51px;\"><input type="radio" name="mode_'+tr_num+'" class="form-radio" value="1">直连 </label>'
				}else{
					u_mode = "<label style=\"display: inline-block;margin-left: 10px;width: 51px;\"></label>";
				}
				
				html_data = '<tr id="'+item.ApplicationConfigId+'"><td>'+item.ApplicationName+'</td><td style=""><label><input type="radio" name="mode_'+tr_num+'" class="form-radio" value="2">认证</label>'+u_mode+'</td><td><label><input type="checkbox" name="ser_'+tr_num+'" class="form-checkbox"></label></td><td><label><input type="checkbox" class="form-checkbox" name="port_access'+tr_num+'"></label></td><td><input type="text" class="form-text" value="'+item.ServicePort+'" maxlength="5" style="width: 42px;padding: 0 3px 0 3px;" onblur="numCheck(this,1);"></td></tr>'
				
				$("#module_app_set_list tbody").append(html_data);
				
				$('input:radio[name=mode_'+tr_num+']').iCheck({
					checkboxClass: 'icheckbox_minimal-blue',
					radioClass: 'iradio_minimal-blue',
					increaseArea: '0' 
				});

				$('input:checkbox[name=port_access'+tr_num+']').iCheck({
					checkboxClass: 'icheckbox_minimal-blue',
					radioClass: 'iradio_minimal-blue',
					increaseArea: '0' 
				});
				$('input:checkbox[name=ser_'+tr_num+']').iCheck({
					checkboxClass: 'icheckbox_minimal-blue',
					radioClass: 'iradio_minimal-blue',
					increaseArea: '0' 
				});

				$('input:checkbox[name=port_access'+tr_num+']').on('ifChanged',function(){
					if ($(this).prop('checked')){
						$(this).parents('td:first').next().find('input').attr('disabled',false);
					}else{
						$(this).parents('td:first').next().find('input').attr('disabled',true);
					}
				});

				$('input:checkbox[name=ser_'+tr_num+']').on('ifChanged',function(){
					if ($(this).prop('checked')){
						$(this).parents('td:first').siblings('td:eq(2)').children().show();
						$(this).parents('td:first').siblings('td:eq(3)').children().show();
					}else{
						$(this).parents('td:first').siblings('td:eq(2)').children().hide();
						$(this).parents('td:first').siblings('td:eq(3)').children().hide();
					}
				});
				
				if (item.Mode == 2){
					$('input[name=mode_'+tr_num+']:first').iCheck('check');
				}else{
					$('input[name=mode_'+tr_num+']:last').iCheck('check');
				}
				
				if (item.EnableServicePort){
					$('input:checkbox[name=port_access'+tr_num+']').iCheck('check');
				}else{
					$('input:checkbox[name=port_access'+tr_num+']').parents('td:first').next().find('input').prop('disabled',true);
				}
				
				if (item.Enabled){
					$('input[name=ser_'+tr_num+']').iCheck('check')
				}else{
					$('input[name=ser_'+tr_num+']').parents('td:first').next().children().hide();
					$('input[name=ser_'+tr_num+']').parents('td:first').next().next().children().hide();
				}
				if (global_s.IsTunnel){
					if (item.Enabled){
						$("input[name=port_access"+tr_num+"]").iCheck('uncheck');
					}
				}
				/*
				if (!global_s.IsTunnel){
					if (item.Enabled){
						$('input[name=ser_'+tr_num+']').iCheck('check')
					}else{
						$('input[name=ser_'+tr_num+']').parents('td:first').next().children().hide();
						$('input[name=ser_'+tr_num+']').parents('td:first').next().next().children().hide();
					}
				}else{
					$('input[name=ser_'+tr_num+']').parents('td:first').next().children().hide();
					$('input[name=ser_'+tr_num+']').parents('td:first').next().next().children().hide();
				}
				*/
			});
		}
	});
}

function save(){
	var save_data = [];
	var ServicePort;
	var add = 0;
	var flag = 0;
	$("#module_app_set_list").children('tbody').children('tr').each(function(i,item){
		var _data = {
			"ApplicationConfigId": 2,  
			"ApplicationName": "SSH",          
			"Mode": 2,
			"MapPort": 80,        
			"ServicePort": 22,
			"EnableMap": true,
			"EnableServicePort": true,
			"Enabled": true
		};
		var $c = $(item).children('td');
		_data.ApplicationConfigId = $(item).attr('id');
		_data.ApplicationName = $c.eq(0).text();
		_data.Mode = $c.eq(1).find('input:checked').attr('value');
		ServicePort = parseInt($c.eq(4).find('input[type=text]').val());
		if (ServicePort < 1){
			add = 1;
			_alert(1,"模块设置","服务端口不能小于1",$c.eq(4).find('input[type=text]'));
			return false;
		}
		if (ServicePort > 65534){
			add = 1;
			_alert(1,"模块设置","服务端口不能大于65534",$c.eq(4).find('input[type=text]'));
			return false;
		}
		$.each(save_data,function(i1,item1){
			if (item1.ServicePort == ServicePort && $("#module_app_set_list").children('tbody').children('tr').eq(i1).children('td:eq(2)').find('input').prop('checked') && $c.eq(2).find('input').prop('checked')){
				add = 1;
				_alert(1,"模块设置",_data.ApplicationName +"与" +item1.ApplicationName+"的服务端口不能相同",$c.eq(4).find('input[type=text]'));
				return false;
			}
		})
		_data.ServicePort = ServicePort;
		if ($c.eq(3).find('input[type=checkbox]').prop('checked')){
			_data.EnableServicePort = true;
		}else{
			_data.EnableServicePort = false;
		}
		
		if ($c.eq(2).find('input').prop('checked')){
			_data.Enabled = true;
			flag = 1;
		}else{
			_data.Enabled = false;
			_data.EnableMap = false;
		}
		
		save_data.push(_data);
	});
	if (add == 1){
		return false;
	}
	msstr = aceg(JSON.stringify(save_data),se);
	$.ajax({
		url:'/bhost/Save_ApplicationConfig',
		type:'post',
		async:false,
		data:{a0:se,z1:JSON.stringify(save_data),z2:flag,m1:msstr},
		success:function(result){
			var result = JSON.parse(result);
			if (result.Result){
				parent.layer.open({
					type:1,
					title:"模块设置",
					content:'<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
					btn:['确&nbsp;&nbsp;定'],
					btnAlign:'c',
					closeBtn: false,
					skin:'layer-custom',
					area:['380px','310px'],
					move: false,
					resize: false,
					btn1:function(i){
						parent.layer.close(i);
						location.reload();
					},
					btn2:function(i){
						parent.layer.close(i);
					}
				});
			}else{
				_alert(1,"模块设置","执行失败");
			}
		}
	})
}

$(window).resize(function () {
	_initSize();
});

function _initSize(){
	var h = $(window).height();
	$(".box-table:eq(1)").css('max-height',h-175);
}

//返回
function back(){
	window.parent._closePage(null); 
}
function numCheck(obj,type){
	obj.value = obj.value.replace(/\D/g,"");
	var v = obj.value.trim();
	if (v == ""){
		obj.value = '0';
	}
	if (type == 2){
		$("#module_app_set_list tr td:nth-child(7) input").val(obj.value);
	}
}
</script>
