<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Logbase运维安全管理系统</title>
    <link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
    <link rel="stylesheet" href="/manage/css/style.css">
    <link rel="stylesheet" href="/manage/css/new-head.css">
</head>

<body style="overflow:hidden;" class="bg-white">

    <!---->
    <div class="mainer">
        <div class="container">
            <div class="c-top">
                <div class="c-title">
                    <div class="manual-head" style="">
                        <div class="manual-title" id="" style="">
                                <span>回放</span>
                                <i class="hlink-hostcata" style=""></i>
                        </div>
                    </div>
                </div>

                <!---->
                <div class="c-cont c-cont-review">

                    <div class="c-wrap c-wrap-review">
<pre id="fList">

</pre>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="/manage/js/jquery.min.js"></script>
    <script src="/manage/js/common.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<style>
	.c-cont.c-cont-review {
		/*height: 100% !important;*/
	}
	</style>
    <script>
		var baseData = [];
        var MAX_PAGE_ANA = 100;
        var sessid = '{{sessid}}';
        var stime = '{{stime}}';
        var etime = '{{etime}}';
		var xtime = '{{xtime}}';
        var error_msg = '{{error_msg}}';
        var analysis_id = '{{analysis_id}}';
        var type = '{{type}}';
        var server_user = '{{server_user}}';
        var server_ip = '{{server_ip}}';
        var userCode = '{{us}}';
        var statue = 0;
        var total_row = 0;
        $(function(){
            if(error_msg!=""){
                _alert(2,'{{ana_str}}',error_msg);
                return false;
            }
			$.ajax({
                url:'/bhost/get_stat_pb',
                type:'post',
                async:true,
                data:{a0:{{se}},a1:analysis_id,a2:sessid},
                success:function(result){
					result = JSON.parse(result); 
					if(result.Result == true){
						statue = result.status;
						total_row = result.total_row;
						if(total_row > 0){
							$("#ana_total").text(total_row);
							totalpage = Math.ceil(parseInt(total_row)/MAX_PAGE_ANA);
							if (totalpage < 1){
								totalpage = 1;
							}
							$("#totalpage").text(totalpage.toString());
							$("#page_total").text(MAX_PAGE_ANA);
      
							//获取数据 
							_initList();
						}else if(statue > 1){
							_alert(1,'{{ana_str}}','回放失败');
                            return false;
						}else{
							__doAnalysis();
						}
                                        
					}else{
						_alert(1,'{{ana_str}}',result.info);
					}
					_scrollMove();
                }
            })
		});

		function __doAnalysis(){
            //_showLoading();
            //获取当前 任务的状态和数量
            function _do(){
                $.ajax({
                    url:'/bhost/get_stat_pb',
                    type:'post',
                    async:true,
                    data:{a0:{{se}},a1:analysis_id,a2:sessid},
                    success:function(result){
                        result = JSON.parse(result); 
                        if(result.Result == true){
                            statue = result.status;
                            total_row = result.total_row;
                            $("#ana_total").text(total_row);
                            totalpage = Math.ceil(parseInt(total_row)/MAX_PAGE_ANA);
                            if (totalpage < 1){
                                totalpage = 1;
                            }
                        }else{
                            _alert(1,'{{ana_str}}',result.info);
                        }
                    }
                })
            }
            if_ok = setInterval(function(){
                ////console.log(index);
                if(statue > 1 && total_row == 0){
                    clearInterval(if_ok);
                    //_closeLoading();
                    _alert(1,'{{ana_str}}','获取信息失败');
                    return false;
                }
                else if (statue > 1 || total_row>0){    
					//获取信息结束  
                    _closeLoading();
                    clearInterval(if_ok);   
                    //获取数据                              
                    _initList();
                    //##获取数量 
                    if(total_row>0) 
                        return false;
                }
                _do();  
            },1000);          
        }
		
        function get_data(){
			$.ajax({
				url:'/bhost/get_data_pb',
				type:'post',
				async:false,
				data:{a0:{{se}},a1:sessid,p1:$('#curpage').val()},
				success:function(result){
					result = JSON.parse(result);
					baseData = result;
                }
            })
        }


		function _initList(){
			var $tb = $('#fList').empty();

			get_data();
			
			var time = 0;
			var x = 0;
			$.each(baseData,function(i,item){
				var y = 0;
				var stringTime = item.xtime_02.replace('T',' ').replace('+08:00','');
				var t = Date.parse(new Date(stringTime));
				t = t / 1000;
				x = t;
				if(time == 0){
					time = time + 0.5;
				}else{
					y = t - x;
					if(0<y&y<0.5){
						time = time + 0.5;
					}else if(y>3){
						time = time + 3;
					}else{
						time = time + y;
					}
				}
				
				var str = "";
				str = '<z style="display: none;"> <span style="margin-right: 10px;vertical-align: top"> > </span><span class="blue" style="width :90%;white-space: pre-wrap;display: none;">'+item.str32_01+'</span><br />';
				if (item.str32_02!=null && item.str32_02 !=""){
					//var str32_02 = item.str32_02.split('\n');
					var str32_02 = item.str32_02;
					if(str32_02.indexOf("\\n") >= 0) { 
						str32_02 = str32_02.replace("\\n", " \n "); 
						
					}
					
					str += "<z1 style='display:none'>"+str32_02.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');+'</z1><br /></z>';

				}else{
					str += "</z>";
				}	
				$("#fList").append(str);
				
				var l = $("#fList z:last");
				var $span=$("#fList z:last span");
				
				setTimeout(function(){
					$(l).css("display","block");
                    var top=$(".c-wrap-review").height()
                    $(".c-cont-review").scrollTop(top);
				},time*1000);
                time = time +0.5;
                setTimeout(function(){
                    $span.css("display","inline-block");
                },time*1000);
				time = time +0.5;
				setTimeout(function(){
					$(l).children("z1").css("display","block");
                    var top=$(".c-wrap-review").height()
                    $(".c-cont-review").scrollTop(top);
				},time*1000);
			});


		}
		
		<!-- var loadLayer =0; -->
        <!-- function _showLoading(){ -->
			<!-- loadLayer = layer.open({ -->
				<!-- title:false, -->
				<!-- closeBtn:false, -->
				<!-- content:'<div id="Loading">正在{{ana_str}}中……</div>', -->
				<!-- btn:false, -->
				<!-- skin:'loadingbar', -->
				<!-- area:['150px','180px'], -->
				<!-- move:false, -->
				<!-- resize:false, -->
				<!-- shade:[0.1,'#000'] -->
			<!-- }) -->
		<!-- } -->
		<!-- function _closeLoading(){ -->
			<!-- layer.close(loadLayer); -->
		<!-- } -->
		$(function(){
			autoSize();
		})

		$(window).resize(function() {
			autoSize();
		});
		function autoSize(){
			var w = $(window).width(),h = $(window).height();
			$('.c-cont-review').height(h);
		}
		function _scrollMove(){
            // var auto=setInterval(function(){
            //     var top=$(".c-wrap-review").height();
            //     //console.log(top);
            //
            //     $(".c-cont-review").scrollTop(top);
            // },500)
            $(".c-cont-review").resize(function(){
                alert(1);
                //console.log($(this).height);
            })
            $(".c-cont-review").scrollTop(1000);
        }

	</script>
</body>

</html>
