<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<link rel="stylesheet" href="/manage/css/new-head.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>

	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>

</head>
<style>
	.filter-select2 + .select2-container--default >.selection > .select2-selection--single{
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		margin-left: -1px;
	}
	.filter-select2 + .select2-container--default{
		display: none;
	}
</style>
<body style="overflow:hidden;" class="bg-white">
	<!--历史清单-->
	<div class="mainer" name="pwdresult" id="pwdresult">

		<div class="container">
			<div class="c-top">
				<div class="c-title">
					<div class="manual-head" style="">
						<div class="manual-title">
							<span onclick="pwdresult_list();">历史清单</span>
							<i class="pwdresult_icon"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="c-cont">
				<div class="c-wrap">
					<div class="c-table r-list">
						<div class="tab-t">
							<div class="ctr">
								<a href="javascript:;" class="btn btn-default" onclick="click_all_list_pwdresult();" style="display:none;">全选</a>
								<a href="javascript:;" class="btn btn-default" id="down_load_1" onclick="down_load();" style="display:none;">下载</a>
									<a href="javascript:;" class="btn btn-default" id="PwdApprove_User" onclick="PwdApprove_User();" style="display:none;">审批</a>
									<a href="javascript:;" class="btn btn-default" onclick="pwdresult_page(0);clear_all_pwdresult();" style="display:none;">刷新</a>
							</div>

							<div class="filter">
								<div class="search">
									<select name="pwdresult_select" id="pwdresult_select" class="filter-select">
										<option value="all" selected>所有</option>
										<option value="hostip">IP</option>
										<option value="hostname">主机</option>
										<option value="protocolname">协议</option>
										<option value="accountname">账号</option>
										<option value="username">管理员</option>
										<option value="Status">执行结果</option>
										<option value="PwdModType">改密方式</option>
									</select>

									<input type="text" class="filter-text" style="/*display:none;*/padding-right: 22px;" 
									placeholder="输入关键字" name="pwdresult_text" id="pwdresult_text"
									onchange="if($('#pwdresult_text').val()==''){$('#pwdresult_text_check').hide();}else{$('#pwdresult_text_check').show();}"
									onkeyup="if($('#pwdresult_text').val()==''){$('#pwdresult_text_check').hide();}else{$('#pwdresult_text_check').show();}"
									onblur="if($('#pwdresult_text').val()=='' && search_typeall_new!=''){search_typeall_new='';_addFilter(this,false,1);}"
									onkeydown="if($('#pwdresult_text').val()==''){$('#pwdresult_text_check').hide();}else{$('#pwdresult_text_check').show();}; if (event.keyCode == 13){_addFilter(this,false);return false;} else return; ">
									<i class="v-check v-wrong" id="pwdresult_text_check" 
										onclick="_clearFilter(this,1)" 
										style="display:none;cursor: pointer;float: left;position: static;"></i>
										<select name="Status_pwdresult" id="Status_pwdresult" style="width: 141px" class="filter-select filter-select2">
											<option value="" selected>所有</option>
											<option value="0" >准备</option>
											<option value="1">生成预备密码完成</option>
											<option value="2">可以执行改密</option>
											<option value="3">正在执行改密</option>
											<option value="4">成功</option>
											<option value="5">登录失败</option>
											<option value="6">改密失败</option>
											<option value="7">确认失败</option>
											<option value="8">域账号已改密</option>
											<option value="9">取消改密</option>
										</select>
										<select name="PwdModType_pwdresult" id="PwdModType_pwdresult" style="width: 141px" class="filter-select filter-select2">
											<option value="1" selected>自动改密</option>
											<option value="2">手工改密</option>
										</select>										
									<button class="btn filter-btn" onclick="_addFilter(this,false);">
										<i class="add-filter"></i>
									</button>
									<button class="btn filter-btn" onclick="_addFilter(this,true)">
										<i class="append-filter"></i>
									</button>
								</div>
								<div class="search" id="clearFilter" style="margin: 0px 15px 0px -16px;display:none;">
									<button class="filter-btn" onclick="_clearFilter(this)">
										<i class="clear-filter"></i>
									</button>
								</div>
								<div class="selector selector-multiple" id="filterWW" style="display:none;">
									<span class="ww">搜索条件</span>
									<ul>
									</ul>
								</div>
							</div>
						</div>
						<div class="box-table">
							<table cellpadding="0" cellspacing="0">
								<thead>
									<tr>
										<th width="50">
											<input type="checkbox" class="form-checkbox" id="check_one_page_pwd_result" />
										</th>
										<!-- <th width='140'>开始时间</th> -->
										<th width='140'>最后更新时间</th>
										<th>主机</th>
										<th width='110'>IP</th>
										<th>协议</th>
										<th>账号</th>
										<th>管理员</th>
										<th>执行结果</th>
										<th>改密方式</th>
										<th width="25"></th>
									</tr>
								</thead>

								<tbody name="pwdresult_list" id="pwdresult_list">
								</tbody>
							</table>
						</div>
						<div class="tab-i">
							<div class="il">
								每页显示
								<span id="page_nums">10</span>条 总数：
								<span id="pwdresult_total">0</span> 选中：
								<span class="sum">0</span>
							</div>

							<div class="ipage">
								<a href="javascript:;" class="nav2 begin" id="pwdresult_begin" onclick="pwdresult_page(0.1);">
									<i></i>
								</a>
								<a href="javascript:;" class="nav prev" id="pwdresult_prev" onclick="pwdresult_page(-1);">
									<i></i>
								</a>
								<input type="text" maxlength="5" id="pwdresult_page" value="1" onchange="showMsg();change_input_width(this);" onblur="showMsg();change_input_width(this);" onkeyup="change_input_width(this);" onkeydown="change_input_width(this);">/&nbsp;<span id="pwdresult_pages">1</span>
								<a href="javascript:;" class="nav next" id="pwdresult_next" onclick="pwdresult_page(1);">
									<i></i>
								</a>
								<a href="javascript:;" class="nav2 end" id="pwdresult_end" onclick="pwdresult_page(0.9);">
									<i></i>
								</a>
							</div>
						</div>
					</div>

					<div class="clearfix"></div>
					<!--
					<div class="btns">
						<a href="javascript:;" class="btn btn-normal" onclick="back();">返&nbsp;&nbsp;回</a>
					</div>
					-->
					<div id="bBtn" style="position: fixed;z-index:5;">
						<a href="javascript:;" class="btn" style="float: right;" onclick="back();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<form action="/bhost/get_pwdresult_list" method="POST" name="frm_pwdresult" id="frm_pwdresult">
		<input type="hidden" name="tasktype" id="tasktype" value="{{tasktype}}" />
		<!--创建 编辑 列表-->
		<input type="hidden" name="a" id="a" value="{{a}}" />
		<!--需要查询id-->
		<input type="hidden" name="c" id="c" value="{{c}}" />
		<!--页码-->
		<input type="hidden" name="d" id="d" value="{{d}}" />
		<!--search_typeall-->
		<input type="hidden" name="us" id="us" value="{{us}}" />
		<!--us-->
		<input type="hidden" name="se" id="se" value="{{se}}" />
		<!--us-->
	</form>
	<style>
		.c-table{
			min-width:1177px;
		}
	</style>
	<script>
		$('.form-checkbox,.form-radio').iCheck({
			checkboxClass: 'icheckbox_minimal-blue',
			radioClass: 'iradio_minimal-blue',
			increaseArea: '0' // optional
		});
	</script>


	<script>
		$('#pwdresult_select').parents('div.search').hide();
		$('.filter-select').select2({ minimumResultsForSearch: -1 });
		$('#pwdresult_select').on('change',function () {
			var pwdresult_select=$('#pwdresult_select').val();
			switch (pwdresult_select) {
				case 'Status':
					$('#pwdresult_text').hide();
					$('#Status_pwdresult').next('.select2').show();
					$('#PwdModType_pwdresult').next('.select2').hide();
					break;
				case 'PwdModType':
					$('#pwdresult_text').hide();
					$('#Status_pwdresult').next('.select2').hide();
					$('#PwdModType_pwdresult').next('.select2').show();
					break;
				default:
					$('#pwdresult_text').show();
					$('#Status_pwdresult').next('.select2').hide();
					$('#PwdModType_pwdresult').next('.select2').hide();
					break;
			}
		});
		$('#pwdresult_select').val('all').trigger('change');
		$('#pwdresult_select').parents('div.search').show();
	</script>
	<script type="text/javascript">
		var delect_save_pwd_result = new Array();
		var check_num = 0;
		var total_all_r = 0;
		var pwdresult_array = null;
		//总数
		var fenye_r = 0;
		//总页码
		var search_typeall_r = "";
		//关键字
		var paging_r = 1;
		var data_item={
			"HostIP": null,
			"HostName": null,
			"AccountPassword": new Array()
		};
		var account_item={
			"Password": null,
			"AccountName": null,
			"PasswordType": null,
			"ProtocolName": null,
			"OldPasswordType":null,
			"OldPassword":null,
			"Status":null
		};
		var ip_str=[];
		function change_input_width(obj) {
			var input_text=$(obj).val();
			var len_=input_text.length;
			if(len_>3){
				$(obj).css('width',(len_-1)*10+'px');
			}else{
				$(obj).css('width','2em');
			}
		}
		function back() {
			var tasktype = document.frm_pwdresult.tasktype.value;
			if (tasktype == '4') {
				document.frm_pwdresult.tasktype.value = 3;
				document.frm_pwdresult.a.value = 0;
				document.frm_pwdresult.action = '/bhost/pwdresult_handle';
				document.frm_pwdresult.submit();
			} else {
				document.frm_pwdresult.tasktype.value = 4;
				document.frm_pwdresult.us.value = loginusercode;
				document.frm_pwdresult.action = '/bhost/index';
				document.frm_pwdresult.submit();
			}

		}
		function PwdApprove_User(item_id){
			//console.log(item_id);
			var pass=1;
			$.ajax({
				url: "/bhost/get_global_IfPwdApprove",
				type:"POST",
				async:false,
				data:{a0:$("input[name=se]").val()},
				success:function(result){
					var result=JSON.parse(result);
					if(result.Result){
						IfPwdFileApprove=result.info.PwdFileApproveNum;
					}
				}
			});
			$.ajax({
				url: "/bhost/get_hostpwdstrategy",
				type:"POST",
				async:false,
				data:{a0:$("input[name=se]").val()},
				success:function(result){
					var result_hostpwd=JSON.parse(result);
					if(result_hostpwd.Result){
						hostpwd_data=result_hostpwd.info;
						if (window.parent.document.frm.us.value!='admin' && (hostpwd_data==null ||(IfPwdFileApprove && (hostpwd_data.PwdFileApproveUserSet==null || hostpwd_data.PwdFileApproveUserSet.length==0)))){
							parent.layer.open({
								type: 1,
								title: '历史清单',
								content: '<div class="layer-alert"><i class="alert warning"></i>改密设定未配置</div>',
								btn: ['确&nbsp;&nbsp;定'],
								btnAlign: 'c',
								closeBtn: false,
								skin: 'layer-custom',
								area: ['380px', '310px'],
								move: false,
								resize: false,
								yes: function (i) {
									parent.layer.close(i);
									hostpwdstrategy_send();
								}
							});
							pass=0;
							clearInterval(show_list_interval);
							return false;
						}else if(window.parent.document.frm.us.value!='admin' && IfPwdFileApprove && hostpwd_data.PwdFileApproveUserSet.length<IfPwdFileApprove){
							parent.layer.open({
								type: 1,
								title: '历史清单',
								content: '<div class="layer-alert"><i class="alert warning"></i>改密设定下载审批配置不正确</div>',
								btn: ['确&nbsp;&nbsp;定'],
								btnAlign: 'c',
								closeBtn: false,
								skin: 'layer-custom',
								area: ['380px', '310px'],
								move: false,
								resize: false,
								yes: function (i) {
									parent.layer.close(i);
									hostpwdstrategy_send();
								}
							});
							clearInterval(show_list_interval);
							pass=0;
							return false;
						}
					}
				}
			});
			if(pass==0){
				return false;
			}
			$.ajax({
				url: "/bhost/user_value",
				type:"POST",
				async:false,
				data:{a0:$("input[name=se]").val()},
				success:function(result){
					var result=JSON.parse(result);
					if(result.Result){
						user_value=result.info;
						appr=result.appr;
						if(result.ip_str!=''){
							ip_str=[];
							var ip_str_t=result.ip_str.split(',');
							$.each(ip_str_t,function(i,item){
								if ($.inArray(item,ip_str)<0) ip_str.push(item);
							})
						}else{
							ip_str=[];
						}
					}else{
						clearInterval(show_list_interval);
						_alert(2,'历史清单',result.ErrMsg);
						pass=0
						return false;
					}
				}
			});
			if(pass==0){
				return false;
			}
			var time_new=Date.parse(new Date())+window.parent.document.frm.us.value;
			//console.log(ip_str);
			if(item_id==undefined){
				delect_save_pwdresult();
				if(delect_save_pwd_result.length==0){
					_alert(2,'历史清单','请选择清单');
					return false;
				}
				var ip_arr=new Array();
				$.each(pwd_result_data_json.data,function(i,item){
					if ($.inArray(item.PwdModTaskDetailId+'',delect_save_pwd_result)<0){
						return true;
					}
					if ($.inArray(item.HostIP,ip_str)>=0){
						return true;
					}
					if($.inArray(item.HostIP,ip_arr)<0){
						ip_arr.push(item.HostIP);
					}
				});
			}else{
				var ip_arr=new Array();
				$.each(pwd_result_data_json.data,function(i,item){
					if ((item.PwdModTaskDetailId+'')!=item_id){
						return true;
					}
					if($.inArray(item.HostIP,ip_arr)<0){
						ip_arr.push(item.HostIP);
					}
				});
			}
			if (ip_arr.length==0){
				_alert(2,'历史清单','无有效清单');
				return false;
			}
			var UserId_arr=new Array();
			var MessageId_arr=new Array();
			$.each(hostpwd_data.PwdFileApproveUserSet,function(i,item){
				UserId_arr.push(item.UserId);
				msg_json={
					"MessageId":0,
					"MessageType":"13",
					"Title":"申请密码文件导出",
					"SenderId":user_value,
					"Sender":window.parent.document.frm.us.value,
					"ReceiverId":item.UserId,
					"Receiver":item.UserCode,
					"Content":"主机范围："+ip_arr.join(','),
					"Status":2,
					"ProcessStatus":0,
					//"SessionId": time_new
				}
				msstr = aceg(JSON.stringify(msg_json),$("input[name=se]").val());
				$.ajax({
					url: "/bhost/save_receive_msg",
					type:"POST",
					async:false,
					data:{a0:$("input[name=se]").val(),a1:JSON.stringify(msg_json),m1:msstr},
					success:function(result){
						var result=JSON.parse(result);
						if(result.Result){
							MessageId_arr.push(result.MessageId);
						}else{
							pass=0;
						}
					},
					error:function(){
						pass=0;
					}			
				});
				if(pass==0){
					return false;
				}
			});
			if(pass==0){
				return false;
			}
			if (hostpwd_data.PwdFileApproveType!=null && hostpwd_data.PwdFileApproveType>1){
				var approve_json={
					"ApproveStrategyId":0,
					"ApproveStrategyName":"%下载审批1%"+(new Date()).valueOf(),
					"ApproveNum":1,
					"ApproveType":hostpwd_data.PwdFileApproveType,
					"UserSet":new Array(),
					"MasterSmsMConfigId":null,
					"MasterSmsMConfig":null,
					"StandBySmsMConfigId":null,
					"StandBySmsMConfig":null,
					"MasterSmsSvrConfigId":((hostpwd_data.MasterSmsSvrConfig!=null && hostpwd_data.MasterSmsSvrConfig.SmsSvrConfigId!=0)?hostpwd_data.MasterSmsSvrConfig.SmsSvrConfigId:0),
					"MasterSmsSvrConfig":((hostpwd_data.MasterSmsSvrConfig!=null && hostpwd_data.MasterSmsSvrConfig.SmsSvrConfigId!=0)?hostpwd_data.MasterSmsSvrConfig.SmsSvrConfigName:"全局指定"),
					"StandBySmsSvrConfigId":((hostpwd_data.StandBySmsSvrConfig!=null && hostpwd_data.StandBySmsSvrConfig.SmsSvrConfigId!=0)?hostpwd_data.StandBySmsSvrConfig.SmsSvrConfigId:0),
					"StandBySmsSvrConfig":((hostpwd_data.StandBySmsSvrConfig!=null && hostpwd_data.StandBySmsSvrConfig.SmsSvrConfigId!=0)?hostpwd_data.StandBySmsSvrConfig.SmsSvrConfigName:"全局指定"),
					"MasterSmtpConfigId":((hostpwd_data.MasterSmtpConfig!=null && hostpwd_data.MasterSmtpConfig.SmtpConfigId!=0)?hostpwd_data.MasterSmtpConfig.SmtpConfigId:0),
					"MasterSmtpConfig":((hostpwd_data.MasterSmtpConfig!=null && hostpwd_data.MasterSmtpConfig.SmtpConfigId!=0)?hostpwd_data.MasterSmtpConfig.SmtpConfigName:"全局指定"),
					"StandBySmtpConfigId":((hostpwd_data.StandBySmtpConfig!=null && hostpwd_data.StandBySmtpConfig.SmtpConfigId!=0)?hostpwd_data.StandBySmtpConfig.SmtpConfigId:0),
					"StandBySmtpConfig":((hostpwd_data.StandBySmtpConfig!=null && hostpwd_data.StandBySmtpConfig.SmtpConfigId!=0)?hostpwd_data.StandBySmtpConfig.SmtpConfigName:"全局指定"),
					"UsedForPwdMod":1,
				}
				var approve_json2={
					"ApproveStrategyId":0,
					"ApproveStrategyName":"%下载审批2%"+(new Date()).valueOf(),
					"ApproveNum":1,
					"ApproveType":hostpwd_data.PwdFileApproveType,
					"UserSet":new Array(),
					"MasterSmsMConfigId":null,
					"MasterSmsMConfig":null,
					"StandBySmsMConfigId":null,
					"StandBySmsMConfig":null,
					"MasterSmsSvrConfigId":((hostpwd_data.MasterSmsSvrConfig!=null && hostpwd_data.MasterSmsSvrConfig.SmsSvrConfigId!=0)?hostpwd_data.MasterSmsSvrConfig.SmsSvrConfigId:0),
					"MasterSmsSvrConfig":((hostpwd_data.MasterSmsSvrConfig!=null && hostpwd_data.MasterSmsSvrConfig.SmsSvrConfigId!=0)?hostpwd_data.MasterSmsSvrConfig.SmsSvrConfigName:"全局指定"),
					"StandBySmsSvrConfigId":((hostpwd_data.StandBySmsSvrConfig!=null && hostpwd_data.StandBySmsSvrConfig.SmsSvrConfigId!=0)?hostpwd_data.StandBySmsSvrConfig.SmsSvrConfigId:0),
					"StandBySmsSvrConfig":((hostpwd_data.StandBySmsSvrConfig!=null && hostpwd_data.StandBySmsSvrConfig.SmsSvrConfigId!=0)?hostpwd_data.StandBySmsSvrConfig.SmsSvrConfigName:"全局指定"),
					"MasterSmtpConfigId":((hostpwd_data.MasterSmtpConfig!=null && hostpwd_data.MasterSmtpConfig.SmtpConfigId!=0)?hostpwd_data.MasterSmtpConfig.SmtpConfigId:0),
					"MasterSmtpConfig":((hostpwd_data.MasterSmtpConfig!=null && hostpwd_data.MasterSmtpConfig.SmtpConfigId!=0)?hostpwd_data.MasterSmtpConfig.SmtpConfigName:"全局指定"),
					"StandBySmtpConfigId":((hostpwd_data.StandBySmtpConfig!=null && hostpwd_data.StandBySmtpConfig.SmtpConfigId!=0)?hostpwd_data.StandBySmtpConfig.SmtpConfigId:0),
					"StandBySmtpConfig":((hostpwd_data.StandBySmtpConfig!=null && hostpwd_data.StandBySmtpConfig.SmtpConfigId!=0)?hostpwd_data.StandBySmtpConfig.SmtpConfigName:"全局指定"),
					"UsedForPwdMod":1,
				}
				$.each(UserId_arr,function(u_i,u_item){
					approve_json.UserSet.push({"UserId":u_item});
					approve_json2.UserSet.push({"UserId":u_item});
				});
				var ApproveStrategyId=0;
				var ApproveStrategyarr=[];
				if((hostpwd_data.PwdFileApproveType&4)>0){
					var msstr = aceg(JSON.stringify(approve_json),$("input[name=se]").val());
					$.ajax({
						url: '/bhost/add_approve',
						type: "POST",
						async: false,
						data: { a0: $("input[name=se]").val(), a1: JSON.stringify(approve_json) ,m1:msstr,a10:"密码管理>改密设定"},
						success: function (result) {
							var result = JSON.parse(result);
							if (result.Result) {
								ApproveStrategyarr.push(result.ApproveStrategyId);
							} else {
								pass=0;
								_alert(1, "审批策略", result.ErrMsg);
								return false;
							}
						},
						error:function(){
							pass=0;
						}
					});
					if (pass==0){
						return false;
					}
				}
				if((hostpwd_data.PwdFileApproveType&8)>0){
					var msstr = aceg(JSON.stringify(approve_json2),$("input[name=se]").val());
					$.ajax({
						url: '/bhost/add_approve',
						type: "POST",
						async: false,
						data: { a0: $("input[name=se]").val(), a1: JSON.stringify(approve_json2) ,m1:msstr,a10:"密码管理>改密设定"},
						success: function (result) {
							var result = JSON.parse(result);
							if (result.Result) {
								ApproveStrategyarr.push(result.ApproveStrategyId);
							} else {
								pass=0;
								_alert(1, "审批策略", result.ErrMsg);
								return false;
							}
						},
						error:function(){
							pass=0;
						}
					});
					if (pass==0){
						return false;
					}
				}
				var msstr = aceg(JSON.stringify(approve_json),$("input[name=se]").val());
				$.ajax({
					url: '/bhost/save_authmessage',
					type: "POST",
					async: false,
					data: { a0: $("input[name=se]").val(), a1: UserId_arr.join(','),a2:ApproveStrategyarr.join(','),a3:hostpwd_data.PwdFileApproveType,a4:("主机范围："+ip_arr.join(',')),a5:MessageId_arr.join(','),a6:ip_arr.join(','),a7:UserId_arr.length},
					success: function (result) {
						var result = JSON.parse(result);
						if (result.Result) {
						} else {
							pass=0;
							_alert(1, "历史清单", result.ErrMsg);
							return false;
						}
					}
				});
			}
			if(pass==0){
				return false;
			}
			_alert(0,'历史清单','审批已发送');
			
		}
		var IfPwdFileApprove=null;
		var hostpwd_data=null;
		var user_value=null;
		var appr=0;
		var show_list_interval=null;
		var loginusercode = window.parent.document.frm.us.value;
		$(function () {
			//输入数字
			$("#pwdresult_page").bind('keydown', function (e) {
				DigitInput(e);
			});
			//页码显示
			$("#page_nums").val(MAX_PAGE);
			//list show
			show_pwdresult_list();
			show_list_interval=setInterval(function () {
				show_pwdresult_list();
			},60000); 
			parent._switchBtn(1);//显示按钮
			//tr事件
			$("#pwdresult_list").on("click", "tr", function (e) {
				x = e.target;
				//下载按钮
				if (x.id == 'icon6') {
					_showLoading();
					var id = $(this).find("td");
					var input = $(this).find("input");
					var delete_item =parseInt($(id).eq(1).text());
					var pwdchange_down=JSON.parse(JSON.stringify(pwd_result_data_json.data.filter(function (params) {
						return params.PwdModTaskDetailId==delete_item;
					})[0]));
					var id_item={
						"totalrow":null,
						"data":new Array()
					};
					////console.log(JSON.stringify(pwdchange_down));
					////console.log('id_item.data[pwdchange_down.HostId]:'+id_item.data[pwdchange_down.HostId]);
					if(id_item.data[pwdchange_down.HostId]==undefined){
						////console.log('pwdchange_down.HostIP:'+pwdchange_down.HostIP);
						data_item.HostIP=pwdchange_down.HostIP;
						////console.log('pwdchange_down.HostName:'+pwdchange_down.HostName);
						data_item.HostName=pwdchange_down.HostName;
						////console.log(JSON.stringify(data_item));
						id_item.data.push(JSON.parse(JSON.stringify(data_item)));
					}
					////console.log(JSON.stringify(id_item));
					account_item.AccountName=pwdchange_down.AccountName;
					account_item.ProtocolName=pwdchange_down.ProtocolName;
					account_item.PasswordType=pwdchange_down.NewPasswordType;
					account_item.Password=pwdchange_down.NewPassword;
					account_item.OldPasswordType=pwdchange_down.OldPasswordType;
					account_item.OldPassword=pwdchange_down.OldPassword;
					switch (pwdchange_down.Status) {
						case 1:case 2:case 3:
							account_item.Status='（预生成）';
							break;
						case 4:
							account_item.Status='';
							break;
						case 5:
							account_item.Status='（登录失败）';
							break;
						case 6:
							account_item.Status='（改密失败）';
							break;
						case 7:
							account_item.Status='（确认失败）';
							break;
						case 8:
							account_item.Status='（域账号已改密）';
							break;
					}
					id_item.data[0].AccountPassword.push(JSON.parse(JSON.stringify(account_item)));
					down_load_ajax(id_item);
				}
				if(x.id=='appr'){
					var id=$(this).find("td");
					var edit_item=$(id).eq(1).text();
					console.log(edit_item);
					PwdApprove_User(edit_item);
				}
			});
			$('#check_one_page_pwd_result').on(' ifClicked', function (e) {
				if (!$('#check_one_page_pwd_result').is(':checked')) {
					$("#pwdresult_list tr input").iCheck('check');
				} else {
					$("#pwdresult_list tr input").iCheck('uncheck');
				}
			});
			$("#pwdresult_list").on("ifChecked", function (e) {
				check_num++;
				$("#pwdresult_total").next("span.sum").text(check_num);
				if ($("#pwdresult_list tr input:checked").length == $("#pwdresult_list tr input[disabled!=disabled]").length) {
					$('#check_one_page_pwd_result').iCheck('check');
				}
			}).on("ifUnchecked", function (e) {
				check_num--;
				$("#pwdresult_total").next("span.sum").text(check_num);
				$('#check_one_page_pwd_result').iCheck('uncheck');
			});
		})
		function hostpwdstrategy_send() {
        		document.frm_pwdresult.action = '/bhost/hostpwd_showing'
        		document.frm_pwdresult.submit();
		}
		//input回车触发事件
		function showMsg() {
			delect_save_pwdresult();
			var cur = $("#pwdresult_page").val();
			//////console.log(cur);
			cur = cur.replace(/\D/g, "");
			if (cur == '' || parseInt(cur) < 1) {
				cur = 1;
			} else if (parseInt(cur) > fenye_r) {
				cur = fenye_r;
			}
			if (parseInt(cur) == parseInt(paging_r)) {
				$("#pwdresult_page").val(cur);
				return false;
			}
			paging_r = cur;
			show_pwdresult_list();
		}
		function down_load() {
			
			delect_save_pwdresult();
			if (delect_save_pwd_result.length == 0) {
				_alert(2, '历史清单', '请选择主机');
				return false;
			}
			_showLoading();
			// return false;
			down_load_ajax(null);
		}
		
		//down_load_ajax
		function down_load_ajax(id) {
			if (id == null) {
				id={
					"totalrow":null,
					"data":new Array()
				};
				for(var i=0;i<pwd_result_data_json.data.length;i++){
					if( $.inArray(pwd_result_data_json.data[i].PwdModTaskDetailId+'',delect_save_pwd_result)<0){
						continue;
					}
					if(!$('#PwdApprove_User').is(':hidden') && $.inArray(pwd_result_data_json.data[i].HostIP,ip_str)<0){
						continue;
					}
					if(id.data[pwd_result_data_json.data[i].HostId]==undefined && $.inArray(pwd_result_data_json.data[i].PwdModTaskDetailId+'',delect_save_pwd_result)>=0){
						data_item.HostIP=pwd_result_data_json.data[i].HostIP;
						data_item.HostName=pwd_result_data_json.data[i].HostName;
						id.data[pwd_result_data_json.data[i].HostId]=JSON.parse(JSON.stringify(data_item));
					}
					account_item.AccountName=pwd_result_data_json.data[i].AccountName;
					account_item.ProtocolName=pwd_result_data_json.data[i].ProtocolName;
					account_item.PasswordType=pwd_result_data_json.data[i].NewPasswordType;
					account_item.Password=pwd_result_data_json.data[i].NewPassword;
					account_item.OldPasswordType=pwd_result_data_json.data[i].OldPasswordType;
					account_item.OldPassword=pwd_result_data_json.data[i].OldPassword;
					switch (pwd_result_data_json.data[i].Status) {
						case 1:case 2:case 3:
							account_item.Status='（预生成）';
							break;
						case 4:
							account_item.Status='';
							break;
						case 5:
							account_item.Status='（登录失败）';
							break;
						case 6:
							account_item.Status='（改密失败）';
							break;
						case 7:
							account_item.Status='（确认失败）';
							break;
						case 8:
							account_item.Status='（域账号已改密）';
							break;
					}
					id.data[pwd_result_data_json.data[i].HostId].AccountPassword.push(JSON.parse(JSON.stringify(account_item)));
				}
			}
			delete id.totalrow;
			for(var i=0;i<id.data.length;i++){
				if(id.data[i]==undefined){
					id.data.splice(i,1);
					i--;
				}
			}
			if(id.data.length==0){
				_closeLoading();
				_alert(2,'历史清单','无有效账号');
				return false;
			}
			_showLoading();
			//console.log(id);
			$.ajax({
				url:'/bhost/export_pwd',
				type:'post',
				async:false,
				data:{a0:$("input[name=se]").val(),a1:JSON.stringify(id),a2:1,a3:3},
				success:function(result){
					repeat_get = function(){
						if_ok_down = setInterval(function(){
							get_down_ok();
						},5000)}
					repeat_get();
				}
			});	
		}
		var use_BH=window.parent.parent.document.frm.use_BH.value;
		var if_ok_down=null;
		function get_down_ok(){
				$.ajax({
						url:'/bhost/get_down_ok_pwd',
						type:'post',
						async:false,
						data:{a0:$("input[name=se]").val()},
						success:function(result){
							var down_result = JSON.parse(result);
							if (down_result.Result){
								clearInterval(if_ok_down);
								if (down_result.ErrMsg != "None"){
										_alert(1,"历史清单",down_result.ErrMsg);
										return false;
								}
								_closeLoading();
								if(use_BH=='0'){
									location.href = '/bhost/download_expt?a0='+$("input[name=se]").val();
									return 0;
								}
								var sesstimet = (new Date()).valueOf();
								var referrer_arr=document.referrer.toString().split('/');
								referrer_arr.pop();
								var referrer=referrer_arr.join('/');
								var json_download = {
										"Type": "Download",
										"Url": referrer,
										"Path": '/usr/storage/.system/passwd/',
										"Filename": 'expt_'+window.parent.document.frm.us.value+'.'+window.parent.document.frm.se.value+'.pwd',
										"Session": $("input[name=se]").val(),
										"sesstimet":sesstimet,
										"Filenewname": 'expt_'+window.parent.document.frm.us.value+'.pwd',
								}
								var if_html_client = false;
								var base64_str = '';
								$.ajax({
										url: "/bhost/get_base64",
										type:"POST",
										async:false,
										data:{a0:$("input[name=se]").val(),z1:JSON.stringify(json_download)},
										success:function(result){
												var result=JSON.parse(result);
												if(result.Result){
														if_html_client = result.info;
														base64_str = result.b64;
												}else{
														_alert(1,"历史清单",result.ErrMsg); 
												}
										}
								})
								if(if_html_client) window.open('https://'+document.domain+':'+location.port+'/bhost/test_html?se='+window.parent.document.frm.se.value+'&z1='+JSON.stringify(json_download));
								else{
									get_regedit('bhost', window.parent.document.frm.se.value,'',sesstimet);
									$('#YuFrame1').remove();
									$("<iframe width='0px' height='0px' id='YuFrame1' style=\"display:none;\" name='YuFrame1' ></iframe>").prependTo('body');
									$('#YuFrame1').attr('src','/bhost/test_html?t1=bhost&z1='+base64_str);
								}
							}
						}
				});
		}
		var search_typeall_new = '';
		String.prototype.ResetBlank=function(){
			var regEx = /\s+/g; 
			return this.replace(regEx, ' '); 
		};
		function _addFilter(obj, type,type_num) {
			var id = $(obj).parent().children('select').eq(0).children('option:selected').val();
			var v1 = $(obj).parent().children('select').eq(0).children('option:selected').text();
			var v2 = $(obj).parent().children('input[type=text]').val().trim();
			if(id=='all'){
				v1='';
			}else{
				v1=v1+'-';
			}
			switch (id) {
				case 'Status':
					var v3 = $('#'+id+'_pwdresult').children('option:selected').text();
					v2=v3;
					break;
				case 'PwdModType':
					var v3 = $('#'+id+'_pwdresult').children('option:selected').text();
					v2=v3;
					break;
			}
			if (v2 == '' && type_num!=1) {
				$(obj).parent().children('input[type=text]').blur();
				_alert(2, '搜索', '关键字为空', $(obj).parent().children('input[type=text]'));
				return false;
			}
			//  else 
			{
				switch(id){
					case 'hostip':
						var Reg=/^(((?:(?:2[0-4][0-9]\.)|(?:25[0-5]\.)|(?:1[0-9][0-9]\.)|(?:[1-9][0-9]\.)|(?:[0-9]\.)){3}(?:(?:2[0-5][0-5])|(?:25[0-5])|(?:1[0-9][0-9])|(?:[1-9][0-9])|(?:[0-9])))(\s+))*((?:(?:2[0-4][0-9]\.)|(?:25[0-5]\.)|(?:1[0-9][0-9]\.)|(?:[1-9][0-9]\.)|(?:[0-9]\.)){3}(?:(?:2[0-5][0-5])|(?:25[0-5])|(?:1[0-9][0-9])|(?:[1-9][0-9])|(?:[0-9])))$/;
							break;
					case 'hostname':
						var Reg=/^[\u4e00-\u9fa5a-zA-Z\d_\-\.\s]+$/;
						break;
					case 'protocolname':
						var Reg=/^[a-zA-Z\d\-_\s]+$/;
						break;
					case 'accountname':
						var Reg=/^[\u4e00-\u9fa5a-zA-Z\d_\-\.\s]+$/;
						break;
					case 'username':
						var Reg=/^[\u4e00-\u9fa5a-zA-Z\d_\-\.\s]+$/;
						break;
					case 'Status':
						var Reg=/^[\u4e00-\u9fa5\s]+$/;
						break;
					case 'PwdModType':
						var Reg=/^[\u4e00-\u9fa5\s]+$/;
						break;						
				}
				if (id!='all' && id!='Status' && !Reg.test(v2) && type_num!=1) {
					$(obj).parent().children('input[type=text]').blur();
					_alert(2, '搜索', '关键字格式不正确', $(obj).parent().children('input[type=text]'));
					return false;
				}
				if (search_typeall_r.indexOf(id + '-' + v2 + '\t') >= 0 && type_num!=1) {
					$(obj).parent().children('input[type=text]').blur();
					_alert(2, '搜索', '关键字重复', $(obj).parent().children('input[type=text]'));
					return false;
				}

				if(id=='hostip' && !Reg.test(v2)){
					$(obj).parent().children('input[type=text]').blur();
					_alert(1,'搜索','关键字格式不正确', $(obj).parent().children('input[type=text]'));
					return false;
				}

				var pass=false;
				$.each(search_typeall_r.split('\t'),function (i,item) {
					if(item.indexOf('Status')==0 && id=="Status"){
						_alert(2,'搜索','只能搜索一种执行结果');
						pass=true;
						return false;
					}
				});
				$.each(search_typeall_r.split('\t'),function (i,item) {
					if(item.indexOf('PwdModType')==0 && id=="PwdModType"){
						_alert(2,'搜索','只能搜索一种改密方式');
						pass=true;
						return false;
					}
				});                
				if(pass){
					return false;
				}

				var r = /\s+/g;
				v2 = v2.replace(r,' ');
				if (type) {
					search_typeall_r = search_typeall_r + id + '-' + v2 + '\t';
					search_typeall_new = '';
					$(obj).parent().children('input[type=text]').val('');
					$('#filterWW>ul').append('<li><span style = "display:none">' + id + '-' + v2 + '</span><span class="ww">' + v1 + v2 + '</span><i class="del" onclick="_delFilter(this);"></i></li>')
					$('#pwdresult_text_check').hide();
					switch (id) {
						case 'Status':
							//$('#pwdresult_select option[value=Status]').remove();
							//$('#pwdresult_select').val('all').trigger('change');
							var qwq = $('#Status_pwdresult').val();
							$('#Status_pwdresult').val(qwq).trigger('change');
							break;
						case 'PwdModType':
							var qwq1 = $('#PwdModType_pwdresult').val();
							$('#PwdModType_pwdresult').val(1).trigger('change');
							break;
					}

				} else {
					if(type_num!=1)search_typeall_new = id + '-' + v2 + '\t';
				}

			}
			selView();
			delect_save_pwd_result = new Array();
			$("#pwdresult_list tr").find("input").iCheck('uncheck');
			pwdresult_page(0.1);
		}
		function _delFilter(obj) {
			var id = $(obj).parent().find("span");
			var ids = $(id).eq(0).text();
			search_typeall_r = search_typeall_r.replace(ids + '\t', '');
			var pwdresult_text = $('#pwdresult_text').val().trim();
			var index_i=ids.indexOf('-');
			var id_value_now=ids.substring(0,index_i);
			// switch (id_value_now) {
			// 	case 'Status':
			// 	    // if($('#pwdresult_select option[value=username]'))
			// 		if($('#pwdresult_select option[value=username]').length>0){
			// 			$('#pwdresult_select option[value=username]').after('<option value="Status">执行结果</option>');
			// 		}
			// 		break;
			// }
			$(obj).parent().remove();
			selView();
			delect_save_pwd_result = new Array();
			$("#pwdresult_list tr").find("input").iCheck('uncheck');
			pwdresult_page(0.1);
		}
		function _clearFilter(obj,num) {
			if(num==1){
			$('#pwdresult_text').val('');
			$('#pwdresult_text_check').hide();
			search_typeall_new = '';
			delect_save_pwd_result = new Array();
			$("#pwdresult_list tr").find("input").iCheck('uncheck');
			pwdresult_page(0.1);
			$("#pwdresult_total").next("span.sum").text(0);
				return;
			}
			$('#clearFilter').next().children('ul').empty();
			if($('#pwdresult_select option[value=Status]').length==0){
				$('#pwdresult_select option[value=username]').after('<option value="Status">执行结果</option>');
			}
			$('#pwdresult_text').val('');
			$('#clearFilter').hide();
			$('#pwdresult_text_check').hide();
			search_typeall_new = '';
			search_typeall_r = '';
			selView();
			delect_save_pwd_result = new Array();
			$("#pwdresult_list tr").find("input").iCheck('uncheck');
			pwdresult_page(0.1);
			$("#pwdresult_total").next("span.sum").text(0);
		}
		function clear_all_pwdresult() {
			$("#pwdresult_list tr").find("input").iCheck('uncheck');
			delect_save_pwd_result = new Array();
			check_num = 0;
			$('#pwdresult_total').next("span.sum").text(check_num);
		}
		function selView() {
			var $sel = $('#filterWW');
			var len = $('li', $sel).length;
			if (len == 0) {
				$sel.hide();
				$('#clearFilter').hide();
			} else {
				$("#filterWW").show();
				$('#clearFilter').show();
				$('>span.ww', $sel).show();
				$sel.addClass('selector-multiple');
			}
		}
		var pwd_result_data_json=null;
		function update_all_list() {
			var search_typeall = search_typeall_r + search_typeall_new;
			$.ajax({
				url: "/bhost/get_pwdresult_list",
				type: "POST",
				async: true,
				data: { a0: $("input[name=se]").val(), a2: search_typeall },
				success: function (result) {
					var result = JSON.parse(result);
					if (result.Result) {
						pwd_result_data_json=result.info;
						pwd_result_array = result.info.data.filter(function (params) {
							return params.Status!=0;
						}).map(function (params) {
							return params.PwdModTaskDetailId + '';
						});
					}
				}
			});
		}
		function click_all_list_pwdresult() {
			delect_save_pwdresult();
			if (pwd_result_array.length == delect_save_pwd_result.length) {
				delect_save_pwd_result = new Array();
			} else {
				delect_save_pwd_result = pwd_result_array;
			}
			show_pwdresult_list();
		}
		//以每页显示数显示列表函数
		function show_pwdresult_list() {
			var pass=1;
			$.ajax({
				url: "/bhost/get_global_IfPwdApprove",
				type:"POST",
				async:false,
				data:{a0:$("input[name=se]").val()},
				success:function(result){
					var result=JSON.parse(result);
					if(result.Result){
						IfPwdFileApprove=result.info.PwdFileApproveNum;
					}
				}
			});
			$.ajax({
				url: "/bhost/get_hostpwdstrategy",
				type:"POST",
				async:false,
				data:{a0:$("input[name=se]").val()},
				success:function(result){
					var result_hostpwd=JSON.parse(result);
					if(result_hostpwd.Result){
						hostpwd_data=result_hostpwd.info;
						if (window.parent.document.frm.us.value!='admin' && (hostpwd_data==null ||(IfPwdFileApprove && (hostpwd_data.PwdFileApproveUserSet==null || hostpwd_data.PwdFileApproveUserSet.length==0)))){
							parent.layer.open({
								type: 1,
								title: '历史清单',
								content: '<div class="layer-alert"><i class="alert warning"></i>改密设定未配置</div>',
								btn: ['确&nbsp;&nbsp;定'],
								btnAlign: 'c',
								closeBtn: false,
								skin: 'layer-custom',
								area: ['380px', '310px'],
								move: false,
								resize: false,
								yes: function (i) {
									parent.layer.close(i);
									hostpwdstrategy_send();
								}
							});
							clearInterval(show_list_interval);
							pass=0;
							return false;
						}else if(window.parent.document.frm.us.value!='admin' && IfPwdFileApprove && hostpwd_data.PwdFileApproveUserSet.length<IfPwdFileApprove){
							parent.layer.open({
								type: 1,
								title: '历史清单',
								content: '<div class="layer-alert"><i class="alert warning"></i>改密设定下载审批配置不正确</div>',
								btn: ['确&nbsp;&nbsp;定'],
								btnAlign: 'c',
								closeBtn: false,
								skin: 'layer-custom',
								area: ['380px', '310px'],
								move: false,
								resize: false,
								yes: function (i) {
									parent.layer.close(i);
									hostpwdstrategy_send();
								}
							});
							clearInterval(show_list_interval);
							pass=0;
							return false;
						}
					}
				}
			});
			if(pass==0){
				return false;
			}
			$.ajax({
				url: "/bhost/user_value",
				type:"POST",
				async:false,
				data:{a0:$("input[name=se]").val()},
				success:function(result){
					var result=JSON.parse(result);
					if(result.Result){
						user_value=result.info;
						appr=result.appr;
						if(result.ip_str!=''){
							ip_str=[];
							var ip_str_t=result.ip_str.split(',');
							$.each(ip_str_t,function(i,item){
								if ($.inArray(item,ip_str)<0) ip_str.push(item);
							})
						}else{
							ip_str=[];
						}
					}else{
						_alert(2,'历史清单',result.ErrMsg);
						clearInterval(show_list_interval);
						pass=0
						return false;
					}
				}
			});
			if(pass==0){
				return false;
			}
			$('.ctr>a').show();
			if((hostpwd_data!=null && hostpwd_data.PwdFileApproveNum) && window.parent.document.frm.us.value!='admin'){
				/*if(appr!=0){
					$('#PwdApprove_User').hide();
				}else{
					$('#PwdApprove_User').show();
				}*/
				$('#PwdApprove_User').show();
				$('#pwdresult_list').prev('thead').find('th:last').css('width',55);
			}else{
				$('#PwdApprove_User').hide();
				$('#pwdresult_list').prev('thead').find('th:last').css('width',25);
			}
			/*
			if(window.parent.document.frm.us.value!='admin' && hostpwd_data.PwdFileApproveNum && hostpwd_data.PwdFileApproveUserSet.length>0 && appr==0){
				$('#down_load_1').hide();	
				$('#down_load_2').hide();	
			}else{
				$('#down_load_1').show();	
				$('#down_load_2').show();	
			}*/
			$('#down_load_1').show();	
			$('#down_load_2').show();	
			update_all_list();
			var paging = paging_r;
			var page_num = MAX_PAGE;
			var search_typeall = search_typeall_r + search_typeall_new;
			var conn_d = document.frm_pwdresult.a.value;
			$.ajax({
				url: "/bhost/get_pwdresult_list",
				type: "POST",
				async: false,
				data: { a0: $("input[name=se]").val(), a4: page_num, a3: paging, a2: search_typeall, a1: conn_d },
				success: function (result) {
					var pwdresult_result = JSON.parse(result);
					if (pwdresult_result.Result) {
						var pwdresult_data = pwdresult_result.info;
						var total_all = pwdresult_data.totalrow;
						if (total_all % MAX_PAGE == 0) {
							fenye_r = parseInt(total_all / MAX_PAGE);
						} else {
							fenye_r = parseInt(total_all / MAX_PAGE) + 1;
						}
						if (pwdresult_data.data == "" && paging != "1") {
							pwdresult_page(0.9);
						} else {
							//total = 0;
							total_all_r = total_all;
							if (total_all) {
								$("#pwdresult_list").empty();
								$.each(pwdresult_data.data, function (i, item) {
									if (item.UpdateTime == null) {
										item.UpdateTime = '';
									}
									if (item.HostName == null) {
										item.HostName = '';
									}
									if (item.HostIP == null) {
										item.HostIP = '';
									}
									if (item.ProtocolName == null) {
										item.ProtocolName = '';
									}
									if (item.AccountName == null) {
										item.AccountName = '';
									}
									switch (item.Status) {
										case 0:
											item.Status = '准备';
											break;
										case 1:
											item.Status = '生成预备密码完成';
											break;
										case 2:
											item.Status = '可以执行改密';
											break;
										case 3:
											item.Status = '正在执行改密';
											break;
										case 4:
											item.Status = '成功';
											break;
										case 5:
											item.Status = '登录失败';
											break;
										case 6:
											item.Status = '改密失败';
											break;
										case 7:
											item.Status = '确认失败';
											break;
										case 8:
											item.Status = '域账号已改密';
											break;
										case 9:
											item.Status = '取消改密';
											break;											
									}
									switch (item.PwdModType) {
										case 1:
											item.PwdModType = '自动改密';
											break;
										case 2:
											item.PwdModType = '手工改密';
											break;
									}									
									$("#pwdresult_list").append("<tr>" +
										"<td class=\"in\"><input type=\"checkbox\" class=\"input_checkbox\" id=\"input-" + item.PwdModTaskDetailId + "\" "+(item.Status=='准备'?'disabled="disabled"':'')+"/></td>" +
										"<td style = \"display:none\">" + item.PwdModTaskDetailId + "</td>" +
										"<td title='" + item.UpdateTime + "'>" + item.UpdateTime + "</td>" +
										"<td title='" + item.HostName + "'>" + item.HostName + "</td>" +
										"<td title='" + item.HostIP + "'>" + item.HostIP + "</td>" +
										"<td title='" + item.ProtocolName + "'>" + item.ProtocolName + "</td>" +
										"<td title='" + item.AccountName + "'>" + item.AccountName + "</td>" +
										"<td title='" + (item.ExecuteUserName || '') + "'>" + (item.ExecuteUserName || '') + "</td>" +
										"<td title='" + item.Status + "'>" + item.Status + "</td>" +
										"<td title='" + item.PwdModType + "'>" + item.PwdModType + "</td>" +
										"<td><div class=\"tab-ctr\">"+
											((window.parent.document.frm.us.value!='admin' && hostpwd_data.PwdFileApproveNum && hostpwd_data.PwdFileApproveUserSet.length>0 && $.inArray(item.HostIP,ip_str)<0)?"<a href=\"javascript:;\" class=\"icon6 disabled\" id=\"\" title='下载' style=\"\"></a>":"<a href=\"javascript:;\" class=\"icon6\" id=\"icon6\" title='下载' style=\"\"></a>")+
											((window.parent.document.frm.us.value!='admin' && hostpwd_data.PwdFileApproveNum && hostpwd_data.PwdFileApproveUserSet.length>0)?($.inArray(item.HostIP,ip_str)<0?"<a href=\"javascript:;\" style=\"margin-top: 1px;background-position: -128px -17px;\" class=\"\" title='审批' class=\"\" id=\"appr\"></a>":"<a href=\"javascript:;\" style=\"margin-top: 1px;background-position: -128px -17px;\" title='审批' class=\"disabled\" id=\"\"></a>"):"")+
											"</div>" +
										"</td></tr>");
								})
								$(".input_checkbox", "#pwdresult_list").iCheck({
									checkboxClass: 'icheckbox_minimal-blue',
									radioClass: 'iradio_minimal-blue',
									increaseArea: '0' // optional
								});
								$("#pwdresult_total").text(total_all);
								if (paging >= fenye_r) {
									paging = fenye_r;
								}
								paging_r = paging;
								document.getElementById("pwdresult_page").value = paging;
								$("#pwdresult_pages").text(fenye_r);
								$('#check_one_page_pwd_result').iCheck('uncheck');
								$("#pwdresult_total").text(total_all);
								$("#pwdresult_list tr td.in input").iCheck('uncheck');
								check_show_result();
								check_num = delect_save_pwd_result.length;
								$("#pwdresult_total").next("span.sum").text(check_num);
							} else {
								$("#pwdresult_list").empty();
								$("#pwdresult_total").text(total_all);
								$("#pwdresult_pages").text(1);
								paging_r = 1; fenye_r = 1;
								document.getElementById("pwdresult_page").value = 1;
							}
						}
					} else {
						_alert(1, "历史清单查询", pwdresult_result.ErrMsg);
						 clearInterval(show_list_interval);
						$("#pwdresult_total").next("span.sum").text(0);
						$("#pwdresult_total").text(0);
						$("#pwdresult_pages").text(1);
						paging_r = 1; fenye_r = 1;
						document.getElementById("pwdresult_page").value = 1;
						return false;
					}
				}
			});
		}
		function check_show_result() {
			$(">tr", "#pwdresult_list").each(function (i, item) {
				var check_id = $(">td", this).eq(1).text();
				if ($.inArray(check_id, delect_save_pwd_result) >= 0) {
					$('#input-' + check_id).iCheck('check');
				}
			});
		}
		//选中字段存储
		function delect_save_pwdresult() {
			$(">tr", "#pwdresult_list").each(function (i, item) {
				var input = $(this).find("input[type='checkbox']");
				var delect_item = $(">td", this).eq(1).text();
				var index = $.inArray(delect_item, delect_save_pwd_result);
				if ($(input).is(':checked')) {
					if (index < 0) {
						delect_save_pwd_result.push(delect_item);
					}
				} else {
					if (index >= 0) {
						delect_save_pwd_result.splice(index, 1);
					}
				}
			});
		}
		function pwdresult_list() {
			document.frm_pwdresult.action = '/bhost/pwdresult_handle';
			document.frm_pwdresult.tasktype.value = 5;
			document.frm_pwdresult.submit();
		}
		//分页 and 刷新
		function pwdresult_page(num) {
			var paging = parseInt(paging_r) + num;
			if (paging == 0 || paging == fenye_r + 1) {
				return false;
			}
			delect_save_pwdresult();
			var pwdresult_list_s = [];
			if (num == 0.1) {
				var paging = 1;
			} else if (num == 0.9) {
				var paging = fenye_r;
			}
			document.getElementById("pwdresult_page").value = paging;
			paging_r = paging;
			show_pwdresult_list();
		}
		$(function () {

			$("#pwd_result").on("click", function () {
				back();
			});
		});
	</script>
</body>

</html>
