<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>manager</title>
    <link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
    <link rel="stylesheet" href="/manage/css/select2.min.css">
    <link rel="stylesheet" href="/manage/css/style.css">
    <link rel="stylesheet" href="/manage/css/new-head.css">
    <script>
        var userAgent = navigator.userAgent;
        var ie8 = userAgent.indexOf('Trident/4.0');

        if (ie8 != -1) {
            document.write('<script src="/manage/js/jquery-IE8.js"></' + 'script>');
        } else {
            document.write('<script src="/manage/js/jquery.min.js"></' + 'script>');
        }
    </script>
    <script src="/manage/js/jquery.easing.js"></script>
    <script src="/manage/js/layer.js"></script>
    <script src="/manage/js/common.js"></script>
    <script src="/manage/js/common_e.js"></script>
    <!--select2-->
    <script src="/manage/js/select2.full.min.js"></script>
    <!--icheck-->
    <script src="/manage/js/icheck.min.js"></script>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
    html,body{
        width: 100%;
        height: 100%;
    }
    .container{
        width: 100%;
        height: 100%;

    }
    .contain_top{
        width: 100%;
        height: 400px;
        border-bottom: 1px solid #dedede;
        position: relative;
    }
    .topcontent{
        width: auto;
        height: 360px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        /*margin: auto;*/
    }
    .topcontent ul{
        width: auto;
		height: 360px;
    }
    .content_item{
        width: 200px;
		height: 140px;
		float: left;
		padding-left: 90px;
		padding-bottom: 10px;
    }
    .imgbox{
        width: 180px;
        height: 140px;
        display: inline-block;
    }
    .contain_bottom{
        width: 100%;
    }
    .bottomCon{
        width: 600px;
        margin: 30px auto;
        /* padding-left: 260px; */
        padding-left: 442px;
    }
    .bottomCon_item{
        width: 160px;
        height: 36px;
        border: 1px solid #8d808a;
        border-radius: 18px;
        margin-right: 20px;
        display: block;
        float: left;
        text-align: center;
        line-height: 34px;
        color: #8d808a;
        font-size: 16px;
        position: relative;
        padding: 0 0px 0 40px;
        box-sizing: border-box;
        cursor: pointer;
    }
    .bottomCon_item:hover{
        background-color: #8D808A;
        color: #fff;
    }
	.default{
		height: 140px;
	}
	.default a{
		height: 100px;
		margin-bottom: 9px;
	}
	span.default_span{
		position: relative;
		width: 180px;
		text-align: center;
		word-wrap: break-word;
		font-size: 13px;
		display: block;
	}

</style>

<body style="" class="bg-white">
    <!--相关下载-->
	<div class="c-cont3">
		<div class="rwrap" style="overflow:auto;">

			<div class="container">
				<div class="c-top">
					<div class="c-title">
						<div class="manual-head" style="float:left;width:100px">
							<div class="manual-title">
								<span id="related_downloads_group" style="cursor: pointer;">相关下载</span>
								<i class="related_downloads_group_icon"></i>
							</div>
						</div>

						<div class="ctr" style="display:none;">
							<a href="javascript:;" class="ret" onclick="parent._closePage(this)">
								<i></i>
							</a>
						</div>
					</div>
				</div>
				<div class="jq-w" style="width: 95%;">
					<div class="jq-title">
						<h3>下载</h3>
					</div>
					<div class="jq-cont jq-hardware" >
						<div class="contain_top" style="height: auto;">
							<div class="topcontent" style="height: auto;">
								<ul style="height: auto;">
									<li class="content_item first" style="display:none;">
										<a href="" class="imgbox"></a>
									</li>
									<li class="content_item second" style="display: none;">
										<a href="" class="imgbox"></a>
									</li>
									<li class="content_item thrid" style="display: none;">
										<a href="" class="imgbox"></a>
									</li>
									<li class="content_item fourth" style="display: none;">
										<a onclick="download_jre_exe();" class="imgbox" style="cursor: pointer;"></a>
									</li>
									<li class="content_item fifth" style="display: none;">
										<a href="" class="imgbox"></a>
									</li>
									<li class="content_item sixth" style="display: none;">
										<a onclick="download_python_exe();" class="imgbox" style="cursor: pointer;"></a>										
									</li>
									<li class="content_item ninth">
										<a onclick="download_BHostReplay_exe();" class="imgbox" style="cursor: pointer;"></a>
										
									</li>
									<li class="content_item seventh">
										<a onclick="download_ShowPasswd_exe();" class="imgbox" style="cursor: pointer;"></a>
									</li>
									<li class="content_item eighth">
										<a onclick="download_BHostClient_exe();" class="imgbox" style="cursor: pointer;"></a>
									</li>
								</ul>
								
							</div>
						</div>
					</div>
				</div>
				{% if from_flag == 'from_system' %}
				<div class="jq-w" style="width: 95%;font-size:16px">
					<div class="jq-title">
						<h3>自定义上传</h3>
					</div>
					<div class="jq-cont jq-hardware" style="height: 175px;">
						<div class="bb-cont c-cont" style="/*margin-left: 153px;*/max-height: 800px;">
							<div class="bb-form">
								<form id="uploadForm" enctype="multipart/form-data">
									<div class="form-item" style="    width: 40%;float: left;margin-left: 127px;padding: 35px 0px;">
										<div class="label">文件上传：</div>
										<div class="c">
											<div class="upfix" style="height: 55px;">
												<input class="upfix-text" type="text" name="software_path" id="software_path" value="" readonly="" onclick="browse();">
												<span class="upfix-btn" onclick="browse();">浏览</span>
												<!--
												<input class="upfix-file" type="file" name="jpg_name" id="jpg_name" onchange="_getFilePath(this);" accept="image/jpg">
												-->
												<!--<input class="upfix-file" type="file" name="software" id="software" onchange="_getFilePath(this,1);">-->
											</div>
										</div>
									</div>
									<div class="form-item" style="width: 44%;float: left;padding: 35px 0px 20px 0px;">
										<div class="label">LOGO：</div>
										<div class="form-item for-avatar" style="width: 180px;    margin-top: -34px;">
											<div id="tAvatar" onclick="_getAvatarList(this)" class="default1" style="    margin-left: 10px;"></div>
										</div>
									</div>
									
									<a href="javascript:;" class="btn btn-normal1" onclick="savedata();" style="margin-left:46%;margin-top: -10px;">保&nbsp;&nbsp;存</a>
								</form>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				<!--
				<div class="contain_bottom">
					<div class="bottomCon">
						<div class="bottomCon_item first" onclick="download_crt();">证书下载
							<a onclick="download_crt();" class="bottom_img"></a>
							<!--<a href="/bhost/download_crt" class="bottom_img" ></a>
						</div>-->
						<!-- <div class="bottomCon_item">管理员手册
							<a href="" class="bottom_img"></a>
						</div> -->
						<!-- <div class="bottomCon_item">运维人员手册
							<a href="" class="bottom_img"></a>
						</div> 
					</div>
				</div>-->
				<div class="clearfix"></div>
				<div id="bBtn" style="position: fixed;z-index:5;width:100%">
					<div class="bottomCon_item first" onclick="download_crt();" style="margin-left: 44%;float: left; ">证书下载
						<a onclick="download_crt();" class="bottom_img" style="margin-left: 9px;"></a>
						<!--<a href="/bhost/download_crt" class="bottom_img" ></a>-->
					</div>
					<a href="javascript:;" class="btn" style="float: right;" onclick="window.parent._closePage(null);">
						<i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
				</div>
			</div>
		</div>
	</div>
	<!-- -->
	<div id="avatars" class="avatars">
		<ul>
			<li ><a href="javascript:;" class="default1 active" onclick="_setAvatar(this)"></a></li>
			<li><a href="javascript:;" class="default2 " onclick="_setAvatar(this)"></a></li>
			<li><a href="javascript:;" class="default3 " onclick="_setAvatar(this)"></a></li>
			<li><a href="javascript:;" class="default4 " onclick="_setAvatar(this)"></a></li>
			<li><a href="javascript:;" class="default5 " onclick="_setAvatar(this)"></a></li>
			<li><a href="javascript:;" class="default6 " onclick="_setAvatar(this)"></a></li>
		</ul>
	</div>
    <form action="/bhost/get_alias_list" method="POST" name="frm_alias" id="frm_alias">
        <input type="hidden" name="se" id="se" value="{{se}}" />
        <!--se-->
    </form>
	<style>
	.cross {
		display: inline-block;
		width: 15px;
		height: 15px;
		background: url(/manage/images/icon-ctr.png) no-repeat 0 0;
		vertical-align: middle;
		cursor: pointer;
		/*margin-top: -535px*/
	}
	a.btn-normal1 {
		display: inline-block;
		width: 90px;
		height: 32px;
		border: 1px solid #DDD;
		text-align: center;
		line-height: 32px;
		border-radius: 18px;
		margin: 0 10px;
		background-color: #fff;
		transition: background-color 0.4s;
		color: #7c7c7c;
	}

	a.btn-normal1:hover {
		background-color: #8d808a;
		color: #fff;
	}
	.bb-form .form-item{
		font-size:14px;
	}
	.del{
		display: none;
		position: relative;
		width: 15px;
		height: 15px;
		background: url(/manage/images/icon-ctr.png) no-repeat 0 0;
		vertical-align: top;
		cursor: pointer;
		margin-top: 10px;
	}
	 li.content_item:hover .del {
		display: inline-block;
	}
	.avatars{
		width: 342px;
		height: 225px;
	}
	.avatars ul li a.active{
		width: 100px;
		height: 100px;
	}
	.avatars ul li a{
		width: 100px;
		height: 100px;
	}
	.avatars ul li{
		width: 104px;
		height: 104px;
	}
	.for-avatar div.default1,.avatars a.default1{
		background: url(/manage/images/related-downloads-2.png) no-repeat -1660px -8px
	}
	.for-avatar div.default2,.avatars a.default2{
		background: url(/manage/images/related-downloads-2.png) no-repeat -1840px -8px
	}
	.for-avatar div.default3,.avatars a.default3{
		background: url(/manage/images/related-downloads-2.png) no-repeat -2020px -8px
	}
	.for-avatar div.default4,.avatars a.default4{
		background: url(/manage/images/related-downloads-2.png) no-repeat -2200px -8px
	}
	.for-avatar div.default5,.avatars a.default5{
		background: url(/manage/images/related-downloads-2.png) no-repeat -2380px -8px
	}
	.for-avatar div.default6,.avatars a.default6{
		background: url(/manage/images/related-downloads-2.png) no-repeat -2560px -8px
	}
	/*
	.avatars a.default1 .active{
		background: url(/manage/images/related-downloads-2.png) no-repeat -1660px -188px
	}*/
	.for-avatar{
		position: relative;
		margin-top: 0px;
	}
	#tAvatar{
		width: 100px;
		height: 100px;
	}
	.bb-form {
		padding: 0px 0px;
	}
	</style>
    <script>
        var tasktype = {{ tasktype }};
		var from_flag = '{{from_flag}}';
        $(function () {
            if (tasktype == 1) {
                $('.ctr').show();
            }
			_initSize1();
            parent._switchBtn(1);//显示按钮
			
			//回显 
			var default_str ={{default_str|safe}};
			$('.topcontent>ul>li.default').remove();
			$(default_str).each(function(i,item){
				if(from_flag =='from_system') $('.topcontent>ul').append('<li class="content_item default '+item.img_class+' "><a onclick="download_default_file('+item.id+',this);" class="imgbox" style="cursor: pointer;"></a><i class="del" onclick="del_default_file('+item.id+',this)"></i><span class="default_span">'+item.software_name+'</span></li>');
				else{
					$('.topcontent>ul').append('<li class="content_item default '+item.img_class+' "><a onclick="download_default_file('+item.id+',this);" class="imgbox" style="cursor: pointer;"></a><span class="default_span">'+item.software_name+'</span></li>');
				}
			})
			$('.topcontent>ul').append('<div style="clear:both"></div>');
			
			$('.rwrap').on('scroll',function(event){
                $('#avatars').fadeOut();
			})
			
			
			
        })
        function download_crt() {
            $.ajax({
                url: "/bhost/exist_download_crt",
                type: "POST",
                async: false,
                data: { a0: $("input[name=se]").val() },
                success: function (result) {
                    var result = JSON.parse(result);
                    if (result.Result) {
                        if(window.parent.parent.document.frm.use_BH.value=='0'){
                            location.href = '/bhost/download_crt';
                            return 0;
                        }
                        var sesstimet = (new Date()).valueOf();
                        var referrer_arr=document.referrer.toString().split('/');
                        referrer_arr.pop();
                        var referrer=referrer_arr.join('/');
                        var json_download = {
                                "Type": "Download",
                                "Url": referrer,
                                "Path": '/usr/ssl/certs/',
                                "Filename": 'ca.crt',
                                "Session": $("input[name=se]").val(),
                                "sesstimet":sesstimet
                        }
                        var if_html_client = false;
                        var base64_str = '';
                        $.ajax({
                                url: "/bhost/get_base64",
                                type:"POST",
                                async:false,
                                data:{a0:$("input[name=se]").val(),z1:JSON.stringify(json_download)},
                                success:function(result){
                                        var result=JSON.parse(result);
                                        if(result.Result){
                                                if_html_client = result.info;
                                                base64_str = result.b64;
                                        }else{
                                                _alert(1,"相关下载",result.ErrMsg); 
                                        }
                                }
                        })
                        if(if_html_client) window.open('https://'+document.domain+':'+location.port+'/bhost/test_html?se='+window.parent.document.frm.se.value+'&z1='+JSON.stringify(json_download));
                        else{
                            get_regedit('bhost', window.parent.document.frm.se.value,'',sesstimet);
                            $('#YuFrame1').remove();
                            $("<iframe width='0px' height='0px' id='YuFrame1' style=\"display:none;\" name='YuFrame1' ></iframe>").prependTo('body');
                            $('#YuFrame1').attr('src','/bhost/test_html?t1=bhost&z1='+base64_str);
                        }
                    } else {
                        _alert(2, '相关下载', result.ErrMsg);
                        return false;
                    }
                }
            })
        }
        function download_jre_exe() {
            $.ajax({
                url: "/bhost/exist_download_jre_exe",
                type: "POST",
                async: false,
                data: { a0: $("input[name=se]").val() },
                success: function (result) {
                    var result = JSON.parse(result);
                    if (result.Result) {
                        location.href = '/bhost/download_jre_exe';
                    } else {
                        _alert(2, '相关下载', result.ErrMsg);
                        return false;
                    }
                }
            })
        }
        function download_python_exe() {
            $.ajax({
                url: "/bhost/exist_download_python_exe",
                type: "POST",
                async: false,
                data: { a0: $("input[name=se]").val() },
                success: function (result) {
                    var result = JSON.parse(result);
                    if (result.Result) {
                        location.href = '/bhost/download_python_exe';
                    } else {
                        _alert(2, '相关下载', result.ErrMsg);
                        return false;
                    }
                }
            })
        }
        function download_ShowPasswd_exe() {
            $.ajax({
                url: "/bhost/exist_download_ShowPasswd_exe",
                type: "POST",
                async: false,
                data: { a0: $("input[name=se]").val() },
                success: function (result) {
                    var result = JSON.parse(result);
                    if (result.Result) {
                        if(window.parent.parent.document.frm.use_BH.value=='0'){
                            location.href = '/bhost/download_ShowPasswd_exe';
                            return 0;
                        }
                        var sesstimet = (new Date()).valueOf();
                        var referrer_arr=document.referrer.toString().split('/');
                        referrer_arr.pop();
                        var referrer=referrer_arr.join('/');
                        var json_download = {
                                "Type": "Download",
                                "Url": referrer,
                                "Path": '/usr/storage/.system/software/',
                                "Filename": 'ShowPasswd.exe',
                                "Session": $("input[name=se]").val(),
                                "sesstimet":sesstimet
                        }
                        var if_html_client = false;
                        var base64_str = '';
                        $.ajax({
                                url: "/bhost/get_base64",
                                type:"POST",
                                async:false,
                                data:{a0:$("input[name=se]").val(),z1:JSON.stringify(json_download)},
                                success:function(result){
                                        var result=JSON.parse(result);
                                        if(result.Result){
                                                if_html_client = result.info;
                                                base64_str = result.b64;
                                        }else{
                                                _alert(1,"相关下载",result.ErrMsg); 
                                        }
                                }
                        })
                        if(if_html_client) window.open('https://'+document.domain+':'+location.port+'/bhost/test_html?se='+window.parent.document.frm.se.value+'&z1='+JSON.stringify(json_download));
                        else{
                            get_regedit('bhost', window.parent.document.frm.se.value,'',sesstimet);
                            $('#YuFrame1').remove();
                            $("<iframe width='0px' height='0px' id='YuFrame1' style=\"display:none;\" name='YuFrame1' ></iframe>").prependTo('body');
                            $('#YuFrame1').attr('src','/bhost/test_html?t1=bhost&z1='+base64_str);
                        }
                    } else {
                        _alert(2, '相关下载', result.ErrMsg);
                        return false;
                    }
                }
            })
        }
        function download_BHostClient_exe() {
            $.ajax({
                url: "/bhost/exist_download_BHostClient_exe",
                type: "POST",
                async: false,
                data: { a0: $("input[name=se]").val() },
                success: function (result) {
                    var result = JSON.parse(result);
                    if (result.Result) {
                        if(window.parent.parent.document.frm.use_BH.value=='0'){
                            location.href = '/bhost/download_BHostClient_exe';
                            return 0;
                        }
                        var sesstimet = (new Date()).valueOf();
                        var referrer_arr=document.referrer.toString().split('/');
                        referrer_arr.pop();
                        var referrer=referrer_arr.join('/');
                        var json_download = {
                                "Type": "Download",
                                "Url": referrer,
                                "Path": '/usr/storage/.system/software/',
                                "Filename": 'BHostClient.exe',
                                "Session": $("input[name=se]").val(),
                                "sesstimet":sesstimet
                        }
                        var if_html_client = false;
                        var base64_str = '';
                        $.ajax({
                                url: "/bhost/get_base64",
                                type:"POST",
                                async:false,
                                data:{a0:$("input[name=se]").val(),z1:JSON.stringify(json_download)},
                                success:function(result){
                                        var result=JSON.parse(result);
                                        if(result.Result){
                                                if_html_client = result.info;
                                                base64_str = result.b64;
                                        }else{
                                                _alert(1,"相关下载",result.ErrMsg); 
                                        }
                                }
                        })
                        if(if_html_client) window.open('https://'+document.domain+':'+location.port+'/bhost/test_html?se='+window.parent.document.frm.se.value+'&z1='+JSON.stringify(json_download));
                        else{
                            get_regedit('bhost', window.parent.document.frm.se.value,'',sesstimet);
                            $('#YuFrame1').remove();
                            $("<iframe width='0px' height='0px' id='YuFrame1' style=\"display:none;\" name='YuFrame1' ></iframe>").prependTo('body');
                            $('#YuFrame1').attr('src','/bhost/test_html?t1=bhost&z1='+base64_str);
                        }
                    } else {
                        _alert(2, '相关下载', result.ErrMsg);
                        return false;
                    }
                }
            })
        }
        function download_BHostReplay_exe() {
            $.ajax({
                url: "/bhost/exist_download_BHostReplay_exe",
                type: "POST",
                async: false,
                data: { a0: $("input[name=se]").val() },
                success: function (result) {
                    var result = JSON.parse(result);
                    if (result.Result) {
                        if(window.parent.parent.document.frm.use_BH.value=='0'){
                            location.href = '/bhost/download_BHostReplay_exe';
                            return 0;
                        }
                        var sesstimet = (new Date()).valueOf();
                        var referrer_arr=document.referrer.toString().split('/');
                        referrer_arr.pop();
                        var referrer=referrer_arr.join('/');
                        var json_download = {
                                "Type": "Download",
                                "Url": referrer,
                                "Path": '/usr/storage/.system/software/',
                                "Filename": 'BHostReplay.exe',
                                "Session": $("input[name=se]").val(),
                                "sesstimet":sesstimet
                        }
                        var if_html_client = false;
                        var base64_str = '';
                        $.ajax({
                                url: "/bhost/get_base64",
                                type:"POST",
                                async:false,
                                data:{a0:$("input[name=se]").val(),z1:JSON.stringify(json_download)},
                                success:function(result){
                                        var result=JSON.parse(result);
                                        if(result.Result){
                                                if_html_client = result.info;
                                                base64_str = result.b64;
                                        }else{
                                                _alert(1,"相关下载",result.ErrMsg); 
                                        }
                                }
                        })
                        if(if_html_client) window.open('https://'+document.domain+':'+location.port+'/bhost/test_html?se='+window.parent.document.frm.se.value+'&z1='+JSON.stringify(json_download));
                        else{
                            get_regedit('bhost', window.parent.document.frm.se.value,'',sesstimet);
                            $('#YuFrame1').remove();
                            $("<iframe width='0px' height='0px' id='YuFrame1' style=\"display:none;\" name='YuFrame1' ></iframe>").prependTo('body');
                            $('#YuFrame1').attr('src','/bhost/test_html?t1=bhost&z1='+base64_str);
                        }
                    } else {
                        _alert(2, '相关下载', result.ErrMsg);
                        return false;
                    }
                }
            })
        }
    </script>
<script>
function _getFilePath(obj){
	var $_txt = $(obj).parent().find('input[type=text]');
	var v = $(obj).val();
			if(v && v != ''){
		v = v.split('\\');
		$_txt.val(v[v.length-1]);
	}else{
		$_txt.val('');
	}
}
var setinterval=null;
function browse(){
	var referrer_arr=document.referrer.toString().split('/');
	referrer_arr.pop();
	var referrer=referrer_arr.join('/');
	var sesstimet = (new Date()).valueOf();
	var json_download = {
			"Type": "Upload",
			"Url": referrer,
			"Path": "/usr/storage/.system/upload/",
			"Filename": sesstimet+'',
			"Session": $("input[name=se]").val(),
			"sesstimet":sesstimet+''
	}
	var if_html_client = false;
	var base64_str = '';
	$.ajax({
			url: "/bhost/get_base64",
			type:"POST",
			async:false,
			data:{a0:$("input[name=se]").val(),z1:JSON.stringify(json_download)},
			success:function(result){
				var result=JSON.parse(result);
				if(result.Result){
					if_html_client = result.info;
					base64_str = result.b64;
				}else{
					_alert(1,"相关下载",result.ErrMsg); 
				}
			}
	})
	if(if_html_client) window.open('https://'+document.domain+':'+location.port+'/bhost/test_html?se='+$("input[name=se]").val()+'&z1='+JSON.stringify(json_download));
	else{
		get_regedit('bhost', $("input[name=se]").val(),'',sesstimet);
		$('#YuFrame1').remove();
		$("<iframe width='0px' height='0px' id='YuFrame1' style=\"display:none;\" name='YuFrame1' ></iframe>").prependTo('body');
		$('#YuFrame1').attr('src','/bhost/test_html?t1=bhost&z1='+base64_str);
	}
	clearInterval(setinterval);
	setinterval=setInterval(function(){
		$.ajax({
			url: "/bhost/find_item_sql",
			type:"POST",
			async:false,
			data:{a0:$("input[name=se]").val(),a1:sesstimet},
			success:function(result){
				var result=JSON.parse(result);
				if(result.Result){
					if(result.info==null){

					}else{
						var software_name ='';
						var info_arr=result.info.split('/');
						if(info_arr.length>1){
							software_name = info_arr.pop();
							$('#software_path').val(software_name);
							
							$('#software_path').attr("path",sesstimet);
							software_name_tmp = software_name_tmp+"/usr/storage/.system/upload/"+sesstimet+',';
						}else{
							if(result.info=='NULL'){
								$('#software_path').val('');								
							}else{
								$('#software_path').val(result.info);
								software_name = result.info;
								$('#software_path').attr("path",sesstimet);
								software_name_tmp = software_name_tmp+"/usr/storage/.system/upload/"+sesstimet+',';
							}
						}
						clearInterval(setinterval);
					}
				}
			}
		});
	}, 1000);
}
var software_name_tmp = '';
var namecheck = /^[_\-.\n\w\u4e00-\u9fa5]*$/;
var nReg = /.jpg$|.jpeg$|.png$|.gif$/i;

function savedata(){
	var img_class = $('#tAvatar').attr('class');
	var software_name = $('#software_path').val();
	var software_path = $('#software_path').attr('path');
	
	var formData_f = new FormData($("#uploadForm")[0]);
	formData_f.append('a0',$("input[name=se]").val());
	formData_f.append('z1',software_name);
	formData_f.append('z2',software_path);
	formData_f.append('z3',software_name_tmp.substr(0,software_name_tmp.length-1));
	formData_f.append('z4',img_class);
	var same_file_id = 0;
	if(software_name !=''){
		$.ajax({
			url: "/bhost/same_file",
			type:"POST",
			async:false,
			data:{a0:$("input[name=se]").val(),a1:software_name},
			success:function(result){
				var result=JSON.parse(result);
				same_file_id = result.id;
			}
		})
	}
	
	
	if(same_file_id > 0){
		//update
		
		parent.layer.open({
			type:1,
			title:"相关下载",
			content:'<div class="layer-alert"><i class="alert warning"></i>已存在相同的文件，是否覆盖</div>',
			btn:['确&nbsp;&nbsp;定','取&nbsp;&nbsp;消'],
			btnAlign:'c',
			closeBtn: false,
			skin:'layer-custom',
			area:['380px','310px'],
			move: false,
			resize: false,
			btn1:function(i){
				parent.layer.close(i);
				formData_f.append('z5',same_file_id);
				$.ajax({
					url:'/bhost/SoftwareUpdate',
					type:'post',
					data:formData_f,
					async: false,  
					cache: false,
					contentType: false,// 告诉jQuery不要去设置Content-Type请求头
					processData: false,// 告诉jQuery不要去处理发送的数据
					success:function(result){
						var is_r = JSON.parse(result);
						if (is_r.Result){
							parent.layer.open({
								type: 1,
								title: "相关下载",
								content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
								btn: ['确&nbsp;&nbsp;定'],
								btnAlign: 'c',
								closeBtn: false,
								skin: 'layer-custom',
								area: ['380px', '310px'],
								move: false,
								resize: false,
								btn1: function (i) {
									parent.layer.close(i);
									location.href = location.href;
								}
							});
						}else{
							_alert(1,"相关下载",is_r.ErrMsg);
							return false;
						}	
					}
				});
					
			},
			btn2:function(i){
				parent.layer.close(i);
			}
		});
	}else{
		//insert into
		$.ajax({
			url:'/bhost/SoftwareUpdate',
			type:'post',
			data:formData_f,
			async: false,  
			cache: false,
			contentType: false,// 告诉jQuery不要去设置Content-Type请求头
			processData: false,// 告诉jQuery不要去处理发送的数据
			success:function(result){
				var is_r = JSON.parse(result);
				if (is_r.Result){
					parent.layer.open({
						type: 1,
						title: "相关下载",
						content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
						btn: ['确&nbsp;&nbsp;定'],
						btnAlign: 'c',
						closeBtn: false,
						skin: 'layer-custom',
						area: ['380px', '310px'],
						move: false,
						resize: false,
						btn1: function (i) {
							parent.layer.close(i);
							location.href = location.href;
						}
					});
				}else{
					_alert(1,"相关下载",is_r.ErrMsg);
					return false;
				}	
			}
		});
	}
}
//获取logo列表
function _getAvatarList(obj){
	var offset = $(obj).offset();
	$('#avatars').css({
		top:offset.top -5,
		left:offset.left -5
	}).show();

	document.onclick = null;

	$('#avatars').hover(function(){
		document.onclick = null;
	},function(){
		document.onclick = function(){
			$('#avatars').fadeOut();
		}
	})
}
	//设置头像
function _setAvatar(obj){
	var class_name = $(obj).attr('class');
	$(obj).addClass('active').parent().siblings('li').children('a').removeClass('active');
	$('#tAvatar').attr('class',class_name);
	$('#avatars').fadeOut();
}
function download_default_file(id,obj){
	$.ajax({
		url: "/bhost/download_default_file",
		type: "POST",
		async: false,
		data: { a0: $("input[name=se]").val(),a1:id },
		success: function (result) {
			var result = JSON.parse(result);
			if (result.Result) {
				var sesstimet = (new Date()).valueOf();
				var referrer_arr=document.referrer.toString().split('/');
				referrer_arr.pop();
				var referrer=referrer_arr.join('/');
				var json_download = {
						"Type": "Download",
						"Url": referrer,
						"Path": '/usr/storage/.system/software/upload/',
						"Filename": result.software_name,
						"Session": $("input[name=se]").val(),
						"sesstimet":sesstimet
				}
				var if_html_client = false;
				var base64_str = '';
				$.ajax({
						url: "/bhost/get_base64",
						type:"POST",
						async:false,
						data:{a0:$("input[name=se]").val(),z1:JSON.stringify(json_download)},
						success:function(result){
								var result=JSON.parse(result);
								if(result.Result){
										if_html_client = result.info;
										base64_str = result.b64;
								}else{
										_alert(1,"相关下载",result.ErrMsg); 
								}
						}
				})
				if(if_html_client) window.open('https://'+document.domain+':'+location.port+'/bhost/test_html?se='+window.parent.document.frm.se.value+'&z1='+JSON.stringify(json_download));
				else{
					get_regedit('bhost', window.parent.document.frm.se.value,'',sesstimet);
					$('#YuFrame1').remove();
					$("<iframe width='0px' height='0px' id='YuFrame1' style=\"display:none;\" name='YuFrame1' ></iframe>").prependTo('body');
					$('#YuFrame1').attr('src','/bhost/test_html?t1=bhost&z1='+base64_str);
				}
			} else {
				_alert(2, '相关下载', result.ErrMsg);
				return false;
			}
		}
	})
}
function del_default_file(id,obj){
	parent.layer.open({
		type:1,
		title:"相关下载",
		content:'<div class="layer-alert"><i class="alert warning"></i>是否删除</div>',
		btn:['确&nbsp;&nbsp;定','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		btn1:function(i){
			parent.layer.close(i);
			$.ajax({
				url: "/bhost/del_default_file",
				type:"POST",
				async:false,
				data:{a0:$("input[name=se]").val(),a1:id},
				success:function(result){
					data = JSON.parse(result);
					if (data.Result == false){
						_alert(1,"相关下载","删除失败："+data.ErrMsg);
					}else{
						_alert(0,"相关下载","删除成功");
						$(obj).parent('li').remove();
					}
				}
			})
		
		},
		btn2:function(i){
			parent.layer.close(i);
		}
	});
}

function _initSize1() {
		var h = $(window).height();
		$('.c-cont3').height(h -65);
	}

$(window).resize(function(){
	_initSize1();
	if($('#avatars').is(':visible')){
		var offset = $('#tAvatar').offset();
		$('#avatars').css({
			top:offset.top -5,
			left:offset.left -5
		});
	}
})

</script>
</body>

</html>
