
<html>
<head>
<style type="text/css">body{margin:0;overflow:hidden}</style>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
</head>
<title>RDP-replay:192.168.0.108(xud)->192.168.0.47</title>
<body scroll=no>
<script type="text/javascript">
function close_self_window(){
	window.opener = null;
	window.open('', '_top', '');
	window.parent.close();
}
</script>
<body>
<APPLET ARCHIVE="RfbPlayer.jar"
      CODE="com.tightvnc.rfbplayer.RfbPlayer.class"
	  codebase="/manage/rdp"
      WIDTH="1440" HEIGHT="960">
	<PARAM NAME="URL" VALUE="/manage/rdp/proxy.log">
	<PARAM NAME="Position" VALUE="0">	 	 <!-- 播放位置 -->
	<PARAM NAME="Speed" VALUE="1.0">     	 <!-- 播放速度 -->
	<PARAM NAME="Autoplay" VALUE="yes">		 <!-- 自动播放 -->
	<PARAM NAME="Show_Controls" VALUE="Yes">		 <!-- 自动播放 -->
	<PARAM NAME="Open_New_Window" VALUE="Yes">		 <!-- 打开新窗口 -->
	<PARAM NAME="Defer_screen_updates" VALUE="20">		 <!--  -->	
	<PARAM NAME="DISPLAY_WIDTH" VALUE="1440"> <!-- 播放宽度 -->
	<PARAM NAME="DISPLAY_HEIGHT" VALUE="960"> <!-- 播放宽度 -->
</APPLET>
</body>
</html>
