<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>manager</title>
	<link rel="stylesheet" href="/manage/css/style.css">
    <link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
    
</head>

<body style="overflow:hidden;min-width: 800px" class="bg-white">
    <div class="mainer">
        <div class="container" id="step1">
            <div class="c-top">
                <div class="c-title">
                    <div class="tit-nav">
                        <ul>
                            <li><a href="/bhost/report_condition?se={{se}}&z2={{temp_id}}"><i class="icon1"></i>报表条件</a></li>
                            <li><a href="javascript:;" class="active"><i class="icon2"></i>报表详情</a></li>
                        </ul>
                    </div>
                    <div class="bb-tit-ctr">
						<!--
                        <a href="javascript:;" title="添加分类" onclick="parent._addClassify()"><i class="icon1"></i></a>
                        <a href="javascript:;" title="添加模板" onclick="parent._addModel()"><i class="icon2"></i></a>
						-->
                        <a href="javascript:;" title="报表素材" onclick="parent._globalSetting()"><i class="icon3"></i>报表素材</a>
                    </div>
                </div>
            </div>
            <div class="bb-cont" id="bbCont">
                <div class="bb-box">
                    <div class="bitem bitem-t">
                        <h3>基本信息</h3>
                    </div>
                    
                    <div class="bitem bitem-tab" id="basic_info">
                        <table cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="bb-table-tit">报表名称：</td>
                                    <td>BBS访问主题信息统计报告</td>
                                    <td class="bb-table-tit">所属分类：</td>
                                    <td>BBS</td>
                                </tr>

                                <tr>
                                    <td class="bb-table-tit">生成格式：</td>
                                    <td>未指定</td>
                                    <td class="bb-table-tit">加载模块：</td>
                                    <td>默认</td>
                                </tr>

                                <tr>
                                    <td class="bb-table-tit">图形报表：</td>
                                    <td>生成</td>
                                    <td class="bb-table-tit">文字报表：</td>
                                    <td>生成</td>
                                </tr>

                                <tr>
                                    <td class="bb-table-tit">报表描述：</td>
                                    <td></td>
                                    <td class="bb-table-tit">建&nbsp;&nbsp;&nbsp;&nbsp;议：</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="bb-box" id="rep_cond">
                    <div class="bitem bitem-t">
                        <h3>报表条件</h3>

                        <div class="bb-info-sec bb-col2">
                            <div class="ss">
                                日志属性：日志,事件,告警
                            </div>
							<!--
                            <div class="ss">
                                日志类型：BBS访问
                            </div>
							-->
                        </div>
                    </div>
                    
                    <div class="bitem bitem-tab">
                        <table cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th width="130" style="text-align: right;">字段</th>
                                    <th width="130">选项</th>
                                    <th width="130">操作</th>
                                    <th>值</th>
                                </tr>
                            </thead>

                            <tbody style="text-align: center;">
								<!--
                                <tr>
                                    <td style="text-align: right;">入库时间：</td>
                                    <td>可选</td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">网口：</td>
                                    <td>可选</td>
                                    <td></td>
                                    <td><span class="bb-tag">UPDOWN</span></td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">客户端端口：</td>
                                    <td>可选</td>
                                    <td></td>
                                    <td><span class="bb-tag">紧急</span><span class="bb-tag">告警</span><span class="bb-tag">重要</span></td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">服务器端口：</td>
                                    <td>可选</td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">采集方式：</td>
                                    <td>可选</td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">发生地址：</td>
                                    <td>可选</td>
                                    <td></td>
                                    <td></td>
                                </tr>
								-->
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="bb-box" id="basic_report">
                    <div class="bitem bitem-t">
                        <h3>基础报表</h3>

                        <div class="bb-info-sec bb-col3">
                            <div class="ss">
                                生成类型：统计型
                            </div>

                            <div class="ss">
                                加载模块：默认
                            </div>

                            <div class="ss">
                                分页显示：20/页
                            </div>
                        </div>
                    </div>

                    <div class="bitem bitem-tab bitem-tab-view">
                        <table cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th width="130" style="text-align: right;">字段</th>
                                    <th width="130">组</th>
                                    <th>统计样式</th>
                                </tr>
                            </thead>

                            <tbody>
								<!--
                                <tr>
                                    <td style="text-align: right;">服务端地址：</td>
                                    <td style="text-align: center;">分组</td>
                                    <td>优先级组：2 &nbsp;&nbsp; 组内位置：1</td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">客户端地址：</td>
                                    <td style="text-align: center;">分组</td>
                                    <td>优先级组：1 &nbsp;&nbsp; 组内位置：1</td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">主题：</td>
                                    <td style="text-align: center;">分组</td>
                                    <td>优先级组：3 &nbsp;&nbsp; 组内位置：1</td>
                                </tr>
								-->
                            </tbody>
                        </table>

                        <table cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th width="130" style="text-align: right;">优先级组</th>
                                    <th width="130">组内成员</th>
                                    <th>配置</th>
                                </tr>
                            </thead>

                            <tbody>
								<!--
                                <tr>
                                    <td style="text-align: right;">优先级组1：</td>
                                    <td style="text-align: center;">客户端地址</td>
                                    <td><div>字段排序：升序</div>
                                        <div><label><input class="bb-checkbox" type="checkbox" disabled>统计过滤</label></div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">优先级组2：</td>
                                    <td style="text-align: center;">服务端地址</td>
                                    <td><div>字段排序：升序</div>
                                        <div><label><input class="bb-checkbox" type="checkbox" disabled>统计过滤</label></div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">优先级组3：</td>
                                    <td style="text-align: center;">主题</td>
                                    <td><div>统计值排序：降序 &nbsp; <label><input class="bb-checkbox" type="checkbox" disabled checked>显示计数值</label></div>
                                        <div><label><input class="bb-checkbox" type="checkbox" disabled>统计过滤</label></div>
                                    </td>
                                </tr>
								-->
                            </tbody>
                        </table>

                        <table cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th width="130" style="text-align: right;">扩展报表：</th>
                                    <th style="text-align: left;">启用</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div class="bb-box" id="extend_report">
                    <div class="bitem bitem-t">
                        <h3>扩展报表</h3>

                        <div class="bb-info-sec bb-col3">
                            <div class="ss">
                                生成类型：明细型
                            </div>

                            <div class="ss">
                                加载模块：默认
                            </div>

                            <div class="ss">
                                分页显示：200/页
                            </div>
                        </div>
                    </div>

                    <div class="bitem bitem-tab bitem-tab-view">
                        <table cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th width="130" style="text-align: right;">字段</th>
                                    <th width="130">组</th>
                                    <th>统计样式</th>
                                </tr>
                            </thead>

                            <tbody>
								<!--
                                <tr>
                                    <td style="text-align: right;">入库时间：</td>
                                    <td style="text-align: center;">显示</td>
                                    <td>位置：1</td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">服务器端口：</td>
                                    <td style="text-align: center;">显示</td>
                                    <td>位置：2</td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">发生地址：</td>
                                    <td style="text-align: center;">显示</td>
                                    <td>位置：3</td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">信息：</td>
                                    <td style="text-align: center;">显示</td>
                                    <td>位置：4</td>
                                </tr>
								-->
                            </tbody>
                        </table>
						<table cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th width="130" style="text-align: right;">优先级组</th>
                                    <th width="130">组内成员</th>
                                    <th>配置</th>
                                </tr>
                            </thead>

                            <tbody>
								<!--
                                <tr>
                                    <td style="text-align: right;">优先级组1：</td>
                                    <td style="text-align: center;">客户端地址</td>
                                    <td><div>字段排序：升序</div>
                                        <div><label><input class="bb-checkbox" type="checkbox" disabled>统计过滤</label></div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">优先级组2：</td>
                                    <td style="text-align: center;">服务端地址</td>
                                    <td><div>字段排序：升序</div>
                                        <div><label><input class="bb-checkbox" type="checkbox" disabled>统计过滤</label></div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">优先级组3：</td>
                                    <td style="text-align: center;">主题</td>
                                    <td><div>统计值排序：降序 &nbsp; <label><input class="bb-checkbox" type="checkbox" disabled checked>显示计数值</label></div>
                                        <div><label><input class="bb-checkbox" type="checkbox" disabled>统计过滤</label></div>
                                    </td>
                                </tr>
								-->
                            </tbody>
                        </table>
                    </div>
                </div>
				<div id="bBtn" style="z-index: 5;">
					<a href="javascript:;" class="btn" onclick="back();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
				</div>
				<!--
                <div class="btns bb-btns">
                    <a class="btn btn-fl btn-normal" href="javascript:;" onclick="back();">返&nbsp;&nbsp;回</a>
                </div>
				-->
            </div>
        </div>
    </div>
    
    <!---->
    <!--script-->
    <script src="/manage/js/jquery.min.js"></script>
    <script src="/manage/js/jquery.easing.js"></script>
    <script src="/manage/js/layer.js"></script>
    <script src="/manage/js/common.js"></script>
    
    <!--icheck-->
    <script src="/manage/js/icheck.min.js"></script>
	<script src="/manage/js/base64.js"></script>
	<style>
	.bb-box .bitem.bitem-tab table span.bb-tag{
		margin-bottom:2px;
		margin-top:2px;
	}
	</style>
    <script>
    $('.bb-checkbox,.bb-radio').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass: 'iradio_minimal-blue',
        increaseArea: '0' // optional
    });
    </script>

    <script>
	var se = "{{se}}";
	var temp_id = "{{temp_id}}";
    $(function() {
		//se = window.parent.parent.document.frm.se.value;
		_initSize();
		$.ajax({
			url:'/bhost/Get_DataReportTemplate',
			type:'post',
			async:false,
			data:{a0:se,z2:temp_id},
			success:function(result){
				var result_data = JSON.parse(result);
				//rpt_json = JSON.parse(result_data[0].Condition)
				rpt_json = result_data[0].Condition;
			
				$("#basic_info").find('tr:eq(0)').children('td:eq(1)').text(rpt_json.RptName);
				$("#basic_info").find('tr:eq(0)').children('td:eq(3)').text(rpt_json.Rpmember);
				$("#basic_info").find('tr:eq(1)').children('td:eq(1)').text(rpt_json.RptFormat.DataFormat);
				$("#basic_info").find('tr:eq(1)').children('td:eq(3)').text(rpt_json.RptLoad);
				if(rpt_json.RptCont.indexOf('chart-') === -1){
					$("#basic_info").find('tr:eq(2)').children('td:eq(1)').text("生成");
				}else{
					$("#basic_info").find('tr:eq(2)').children('td:eq(1)').text("不生成");
				}
				if(rpt_json.RptCont.indexOf('layer-') === -1){
					$("#basic_info").find('tr:eq(2)').children('td:eq(3)').text("生成");
				}else{
					$("#basic_info").find('tr:eq(2)').children('td:eq(3)').text("不生成");
				}
				//$("#basic_info").find('tr:eq(3)').children('td:eq(1)').text(window.atob(rpt_json.RptMemo.substring(4)));
				//$("#basic_info").find('tr:eq(3)').children('td:eq(3)').text(window.atob(rpt_json.RptSugg.substring(4)));
				if (rpt_json.RptMemo != ""){
					$("#basic_info").find('tr:eq(3)').children('td:eq(1)').text(rpt_json.RptMemo);
				}
				if (rpt_json.RptSugg != ""){
					$("#basic_info").find('tr:eq(3)').children('td:eq(3)').text(rpt_json.RptSugg);
				}
				
				
				var keylogtype_array = rpt_json.SearchDef.KeyLogType.split(',');
				var log_type = "";
				$.each(keylogtype_array,function(i,item){
					if (item == 1){
						log_type = log_type + "操作,";
					}else if (item == 2){
						log_type = log_type + "会话,";
					}else{
						log_type = log_type + "系统,";
					}
				});
				if (log_type != ""){
					log_type = "日志属性：" + log_type.substring(0,log_type.length-1);
				}
				$("#rep_cond").find('div.ss:eq(0)').text(log_type);
				var rep_cond_str = "";
				$.each(rpt_json.SearchDef.KeyRule.KeyCondition,function(i,item){
					var selectop,action
					var v = "";
					if (item.selectop == 1){
						selectop = "默认";
					}else if (item.selectop == 2){
						selectop = "可选";
					}
					switch(item.action){
						case "equal":
							action = "等于";
							$.each(item.value,function(i2,item2){
								if (item.type == "select"){
									v = v + '<span class="bb-tag">'+item2.split(':')[1]+'</span>';
								}else if (item.type == "ip"){
									v = v + '<span class="bb-tag">'+item2.split('-')[0]+'</span>';
								}else{
									v = v + '<span class="bb-tag">'+item2+'</span>';
								}
							});
							break;
						case "high":
							action = ">";
							$.each(item.value,function(i2,item2){
								v = v + '<span class="bb-tag">'+item2+'</span>';
							});
							break;
						case "ehigh":
							action = ">=";
							$.each(item.value,function(i2,item2){
								v = v + '<span class="bb-tag">'+item2+'</span>';
							});
							break;
						case "low":
							action = "<";
							$.each(item.value,function(i2,item2){
								v = v + '<span class="bb-tag">'+item2+'</span>';
							});
							break;
						case "elow":
							action = "<=";
							$.each(item.value,function(i2,item2){
								v = v + '<span class="bb-tag">'+item2+'</span>';
							});
							break;
						case "not equal":
							action = "不等于";
							$.each(item.value,function(i2,item2){
								if (item.type == "select"){
									v = v + '<span class="bb-tag">'+item2.split(':')[1]+'</span>';
								}else if (item.type == "ip"){
									v = v + '<span class="bb-tag">'+item2.split('-')[0]+'</span>';
								}else{
									v = v + '<span class="bb-tag">'+item2+'</span>';
								}
							});
							
							break;
						case "between":
							action = "闭区间";
							if (item.type == "time" || item.type == "ip"){
								$.each(item.value,function(i2,item2){
									var t_v = item2.split(';');
									v = v + '<span class="bb-tag">'+t_v[0]+'-'+t_v[1]+'</span>';
								});
							}else{
								$.each(item.value,function(i2,item2){
									v = v + '<span class="bb-tag">'+item2[0]+'-'+item2[1]+'</span>';
								});
							}
							break;
						case "span":
							action = "开区间";
							if (item.type == "time" || item.type == "ip"){
								$.each(item.value,function(i2,item2){
									var t_v = item2.split(';');
									v = '<span class="bb-tag">'+t_v[0]+'-'+t_v[1]+'</span>';
								});
							}else{
								$.each(item.value,function(i2,item2){
									v = v + '<span class="bb-tag">'+item2[0]+'-'+item2[1]+'</span>';
								});
							}
							break;
						case "ehspan":
							action = "左开右闭";
							if (item.type == "time" || item.type == "ip"){
								$.each(item.value,function(i2,item2){
									var t_v = item2.split(';');
									v = '<span class="bb-tag">'+t_v[0]+'-'+t_v[1]+'</span>';
								});
							}else{
								$.each(item.value,function(i2,item2){
									v = v + '<span class="bb-tag">'+item2[0]+'-'+item2[1]+'</span>';
								});
							}
							break;
						case "elspan":
							action = "左闭右开";
							if (item.type == "time" || item.type == "ip"){
								$.each(item.value,function(i2,item2){
									var t_v = item2.split(';');
									v = '<span class="bb-tag">'+t_v[0]+'-'+t_v[1]+'</span>';
								});
							}else{
								$.each(item.value,function(i2,item2){
									v = v + '<span class="bb-tag">'+item2[0]+'-'+item2[1]+'</span>';
								});
							}
							break;
						case "begin":
							action = "开始";
							$.each(item.value,function(i2,item2){
								v = v + '<span class="bb-tag">'+item2+'</span>';
							});
							break;
						case "end":
							action = "结束";
							$.each(item.value,function(i2,item2){
								v = v + '<span class="bb-tag">'+item2+'</span>';
							});
							break;
						case "include":
							action = "包含";
							$.each(item.value,function(i2,item2){
								v = v + '<span class="bb-tag">'+item2+'</span>';
							});
							break;
						case "not include":
							action = "不包含";
							$.each(item.value,function(i2,item2){
								v = v + '<span class="bb-tag">'+item2+'</span>';
							});
							break;
						case "regx":
							action = "正则匹配";
							$.each(item.value,function(i2,item2){
								v = v + '<span class="bb-tag">'+item2+'</span>';
							});
							break;
						case "not regx":
							action = "正则不匹配";
							$.each(item.value,function(i2,item2){
								v = v + '<span class="bb-tag">'+item2+'</span>';
							});
							break;
						case "ncregx":
							action = "正则匹配(不敏感)";
							$.each(item.value,function(i2,item2){
								v = v + '<span class="bb-tag">'+item2+'</span>';
							});
							break;
						case "ncregx":
							action = "正则不匹配(不敏感)";
							$.each(item.value,function(i2,item2){
								v = v + '<span class="bb-tag">'+item2+'</span>';
							});
							break;
						case "match":
							action = "通配符";
							$.each(item.value,function(i2,item2){
								v = v + '<span class="bb-tag">'+item2+'</span>';
							});
							break;
						case "ingroup":
							action = "主机组";
							$.each(item.value,function(i2,item2){
								var h_v = item2.split(':');
								v = v + '<span class="bb-tag">'+h_v[1]+'</span>';
							});
							break;
						default:
							action = "";
							v = "";
					}
					rep_cond_str = rep_cond_str + '<tr><td style="text-align: right;">'+item.name+'：</td><td>'+selectop+'</td><td>'+action+'</td><td>'+v+'</td></tr>'
				});
				$("#rep_cond").find('tbody').append(rep_cond_str);
				if (rpt_json.RptBuild.layer.length == 1){
					$("#extend_report").hide();
				}
				
				$.each(rpt_json.RptBuild.layer,function(i,item){
					if (item.level == 1){
						bind_table($("#basic_report"),item);
						if (item.expand){
							$("#basic_report").find('thead:eq(2)').find('th:eq(1)').text('启用');
						}else{
							$("#basic_report").find('thead:eq(2)').find('th:eq(1)').text('不启用');
						}
					}else{
						bind_table($("#extend_report"),item);
					}
				});
			}
		});
    })
	
	function bind_table(obj,item){
		var style;
		if (item.style == "stat"){
			style = "统计型";
		}else{
			style = "明细型";
		}
		$(obj).find('.ss:eq(0)').text("生成类型：" + style);
		$(obj).find('.ss:eq(1)').text("加载模块：" + item.template);
		if (item.page != ""){
			$(obj).find('.ss:eq(2)').text("分页显示：" + item.page + '/页');
		}else{
			$(obj).find('.ss:eq(2)').text("分页显示：");
		}
		
		if (item.style == "stat"){
			var rptbuild_str = "";
			$.each(item.groupstat,function(i1,item1){
				var Grouped;
				var StatMethod = "";
				if (item1.Grouped == "true"){
					Grouped = "分组";
					if (item1.GroupUnit == "day"){
						Grouped = Grouped + '(天)';
					}else if (item1.GroupUnit == "hour"){
						Grouped = Grouped + '(小时)';
					}else if (item1.GroupUnit == "minute"){
						Grouped = Grouped + '(分钟)';
					}
				}else{
					Grouped = "不分组";
					if(item1.StatMethod != 0){
						StatMethod = '<div class="tjWrap2" style="display: block;"><label class="cfix"><input type="checkbox" name="maxcheck" value="1" disabled><span class="check disabled" style="cursor: default;"></span>最大</label><label class="cfix"><input type="checkbox" name="mincheck" value="2" disabled><span class="check disabled" style="cursor: default;"></span>最小</label><label class="cfix"><input type="checkbox" name="luolie" value="4" disabled><span class="check disabled" style="cursor: default;"></span>罗列</label><label class="cfix"><input type="checkbox" name="pincheck" value="8" disabled><span class="check disabled" style="cursor: default;"></span>平均</label><label class="cfix"><input type="checkbox" name="leicheck" value="16" disabled><span class="check disabled" style="cursor: default;"></span>累加</label></div>';
						var str_StatMethod = parseInt(item1.StatMethod,10).toString(2);
						var edit_StatMethod = str_StatMethod.toString().split("");
						edit_StatMethod =  edit_StatMethod.reverse();
						var num;
						$.each(edit_StatMethod,function(i2,item2){
							if (item2 == '1'){
								num = Math.pow(2,i2).toString();
								var index = StatMethod.indexOf('value="'+num+'"');
								StatMethod = StatMethod.substring(0,index) + "checked " + StatMethod.substring(index);
							}
						});
					}
				}
				
				rptbuild_str = rptbuild_str + '<tr><td style="text-align: right;">'+ item1.Name +'：</td><td style="text-align: center;">'+Grouped+'</td><td>优先级组：' + item1.GroupIndex + ' &nbsp;&nbsp; 组内位置：' + item1.GroupInnerIndex + StatMethod+'</td></tr>';
			});
			
			$(obj).find('tbody:eq(0)').append(rptbuild_str);
			var config_str = "";
			$.each(item.config,function(i1,item1){
				var sort_str;
				if (item1.Sort == 64){
					sort_str = "统计值排序：";
				}else if (item1.Sort == 32){
					sort_str = "字段排序：";
				}else{
					sort_str = "不排序";
				}
				if (item1.Sorttrue == true){
					sort_str = sort_str + "升序";
				}else if(item1.Sorttrue == false){
					sort_str = sort_str + "降序";
				}
				var StatValueShow = "";
				if (item1.StatValueShow){
					StatValueShow = '<label><input class="bb-checkbox" type="checkbox"  checked>显示计数值</label>';
				}
				var Split = "";
				if (item1.Split){
					Split = '<label><input class="bb-checkbox" type="checkbox"  checked>拆分</label>';
				}
				var Lascande = "";
				if (item1.Lascande){
					Lascande = '<label><input class="bb-checkbox" type="checkbox"  checked>横向扩展</label>';
				}
				var showfilter = "";
				if (item1.ShowFilter.opened){
					var v_str = "";
					if (item1.ShowFilter.top != 0){
						if (item1.ShowFilter.bottom != 0){
							v_str = "显示过滤&nbsp;( 前：" + item1.ShowFilter.top + '；后：' + item1.ShowFilter.bottom + ' )';
						}else{
							v_str = "显示过滤&nbsp;( 前：" + item1.ShowFilter.top + ' )';
						}
					}else{
						if (item1.ShowFilter.bottom != 0){
							v_str = "显示过滤&nbsp;( 后：" + item1.ShowFilter.bottom + ' )';
						}
					}
					if (item1.ShowFilter.max){
						if (item1.ShowFilter.min){
							v_str = "显示过滤&nbsp;( 最大值 ; 最小值 )";
						}else{
							v_str = "显示过滤&nbsp;( 最大值 )";
						}
					}
					if (item1.ShowFilter.min){
						v_str = "显示过滤&nbsp;( 最小值 )";
					}
					showfilter = '<div><label><input class="bb-checkbox" type="checkbox" checked >'+v_str+'</label></div>';
				}
				var cond_str = "";
				if (item1.Condition.opened){
					var t_str = "";
					if (item1.Condition.ConditionType == 1){
						t_str = "( 最大值"
					}else{
						t_str = "( 计数值"
					}
					if (item1.Condition.action == "equal"){
						t_str = t_str + " = ";
					}else if(item1.Condition.action == "high"){
						t_str = t_str + " > ";
					}else{
						t_str = t_str + " < ";
					}
					t_str = t_str + item1.Condition.value[0] + ' )';
					cond_str = '<div><label><input class="bb-checkbox" type="checkbox" checked >统计过滤&nbsp;'+t_str+'</label></div>';
				}
				config_str = config_str + '<tr><td style="text-align: right;">优先级组'+item1.GroupIndex+'：</td><td style="text-align: center;"></td><td><div>'+sort_str+' &nbsp; ' + StatValueShow + Split + Lascande +'</div>' + showfilter + cond_str +'</td></tr>';
			});
			$(obj).find('tbody:eq(1)').append(config_str);
			$.each(item.groupstat,function(i1,item1){
				//var index = parseInt(item1.GroupIndex)-1;
				$(obj).find('tbody:eq(1)').children('tr:eq('+i1+')').children('td:eq(1)').append('<div>'+item1.Name+'</div>');
			});
			$(obj).find('tbody:eq(1)').find('input').iCheck({
				checkboxClass: 'icheckbox_minimal-blue',
				radioClass: 'iradio_minimal-blue',
				increaseArea: '0' // optional
			});
			$(obj).find('input').iCheck('disable');
		}else{ //明细型
			$(obj).find('table:eq(0)').css("margin-bottom",0);
			$(obj).find('table:eq(1)').hide();
			$(obj).find('table:eq(2)').hide();
			var rptbuild_str = "";
			$.each(item.groupstat,function(i1,item1){
				rptbuild_str = rptbuild_str + '<tr><td style="text-align: right;">'+ item1.Name +'：</td><td style="text-align: center;">显示</td><td>位置：' + item1.GroupIndex + '</td></tr>';
			});
			$(obj).find('tbody:eq(0)').append(rptbuild_str);
		}
		
	}
	
    $(window).resize(function(){
        _initSize();
    })

    function _initSize(){
        var h = $(window).height();
        $('#bbCont').height(h - 123);
    }
	function back(){
		parent.location.href='/bhost/index?tasktype=2&se='+se;
	}
    </script>
</body>

</html>