<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>manager</title>
    <link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
    <link rel="stylesheet" href="/manage/css/select2.min.css">
    <link rel="stylesheet" href="/manage/css/style.css">
	<link rel="stylesheet" href="/manage/css/new-head.css">
</head>

<body style="overflow:hidden;" class="bg-white">
    <div class="mainer">
        <div class="container" id="step1">
            <div class="c-top">
                <div class="c-title">
					<!--
                    <h3 class="tit"><span>报表素材</span><i class="icon-setting"></i></h3>
					-->
					<div class="manual-head" style="width:100px;float:left;">
						<div class="manual-title">
							<span id="material_reload" style="cursor: pointer;">报表素材</span>
							<i class="material_icon"></i>
						</div>
					</div>
					<!--
                    <div class="bb-tit-ctr">
                        <a href="javascript:;" onclick="parent._addClassify()"><i class="icon1"></i></a>
                        <a href="javascript:;" onclick="parent._addModel()"><i class="icon2"></i></a>
                        <a href="javascript:;" onclick="parent._globalSetting()"><i class="icon3"></i></a>
                    </div>
					-->
                </div>
            </div>

            <div class="bb-cont c-cont" style="/*margin-left: 153px;*/max-height: 800px;">
                <div class="bb-form">
					<form id="uploadForm" enctype="multipart/form-data">
						<div class="form-item">
							<div class="label">水印背景：</div>
							<div class="c">
								<input type="text" name="report_bg" id="report_bg" value="">
								<p class="tip"><i></i>不超过50个字符，请勿输入特殊字符</p>
							</div>
						</div>

						<div class="form-item">
							<div class="label">LOGO图片：</div>
							<div class="c">
								<div class="upfix">
									<input class="upfix-text" type="text" name="report_jpg" id="report_jpg" value="" readonly="">
									<span class="upfix-btn">浏览</span>
									<!--
									<input class="upfix-file" type="file" name="jpg_name" id="jpg_name" onchange="_getFilePath(this);" accept="image/jpg">
									-->
									<input class="upfix-file" type="file" name="jpg_name" id="jpg_name" onchange="_getFilePath(this);">
								</div>
								<p class="tip"><i></i>请选择jpg格式的图片文件(不大于600*300)</p>
							</div>
							<div style="" id="jpg_img" style="display:none;">
								<img src="">
								<a href="javascript:;" id="del" class="cross" onfocus="this.blur();" title="删除背景图片" onclick="del_jpg();"></a>
							</div>
						</div>
						<!--
						<div class="form-item">
							<div class="label">附件大小：</div>
							<div class="c">
								<input type="text" name="jpg_size" id="jpg_size" value="10" maxlength=2>
								<span class="bbfix" style="margin-left: -2em;line-height: 29px;">(M)</span>
								<p class="tip"><i></i>附件大小必须为10 ~ 20M</p>
							</div>
						</div>
						-->
					</form>
					{%if 12 in manage_power_id%}
					<div class="btns">
						<a class="btn btn-normal" href="javascript:;" onclick="save_background()">保&nbsp;&nbsp;存</a>
					</div>
					{%endif%}
					<div id="bBtn" style="position: fixed;z-index:5;">
						<a href="javascript:;" class="btn" style="float: right;" onclick="back();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
					</div>
                </div>
            </div>
        </div>
    </div>
    <!--script-->
    <script src="/manage/js/jquery.min.js"></script>
    <script src="/manage/js/jquery.easing.js"></script>
    <script src="/manage/js/layer.js"></script>
    <script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<style>
	.cross {
		display: inline-block;
		width: 15px;
		height: 15px;
		background: url(/manage/images/icon-ctr.png) no-repeat 0 0;
		vertical-align: middle;
		cursor: pointer;
		/*margin-top: -535px*/
	}
	#jpg_img{
		display:none;
	}
	.bb-form .form-item{
		font-size:16px;
	}
	</style>
    <script>
	var se;
	var get_result;
	$(function(){
		se = window.parent.document.frm.se.value;
		$("#material_reload").on("click",function(){
			//parent.reload();
			location.href = '/bhost/report_material_show?se='+se+"&z2="+1;
		});
		
		$.ajax({
			url:'/bhost/Get_DataReportGlobalCfg',
			type:'post',
			data:{a0:se},
			success:function(result){
				get_result = JSON.parse(result);
				if (get_result.hasOwnProperty("Result")){
					$("#report_bg").val('');
					$("#report_jpg").val('');
					//$("#jpg_size").val(10);
					f_id = 0;
				}else{
					f_id = get_result.Id;
					$("#report_bg").val(get_result.ReportBGName);
					//$("#report_jpg").val(get_result.ReportBGPic);
					//$("#jpg_size").val(get_result.AttachMaxLimit);
					if (get_result.ReportBGPic != ""){
						var img_pwd = '/manage/images/' + get_result.ReportBGPic+'?cache='+(new Date()).valueOf();
						img_name = get_result.ReportBGPic;
						$("#jpg_img").find('img').attr('src',img_pwd);
						//$("#jpg_img").css("width","1225px");
						$("#jpg_img").css("margin-top","10px");
						$("#jpg_img").css("margin-left","350px");
						$("#jpg_img").show();
						var margin_h = -(parseInt(get_result.Height)*2-20);
						$("#jpg_img").children('a').css('margin-top',margin_h);
					}
				}
			}
		});
	});
    function _getFilePath(obj){
        var $_txt = $(obj).parent().find('input[type=text]');
        var v = $(obj).val();

        if(v && v != ''){
            v = v.split('\\');
            $_txt.val(v[v.length-1]);
        }else{
            $_txt.val('');
        }
    }
	
	var f_id = 0;
	function save_background(){
		/*
		var formData_f = new FormData($("#uploadForm")[0]);
		formData_f.append('a0',se);
		$.ajax({
			url:'/bhost/test_max',
			type:'post',
			data:formData_f,
			async: true,  
			cache: false,
			contentType: false,// 告诉jQuery不要去设置Content-Type请求头
			processData: false,// 告诉jQuery不要去处理发送的数据
			success:function(result){
				_alert(0,"成功","成功");
			},
			error: function(XMLHttpRequest, textStatus, errorThrown){
				//TODO: 处理status， http status code，超时 408
				// 注意：如果发生了错误，错误信息（第二个参数）除了得到null之外，还可能
				//是"timeout", "error", "notmodified" 和 "parsererror".
															}
		});
		return false;
		*/
		var BgReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
		var SizeReg = /^([1]+[0-9])|20$/;
		var report_bg = $("#report_bg").val();
		if (report_bg != ""){
			if (!BgReg.test(report_bg)){
				_alert(1,"报表素材","水印背景输入不正确");
				return false;
			}
			var len = 0;
			for (var i = 0; i < report_bg.length; i++) {
			   if (report_bg.charAt(i).match(/[\u4E00-\u9FA5]/ig) != null){ //全角 
					len += 2; 
			   }else{
					len += 1;
				}			
			}
			if(len > 50){
				_alert(2,"报表素材","水印背景输入过长");
				return false;
			}
		}
		
		/*
		var jpg_size = $("#jpg_size").val();
		if (jpg_size == ""){
			_alert(1,"报表素材","附件大小不能为空");
			return false;
		}
		if (!SizeReg.test(jpg_size)){
			_alert(1,"报表素材","附件大小不正确");
			return false;
		}
		*/
		var jpg_pwd = $('.upfix-text').val();
		if (jpg_pwd != ""){
			if (jpg_pwd.substr(-3) != "jpg"){
				_alert(2,"报表素材","请选择jpg格式的图片文件");
				return false;
			}
			var MyTest = document.getElementById("jpg_name").files[0];
			var reader = new FileReader();
			reader.readAsDataURL(MyTest);
			reader.onload = function(theFile) {
			　	var image = new Image();
				image.src = theFile.target.result;
				image.onload = function() {
															if (this.width <= 600 && this.height <= 300){
						//var jpg_name = jpg_pwd.substring(0,jpg_pwd.length-4);
						var formData_f = new FormData($("#uploadForm")[0]);
						formData_f.append('a0',se);
						formData_f.append('z1',f_id);
						formData_f.append('z2',this.width);
						formData_f.append('z3',this.height);
						formData_f.append('z4',1)
						if(img_name != jpg_pwd && img_name !=''){
							formData_f.append('z5',img_name);//删除原来的图片
						}
						$.ajax({
							url:'/bhost/Save_DataReportGlobalCfg',
							type:'post',
							data:formData_f,
							async: false,  
							cache: false,
							contentType: false,// 告诉jQuery不要去设置Content-Type请求头
							processData: false,// 告诉jQuery不要去处理发送的数据
							success:function(result){
								var is_r = JSON.parse(result);
								if (is_r.Result){
									parent.layer.open({
										type: 1,
										title: "报表素材",
										content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
										btn: ['确&nbsp;&nbsp;定'],
										btnAlign: 'c',
										closeBtn: false,
										skin: 'layer-custom',
										area: ['380px', '310px'],
										move: false,
										resize: false,
										btn1: function (i) {
											parent.layer.close(i);
											location.reload();
										}
									});
								}else{
									_alert(1,"报表素材","保存失败");
									return false;
								}	
							}
						});
					}else{
						_alert(2,"报表素材","LOGO图片大小不正确");		
						return false;
					}
			   };
			   image.onerror=function(){
					_alert(2,"报表素材","LOGO图片已损坏");
					return false;
			   };
			};
		}else{
			if ($("#jpg_img").is(':visible')){
				if (report_bg != get_result.ReportBGName){
					$.ajax({
						url:'/bhost/update_material_name',
						type:"post",
						async:false,
						data:{a0:se,z1:report_bg,z2:f_id,z3:1},
						success:function(result){
							parent.layer.open({
								type: 1,
								title: "报表素材",
								content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
								btn: ['确&nbsp;&nbsp;定'],
								btnAlign: 'c',
								closeBtn: false,
								skin: 'layer-custom',
								area: ['380px', '310px'],
								move: false,
								resize: false,
								btn1: function (i) {
									parent.layer.close(i);
									location.reload();
								}
							});
							return false;
						}
					})
				}else{
					parent.layer.open({
						type: 1,
						title: "报表素材",
						content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
						btn: ['确&nbsp;&nbsp;定'],
						btnAlign: 'c',
						closeBtn: false,
						skin: 'layer-custom',
						area: ['380px', '310px'],
						move: false,
						resize: false,
						btn1: function (i) {
							parent.layer.close(i);
							location.reload();
						}
					});
				}
						
			}else{
				var formData_f = new FormData($("#uploadForm")[0]);
				formData_f.append('a0',se);
				formData_f.append('z1',f_id);
				formData_f.append('z2',0);
				formData_f.append('z3',0);
				formData_f.append('z4',1)
				formData_f.append('z5',img_name);
				$.ajax({
					url:'/bhost/Save_DataReportGlobalCfg',
					type:'post',
					data:formData_f,
					async: false,  
					cache: false,
					contentType: false,// 告诉jQuery不要去设置Content-Type请求头
					processData: false,// 告诉jQuery不要去处理发送的数据
					success:function(result){
						var is_r = JSON.parse(result);
						if (is_r.Result){
							parent.layer.open({
								type: 1,
								title: "报表素材",
								content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
								btn: ['确&nbsp;&nbsp;定'],
								btnAlign: 'c',
								closeBtn: false,
								skin: 'layer-custom',
								area: ['380px', '310px'],
								move: false,
								resize: false,
								btn1: function (i) {
									parent.layer.close(i);
									location.reload();
								}
							});
							//_alert(0,"报表素材","保存成功");
						}else{
							_alert(1,"报表素材","保存失败");
							return false;
						}	
					}
				});
			}
		}
	}
	var img_name = ''
	function del_jpg(){
		$("#jpg_img").hide();
		$("#report_jpg").val('');
		$("#jpg_name").val('');
			}	
	function back(){
		location.href='/bhost/index?tasktype=2&se='+se+'&us='+window.parent.document.frm.us.value;
	}
    </script>
</body>

</html>
