<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>
	<link rel="stylesheet" href="/manage/css/new-head.css">
	<style>
		/*
		 覃岛 修改于2017-10-18
		*/
		/*
		.c-title{
			width: 100%;
		    height: 36px;
		    line-height: 36px;
		    background: #f4f4f4;
		    border-bottom: 1px solid #ddd;
		    box-shadow: #ddd 0 2px 5px;
		    position: relative;
		    z-index: 3;
		}
		.c-title h3{
			padding: 0;
   			border-radius: 0 18px 18px 0;
		    float: left;
		    font-size: 18px;
		    font-weight: normal;
		    color: #fff;
		    background: #3fb7d2;
		    position: relative;
		    z-index: 3;
		    cursor: pointer;
		}
		.c-title h3 .title{
			float: left;
		    font-weight: normal;
		    width: 116px;
		    text-align: center;
		    font-size: 16px;
		}
		
		.c-title h3 .title .icon-manual{
			background-position: -120px 0;
		}
		
		.c-title .icon-manual{
			float: right;
		    overflow: hidden;
		    margin: 3px 3px auto auto;
		    height: 30px;
		    width: 30px;
		    background: url(/manage/images/icon-manual.png);
		    background-size: contain;
		}
		*/
		i.icon-manual-genera{		
			background: url(/manage/images/Operational-audit/manual_genera.png);
			background-color: #ffb400;
		}
	</style>
</head>
<body style="overflow:hidden;" class="bg-white">
	<!---->
	<div class="rwrap">
		<!---->
		<div class="c-top">
			<div class="c-title">
				<!--
				<h3 onclick="parent.reload();">
					<span class="title">手动生成</span>
					<i class="icon-manual"></i>
				</h3>
				-->
				<div class="manual-head" style="float:left;width:auto">
					<div class="manual-title-other title-item" style="" id="frist">
						<span id="manual_genera" style="cursor: pointer;">手动生成</span>
						<i class="icon-manual-genera"></i>
					</div>
					<div class="manual-title-other title-item" id="scheduled_task" style="color: rgb(121, 121, 121);background: rgb(222, 222, 222);">
						<span id="" style="cursor: pointer;"> 计划任务</span>
						<i style ="display:none"></i>
					</div>
				</div>
				<div class="bb-tit-ctr" style="">
					<a href="javascript:;" title="生成报表" onclick="location.href='/bhost/manage_report?se={{se}}'"><i class="rpt_icon"></i>生成报表</a>
				</div>
			</div>
		</div>
		<div class="mainer">
			
			<div class="container">

				<div class="c-cont">
					<div class="c-wrap">
						<div class="c-table">
							<div class="tab-t">
								<div class="ctr">
								
									<a href="javascript:;" class="btn btn-default" onclick="refresh();">刷新</a>
									{% if _power_mode == 2%}
									<a href="javascript:;" class="btn btn-default" onclick="delete_all();">删除</a>
									<a href="javascript:;" class="btn btn-default" onclick="select_all();">全选</a>
									{%endif%}
								</div>

								
							</div>
							<div class="box-table">
							<table cellpadding="0" cellspacing="0" id="task_list">
								<thead>
									<tr>
										{% if _power_mode == 2%}
										<th width="50"><input type="checkbox" class="form-checkbox" id="check_page"/></th>
										{%endif%}
										<th>报表名称</th>
										<th>文件类型</th>
										<th>提交时间</th>
										<th style="width:50px;">状态</th>
										{% if _power_mode == 2%}
										<th width="60"></th>
										{%else%}
										<th width="30"></th>
										{%endif%}
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
							</div>
							<div class="tab-i">
								<div class="il">
									每页显示<span id="page_total">10</span>条 总数：<span id = "task_total">25</span>  选中：<span id = "select_total">0</span>
								</div>

								<div class="ipage">
									<a href="javascript:;" class="nav2 begin" onclick="change_page(3);"><i></i></a>
									<a href="javascript:;" class="nav prev" onclick="change_page(2);"><i></i></a>
									<input type="text" value="1" id="curpage" onchange="change_page(5)">/ <span id = "totalpage">25</span>
									<a href="javascript:;" class="nav next" onclick="change_page(1)"><i></i></a>
									<a href="javascript:;" class="nav2 end" onclick="change_page(4);"><i></i></a>
								</div>
							</div>
						</div>
						
						<div class="clearfix"></div>
						<!--
						<div class="btns">
							<a href="javascript:;" class="btn btn-normal" onclick="location.href='/bhost/index?tasktype=2&se={{se}}';return true;">返&nbsp;&nbsp;回</a>
						</div>
						-->
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn" style="float: right;" onclick="location.href='/bhost/index?tasktype=2&us={{us}}&se={{se}}';return true;"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<form action="/bhost/access_user_index" method="POST" name="frm_access">
		<input type="hidden" name="z1" id = "z1" value="" />
		<input type="hidden" name="z2" id = "z2" value="" />
		<input type="hidden" name="z3" id = "z3" value="" />
		<input type="hidden" name="z4" id = "z4" value="" />
		<input type="hidden" name="z5" id = "z5" value="" />
		<input type="hidden" name="z6" id = "z6" value="" />
		<input type="hidden" name="tasktype" id = "tasktype" value="" />
		<input type="hidden" name="us"  value="zdp" />
	</form>
	 <form action="/bhost/read_report" method="get" name="frm_report" target="_blank" >
			<input type="hidden" name="z1"  value="" />
			<input type="hidden" name="a0"  value="" />
			<input type="hidden" name="d1"  value="" />
			<input type="hidden" name="fy"  value="" />
			<input type="hidden" name="taskid"  value="" />
	</form>


<script>
	$('.form-checkbox,.form-radio').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
	    radioClass: 'iradio_minimal-blue',
	    increaseArea: '0' // optional
	});
</script>

<script>
$('.filter-select').select2({minimumResultsForSearch: -1});
</script>

<!---->
<script>
var nameReg = /^[_\-.\n\w\u4e00-\u9fa5]*$/;
var now = "None";
var tasktype="2";
var keyword_re = [];
var filter_flag = 0;
var selectid=[];
var se;
var if_disabled = '{{_power_mode}}';
$(function(){
	se = window.parent.document.frm.se.value;
	$("#frist").on("click",function(){
		//parent.reload();
		location.href = '/bhost/report_task?se='+se+'&module_name={{modeule_name}}';
	});
	$("#scheduled_task").on("click",function(){
		location.href = '/bhost/scheduled_task_show?se='+se+'&module_name={{module_name}}';
	});
	
	
	//console.log("se:"+se);
	get_report_task();
})

function change_page(type){
	var cpage = $("#curpage").val();
	var total = $("#totalpage").text();
	if (type == 1){//下一页	
		if (total == cpage){
			return false;
		}
		$("#curpage").val(parseInt(cpage)+1);
	}else if (type == 2){//上一页
		if (parseInt(cpage) == 1){
			return false;
		}
		$("#curpage").val(parseInt(cpage)-1);
	}else if (type == 3){//首页
		$("#curpage").val(1);
	}else if (type == 4){//末页
		if (cpage == total){
			return false;
		}
		$("#curpage").val(total);
	}else if (type == 5){//跳页
		var numReg = /\D/;
		if (numReg.test(cpage)){
			$("#curpage").val(1);
			cpage = 1;
		}
		if (parseInt(cpage) < 1 || cpage == ""){
			$("#curpage").val(1);
			cpage = 1;
		}
	}
	get_report_task();
}


function get_report_task(){
	var curpage = $("#curpage").val();
	var task_list_json;
    $.ajax({
		url:'/bhost/report_list',
		type:'post',
		async:false,
		data:{a0:se,z1:curpage,z2:MAX_PAGE},
		success:function(result){
			task_list_json = JSON.parse(result)
			$("#task_list tbody").empty();
			report_id_status=[];
			//状态(0-队列中，1-执行中，2-成功，3-失败)
			$.each(task_list_json.data,function(i,item){
				var name_index_f = item.Condition.indexOf('<RptName>');
				var name_index_l = item.Condition.indexOf('</RptName>');
				var report_name = item.Condition.substring(name_index_f+9,name_index_l);
				var type_index_f = item.Condition.indexOf("<RptFormat>");
				var type_index_l = item.Condition.indexOf("</RptFormat>");
				var file_type = item.Condition.substring(type_index_f+11,type_index_l).split('/')[0];
				var CancelStatus = item.CancelStatus;
				var status = "";
				var disable = '';
				var download = 0;
				//item.Status = 0;
				if(CancelStatus ==0){
					if (item.Status == 0){
						status = "队列中";
					}else if (item.Status == 1){
						status = "执行中";
					}else if (item.Status == 2){
						status = "成功";
					}else if(item.Status == 3){
						status = "失败";
					}
					if(item.Status == 2){
						if(file_type.indexOf('HTML') >=0){
							class_type ='icon5';
							class_str="查看";
							download =0;
						}else{
							class_type ='download';
							class_str="下载";
							download = 1;
						}
					}else if(item.Status == 3){
						if(file_type.indexOf('HTML') >=0){
							class_type ='icon5 disabled';
							class_str="查看";
						}else{
							class_type ='download disabled';
							class_str="下载";
						}
					}else{
						class_type ='stop_icon';
						class_str="取消";
					}
				}else{ //取消中  1取消队列中 2取消中
					class_type = 'stop_icon disabled';
					if(CancelStatus == 1){
						status = "取消队列中"
						class_str="取消";
					}else{
						status = "取消中";
						class_str="取消";
					}					
				}
				tmp_json = {
					"TaskId":item.TaskId,
					"info":{
						"path":item.path,
						"report_name":report_name,
						"SubmitTime":item.SubmitTime
					}
				}
				if(item.Status ==0 || item.Status == 1 || item.CancelStatus == 1 || item.CancelStatus == 2){
					report_id_status.push( tmp_json );
				}
				
				$("#task_list tbody").append('<tr _type="'+file_type+'" id="tr_'+item.TaskId+'"><td class="s-hide"><input class="form-checkbox" type="checkbox" name="'+report_name+'" value="'+item.TaskId+'"></td><td title="'+report_name+'">'+report_name+'</td><td title="'+file_type+'">'+file_type+'</td><td title="'+item.SubmitTime+'">'+item.SubmitTime+'</td><td class=\"sta\" title="'+status+'">'+status+'</td><td><div class="tab-ctr"><a name="clas" href="javascript:;"  onclick="show_report(\''+item.path+'\',\''+download+'\',\''+file_type+'\','+item.Status+','+CancelStatus+',this,'+item.TaskId+',\''+report_name+'-'+item.SubmitTime+'\');" class="'+class_type+'" title="'+class_str+'"></a><a href="javascript:;" class="del s-hide" id="del" title="删除" onclick="del_report('+item.TaskId+');"></a></div></td></tr>');
				if(if_disabled == '1') $('.s-hide').remove();
				$('#task_list .form-checkbox').iCheck({
					checkboxClass: 'icheckbox_minimal-blue',
					radioClass: 'iradio_minimal-blue',
					increaseArea: '0' 
				});
			});
			if(report_id_status.length >0){
				function _do(){
					$.ajax({
						url:'/bhost/get_report_status',
						type:'post',
						async:true,
						data:{a0:{{se}},t1:JSON.stringify(report_id_status)},
						success:function(result){
							result = JSON.parse(result);
							for( var tid in result){
								Sta = parseInt(result[tid].split(',')[0]);
								Cancel = parseInt(result[tid].split(',')[1]);
								class_type='';
								var status = "";
								file_type = $('#tr_'+tid).attr('_type');
								var download = 0;
								one_json = {};
								var n = 0;
								var ind = -1;
								$(report_id_status).each(function(i,item){
									if(item['TaskId'] == parseInt(tid)){
										one_json = item;
										n = 1;
										ind = i;
										return false;
									}
								})
								if(!n) continue;
								if(Cancel ==0){
									if (Sta == 0){
										status = "队列中";
									}else if (Sta == 1){
										status = "执行中";
									}else if (Sta == 2){
										status = "成功";
									}else if(Sta == 3){
										status = "失败";
									}
									if(Sta == 2){
										if(file_type.indexOf('HTML') >=0){
											class_type ='icon5';
											class_str="查看";
											download =0;
										}else{
											class_type ='download';
											class_str="下载";
											download =1;
										}
									}else if(Sta == 3){
										if(file_type.indexOf('HTML') >=0){
											class_type ='icon5 disabled';
											class_str="查看";
										}else{
											class_type ='download disabled';
											class_str="下载";
										}
									}else{
										class_type ='stop_icon';
										class_str="取消";
									}
								}else{ //取消中  1取消队列中 2取消中
									class_type = 'stop_icon disabled';
									if(Cancel == 1){
										status = "取消队列中"
										class_str="取消";
									}else{
										status = "取消中";
										class_str="取消";
									}					
			}
								//状态
								$('#tr_'+tid).find('td.sta').text(status);
								//console.log("onclick = "+'show_report(\''+one_json.info.path+'\',\''+download+'\',\''+file_type+'\','+Sta+','+Cancel+',this,'+tid+',\''+one_json.info.report_name+'-'+one_json['info'].SubmitTime+'\');')
								$('a[name=clas]',$('#tr_'+tid)).attr("class",class_type).attr('title',class_str).attr('onclick','show_report(\''+one_json.info.path+'\',\''+download+'\',\''+file_type+'\','+Sta+','+Cancel+',this,'+tid+',\''+one_json.info.report_name+'-'+one_json.info.SubmitTime+'\');');
								if((Sta ==2 || Sta == 3) && Cancel == 0){
									delete result[tid];
									if(ind >=0) report_id_status.splice(ind,1)
								}
								////console.log(result)
							}
						}
					})
				}
				if_ok = setInterval(function(){
					////console.log(index);
					if(report_id_status.length == 0){
						clearInterval(if_ok);
						return false;
					}
					_do();	
				},5000);
			}
		}
	})
	
	$("#task_total").text(task_list_json.totalrow);
	totalpage = Math.ceil(parseInt(task_list_json.totalrow)/MAX_PAGE);
	if (totalpage < 1){
		totalpage = 1;
	}
	$("#totalpage").text(totalpage.toString());
	$("#page_total").text(MAX_PAGE);
	$('#check_page').iCheck('uncheck');
	
	var check_page_flag = 0;
	$("#task_list tbody input[type='checkbox']").each(function(){
		if ($.inArray(parseInt(this.value), selectid) != -1){					
			$(this).iCheck('check');
			check_page_flag++;
		}
    });
	if (check_page_flag == $("#task_list tbody input[type='checkbox']").length && check_page_flag != 0){
		$('#check_page').iCheck('check');
	}
	
	
	if (parseInt(curpage) > totalpage){
		$("#curpage").val(totalpage);
		get_report_task();
	}

	$("#task_list tbody >tr").bind("dblclick",function(e){
		x=e.target;
		if (x.nodeName != "INS"){
			$(this).children('td:last').find('.edit').click();
		}
	});
	$('#check_page').on('ifClicked',function(e){
		
		if(!$('#check_page').prop('checked')){
			$("#task_list tbody input[type='checkbox']").each(function(){
				if (!$(this).prop("disabled")){
					$(this).iCheck('check');   
				}
			}) 
		}else{
			$("#task_list").children('tbody').find('input[type=checkbox]').iCheck('uncheck');
		}
		
	});
	var flag_id = 0;	
	num = selectid.length;
	$("#select_total").text(num);

	$("#task_list tbody input[type='checkbox']").on("ifChanged",function(){
		if ($(this).is(":checked")){
			num = $("#select_total").text();   
			num++;
			if (selectid.indexOf(parseInt(this.value)) == -1){
				selectid.push(parseInt(this.value))	
			}
			$("#select_total").text(num);
		}else{
			num = $("#select_total").text();
			num--;
			selectid.splice($.inArray(parseInt(this.value),selectid),1);
			$("#select_total").text(num);   
		}
		var check_num = 0;
		$("#task_list tbody input[type='checkbox']").each(function(){
			if (!$(this).prop("disabled")){
				check_num++;
			}
		}) 
		if ($("#task_list tbody").find('input[type=checkbox]:checked').length == check_num){
			$('#check_page').iCheck('check');
		}else{
			$('#check_page').iCheck('uncheck');
		}
	});
}

//全选
function select_all(){
	var num = 0;
	selectid = [];
	var task_total = $("#task_total").text();
	var select_total = $("#select_total").text();
	if (task_total == select_total){
		$("#task_list").find('input').iCheck('uncheck');
	}else{
		$.ajax({
			url:'/bhost/report_list',
			type:'post',
			async:false,
			data:{a0:se,z1:"null",z2:"null"},
			success:function(result){
				var result = JSON.parse(result);
				$.each(result.data,function(i,item){
					selectid.push(item.TaskId);
				});
			}
		});
		$("#task_list tbody input[type='checkbox']").each(function(){
			$(this).iCheck('check'); 
		});
	}
	num = selectid.length;
	$("#select_total").text(num);
}

//批量删除
function delete_all(){
	var cur = $("#curpage").val();
	if (selectid.length == 0){
		_alert(2,"历史报表","请选择要删除的项");
		return;
	}
	var id = JSON.stringify(selectid);
	$('.btn').blur();
	parent.layer.open({
		type:1,
		title:"历史报表",
		content:'<div class="layer-alert"><i class="alert warning"></i>是否批量删除</div>',
		btn:['确&nbsp;&nbsp;定','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		btn1:function(i){
			parent.layer.close(i);
			$("#select_total").text(0);
        	delete_report(1,id);
        	selectid=[];
        	get_report_task();
		},
		btn2:function(i){
			parent.layer.close(i);
		}
	});	
}
//单个删除
function del_report(id){
	var cur = $("#curpage").val();
	$('.btn').blur();
	parent.layer.open({
		type:1,
		title:"历史报表",
		content:'<div class="layer-alert"><i class="alert warning"></i>是否删除</div>',
		btn:['确&nbsp;&nbsp;定','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		btn1:function(i){
			parent.layer.close(i);
			delete_report(0,id);
			for (var i = 0; i < selectid.length; i++){      
				if (selectid[i] == parseInt(id)){
					num = $("#select_total").text();
					num = parseInt(num)-1;
					$("#select_total").text(num);
					selectid.splice($.inArray(parseInt(id),selectid),1);
					break;
				}
        	}
			get_report_task();
		},
		btn2:function(i){
			 parent.layer.close(i);
		}
	});
}

function delete_report(type,id){
	$.ajax({
		url:'/bhost/report_delete',
		type:'post',
		async:false,
		data:{a0:se,z1:type,z2:id,z3:'手动生成任务',z4:'{{module_name}}'},
		success:function(results){
			data = JSON.parse(results);
			if (data.Result == "false"){
				_alert(1,"历史报表","删除失败,失败原因:"+data.ErrMsg);
			}else{
				_alert(0,"历史报表","删除成功");
			}
		}
	});
}

function read_report(path){
	//location.href='/bhost/read_report?se={{se}}'
	window.opener=null;
	window.open('https://192.168.0.30:8443/bhost/read_report?z1='+path+'&a0={{se}}');
}

//刷新
function refresh(){
	selectid=[];
	var cur = $("#curpage").val();
	$("#task_list input[type='checkbox']").each(function(){                                 
		$(this).iCheck('uncheck');
	});
	$("#select_total").text(0);
	$("#curpage").val(cur);
	get_report_task();
}

function show_report(path,download,file_type,Status,CancelStatus,obj,taskid,taskname){
	if($(obj).attr('class').indexOf('disabled') >=0){
		return false;
	}else if($(obj).attr('class').indexOf('stop_icon') >=0){
		$.ajax({
			url:'/bhost/cancel_report',
			type:'post',
			async:false,
			data:{a0:se,z1:taskid,z2:taskname,z3:'{{module_name}}'},
			success:function(results){
				data = JSON.parse(results);
				if (data.Result == "false"){
					_alert(1,"历史报表","取消失败,失败原因:"+data.ErrMsg);
				}else{
					_alert(0,"历史报表","取消成功");
				}
			}
		});
		return false;
	}
	
	if(download == '1'){
		document.frm_report.enctype="multipart/form-data";		
	}
	document.frm_report.a0.value=se;
	document.frm_report.z1.value=path;
	document.frm_report.d1.value=download;
	document.frm_report.fy.value=file_type;
	document.frm_report.taskid.value=taskid;
	document.frm_report.submit();
}

</script>
</body>
</html>
