<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
</head>
<body class="bg-white">
	<div class="h-content2">
        <ul id="userTree" class="hosttree" style="padding-left: 20px"></ul>
    </div>

    <div class="btns">
        <a href="javascript:;" class="btn btn-normal" onclick="Trans();">确&nbsp;&nbsp;定</a>
        <a href="javascript:;" class="btn btn-normal" onclick="Cancel();">取&nbsp;&nbsp;消</a>
    </div>

<style>
    .h-content2{height: auto;}			
</style>
<!--script-->
<script src="/manage/js/jquery.min.js"></script>
<script src="/manage/js/jquery.easing.js"></script>
<script src="/manage/js/layer.js"></script>
<script src="/manage/js/common.js"></script>

<!--icheck-->
<script src="/manage/js/icheck.min.js"></script>

<script>
	$('.form-checkbox,.form-radio').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
	    radioClass: 'iradio_minimal-blue',
	    increaseArea: '0' // optional
	});
</script>


<script>
	//节点
    //子节点
var hgrp_Data = []; 
//var path='{{path}}';  
$(function(){
	$.ajax({
		url: "/bhost/get_h_Dir",
		type: "POST",
		async: false,
		data: { a0: {{se}}, a1: 0, a2: 0 },
		success: function (result) {
			var result = JSON.parse(result);
			hgrp_Data = result.data.HGroup;
		}
	})
    _initSize();
    _initList();

    $('#userTree').on('ifChecked','span.authtype input',function(){
    	var $input1 = $(this).parent().parent().parent().siblings('ul').find('span.authtype input');
    	var $input2 = $(this).parent().parent().parent().siblings('ul').find('input.zcheck');

    		$input1.prop('disabled',true).prop('checked',true);
    		$input1.iCheck('update');
    		$input2.prop('disabled',true).prop('checked',true);
    		$(this).parent().parent().parent().siblings('input.zcheck').prop('checked',true).next('span.checkbox').attr('class','checkbox checked');;
    		$.each($input2,function(){
    			$(this).next('span.checkbox').attr('class','checkbox checked disabled');
    		});

    		_checkEvent($(this).parent().parent().parent().siblings('input.zcheck'));
    }).on('ifUnchecked','span.authtype input',function(){
    	var $input1 = $(this).parent().parent().parent().siblings('ul').children('li').children('span.authtype').find('input');
    	var $input2 = $(this).parent().parent().parent().siblings('ul').children('li').children('input.zcheck');

    		$input1.prop('disabled',false);
    		$input1.iCheck('update');
    		$input2.prop('disabled',false);
    		$input2.next('span.checkbox').removeClass('disabled');
    })
    /*
    	if(v==0){
    		$input1.prop('disabled',true);
    		$input1.iCheck('update');
    		$input2.prop('disabled',true);
    		$.each($input2,function(){
    			$(this).next('span.checkbox').addClass('disabled');
    		})
    	}else{
    		$input1.prop('disabled',false);
    		$input1.iCheck('update');
    		$input2.prop('disabled',false);
    		$.each($input2,function(){
    			$(this).next('span.checkbox').removeClass('disabled');
    		})
    	}
    */
});

$(window).resize(function(){
    _initSize();
});

function _initSize(){
    var h = $(window).height();
    //$('.h-catelog').height(h-260);
    $('.h-content2').height(h-107);
}

function _initList(){
	

    $('#userTree').on('click','i.h-aicon',function(){
    	var $item = $(this);
        var hasel = $item.parent().children('select').length;
    	var id = $item.data('id').split('-')[1];
        if(hasel>0){
            id = $item.parent().children('select').val();
        }
        //alert(id);
    	var $u = $item.parent().children('ul');
    	if($u.is(':hidden')){
    		$item.addClass('h-aicon-d');
    		$u.show();
    		if($u.children('li').length == 0){
    			var v = 2,d=1;
    			var $input = $(this).siblings('span.checkbox');
    			
		    	var c = $input.attr('class');
		    	if(c.indexOf('checked')>0){
		    		v=1;
		    	}else if(c == 'checkbox'){
		    		v=0;
		    	}

		    	    			_initHTML($u,id,v,d);
    		}
    	}else{
    		$item.removeClass('h-aicon-d');
    		$u.hide();
    	}
    })
	var data = hgrp_Data;
    _viewHTML(data,'#userTree');
}

function _initHTML(obj,id,v,d){
		/*
	{
            "HGId": 1,
            "Mode": 0,
            "HGName": "未分组",
            "HostNum": 119,
            "Selected": 0,
            "MemberNum": 0
        }
	*/
	//data
	$.ajax({
		url: "/bhost/get_h_Dir",
		type: "POST",
		async: false,
		data: { a0: {{se}}, a1: id, a2: 0 },
		success: function (result) {
			var result = JSON.parse(result);
			nodeData = result.data.HGroup;
		}
	})
	var cdata = nodeData;
	$(obj).empty();
	_parent = $('#node-'+id).attr('_parent')+'/' + id;
	
	var index_path = 0;
	//global_path = path.split('/');
	
		$.each(nodeData,function(i,item){
				/*
				if(( index_path= global_path.indexOf(""+item.HGId+"")) >=0){
			if(index_path == global_path.length-1) item.Selected=2;
			else item.Selected = 1;
		}*/
		var $H = $('<li></li>');
		if (item.MemberNum <= 0) {
			class_name = 'h-blank';
		} else {
			class_name = 'h-aicon';
		}
		$H.html('<i class="'+class_name+'" data-id="arr-'+item.HGId+'" /><input type="checkbox" name="'+item.HGName+'" _parent="'+_parent+'" id="node-'+item.HGId+'" data-check="'+item.Selected+'" class="zcheck zcheck-g"><i class="h-eicon h-eicon-g"></i><span class="h-name">'+item.HGName+'</span><ul style="display:none">Loading...</ul>');
		
		$(obj).append($H);
		_checkView(obj);
		if(item.Selected !=0){
			$("#node-"+item.HGId).prev('i').click();
		}
	});

	_checkView(obj);

}

function _viewHTML(data,obj){
	$(obj).empty();
	var index_path = 0;
	//global_path = path.split('/');
		$.each(data,function(i,item){
		/*
		index_path= global_path.indexOf(""+item.HGId+"");
		if(index_path >=0){
			if(index_path == global_path.length-1) item.Selected=2;
			else item.Selected = 1;
		}*/
		
		var $H = $('<li></li>');
		if (item.MemberNum <= 0) {
			class_name = 'h-blank';
		} else {
			class_name = 'h-aicon';
		}
		if(item.HGName == '未分组' || item.HGId ==1 ) return true;
		if(item.Selected == 2){
			$H.html('<i class="'+class_name+'" data-id="arr-'+item.HGId+'" /><input type="checkbox" name="'+item.HGName+'" _parent="0" id="node-'+item.HGId+'" data-check="'+item.Selected+'" checked class="zcheck zcheck-g"><i class="h-eicon h-eicon-g"></i><span class="h-name">'+item.HGName+'</span><ul style="display:none">Loading...</ul>');			
		}else{
			$H.html('<i class="'+class_name+'" data-id="arr-'+item.HGId+'" /><input type="checkbox" name="'+item.HGName+'" _parent="0" id="node-'+item.HGId+'" data-check="'+item.Selected+'" class="zcheck zcheck-g"><i class="h-eicon h-eicon-g"></i><span class="h-name">'+item.HGName+'</span><ul style="display:none">Loading...</ul>');
		}
		$(obj).append($H);
		_checkView(obj);
		if(item.Selected !=0){
			$("#node-"+item.HGId).prev('i').click();
		}
    });

	_checkView(obj);
}

function _checkView(obj) {
	$('input.zcheck', obj).each(function () {
		var $s = $('<span class="checkbox"></span>');
		if ($(this).parent().find('span.checkbox').length == 0)
			$(this).after($s);
		var v = $(this).prop('checked');
		if (v) {
			$s.addClass('checked');
		} else {
			var c = $(this).data('check');
			if (c && c == 2) {
				$s.addClass('half');
			}
		}

		var d = $(this).prop('disabled');
		if (d) {
			$s.addClass('disabled');
		}
	}).on('change', function () {
		var v = $(this).prop('checked');
		var $s = $(this).next('span.checkbox');
		var $u = $(this).parent().children('ul');
		if (v) {
			$s.attr('class', 'checkbox checked');
			//$('input.zcheck',$u).prop('checked',true);
			//$('span.checkbox',$u).attr('class','checkbox checked');
		} else {
			$s.attr('class', 'checkbox');
			//$('input.zcheck',$u).prop('checked',false);
			//$('span.checkbox',$u).attr('class','checkbox');
		}

		//_checkEvent(this);
	});
}

function _checkEvent(obj) {
	var _run = function () {
		var $li = $(obj).parent().parent().parent();
		var tagname = $li[0].tagName.toLowerCase();
		var v = $(obj).prop('checked');

		if (tagname == 'li') {
			var c1 = 0, c2 = 0;
			var len = $(obj).parent().parent().children('li').length;
			$(obj).parent().parent().children('li').each(function () {
				var c = $(this).children('span.checkbox').attr('class');
				if (c.indexOf('checked') > 0) {
					c1++;
				} else if (c.indexOf('half') > 0) {
					c2++;
				}

				if (c1 == len) {
					$li.children('input.zcheck').prop('checked', true).siblings('span.checkbox').attr('class', 'checkbox checked');//.siblings('span.authtype').show();
				} else if (c1 == 0 && c2 == 0) {
					$li.children('input.zcheck').prop('checked', false).siblings('span.checkbox').attr('class', 'checkbox');//.siblings('span.authtype').hide();
				} else {
					$li.children('input.zcheck').prop('checked', false).siblings('span.checkbox').attr('class', 'checkbox half');
				}
			});
			_checkEvent($li.children('input.zcheck'));
		} else {
			return;
		}
	}

	_run();
}

function Cancel(){
    parent._closeHgLayer();
}

function Trans(){
    var checkVal = new Array();
    var _run = function(obj){
        $('>li',obj).each(function(i,item){
            var $_i = $(item).children('input[type=checkbox]');
			var $_parent = $_i.parent().parent().siblings('input.zcheck');
            if($_i.prop('checked') && ($_parent.length ==0 || $_parent.prop('checked') == false) ){
                var name = $(item).children('.h-name').text();
                var id = $_i.attr('id').split('-')[1];
				var _parent = $_i.attr('_parent');
				                checkVal.push(JSON.parse('{"name":"'+name+'","id":'+id+',"path":"'+_parent+'/'+id+'"}'));
                return;
            }else{
                _run($(item).children('ul'));
            }
        })
    }
    
    _run($('#userTree'));
	
	parent.__setHostGroup(checkVal);
}
</script>
</body>
</html>