{% extends  "index.html" %}
{% block head %}
	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<script src="/manage/js/select2.full.min.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/new-head.css">
{% endblock  %}
{% block main %}
<!---->
	<div class="mainer">
		<div class="container" style="display:none">
			<div class="manual-head">
				<div class="manual-title">
					<span onclick="reload();">角色管理</span>
					<i class="rolem_icon"></i>
				</div>
			</div>
                           <!-- <div class="c-top">
					<div class="c-title">
						
						<div class="manual-head" style="float:left;width:100px">
							<div class="manual-title" >
       							<span id="sysrole" style="cursor: pointer;">角色管理</span>
        						<i class="sysrole_icon"></i>
   							</div>
							</div>
					</div>
				</div>-->

			<div class="c-cont">
				<div class="c-wrap" style=" min-width: 1156px;">
					<div class="form-item form-nm" style = "margin-left: 8px; ">
						<div class="form-tag"><em class="imp">*</em>名&nbsp;&nbsp;称：</div>
						<div class="form-c">
							<input type="text" class="form-text" id = "r_n" maxlength="127" onblur="regCheck(this,/^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/)"><i class="v-check"></i>
							<span style="font-size: 12px;">&nbsp;&nbsp;特殊字符仅支持下划线、横杠、小数点</span>
						</div>
					</div>

					<div class="c-box">
						<div class="cb-title">
							<em class="imp"style="color: #F00;font-style: normal;float: left;margin-left: -6px;">*</em>
							<h3>角&nbsp;&nbsp;色</h3>
						</div>

						<div class="cb-cont">
							<table cellpadding="0" cellspacing="0" class="cbtab">
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
					<div class="btns s-hide s-check">
						<a href="javascript:;" class="btn btn-submit btn-normal">保&nbsp;&nbsp;存</a>
						<!--
						<a href="javascript:;" class="btn btn-cancle btn-normal">取&nbsp;&nbsp;消</a>
						-->
					</div>
					<div id="bBtn" style="position: fixed;z-index:5;">
						<a href="javascript:;" class="btn btn-cancle" style="float: right;"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container1">
			<!--<div class="c-top">
				<div class="c-title">
					<a href="javascript:;" onclick="user_manage()"><h3 class="unsel">用户管理</h3></a>
					<a href="javascript:;"><h3>角色管理</h3></a>
				</div>
			</div> -->
			<div class="c-top">
				<div class="manual-head">
					<div class="manual-title-other title-item" style="color: rgb(121, 121, 121);background: rgb(222, 222, 222)">
						<span onclick="user_manage();">用户管理</span>
						<i style="display: none;"></i>
					</div>
					<div class="manual-title-other title-item" id="frist">
						<span onclick="reload(1)"> 角色管理</span>
						<i class="rolem_icon"></i>
					</div>
				</div>
			</div>
			<div class="c-cont">
				<div class="c-wrap">
					<div class="c-table">
						<div class="tab-t">
							<div class="ctr">
								{% if _power_mode == 2 %}						
								<a href="javascript:;" class="btn btn-default btn-normal" onclick="create()">创建</a>
								<a href="javascript:;" class="btn btn-default btn-normal" onclick="delete_backup()">删除</a>
								<a href="javascript:;" class="btn btn-default btn-normal" onclick="select_all()">全选</a>
								{% endif %}								
								<a href="javascript:;" class="btn btn-default btn-normal" onclick="refresh()">刷新</a>
							</div>
							<div class="filter">
								<div class="search">
									<select name="" id="filter_select" class="filter-select">
										<option value="0">所有</option>
										<option value="1">名称</option>
									</select>

									<input type="text" class="filter-text" 
									name="nm" id="nm" placeholder="输入关键字" 
									style="padding-right: 22px;" 
									onchange="if($('#nm').val()==''){$('#nm_check').hide();}else{$('#nm_check').show();}"
									onblur="if($('#nm').val() == '' && document.frm_role.search_typeall_n.value != ''){document.frm_role.search_typeall_n.value = '';_addFilter(this,false,1);}"
									onkeyup="if($('#nm').val()==''){$('#nm_check').hide();}else{$('#nm_check').show();}"
									onkeydown="if($('#nm').val()==''){$('#nm_check').hide();}else{$('#nm_check').show();}; if (event.keyCode == 13){_addFilter(this,false);return false;} else return; ">
									<i class="v-check v-wrong" id="nm_check" 
									onclick="_clearFilter(this,1)" 
									style="display:none;cursor: pointer;float: left;position: static;"></i>
									<button class="btn filter-btn" onclick="_addFilter(this,false);user_page(0.1)"><i class="add-filter"></i></button>
									<button class="btn filter-btn" onclick="_addFilter(this,true);user_page(0.1)"><i class="append-filter"></i></button>
								</div>
								
								<div class="search" id="clearFilter" style="margin: 0px 15px 0px -16px;display:none;">
									<button class="filter-btn" onclick="_clearFilter(this)"><i class="clear-filter"></i></button>
								</div>
								<div class="selector selector-multiple" id="filterWW" style="display: none;">										
									<span class="ww">搜索条件</span>
									<ul>
									</ul>
								</div>
							</div>
						</div>
						<div class="box-table">
							<table cellpadding="0" cellspacing="0" id="r_list">
								<thead>
									<tr>
										<th width="50" class="s-hide"><input type="checkbox" class="form-checkbox" id="check_page"/></th></th>
										<th>名&nbsp;&nbsp;称</th>
										<th>权&nbsp;&nbsp;限</th>
										<th width="60" id="on_view"></th>
									<tr>
								</thead>

								<tbody name="role_list" id="role_list">
								</tbody>
							</table>
						</div>
						<div class="tab-i">
							<div class="il">
								<!--	每页显示
								<select name="page_names" id="page_nums" onchange="show_page_num();">
									<option value="5">5</option>
									<option value="10" selected>10</option>
									<option value="15">15</option>
								</select>
								条 总数：<span id = "user_total">25</span>  选中：<span id="select_total">0</span> -->
								每页显示10条 总数：<span id = "user_total">25</span>  选中：<span id="select_total">0</span>
							</div>

							<div class="ipage">
								<a href="javascript:;" class="nav2 begin" id="begin" onclick="user_page(0.1)"><i></i></a>
								<a href="javascript:;" class="nav prev" id="prev" onclick="user_page(-1)" ><i></i></a>
								<input type="text" value="1" id="user_page" onchange="showMsg()">/ <span id="totalpage">25</span>
								<a href="javascript:;" class="nav next" id="next" onclick="user_page(1)" ><i></i></a>
								<a href="javascript:;" class="nav2 end" id="end" onclick="user_page(0.9)" ><i></i></a>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<!--
					<div class="btns">
						<a href="javascript:;" class="btn btn-cancle1 btn-normal">返&nbsp;&nbsp;回</a>
				</div>
				-->
					<div id="bBtn" style="position: fixed;z-index:5;">
						<a href="javascript:;" class="btn btn-cancle1" style="float: right;"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
					</div>
			</div>
		</div>
	</div>

<form action="/bhost/get_role_list" method="POST" name="frm_role" id="frm_role">
	<input type="hidden" name="tasktype" id = "tasktype" value="" />
	<!--创建 编辑 列表-->
	<input type="hidden" name="page_num" id = "page_num" value="10" />
	<!--每页显示数-->
	<input type="hidden" name="total_all" id = "total_all" value="" />
	<!--总数-->
	<input type="hidden" name="paging" id = "paging" value="1" />
	<!--页码-->
	<input type="hidden" name="search_typeall" id = "search_typeall" value="" />
	<input type="hidden" name="search_typeall_n" id = "search_typeall_n" value="" />
	<!--查询要求，查询内容，查询类型-->
	<input type="hidden" name="userid" id = "userid" value="" />
	<!--需要查询的id-->
	<input type="hidden" name="fenye" id = "fenye" value="" />
	<!--总页数-->
	<input type="hidden" name="user" id = "user" value="lh" />
	<input type="hidden" name="se" id = "se" value="" />
	<input type="hidden" name="a0" value=""/>
</form>

{%  endblock  %}
{%  block script %}

<script type="text/javascript">
var select_str = "";
var check_num = 0;
var role_array=null;
var r_p = {
	"RoleId": 0,
	"RoleName": "",
	"Permission": [
	]
}
var sess = window.parent.document.frm.se.value;
var if_disable ='2';
var first_style ='';
$(function(){
	document.frm_role.a0.value = sess;
	if_disable = $('#nav-s1 li[data-modeid=4]',parent.document).attr('_if_disable').split('-')[0];
	if(if_disable == '1'){
		$('.s-hide').remove();
		//disabled_class = '-role-disabled';
		$('thead tr').eq(0).children('th:last').css('width',30);
		first_style="style=\"border-left: 1px solid #FFF;\"";
	}

	initMenu();
	$("#user_page").bind('keydown', function(e){
		DigitInput(e);
	});
	$("#filter_select").select2({ minimumResultsForSearch: -1 });
	$('.form-checkbox,.form-radio').iCheck({
		checkboxClass:'icheckbox_minimal-blue',
		radioClass:'iradio_minimal-blue',
		increaseArea:'0'
	});
    $("a.btn-submit").unbind().bind("click",function(){
		savedata();
	});

	//运维概要 系统概要 checkbox 事件绑定
	$('div.cbi-tag input[type=checkbox]').on('ifChecked',function(){
		var $s = $(this).parents('div.cbi-tag').next().next('div.cbi-sel.radio');
		var $i = $(this).parents('div.cbi-cont').prev('div.cbi-t');
		$s.show();
		$i.children().eq(2).show();
		$i.children().eq(3).show();
		_checkAllStatus(this);
	}).on('ifUnchecked',function(){
		var $s = $(this).parents('div.cbi-tag').next().next('div.cbi-sel.radio');
		var $i = $(this).parents('div.cbi-cont').prev('div.cbi-t');
		var j = 1;
		$s.hide();
		$.each($(this).parents('div.cbi-cont').find('.cbi-tag').find('input[type=checkbox]'),function(i,item){
			if($(item).prop('checked') == true){
				j = 0;
				return false;
			}
		})
		if(j == 1){
			$i.children().eq(2).hide();
			$i.children().eq(3).hide();
		}
		var $c = $(this).parents('div.cbi-cont');
		var $s = $c.prev('div.cbi-t').find('input[type=checkbox]:first');
		var len = $('div.cbi-s',$c).length, clen = $('input[type=checkbox]:checked',$c.children().children('.cbi-tag')).length;
		if(len != clen){
			$s.prop('checked',false);
			$s.parent().removeClass('checked');
		}else{
			$s.prop('checked',true);
			$s.parent().addClass('checked');
		}
		//_checkAllStatus(this);	
	});

	//授权
	$('div.cbi-sel.auth input[type=checkbox]').on('ifChecked',function(){
		var $c = $(this).parents('div.cbi-cont');
		var $i_a = $c.prev('div.cbi-t').find('input[type=checkbox]:last');
		var $s = $c.prev('div.cbi-t').find('input[type=checkbox]:first');
		var len = $('div.cbi-s',$c).length, clen = $('input[type=checkbox]:checked',$c.children().children('.cbi-tag')).length;
		var len_a = $('input[type=checkbox]:checked',$c.children().children('.cbi-sel.auth')).length;
		//console.log("len："+len);
		//console.log("len_a:"+len_a);
		if(len != len_a){
			$i_a.prop('checked',false);
			$i_a.parent().removeClass('checked');
		}else{
			$i_a.prop('checked',true);
			$i_a.parent().addClass('checked');
		}
		if($('div.cbi-sel.auth input[type=checkbox]:checked').length==1){
			$('.cbi-s[value=role_] input[type=checkbox]').eq(0).iCheck('check');
			$('input[name=S_30][value=2]').iCheck('check');
		}
		
	}).on('ifUnchecked',function(){
		var $c = $(this).parents('div.cbi-cont');
		var $i_a = $c.prev('div.cbi-t').find('input[type=checkbox]:last');
		var $s = $c.prev('div.cbi-t').find('input[type=checkbox]:first');
		var len = $('div.cbi-s',$c).length, clen = $('input[type=checkbox]:checked',$c.children().children('.cbi-tag')).length;
		var len_a = $('input[type=checkbox]:checked',$c.children().children('.cbi-sel.auth')).length;
		if(len != len_a){
			$i_a.prop('checked',false);
			$i_a.parent().removeClass('checked');
		}else{
			$i_a.prop('checked',true);
			$i_a.parent().addClass('checked');
		}
		//_checkAllStatus(this);
		// if($('div.cbi-sel.auth input[type=checkbox]:checked').length==0){
		// 	$('.cbi-s[value=role_] input[type=checkbox]').eq(0).iCheck('uncheck');
		// }	
	});

	//访问 管理 radio 事件绑定
	$('div.cb-item input[type=radio]').on('ifChecked',function(){
		_checkAllStatus(this);
	}).on('ifUnchecked',function(){
		_checkAllStatus(this);
	});

	//实时监控 标题 事件绑定
	$('div.cbi-t .all input[type=checkbox]').on('ifChecked',function(){
		var $d = $(this).parents('div.cbi-t').next('div.cbi-cont').find('.cbi-tag');
		$('input[type=checkbox]',$d).iCheck('check');
	}).on('ifUnchecked',function(){
		var $d = $(this).parents('div.cbi-t').next('div.cbi-cont').find('.cbi-tag');
		$('input[type=checkbox]',$d).iCheck('uncheck');
	});

	//radio全选 事件绑定
	$('div.cbi-t input[value=1]').on('ifChecked',function(){
		$(this).parents('div.cbi-t').next().children().find('input[value=1]').iCheck('check');
	});
	$('div.cbi-t input[value=2]').on('ifChecked',function(){
		$(this).parents('div.cbi-t').next().children().find('input[value=2]').iCheck('check');
	});

	//用户管理 事件绑定 --> 授权        用户管理-->授权
	$('div.cbi-tag input[type=checkbox]',$('.cbi-cont').children('.cbi-s')).on('ifChecked',function(){
		$obj1 = $(this);
		if($obj1.parents('label').text() == '用户管理'){
			if($('input[value=2]',$obj1.parents('.cbi-tag').siblings('.cbi-sel.radio')).prop('checked') == true){
				$('.cb-item .cbi-sel.auth').show();
				$('label.auth').show();
				$('.cbi-s[value=role_]').show();//显示 角色管理
				if($('div.cbi-s[value=user_] .cbi-sel.auth input[type=checkbox]').prop('checked') == false || $('.cbi-s[value=role_] input[type=checkbox]').prop('checked') == false)
				$('.cbi-s[value=role_] .cbi-sel.auth input[type=checkbox]').attr("disabled",true);
				// 角色授权 不可编辑
			}
		}
		/*
		else if($obj1.parents('label').text() == '角色管理'){
			$('.cb-item .cbi-sel.auth').show();
			$('label.auth').show();
		}*/
	}).on('ifUnchecked',function(){
		$obj1 = $(this);
		if($obj1.parents('label').text() == '用户管理'){
			$('.cb-item .cbi-sel.auth').hide();
			// $('.cb-item .cbi-sel.auth input[type=checkbox]').iCheck('uncheck');
			$('label.auth').hide();
			$('.cbi-s[value=role_]').hide();//隐藏  角色管理
			//取消选中用户管理  -> 取消选中角色管理
			var $d = $('div.cbi-s[value=role_]').find('.cbi-tag');
			$('input[type=checkbox]',$d).iCheck('uncheck');
		}
		/*
		else if($obj1.parents('label').text() == '角色管理'){
			$('.cb-item .cbi-sel.auth').hide();
			$('.cb-item .cbi-sel.auth input[type=checkbox]').iCheck('uncheck');
			$('label.auth').hide();
		}*/
	});

	//用户管理radio 事件绑定 --> 授权    访问-->授权
	$('input[value=2]',$('.cbi-cont').children('.cbi-s')).on('ifChecked',function(){
		$obj1 = $(this);
		if($obj1.parents('.cbi-sel.radio').siblings('.cbi-tag').find('label').text() == '用户管理'){
			if($('input[type=checkbox]',$obj1.parents('.cbi-sel.radio').siblings('.cbi-tag')).prop('checked') == true){
				$('.cb-item .cbi-sel.auth').show();
				$('label.auth').show();
			}
		}
	})
	$('input[value=1]',$('.cbi-cont').children('.cbi-s')).on('ifChecked',function(){
		$obj1 = $(this);
		if($obj1.parents('.cbi-sel.radio').siblings('.cbi-tag').find('label').text() == '用户管理'){
			if($('input[type=checkbox]',$obj1.parents('.cbi-sel.radio').siblings('.cbi-tag')).prop('checked') == true){
				$('.cb-item .cbi-sel.auth').hide();
				$('label.auth').hide();
			}
		}
	});

	//授权 全选 事件绑定
	$('div.cbi-t .auth input[type=checkbox]').on('ifChecked',function(){
		if($('div.cbi-sel.auth input[type=checkbox]:checked').length==1){
			$('.cbi-s[value=role_] input[type=checkbox]').eq(0).iCheck('check');
			$('input[name=S_30][value=2]').iCheck('check');
		}
		var $d = $(this).parents('div.cbi-t').next().children().find('.cbi-sel.auth');
		$('input[type=checkbox]',$d).iCheck('check');
		// $(':enabled',$d).iCheck('check');
		// $(':disable',$d).iCheck('check');
	}).on('ifUnchecked',function(){
		var $d = $(this).parents('div.cbi-t').next().children().find('.cbi-sel.auth');
		$('input[type=checkbox]',$d).iCheck('uncheck');
		// $(':enabled',$d).iCheck('uncheck');
	});
	//用户授权 绑定 角色授权
	$('div.cbi-s[value=user_] .cbi-sel.auth input[type=checkbox]').on('ifChecked',function(){
		if($('.cbi-s[value=role_] input[type=checkbox]').prop('checked') == true){
			$('.cbi-s[value=role_] .cbi-sel.auth input[type=checkbox]').attr("disabled",false).iCheck('enable');;//角色授权可编辑
		}
	}).on('ifUnchecked',function(){
		$('.cbi-s[value=role_] .cbi-sel.auth input[type=checkbox]').iCheck('uncheck');//取消选中角色授权
		$('.cbi-s[value=role_] .cbi-sel.auth input[type=checkbox]').attr("disabled",true).iCheck('disable');;//角色授权不可编辑
	});
	//角色管理 绑定 角色授权
	$('.cbi-s[value=role_] input[type=checkbox]').on('ifChecked',function(){
		if($('div.cbi-s[value=user_] .cbi-sel.auth input[type=checkbox]').prop('checked') == true){
			$('.cbi-s[value=role_] .cbi-sel.auth input[type=checkbox]').attr("disabled",false).iCheck('enable');;//角色授权可编辑
		}
	}).on('ifUnchecked',function(){
		$('.cbi-s[value=role_] .cbi-sel.auth input[type=checkbox]').iCheck('uncheck');
		if($('.cbi-s[value=role_] input[type=checkbox]').prop('checked') == false){
			$('.cbi-s[value=role_] .cbi-sel.auth input[type=checkbox]').attr("disabled",true).iCheck('disable');;//角色授权不可编辑
		}
	});

	_checkStatus();

	$("a.btn-cancle").unbind().bind("click",function(){
		$(".container1").show();
		$(".container").hide();
	});
    $("a.btn-cancle1").unbind().bind("click",function(){
		document.frm.tasktype.value = 3;
		document.frm.se.value = sess;
		document.frm.action = '/bhost/index';
		document.frm.i10.value = 0;
		document.frm.submit();
    });

	//tr点击事件
	// $("#role_list").on("click", "tr", function (e){  
	// 	x=e.target;
	// 	if(x.type !='checkbox' && x.id!='edit' && x.id!='del'){
	// 		var input  = $(this).find("input[type='checkbox']");  
	// 		if(!(input).is(':checked')){  
	// 			$(input).parent().iCheck('check');
	// 		}else{  
	// 			$(input).parent().iCheck('uncheck');
	// 		}
	// 	}
	$("#role_list").on('dblclick','tr',function(e){
		x=e.target;
		if (x.nodeName != "INS"){
			$(this).children('td:last').find('.edit').click();
			$(this).children('td:last').find('.search_result').click();
		}
	}
	).on("click", "tr", function (e){  
		x=e.target;
	});
	$('#check_page').on('ifClicked',function(e){
		if(!$('#check_page').prop('checked')){
			$("#r_list").children('tbody').find('input[type=checkbox]').iCheck('check');
		}else{
			$("#r_list").children('tbody').find('input[type=checkbox]').iCheck('uncheck');
		}
	});
	$("#role_list").on("ifChecked",function(e){
		check_num++;
		$("#select_total").text(check_num);	
		if($("table tbody tr").children("td.in").children("div").children("input:checked").length==$("#role_list tr").length){
			$('#check_page').iCheck('check');
		}
	}).on("ifUnchecked",function(e){
		check_num--;
		$("#select_total").text(check_num);	
		$('#check_page').iCheck('uncheck');	
	});
	parent._switchBtn(1);//显示按钮

})
function BackRolemanage(){
	$(".container1").show();
	$(".container").hide();
}

function initMenu(){
	$('.cbtab').children('tbody').empty();
	$.ajax({
		url:'/bhost/get_role_menu',
		type:"POST",
		async:false,
		data:{a0:sess},
		success: function(Result){
			var data = JSON.parse(Result);
			if (data.Result){
				var menuInfo = data.info;
				var index = 0;
				var html_str = "<tr>";
				var flag2 = false;
				$.each(menuInfo,function(i,item){
					// var flag1 = false;
					// $.each(item.SubMenu,function(i1,item1){
					// 	if(item1.PermissionFlag == true){
					// 		flag1 = true;
					// 		return false;
					// 	}
					// })
					//if(flag1 == true){
						if(index < 4){
							if(item.SystemMenuName != '运维访问'){
								html_str += ('<td style="white-space: normal;"><div class="cb-item">'+
									'<div class="cbi-t">'+
										'<label class="all"><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'" />'+item.SystemMenuName+'</label>'+
										'<label class="auth" style="float: right;display: none;margin-right: 28px;"><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'" /></label>'+
										'<label style="font-size: 14px;color: #999;float:right;margin-left: 35px;margin-right: 28px;display: none;"><input class="form-radio" type="radio" name="s_all_'+item.SystemMenuId+'" value="1" /></label>'+
										'<label style="font-size: 14px;color: #999;display: none;float:right;"><input class="form-radio" type="radio" name="s_all_'+item.SystemMenuId+'" value="2" /></label>'+
									'</div>');
							}else{
								html_str += ('<td style="white-space: normal;"><div class="cb-item">'+
									'<div class="cbi-t">'+
										'<label class="all"><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'" />'+item.SystemMenuName+'</label>'+
										'<label class="auth" style="float: right;display: none;margin-right: 28px;"><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'" /></label>'+
									'</div>');
							}

							var html_str_content = ('<div class="cbi-cont" id="S_'+item.SystemMenuId+'">');
							// //console.log("++++++++++++++++++++++++++++++++++++++++++++");
							// //console.log(typeof(html_str_content));
							var html_str_content_user = ('');
							var html_str_content_role = ('');
							var html_str_content_ur = ('');
							var html_str_content_o = ('');
							//console.log({{_power_mode}});
							{% if _power_mode == 1 %}	
							//console.log('1112');
							$('#frist').attr("value","view");					
							{% endif %}
							$.each(item.SubMenu,function(i1,item1){
								/*
								if(item1.SubMenuName == '角色管理'){
									if(item1.PermissionFlag == false && item1.ManageFlag == 1){
										//只有访问
										$('#frist').attr("value","view");
									}
								}
								*/
								if(item1.PermissionFlag == true){
									if(item1.SubMenuName == '角色管理'){
										html_str_content_role = ('<div class="cbi-s" style="display:none;" value="role_">'+
											'<div class="cbi-tag">'+
												'<label><input class="form-checkbox" type="checkbox" id="'+item1.SubMenuId+'" />'+item1.SubMenuName+'</label>'+
											'</div>'+
											'<div class="cbi-sel auth">'+
												'<label><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'"/>授权</label>'+
											'</div>'+
											'<div class="cbi-sel radio">'+
												'<label style="margin-right: 7px;"><input class="form-radio" type="radio" checked="checked" name="S_'+item.SystemMenuId+i1+'" value="2">管理</label>'+
												'<label><input class="form-radio" type="radio" name="S_'+item.SystemMenuId+i1+'" value="1" />访问</label>'+
											'</div>'+
										'</div>');

									}else if(item1.SubMenuName == '用户管理'){
										html_str_content_user = ('<div class="cbi-s" value="user_">'+
											'<div class="cbi-tag">'+
												'<label><input class="form-checkbox" type="checkbox" id="'+item1.SubMenuId+'" />'+item1.SubMenuName+'</label>'+
											'</div>'+
											'<div class="cbi-sel auth">'+
												'<label><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'"/>授权</label>'+
											'</div>'+
											'<div class="cbi-sel radio">'+
												'<label style="margin-right: 7px;"><input class="form-radio" type="radio" checked="checked" name="S_'+item.SystemMenuId+i1+'" value="2">管理</label>'+
												'<label><input class="form-radio" type="radio" name="S_'+item.SystemMenuId+i1+'" value="1" />访问</label>'+
											'</div>'+
										'</div>');
										
									}else{
										if(item1.SubMenuName != '设备访问'){
											html_str_content_o += ('<div class="cbi-s">'+
												'<div class="cbi-tag">'+
													'<label><input class="form-checkbox" type="checkbox" id="'+item1.SubMenuId+'" />'+item1.SubMenuName+'</label>'+
												'</div>'+
												'<div class="cbi-sel auth">'+
													'<label><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'"/>授权</label>'+
												'</div>'+
												'<div class="cbi-sel radio">'+
													'<label style="margin-right: 7px;"><input class="form-radio" type="radio" checked="checked" name="S_'+item.SystemMenuId+i1+'" value="2">管理</label>'+
													'<label><input class="form-radio" type="radio" name="S_'+item.SystemMenuId+i1+'" value="1" />访问</label>'+
												'</div>'+
											'</div>');
										}else{
											html_str_content_o += ('<div class="cbi-s">'+
												'<div class="cbi-tag">'+
													'<label><input class="form-checkbox" type="checkbox" id="'+item1.SubMenuId+'" />'+item1.SubMenuName+'</label>'+
												'</div>'+
												'<div class="cbi-sel auth">'+
													'<label><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'"/>授权</label>'+
												'</div>'+
											'</div>');
										}
									}
				
								}
							})
							html_str_content_ur += html_str_content_user.concat(html_str_content_role);
							html_str_content += html_str_content_ur.concat(html_str_content_o);
							html_str_content += ("</div></td>");	
							html_str += html_str_content;
							if(index == 3 || index == menuInfo.length){
								//console.log(index+"++"+i);
								html_str += ('<tr>');
								$('.cbtab').children('tbody').append(html_str);
								flag2 = true;
								index = 0;
								html_str = "<tr>";
							}
							index++;
						}
					//}
				})
				// if(flag2 == false){
				// 	$('.cbtab').children('tbody').append(html_str);
				// }
			}
			else{
				_alert(1,"系统角色", "获取角色菜单信息失败");
			}
		}
	})
}

var editID;
//编辑
function edit_user(id){
	editID = id;
	// $('div.cbi-tag input[type=checkbox]').unbind();
	$('div.cbi-t input[value=1]').unbind();
	$('div.cbi-t input[value=2]').unbind();	
	filter = ""
	userid = id;
	$(".container1").hide();
	$(".container").show();
	var paging = "1";
	var page_num = "1";
	var search_typeall= "";
	var userid= id;
	r_p.RoleId = userid; 
	$(".cbtab input:checked").each(function(i,item){
		$(this).iCheck('uncheck');
	})
	$('.auth').iCheck('uncheck');
	$('label.auth').iCheck('uncheck');
	$(".cbi-s").find("input[value='2']").iCheck('check');
	$("#r_n").next('i').attr('class','v-check');
	$('.auth').hide();
	if($('#role_' + id).parents('tr').find('div.tab-ctr').children('a.search_result').length >0){
		$('.s-check').hide();
	}else{
		$('.s-check').show();
	}
	
	$.ajax({
		url: "/bhost/get_role_list",
		type:"POST",
		async:false,
		data:{a0:sess,a1:page_num,a2:paging,a3:search_typeall,a4:userid,dsc:true},
		success:function(Result){
			result = JSON.parse(Result);
			if(result.Result == false){
				_alert(1,"角色编辑","获取信息失败，失败原因："+result.ErrMsg);
				return false;
			}else{
				data = result.info.data[0];
				$('#r_n').val(data.RoleName);
				$("#r_n").attr("disabled",true);
				permission = data.Permission;
				var sub_role=false;
				$.each(permission,function(i,item){
					if(item.SubMenuId==2){
						sub_role=true;
					}
					if(item.Mode == 1){
						$("#" +item.SubMenuId).iCheck('check');
						$("#" +item.SubMenuId).parent().parent().parent().next().next().find("input[value='1']").iCheck('check');
					}else if(item.Mode == 2){
						$("#" +item.SubMenuId).iCheck('check');
						$("#" +item.SubMenuId).parent().parent().parent().next().next().find("input[value='2']").iCheck('check');
					}
					if(item.EnableAuth == 1){
						$("#" +item.SubMenuId).parent().parent().parent().next().find("input[type=checkbox]").iCheck('check');
					}				
				})
				if(!sub_role){
					$("#2").iCheck('uncheck');
				}
			}
		}
	})

	$('div.cbi-t input[value=1]').on('ifChecked',function(){
		//console.log("click value1");
		$(this).parents('div.cbi-t').next().children().find('input[value=1]').iCheck('check');
	});
	$('div.cbi-t input[value=2]').on('ifChecked',function(){
		//console.log("click value2");
		$(this).parents('div.cbi-t').next().children().find('input[value=2]').iCheck('check');
	});	
}
function _checkStatus(){
	$('div.cbi-tag input[type=checkbox]').each(function(){
		var c = $(this).prop('checked');
		var $s = $(this).parents('div.cbi-tag').next().next('div.cbi-sel.radio');
		if(c){
			$s.show();
		}else{
			$s.hide();
		}
	});
}
//编辑页面全选
function _checkAllStatus(obj){
	//console.log("_checkStatus");
	var $c = $(obj).parents('div.cbi-cont');
	var len = $('div.cbi-s',$c).length, clen = $('input[type=checkbox]:checked',$c.children().children('.cbi-tag')).length;
	var len_v = $('input[type=checkbox]:checked',$c.children().children('.cbi-tag')).length;
	var len_1 = $('input[value=1]:checked:visible',$c).length;
	var len_2 = $('input[value=2]:checked:visible',$c).length;
	var $i = $c.prev('div.cbi-t').find('input[type=checkbox]:first');
	var $i_1 = $c.prev('div.cbi-t').find('input[value=1]');
	var $i_2 = $c.prev('div.cbi-t').find('input[value=2]');
	if(len != clen){
		$i.prop('checked',false);
		$i.parent().removeClass('checked');
	}else{
		$i.prop('checked',true);
		$i.parent().addClass('checked');
	}
	if(len_v != len_1){
		$i_1.iCheck('uncheck');
	}else{
		$i_1.iCheck('check');
	}
	if(len_v != len_2){
		$i_2.iCheck('uncheck');
	}else{
		$i_2.iCheck('check');
	}	
}
//编辑页面提交数据
function savedata(){
	var nameReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
	var r_n = $("#r_n").val();


	if(r_n == ""){
		_alert(2,"角色管理","请输入名称",$('#r_n'));
		return false;
	}
	if(!nameReg.test(r_n)){
		_alert(1,"角色管理","名称格式不正确",$('#r_n'));
		return false;
	}
	//var $u = $("#S_3").find(".cbi-s").eq(1).find('.cbi-sel.radio');
	var $u = $("#S_3 .cbi-s[value=role_]").find('.cbi-sel.radio');
	var $auth_sel=$('.cbtab').find('.cbi-sel.auth');
	if($u.find('input[value=2]').prop('checked') == true && $u.find('input[value=2]').is(":visible") == true){
		if($auth_sel.find('input[type=checkbox]:checked').length == 0 && $auth_sel.is(":visible")){
			_alert(1,"系统角色","至少要选择一种授权");
			return false;
		}
	}
	if($auth_sel.find('input[type=checkbox]:checked').length > 0 && $auth_sel.is(":visible")){
		if($u.find('input[value=2]').prop('checked') != true || $u.find('input[value=2]').is(":visible") != true){
			//_alert(1,"系统角色","请选中角色管理管理权限");
			//return false;
		}
	}
	//得到选中的数据
	var Permission = [];

	$(">div","#S_1").each(function(){
		var tmp = {};
		var f1=$(this).find("div[class='cbi-tag']").children("label").children("div").find("input[class='form-checkbox']");
		var f3 = $(this).find("div[class='cbi-sel auth']").children("label").children("div").find("input[class='form-checkbox']");
		if($(f1).is(":checked")){
			var f2 = $(this).find("div[class='cbi-sel radio']").children("label").find("div[class = 'iradio_minimal-blue checked']");
			f2 = f2.find("input[class='form-radio']");
			if($(f2).is(":checked")){
				tmp.SubMenuId = f1[0].id;
				tmp.Mode = f2[0].value;
			}
		}
		if($(f3).is(':visible') && $(f3).prop("checked") == true){
			tmp.SubMenuId = f1[0].id;
			if('Mode' in tmp){

			}else{
				tmp.Mode = 0;
			}
			tmp.EnableAuth = 1;
		}
		if(JSON.stringify(tmp) != "{}"){
			if('EnableAuth' in tmp){

			}else{
				tmp.EnableAuth = 0;
			}
			Permission.push(tmp);
		}
	})
	$(">div","#S_2").each(function(){
		var tmp = {};
		var f1=$(this).find("div[class='cbi-tag']").children("label").children("div").find("input[class='form-checkbox']");
		var f3 = $(this).find("div[class='cbi-sel auth']").children("label").children("div").find("input[class='form-checkbox']");
		if($(f1).is(":checked")){
			var f2 = $(this).find("div[class='cbi-sel radio']").children("label").find("div[class = 'iradio_minimal-blue checked']");
			f2 = f2.find("input[class='form-radio']");
			if($(f2).is(":checked")){
				tmp.SubMenuId = f1[0].id;
				tmp.Mode = f2[0].value;
			}
		}
		if($(f3).is(':visible') && $(f3).prop("checked") == true){
			tmp.SubMenuId = f1[0].id;
			if('Mode' in tmp){

			}else{
				tmp.Mode = 0;
			}
			tmp.EnableAuth = 1;
		}
		if(JSON.stringify(tmp) != "{}"){
			if('EnableAuth' in tmp){

			}else{
				tmp.EnableAuth = 0;
			}			
			Permission.push(tmp);
		}
	})
	$(">div","#S_3").each(function(){
		var tmp = {};
		var f1=$(this).find("div[class='cbi-tag']").children("label").children("div").find("input[class='form-checkbox']");
		var f3 = $(this).find("div[class='cbi-sel auth']").children("label").children("div").find("input[class='form-checkbox']");
		if($(f1).is(":checked")){
			var f2 = $(this).find("div[class='cbi-sel radio']").children("label").find("div[class = 'iradio_minimal-blue checked']");
			f2 = f2.find("input[class='form-radio']");
			if($(f2).is(":checked")){
				tmp.SubMenuId = f1[0].id;
				tmp.Mode = f2[0].value;
			}
		}
		if($(f3).is(':visible') && $(f3).prop("checked") == true){
			tmp.SubMenuId = f1[0].id;
			if('Mode' in tmp){

			}else{
				tmp.Mode = 0;
			}
			tmp.EnableAuth = 1;
		}
		if(JSON.stringify(tmp) != "{}"){
			if('EnableAuth' in tmp){

			}else{
				tmp.EnableAuth = 0;
			}			
			Permission.push(tmp);
		}
	})
	$(">div","#S_4").each(function(){
		var tmp = {};
		var f1=$(this).find("div[class='cbi-tag']").children("label").children("div").find("input[class='form-checkbox']");
		var f3 = $(this).find("div[class='cbi-sel auth']").children("label").children("div").find("input[class='form-checkbox']");
		if($(f1).is(":checked")){
			var f2 = $(this).find("div[class='cbi-sel radio']").children("label").find("div[class = 'iradio_minimal-blue checked']");
			f2 = f2.find("input[class='form-radio']");
			if($(f2).is(":checked")){
				tmp.SubMenuId = f1[0].id;
				tmp.Mode = f2[0].value;
			}
		}
		if($(f3).is(':visible') && $(f3).prop("checked") == true){
			tmp.SubMenuId = f1[0].id;
			if('Mode' in tmp){

			}else{
				tmp.Mode = 0;
			}
			tmp.EnableAuth = 1;
		}
		if(JSON.stringify(tmp) != "{}"){
			if('EnableAuth' in tmp){

			}else{
				tmp.EnableAuth = 0;
			}			
			Permission.push(tmp);
		}
	})
	$(">div","#S_5").each(function(){
		var tmp = {};
		var f1=$(this).find("div[class='cbi-tag']").children("label").children("div").find("input[class='form-checkbox']");
		var f3 = $(this).find("div[class='cbi-sel auth']").children("label").children("div").find("input[class='form-checkbox']");
		if($(f1).is(":checked")){
			var f2 = $(this).find("div[class='cbi-sel radio']").children("label").find("div[class = 'iradio_minimal-blue checked']");
			f2 = f2.find("input[class='form-radio']");
			if($(f2).is(":checked")){
				tmp.SubMenuId = f1[0].id;
				tmp.Mode = f2[0].value;
			}
		}
		if($(f3).is(':visible') && $(f3).prop("checked") == true){
			tmp.SubMenuId = f1[0].id;
			if('Mode' in tmp){

			}else{
				tmp.Mode = 0;
			}
			tmp.EnableAuth = 1;
		}
		if(JSON.stringify(tmp) != "{}"){
			if('EnableAuth' in tmp){

			}else{
				tmp.EnableAuth = 0;
			}			
			Permission.push(tmp);
		}
	})	
	$(">div","#S_6").each(function(){
		var tmp = {};
		var f1=$(this).find("div[class='cbi-tag']").children("label").children("div").find("input[class='form-checkbox']");
		var f3 = $(this).find("div[class='cbi-sel auth']").children("label").children("div").find("input[class='form-checkbox']");
		if($(f1).is(":checked")){
			var f2 = $(this).find("div[class='cbi-sel radio']").children("label").find("div[class = 'iradio_minimal-blue checked']");
			f2 = f2.find("input[class='form-radio']");
			if($(f2).is(":checked")){
				tmp.SubMenuId = f1[0].id;
				tmp.Mode = f2[0].value;
			}
		}
		if($(f3).is(':visible') && $(f3).prop("checked") == true){
			tmp.SubMenuId = f1[0].id;
			if('Mode' in tmp){

			}else{
				tmp.Mode = 0;
			}
			tmp.EnableAuth = 1;
		}
		if(JSON.stringify(tmp) != "{}"){
			if('EnableAuth' in tmp){

			}else{
				tmp.EnableAuth = 0;
			}			
			Permission.push(tmp);
		}
	})
	$(">div","#S_7").each(function(){
		var tmp = {};
		var f1=$(this).find("div[class='cbi-tag']").children("label").children("div").find("input[class='form-checkbox']");
		var f3 = $(this).find("div[class='cbi-sel auth']").children("label").children("div").find("input[class='form-checkbox']");
		if($(f1).is(":checked")){
			tmp.SubMenuId = f1[0].id;
			tmp.Mode = 2;
		}
		if($(f3).is(':visible') && $(f3).prop("checked") == true){
			tmp.SubMenuId = f1[0].id;
			if('Mode' in tmp){

			}else{
				tmp.Mode = 0;
			}
			tmp.EnableAuth = 1;
		}
		if(JSON.stringify(tmp) != "{}"){
			if('EnableAuth' in tmp){

			}else{
				tmp.EnableAuth = 0;
			}			
			Permission.push(tmp);
		}
	})
	if(Permission.length == 0){
		_alert(2,"角色管理","请选择权限");
		return false;
	}
	r_p.RoleName = r_n;
	r_p.Permission = Permission
	var userid = r_p.RoleId;
	msstr = aceg(JSON.stringify(r_p),sess);
	$.ajax({
		url:'/bhost/add_sys_role',
		type:"POST",
		async:false,
		data:{a0:sess,a1:JSON.stringify(r_p),a10:"运维管理>角色管理",m1:msstr},
		// data:{a0:sess,a1:JSON.stringify(r_p),a10:"运维管理>用户管理>角色管理"},
		success: function(Result){
			data = eval("("+Result+")");
			if (data.Result){
				_alert(0,"角色管理",'操作成功');
				$(".container1").show();
				$(".container").hide();
				document.frm_role.search_typeall.value = "";
				document.frm_role.search_typeall_n.value = "";
				show_role_list();
				get_current_page(data.RoleId);
				showMsg();
			}
			else{
				_alert(1,"角色管理",'保存失败，失败原因：' + data.ErrMsg);
			}
		}
	})
 }
//获取保存后当前页
function get_current_page(id){
	$.ajax({
		url:'/bhost/get_current_page',
		type:"POST",
		async:false,
		data:{a0:sess,a1:id,a2:18},
		success:function(Result){
			cur_page = Math.ceil(Result/10);
			//console.log(cur_page);
			$('#user_page').val(cur_page);
		}
	})
}
//创建
function create(){
	editID = 0;
	$(".container").show();
	$(".container1").hide();
	// $('div.cbi-tag input[type=checkbox]').unbind();
	$('div.cbi-t input[value=1]').unbind();
	$('div.cbi-t input[value=2]').unbind();	
	$("#r_n").attr("disabled",false);
	$("#r_n").val("");
	$("#r_n").next('i').attr('class','v-check');
	$(".cbtab input:checked").each(function(i,item){
		$(this).iCheck('uncheck');
	})
	$('.auth').iCheck('uncheck');
	$('label.auth').iCheck('uncheck');
	$(".cbi-s").find("input[value='2']").iCheck('check');
	r_p.RoleId = 0;
	$('.s-check').show();
	$('div.cbi-t input[value=1]').on('ifChecked',function(){
		//console.log("click value1");
		$(this).parents('div.cbi-t').next().children().find('input[value=1]').iCheck('check');
	});
	$('div.cbi-t input[value=2]').on('ifChecked',function(){
		//console.log("click value2");
		$(this).parents('div.cbi-t').next().children().find('input[value=2]').iCheck('check');
	});
	$('.auth').hide();
}
//选中字段存储
function select_save(){
	$(">tr","#role_list").each(function(){
		var input  = $(this).find("input[type='checkbox']");
		var select_item_pass =1;
		var select_str_s=select_str.split(",");
		if($(input).is(':checked')){
			var select_item=$(">td",this).eq(1).text();
			$.each(select_str_s,function(i,item){
				if(item==select_item){
					select_item_pass=0;
					return false;
				}
			});
			if(select_item_pass==1){
				select_str=select_str+select_item+",";
			}
		}else{
			var select_item=$(">td",this).eq(1).text();
			select_str="";
			$.each(select_str_s,function(i,item){
				if(item!=select_item && item!=""){
					select_str=select_str+item+",";
				}
			});
		}
	});
	//console.log(select_str);
}
//check显示
function check_show(){
	$(">tr","#role_list").each(function(){
		var input=$(this).find("input[type='checkbox']");
		var select_str_s=select_str.split(",");
		var check_id=$(">td",this).eq(1).text();
		$.each(select_str_s,function(i,item){
			if(item==check_id){
				$(input).iCheck('check');
				return false;
			}
		});
	});
}
//input回车触发事件
function showMsg(){
	var cur = $("#user_page").val();
	var totalpage = $("#totalpage")[0].textContent;
	if (parseInt(cur) < 1 || cur == ""){
		$("#user_page").val(1);
		document.frm_role.paging.value=1;
	}else if(parseInt(cur) > parseInt(totalpage)){
		document.frm_role.paging.value=totalpage;
	}else{
		document.frm_role.paging.value=cur;
	}
	show_role_list();
}

function update_array(){
	var paging = 1;
	var page_num = "";
	var search_typeall=document.frm_role.search_typeall.value + document.frm_role.search_typeall_n.value;
	var userid=document.frm_role.userid.value;
	$.ajax({
		url:'/bhost/get_role_list1',
		type:'post',
		async:false,
		data:{a0:sess,a1:page_num,a2:paging,a3:search_typeall,a4:userid},
		success:function(result){
			var user_result = JSON.parse(result);
			if (user_result.Result){
				var user_data = user_result.info;
				role_array=user_data.data;
				if(select_str!=''){
					var select_str_s=select_str.split(',');
					select_str='';
					$.each(select_str_s,function(i,item){
						item=parseInt(item);
						$.each(role_array,function(i1,item1){
							if(item1.RoleId==item){
								select_str=select_str+item+',';
								return false;
							}
						});
					});
					//console.log(select_str);
				}
			}
		}
	})
}
//关键字查询
function _addFilter(obj,type,flag){
	var nameReg = /^[A-Za-z0-9_\-]+$/;
	var id = $(obj).parent().children('select').children('option:selected').val();
	var v1 = $(obj).parent().children('select').children('option:selected').text();
	var v2 = $(obj).parent().children('input[type=text]').val().trim();
	if (id=="0"){
		// $('#filterWW>ul').empty();
		// document.frm_role.search_typeall.value = "";
		// document.frm_role.search_typeall_n.value = "";
		// $("#filterWW").attr("style","display:none;");
		// $("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
		// select_str="";
		// $("#nm").val("");
		// $('#nm_check').hide();
		// user_page(0.1);
		// var select_str_s=select_str.split(",");
		// check_num=select_str_s.length-1;
		// $("#select_total")[0].textContent = check_num;
		// return false;
		v1='';
	}else{
		v1=v1+'-';
	}
	if(v2 == '' && flag != 1){
		$("#nm").focus();
		_alert(2,"搜索",'请输入关键字',$("#nm"));
		return false;
	}else{
		if(document.frm_role.search_typeall.value.indexOf(id+'-'+v2+'\t')>=0){
			$("#nm").focus();
			_alert(2,'搜索','关键字重复',$("#nm"));
			return false;
		}
		if(type){
			document.frm_role.search_typeall_n.value = "";
			var search_typeall=document.frm_role.search_typeall.value;
			search_typeall=search_typeall+id+'-'+v2+'\t';
			document.frm_role.search_typeall.value = search_typeall;
			$('#filterWW>ul').append('<li><span style = "display:none">'+id+'-'+v2+'</span><span class="ww">'+v1+v2+'</span><i class="del" onclick="_delFilter(this);user_page(0.1);"></i></li>')
			$("#nm").val("");
			$('#nm_check').hide();
		}else{
			if(v2 == ""){
				document.frm_role.search_typeall_n.value = '';
			}else{
				document.frm_role.search_typeall_n.value = id+'-'+v2+'\t';
			}
		}

	}
	$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
	$("#nm").focus();
	selView();
	select_str="";
	user_page(0.1);
	var select_str_s=select_str.split(",");
	check_num=select_str_s.length-1;
	$("#select_total")[0].textContent = check_num;
}
//删除关键字
function _delFilter(obj){
	var id = $(obj).parent().find("span");
	var ids = $(id).eq(0).text();
	var v2_text = $(id).eq(1).text();
	var v2_str = v2_text.split("：");
	var search_typeall = document.frm_role.search_typeall.value;
	v2_str[0] = "";
	var str_v2 = v2_str.join('：');
	var str = ids+'：'+str_v2.substr(1,str_v2.length);
	var search_str = "";
	var search_typeall_str = search_typeall.split("\t");
	var i2 = 0;
	$.each(search_typeall_str,function(i,item){
		if (i2 == 0 && item == ids){
			i2 = 1;
		}else if(item != ""){
			search_str=search_str+item+'\t';
		}
	})
	//console.log(search_str);
	document.frm_role.search_typeall.value = search_str;
	$(obj).parent().remove();
	selView();
	$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
	select_str="";
	user_page(0.1);
	var select_str_s = select_str.split(",");
	check_num = select_str_s.length-1;
	$("#select_total")[0].textContent = check_num;
}
//清空关键字
function _clearFilter(obj,num){
	if(num==1){
	$('#nm').val('');
	$('#nm_check').hide();
	document.frm_role.search_typeall_n.value = "";
	$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
	select_str="";
	user_page(0.1);
	var select_str_s=select_str.split(",");
	check_num=select_str_s.length-1;
	$("#select_total")[0].textContent = check_num;
		return;
	}
	$('#clearFilter').next().children('ul').empty();
	$('#nm').val('');
	$('#nm_check').hide();
	// $('#filter_select').val(0).trigger('change');
	document.frm_role.search_typeall.value = "";
	document.frm_role.search_typeall_n.value = "";
	selView();
	$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
	select_str="";
	user_page(0.1);
	var select_str_s=select_str.split(",");
	check_num=select_str_s.length-1;
	$("#select_total")[0].textContent = check_num;
}
function selView(){
	var $sel = $('#filterWW');
	var len = $('li',$sel).length;

	if(len == 0){
		$sel.hide();
		$('#clearFilter').hide();
	}else if(len == 1){
		$("#filterWW").show();
		$('>span.ww',$sel).show();
		$('#clearFilter').show();
		$sel.addClass('selector-multiple');
	}else{
		$("#filterWW").show();
		$('>span.ww',$sel).show();
		$('#clearFilter').show();
		$sel.addClass('selector-multiple');
	}
}
//每页显示数
function show_page_num(){
	select_save();
	var page_nums = document.getElementById("page_nums");
	var num = page_nums.options[page_nums.selectedIndex].value;
	document.frm_role.page_num.value=num;
	document.frm_role.paging.value=1;
	show_role_list();
}

//以每页显示数显示列表函数
function show_role_list(){
	var paging = document.frm_role.paging.value;
	var page_num = MAX_PAGE;
	var search_typeall=document.frm_role.search_typeall.value + document.frm_role.search_typeall_n.value;
	var userid=document.frm_role.userid.value;
	pRoleSet = parent.user_item.RoleSet;
	var p_role_id = [];
	if(pRoleSet == undefined || pRoleSet.length == 0){
		p_role_id = []
	}else{
		$(pRoleSet).each(function(i,item){
			p_role_id.push(item.RoleId);
		})
	}
	$.ajax({
		url: "/bhost/get_role_list",
		type:"POST",
		async:false,
		data:{a0:sess,a1:page_num,a2:paging,a3:search_typeall,a4:userid,dsc:true},
		success:function(result){
			var user_result = JSON.parse(result);
			if (user_result.Result==true){
				var user_data = user_result.info;
				var total_all = user_data.totalrow;
				if(user_data.data=="" && paging!="1"){
					user_page(-1);
				}else{
					total = 0;
					document.frm_role.total_all.value = total_all;
					if(total_all){
						$("#role_list").empty();
							$.each(user_data.data,function(i,item){
								if (total<page_num){
									total++;
									var str_tmp = "";
								$.each(item.Permission,function(i1,item1){
									SubMenuName  = item1.SubMenuName;
									mode = "";
									if(item1.Mode == 1) mode  ="访问";
									else if(item1.Mode == 2) mode  ="管理";
									if(item1.EnableAuth == 0){}
									else if(item1.EnableAuth == 1) mode += '&nbsp;(授权)';
									str_tmp = str_tmp +SubMenuName +":" +mode +"&nbsp;&nbsp;&nbsp;&nbsp;";
								})
								disabled_1 = false;
								if(p_role_id.indexOf(item.RoleId) >=0){
									disabled_1 = true;
								}
								if(if_disable == '1' || disabled_1 == true || $('#frist').attr('value')=="view"){
									edit_class = 'search_result';
									title_str="查看";
								}else{
									edit_class = 'edit';
									title_str ="编辑";
								}
								
								str_tmp = str_tmp.substr(0,str_tmp.length-1);
								float_str = "<p>权限："+str_tmp+"</p>";
								if($('#frist').attr('value')=="view"){
									$("#role_list").append("<tr>"+
									"<td style = \"display:none\">"+item.RoleId+"</td>"+
									"<td title="+item.RoleName+" "+first_style+"><title=\""+item.RoleName+"\" style=\"width:200px;\">"+item.RoleName+"</div></td>"+
									"<td style = \"display:none\">"+item.RoleId+"</td>"+
									"<td title="+str_tmp+"><title=\""+str_tmp+"\" style=\"width:200px;\">"+str_tmp+"</div></td>"+
									"<td id=\"on\"><div class=\"tab-ctr\" id=\"tab\"><a href=\"javascript:;\" title = \""+title_str+"\" class=\""+edit_class+"\" id=\"edit\" onclick=\"edit_user("+item.RoleId+")\"></a></div></div></td></tr>");
									$('#on_view').attr("style","width:30px;");
									// $("div[class='ctr'] a").slice(0,3).hide();
									$('.s-hide').remove();
								}else{
									if(item.RoleName == "超级管理员"){
										$("#role_list").append("<tr>"+
											"<td class=\"in s-hide\"><input type=\"checkbox\" class=\"input_checkbox\" id=\"role_"+item.RoleId+"\" /></td>"+
											"<td style = \"display:none\">"+item.RoleId+"</td>"+
											"<td title="+item.RoleName+" "+first_style+"><title=\""+item.RoleName+"\" style=\"width:200px;\">"+item.RoleName+"</div></td>"+
											"<td style = \"display:none\">"+item.RoleId+"</td>"+
											"<td title="+str_tmp+"><title=\""+str_tmp+"\" style=\"width:200px;\">"+str_tmp+"</div></td>"+
											"<td id=\"on\"><div class=\"tab-ctr\" id=\"tab\"><a href=\"javascript:;\" title = \""+title_str+"\" class=\"search_result\" id=\"edit\" onclick=\"edit_user("+item.RoleId+")\"></a><a href=\"javascript:;\" title = \"删除\" class=\"del s-hide\" id=\"del\" onclick=\"delete_fun("+item.RoleId+")\"></a></div></div></td></tr>");
									}else{
										$("#role_list").append("<tr>"+
											"<td class=\"in s-hide\"><input type=\"checkbox\" class=\"input_checkbox\" id=\"role_"+item.RoleId+"\" /></td>"+
											"<td style = \"display:none\">"+item.RoleId+"</td>"+
											"<td title="+item.RoleName+" "+first_style+"><title=\""+item.RoleName+"\" style=\"width:200px;\">"+item.RoleName+"</div></td>"+
											"<td style = \"display:none\">"+item.RoleId+"</td>"+
											"<td title="+str_tmp+"><title=\""+str_tmp+"\" style=\"width:200px;\">"+str_tmp+"</div></td>"+
											"<td id=\"on\"><div class=\"tab-ctr\" id=\"tab\"><a href=\"javascript:;\" title = \""+title_str+"\" class=\""+edit_class+"\" id=\"edit\" onclick=\"edit_user("+item.RoleId+")\"></a><a href=\"javascript:;\" title = \"删除\" class=\"del s-hide\" id=\"del\" onclick=\"delete_fun("+item.RoleId+")\"></a></div></div></td></tr>");
									}
								}
							}
						})
						tabArr();	
						if(if_disable == '1'){
							$('.s-hide').remove();
						}
						$(".input_checkbox","#role_list").iCheck({
							checkboxClass: 'icheckbox_minimal-blue',
							radioClass: 'iradio_minimal-blue',
							increaseArea: '0' // optional
						});
						$("#user_total").text(total_all);
						if(total_all % page_num == 0){
							fenye = parseInt(total_all/page_num)
						}else{
							fenye = parseInt(total_all/page_num+1)
						}
						if(paging>=fenye){
							paging=fenye;
						}
						document.frm_role.paging.value=paging;
						document.getElementById("user_page").value=paging;
						$("#totalpage").text(fenye);
						document.frm_role.fenye.value=fenye;
						$('#check_page').iCheck('uncheck');
						$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
						check_show();
						var select_str_s=select_str.split(",");
						check_num=select_str_s.length-1;
						$("#select_total")[0].textContent = check_num;
					}
					else{

						$("table").next("div.tab-i").children("div.il").find("span.select_total").text(0);
						$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
						$("#role_list").empty();
						$("#user_total").text(total_all);
						$("#totalpage").text(1);
						document.getElementById("user_page").value=1;
					}	
				}
			}else{
				_alert(1,"角色信息查询",user_result.ErrMsg);
				$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
				$("table").next("div.tab-i").children("div.il").find("span.select_total").text(0);
				$("#user_total").text(0);
				$("#totalpage").text(1);
				document.getElementById("user_page").value=1;
				return false;
			}
		}
	});
	update_array();
}
//显示列表
$(document).ready(function(){
	$("#page_nums option:eq(10)").prop("selected",true);
	show_role_list();
})
//分页刷新
function user_page(num){
	var paging=parseInt(document.frm_role.paging.value)+num;
	if(paging==0 || paging==document.frm_role.fenye.value+1){
		return false;
	}
	select_save();
	var role_list_s = [];
	if (num == 0.1){
		paging = 1;
	}else if(num == 0.9){
		paging = document.frm_role.fenye.value;
	}
	document.getElementById("user_page").value=paging;
	document.frm_role.paging.value=paging;
	show_role_list();
}
//全选按钮
function select_all(){
	var select_array = select_str.split(',');
	if(select_array[select_array.length-1] == ""){
		select_array.splice(select_array.length-1,1);
	}
	if(select_array.length == role_array.length){
		select_str = '';
	}else{
		$.each(role_array,function(i,item){
			select_str=select_str+item.RoleId+',';
		});
	}
	show_role_list();
}
//刷新
function refresh(){
	user_page(0);
	$("table tbody tr").children("td.in").children("div").children("input").iCheck('uncheck');
	$("#check_page").iCheck('uncheck');
	select_str="";
	check_num=0;
	$("#select_total")[0].textContent = 0;
}
function user_manage(){
	document.frm_role.tasktype.value= 1;
	document.frm_role.action = '/bhost/user_p';
	document.frm_role.submit();
}
//删除函数
function delete_fun(select_str){
	layer.open({
		type:1,
		title: '角色管理',
		content: '<div class="layer-alert"><i class="alert warning"></i>是否删除</div>',
		btn:['确&nbsp;&nbsp;认','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		yes:function(i){
			layer.close(i);
			$.ajax({
				url: '/bhost/del_role',
				type: "POST",
				async:false,
				data: {a0:sess,a1:select_str,a10:"运维管理>角色管理"},
				// data: {a0:sess,a1:select_str,a10:"运维管理>用户管理>角色管理"},
				success: function(result) {
					var result = JSON.parse(result);
					if(result.Result == true){
						refresh();
						_alert(0,"角色管理","删除成功");
					}else{
						_alert(1,"角色管理",result.ErrMsg);	
						return false;
					}	
				}
			})
		}
	}); 
}
//删除按钮
function delete_backup(){
	select_save();
		//console.log(select_str);
		if(select_str == ""){
			_alert(2,"角色管理","请选择要删除的数据");
			return false;
		}
	

	select_str = select_str.substr(0,select_str.length-1);
	delete_fun(select_str); 
	select_str="";
	check_num=0;
	$("#select_total")[0].textContent = 0;
}


function reload(type){
	if(type == 1){
		document.frm_role.tasktype.value = 2;
		document.frm_role.action = '/bhost/user_p';
		document.frm_role.submit();
	}else{
		if(editID == 0){
			create();
		}else{
			edit_user(editID);
		}
	}
}
</script>
{% endblock  %}
			
