{% extends  "index.html" %}
{% block head %}
	<script src="/manage/js/icheck.min.js"></script>
	<script src="/manage/js/select2.full.min.js"></script>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/new-head.css">
{% endblock  %}

{% block main %}
<!---->
	<div class="mainer">
		<div class="container">
			<div class="c-top">
				<div class="c-title">
					<!--<h3 class="tit" onclick="back()"><span>系统角色</span><i class="icon-host"></i></h3>-->
					<div class="manual-head" style="float:left;width:100px">
						<div class="manual-title" >
							 <span id="sysrole" onclick='reload()' style="cursor: pointer;">系统角色</span>
							 <i class="sysrole_icon"></i>
						</div>
					</div>
					<!--
					<div class="ctr">
						<a href="javascript:;" class="ret" onclick="_closePage(this)"><i></i></a>
					</div>-->
				</div>
			</div>

			<div class="c-cont" >
				<div class="c-wrap" style=" min-width: 1156px;">
					<div class="form-item form-nm" style = "margin-left: 8px; ">
						<div class="form-tag"><em class="imp">*</em>名&nbsp;&nbsp;称：</div>
						<div class="form-c">
							<input type="text" class="form-text" id = "r_n" maxlength="127" onblur="regCheck(this,/^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/)"><i class="v-check"></i>
							<span style="font-size: 12px;">&nbsp;&nbsp;特殊字符仅支持下划线、横杠、小数点</span>
						</div>
					</div>

					<div class="c-box">
						<div class="cb-title">
							<em class="imp"style="color: #F00;font-style: normal;float: left;margin-left: -6px;">*</em>
							<h3>角&nbsp;&nbsp;色</h3>
						</div>

						<div class="cb-cont">
							<table cellpadding="0" cellspacing="0" class="cbtab">
								<tbody>
									<!-- <tr>
										<td><div class="cb-item">
												<div class="cbi-t">
													<label><input class="form-checkbox" type="checkbox" name="" id="sys_id5" />集群管理</label>
													<label style="float: right;font-size: 14px;color: #999;margin-left: 31px;margin-right: 29px;display: none;"><input class="form-radio" type="radio" name="s_all_5" value="1" /></label>
													<label style="float: right;font-size: 14px;color: #999;display: none;"><input class="form-radio" type="radio" name="s_all_5" value="2" /></label>																
												</div>
												<div class="cbi-cont" id="S_5">
													<div class="cbi-s">
												        <div class="cbi-tag">
															<label><input class="form-checkbox" type="checkbox" name="" id="23" />集群管理</label>
														</div>

														<div class="cbi-sel">
															<label><input class="form-radio" type="radio" checked="checked" name="f1" value="2" />管理</label>
															<label><input class="form-radio" type="radio" name="f1" value="1" />访问</label>
														</div>
													</div>
													
												</div>
										</td></div>
										<td><div class="cb-item">
												<div class="cbi-t">
													<label><input class="form-checkbox" type="checkbox" name="" id="sys_id6" />系统管理</label>
													<label style="float: right;font-size: 14px;color: #999;margin-left: 31px;margin-right: 29px;display: none;"><input class="form-radio" type="radio" name="s_all_6" value="1" /></label>
													<label style="float: right;font-size: 14px;color: #999;display: none;"><input class="form-radio" type="radio" name="s_all_6" value="2" /></label>																
												</div>
												<div class="cbi-cont" id="S_6">
													<div class="cbi-s">
														<div class="cbi-tag">
															<label><input class="form-checkbox" type="checkbox" name="" id="24" />系统管理</label>
														</div>

														<div class="cbi-sel">
															<label><input class="form-radio" type="radio" checked="checked" name="g1" value="2" />管理</label>
															<label><input class="form-radio" type="radio" name="g1" value="1" />访问</label>
														</div>
													</div>
												</div>
										</td></div>
										<td><div class="cb-item">
												<div class="cbi-t">
													<label><input class="form-checkbox" type="checkbox" name="" id="sys_id7" />运维访问</label>
													<label style="float: right;font-size: 14px;color: #999;margin-left: 31px;margin-right: 29px;display: none;"><input class="form-radio" type="radio" name="s_all_7" value="1" /></label>
													<label style="float: right;font-size: 14px;color: #999;display: none;"><input class="form-radio" type="radio" name="s_all_7" value="2" /></label>																
												</div>
												<div class="cbi-cont" id="S_7">
													<div class="cbi-s">
														<div class="cbi-tag">
															<label><input class="form-checkbox" type="checkbox" name="" id="25" />设备访问</label>
														</div>

														<div class="cbi-sel">
															<label><input class="form-radio" type="radio" checked="checked" name="h1" value="2" />管理</label>
															<label><input class="form-radio" type="radio" name="h1" value="1" />访问</label>
														</div>
													</div>
												</div>
										</td></div>
									</tr> -->
								</tbody>
							</table>
						</div>
					</div>

					<div class="btns">
						<a href="javascript:;" class="btn btn-submit btn-normal">保&nbsp;&nbsp;存</a>
						<!--
						<a href="javascript:;" class="btn btn-cancle btn-normal">取&nbsp;&nbsp;消</a>
						-->
					</div>
					<div id="bBtn" style="position: fixed;z-index:5;">
						<a href="javascript:;" class="btn btn-cancle" style="float: right;"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock  %}	


{% block script %}

<!---->

<script>
var r_p = {
	"RoleId": 0,
	"RoleName": "",
	"Permission": [
	]
}
var sess = window.parent.document.frm.se.value;
$(function(){
	initMenu();
	$('.form-checkbox,.form-radio').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
		radioClass: 'iradio_minimal-blue',
		increaseArea: '0' // optional
	});
	$('.form-select').select2();

	$("a.btn-submit").unbind().bind("click",function(){
		savedata();
	});

	$("a.btn-cancle").unbind().bind("click",function(){
		document.frm.tasktype.value = 3;
		document.frm.se.value = sess;
		document.frm.action = '/bhost/index';
		document.frm.i10.value = 1;
		document.frm.submit();
	});

	//运维概要 系统概要 checkbox 事件绑定
	$('div.cbi-tag input[type=checkbox]').on('ifChecked',function(){
		var $s = $(this).parents('div.cbi-tag').next().next('div.cbi-sel.radio');
		var $i = $(this).parents('div.cbi-cont').prev('div.cbi-t');
		$s.show();
		$i.children().eq(2).show();
		$i.children().eq(3).show();
		_checkAllStatus(this);
	}).on('ifUnchecked',function(){
		var $s = $(this).parents('div.cbi-tag').next().next('div.cbi-sel.radio');
		var $i = $(this).parents('div.cbi-cont').prev('div.cbi-t');
		var j = 1;
		$s.hide();
		$.each($(this).parents('div.cbi-cont').find('.cbi-tag').find('input[type=checkbox]'),function(i,item){
			if($(item).prop('checked') == true){
				j = 0;
				return false;
			}
		})
		if(j == 1){
			$i.children().eq(2).hide();
			$i.children().eq(3).hide();
		}
		var $c = $(this).parents('div.cbi-cont');
		var $s = $c.prev('div.cbi-t').find('input[type=checkbox]:first');
		var len = $('div.cbi-s',$c).length, clen = $('input[type=checkbox]:checked',$c.children().children('.cbi-tag')).length;
		if(len != clen){
			$s.prop('checked',false);
			$s.parent().removeClass('checked');
		}else{
			$s.prop('checked',true);
			$s.parent().addClass('checked');
		}
		//_checkAllStatus(this);	
	});

	//授权
	$('div.cbi-sel.auth input[type=checkbox]').on('ifChecked',function(){
		var $c = $(this).parents('div.cbi-cont');
		var $i_a = $c.prev('div.cbi-t').find('input[type=checkbox]:last');
		var $s = $c.prev('div.cbi-t').find('input[type=checkbox]:first');
		var len = $('div.cbi-s',$c).length, clen = $('input[type=checkbox]:checked',$c.children().children('.cbi-tag')).length;
		var len_a = $('input[type=checkbox]:checked',$c.children().children('.cbi-sel.auth')).length;
		//console.log("len："+len);
		//console.log("len_a:"+len_a);
		if(len != len_a){
			$i_a.prop('checked',false);
			$i_a.parent().removeClass('checked');
		}else{
			$i_a.prop('checked',true);
			$i_a.parent().addClass('checked');
		}
		if($('div.cbi-sel.auth input[type=checkbox]:checked').length==1){
			$('.cbi-s[value=role_] input[type=checkbox]').eq(0).iCheck('check');
			$('input[name=S_30][value=2]').iCheck('check');
		}
	}).on('ifUnchecked',function(){
		var $c = $(this).parents('div.cbi-cont');
		var $i_a = $c.prev('div.cbi-t').find('input[type=checkbox]:last');
		var $s = $c.prev('div.cbi-t').find('input[type=checkbox]:first');
		var len = $('div.cbi-s',$c).length, clen = $('input[type=checkbox]:checked',$c.children().children('.cbi-tag')).length;
		var len_a = $('input[type=checkbox]:checked',$c.children().children('.cbi-sel.auth')).length;
		if(len != len_a){
			$i_a.prop('checked',false);
			$i_a.parent().removeClass('checked');
		}else{
			$i_a.prop('checked',true);
			$i_a.parent().addClass('checked');
		}
		//_checkAllStatus(this);	
	});

	//访问 管理 radio 事件绑定
	$('div.cb-item input[type=radio]').on('ifChecked',function(){
		_checkAllStatus(this);
	}).on('ifUnchecked',function(){
		_checkAllStatus(this);
	});
	//实时监控 标题 事件绑定
	$('div.cbi-t .all input[type=checkbox]').on('ifChecked',function(){
		var $d = $(this).parents('div.cbi-t').next('div.cbi-cont').find('.cbi-tag');
		$('input[type=checkbox]',$d).iCheck('check');
	}).on('ifUnchecked',function(){
		var $d = $(this).parents('div.cbi-t').next('div.cbi-cont').find('.cbi-tag');
		$('input[type=checkbox]',$d).iCheck('uncheck');
	});
	//radio全选 事件绑定
	$('div.cbi-t input[value=1]').on('ifChecked',function(){
		$(this).parents('div.cbi-t').next().children().find('input[value=1]').iCheck('check');
	});
	$('div.cbi-t input[value=2]').on('ifChecked',function(){
		$(this).parents('div.cbi-t').next().children().find('input[value=2]').iCheck('check');
	});

	//用户管理 事件绑定 --> 授权
	$('div.cbi-tag input[type=checkbox]',$('.cbi-cont').children('.cbi-s')).on('ifChecked',function(){
		$obj1 = $(this);
		if($obj1.parents('label').text() == '用户管理'){
			if($('input[value=2]',$obj1.parents('.cbi-tag').siblings('.cbi-sel.radio')).prop('checked') == true){
				$('.cb-item .cbi-sel.auth').show();
				$('label.auth').show();
				$('.cbi-s[value=role_]').show();//显示 角色管理
				if($('div.cbi-s[value=user_] .cbi-sel.auth input[type=checkbox]').prop('checked') == false || $('.cbi-s[value=role_] input[type=checkbox]').prop('checked') == false)
				$('.cbi-s[value=role_] .cbi-sel.auth input[type=checkbox]').attr("disabled",true);
				// 角色授权 不可编辑
			}
		}
	}).on('ifUnchecked',function(){
		$obj1 = $(this);
		if($obj1.parents('label').text() == '用户管理'){
			$('.cb-item .cbi-sel.auth').hide();
			$('label.auth').hide();
			$('.cbi-s[value=role_]').hide();//隐藏 角色管理
			var $d = $('div.cbi-s[value=role_]').find('.cbi-tag');
			$('input[type=checkbox]',$d).iCheck('uncheck');
		}
	});

	//用户管理radio 事件绑定 --> 授权
	$('input[value=2]',$('.cbi-cont').children('.cbi-s')).on('ifChecked',function(){
		$obj1 = $(this);
		//console.log($obj1.parents('.cbi-sel.radio').siblings('.cbi-tag').find('label').text())
		if($obj1.parents('.cbi-sel.radio').siblings('.cbi-tag').find('label').text() == '用户管理'){
			//console.log($('input[type=checkbox]',$obj1.parents('.cbi-sel.radio').siblings('.cbi-tag')));
			//console.log($('input[type=checkbox]',$obj1.parents('.cbi-sel.radio').siblings('.cbi-tag')).prop('checked'));
			if($('input[type=checkbox]',$obj1.parents('.cbi-sel.radio').siblings('.cbi-tag')).prop('checked') == true){
				$('.cb-item .cbi-sel.auth').show();
				$('label.auth').show();
			}
		}
	})
	$('input[value=1]',$('.cbi-cont').children('.cbi-s')).on('ifChecked',function(){
		$obj1 = $(this);
		if($obj1.parents('.cbi-sel.radio').siblings('.cbi-tag').find('label').text() == '用户管理'){
			if($('input[type=checkbox]',$obj1.parents('.cbi-sel.radio').siblings('.cbi-tag')).prop('checked') == true){
				$('.cb-item .cbi-sel.auth').hide();
				$('label.auth').hide();
			}
		}
	});


	//授权 全选 事件绑定
	$('div.cbi-t .auth input[type=checkbox]').on('ifChecked',function(){
		if($('div.cbi-sel.auth input[type=checkbox]:checked').length==1){
			$('.cbi-s[value=role_] input[type=checkbox]').eq(0).iCheck('check');
			$('input[name=S_30][value=2]').iCheck('check');
		}
		var $d = $(this).parents('div.cbi-t').next().children().find('.cbi-sel.auth');
		$('input[type=checkbox]',$d).iCheck('check');
	}).on('ifUnchecked',function(){
		var $d = $(this).parents('div.cbi-t').next().children().find('.cbi-sel.auth');
		$('input[type=checkbox]',$d).iCheck('uncheck');
	});
	//用户授权 绑定 角色授权
	$('div.cbi-s[value=user_] .cbi-sel.auth input[type=checkbox]').on('ifChecked',function(){
		if($('.cbi-s[value=role_] input[type=checkbox]').prop('checked') == true){
			$('.cbi-s[value=role_] .cbi-sel.auth input[type=checkbox]').attr("disabled",false).iCheck('enable');;;//角色授权可编辑
		}
	}).on('ifUnchecked',function(){
		$('.cbi-s[value=role_] .cbi-sel.auth input[type=checkbox]').iCheck('uncheck');//取消选中角色授权
		$('.cbi-s[value=role_] .cbi-sel.auth input[type=checkbox]').attr("disabled",true).iCheck('disable');;;//角色授权不可编辑
	});
	//角色管理 绑定 角色授权
	$('.cbi-s[value=role_] input[type=checkbox]').on('ifChecked',function(){
		if($('div.cbi-s[value=user_] .cbi-sel.auth input[type=checkbox]').prop('checked') == true){
			$('.cbi-s[value=role_] .cbi-sel.auth input[type=checkbox]').attr("disabled",false).iCheck('enable');;;//角色授权可编辑
		}
	}).on('ifUnchecked',function(){
		$('.cbi-s[value=role_] .cbi-sel.auth input[type=checkbox]').iCheck('uncheck');
		if($('.cbi-s[value=role_] input[type=checkbox]').prop('checked') == false){
			$('.cbi-s[value=role_] .cbi-sel.auth input[type=checkbox]').attr("disabled",true).iCheck('disable');;;//角色授权不可编辑
		}
	});

	_checkStatus();
})

function initMenu(){
	$.ajax({
		url:'/bhost/get_role_menu',
		type:"POST",
		async:false,
		data:{a0:sess},
		success: function(Result){
			var data = JSON.parse(Result);
			if (data.Result){
				var menuInfo = data.info;
				var index = 0;
				var html_str = "<tr>";
				var flag2 = false;
				$.each(menuInfo,function(i,item){
					var flag1 = false;
					// $.each(item.SubMenu,function(i1,item1){
					// 	if(item1.PermissionFlag == true){
					// 		flag1 = true;
					// 		return false;
					// 	}
					// })
					// if(flag1 == true){
						if(index < 4){
							if(item.SystemMenuName != '运维访问'){
								html_str += ('<td style="white-space: normal;"><div class="cb-item">'+
												'<div class="cbi-t">'+
													'<label class="all"><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'" />'+item.SystemMenuName+'</label>'+
													'<label class="auth" style="float: right;display: none;margin-right: 28px;"><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'" /></label>'+
													'<label style="font-size: 14px;color: #999;float:right;margin-left: 35px;margin-right: 28px;display: none;"><input class="form-radio" type="radio" name="s_all_'+item.SystemMenuId+'" value="1" /></label>'+
													'<label style="font-size: 14px;color: #999;display: none;float:right;"><input class="form-radio" type="radio" name="s_all_'+item.SystemMenuId+'" value="2" /></label>'+
												'</div>');
							}else{
								html_str += ('<td style="white-space: normal;"><div class="cb-item">'+
												'<div class="cbi-t">'+
													'<label class="all"><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'" />'+item.SystemMenuName+'</label>'+
													'<label class="auth" style="float: right;display: none;margin-right: 28px;"><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'" /></label>'+
												'</div>');
							}

							var html_str_content = ('<div class="cbi-cont" id="S_'+item.SystemMenuId+'">');
							var html_str_content_user = ('');
							var html_str_content_role = ('');
							var html_str_content_ur = ('');
							var html_str_content_o = ('');
							$.each(item.SubMenu,function(i1,item1){
								if(item1.PermissionFlag == true){
									// if(item1.SubMenuName == '角色管理'){
									// 	//console.log("rrrrrrrrrrrrrrrrrrr");
									// 	//console.log(item1.SubMenuName);
									// }
									if(item1.SubMenuName == '角色管理'){
										html_str_content_role = ('<div class="cbi-s" style="display:none;" value="role_">'+
																'<div class="cbi-tag">'+
																	'<label><input class="form-checkbox" type="checkbox" id="'+item1.SubMenuId+'" />'+item1.SubMenuName+'</label>'+
																'</div>'+
																'<div class="cbi-sel auth">'+
																	'<label><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'"/>授权</label>'+
																'</div>'+
																'<div class="cbi-sel radio">'+
																	'<label style="margin-right: 7px;"><input class="form-radio" type="radio" checked="checked" name="S_'+item.SystemMenuId+i1+'" value="2">管理</label>'+
																	'<label><input class="form-radio" type="radio" name="S_'+item.SystemMenuId+i1+'" value="1" />访问</label>'+
																'</div>'+
															'</div>'); 

									}else if(item1.SubMenuName == '用户管理'){
										html_str_content_user = ('<div class="cbi-s" value="user_">'+
																'<div class="cbi-tag">'+
																	'<label><input class="form-checkbox" type="checkbox" id="'+item1.SubMenuId+'" />'+item1.SubMenuName+'</label>'+
																'</div>'+
																'<div class="cbi-sel auth">'+
																	'<label><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'"/>授权</label>'+
																'</div>'+
																'<div class="cbi-sel radio">'+
																	'<label style="margin-right: 7px;"><input class="form-radio" type="radio" checked="checked" name="S_'+item.SystemMenuId+i1+'" value="2">管理</label>'+
																	'<label><input class="form-radio" type="radio" name="S_'+item.SystemMenuId+i1+'" value="1" />访问</label>'+
																'</div>'+
															'</div>'); 
										
									}else{
										if(item1.SubMenuName != '设备访问'){
											html_str_content_o += ('<div class="cbi-s">'+
																	'<div class="cbi-tag">'+
																		'<label><input class="form-checkbox" type="checkbox" id="'+item1.SubMenuId+'" />'+item1.SubMenuName+'</label>'+
																	'</div>'+
																	'<div class="cbi-sel auth">'+
																		'<label><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'"/>授权</label>'+
																	'</div>'+
																	'<div class="cbi-sel radio">'+
																		'<label style="margin-right: 7px;"><input class="form-radio" type="radio" checked="checked" name="S_'+item.SystemMenuId+i1+'" value="2">管理</label>'+
																		'<label><input class="form-radio" type="radio" name="S_'+item.SystemMenuId+i1+'" value="1" />访问</label>'+
																	'</div>'+
																'</div>');
										}else{
											html_str_content_o += ('<div class="cbi-s">'+
																	'<div class="cbi-tag">'+
																		'<label><input class="form-checkbox" type="checkbox" id="'+item1.SubMenuId+'" />'+item1.SubMenuName+'</label>'+
																	'</div>'+
																	'<div class="cbi-sel auth">'+
																		'<label><input class="form-checkbox" type="checkbox" id="sys_id'+item.SystemMenuId+'"/>授权</label>'+
																	'</div>'+
																'</div>');
										}
									}
				
								}
							})
							html_str_content_ur += html_str_content_user.concat(html_str_content_role);
							html_str_content += html_str_content_ur.concat(html_str_content_o);
							html_str_content += ("</div></td>");
							html_str += html_str_content;
							if(index == 3 || index == menuInfo.length){
								//console.log(index+"++"+i);
								html_str += ('<tr>');
								$('.cbtab').children('tbody').append(html_str);
								flag2 = true;
								index = 0;
								html_str = "<tr>";
							}
							index++;
						}
					//}
				})
				// if(flag2 == false){
				// 	$('.cbtab').children('tbody').append(html_str);
				// }
			}
			else{
				_alert(1,"系统角色", "获取角色菜单信息失败");
			}
		}
	})
}

function back(){
		document.frm.tasktype.value = 3;
		document.frm.se.value = sess;
		document.frm.action = '/bhost/index';
		document.frm.i10.value = 1;
		document.frm.submit();
}
function _checkStatus(){
	$('div.cbi-tag input[type=checkbox]').each(function(){
		var c = $(this).prop('checked');
		var $s = $(this).parents('div.cbi-tag').next().next('div.cbi-sel.radio');
		if(c){
			$s.show();
		}else{
			$s.hide();
		}
	});
}
//全选
function _checkAllStatus(obj){
	var $c = $(obj).parents('div.cbi-cont');
	var len = $('div.cbi-s',$c).length, clen = $('input[type=checkbox]:checked',$c.children().children('.cbi-tag')).length;
	var len_v = $('input[type=checkbox]:checked',$c.children().children('.cbi-tag')).length;
	var len_1 = $('input[value=1]:checked:visible',$c).length;
	var len_2 = $('input[value=2]:checked:visible',$c).length;
	//console.log("len_2:"+len_2);
	var $i = $c.prev('div.cbi-t').find('input[type=checkbox]:first');
	var $i_1 = $c.prev('div.cbi-t').find('input[value=1]');
	var $i_2 = $c.prev('div.cbi-t').find('input[value=2]');	
	if(len != clen){
		$i.prop('checked',false);
		$i.parent().removeClass('checked');
	}else{
		$i.prop('checked',true);
		$i.parent().addClass('checked');
	}
	if(len_v != len_1 && len_v != 0){
		$i_1.iCheck('uncheck');
	}else{
		$i_1.iCheck('check');
	}
	if(len_v != len_2 && len_v != 0){
		$i_2.iCheck('uncheck');
	}else{
		$i_2.iCheck('check');
	}
}
//提交数据
function savedata(){
	var nameReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
	var r_n = $("#r_n").val();


	if(r_n == ""){
		_alert(2,"系统角色","请输入名称",$('#r_n'));
		return false;
	}
	if(!nameReg.test(r_n)){
		_alert(1,"系统角色","名称格式不正确",$('#r_n'));
		return false;
	}
	//var $u = $("#S_3").find(".cbi-s").eq(1).find('.cbi-sel.radio');
	var $u = $("#S_3 .cbi-s[value=role_]").find('.cbi-sel.radio');
	if($u.find('input[value=2]').prop('checked') == true && $u.find('input[value=2]').is(":visible") == true){
		if($('.cbtab').find('.cbi-sel.auth').find('input[type=checkbox]:checked').length == 0){
			_alert(1,"系统角色","至少要选择一种授权");
			return false;
		}
	}
	if($('.cbtab').find('.cbi-sel.auth').find('input[type=checkbox]:checked').length > 0){
		if($u.find('input[value=2]').prop('checked') != true || $u.find('input[value=2]').is(":visible") != true){
			//_alert(1,"系统角色","请选中角色管理管理权限");
			//return false;
		}
	}
	//得到选中的数据
	var Permission = [];

	$(">div","#S_1").each(function(){
		var tmp = {};
		var f1=$(this).find("div[class='cbi-tag']").children("label").children("div").find("input[class='form-checkbox']");
		var f3 = $(this).find("div[class='cbi-sel auth']").children("label").children("div").find("input[class='form-checkbox']");
		if($(f1).is(":checked")){
			var f2 = $(this).find("div[class='cbi-sel radio']").children("label").find("div[class = 'iradio_minimal-blue checked']");
			f2 = f2.find("input[class='form-radio']");
			if($(f2).is(":checked")){
				tmp.SubMenuId = f1[0].id;
				tmp.Mode = f2[0].value;
			}
		}
		if($(f3).is(':visible') && $(f3).is(":checked")){
			tmp.SubMenuId = f1[0].id;
			if('Mode' in tmp){

			}else{
				tmp.Mode = 0;
			}
			tmp.EnableAuth = 1;
		}
		if(JSON.stringify(tmp) != "{}"){
			if('EnableAuth' in tmp){

			}else{
				tmp.EnableAuth = 0;
			}			
			Permission.push(tmp);
		}
	})
	$(">div","#S_2").each(function(){
		var tmp = {};
		var f1=$(this).find("div[class='cbi-tag']").children("label").children("div").find("input[class='form-checkbox']");
		var f3 = $(this).find("div[class='cbi-sel auth']").children("label").children("div").find("input[class='form-checkbox']");
		if($(f1).is(":checked")){
			var f2 = $(this).find("div[class='cbi-sel radio']").children("label").find("div[class = 'iradio_minimal-blue checked']");
			f2 = f2.find("input[class='form-radio']");
			if($(f2).is(":checked")){
				tmp.SubMenuId = f1[0].id;
				tmp.Mode = f2[0].value;
			}
		}
		if($(f3).is(':visible') && $(f3).is(":checked")){
			tmp.SubMenuId = f1[0].id;
			if('Mode' in tmp){

			}else{
				tmp.Mode = 0;
			}
			tmp.EnableAuth = 1;
		}
		if(JSON.stringify(tmp) != "{}"){
			if('EnableAuth' in tmp){

			}else{
				tmp.EnableAuth = 0;
			}			
			Permission.push(tmp);
		}
	})
	$(">div","#S_3").each(function(){
		var tmp = {};
		var f1=$(this).find("div[class='cbi-tag']").children("label").children("div").find("input[class='form-checkbox']");
		var f3 = $(this).find("div[class='cbi-sel auth']").children("label").children("div").find("input[class='form-checkbox']");
		if($(f1).is(":checked")){
			var f2 = $(this).find("div[class='cbi-sel radio']").children("label").find("div[class = 'iradio_minimal-blue checked']");
			f2 = f2.find("input[class='form-radio']");
			if($(f2).is(":checked")){
				tmp.SubMenuId = f1[0].id;
				tmp.Mode = f2[0].value;
			}
		}
		if($(f3).is(':visible') && $(f3).is(":checked")){
			tmp.SubMenuId = f1[0].id;
			if('Mode' in tmp){

			}else{
				tmp.Mode = 0;
			}
			tmp.EnableAuth = 1;
		}
		if(JSON.stringify(tmp) != "{}"){
			if('EnableAuth' in tmp){

			}else{
				tmp.EnableAuth = 0;
			}			
			Permission.push(tmp);
		}
	})
	$(">div","#S_4").each(function(){
		var tmp = {};
		var f1=$(this).find("div[class='cbi-tag']").children("label").children("div").find("input[class='form-checkbox']");
		var f3 = $(this).find("div[class='cbi-sel auth']").children("label").children("div").find("input[class='form-checkbox']");
		if($(f1).is(":checked")){
			var f2 = $(this).find("div[class='cbi-sel radio']").children("label").find("div[class = 'iradio_minimal-blue checked']");
			f2 = f2.find("input[class='form-radio']");
			if($(f2).is(":checked")){
				tmp.SubMenuId = f1[0].id;
				tmp.Mode = f2[0].value;
			}
		}
		if($(f3).is(':visible') && $(f3).is(":checked")){
			tmp.SubMenuId = f1[0].id;
			if('Mode' in tmp){

			}else{
				tmp.Mode = 0;
			}
			tmp.EnableAuth = 1;
		}
		if(JSON.stringify(tmp) != "{}"){
			if('EnableAuth' in tmp){

			}else{
				tmp.EnableAuth = 0;
			}			
			Permission.push(tmp);
		}
	})
	$(">div","#S_5").each(function(){
		var tmp = {};
		var f1=$(this).find("div[class='cbi-tag']").children("label").children("div").find("input[class='form-checkbox']");
		var f3 = $(this).find("div[class='cbi-sel auth']").children("label").children("div").find("input[class='form-checkbox']");
		if($(f1).is(":checked")){
			var f2 = $(this).find("div[class='cbi-sel radio']").children("label").find("div[class = 'iradio_minimal-blue checked']");
			f2 = f2.find("input[class='form-radio']");
			if($(f2).is(":checked")){
				tmp.SubMenuId = f1[0].id;
				tmp.Mode = f2[0].value;
			}
		}
		if($(f3).is(':visible') && $(f3).is(":checked")){
			tmp.SubMenuId = f1[0].id;
			if('Mode' in tmp){

			}else{
				tmp.Mode = 0;
			}
			tmp.EnableAuth = 1;
		}
		if(JSON.stringify(tmp) != "{}"){
			if('EnableAuth' in tmp){

			}else{
				tmp.EnableAuth = 0;
			}			
			Permission.push(tmp);
		}
	})	
	$(">div","#S_6").each(function(){
		var tmp = {};
		var f1=$(this).find("div[class='cbi-tag']").children("label").children("div").find("input[class='form-checkbox']");
		var f3 = $(this).find("div[class='cbi-sel auth']").children("label").children("div").find("input[class='form-checkbox']");
		if($(f1).is(":checked")){
			var f2 = $(this).find("div[class='cbi-sel radio']").children("label").find("div[class = 'iradio_minimal-blue checked']");
			f2 = f2.find("input[class='form-radio']");
			if($(f2).is(":checked")){
				tmp.SubMenuId = f1[0].id;
				tmp.Mode = f2[0].value;
			}
		}
		if($(f3).is(':visible') && $(f3).is(":checked")){
			tmp.SubMenuId = f1[0].id;
			if('Mode' in tmp){

			}else{
				tmp.Mode = 0;
			}
			tmp.EnableAuth = 1;
		}
		if(JSON.stringify(tmp) != "{}"){
			if('EnableAuth' in tmp){

			}else{
				tmp.EnableAuth = 0;
			}			
			Permission.push(tmp);
		}
	})
	$(">div","#S_7").each(function(){
		var tmp = {};
		var f1=$(this).find("div[class='cbi-tag']").children("label").children("div").find("input[class='form-checkbox']");
		var f3 = $(this).find("div[class='cbi-sel auth']").children("label").children("div").find("input[class='form-checkbox']");
		if($(f1).is(":checked")){
			tmp.SubMenuId = f1[0].id;
			tmp.Mode = 2;
		}
		if($(f3).is(':visible') && $(f3).is(":checked")){
			tmp.SubMenuId = f1[0].id;
			if('Mode' in tmp){

			}else{
				tmp.Mode = 0;
			}
			tmp.EnableAuth = 1;
		}
		if(JSON.stringify(tmp) != "{}"){
			if('EnableAuth' in tmp){

			}else{
				tmp.EnableAuth = 0;
			}			
			Permission.push(tmp);
		}
	})
	if(Permission.length == 0){
		_alert(2,"系统角色","请选择权限");
		return false;
	}
	r_p.RoleName = r_n;
	r_p.Permission = Permission;
	msstr = aceg(JSON.stringify(r_p),sess);
	$.ajax({
		url:'/bhost/add_sys_role',
		type:"POST",
		async:false,
		data:{a0:sess,a1:JSON.stringify(r_p),a10:"运维管理>系统角色",m1:msstr},
		success: function(Result){
			data = JSON.parse(Result);
			if (data.Result){
				layer.open({
					type:1,
					title:"系统角色",
					content:'<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
					btn:'确定',
					btnAlign:'c',
					closeBtn: false,
					skin:'layer-custom',
					area:['380px','310px'],
					move: false,
					resize: false,
					btn1:function(i){
						layer.close(i);
						document.frm.tasktype.value = 3;
						document.frm.se.value = sess;
						document.frm.action = '/bhost/index';
						document.frm.i10.value = 1;
						document.frm.submit();
					}
				});
				return false;
			}
			else{
				_alert(1,"系统角色", data.ErrMsg);
			}
		}
	})
}

function reload(){
	document.frm.tasktype.value=7;
	document.frm.action = '/bhost/access_user_index';
	document.frm.submit();
}
</script>
{% endblock  %}	
