{% extends  "index.html" %}
<!-- 继承 html-->
{% block main %}
	<div class="page-wrap">
        <div class="page-cont">
             <iframe src="/bhost/search_frame?a0={{se}}" id="sFrame" name="sFrame" frameborder="0" width="100%" height="100%"></iframe>
        </div>
        <!---->
        <div class="page-cont" id="newCont_task">
            <iframe src="/bhost/history_task_index?a0={{se}}" id="iframe_task"  name="iframe_task"  frameborder="0" width="100%" height="100%"></iframe>
        </div>

        <!---->
		<div id="bBtn" style="z-index: 999">
			<a href="javascript:;" class="btn" onclick="_scrpage(0,this)"><i class="icon3"></i>历史任务</a>
			<a href="javascript:;" class="btn" style="display: none;" onclick="_scrpage(1,this,0)"><i class="icon4"></i>数据检索</a>
		</div>
    </div>
{% endblock  %}

<!-- 继承 js-->
{% block script %}
<style>
.layui-layer-setwin .layui-layer-close1{
		background-position:0;
	}
.layui-layer-ico{
		background: url(/manage/images/icon_close.png) no-repeat 0 0;
	}
</style>
<script>
var flag_from_index = '{{flag_from_index}}';
	$(function() {
        _flowLoad();
		if(flag_from_index!=""){
			var w = $(window).width();
			$('#bBtn a').eq(0).hide()
			$('#bBtn a').eq(1).show();
            $('div.page-cont').eq(0).css({ 'margin-left': -w });
		}
    })
    $(window).resize(function() {
        _flowLoad();
    });

    function _flowLoad() {
        var w = $(window).width();
        $('.page-wrap').width(2 * w);

        $('.page-cont').width(w).show();
        var pageml = parseInt($('div.page-cont').css('margin-left'));

        if (pageml < 0) {
            $('div.page-cont').eq(0).css('margin-left', -w);
        }
    }

    function _scrpage(i, obj,taskid) {
		var $_ifr = $('#iframe_task')[0];
		var $_sFrame = $('#sFrame')[0];
        var w = $(window).width();
        if (i == 0) {
            //console.log(parseInt($('div.page-cont').eq(0).css('margin-left')))
			if(parseInt($('div.page-cont').eq(0).css('margin-left')) !=0){
				return false;
			}
			$(obj).hide().next('a').show();
            $('div.page-cont').eq(0).animate({ 'margin-left': -w },500,function(){
				$_sFrame.contentWindow._stop();
				$('#iframe_task').contents().find("#search_task_list tbody").empty()
				$('#iframe_task').attr('src','/bhost/history_task_index?a0={{se}}');
			});
        } else if (i == 1) {
			 //console.log(parseInt($('div.page-cont').eq(0).css('margin-left')))
            //reload
			////console.log(document.iframe_task.history_setInterval);
			//clearInterval(document.iframe_task.history_setInterval)
			if(parseInt($('div.page-cont').eq(0).css('margin-left')) != -w ){
				return false;
			}
			$(obj).hide().prev('a').show();
            $('div.page-cont').eq(0).animate({ 'margin-left': 0 },500,function(){
				$_ifr.contentWindow._stop();
				$('#sFrame').attr('src','/bhost/search_frame?a0={{se}}&t1=' +taskid);
				//clearInterval(document.iframe_task.history_setInterval)
			});
            
        }
    }
	
	
	function __getHostGroup(obj){
		//console.log($(obj).attr('path'));
        hglayer = layer.open({
            type:2,
            title:'选择主机组',
            content:'/bhost/search_hostgroup?a0={{se}}&p1='+$(obj).attr('path'),
            area:['640px','480px'],
            btn:false,
            shade:0.7
        });

        $_hostGroupObj = $(obj);
    }

    function _closeHgLayer(){
        layer.close(hglayer);
    }

    function __setHostGroup(data){
        var vf = $('#newCont_task').children('iframe:visible')[0].contentWindow;
        vf._setHostGroup(data,$_hostGroupObj);
    }
</script>

{% endblock  %}
