{% extends  "index.html" %}
<!-- 继承 html-->
{% block main %}
	<!---->
    <div class="rwrap">
        <!---->
        <div class="mainer">
            <div class="container">
                <div class="c-top">
                    <div class="c-title2">
                        <div class="tnav">
                            <ul id="tNav" style="overflow: hidden;">
                                <li class="active" data-id="frame1"><span>检索页1</span><i class="close">×</i></li>
                            </ul>
                        </div>
                        <a class="tnadd" href="javascript:;" onclick="_addFrame(this)"></a>
                        <div class="rctl">
                            <span class="arr" onclick="_getFList(this)"><i></i></span>
                            <ul id="moreFc">
                                <li class="active" data-id="frame1"><span>检索页1</span></li>
                            </ul>
                        </div>
                        <div class="js-rbtn" id="jssBtn">
                            <span class="prev disable"><i></i></span>
                            <span class="next disable"><i></i></span>
                        </div>
                    </div>
                </div>
                <div id="newCont">
                    <iframe src="/bhost/search_index?a0={{se}}&t1={{taskid}}" frameborder="0" width="100%" height="100%" data-id="frame1"></iframe>
                </div>
            </div>
        </div>
    </div>
	<!--save-->
    <div id="saveLayer" style="display: none;">
        <i class="bigicon"></i>
        <div class="sel">
            <div class="cc">
                <input type="text" _id="" id="input_template" value="">
                <i class="del" onclick="_clearVal(this)"></i>
                <span class="arr"></span>
            </div>
            <p class="tip" style="display:none;">已存在的模板,是否替换！</p>
        </div>
        <div class="btns">
            <a href="javascript:;" class="btn btn-normal" onclick="__saveTempName(this)" style="margin-top: 5px;">确&nbsp;&nbsp;定</a>
            <a href="javascript:;" class="btn btn-normal" onclick="_cancelSave(this)">重&nbsp;&nbsp;置</a>
        </div>
    </div>
    <!--templet list-->
    <div id="tempList">
        <ul>
           
        </ul>
        <span class="forblank">未找到匹配</span>
    </div>
{% endblock  %}

<!-- 继承 js-->
{% block script %}
<style>
.layui-layer-setwin .layui-layer-close1{
		background-position:0;
	}
.layui-layer-ico{
		background: url(/manage/images/icon_close.png) no-repeat 0 0;
	}
</style>
<script>
    var idlen = 1;
    $(function() {
        //
        _saveLayerEvent();
        //
        len = $('#tNav').children('li').length;
        __autoSizeNew();

        $('#tNav').on('click', 'li span', function() {
            var $_p = $(this).parent();
            var id = $_p.data('id');
            $_p.addClass('active').siblings().removeClass('active');

            $('#newCont>iframe').each(function() {
                var fid = $(this).data('id');
                if (fid == id) {
                    $(this).show().siblings('iframe').hide();
                }
            })

            $('#moreFc>li').each(function() {
                var fid = $(this).data('id');
                if (fid == id) {
                    $(this).addClass('active').siblings().removeClass('active');
                }
            })

        });

        $('#moreFc').on('click', 'li', function() {
            var $_p = $(this);
            var id = $_p.data('id');
            $_p.addClass('active').siblings().removeClass('active');
            var $_obj;

            $('#newCont>iframe').each(function() {
                var fid = $(this).data('id');
                if (fid == id) {
                    $(this).show().siblings('iframe').hide();
                }
            })

            $('#tNav>li').each(function() {
                var fid = $(this).data('id');
                if (fid == id) {
                    $(this).addClass('active').siblings().removeClass('active');
                    $_obj = $(this);
                }
            });

            $('#moreFc').parent().removeClass('on');

            var w = $('.c-top').width();
            var outWidth = w - 119;
            var innerWidth = $('#tNav').width();
            var sleft = parseInt($('#tNav').css('margin-left'));
            var ww = $_obj.offset().left;
            var sw = sleft - ww;
            if (ww < 0) {
                if (sw > 0) {
                    sw = 0;
                }
                $('#tNav').css('margin-left', sw);
            } else if (ww > outWidth) {
                if (sw < outWidth - innerWidth) {
                    sw = outWidth - innerWidth;
                }
                $('#tNav').css('margin-left', sw);
            }

            jssBtnEvent(sw);

        });

        $('#tNav').on('click', '>li>i.close', function() {
            var $_p = $(this).parent()
            var id = $_p.data('id');
            var c = $_p.attr('class');
            var ind = $_p.index();

            $_p.remove();

            $('#newCont>iframe').each(function() {
                var fid = $(this).data('id');
                if (fid == id) {
                    $(this).remove();
                }
            });

            if (c == 'active') {
                if (ind > 0) {
                    ind--;
                    $('#tNav>li').eq(ind).addClass('active');
                    $('#newCont>iframe').eq(ind).show();
                    $('#moreFc>li').eq(ind).addClass('active');
                } else {
                    $('#tNav>li:first').addClass('active');
                    $('#newCont>iframe:first').show();
                    $('#moreFc>li:first').addClass('active');
                }

            }

            $('#moreFc>li').each(function(i,item) {
                var fid = $(item).data('id');
                if (fid == id) {
                    $(item).remove();
                }
            })

            _tnavWidth(ind);
            var w = $('.c-top').width();
            var outWidth = w - 119;
            var innerWidth = $('#tNav').width();
            var sleft = parseInt($('#tNav').css('margin-left'));
            if (outWidth - innerWidth < 0 && sleft < outWidth - innerWidth) {
                $('#tNav').css('margin-left', outWidth - innerWidth);
            }else if(outWidth >= innerWidth){
                $('#tNav').css('margin-left', 0);
                $('#jssBtn>span').addClass('disable');
            }

            $('#moreFc>li').each(function(i,item) {
                i++;
                $(item).children('span').text('检索页' + i);
            })

            $('#tNav>li').each(function(i,item) {
                i++;
                $(item).children('span').text('检索页' + i);
            })
        });

        jssBtn();
    })

    $(window).resize(function() {
        __autoSizeNew();
    })

    function __autoSizeNew() {
        var h = $('body').height();
        $('#newCont').height(h - 36);

        _tnavWidth();
    }

    function _addFrame(obj) {
        idlen++;
        var url = '/bhost/search_index?a0={{se}}&t1=0';
        var len = $('#tNav>li').length + 1;
        var $_frame = $('<iframe src="' + url + '" frameborder="0" width="100%" height="100%" data-id="frame' + idlen + '" name="rame' + idlen + '"></iframe>');
        var $_tit = $('<li class="active" data-id="frame' + idlen + '"><span>检索页' + len + '</span><i class="close">×</i></li>');
        var $_tit2 = $('<li class="active" data-id="frame' + idlen + '"><span>检索页' + len + '</span></li>');
        $('#newCont').append($_frame);
        $('#tNav').append($_tit);
        $('#moreFc').append($_tit2);
        $_frame.siblings('iframe').hide();
        $_tit.siblings('li').removeClass('active');
        $_tit2.siblings('li').removeClass('active');
        $_tit.parent().width(133 * len + 47);
        _tnavWidth();
    }

    function _tnavWidth(n) {
        var w = $('.c-top').width();
        var len = $('#tNav').children('li').length;
        var maxWidth = w - 119;
        var innerWidth = 133 * len + 47;
        $('#tNav').width(innerWidth)
        if (innerWidth > maxWidth) {
            $('.tnav').width(maxWidth);
            if (typeof n == 'number') {
                //
            }else{
                $('#jssBtn>span.next').trigger('click');
            }
        } else {
            $('.tnav').width('auto');
        }
    }

    function jssBtn() {
        $('#jssBtn').on('click', '>span.prev', function() {
            var c = $(this).attr('class');
            if (c.indexOf('disable') >= 0) {
                //return;
            }

            var w = $('.c-top').width();
            var outWidth = w - 119;
            var innerWidth = $('#tNav').width();
            var sleft = parseInt($('#tNav').css('margin-left'));

            var sw = sleft + outWidth;
            if (sw > 0) {
                sw = 0;
            }

            $('#tNav').css('margin-left', sw);
            jssBtnEvent(sw,'prev');
        }).on('click', '>span.next', function() {
            var c = $(this).attr('class');
            if (c.indexOf('disable') >= 0) {
                //return;
            }
            var w = $('.c-top').width();
            var outWidth = w - 119;
            var innerWidth = $('#tNav').width();
            var sleft = parseInt($('#tNav').css('margin-left'));
            if (-sleft + outWidth < innerWidth) {
                var sw = sleft - outWidth;
                if (-sw + outWidth > innerWidth) {
                    sw = outWidth - innerWidth;
                }

                $('#tNav').css('margin-left', sw);
                jssBtnEvent(sw,'next');
            } else {
                return;
            }
        })
    }

    function jssBtnEvent(s,type){
        var sleft = 0;
        if(typeof s == 'number'){
            sleft = s;
        }else{
            sleft = parseInt($('#tNav').css('margin-left'));
        }
        var w = $('.c-top').width();
        var outWidth = w - 119;
        var innerWidth = $('#tNav').width();
        if(outWidth < innerWidth){
            if(sleft == 0 ){
                $('#jssBtn>span.prev').addClass('disable');
                $('#jssBtn>span.next').removeClass('disable');
            }else if(sleft == outWidth-innerWidth){
                $('#jssBtn>span.next').addClass('disable');
                $('#jssBtn>span.prev').removeClass('disable');
            }else{
                $('#jssBtn>span.prev').removeClass('disable');
                $('#jssBtn>span.next').removeClass('disable');
            }
        }else{
            $('#jssBtn>span.prev').addClass('disable');
            $('#jssBtn>span.next').addClass('disable');
        }
        
    }

    function _getFList(obj) {
        var $_obj = $(obj).parent();
        var c = $_obj.attr('class').split(' ');
        var b = $.inArray('on', c);

        var len = $('#moreFc').children().length;
        if(len == 0){
            return;
        }

        if (b < 0) {
            $_obj.addClass('on').hover(function() {
                document.onclick = null;
            }, function() {
                document.onclick = function() {
                    $('.rctl').removeClass('on');
                };
            });
        } else {
            $_obj.removeClass('on');
        }
    }

    //layer
    //
    function __getHostGroup(obj){
		//console.log($(obj).attr('path'));
        hglayer = layer.open({
            type:2,
            title:'选择主机组',
            content:'/bhost/search_hostgroup?a0={{se}}&p1='+$(obj).attr('path'),
            area:['640px','480px'],
            btn:false,
            shade:0.7
        });

        $_hostGroupObj = $(obj);
    }

    function _closeHgLayer(){
        layer.close(hglayer);
    }

    function __setHostGroup(data){
        var vf = $('#newCont').children('iframe:visible')[0].contentWindow;
        vf._setHostGroup(data,$_hostGroupObj);
    }

    function _saveLayerEvent(){
        $('#saveLayer .cc input').on('keyup', function() {
            var v = $(this).val().trim();
            if (v != '') {
                $(this).next('i.del').show();
            } else {
                $(this).next('i.del').hide();
            }

            var $_list = $('#tempList');
            var offset = $(this).offset();
            $_list.css({
                top: offset.top + 26,
                left: offset.left - 1
            }).show();

            var thisVal = 0;
            $('#tempList li').each(function(i,item){
                var txt = $(item).text();
                if(txt.indexOf(v) >= 0){
                    $(item).show();
                }else{
                    $(item).hide();
                }

                if(txt == v){
                    thisVal = 1;
                }
            });

            if(thisVal == 0){
                $('#saveLayer p.tip').hide();
            }else{
                $('#saveLayer p.tip').show();
            }

            if($('#tempList li:visible').length == 0){
                $('#tempList .forblank').show();
            }else{
                $('#tempList .forblank').hide();
            }
        }).on('focus', function() {
            document.onclick = null;
            $(this).keyup();
            $(this).parent().addClass('on');
        }).on('blur',function(){
            document.onclick = function(){
                $('#saveLayer .cc').removeClass('on');
                $('#tempList').hide()
            };
        });

        $('#saveLayer .cc span.arr').on('click',function(){
            var c = $('#saveLayer .cc').attr('class');
            //console.log(c)

            if(c.indexOf('on') >= 0){
                $('#saveLayer .cc input').blur();
            }else{
                $('#saveLayer .cc input').focus();
            }
            
        });


        $('#tempList').on('click','li',function(){
            document.onclick = null;
            var txt = $(this).text();
			var id = $(this).attr('li_id');
            $('#saveLayer .cc input').val(txt);
			$('#saveLayer .cc input').attr('_id',id);
            $('#tempList').hide();
            $('#saveLayer .cc').removeClass('on');
            $('#saveLayer p.tip').show();
        });
    }

    function _getSaveLayer(name,id){
        $_jsLayer = layer.open({
            type: 1,
            title: '保存模板',
            content: $('#saveLayer'),
            skin: 'layer-custom',
            area: ['380px', '350px'],
            resize: false
        });
		if(name!=""){
			$('#saveLayer p.tip').show();
		}
		$('#saveLayer').find('input').val(name).attr('_id',id);
		if(name!=""){
			$('#saveLayer p.tip').show();
		}
    }

    function _clearVal(obj) {
        $(obj).hide().prev('input').val('');
        $('#saveLayer p.tip').hide();
    }

    function _cancelSave() {
		$('#input_template').val("");
		$('#saveLayer .tip').hide();
		$('#saveLayer .del').hide();
		
        //layer.close($_jsLayer);
    }
	function _succSave(){
		 _alert(0,'模板','保存成功');
		 layer.close($_jsLayer);
	}
    function __saveTempName(){
        var name = $('#saveLayer').find('input').val().trim();
        if(!name || name == ''){
            _alert(1,'模板','请输入模板名称');
            return;
        }
		var nameCheck = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
		if (!nameCheck.test(name)) {
			_alert(1, "模板", "模板名称格式不正确",  $('#saveLayer').find('input'));
			return;
		}
        var vf = $('#newCont').children('iframe:visible')[0].contentWindow;
		edit = false;
		if( $('#tempList .forblank').is(":hidden") == true){
			edit = true;
		}
        vf.search_action(1,edit);
    }
    var loadLayer;
	var if_ok;
    function __doSearch(TaskId){
        _showLoading();
        vf = $('#newCont').children('iframe:visible');
		//取当前 任务的数量 一旦取到数据就关闭等待 如果搜索完成之后 数据为空 则提示不需要跳转
		var Status = 0;
		var totalrow = 0;
		function _do(){
			$.ajax({
				url:'/bhost/get_totalrow',
				type:'post',
				async:true,
				data:{a0:{{se}},t1:TaskId},
				success:function(result){
					result = JSON.parse(result);
					if(result.Result){
						totalrow = result.Count;
						Status = result.Status;
					}else{
						_alert(1,'检索结果',result.ErrMsg);
					}
				}
			})
		}
		if_ok = setInterval(function(){
			////console.log(index);
			if(Status > 1 && totalrow == 0){
				clearInterval(if_ok);
				_closeLoading();
				_alert(1,'检索','查询结果为空');
				return false;
			}
			else if (Status > 1 || totalrow>0){    //获取信息结束	
				_closeLoading();
				clearInterval(if_ok);
				vf.attr('src','/bhost/search_result?a0={{se}}&f1=search&t1='+TaskId);
				
				return false;
			}
			//console.log($('#sFrame',parent.document).css('margin-left'));
			if($('#sFrame',parent.document).css('margin-left')!= '0px'){
				clearInterval(if_ok);
				return false;
			}
			_do();	
		},1000);
    }
	function _stop(){
		clearInterval(if_ok);
	}
    function _showLoading(){
        loadLayer = layer.open({
            title:false,
            closeBtn:false,
            content:'<div id="Loading">正在查询中……</div>',
            btn:false,
            skin:'loadingbar',
            area:['150px','180px'],
            move:false,
            resize:false,
		isOutAnim: false,
            shade:[0.1,'#000']
        })
    }

    function _closeLoading(){
        layer.close(loadLayer);
    }
</script>

{% endblock  %}
