<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<link rel="stylesheet" href="/manage/css/jquery.datepick.css">
	<link rel="stylesheet" href="/manage/css/new-head.css">
	<script>
		var userAgent = navigator.userAgent;
		var ie8 = userAgent.indexOf('Trident/4.0');

		if(ie8 != -1){
			document.write('<script src="/manage/js/jquery-IE8.js"></' + 'script>');
		}else{
			document.write('<script src="/manage/js/jquery.min.js"></' + 'script>');
		}
	</script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/select2.full.min.js"></script>
	<script src="/manage/js/jquery.plugin.js"></script>
	<script src="/manage/js/jquery.datepick.js"></script>
	<script src="/manage/js/icheck.min.js"></script>
	<script src="/manage/js/common_e.js"></script>

</head>
<style>
	.form-item{
		float: left;
	}
</style>
<body style="overflow:hidden;" class="bg-white">
	<div class="rwrap">
		<!--密钥添加或编辑-->
		<div class="c-top">
			<div class="c-title">
				<div class="manual-head" style="float:left;width:100px"> 
    					<div class="manual-title" >
       						<span id="connection_data" style="cursor: pointer;">密钥管理</span>
        					<i class="sshkey_data_icon"></i>
   						</div>
				</div>
				<div class="ctr">
					<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
				</div>
			</div>
		</div>
		<div class="mainer">
			<div class="container">
				<div class="c-cont">
					<div class="c-form" style="width:870px;">
						<div class="form">
							<div class="form-item">
								<span class="form-tag"><em class="imp">*</em>名称：</span>
								<div class="form-c">
									<input type="text" disabled="disabled" class="form-text" id="d_n" name="d_n" onblur="regCheck(this,nameReg);" maxlength="128" value="{{keyname}}">
									<i class="v-check"></i>
									<p class="form-tip">特殊字符仅支持下划线、横杠、小数点</p>
								</div>
							</div>
							<div class="form-item">
								<span class="form-tag">类型：</span>
								<div class="form-c">
									<select class="form-select form-select2" name="Protocol" id="Protocol" style="width:150px;">
										<option value="1" selected>私钥</option>
										<option value="0" >公钥</option>
									</select>
								</div>
							</div>
							<div class="form-item" style="width: 380px;">
								<span class="form-tag"><!--<em class="imp">*</em>-->设置密码：</span>
								<div class="form-c">
									<input type="password" class="form-text" id="Password" name="Password" onblur="" maxlength="128" style="width: 160px;padding-right: 8px;" value="{{pw_value}}">
                                                                     <!--   <p class="form-tip">长度为16位</p>-->
								</div>
							</div>
							<div class="form-item" style="width: 280px;">
                                                                <span class="form-tag" style="width: 92px;"><!--<em class="imp">*</em>-->确认密码：</span>
                                                                <div class="form-c" style="padding-left: 100px;">
                                                                        <input type="password" class="form-text" id="Password_two" name="Password_two" onblur="" maxlength="128" style="width: 160px;padding-right: 8px;" value="{{pw_value}}">
                                                                   <!--     <p class="form-tip">长度为16位</p>-->
                                                                </div>
                                                        </div>
							<!--
							<div class="form-item">
								<span class="form-tag">状态：</span>
								<div class="form-c" style="margin-top: 3px;">
										<input type="checkbox" class="form-checkbox" id="Enable"/>
										<span style="vertical-align:middle;font-size:16px; color: #000;">启用</span>
								</div>
							</div>
							-->
							<div class="form-item">
								<span class="form-tag"><em class="imp">*</em>内容：</span>
								<div class="form-c">
									<textarea type="textarea" class="form-text" id="content" style="width: 430px; height: 150px; resize: none">{{keycontent}}</textarea>
								</div>
							</div>
							
						</div>
					</div>
					<div class="c-form">
						<div class="btns">
							<a href="javascript:;" class="btn btn-normal" onclick="connection_add();">保&nbsp;&nbsp;存</a>
							<!-- <a href="javascript:;" class="btn btn-normal" onclick="connection_list(0);">取&nbsp;&nbsp;消</a> -->
						</div>
					</div>
					<div id="bBtn" style="position: fixed;z-index:5;">
						<a href="javascript:;" class="btn" style="float: right;" onclick="connection_list(0);"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form action="/bhost/sshkey_handle" method="POST" name="frm_sshkey_add" id="frm_sshkey_add">
		<input type="hidden" name="tasktype" id="tasktype" value="{{ tasktype }}" />
		<!--创建 编辑 列表-->
		<input type="hidden" name="sshkey_id" id="sshkey_id" value="{{ sshkey_id }}" />
		<!--sshkey_id-->
		<input type="hidden" name="paging" id="paging" value="{{paging}}" />
		<!--页码-->
		<input type="hidden" name="search_typeall" id="search_typeall" value="{{search_typeall}}" />
		<!--search_typeall-->
		<input type="hidden" name="e" id="e" value="{{e}}" />
		<!--e-->
		<input type="hidden" name="se" id="se" value="{{se}}" />
		<input type="hidden" name="type" id="type" value="{{type_value}}" />
		<!--e-->
		<input type="hidden" name="keyname" id = "keyname" value="{{keyname}}" />
		<input type="hidden" name="keytype" id = "keytype" value="{{keytype}}" />
		<input type="hidden" name="keytypeid" id = "keytypeid" value="{{keytypeid}}" />
		<input type="hidden" name="keycontent" id = "keycontent" value="{{keycontent}}" />
		<input type="hidden" name="enable" id = "enable" value="{{enable}}" />
		<input type="hidden" name="enableid" id = "enableid" value="{{enableid}}" />
		<input type="hidden" name="password" id = "password" value="{{pw_value}}" />
	</form>
	<script>
		$('.form-select:not(.form-select2)').select2({ minimumResultsForSearch: -1 });
		$('.form-select2').select2({ minimumResultsForSearch: -1 });
	</script>
	<script>
	$('.form-checkbox,.form-radio').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
	    radioClass: 'iradio_minimal-blue',
	    increaseArea: '0' // optional
	});
	</script>
	<script>
		var sshkey = {
			"SshKeyId": 0,
			"KeyName": null,
			"KeyType": 0,
			"KeyContent": null,
			"IfValid": false,
			"Password":null
		};
		
		var nameReg = /^[\u4e00-\u9fa5a-zA-Z\d_\-\.]+$/;
		$(function () {
			$('#Protocol').on('change',function(){
				var Protocol_value=$('#Protocol').val();
				if(Protocol_value=='0'){
					$('#Password').parents('.form-item').hide();
					$('#Password_two').parents('.form-item').hide();
				}else{
					$('#Password').parents('.form-item').show();
                                        $('#Password_two').parents('.form-item').show();
				}
			});
			document.frm_sshkey_add.se.value = window.parent.document.frm.se.value;
			$("#Protocol").val({{keytypeid}}).trigger('change');
			//if($('input[name=type]').val()=='1'){
                        //        $('#Protocol').prop("disabled", true); 
                        //}
		});
		//创建
		function connection_add() {
			document.frm_sshkey_add.se.value = window.parent.document.frm.se.value;
			var p_id = $("#Protocol").val();
			//var t_id = Boolean(parseInt($("#Enable").val()));
			////console.log(p_id);
			var val = $.trim( $("#d_n").val());
			var $i = $("#d_n").next('i.v-check');
			//事件告警信息名
			if (val == "") {
				_alert(2, "密钥管理", '请输入名称', $("#d_n"));
				return false;
			}
			if (!nameReg.test(val)) {
				_alert(1, "密钥管理", '名称格式不正确', $("#d_n"));
				//$("#d_n").val("");
				return false;
			}
			sshkey.KeyName = val;
			var Password=$.trim( $('#Password').val());
			var Password_two=$.trim( $('#Password_two').val());
			/*
			if(Password==''){
				//_alert(2, "密钥管理", '请输入密码',$('#Password'));
                                //return false;
			}else if(Password.length<16){
				_alert(2, "密钥管理", '密码长度不能小于16',$('#Password'));
                                return false;
			}else if(Password.length>16){
				_alert(2, "密钥管理", '密码长度不能大于16',$('#Password'));
                                return false;
			}
			if(Password_two==''){
                                _alert(2, "密钥管理", "请输入确认密码",$('#Password_two'));
                                return false;
                        }else 
			*/
			if(Password.length > 64){
				_alert(2, "密钥管理", "密码不能超过系统限定64位", $("#Password"));
				return false;
			}			
			if(Password==''){
				Password=null;
			}

			else if(Password!='' && Password!=Password_two){
				_alert(2, "密钥管理","两次密码不匹配",$("#Password"));
                                return false;
			}
			sshkey.Password=Password;
			var content = $("#content").val();
			//var keycheck = /^[a-zA-Z0-9/+=\s\-]*$/g;
			var keycheck = /.*[\u4e00-\u9fa5]+.*$/;
			if(content==""){
				_alert(2, "密钥管理", '请填写密钥内容', $("#content"));
				return false;
			}
			if(keycheck.test(content)){_alert(1, "密钥管理", '密钥格式不正确', $("#content"));return}
			if($("#d_n").val().length>128) {
				_alert(1, "密钥管理", '密钥名称长度不能超过128', $("#d_n"));
				return false;
			}
			sshkey.KeyContent = content;
			sshkey.KeyType = parseInt(p_id);
			sshkey.SshKeyId	= {{sshkey_id}};
			msstr = aceg(JSON.stringify(sshkey),$("input[name=se]").val());
			$.ajax({
				url: '/bhost/add_sshkey',
				type: "POST",
				async: false,
				data: { a0: $("input[name=se]").val(), a1: JSON.stringify(sshkey),a10:document.frm_sshkey_add.type.value, m1:msstr},
				success: function (result) {
					var result = JSON.parse(result);
					if (result.Result == true) {
						$('.btn').blur(); parent.layer.open({
							type: 1,
							title: '密钥管理',
							content: '<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
							btn: ['确&nbsp;&nbsp;定'],
							btnAlign: 'c',
							closeBtn: false,
							skin: 'layer-custom',
							area: ['380px', '310px'],
							move: false,
							resize: false,
							yes: function (i) {
								parent.layer.close(i);
								connection_list(1,result.SshKeyId);
							}
						});
					} else {
						_alert(1, "密钥管理", result.ErrMsg, $("#d_n"));
						return false;
					}
				}
			});
		}
		//显示列表页面
		function connection_list(num,id) {
			if(num==1){
				$.ajax({
					url: '/bhost/PGetRecordRownum',
					type: "POST",
					async: false,
					data: { a0: $("input[name=se]").val(), a1: id,a2:33 },
					success: function (result) {
						var result = JSON.parse(result);
						if (result.Result == true) {
							if(result.info%MAX_PAGE==0){
								document.frm_sshkey_add.paging.value=parseInt(result.info/MAX_PAGE);
							}else{
								document.frm_sshkey_add.paging.value=parseInt(result.info/MAX_PAGE)+1;
							}
						}
					}
				});
				document.frm_sshkey_add.search_typeall.value = '';
				document.frm_sshkey_add.e.value = ':';
			}
			document.frm_sshkey_add.tasktype.value = 3;
			document.frm_sshkey_add.action = '/bhost/sshkey_handle';
			document.frm_sshkey_add.submit();
		}
		$(function(){
	
			$("#connection_data").on("click",function(){
				connection_update();
			});
			if($('input[name=type]').val()=='1'){
                                $('#Protocol').prop("disabled", true); 
                        }
		});
		function connection_update() {
			document.frm_sshkey_add.action = '/bhost/sshkey_update';
			document.frm_sshkey_add.submit();
		}
</script>
	
</body>

</html>
