{% extends  "index.html" %}
<!-- 继承 html-->
{% block main %}
	<!---->
	<div class="rwrap">
		<!---->
		<div class="mainer">
			<div class="apps apps-sys">
					<div class="item"><a  href="javascript:;" data-uri="/bhost/licensing_show" onclick="_loadPage(this)" tabindex=-1><i class="app1"><span class="i"></span></i>设备许可</a></div>
					<div class="item"><a href="javascript:;" data-uri="/bhost/certificate_generation_show" onclick="_loadPage(this)" tabindex=-1><i class="app2"><span class="i"></span></i>WEB证书</a></div>
					<div class="item"><a href="javascript:;" data-uri="/bhost/related_downloads_show?a0={{se}}&tasktype=1&s1=from_system" onclick="_loadPage(this)" tabindex=-1><i class="app15"><span class="i"></span></i>软件管理</a></div>
					<!--
					<div class="item"><a href="javascript:;" data-uri="/bhost/authmodule_change_show" onclick="_loadPage(this)"><i class="app3"><span class="i"></span></i>认证配置</a></div>
	-->
					<div class="item"><a href="javascript:;" data-uri="/bhost/export_show?a0={{se}}" onclick="_loadPage_2(this,'/bhost/route_show','网口设置','路由设置')" tabindex=-1><i class="app4"><span class="i"></span></i>网络设置</a></div>
					<!--
					<div class="item"><a href="javascript:;" data-uri="/bhost/globalstrategy_show" onclick="_loadPage(this)"><i class="app5"><span class="i"></span></i>全局设置</a></div>
					<div class="item"><a href="javascript:;" data-uri="/bhost/pwdstrategy_change_show" onclick="_loadPage(this)"><i class="app17"><span class="i"></span></i>安全策略</a></div>
					-->
					<div class="item"><a href="javascript:;" data-uri="/bhost/data_show?se={{se}}" onclick="_loadPage(this)" tabindex=-1><i class="app6"><span class="i"></span></i>数据管理</a></div>
					<div class="item"><a href="javascript:;" data-uri="/bhost/config_show?a0={{se}}" onclick="_loadPage(this)" tabindex=-1><i class="app7"><span class="i"></span></i>配置管理</a></div>
					<div class="item"><a href="javascript:;" data-uri="/bhost/time_config_show" onclick="_loadPage(this)" tabindex=-1><i class="app8"><span class="i"></span></i>系统时间</a></div>
					<div class="item"><a href="javascript:;" data-uri="/bhost/time_out_change_show" onclick="_loadPage(this)" tabindex=-1><i class="app16"><span class="i"></span></i>超时设置</a></div>
					<div class="item"><a href="javascript:;" data-uri="/bhost/mailserver_manage?a0={{se}}" onclick="_loadPage(this)" tabindex=-1><i class="app9"><span class="i"></span></i>输出设置</a></div>
					<div class="item"><a href="javascript:;" data-uri="/bhost/module_app_set_show" onclick="_loadPage(this)" tabindex=-1><i class="app10"><span class="i"></span></i>模块设置</a></div>
					<!--
					<div class="item"><a href="javascript:;" data-uri="/bhost/acc_client_list" onclick="_loadPage(this)"><i class="app18"><span class="i"></span></i>ACC客户端管理</a></div>
					-->
					<!--
					<div class="item"><a href="javascript:;" data-uri="/bhost/syswarn_show" onclick="_loadPage(this)" tabindex=-1><i class="app11"><span class="i"></span></i>系统告警</a></div>
					-->
					{%if end != 0%}
					<div class="item"><a href="javascript:;" data-uri="/bhost/system_update_show" onclick="_loadPage(this)" tabindex=-1><i class="app12"><span class="i"></span></i>系统升级</a></div>
					{%endif%}
					<div class="item"><a href="javascript:;" data-uri="/bhost/system_reboot?a0={{se}}" onclick="_loadPage(this)" tabindex=-1><i class="app13"><span class="i"></span></i>系统重启</a></div>
					<div class="item"><a href="javascript:;" data-uri="/bhost/system_shutdown?a0={{se}}" onclick="_loadPage(this)" tabindex=-1><i class="app14"><span class="i"></span></i>系统关闭</a></div>
					
					<!--<div class="item"><a href="javascript:;" data-uri="/bhost/related_downloads_show?a0={{se}}&tasktype=1" onclick="_loadPage(this)" tabindex=-1><i class="app15"><span class="i"></span></i>软件管理</a></div>-->
			</div>

			<div id="LoadArea" style="display: none;">
				<!--<div class="c-top">
					<div class="c-title">
						<h3></h3>

						<div class="ctr">
							<a href="javascript:;" class="ret" onclick="_closePage(this)"><i></i></a>
						</div>
					</div>
				</div>-->

				<div class="c-cont" id="cCont">
					<span class="btn btn-prev" onclick="_pagePrev(this)" tabindex=-1></span>
					<span class="btn btn-next" onclick="_pageNext(this)" tabindex=-1></span>
					
					<iframe src="" width="100%" height="100%" frameborder="0" name="mframe" id="mframe"></iframe>
				</div>
			</div>
		</div>
	</div>
{% endblock  %}

<!-- 继承 js-->
{% block script %}
<script>
function reload(){
	$("#mframe").attr('src',$("#mframe").attr('src'));		
}

function _switchBtn(i){
	var $c = $('.apps a.active').parent();
	var n = $('.apps .item').index($c), len = $('.apps .item').length - 1;
	//console.log(n);
	//console.log(len);
	if(i==0){
		$('#cCont>span.btn').hide();
	}else if(n==0){
		$('#cCont>span.btn-prev').hide();
		$('#cCont>span.btn-next').show();
	}else if(n==len){
		$('#cCont>span.btn-prev').show();
		$('#cCont>span.btn-next').hide();
	}else{
		$('#cCont>span.btn').show();
	}
}
</script>

{% endblock  %}
