{% extends "index.html" %} {% block head %}
<!--icheck-->
<script src="/manage/js/icheck.min.js"></script>
<script src="/manage/js/select2.full.min.js"></script>
<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
<link rel="stylesheet" href="/manage/css/select2.min.css">
<script type="text/javascript" src="/manage/js/dialog-plus.js"></script>
<link rel="stylesheet" href="/manage/css/ui-dialog.css" type="text/css" />
<link rel="stylesheet" href="/manage/css/G-style.css" type="text/css" />
<link rel="stylesheet" href="/manage/css/jquery.datepick.css">
<script src="/manage/js/jquery.datepick.js"></script>
<link rel="stylesheet" href="/manage/css/new-head.css">
<style>
    .ifile-wrap {
        height: 28px;
    }
    .ifile-wrap button {
        height: 28px;
    }
    .h-content2{
        height:auto;
        width: 100%;
        overflow: hidden;
        padding: 14px 0 0 0;
    }
	.h-content2 .form-item {
		height: auto;
		padding: 20px 0 10px;
		min-height: 38px;
		padding: 5px;
		width: 380px;
		float: left;
	}
    .form-item .form-c a.btn {
        float: left;
        padding: 0 15px;
        line-height: 24px;
        color: #8D808A;
        border: 1px solid #8D808A;
        margin-right: 12px;
        border-radius: 5px;
        transition: all 0.4s;
    }
	.h-content2 .form-tag {
		float: left;
		width: 140px;
		text-align: right;
		color: #000;
		line-height: 28px;
	}

	.h-content2 .form-c {
		padding-left: 0px;
        position: relative;
        float:left;
	}
    .h-content2 .form-c span{
        line-height: 28px;
    }
	.h-content2 .form-text {
		width: 200px;
	}
</style>
 {% endblock %} {% block main %}
<!---->
<!---->
<div class="mainer">

	<div class="container" id="step1">
		<div class="c-top">
						<div class="c-title">
					<!--		<h3 onclick="parent.reload();">系统重启</h3>-->
                             <div class="manual-head" style="width:100px;float:left;" >
    							<div class="manual-title">
       								 <span id="system_reboot_c" style="cursor: pointer;" >系统重启</span>
        							 <i class="reboot_icon"></i>
   								</div>
							</div>
							<div class="ctr">
								<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
							</div>
						</div>
					</div>
		<div class="c-cont">
			<div class="c-wrap" style="padding: 10px 0 0">
				<div class="c-exp" style="margin: -1px auto;">

					<div class="h-explorer">
						<div class="G-top" style="display:none;">
							<div class="G-box1"></div>
							<strong>&nbsp;系统重启</strong>
						</div>

						<div class="h-content2" style="">
						
							<div class="form-item" style="width:100%">
								<span class="form-tag" style=""><em class="imp">*</em>重启：</span>
								<label class="form-label" style="margin: 6px 10px 0 0px;"> <input class="form-radio" type="radio" name="_action" id="_action1" value="true" checked>指定</label>
								<label class="form-label" style="margin: 6px 0px 0 0px;"> <input class="form-radio" type="radio" name="_action" id="_action2" value="false">全部</label>
							</div>
							
							<div class="form-item" style="width:100%" id="server_list_div">
								<span class="form-tag" style=""><em class="imp">*</em>服务器：</span>
								<div id="server_list">
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="btns s-hide">
		<a href="javascript:;" class="btn btn-normal " onclick="reboot();" style="font-weight: 400;">确&nbsp;&nbsp;定</a>
		<!--<a href="javascript:;" class="btn btn-normal " onclick="back();" style="font-weight: 400;">取&nbsp;&nbsp;消</a>-->

	</div>
	<div id="bBtn" style="position: fixed;z-index:5;">
        <a href="javascript:;" class="btn" style="float: right;" onclick="back();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
    </div>
</div>

{% endblock %} {% block script %}
<style>
	.h-explorer {
		width: 95%;
		height: 100%;
		border: 1px solid #CCC;
		margin: 0 auto;
		overflow: hidden;
		min-width: 1100px;
	}
</style>
<script>
	_if_disable = $('#nav-s1 li[data-modeid=7]',parent.parent.document).attr('_if_disable');
	if(_if_disable == '1'){
		$('.s-hide').remove();
	}
	var se = window.parent.document.frm.se.value;
	var Month;
	$('.filter-select,.form-select,.select2').select2({ minimumResultsForSearch: -1 }); 
	$("input.datepicker").datepick();
	$('.form-checkbox,.form-radio').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
		radioClass: 'iradio_minimal-blue',
		increaseArea: '0' // optional
	});
	$(function () {
		//获取初始信息
		parent._switchBtn(1);	
	})
	
	var loadLayer;
	function _closeLoading(){
	  parent.parent.layer.close(loadLayer);
	}
	
	function _showLoading(){
		
		var st = "正在重启中，请稍后......";
		loadLayer = parent.parent.layer.open({
			title:false,
			closeBtn:false,
			content:'<div id="Loading">'+st+'</div>',
			btn:false,
			skin:'loadingbar',
			area:['150px','180px'],
			move:false,
			resize:false,
			isOutAnim: false,
			shade:[0.1,'#000']
		})		
	}
	var system_type = '{{system_type}}';
	$(function(){
		$("#system_reboot_c").on("click",function(){
			location.reload();
		});
		$("input[name=_action]").on("ifChanged",function(){
			if($('input[name=_action]:checked').val() == 'true'){
				$('#server_list_div').show();
			}else{
				$('#server_list_div').hide();
			}
		});
		
		
		/*
		if(system_type == 'gluster'){
			$("input[name=_action]").eq(1).iCheck('check');
			$('#_action1').parent().parent().hide();
		}*/
		//获取当前 服务器
		$.ajax({  
			url:'/bhost/get_cluster',
			type:"post",
			async:true,
			cache:false,
			data:{a0:se},  //t3 1 -> 取全部数据
			success:function(result){
				result = JSON.parse(result);
				if(result.Result){
					$('#server_list').empty();
					
					$(result.info).each(function(i,item){
						$('#server_list').append('<label class="form-label" style="margin: 6px 0px 0 0px;"> <input class="form-checkbox" type="checkbox" name="" id="'+item.server_id+'" value="">服务器'+item.server_id+'('+item.ip+')</label>');
					})
					$('#server_list .form-checkbox').iCheck({
						checkboxClass: 'icheckbox_minimal-blue',
						radioClass: 'iradio_minimal-blue',
						increaseArea: '0' // optional
					});
				}else{
					_alert(1,"系统重启","获取服务器失败："+result.ErrMsg);
					return false;
				}
			}
		})
	}); 
	function back(){
		parent._closePage(this);
	}
	function reboot(){
		var server_id_str = "";
		if($('input[name=_action]:checked').val() == 'true'){			
			$("#server_list input:checked").each(function(i,item){
				server_id_str = server_id_str + $(this).attr('id') +",";			
			})
			
		}else{
			$("#server_list input").each(function(i,item){
				server_id_str = server_id_str + $(this).attr('id') +",";			
			})
		}
		if(server_id_str == ""){
			_alert(1,"系统重启","请至少选择一个服务器");
			return false;
		}
		server_id_str = server_id_str.substr(0,server_id_str.length-1);
		oper ="重启系统：（服务器"+server_id_str+"）"
		
		layer.open({
			type:1,
			title:"系统重启",
			content:'<div class="layer-alert"><i class="alert warning"></i>是否重启？</div>',
			btn:['确&nbsp;&nbsp;定', '取&nbsp;&nbsp;消'],
			btnAlign:'c',
			closeBtn: false,
			skin:'layer-custom',
			area:['380px','310px'],
			move: false,
			resize: false,
			btn1:function(i){
				layer.close(i);				
				//
				if($('#_action2').prop('checked') == true){
					all_flag = 1;
				}else all_flag = 0;
				
				_showLoading();
				$.ajax({  
					url:'/bhost/reboot',
					type:"post",
					async:true,
					cache:false,
					data:{a0:se,a1:server_id_str,o1:oper,f1:all_flag,z1:0}, 
					success:function(result){
						result = JSON.parse(result);
						if(result.Result){
							var count = 0;
							var if_ok = setInterval(function(){
								if (count > 40){    //超时
									clearInterval(if_ok);
									_closeLoading();
									if(system_type == 'gluster' || system_type =='double'){
										layer.open({
											type:1,
											title:"系统重启",
											content:'<div class="layer-alert"><i class="alert warning"></i>重启失败，是否强制重启</div>',
											btn:['确&nbsp;&nbsp;定', '取&nbsp;&nbsp;消'],
											btnAlign:'c',
											closeBtn: false,
											skin:'layer-custom',
											area:['380px','310px'],
											move: false,
											resize: false,
											btn1:function(i){
												layer.close(i);	
												$.ajax({  
													url:'/bhost/reboot',
													type:"post",
													async:true,
													cache:false,
													data:{a0:se,a1:server_id_str,o1:oper,f1:all_flag,z1:1}, 
													success:function(result){
														
													}
												})
												
											},
											btn2:function(i){
												layer.close(i);
											}
										});	
									}else{
										alert(1,"系统重启","重启失败");
									}
									return false;
								}
								count = count + 1;			
								var sys_succ_info = ifreboot_succ();
								if(sys_succ_info.indexOf("succ") >= 0){
									clearInterval(if_ok);
									_alert(0,"系统重启","重启成功");
									_closeLoading();
									return true;
								}
							},1000);
						}else{
							_alert(1,"系统重启","重启失败："+result.ErrMsg);
							_closeLoading();
							return false;
						}
					}
				})
			},
			btn2:function(i){
				layer.close(i);
			}
		});		
	}
	function ifreboot_succ(){
		var str_tmp = "";
		var n = 0;
		$.ajax({//获取查询搜索的角色数据
			url: '/bhost/if_reboot_succ',
			type: "post",
			async:false,
			data: {a0:se},
			success: function(result) {
				var result=JSON.parse(result);
				if(result.Result == false){
					return false;
				}
				else{
					str_tmp = result.info;
					return true;
				}
			}
		})
		return str_tmp;
	}
</script>

{% endblock %}
