<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>
	<link rel="stylesheet" href="/manage/css/new-head.css">
</head>
<body style="overflow:hidden;" class="bg-white">
		<div class="c-top">
			<div class="c-title">
				<!--
				<h3>系统告警设置</h3>
				-->
				<div class="manual-head" style="width:100px;float:left;">
					<div class="manual-title">
						<span id="syswarn_reload" style="cursor: pointer;">系统告警</span>
						<i class="syswarn_icon"></i>
					</div>
				</div>
				<div class="ctr">
					<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
				</div>
			</div>
		</div>
		<div class="mainer">
			
			<div class="container">
				<div class="c-cont2">
					<div class="c-form" style="padding-bottom:10px;width:900px;padding-left:50px;">
						<div class="form">	
							<div class="form-item">
								<span class="form-tag">状态：</span>
								<div class="form-c" style="margin-top: 2px;">
									<label class="form-label">
										<input id="IfOpened" name="IfOpened" class="form-checkbox" type="checkbox">
										<span style="vertical-align:middle;font-size:14px;">启用</span>
									</label>
								</div>
							</div>
							<!--
							<div class="form-item">
								<span class="form-tag">短信猫：</span>
								<div class="form-c">
									<label class="form-label">
										<input id="IfSmsMOpened" name="IfSmsMOpened" class="form-checkbox" type="checkbox">
										<span style="vertical-align:middle;font-size:14px;">启用</span>
									</label>
									<label class="form-label" style="padding-left:30px;">
										<span style="vertical-align:middle;font-size:14px;">手机号码：</span>
										<input id="M_MobilePhone" name="M_MobilePhone" class="form-text" type="text" style="width:140px;"  maxlength="64" onkeyup="PhoneCheck(this);"><i class="v-check"></i>
									</label>
								</div>
							</div>
							-->
							<div class="form-item">
								<span class="form-tag">短信网关：</span>
								<div class="form-c" style="margin-top: -1px;">
									<label class="form-label">
										<input id="IfSmsDBOpened" name="IfSmsDBOpened" class="form-checkbox" type="checkbox">
										<span style="vertical-align:middle;font-size:14px;">启用</span>
									</label>
									<label class="form-label" style="padding-left:30px;">
										<span style="vertical-align:middle;font-size:14px;">手机号码：</span>
										<input id="DB_MobilePhone" name="DB_MobilePhone" class="form-text" type="text" style="width:140px;"  maxlength="11" onkeyup="PhoneCheck(this);"><i class="v-check"></i>
									</label>
								</div>
							</div>
							<div class="form-item">
								<span class="form-tag">SNMP：</span>
								<div class="form-c" style="margin-top: 1px;">
									<label class="form-label">
										<input id="IfSnmpOpened" name="IfSnmpOpened" class="form-checkbox" type="checkbox">
										<span style="vertical-align:middle;font-size:14px;">启用</span>
									</label>
								</div>
							</div>
							<div class="form-item">
								<span class="form-tag">邮件：</span>
								<div class="form-c" style="margin-top: -1px;">
									<label class="form-label">
										<input id="IfMailOpened" name="IfMailOpened" class="form-checkbox" type="checkbox">
										<span style="vertical-align:middle;font-size:14px;">启用</span>
									</label>
                                                                        <label class="form-label" style="padding-left:30px;">
										<span style="vertical-align:middle;font-size:14px;">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</span>
										<input id="Email" name="Email" class="form-text" type="text" style="width:140px;"  maxlength="64" onkeyup="EmailCheck(this);"><i class="v-check"></i>
									</label>
								</div>
							</div>
							<div class="form-item">
								<span class="form-tag">SYSLOG：</span>
								<div class="form-c" style="margin-top: 2px;">
									<label class="form-label">
										<input id="IfSyslogOpened" name="IfSyslogOpened" class="form-checkbox" type="checkbox">
										<span style="vertical-align:middle;font-size:14px;">启用</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="c-form">
						<div class="btns s-hide">
							<a href="javascript:;" class="btn btn-normal" onclick="syswarn_save();">保&nbsp;&nbsp;存</a>
							<!--
							<a href="javascript:;" class="btn btn-normal" onclick="syswarn_return();">取&nbsp;&nbsp;消</a>
							-->
						</div>
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn" style="float: right;" onclick="syswarn_return();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
					</div>
				</div>
			</div>
		</div>
<script>
$('.form-checkbox,.form-radio').iCheck({
	checkboxClass: 'icheckbox_minimal-blue',
	radioClass: 'iradio_minimal-blue',
	increaseArea: '0' // optional
});
</script>


<script>
var syswarndata = {};
var syswarndata1 = {
	"SystemAlarmConfigId":1,
	"IfOpened":false,
	"IfSmsMOpened":false,
	"IfSmsDBOpened":false,
	"MobilePhone":null,
	"IfSnmpOpened":false,
	"IfMailOpened":false,
	"Email":null,
	"IfSyslogOpened":false
};
var Email = "";
var phone = "";
var se;
$(function(){
	_if_disable = $('#nav-s1 li[data-modeid=7]',parent.parent.document).attr('_if_disable');
	if(_if_disable == '1'){
		$('.s-hide').remove();
	}
	$("#syswarn_reload").on("click",function(){
		parent.reload();
	});
	se = window.parent.document.frm.se.value;
	$("#DB_MobilePhone").bind('keydown', function(e){
                DigitInput(e);
        });
	/*
	$("#M_MobilePhone, #DB_MobilePhone").bind('keydown', function(e){
                DigitInput(e);
        });
	*/
	box_control();
	get_data();
	show();
})

//获取配置
function get_data(){	
	$.ajax({
		url: '/bhost/get_syswarn_config',
		type:'post',
		async:false,
		data:{a0:se},
		success:function(result){
			data = JSON.parse(result);
			if (data.IfOpened == true){
				$("#IfOpened").iCheck('check');
				$("input[type=checkbox]").prop("disabled",false);
				//$("#IfSmsMOpened").parent().removeClass("disabled");
				$("#IfSmsDBOpened").parent().removeClass("disabled");
				$("#IfMailOpened").parent().removeClass("disabled");
				$("#IfSnmpOpened").parent().removeClass("disabled");
				$("#IfSyslogOpened").parent().removeClass("disabled");
				show();
			}else{
				$("#IfOpened").iCheck('uncheck');
				$("input[type=checkbox]").not("#IfOpened").prop("disabled",true);
				//$("#IfSmsMOpened").parent().addClass("disabled");
				$("#IfSmsDBOpened").parent().addClass("disabled");
				$("#IfMailOpened").parent().addClass("disabled");
				$("#IfSnmpOpened").parent().addClass("disabled");
				$("#IfSyslogOpened").parent().addClass("disabled");
			}
			/*
			if (data.IfSmsMOpened == true){
				$("#IfSmsMOpened").iCheck('check');
				$("#M_MobilePhone").val(data.MobilePhone);
			}else{
				$("#IfSmsMOpened").iCheck('uncheck');
			}
			*/
			if (data.IfSmsDBOpened == true){
				$("#IfSmsDBOpened").iCheck('check');
				$("#DB_MobilePhone").val(data.MobilePhone);
			}else{
				$("#IfSmsDBOpened").iCheck('uncheck');
			}
		
			if (data.IfMailOpened == true){
				$("#IfMailOpened").iCheck('check');
				$("#Email").val(data.Email);
			}else{
				$("#IfMailOpened").iCheck('uncheck');
			}
			if (data.IfSnmpOpened == true){
				$("#IfSnmpOpened").iCheck('check');
			}
			if (data.IfSyslogOpened == true){
				$("#IfSyslogOpened").iCheck('check');
			}
		}       
	});
}

//绑定checkbox事件
function box_control(){
	
	$("#IfOpened").on("ifChanged",function(){
		if ($("#IfOpened").prop("checked")){
			$("input").prop("disabled",false);
			show();	
			//$("#IfSmsMOpened").parent().removeClass("disabled");
			$("#IfSmsDBOpened").parent().removeClass("disabled");
			$("#IfMailOpened").parent().removeClass("disabled");
			$("#IfSnmpOpened").parent().removeClass("disabled");
			$("#IfSyslogOpened").parent().removeClass("disabled");
		}else{
			$("input").not("#IfOpened").prop("disabled",true);
			//$("#IfSmsMOpened").parent().addClass("disabled");
			$("#IfSmsDBOpened").parent().addClass("disabled");
			$("#IfMailOpened").parent().addClass("disabled");
			$("#IfSnmpOpened").parent().addClass("disabled");
			$("#IfSyslogOpened").parent().addClass("disabled");
		}
	});
	/*
	$("#IfSmsMOpened").on("ifChanged",function(){
		if ($("#IfSmsMOpened").prop("checked")){
			$("#M_MobilePhone").prop("disabled",false);
			$("#IfSmsDBOpened").iCheck('uncheck');
		}else{
			$("#M_MobilePhone").prop("disabled",true);
		}
	});
	*/
	$("#IfSmsDBOpened").on("ifChanged",function(){
		if ($("#IfSmsDBOpened").prop("checked")){
			$("#DB_MobilePhone").prop("disabled",false);
			//$("#IfSmsMOpened").iCheck('uncheck');
		}else{
			$("#DB_MobilePhone").prop("disabled",true);
		}
	});
	
	$("#IfMailOpened").on("ifChanged",function(){
		if ($("#IfMailOpened").prop("checked")){
			$("#Email").prop("disabled",false);
		}else{
			$("#Email").prop("disabled",true);
		}
	});	
}
//显示输入框
function show(){
	/*
	if ($("#IfSmsMOpened").prop("checked")){
		$("#M_MobilePhone").prop("disabled",false);
		syswarndata.IfSmsMOpened = true;
		phone = $("#M_MobilePhone").val().trim();
	}else{
		$("#M_MobilePhone").prop("disabled",true);
		syswarndata.IfSmsMOpened = false;
	}
	*/
	if ($("#IfSmsDBOpened").prop("checked")){
		$("#DB_MobilePhone").prop("disabled",false);
		syswarndata.IfSmsDBOpened = true;
		phone = $("#DB_MobilePhone").val().trim();
	}else{
		$("#DB_MobilePhone").prop("disabled",true);
		syswarndata.IfSmsDBOpened = false;
	}
	
	if ($("#IfMailOpened").prop("checked")){
		$("#Email").prop("disabled",false);
		syswarndata.IfMailOpened = true;
		Email = $("#Email").val().trim();
	}else{
		$("#Email").prop("disabled",true);
		syswarndata.IfMailOpened = false;
	}
}

var phoneReg = /\D/;
var emailReg = /^([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]+)+)$/;
//手机号码匹配
function PhoneCheck(obj){
	var phone = $(obj).val();
	var $i = $(obj).next('i.v-check');
	if (!phoneReg.test(phone) && phone.length == 11){
			$i.show().attr('class','v-check v-right');
	}else{
			$i.show().attr('class','v-check v-wrong');
	}
}
//Email匹配
function EmailCheck(obj){
	var email = $(obj).val().trim();
	var $i = $(obj).next('i.v-check');
	if (!emailReg.test(email)){
			$i.show().attr('class','v-check v-wrong');
	}else{
			$i.show().attr('class','v-check v-right');
	}
}
//保存配置
function syswarn_save(){
	if ($("#IfOpened").prop("checked")){
		syswarndata.SystemAlarmConfigId = 1;
		syswarndata.IfOpened = true;
		show();
						if ($("#IfSnmpOpened").prop("checked")){
			syswarndata.IfSnmpOpened = true;
		}else{
			syswarndata.IfSnmpOpened = false;
		}
		if ($("#IfSyslogOpened").prop("checked")){
			syswarndata.IfSyslogOpened = true;
		}else{
			syswarndata.IfSyslogOpened = false;
		}
		/*
		if ($("#IfSmsMOpened").prop("checked") && phone == ""){
			_alert(2,"系统告警","请填写手机号码(短信猫)");
			return;
		}
		*/
		if ($("#IfSmsDBOpened").prop("checked") && phone == ""){
			_alert(2,"系统告警","请填写手机号码(短信网关)");
			return;
		}
		/*
		if ($("#IfSmsDBOpened").prop("checked") || $("#IfSmsMOpened").prop("checked")){
			if (phoneReg.test(phone) || phone.length != 11){
				_alert(2,"系统告警","手机号码格式不正确");
				return false; 	
			}
		}
		*/
		if ($("#IfSmsDBOpened").prop("checked")){
			if (phoneReg.test(phone) || phone.length != 11){
				_alert(2,"系统告警","手机号码格式不正确");
				return false; 	
			}
		}
		if ($("#IfMailOpened").prop("checked") && Email == ""){	
			_alert(2,"系统告警","请填写邮箱");
			return;
		}
		if (!emailReg.test(Email) && $("#IfMailOpened").prop("checked")){
			_alert(2,"系统告警","邮箱格式不正确");
			return;
		}
		syswarndata.Email = Email;
		syswarndata.MobilePhone = phone;
		syswarndata2 = syswarndata;
		if ($("input[type=checkbox]:checked").length == 1){
			_alert(2,"系统告警","请选择至少一项告警方式");
			return false;
		}
	}else{
		syswarndata2 = syswarndata1;
	}
	syswarndata2 = JSON.stringify(syswarndata2);
	msstr = aceg(JSON.stringify(syswarndata2),se);
	$.ajax({
		url:'/bhost/save_syswarn_config',
		type:'post',
		async:false,
		data:{a0:se,z1:syswarndata2,m1:msstr},
		success:function(result){
			data = JSON.parse(result);
			if (data.Result == true){
				layer.open({
					type:1,
					title:"系统告警",
					content:'<div class="layer-alert"><i class="alert succ"></i>保存成功</div>',
					btn:['确定'],
					btnAlign:'c',
					closeBtn: false,
					skin:'layer-custom',
					area:['380px','310px'],
					move: false,
					resize: false,
					btn1:function(i){
						layer.close(i);
						location.reload();
					},
					btn2:function(i){
						 layer.close(i);
					}
				});	
			}else{
				_alert(1,"保存告警设置","保存失败，失败原因："+data.ErrMsg);
			}
		}
	});
}
//返回
function syswarn_return(){
	window.parent._closePage(null); 
}
</script>
