<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<link rel="stylesheet" href="/manage/css/new-head.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/common_e.js"></script>
	<!--icheck-->
	<script src="/manage/js/icheck.min.js"></script>
	<!--select2-->
	<script src="/manage/js/select2.full.min.js"></script>
</head>
<body style="overflow:hidden;" class="bg-white">
	<div class="rwrap">
		<div class="c-top">
			<div class="c-title">
				<!--<h3 onclick="parent.reload();">AD域</h3>-->

				<div class="manual-head" style="float:left;width:100px">
					<div class="manual-title" >
							<span id="" onclick="parent.reload();" style="cursor: pointer;">超时设置</span>
							<i class="time_out_icon"></i>
					</div>
				</div>

				<div class="ctr">
					<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
				</div>
			</div>
		</div>
		<!--超时设置添加或编辑-->
		<div class="mainer">
			<div class="container">
				<div class="c-cont2">
					<div class="c-form" style="padding-bottom:10px;">
						<div class="form">	
							<div class="form-item" >
								<span class="form-tag"><em class="imp">*</em>WEB超时：</span>
								<div class="form-c">
									<input type="text" class="form-text" id="web_t" name="web_t" onkeyup="" onblur="dataCheck(this, 600, 86400);" onfocus="this.select()"  maxlength="6">
									<p class="form-tip">时间设置范围：600-86400（秒）</p>
								</div>
							</div>
							<div class="form-item" style="display:none;">
								<span class="form-tag"><em class="imp">*</em>客户端超时：</span>
								<div class="form-c">
									<input type="text" class="form-text" id="client_t" name="client_t" onkeyup="" onblur="dataCheck(this, 600, 86400);" onfocus="this.select()" maxlength="6">
									<p class="form-tip">时间设置范围：600-86400（秒）</p>
								</div>
							</div>
					</div>
					<div class="c-form">
						<div class="btns s-hide">
							<a href="javascript:;" class="btn btn-normal"onclick="time_out_add();">保&nbsp;&nbsp;存</a>
							<!--
							<a href="javascript:;" class="btn btn-normal" onclick="time_out_return();">取&nbsp;&nbsp;消</a> 
							-->
						</div>
						<div id="bBtn" style="position: fixed;z-index:5;">
							<a href="javascript:;" class="btn" style="float: right;" onclick="time_out_return();"><i class="icon-c3-1"></i>返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form action="/bhost/time_out_handle" method="POST" name="frm_time_out_add" id="frm_time_out_add">

	</form>


<script>
</script>

<script>
var time_out={
	"TimeOutConfigId": 0,
    "PageTimeOut": 600,
    "ClientTimeOut": 600
}
var min_t=600;
var max_t=86400;
var se=window.parent.document.frm.se.value;
$(function(){
	
	_if_disable = $('#nav-s1 li[data-modeid=7]',parent.parent.document).attr('_if_disable');
	if(_if_disable == '1'){
		$('.s-hide').remove();
	}
	parent._switchBtn(1);//显示按钮
	//输入数字
	$("#web_t,#client_t").bind('keydown', function(e){
		DigitInput(e);
	});
	$.ajax({
		url: "/bhost/get_time_out",
		type:"POST",
		async:false,
		data:{a0:se},
		success:function(result){
			var time_out_result = JSON.parse(result);
			if(time_out_result.Result==true){
				var time_out_data = time_out_result.info;
				time_out.TimeOutConfigId=time_out_data.TimeOutConfigId;
				$("#web_t").val(time_out_data.PageTimeOut);
				$("#client_t").val(time_out_data.ClientTimeOut);
			}else{
				_alert(1,"超时设置",result.ErrMsg);
				return false;
			}	
		}
	});
});
//检查格式
function dataCheck(obj, min, max) {//min can not bigger than 1
	obj.value = obj.value.replace(/\D/g, "");
	if(obj.value==''){
		obj.value=min;
	}
	obj.value = parseInt(obj.value);
	if (min) {
		if (parseInt(obj.value, 10) < parseInt(min, 10)) obj.value = min;
	}
	if (max) {
		if (parseInt(obj.value, 10) > parseInt(max, 10)) obj.value = max;
	}
}
//创建or 编辑
function time_out_add(){
	var web_t = $("#web_t").val();
	var client_t = $("#client_t").val();
	var oper ="保存超时设置：（";
	if(web_t==""){
		_alert(2,"超时设置","请输入页面超时设置",$("#web_t"));
		return false;
	}
	if(client_t==""){
		_alert(2,"超时设置","请输入客户端超时设置",$("#client_t"));
		return false;
	}
	if(min_t){
		if(parseInt(web_t, 10) < parseInt(min_t, 10)) {
			_alert(1,"超时设置","超时设置不能小于"+min_t+"",$("#web_t"));
			$("#web_t").val("");
			return false;
		}
		if(parseInt(client_t, 10) < parseInt(min_t, 10)) {
			_alert(1,"超时设置","超时设置不能小于"+min_t+"",$("#client_t"));
			$("#client_t").val("");
			return false;
		}
	}
	if(max_t){
		if(parseInt(web_t, 10) > parseInt(max_t, 10)){
			_alert(1,"超时设置","超时设置不能大于"+max_t+"",$("#web_t"));
			return false;
		}
		if(parseInt(client_t, 10) > parseInt(max_t, 10)){
			_alert(1,"超时设置","超时设置不能大于"+max_t+"",$("#client_t"));
			return false;
		}
	}
	
	oper +="页面超时设置：" +web_t +"，客户端超时设置："+client_t+"）";
	
	time_out.PageTimeOut=parseInt(web_t);
	time_out.ClientTimeOut=parseInt(client_t);
	msstr = aceg(JSON.stringify(time_out),se);
	$.ajax({
		url: '/bhost/add_time_out',
		type: "POST",
		async:false,
		data: {a0:se,a1:JSON.stringify(time_out),o1:oper,m1:msstr},
		success: function(result) {
			var result = JSON.parse(result);
			if(result.Result == true){
				$('.btn').blur();parent.layer.open({
					type:1,
					title: '超时设置',
					content: '<div class="layer-alert"><i class="alert succ"></i>操作成功</div>',
					btn:['确&nbsp;&nbsp;定'],
					btnAlign:'c',
					closeBtn: false,
					skin:'layer-custom',
					area:['380px','310px'],
					move: false,
					resize: false,
					yes:function(i){
						$('.btn').blur();parent.layer.close(i);
					}
				});	
				}else{
					_alert(1,"超时设置",result.ErrMsg);
					return false;
				}
			}
		});
}
//返回
function time_out_return(){
	window.parent._closePage(null); 
}
</script>
</body>
</html>
