<!<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>manager</title>
	<link rel="stylesheet" href="/manage/skin/icheck/minimal/blue.css">
	<link rel="stylesheet" href="/manage/css/select2.min.css">
	<link rel="stylesheet" href="/manage/css/style.css">
	<link rel="stylesheet" href="/manage/css/jquery.datepick.css">
	<!--script-->
	<script src="/manage/js/jquery.min.js"></script>
	<script src="/manage/js/jquery.easing.js"></script>
	<script src="/manage/js/common.js"></script>
	<script src="/manage/js/layer.js"></script>
	<script src="/manage/js/select2.full.min.js"></script>
	<script src="/manage/js/jquery.plugin.js"></script>
	<script src="/manage/js/jquery.datepick.js"></script>
	<script src="/manage/js/icheck.min.js"></script>
	<script src="/manage/js/common_e.js"></script>
</head>
<body style="overflow:hidden;" class="bg-white">
		<!--时间设置-->
		<div class="rwrap">
		<div class="c-top">
						<div class="c-title">
							<h3 onclick="parent.reload();">时间设置</h3>

							<div class="ctr">
								<a href="javascript:;" class="ret" onclick="parent._closePage(this)"><i></i></a>
							</div>
						</div>
					</div>
		<div class="mainer">
			
			<div class="container">
				<div class="c-cont2">
					<div class="c-form" style="padding-bottom:10px;">
						<div class="form">	
							<div class="form-item" >
								<span class="form-tag"><em class="imp">*</em>系统时间：</span>
								<div class="form-c">
									<input style="width:95px;cursor: pointer;" name="t_d" id="t_d" type="text" class="form-text datepicker" placeholder="" value="" readOnly="true">
									<input style="width:18px;" type="text" id="t_h" class="form-text" placeholder="时" value="00" onblur="add_zero(this);" onfocus="this.select()" onkeyup="dataCheck(this, 0, 23);">
									<span style="">:</span>
									<input style="width:18px;" type="text" id="t_m" class="form-text" placeholder="分" value="00" onblur="add_zero(this);" onfocus="this.select()" onkeyup="dataCheck(this, 0, 59);">
									<span style="">:</span>
									<input style="width:18px;" type="text"  id="t_s"class="form-text" placeholder="秒" value="00" onblur="add_zero(this);" onfocus="this.select()" onkeyup="dataCheck(this, 0, 59);">
									<a href="javascript:;" class="form-button"  id="Time_button" name="Time_button" onclick="uptate_time();">修改</a>
								</div>
								
							</div>
						</div>
						<div class="form-item">
							<span class="form-tag">启用：</span>
							<div class="form-c">
								<label class="form-label"><input class="form-checkbox" type="checkbox" name="Enabled" id="Enabled"></label>
							</div>
						</div>
					</div>
					<div class="c-form c-form-host"style="width:780px;min-width:780px;padding-top:0px;" id="NTPServer" name="NTPServer">
						<div class="form">
							<div class="form-item form-item-100 " style="width:900px;font-size:16px;">
								<span class="form-tag"style="width:192px;" ><em class="imp">*</em>NTP服务器地址：</span>
								<div id="ip_n" name="ip_n" class="form-c"style="padding-left:10px;min-height:250px;overflow-y:auto;max-height:300px;width:560px;">
									<span class="ss ss-add">
										<input type="text" class="form-text" onkeyup="showMsg(this);">
										<i class="ctr ctr-add" onclick="_addIp(this)" style="margin-left: 5px;    margin-top: 9px;"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="c-form">
						<div class="btns">
							<a href="javascript:;" class="btn btn-normal"onclick="time_add();">确&nbsp;&nbsp;定</a>
							<a href="javascript:;" class="btn btn-normal" onclick="time_result();">取&nbsp;&nbsp;消</a> 
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<form action="/bhost/time_handle" method="POST" name="frm_time_add" id="frm_time_add">
	</form>


<script>
$('.form-checkbox,.form-radio').iCheck({
	checkboxClass: 'icheckbox_minimal-blue',
	radioClass: 'iradio_minimal-blue',
	increaseArea: '0' // optional
});
$('.form-select').select2({minimumResultsForSearch: -1});
$("input.datepicker").datepick();
</script>

<!--select2-->

<script>
</script>
<script>
var time={
	"TimeConfigId": 1,
    "Time": "2017-04-25 13:37:32",    
    "Enabled": true,
    "NTPServerIP": "192.168.0.43"
};
var ipReg=/(^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\.(25[0-4]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])$)/;
$(function(){
	parent._switchBtn(1);//显示按钮
//	$('#NTPServer').hide();  一直显示	
	//输入数字
	$("#t_h,#t_m,#t_s").bind('keydown', function(e){
		DigitInput(e);
	});
/*	//NTF服务器的显示隐藏（为"启用"复选框绑定的事件,现在不需要了）
	$('#Enabled').on("ifChecked",function(e){
		$('#NTPServer').show();
	});
	$("#Enabled").on("ifUnchecked",function(e){
		$('#NTPServer').hide();	
	});
*/
	//var tasktype=document.frm_time_add.tasktype.value;
	//if(tasktype=="2"){
		$.ajax({
			url: "/bhost/get_time_config",
			type:"POST",
			async:false,
			data:{se:$("input[name=se]").val()},
			success:function(result){
				var time_result = JSON.parse(result);
				if (time_result.Result==true){
					var time_data = time_result.info;
					time.TimeConfigId=time_data.TimeConfigId;
					time.Enabled=time_data.Enabled;
					time.NTPServerIP=time_data.NTPServerIP;
					if(time_data.Time==null){
						var now=new Date();
						var year=now.getFullYear();
						var month=("0" + (now.getMonth() + 1)).slice(-2);
						var date =("0" + now.getDate()).slice(-2);
						var hour=("0" + (now.getHours())).slice(-2);
						var second=("0" + (now.getSeconds())).slice(-2);
						var minute=("0" + (now.getMinutes())).slice(-2);
						$('#t_d').val(year+"-"+month+"-"+date);
						$('#t_h').val(hour);
						$('#t_m').val(minute);
						$('#t_s').val(second);
					}
					else{
						var time_str=time_data.Time.split(" ");
						$('#t_d').val(time_str[0]);
						var h_m_s=time_str[1].split(':');
						$('#t_h').val(h_m_s[0]);
						$('#t_m').val(h_m_s[1]);
						$('#t_s').val(h_m_s[2]);
					}
					
					//向页面中插入ip地址
					var time_data_ip = time_data.NTPServerIP.split(";");
					$.each(time_data_ip,function(i,item){
						var $c = $('<span class="ss" />');
						$c.html('<span>'+item+'</span><i class="ctr ctr-del" onclick="_delIp(this)"></i>');
						$("#ip_n").find("span[class='ss ss-add']").before($c);
					});
					
					//设置'启用'复选框
					if(time_data.Enabled){
						$('#Enabled').iCheck('check');
					//	$('#NTPServer').show();
					}else{
						$('#Enabled').iCheck('uncheck');
					//	$('#NTPServer').hide();
					}
				}
			}
		});
	//}
});
//检查格式
function dataCheck(obj, min, max){//min can not bigger than 1
	obj.value = obj.value.replace(/\D/g, "");
	if(min){
		if(parseInt(obj.value, 10) < parseInt(min, 10)) obj.value = min;
	}
	if(max){
		if(parseInt(obj.value, 10) > parseInt(max, 10)) obj.value = max;
	}
}
//修改时间
function uptate_time(){
	var t_d=$('#t_d').val();
	var t_h=$('#t_h').val();
	var t_m=$('#t_m').val();
	var t_s=$('#t_s').val();
	var Time=t_d+' '+t_h+':'+t_m+':'+t_s;
	//console.log(Time);
	time.Time=Time;
	save_time();
};
function save_time(){
	msstr = aceg(JSON.stringify(time),$("input[name=se]").val());
	$.ajax({
		url: '/bhost/add_timeconfig',
		type: "POST",
		async:false,
		data: {a0:$("input[name=se]").val(),a1:JSON.stringify(time),m1:msstr},
		success: function(result) {
			var result = JSON.parse(result);
			if(result.Result == true){
				$('.btn').blur();parent.layer.open({
					type:1,
					title: '时间设置',
					content: '<div class="layer-alert"><i class="alert succ"></i>操作成功</div>',
					btn:['确&nbsp;&nbsp;定'],
					btnAlign:'c',
					closeBtn: false,
					skin:'layer-custom',
					area:['380px','310px'],
					move: false,
					resize: false,
					yes:function(i){
						$('.btn').blur();parent.layer.close(i);
					}
				});	
			}else{
				_alert(1,'时间设置',result.ErrMsg);
				return false;
			}
		}
	});
};
//添加零
function add_zero(obj){
	obj.value = obj.value.replace(/\D/g, "");
	var v=obj.value.trim();
	if(v==""){
		v='00';
	}
	v=parseInt(v);
	if(v<=0){
		v='00';	
	}else if(v>=1 && v<=9){
		v='0'+v;
	}
	obj.value=v;
}
//删除服务器地址
function _delIp(obj){
	var $c = $(obj).parent();
	var v = $c.text();
	$('.btn').blur();parent.layer.open({
		type:1,
		title: '删除确认',
		content: '<div class="layer-alert"><i class="alert fail"></i>确认删除'+v+'?</div>',
		btn:['删&nbsp;&nbsp;除','取&nbsp;&nbsp;消'],
		btnAlign:'c',
		closeBtn: false,
		skin:'layer-custom',
		area:['380px','310px'],
		move: false,
		resize: false,
		yes:function(i){
			$c.fadeOut(function(){
				$c.remove();
			});
			$('.btn').blur();parent.layer.close(i);
		}
	});
}
//input回车触发事件
function showMsg(obj){
	var code = event.keyCode;
	if(code == 13){
		_addIp($(obj).next('i'));
	}
}
//加入服务器地址
function _addIp(obj){
	var pass =1;
	var v = $(obj).prev('input').val().trim();

	if(v==''){
		_alert(2,'时间设置','IP为空',$(obj).prev('input').val());
		$(obj).prev('input').val("");
		return false;
	}else if(!ipReg.test(v)){
		_alert(1,'时间设置','IP格式错误',$(obj).prev('input').val());
		//$(obj).prev('input').val("");
		return false;
	}else{
		$(">span[class='ss']","#ip_n").each(function(){
			ip_str=$(this).find("span").text();
			if (ip_str==v){
				_alert(1,'时间设置','IP重复',$(obj).prev('input').val());
				$(obj).prev('input').val("");
				pass=0;
				return false;
			}
		});
	}
	if(pass==1){
		var $c = $('<span class="ss" />');
		$c.html('<span>'+v+'</span><i class="ctr ctr-del" onclick="_delIp(this)"></i>');
		$(obj).parent().before($c);
		$(obj).prev('input').val("");
	}
}
//创建
function time_add(){
	//var pass =1;
	//console.log($('#Enabled').is(':checked'));
	var input_str=$("#ip_n").find("span[class='ss ss-add']").children("input").val();
	if($('#Enabled').is(':checked')){
		if(!ipReg.test(input_str) && input_str!=""){
			_alert(1,'时间设置','IP格式错误',$("#ip_n").find("span[class='ss ss-add']").children("input"));
			$("#ip_n").find("span[class='ss ss-add']").children("input").val("");
			return false;
		}else{
			var ip_check="";
			$(">span[class='ss']","#ip_n").each(function(){
				ip_str=$(this).find("span").text();
				ip_check=ip_check+ip_str;
				if (ip_str==input_str){
					_alert(1,'时间设置','IP重复',$("#ip_n").find("span[class='ss ss-add']").children("input"));
					$("#ip_n").find("span[class='ss ss-add']").children("input").val("");
					//console.log('1');
					return false;
				}
			});
			if (ip_check=="" && input_str==""){
				_alert(1,'时间设置',"IP不能为空",$("#ip_n").find("span[class='ss ss-add']").children("input"));
				return false;
			}
		}
	
	}
	
	//if(pass==1){
		var ip_str="";
		$(">span[class='ss']","#ip_n").each(function(){
			ip_str=ip_str+$(this).find("span").text()+";";
		});
		////console.log(ip_str);
		if(input_str!=""){
			ip_str=ip_str+input_str;
		}else{
			ip_str=ip_str.substr(0,ip_str.length-1)
		}
		if(ip_str==""){
			ip_str=null;
		}
		var t_d=$('#t_d').val();
		var t_h=$('#t_h').val();
		var t_m=$('#t_m').val();
		var t_s=$('#t_s').val();
		var Time=t_d+' '+t_h+':'+t_m+':'+t_s;
		//console.log(Time);
		time.Time=Time;
		//console.log($('#Enabled').is(':checked'));
		time.Enabled=$('#Enabled').is(':checked');
		time.NTPServerIP=ip_str;
		save_time();
	//}
}
//显示列表页面
function time_result(){
	window.parent._closePage(null); 
}
</script>
</body>
</html>
