{% extends 'index/base.html' %}
{% load staticfiles %}
{% block title %}虚拟机列表{% endblock title %}
{% block topfiles %}{% endblock topfiles %}
{% block menu %}
<div id="left" style="width:auto;float:left;">
        <ul id="nav">
              <li><a href="index">虚拟机</a></li>
              <li><a href="host">物理主机</a></li>
              <li><a class="active" href="template">模板</a></li>
              <li><a href="alltasks">任务</a></li>
        </ul>
</div>
{% endblock menu %}
{% block vmhost %}
    <div id="right" style="width:1100px;float:left;">
    {{ block.super }}
        <table id ="table"
                   data-toggle="table"
                   data-locale="zh-CN"
                   data-height="700"
                   data-toolbar=".toolbar"
                   data-search="true"
                   data-sortable="true"
                   data-show-refresh="true"
                   data-show-toggle="true"
                   data-show-columns="true"
                   data-show-export="true"
                   data-pagination="true"
                   data-page-size="50">
            <thead>
                <tr>
                    <th>序列</th>
                    <th>虚拟机名</th>
                    <th>是否模板</th>
                    <th>详情</th>
                    <th>操作</th>
                </tr>
            </thead>
            {% block tbodyh %}
                {{ block.super }}
            {% endblock tbodyh %}
                {% for vmname in vmlist  %}
                    {% if vmname.istemplate == 1 %}
                        <tr>
                            <td id="num"></td>
                            <td id="vmname">{{ vmname.vmname }}</td>
                            <td id="model">模板</td>
                            <td><button onclick="window.open('/vmdetail','_blank','top=100,left=200')">详情</button></td>
                            <td><button onclick="window.open('/vmdel','_blank','top=100,left=200')">删除</button></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% block tbodyd %}
                {{ block.super }}
            {% endblock tbodyd %}
        </table>
    </div>
{% endblock vmhost %}