<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ host }}</title>
<link rel="stylesheet" type="text/css" href="../../static/css/wmks-all.css" />
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/wmks.min.js"></script>
<!-- end CSS-->
</head>
<body>
<!-- Page bar -->
<div id="bar">
   <div id="buttonBar">
      <div class="buttonC">
         <button id="relativepad">
            切换相关触控板
         </button>
         <button id="keyboard" data-toggle="false"
            data-alt="请勿强制执行美式键盘布局">
            强制执行美式键盘布局
         </button>
         <button id="fullscreen">
            查看全屏
         </button>
         <button id="cad">
            发送 Ctrl+Alt+Delete
         </button>
      </div>
   </div>
</div>

<!-- WMKS container -->
<div id="container" style="position:absolute;width:100%;height:800px"></div>
<script>
$(function() {

   function showMessage(message) {
      container.html(message);
   }
   function getKeyboardLayout() {
      var locale = "zh_CN".
            replace("-", "_");
      switch (locale) {
         case "de": case "de_DE":
            return "de-DE";
         case "ja": case "ja_JP":
            return "ja-JP_106/109";
         case "it": case "it_IT":
            return "it-IT";
         case "es": case "es_ES":
            return "es-ES";
         case "pt": case "pt_PT":
            return "pt-PT";
         default:
            return "en-US";
      }
   }

   var bar = $("#bar");
   var cad = $("#cad");
   var container = $("#container");
   var fullscreen = $("#fullscreen");
   var keyboard = $("#keyboard");
   var relativepad = $("#relativepad");

   var wmks = WMKS.createWMKS("container", {
      keyboardLayoutId: getKeyboardLayout()
   });
   wmks.register(WMKS.CONST.Events.CONNECTION_STATE_CHANGE, function(evt, data) {
      switch (data.state) {
         case WMKS.CONST.ConnectionState.CONNECTING:
            console.log("The console is connecting");
            break;
         case WMKS.CONST.ConnectionState.CONNECTED:
            console.log("The console has been connected");
            break;
         case WMKS.CONST.ConnectionState.DISCONNECTED:
            console.log("The console has been disconnected");
            showMessage("控制台已断开连接。请关闭此窗口并重新启动控制台，以便重新连接。");
            break;
      }
   });
   wmks.register(WMKS.CONST.Events.ERROR, function(evt, data) {
      console.log("Error: " + data.errorType);
   });

   //wmks.register(WMKS.CONST.Events.REMOTE_SCREEN_SIZE_CHANGE, function(evt, data) {
   //   layout();
   //});

   cad.on("click", function() {
      wmks.sendCAD();
   });

   if (wmks.canFullScreen()) {
      fullscreen.on("click", function (evt) {
         wmks.enterFullScreen();
      });
   } else {
      fullscreen.hide();
   }
   keyboard.on("click", function (evt) {
      var fixANSIEquivalentKeys = keyboard.data("toggle");
      var label = keyboard.html();
      wmks.setOption("fixANSIEquivalentKeys", !fixANSIEquivalentKeys);
      keyboard.html(keyboard.data("alt"));
      keyboard.data("toggle", !fixANSIEquivalentKeys);
      keyboard.data("alt", label);
   });
   relativepad.on("click", function (evt) {
      wmks.toggleRelativePad();
   });
   wmks.connect("wss://{{ host }}:{{ port }}/ticket/{{ ticket }}");
});
</script>
</body>
</html>