{% extends 'ldaptemp/base.html' %}
{% load staticfiles %}
{% block topmenu %}
              <li id="navi"><a id="nava" href={% url 'vmware:index' %}>VMWare平台</a></li>
              <li id="navi"><a id="nava" class="active" href={% url 'ldapapi:index' %}>LDAP自助运维</a></li>
              <li id="navi"><a id="nava" href={% url 'kedamonitor:index' %}>监控平台自助运维</a></li>
              <li id="navi"><a id="nava" href={% url 'itomap:index' %}>OA自助运维</a></li>
{% endblock topmenu %}

{% block leftmenu %}
              <li><a href="index">账户管理</a></li>
              <li><a href="accountm">权限管理</a></li>
              <li><a class="active" href="orgm">组织管理</a></li>
              <li><a href="plicm">策略管理</a></li>
{% endblock leftmenu %}

{% block tablelist %}
    {#                   填充数据#}
{% endblock tablelist %}

{% block bootstrapcolums %}
    $table.bootstrapTable(
        {
            columns: [{
                    title: '序列',
                    field: '',
                    align: 'center',
                    width:5 ,
                    formatter: function (value, row, index) {
                        return index+1;
                    }
                },
                {
                    title: '服务器',
                },
                {
                    title: '服务'
                },
                {
                    title: '端口'
                },
                {
                    title: '帐号'
                },
                {
                    title: '密码'
                }
            ]

        }
    )
{% endblock bootstrapcolums %}
