{% extends 'itomaptemp/base.html' %}
{% load staticfiles %}
{% block title %}LDAP运维管理平台{% endblock title %}
{% block topfiles %}{% endblock topfiles %}
{% block topmenu %}
        <div>
        <ul id="navu" class="nav nav-pills">
              <li id="navi"><a id="nava" href={% url 'vmware:index' %}>VMWare平台</a></li>
              <li id="navi"><a id="nava" href={% url 'ldapapi:index' %}>LDAP自助运维</a></li>
              <li id="navi"><a id="nava" href={% url 'kedamonitor:index' %}>监控平台自助运维</a></li>
              <li id="navi"><a id="nava" class="active" href={% url 'itomap:index' %}>OA自助运维</a></li>
        </ul>
        </div>
{% endblock topmenu %}
{% block menu %}
<div id="left" style="width:auto;float:left;">
        <ul id="nav">
              <li><a class="active" href="index">堡垒机管理</a></li>
              <li><a href="accountm">权限管理</a></li>
              <li><a href="orgm">组织管理</a></li>
              <li><a href="plicm">策略管理</a></li>
        </ul>
</div>
{% endblock menu %}
{% block vmhost %}
    <div id="right" style="width:1100px;float:left;">
        {{ block.super }}
            <table id ="table"
                   data-toggle="table"
                   data-locale="zh-CN"
                   data-height="700"
                   data-toolbar=".toolbar"
                   data-search="true"
                   data-sortable="true"
                   data-show-refresh="true"
                   data-show-toggle="true"
                   data-show-columns="true"
                   data-show-export="true"
                   data-pagination="true"
                   data-page-size="50">
                <thead>
                    <tr>
                        <th data-sortable="true"></th>
                        <th data-sortable="true">服务器</th>
                        <th data-sortable="true">服务</th>
                        <th data-sortable="true"></th>
                        <th>帐号</th>
                        <th>密码</th>
                    </tr>
                </thead>
                {% block tbodyh %}
                    {{ block.super }}
                {% endblock tbodyh %}
                    {% for serlist in vmlist %}
                        {% if serlist.hpassword != '' and serlist.hpassword is not None %}
                            <tr>
                                <td id="num"></td>
                                <td id="vmname">{{ serlist.hname }}</td>
                                <td id="model">{{ serlist.hsname }}</td>
                                <td id="vmstatus">{{ serlist.hport }}</td>
                                <td>{{ serlist.haccount }}</td>
                                <td>{{ serlist.hpassword }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% block tbodyd %}
                    {{ block.super }}
                {% endblock tbodyd %}
            </table>
    </div>
    <script>
    var $table = $('#table')
    $table.bootstrapTable(
        {
            columns: [{
                    title: '序列',
                    field: '',
                    align: 'center',
                    width:5 ,
                    formatter: function (value, row, index) {
                        return index+1;
                    }
                },
                {
                    title: '服务器',
                },
                {
                    title: '服务'
                },
                {
                    title: '端口'
                },
                {
                    title: '帐号'
                },
                {
                    title: '密码'
                }
            ]

        }
    )
    </script>
{% endblock vmhost %}
