@charset "utf-8";
/* CSS Document */
body,div,p,a{ margin:0;padding:0;}
body{background:#fff;}
.found{ background:url(404.jpg) 0 0 no-repeat; width:520px; height:250px; position:absolute; top:50%; left:50%; margin-top:-200px; margin-left:-250px;}
.ss{ background:url(404.jpg) 0 0 no-repeat;}
.wu{ background:url(500.jpg) 0 0 no-repeat; }
.se{ background:url(402.jpg) 0 0 no-repeat; }
.jz{ background:url(403.jpg) 0 0 no-repeat; }
.found p{ margin-top:190px; margin-left:145px;}
.found p a.fh{ background:url(httpfh.jpg) 0 3px no-repeat; padding-left:20px;height:19px; display:inline-block}
.found p a{ color:#a9a9a9; font-size:13px; margin-right:20px;}
.found p a:hover{ color:#F00; cursor:pointer}