<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}监控平台自助运维{% endblock title %}</title>
    <link rel="stylesheet" href={% static 'css/index.css' %}>
    <link rel="stylesheet" href={% static 'css/loaddata.css' %}>
    <link rel="stylesheet" href={% static 'bootstrap/css/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'bootstrap-table/bootstrap-table.css' %}>
    <script type="text/javascript" src={% static 'js/jquery-1.12.4.min.js' %}></script>
    <script type="text/javascript" src={% static 'bootstrap/js/bootstrap.js' %}></script>
    <script type="text/javascript" src={% static 'bootstrap-table/bootstrap-table.js' %}></script>
    <script type="text/javascript" src={% static 'bootstrap-table/bootstrap-table-locale-all.js' %}></script>
    <script type="text/javascript" src={% static 'bootstrap-table/locale/bootstrap-table-zh-CN.js' %}></script>
    <script type="text/javascript" src={% static 'bootstrap-table/extensions/export/bootstrap-table-export.min.js' %}></script>
    <script type="text/javascript" src={% static 'tableExport/tableExport.min.js' %}></script>
    <script type="text/javascript" src={% static 'js/progress.js' %}></script>

<script language="JavaScript" type="text/javascript">
document.write('<div id="loader_container">' +
    '<div id="loader">' +
    '<div align="center">数据加载中,请稍等</div>' +
    '<div id="loader_bg">' +
    '<img src="{% static 'img/ReportServer.gif' %}">' +
    '</div>' +
    '</div>' +
    '</div>');
</script>
</head>
<body onload="remove_loading()">
    <div id="main" style="width:auto;">
        <div id="top" style="width:auto;float:top;">
            <a class="navigatorButton" href={% url 'adminop:index' %}>权限管理</a>
            <a>登录用户：</a><a>{{ username }}</a>&nbsp;&nbsp;
            <a class="navigatorButton" href="logout">退出登录</a>
            <div>
                <ul id="navu" class="nav nav-pills">
                    {% block topmenu %}
                    {% endblock topmenu %}
                </ul>
            </div>
        </div>

        <div id="left" style="width:auto;float:left;">
                <ul id="nav">
                    {% block leftmenu %}
                    {% endblock leftmenu %}
                </ul>
        </div>

        <div id="right" style="width:1100px;float:left;">
            {% block frame %}
            {% endblock frame %}
        </div>
    </div>
</body>
</html>
