{% extends 'kedamontemp/base.html' %}
{% load staticfiles %}
{% block topmenu %}
              <li id="navi"><a id="nava" href={% url 'vmware:index' %}>VMWare平台</a></li>
              <li id="navi"><a id="nava" href={% url 'ldapapi:index' %}>LDAP自助运维</a></li>
              <li id="navi"><a id="nava" class="active" href={% url 'kedamonitor:index' %}>监控平台自助运维</a></li>
              <li id="navi"><a id="nava" href={% url 'itomap:index' %}>OA自助运维</a></li>
{% endblock topmenu %}

{% block leftmenu %}
              <li><a href="index">告警通知</a></li>
              <li><a href="accountm">权限管理</a></li>
              <li><a class="active" href="orgm">组织管理</a></li>
              <li><a href="plicm">策略管理</a></li>
{% endblock leftmenu %}
{% block frame %}
    <iframe name="topFrame" scrolling="no" frameborder="0" src="getalerts" height="680" width="100%">
    </iframe>
{% endblock frame %}
