{% extends 'adminop/base.html' %}
{% block list %}
              <li><a href="adminop">权限列表</a></li>
              <li><a href="userlist">用户列表</a></li>
              <li><a class="active" href="modelist">模块列表</a></li>
{% endblock list %}

{% block tablelist %}
                {% for model in modellist %}
                            <tr>
                                <td id="num"></td>
                                <td id="vmname">{{ model.modelname }}</td>
                            </tr>
                {% endfor %}
{% endblock tablelist %}

{% block bootstrapcolums %}
    $table.bootstrapTable(
        {
            columns: [
                {
                    title: '序列',
                    field: '',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return index+1;
                    }
                },
                {
                    title: '模块名',
                },
                ]
        }
    )
{% endblock bootstrapcolums %}