{% extends 'adminop/base.html' %}
{% block list %}
              <li><a href="adminop">权限列表</a></li>
              <li><a class="active" href="userlist">用户列表</a></li>
              <li><a href="modelist">模块列表</a></li>
{% endblock list %}

{% block tablelist %}
                {% for userinfo in userlist %}
                    {% if userinfo.username != 'admin' %}
                            <tr>
                                <td id="num"></td>
                                <td id="vmname">{{ userinfo.username }}</td>
                                <td id="model">{{ userinfo.password }}</td>
                            </tr>
                    {% endif %}
                {% endfor %}
{% endblock tablelist %}

{% block bootstrapcolums %}
    $table.bootstrapTable(
        {
            columns: [
                {
                    title: '序列',
                    field: '',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return index+1;
                    }
                },
                {
                    title: '用户',
                },
                {
                    title: '密码',
                    width:500
                },
                ]
        }
    )
{% endblock bootstrapcolums %}